Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

Ignore host xattrs for local filesync import identity (#13389)
  engine/client/filesync.go
  engine/filesync/hash.go
  engine/filesync/localfs.go
  util/layercopy/dest_linux.go
  util/layercopy/types.go
Owners: none

Restructure design doc: decision context + discrete changes
  future/cli-1.0.md
Owners: none

fix(sdk/typescript): surface exec errors correctly on the bun runtime
  core/integration/module_typescript_test.go
  sdk/typescript/src/common/graphql/client.ts
  sdk/typescript/src/common/utils.ts
Owners: @dagger/sdk-typescript

Drift fixes: tighten Solution, Flag rename intro, opening verb; uniform subcommand blocks
  future/cli-1.0.md
Owners: none

Rename --mod/-m to --load-module/-m
  cmd/dagger/cloud_test.go
  cmd/dagger/module.go
  cmd/dagger/shell.go
  cmd/dagger/workspace_test.go
  core/integration/module_call_test.go
  core/integration/workspace_modules_test.go
  docs/current_docs/reference/cli/index.mdx
Owners: @dagger/docs

Rename --mod/-m to --load-module/-m
  cmd/dagger/cloud_test.go
  cmd/dagger/module.go
  cmd/dagger/shell.go
  cmd/dagger/workspace_test.go
  core/integration/module_call_test.go
  core/integration/workspace_modules_test.go
  docs/current_docs/reference/cli/index.mdx
Owners: @dagger/docs

CLI 1.0 phase 1: hoist hot path, kill dagger mod
  cmd/dagger/checks.go
  cmd/dagger/generators.go
  cmd/dagger/main.go
  cmd/dagger/mod.go
  cmd/dagger/mod_test.go
  cmd/dagger/module.go
  cmd/dagger/settings.go
  cmd/dagger/up.go
  cmd/dagger/workspace.go
  cmd/dagger/workspace_test.go
  docs/current_docs/adopting/scaling/kubernetes.mdx
  docs/current_docs/adopting/workspace-setup.mdx
  docs/current_docs/extending/index.mdx
  docs/current_docs/extending/sdks/dang.mdx
  docs/current_docs/extending/sdks/go.mdx
  docs/current_docs/extending/sdks/python.mdx
  docs/current_docs/extending/sdks/typescript.mdx
  docs/current_docs/getting-started/quickstart.mdx
  docs/current_docs/index.mdx
  docs/current_docs/modules/biomejs.mdx
  docs/current_docs/modules/eslint.mdx
  docs/current_docs/modules/go.mdx
  docs/current_docs/modules/helm.mdx
  docs/current_docs/modules/index.mdx
  docs/current_docs/modules/jest.mdx
  docs/current_docs/modules/prettier.mdx
  docs/current_docs/modules/psscriptanalyzer.mdx
  docs/current_docs/modules/pytest.mdx
  docs/current_docs/modules/shellcheck.mdx
  docs/current_docs/modules/vitest.mdx
  docs/current_docs/reference/cli/index.mdx
  docs/current_docs/reference/configuration/modules.mdx
  docs/current_docs/reference/configuration/workspace.mdx
  docs/current_docs/reference/upgrade-to-workspaces.mdx
Owners: @dagger/docs

cmd/dagger: scope typedefs introspection to the targeted module
  cmd/dagger/call.go
  cmd/dagger/functions.go
  cmd/dagger/module_inspect.go
  cmd/dagger/typedefs.graphql
Owners: none

dagql: peek workspace selector include patterns
  dagql/request_peek.go
  dagql/request_peek_test.go
Owners: none

engine/server: narrow module loading for dagger call/functions
  engine/server/session.go
Owners: none

engine/server: narrow workspace module loading for generate/check/up
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

chore: generate
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Client.html
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Client.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

core/schema: add currentTypeDefs include load hint
  core/schema/module.go
Owners: none

dagql: peek currentTypeDefs include patterns
  dagql/request_peek.go
  dagql/request_peek_test.go
Owners: none

core/integration: cover generate/check/up module-loading narrowing
  core/integration/generators_test.go
  core/integration/testdata/workspaces/generators-broken/.dagger/modules/bad/dagger.json
  core/integration/testdata/workspaces/generators-broken/.dagger/modules/bad/main.dang
  core/integration/testdata/workspaces/generators-broken/.dagger/modules/good/dagger.json
  core/integration/testdata/workspaces/generators-broken/.dagger/modules/good/main.dang
  core/integration/testdata/workspaces/generators-broken/dagger.toml
Owners: none

core/integration: cover dagger call/functions module-loading narrowing
  core/integration/generators_test.go
  core/integration/testdata/workspaces/generators-broken/.dagger/modules/good/main.dang
Owners: none

fix(sdk/rust): parse responses past serde_json's 128-level recursion limit
  sdk/rust/Cargo.lock
  sdk/rust/Cargo.toml
  sdk/rust/crates/dagger-sdk/Cargo.toml
  sdk/rust/crates/dagger-sdk/src/core/gql_client.rs
  sdk/rust/crates/dagger-sdk/src/querybuilder.rs
  sdk/rust/crates/dagger-sdk/tests/mod.rs
Owners: @dagger/sdk-rust

Design: SDK module interface for dagger module init / sdk
  future/cli-1.0.md
Owners: none

CLI 1.0 phase 2a: dissolve function group, move call/list under api
  cmd/dagger/api.go
  cmd/dagger/call.go
  cmd/dagger/main.go
  cmd/dagger/module.go
  cmd/dagger/workspace_test.go
Owners: none

fix(sdk/typescript): surface exec errors correctly on the bun runtime (#13395)
  core/integration/module_typescript_test.go
  sdk/typescript/src/common/graphql/client.ts
  sdk/typescript/src/common/utils.ts
Owners: @dagger/sdk-typescript

fix(core): keep final type names in Query rebuild
  core/schema/coremod.go
  core/typedef_results.go
Owners: none

fix(core): preserve final type names when rebuilding typedefs
  core/enum.go
  core/gqlformat_test.go
  core/interface.go
  core/object.go
  core/typedef.go
  core/typedef_results.go
Owners: none

feat(core): unify self-calls enablement check
  core/module.go
  core/modulesource.go
  core/schema/modulesource.go
  core/sdk/dang_sdk.go
Owners: none

fix(dang): map local type names to schema names
  core/gqlformat.go
  core/sdk/dang/v2/helpers.go
Owners: none

test(dang): cover cross-dep interface dispatch
  core/integration/module_dang_test.go
  core/integration/testdata/modules/dang/test-interface/main.dang
Owners: none

fix(core): persist SDK self-call capability
  core/modulesource.go
  core/modulesource_test.go
Owners: none

ununderscore
  core/integration/testdata/modules/dang/test-interface/main.dang
Owners: none

test(dang): use local init helpers
  core/integration/module_dang_test.go
Owners: none

persist trivial core objects (#13387)
  core/address.go
  core/directory.go
  core/envfile.go
  core/error.go
  core/jsonvalue.go
  core/llm.go
Owners: none

core: mark scalar typedef rename as speculative
  core/integration/module_dang_test.go
  core/integration/testdata/modules/dang/test-scalar-ns/dagger.json
  core/integration/testdata/modules/dang/test-scalar-ns/main.dang
  core/typedef_results.go
Owners: none

test(dang): switch to fixture for cross-dep test
  core/integration/module_dang_test.go
  core/integration/testdata/modules/dang/test-interface/cross-dep/dagger.json
  core/integration/testdata/modules/dang/test-interface/cross-dep/main.dang
  core/integration/testdata/modules/dang/test-interface/cross-dep/moduleA/dagger.json
  core/integration/testdata/modules/dang/test-interface/cross-dep/moduleA/main.dang
  core/integration/testdata/modules/dang/test-interface/cross-dep/moduleB/dagger.json
  core/integration/testdata/modules/dang/test-interface/cross-dep/moduleB/main.dang
Owners: none

docs(dang): fix namespaced-name examples in comments
  core/sdk/dang/v2/helpers.go
Owners: none

fix(core): preserve final type names for scalars too
  core/integration/module_dang_test.go
  core/integration/testdata/modules/dang/test-scalar-ns/dagger.json
  core/integration/testdata/modules/dang/test-scalar-ns/main.dang
  core/schema/module.go
  core/typedef.go
  core/typedef_results.go
Owners: none

Ignore host xattrs for local filesync import identity (#13389)
  engine/client/filesync.go
  engine/filesync/hash.go
  engine/filesync/localfs.go
  util/layercopy/dest_linux.go
  util/layercopy/types.go
Owners: none

fix(sdk/typescript): surface exec errors correctly on the bun runtime (#13395)
  core/integration/module_typescript_test.go
  sdk/typescript/src/common/graphql/client.ts
  sdk/typescript/src/common/utils.ts
Owners: @dagger/sdk-typescript

dang: support v1 and v2, routed by module engineVersion (#13388)
  core/integration/module_dang_test.go
  core/integration/testdata/modules/dang/dot-block/dagger.json
  core/integration/testdata/modules/dang/dot-block/main.dang
  core/integration/testdata/modules/dang/legacy-selection/dagger.json
  core/integration/testdata/modules/dang/legacy-selection/main.dang
  core/integration/testdata/modules/dang/test-directives/dagger.json
  core/integration/testdata/modules/dang/test-enum/dagger.json
  core/integration/testdata/modules/dang/test-interface/dagger.json
  core/integration/testdata/modules/dang/test-interface/dep/dagger.json
  core/integration/testdata/modules/dang/test-mismatch/dagger.json
  core/integration/testdata/modules/dang/test-private-arg/dagger.json
  core/integration/testdata/modules/dang/test-shadowing/dagger.json
  core/integration/testdata/services/hello-with-services-dang/dagger.json
  core/sdk/dang/README.md
  core/sdk/dang/shared/shared.go
  core/sdk/dang/v1/helpers.go
  core/sdk/dang/v1/sdk.go
  core/sdk/dang/v2/helpers.go
  core/sdk/dang/v2/sdk.go
  core/sdk/dang_sdk.go
  engine/version.go
  go.mod
  go.sum
Owners: none

dang: marshal call values via a converter struct
  core/sdk/dang/v2/helpers.go
Owners: none

dang: drop unreachable module-identity guard
  core/sdk/dang/v2/helpers.go
Owners: none

fix(dang): correct namespaced type-name mangling; cross-dependency interface dispatch (#13377)
  core/enum.go
  core/gqlformat.go
  core/gqlformat_test.go
  core/integration/module_dang_test.go
  core/integration/testdata/modules/dang/test-interface/cross-dep/dagger.json
  core/integration/testdata/modules/dang/test-interface/cross-dep/main.dang
  core/integration/testdata/modules/dang/test-interface/cross-dep/moduleA/dagger.json
  core/integration/testdata/modules/dang/test-interface/cross-dep/moduleA/main.dang
  core/integration/testdata/modules/dang/test-interface/cross-dep/moduleB/dagger.json
  core/integration/testdata/modules/dang/test-interface/cross-dep/moduleB/main.dang
  core/interface.go
  core/module.go
  core/modulesource.go
  core/modulesource_test.go
  core/object.go
  core/schema/coremod.go
  core/schema/module.go
  core/schema/modulesource.go
  core/sdk/dang/v2/helpers.go
  core/sdk/dang_sdk.go
  core/typedef.go
  core/typedef_results.go
Owners: none

fix(dang): correct namespaced type-name mangling; cross-dependency interface dispatch (#13377)
  core/enum.go
  core/gqlformat.go
  core/gqlformat_test.go
  core/integration/module_dang_test.go
  core/integration/testdata/modules/dang/test-interface/cross-dep/dagger.json
  core/integration/testdata/modules/dang/test-interface/cross-dep/main.dang
  core/integration/testdata/modules/dang/test-interface/cross-dep/moduleA/dagger.json
  core/integration/testdata/modules/dang/test-interface/cross-dep/moduleA/main.dang
  core/integration/testdata/modules/dang/test-interface/cross-dep/moduleB/dagger.json
  core/integration/testdata/modules/dang/test-interface/cross-dep/moduleB/main.dang
  core/interface.go
  core/module.go
  core/modulesource.go
  core/modulesource_test.go
  core/object.go
  core/schema/coremod.go
  core/schema/module.go
  core/schema/modulesource.go
  core/sdk/dang/v2/helpers.go
  core/sdk/dang_sdk.go
  core/typedef.go
  core/typedef_results.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
