Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

modules/go: use parallel
  modules/go/dagger.json
  modules/go/go.mod
  modules/go/go.sum
  modules/go/main.go
Owners: none

rename check
  .dagger/checks.go
Owners: none

lint
  .dagger/main.go
Owners: none

lint
  modules/go/main.go
Owners: none

more readable traces on check-lint-go. code cleanup
  .dagger/checks.go
  .dagger/main.go
  .dagger/sdk.go
Owners: none

fix typo in github actions config generator
  .github/main.go
  .github/workflows/dev-engine.gen.yml
Owners: none

generate: more readable traces (would not be needed with different UI defaults)
  .dagger/main.go
Owners: none

✨ Expose deps and gen ctx dir via current module
  core/integration/module_test.go
  core/schema/module.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/CurrentModule.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/current_module.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/CurrentModule.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

fix callee ref parsing when using git@... refs
  core/telemetry.go
  dagql/idtui/golden_test.go
  dagql/idtui/viztest/dagger.json
  dagql/idtui/viztest/go.mod
  dagql/idtui/viztest/go.sum
  dagql/idtui/viztest/main.go
Owners: none

adding SSH agent step so dagger can initialize git repos over SSH
  .github/workflows/daggerverse-preview.gen.yml
  .github/workflows/dev-engine.gen.yml
  .github/workflows/docs.gen.yml
  .github/workflows/engine-cli.gen.yml
  .github/workflows/evals.gen.yml
  .github/workflows/github.gen.yml
  .github/workflows/helm.gen.yml
  .github/workflows/sdks.gen.yml
  modules/gha/steps.go
  modules/gha/workflow.go
Owners: none

feat(ts-sdk): deprecated enum members + fixture regeneration
  sdk/typescript/src/module/entrypoint/register.ts
  sdk/typescript/src/module/introspector/dagger_module/enum.ts
  sdk/typescript/src/module/introspector/dagger_module/enumBase.ts
  sdk/typescript/src/module/introspector/test/testdata/deprecatedEnum/expected.json
  sdk/typescript/src/module/introspector/test/testdata/deprecatedEnum/index.ts
  sdk/typescript/src/module/introspector/test/testdata/references/expected.json
Owners: @dagger/sdk-typescript

regenerate fixtures
  sdk/typescript/src/module/introspector/test/testdata/alias/expected.json
  sdk/typescript/src/module/introspector/test/testdata/constructor/expected.json
  sdk/typescript/src/module/introspector/test/testdata/context/expected.json
  sdk/typescript/src/module/introspector/test/testdata/coreEnums/expected.json
  sdk/typescript/src/module/introspector/test/testdata/deprecatedObject/expected.json
  sdk/typescript/src/module/introspector/test/testdata/enums/expected.json
  sdk/typescript/src/module/introspector/test/testdata/helloWorld/expected.json
  sdk/typescript/src/module/introspector/test/testdata/interface/expected.json
  sdk/typescript/src/module/introspector/test/testdata/list/expected.json
  sdk/typescript/src/module/introspector/test/testdata/minimal/expected.json
  sdk/typescript/src/module/introspector/test/testdata/multiArgs/expected.json
  sdk/typescript/src/module/introspector/test/testdata/multipleObjects/expected.json
  sdk/typescript/src/module/introspector/test/testdata/multipleObjectsAsFields/expected.json
  sdk/typescript/src/module/introspector/test/testdata/objectParam/expected.json
  sdk/typescript/src/module/introspector/test/testdata/optionalParameter/expected.json
  sdk/typescript/src/module/introspector/test/testdata/privateMethod/expected.json
  sdk/typescript/src/module/introspector/test/testdata/references/expected.json
  sdk/typescript/src/module/introspector/test/testdata/scalar/expected.json
  sdk/typescript/src/module/introspector/test/testdata/state/expected.json
  sdk/typescript/src/module/introspector/test/testdata/variadic/expected.json
  sdk/typescript/src/module/introspector/test/testdata/voidReturn/expected.json
Owners: @dagger/sdk-typescript

chore: regenerate client.gen.ts
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/sdk-typescript

feat: add support to enum values / members and fields
  core/schema/coremod.go
  core/schema/module.go
  core/typedef.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

feat: add typescript example to integration test [no ci]
  core/integration/module_test.go
  sdk/typescript/src/module/introspector/dagger_module/enumClass.ts
Owners: @dagger/sdk-typescript

feat(ts-sdk): deprecated functionArguments
  sdk/typescript/src/module/entrypoint/register.ts
  sdk/typescript/src/module/introspector/dagger_module/argument.ts
  sdk/typescript/src/module/introspector/test/scan.spec.ts
  sdk/typescript/src/module/introspector/test/testdata/deprecatedArgument/expected.json
  sdk/typescript/src/module/introspector/test/testdata/deprecatedArgument/index.ts
Owners: @dagger/sdk-typescript

chore: regenerate the fixture's expected.json
  sdk/typescript/src/module/introspector/test/testdata/alias/expected.json
  sdk/typescript/src/module/introspector/test/testdata/constructor/expected.json
  sdk/typescript/src/module/introspector/test/testdata/context/expected.json
  sdk/typescript/src/module/introspector/test/testdata/coreEnums/expected.json
  sdk/typescript/src/module/introspector/test/testdata/deprecatedObject/expected.json
  sdk/typescript/src/module/introspector/test/testdata/enums/expected.json
  sdk/typescript/src/module/introspector/test/testdata/helloWorld/expected.json
  sdk/typescript/src/module/introspector/test/testdata/interface/expected.json
  sdk/typescript/src/module/introspector/test/testdata/invalid/expected.json
  sdk/typescript/src/module/introspector/test/testdata/list/expected.json
  sdk/typescript/src/module/introspector/test/testdata/minimal/expected.json
  sdk/typescript/src/module/introspector/test/testdata/multiArgs/expected.json
  sdk/typescript/src/module/introspector/test/testdata/multipleObjects/expected.json
  sdk/typescript/src/module/introspector/test/testdata/multipleObjectsAsFields/expected.json
  sdk/typescript/src/module/introspector/test/testdata/objectParam/expected.json
  sdk/typescript/src/module/introspector/test/testdata/optionalParameter/expected.json
  sdk/typescript/src/module/introspector/test/testdata/privateMethod/expected.json
  sdk/typescript/src/module/introspector/test/testdata/references/expected.json
  sdk/typescript/src/module/introspector/test/testdata/scalar/expected.json
  sdk/typescript/src/module/introspector/test/testdata/state/expected.json
  sdk/typescript/src/module/introspector/test/testdata/variadic/expected.json
  sdk/typescript/src/module/introspector/test/testdata/voidReturn/expected.json
Owners: @dagger/sdk-typescript

chore: nit
  cmd/codegen/generator/go/templates/module_funcs.go
  cmd/codegen/generator/go/templates/module_objects.go
Owners: none

feat(ts-sdk): deprecated fields (class / obj / alias types)
  sdk/typescript/src/module/entrypoint/register.ts
  sdk/typescript/src/module/introspector/dagger_module/objectBase.ts
  sdk/typescript/src/module/introspector/dagger_module/property.ts
  sdk/typescript/src/module/introspector/dagger_module/typeObjectProperty.ts
  sdk/typescript/src/module/introspector/test/scan.spec.ts
  sdk/typescript/src/module/introspector/test/testdata/deprecatedField/expected.json
  sdk/typescript/src/module/introspector/test/testdata/deprecatedField/index.ts
Owners: @dagger/sdk-typescript

feat: add integration test
  core/integration/module_test.go
Owners: none

feat: properly parse enum members
  cmd/codegen/generator/go/templates/module_enums.go
Owners: none

feat: manually apply the deprecated directive on enums + have the go sdk generate the deprecated comment
  cmd/codegen/generator/go/templates/src/_types/enum.go.tmpl
  core/typedef.go
Owners: none

feat: register object and objectType
  sdk/typescript/src/module/entrypoint/register.ts
  sdk/typescript/src/module/introspector/dagger_module/object.ts
  sdk/typescript/src/module/introspector/dagger_module/objectBase.ts
  sdk/typescript/src/module/introspector/dagger_module/typeObject.ts
  sdk/typescript/src/module/introspector/test/scan.spec.ts
  sdk/typescript/src/module/introspector/test/testdata/deprecatedObject/expected.json
  sdk/typescript/src/module/introspector/test/testdata/deprecatedObject/index.ts
Owners: @dagger/sdk-typescript

chore: regenerate fixtures
  sdk/typescript/src/module/introspector/test/testdata/alias/expected.json
  sdk/typescript/src/module/introspector/test/testdata/constructor/expected.json
  sdk/typescript/src/module/introspector/test/testdata/deprecatedObject/expected.json
  sdk/typescript/src/module/introspector/test/testdata/enums/expected.json
  sdk/typescript/src/module/introspector/test/testdata/list/expected.json
  sdk/typescript/src/module/introspector/test/testdata/minimal/expected.json
  sdk/typescript/src/module/introspector/test/testdata/multipleObjectsAsFields/expected.json
  sdk/typescript/src/module/introspector/test/testdata/objectParam/expected.json
  sdk/typescript/src/module/introspector/test/testdata/references/expected.json
  sdk/typescript/src/module/introspector/test/testdata/state/expected.json
Owners: @dagger/sdk-typescript

feat: add deprecated pragma to functions and function arguments
  cmd/codegen/generator/go/templates/module_funcs.go
  cmd/codegen/introspection/introspection.go
  core/schema/coremod.go
  core/schema/module.go
  core/typedef.go
Owners: none

feat: add deprecated field to object field + Go SDK codegen
  cmd/codegen/generator/go/templates/module_objects.go
  core/object.go
  core/schema/module.go
  core/typedef.go
Owners: none

regernerate fixtures
  sdk/typescript/src/module/introspector/test/testdata/alias/expected.json
  sdk/typescript/src/module/introspector/test/testdata/constructor/expected.json
  sdk/typescript/src/module/introspector/test/testdata/context/expected.json
  sdk/typescript/src/module/introspector/test/testdata/coreEnums/expected.json
  sdk/typescript/src/module/introspector/test/testdata/enums/expected.json
  sdk/typescript/src/module/introspector/test/testdata/helloWorld/expected.json
  sdk/typescript/src/module/introspector/test/testdata/interface/expected.json
  sdk/typescript/src/module/introspector/test/testdata/list/expected.json
  sdk/typescript/src/module/introspector/test/testdata/minimal/expected.json
  sdk/typescript/src/module/introspector/test/testdata/multiArgs/expected.json
  sdk/typescript/src/module/introspector/test/testdata/multipleObjects/expected.json
  sdk/typescript/src/module/introspector/test/testdata/objectParam/expected.json
  sdk/typescript/src/module/introspector/test/testdata/optionalParameter/expected.json
  sdk/typescript/src/module/introspector/test/testdata/privateMethod/expected.json
  sdk/typescript/src/module/introspector/test/testdata/references/expected.json
  sdk/typescript/src/module/introspector/test/testdata/scalar/expected.json
  sdk/typescript/src/module/introspector/test/testdata/state/expected.json
  sdk/typescript/src/module/introspector/test/testdata/variadic/expected.json
  sdk/typescript/src/module/introspector/test/testdata/voidReturn/expected.json
Owners: @dagger/sdk-typescript

feat(ts-sdk): add AST helper returning symbol docs
  sdk/typescript/src/module/introspector/typescript_module/ast.ts
Owners: @dagger/sdk-typescript

feat: add deprecated pragma on types
  core/object.go
  core/schema/module.go
  core/schema/modulesource.go
  core/typedef.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

deprecate functions
  sdk/typescript/src/module/entrypoint/register.ts
  sdk/typescript/src/module/introspector/dagger_module/function.ts
  sdk/typescript/src/module/introspector/dagger_module/interfaceFunction.ts
  sdk/typescript/src/module/introspector/test/scan.spec.ts
  sdk/typescript/src/module/introspector/test/testdata/deprecatedFunction/expected.json
  sdk/typescript/src/module/introspector/test/testdata/deprecatedFunction/index.ts
Owners: @dagger/sdk-typescript

sdk(python): support deprecated object types
  sdk/python/src/dagger/client/gen.py
  sdk/python/src/dagger/mod/_module.py
  sdk/python/src/dagger/mod/_resolver.py
  sdk/python/tests/mod/test_registration.py
Owners: @dagger/sdk-python

ts(fixtures): regenerate the fixtures, following the changes
  sdk/typescript/src/module/introspector/test/testdata/alias/expected.json
  sdk/typescript/src/module/introspector/test/testdata/constructor/expected.json
  sdk/typescript/src/module/introspector/test/testdata/context/expected.json
  sdk/typescript/src/module/introspector/test/testdata/coreEnums/expected.json
  sdk/typescript/src/module/introspector/test/testdata/deprecatedArgument/expected.json
  sdk/typescript/src/module/introspector/test/testdata/deprecatedEnum/expected.json
  sdk/typescript/src/module/introspector/test/testdata/deprecatedField/expected.json
  sdk/typescript/src/module/introspector/test/testdata/deprecatedFunction/expected.json
  sdk/typescript/src/module/introspector/test/testdata/deprecatedFunction/index.ts
  sdk/typescript/src/module/introspector/test/testdata/deprecatedObject/expected.json
  sdk/typescript/src/module/introspector/test/testdata/enums/expected.json
  sdk/typescript/src/module/introspector/test/testdata/helloWorld/expected.json
  sdk/typescript/src/module/introspector/test/testdata/interface/expected.json
  sdk/typescript/src/module/introspector/test/testdata/legacyEnumDecorator/expected.json
  sdk/typescript/src/module/introspector/test/testdata/list/expected.json
  sdk/typescript/src/module/introspector/test/testdata/minimal/expected.json
  sdk/typescript/src/module/introspector/test/testdata/multiArgs/expected.json
  sdk/typescript/src/module/introspector/test/testdata/multipleObjects/expected.json
  sdk/typescript/src/module/introspector/test/testdata/multipleObjectsAsFields/expected.json
  sdk/typescript/src/module/introspector/test/testdata/objectParam/expected.json
  sdk/typescript/src/module/introspector/test/testdata/optionalParameter/expected.json
  sdk/typescript/src/module/introspector/test/testdata/privateMethod/expected.json
  sdk/typescript/src/module/introspector/test/testdata/references/expected.json
  sdk/typescript/src/module/introspector/test/testdata/scalar/expected.json
  sdk/typescript/src/module/introspector/test/testdata/state/expected.json
  sdk/typescript/src/module/introspector/test/testdata/variadic/expected.json
  sdk/typescript/src/module/introspector/test/testdata/voidReturn/expected.json
Owners: @dagger/sdk-typescript

dagql(codegen): propagate nullable deprecation reasons
  cmd/codegen/introspection/introspection.go
  core/object.go
  core/schema/module.go
  core/schema/modulesource.go
  core/schema/query.go
  core/typedef.go
  dagql/directives.go
  dagql/objects.go
Owners: none

sdk(python): support deprecated arguments
  sdk/python/src/dagger/mod/__init__.py
  sdk/python/src/dagger/mod/_arguments.py
  sdk/python/src/dagger/mod/_module.py
  sdk/python/src/dagger/mod/_resolver.py
  sdk/python/src/dagger/mod/_utils.py
  sdk/python/tests/mod/test_registration.py
Owners: @dagger/sdk-python

ts(introspector): drop empty deprecation tags when scanning decorators
  sdk/typescript/src/api/client.gen.ts
  sdk/typescript/src/module/entrypoint/register.ts
  sdk/typescript/src/module/introspector/dagger_module/argument.ts
  sdk/typescript/src/module/introspector/dagger_module/enum.ts
  sdk/typescript/src/module/introspector/dagger_module/enumBase.ts
  sdk/typescript/src/module/introspector/dagger_module/enumClass.ts
  sdk/typescript/src/module/introspector/dagger_module/function.ts
  sdk/typescript/src/module/introspector/dagger_module/interfaceFunction.ts
  sdk/typescript/src/module/introspector/dagger_module/object.ts
  sdk/typescript/src/module/introspector/dagger_module/objectBase.ts
  sdk/typescript/src/module/introspector/dagger_module/property.ts
  sdk/typescript/src/module/introspector/dagger_module/typeObject.ts
  sdk/typescript/src/module/introspector/dagger_module/typeObjectProperty.ts
  sdk/typescript/src/module/introspector/typescript_module/ast.ts
Owners: @dagger/sdk-typescript

chore: fix python sdk linting issues
  sdk/python/sdk/python/src/dagger/client/gen.py
  sdk/python/src/dagger/client/gen.py
  sdk/python/src/dagger/mod/_module.py
  sdk/python/src/dagger/mod/_utils.py
Owners: @dagger/sdk-python

python(codegen): treat deprecation reasons as optional strings
  sdk/python/codegen/src/codegen/generator.py
Owners: @dagger/sdk-python

codegen(go): treat deprecation as optional string
  cmd/codegen/generator/go/templates/module_enums.go
  cmd/codegen/generator/go/templates/module_funcs.go
  cmd/codegen/generator/go/templates/module_objects.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

sdk(python): parse enum docstrings for description + deprecation
  sdk/python/src/dagger/mod/_module.py
  sdk/python/src/dagger/mod/_utils.py
  sdk/python/tests/mod/test_enum_docstrings.py
Owners: @dagger/sdk-python

codegen(go): wrap WithDeprecated in options struct
  cmd/codegen/generator/go/templates/module_funcs.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
