Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

Apply one policy to workspace write commands
  internal/cmd/dagger/main.go
  internal/cmd/dagger/module.go
  internal/cmd/dagger/workspace_test.go
Owners: none

dagql: classify abandoned lazy attempts
  core/container_parts.go
  dagql/cache.go
  dagql/cache_parts_test.go
  dagql/otelprof_lazy.go
Owners: none

dagql: assert concurrent resume completion
  dagql/cache_parts_test.go
Owners: none

dagql: extract lazy group attempt preparation
  dagql/cache.go
Owners: none

hack/designs: record the fix round and the decisions behind it
  hack/designs/remote-cache/per-part-evaluation.html
Owners: none

Extend the module manifest builder
  core/integration/module_loading_test.go
  core/integration/testdata/sdks/module-max-lifecycle/main.dang
  core/integration/testdata/sdks/module-max-workspace-writer/main.dang
  core/integration/workspace_synthetic_test.go
  core/integration/workspace_write_directory_test.go
  core/module_manifest.go
  core/module_manifest_test.go
  core/schema/module_manifest.go
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

Support replacing manifest dependencies
  core/module_manifest.go
  core/module_manifest_test.go
  core/schema/module_manifest.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

Resolve workspace module dependencies from the workspace root
  core/integration/workspace_api_test.go
  core/modulesource.go
Owners: none

Load client targets from an attached workspace
  core/schema/workspace_client.go
  core/schema/workspace_sdk_generator.go
  core/schema/workspace_sdk_module.go
Owners: none

Cover module client add straight after module init
  core/integration/generators_test.go
Owners: none

core: add semver version constraints
  core/container_latest.go
  core/container_latest_test.go
  core/git.go
  core/git_latest_test.go
  core/integration/lockfile_test.go
  core/lockfile_update.go
  core/lockfile_update_test.go
  core/modulerefs.go
  core/modulerefs_test.go
  core/modulesource.go
  core/modulesource_test.go
  core/release_version.go
  core/release_version_test.go
  core/schema/container.go
  core/schema/git.go
  core/schema/modulesource.go
  core/schema/modulesource_test.go
  core/workspace/lock.go
  hack/designs/lockfile.md
  sdk/rust/crates/dagger-sdk/src/lib.rs
Owners: @dagger/sdk-rust

chore: regenerate
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Client.html
  docs/static/reference/php/Dagger/Container.html
  docs/static/reference/php/Dagger/GitRepository.html
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/elixir/lib/dagger/gen/container.ex
  sdk/elixir/lib/dagger/gen/git_repository.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Client.php
  sdk/php/generated/Container.php
  sdk/php/generated/GitRepository.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

core: reject conflicting version selectors
  core/integration/lockfile_test.go
  core/modulerefs.go
  core/modulerefs_test.go
  core/schema/container.go
Owners: none

feat: resolve vanity URLs for workspaces
  core/modulerefs.go
  core/modulerefs_redirect.go
  core/modulerefs_redirect_test.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

fix: improve error surfacing for generate (#13989)
  core/generated_files.go
  core/generators.go
  core/generators_test.go
  core/integration/generators_test.go
  core/integration/module_runtime_codegen_test.go
  core/integration/testdata/workspaces/generate-load-failures/.dagger/modules/broken-build/dagger.json
  core/integration/testdata/workspaces/generate-load-failures/.dagger/modules/broken-build/main.go
  core/integration/testdata/workspaces/generate-load-failures/.dagger/modules/fixable/dagger.json
  core/integration/testdata/workspaces/generate-load-failures/.dagger/modules/fixable/main.go
  core/integration/testdata/workspaces/generate-load-failures/.dagger/modules/fixer/dagger-module.toml
  core/integration/testdata/workspaces/generate-load-failures/.dagger/modules/fixer/main.dang
  core/integration/testdata/workspaces/generate-load-failures/.dagger/modules/good/dagger-module.toml
  core/integration/testdata/workspaces/generate-load-failures/.dagger/modules/good/main.dang
  core/integration/testdata/workspaces/generate-load-failures/.dagger/modules/regen/dagger-module.toml
  core/integration/testdata/workspaces/generate-load-failures/.dagger/modules/regen/main.dang
  core/integration/testdata/workspaces/generate-load-failures/.dagger/modules/stale-build/dagger.json
  core/integration/testdata/workspaces/generate-load-failures/.dagger/modules/stale-build/main.go
  core/integration/testdata/workspaces/generate-load-failures/.dagger/modules/ungenerated/dagger-module.toml
  core/integration/testdata/workspaces/generate-load-failures/.dagger/modules/ungenerated/main.go
  core/integration/testdata/workspaces/generate-load-failures/dagger.toml
  core/load_failure.go
  core/load_failure_test.go
  core/query.go
  core/schema/generators.go
  core/schema/modulesource.go
  core/schema/modulesource_test.go
  core/schema/test_server_test.go
  core/schema/workspace.go
  core/sdk/go_sdk.go
  core/telemetry_test.go
  dagql/dagui/spans.go
  dagql/dagui/types.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/generate_report.go
  dagql/idtui/generate_report_test.go
  engine/server/session_workspaces.go
  engine/telemetryattrs/attrs.go
Owners: none

feat: lock vanity URL resolutions
  core/lockfile_update.go
  core/lockfile_update_test.go
  core/modulerefs.go
  core/modulerefs_redirect.go
  core/modulerefs_redirect_test.go
  core/schema/lockfile.go
  core/telemetry_test.go
  core/workspace/lock.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

cli: keep settings tables within terminal width
  .changes/unreleased/Fixed-20260901-194652.yaml
  internal/cmd/dagger/settings.go
  internal/cmd/dagger/settings_test.go
Owners: none

docs: define global CLI flag scopes
  future/cli-global-flag-scoping.md
Owners: none

fix(cli): surface dagger setup org-ensure outcome instead of swallowing it
  internal/cmd/dagger/setup.go
  internal/cmd/dagger/setup_ensure_org_test.go
  internal/cmd/dagger/setup_tui.go
Owners: none

go guide draft 1
  docs/current_docs/config/module-wiring.mdx
  docs/current_docs/getting-started/cloud-checks.mdx
  docs/current_docs/getting-started/quickstart.mdx
  docs/current_docs/guides/go/index.mdx
  docs/current_docs/guides/go/snippets/test-services/main.dang
  docs/current_docs/guides/index.mdx
  docs/current_docs/reference/modules/go.mdx
  docs/current_docs/reference/modules/index.mdx
  docs/netlify.toml
  docs/sidebars.ts
Owners: @dagger/docs

fix(cli): clear error when a repo is owned by another Cloud org
  internal/cmd/dagger/workspace.go
  internal/cmd/dagger/workspace_autocheck_org_test.go
Owners: none

docs: describe vanity-url locking and redirect contract in changelog
  .changes/unreleased/Added-20260901-190000.yaml
Owners: none

cli: scope pipeline rendering flags
  docs/current_docs/reference/cli/index.mdx
  internal/cmd/dagger/capabilities.go
  internal/cmd/dagger/capabilities_test.go
  internal/cmd/dagger/docsgen/main.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/workspace_test.go
  internal/cobradocs/markdown.go
Owners: @dagger/docs

chore: suppress nilerr on deliberate vanity-url fallback paths
  core/modulerefs_redirect.go
Owners: none

dagql/tla: model final parent copy sweeps
  dagql/tla/CacheLifecycle.tla
  dagql/tla/CacheLifecycle_lazy_parts_delegate.cfg
Owners: none

cli: scope engine call flags
  docs/current_docs/reference/cli/index.mdx
  future/cli-global-flag-scoping.md
  internal/cmd/dagger/capabilities.go
  internal/cmd/dagger/capabilities_test.go
  internal/cmd/dagger/main.go
Owners: @dagger/docs

core: write init results to the selected workspace env
  core/integration/generators_test.go
  core/schema/module_as_sdk.go
  core/schema/modulesource.go
  core/schema/workspace_builders.go
  core/schema/workspace_client.go
  core/schema/workspace_config.go
  core/schema/workspace_module.go
  core/schema/workspace_module_init.go
  core/schema/workspace_overlay_modules.go
  core/schema/workspace_sdk.go
  core/schema/workspace_sdk_test.go
  core/workspace.go
  core/workspace/config.go
  core/workspace/config_document.go
  core/workspace/config_test.go
  core/workspace/sdks_roundtrip_test.go
  core/workspace/userconfig.go
  docs/static/reference/dagger-workspace.schema.json
  engine/server/session_workspaces.go
Owners: @dagger/docs

cli: scope workspace flags
  docs/current_docs/reference/cli/index.mdx
  future/cli-global-flag-scoping.md
  internal/cmd/dagger/capabilities.go
  internal/cmd/dagger/capabilities_test.go
  internal/cmd/dagger/client.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/module_init.go
  internal/cmd/dagger/module_init_test.go
  internal/cmd/dagger/module_sdk.go
  internal/cmd/dagger/module_sdk_test.go
  internal/cmd/dagger/sdk.go
  internal/cmd/dagger/sdk_init_dynamic.go
Owners: @dagger/docs

cli: hide org and x-release flags
  docs/current_docs/reference/cli/index.mdx
  future/cli-global-flag-scoping.md
  internal/cmd/dagger/main.go
  internal/cmd/dagger/main_test.go
  internal/cmd/dagger/workspace_test.go
Owners: @dagger/docs

cli: limit scale-out to dagger check
  future/cli-global-flag-scoping.md
  internal/cmd/dagger/checks.go
  internal/cmd/dagger/checks_test.go
  internal/cmd/dagger/main.go
Owners: none

cli: scope output flags
  docs/current_docs/reference/cli/index.mdx
  future/cli-global-flag-scoping.md
  internal/cmd/dagger/capabilities.go
  internal/cmd/dagger/capabilities_test.go
  internal/cmd/dagger/functions.go
  internal/cmd/dagger/main.go
Owners: @dagger/docs

cli: document engine selector values
  docs/current_docs/reference/cli/index.mdx
  engine/client/drivers/driver.go
  engine/client/drivers/schemes.go
  engine/client/drivers/schemes_test.go
  future/cli-global-flag-scoping.md
  internal/cmd/dagger/capabilities_test.go
  internal/cmd/dagger/cloud_test.go
  internal/cmd/dagger/engine_help.go
  internal/cmd/dagger/engine_help_test.go
  internal/cmd/dagger/main.go
  internal/cobradocs/markdown.go
Owners: @dagger/docs

cli: scope debug flags
  docs/current_docs/reference/cli/index.mdx
  future/cli-global-flag-scoping.md
  internal/cmd/dagger/capabilities_test.go
  internal/cmd/dagger/main.go
Owners: @dagger/docs

cli: scope the root command to what bare dagger does
  docs/current_docs/reference/cli/index.mdx
  future/cli-global-flag-scoping.md
  internal/cmd/dagger/capabilities.go
  internal/cmd/dagger/capabilities_test.go
  internal/cmd/dagger/module.go
  internal/cmd/dagger/shell.go
Owners: @dagger/docs

cli: add DAGGER_ENGINE, the environment form of --engine
  .changes/unreleased/Changed-20260903-100100.yaml
  .changes/unreleased/Deprecated-20260903-100200.yaml
  core/integration/testdata/modules/.envrc
  docs/current_docs/reference/cli/index.mdx
  future/cli-global-flag-scoping.md
  hack/with-dev
  internal/cmd/dagger/capabilities_test.go
  internal/cmd/dagger/engine.go
  internal/cmd/dagger/engine_help.go
  internal/cmd/dagger/engine_help_test.go
  internal/cmd/dagger/engine_test.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/version.go
  internal/cmd/dagger/xrelease_test.go
Owners: @dagger/docs

cli: trim trailing whitespace in the generated CLI reference
  internal/cmd/dagger/docsgen/main.go
Owners: none

cli: drop MayCallEngine from the root command
  docs/current_docs/reference/cli/index.mdx
  future/cli-global-flag-scoping.md
  internal/cmd/dagger/capabilities.go
  internal/cmd/dagger/capabilities_test.go
Owners: @dagger/docs

cli: add the engine selector
  .changes/unreleased/Changed-20260903-100100.yaml
  .github/actions/call/action.yml
  .github/workflows/alternative-ci-engines-1.yml
  docs/current_docs/reference/cli/index.mdx
  future/cli-global-flag-scoping.md
  internal/cmd/dagger/capabilities_test.go
  internal/cmd/dagger/engine.go
  internal/cmd/dagger/engine_test.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/sdk_init_dynamic.go
  internal/cmd/dagger/sdk_init_dynamic_test.go
Owners: @dagger/docs

cli: skip flag validation for completion requests
  future/cli-global-flag-scoping.md
  internal/cmd/dagger/capabilities.go
  internal/cmd/dagger/engine_help_test.go
Owners: none

cli: rename --interactive to --shell-on-error
  .changes/unreleased/Changed-20260903-100000.yaml
  core/integration/module_terminal_test.go
  docs/current_docs/reference/cli/index.mdx
  future/cli-1.0.md
  future/cli-global-flag-scoping.md
  internal/cmd/dagger/capabilities_test.go
  internal/cmd/dagger/engine.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/sdk_init_dynamic.go
  internal/cmd/dagger/sdk_init_dynamic_test.go
Owners: @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
