Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

replace SkipRootFieldInstalls with currentTypeDefs(includeCore) filtering
  cmd/dagger/call.go
  cmd/dagger/functions.go
  cmd/dagger/module_inspect.go
  cmd/dagger/shell_commands.go
  cmd/dagger/typedefs.graphql
  core/moddeps.go
  core/schema/module.go
  dagql/objects.go
  dagql/server.go
  engine/server/session.go
Owners: none

migrate tool: generate more compact toml
  modules/migrate/toml.go
Owners: none

fix: resolve deadlock, panic, and propagation issues in extra module loading
  engine/server/session.go
Owners: none

fix: CLI loads all TypeDefs including core for pipeline navigation
  cmd/dagger/module_inspect.go
  cmd/dagger/shell_commands.go
Owners: none

fix: migration module generates per-module alias=true instead of [aliases]
  modules/migrate/report.go
  modules/migrate/toml.go
Owners: none

engine: load workspace modules at connect time
  engine/server/session.go
Owners: none

save temporary handoff doc
  docs/design/extra-modules-handoff.md
Owners: @dagger/docs

cli: remove dead initializeDefaultModule function
  cmd/dagger/module_inspect.go
Owners: none

docs: add workspace implementation handoff doc
  docs/design/workspace-implementation.md
Owners: @dagger/docs

workspace: add config parser and detection logic
  core/workspace/config.go
  core/workspace/detect.go
Owners: none

fix: migration error message no longer references non-existent command
  core/workspace/detect.go
Owners: none

fix: hide core functions from schema when user modules are loaded
  cmd/dagger/call.go
  core/moddeps.go
  dagql/objects.go
  dagql/server.go
Owners: none

wip: prototype workspace migration module
  modules/migrate/.gitattributes
  modules/migrate/.gitignore
  modules/migrate/config.go
  modules/migrate/dagger.json
  modules/migrate/go.mod
  modules/migrate/go.sum
  modules/migrate/main.go
  modules/migrate/report.go
  modules/migrate/toml.go
Owners: none

design: update Part 1 with -m flag semantics
  docs/design/proposals/01-module-vs-workspace.md
Owners: @dagger/docs

agent handoff + move to top-level HANDOFF.md
  HANDOFF.md
  docs/design/extra-modules-handoff.md
Owners: @dagger/docs

core: never cache functions that accept Workspace args
  core/typedef.go
Owners: none

feat: add `dagger workspace info` command
  cmd/dagger/main.go
  cmd/dagger/module.go
  handoff.md
Owners: none

fixup! core: automatically inject Workspace args into module functions
  core/modfunc.go
Owners: none

update handoff.md: migration trigger fix and regression test results
  handoff.md
Owners: none

Revert "cli: don't hide functions that take magical server-injected args like Workspace"
  cmd/dagger/functions.go
  cmd/dagger/module_inspect.go
Owners: none

fix `dagger module init`
  core/schema/workspace.go
Owners: none

core: enable content hashing for workspace funcs
  core/modfunc.go
Owners: none

fix: show auto-aliased module functions in dagger -m functions output
  cmd/dagger/functions.go
  cmd/dagger/module_inspect.go
  cmd/dagger/typedefs.graphql
  core/schema/coremod.go
  core/typedef.go
  rampup.md
Owners: none

fix: guard install and module init against remote workdir
  cmd/dagger/module.go
  cmd/dagger/workspace.go
Owners: none

Revert "core: derive content digest from returned IDs instead of raw JSON"
  core/modfunc.go
Owners: none

fix: skip workspace loading for install/init commands
  cmd/dagger/module.go
  engine/client/client.go
  handoff.md
Owners: none

feat: implement remote workspace loading in engine
  engine/server/session.go
Owners: none

update handoff.md: config defaults and malformed TOML tests pass
  handoff.md
Owners: none

implement `dagger migrate` and universal migration detection
  cmd/dagger/main.go
  cmd/dagger/module.go
  cmd/dagger/workspace.go
  core/schema/workspace.go
  core/workspace/detect.go
  core/workspace/legacy.go
  core/workspace/migrate.go
  engine/client/client.go
  engine/opts.go
  engine/server/session.go
Owners: none

install: preserve comments across installs using neontoml library
  core/schema/workspace.go
  core/workspace/config.go
  go.mod
  go.sum
Owners: none

migrate: introspect toolchain constructors and add commented-out config hints
  core/schema/workspace.go
  core/workspace/migrate.go
  engine/server/session.go
Owners: none

add dagger migrate -l
  cmd/dagger/workspace.go
  core/workspace/detect.go
Owners: none

install: add commented-out config hints for constructor args
  core/schema/workspace.go
  core/workspace/config.go
Owners: none

cache currentWorkspace per-call
  core/schema/workspace.go
Owners: none

test: add integration tests for Workspace arg injection and caching
  core/integration/workspace_test.go
Owners: none

dagger-dev: migrate to workspaces
  .dagger/config.toml
  .dagger/modules/dagger-dev/.gitattributes
  .dagger/modules/dagger-dev/.gitignore
  .dagger/modules/dagger-dev/dagger.json
  .dagger/modules/dagger-dev/go.mod
  .dagger/modules/dagger-dev/go.sum
  .dagger/modules/dagger-dev/main.go
  dagger.json
Owners: none

refactor: move `dagger install` to workspace.go
  cmd/dagger/module.go
  cmd/dagger/workspace.go
  skills/engine-dev-testing/with-playground.sh
Owners: none

Revert "core: mix parent object fields into function cache key"
  core/modfunc.go
Owners: none

cli: don't hide functions that take magical server-injected args like Workspace
  cmd/dagger/functions.go
  cmd/dagger/module_inspect.go
Owners: none

feat: allow to read and write config from the CLI
  cmd/dagger/workspace.go
  core/integration/workspace_test.go
  core/schema/workspace.go
  core/workspace/config.go
  core/workspace/migrate.go
  engine/server/session.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
