Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

test(tui): cover queued workspace approvals
  dagql/idtui/frontend_command_view_test.go
Owners: none

test(workspace): share runtime trace capture
  core/integration/agent_runtime_test.go
Owners: none

fix(dagql): use current recipe metadata lookup
  dagql/recipe_classification.go
Owners: none

test(llm): cover refresh after scope release
  core/llm_auth_test.go
Owners: none

fix(workspace): use owner for read epochs
  engine/server/session_workspaces.go
  engine/server/workspace_epoch_test.go
Owners: none

fix(telemetry): preserve scoped emission origins
  engine/server/session_test.go
  engine/server/telemetry.go
  engine/server/telemetry_origin_test.go
Owners: none

fix(telemetry): retain stores with client runtimes
  engine/clientdb/store_registry.go
  engine/clientdb/store_registry_test.go
  engine/clientdb/store_reopen_test.go
  engine/server/client_telemetry_store_test.go
  engine/server/session.go
  engine/server/session_test.go
Owners: none

test(core): simplify lease factory signatures
  core/agent_client_scope_test.go
  core/llm_auth_test.go
Owners: none

chore(docs): sync generated schema whitespace
  docs/docs-graphql/schema.graphqls
Owners: @dagger/docs

fix(tui): preserve errors with incomplete origins
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_pretty_test.go
Owners: none

test(cli): remove redundant snapshot conversion
  internal/cmd/dagger/llm_changes_test.go
Owners: none

test(server): initialize telemetry in scope test
  engine/server/session_test.go
Owners: none

cli/llm: let LLMSession run without a shell or frontend
  internal/cmd/dagger/llm.go
Owners: none

docs: add --app-server to the CLI reference
  docs/current_docs/reference/cli/index.mdx
Owners: @dagger/docs

cli/agent: add --app-server (Codex app-server protocol)
  .changes/unreleased/Added-20260915-120000.yaml
  internal/cmd/dagger/agent.go
  internal/cmd/dagger/agent_appserver.go
  internal/cmd/dagger/codexapp/items.go
  internal/cmd/dagger/codexapp/items_test.go
  internal/cmd/dagger/codexapp/jsonrpc.go
  internal/cmd/dagger/codexapp/jsonrpc_test.go
  internal/cmd/dagger/codexapp/protocol.go
  internal/cmd/dagger/codexapp/server.go
  internal/cmd/dagger/codexapp/server_test.go
  internal/cmd/dagger/codexapp/tee.go
Owners: none

cli/agent: honour explicit progress modes in app-server mode
  internal/cmd/dagger/agent.go
  internal/cmd/dagger/agent_appserver.go
  internal/cmd/dagger/agent_appserver_test.go
Owners: none

codexapp: drop undecodable lines instead of answering them
  internal/cmd/dagger/codexapp/jsonrpc.go
  internal/cmd/dagger/codexapp/server.go
  internal/cmd/dagger/codexapp/server_test.go
Owners: none

PHP: Support enum registration
  core/integration/module_php_test.go
  core/integration/testdata/modules/php/enum-kind/.gitattributes
  core/integration/testdata/modules/php/enum-kind/.gitignore
  core/integration/testdata/modules/php/enum-kind/composer.json
  core/integration/testdata/modules/php/enum-kind/dagger.json
  core/integration/testdata/modules/php/enum-kind/entrypoint.php
  core/integration/testdata/modules/php/enum-kind/src/EnumKind.php
  core/integration/testdata/modules/php/enum-kind/src/Level.php
  core/integration/testdata/modules/php/enum-kind/src/Task.php
  core/integration/testdata/modules/php/enum-kind/src/Weight.php
  core/module.go
  docs/current_docs/reference/sdks/php.mdx
  sdk/php/.changes/unreleased/Added-20260915-000000.yaml
  sdk/php/src/Attribute/Doc.php
  sdk/php/src/Command/EntrypointCommand.php
  sdk/php/src/Exception/SDKBug.php
  sdk/php/src/Service/DecodesValue.php
  sdk/php/src/Service/FindsDaggerObjects.php
  sdk/php/src/Service/Serialisation/EnumHandler.php
  sdk/php/src/Service/Serialisation/EnumSubscriber.php
  sdk/php/src/ValueObject/Argument.php
  sdk/php/src/ValueObject/DaggerEnum.php
  sdk/php/src/ValueObject/DaggerEnumCase.php
  sdk/php/tests/Unit/Fixture/DaggerObjectUsingEnums.php
  sdk/php/tests/Unit/Fixture/EnumDefaults.php
  sdk/php/tests/Unit/Fixture/EnumHolder.php
  sdk/php/tests/Unit/Fixture/IntBackedEnum.php
  sdk/php/tests/Unit/Fixture/PureEnum.php
  sdk/php/tests/Unit/Fixture/StringBackedEnum.php
  sdk/php/tests/Unit/Service/DecodesValueTest.php
  sdk/php/tests/Unit/Service/FindsDaggerObjectsTest.php
  sdk/php/tests/Unit/Service/Serialisation/EnumHandlerTest.php
  sdk/php/tests/Unit/Unsupported/CaselessBackedEnum.php
  sdk/php/tests/Unit/Unsupported/UnattributedEnum.php
  sdk/php/tests/Unit/ValueObject/ArgumentTest.php
  sdk/php/tests/Unit/ValueObject/DaggerEnumTest.php
Owners: @dagger/docs, @dagger/sdk-php

snapshots: RemoveLease only walks the snapshots the lease owns
  .changes/unreleased/Fixed-20260915-100000.yaml
  engine/snapshots/manager.go
  engine/snapshots/manager_test.go
  engine/snapshots/persistent_metadata.go
Owners: none

fix: derive a check from each engine-injected SDK generator (#14135)
  core/checks.go
  core/integration/checks_test.go
  core/integration/testdata/workspaces/sdk-generate-check/.dagger/modules/alpha-sdk-checked/dagger.json
  core/integration/testdata/workspaces/sdk-generate-check/.dagger/modules/alpha-sdk-checked/main.dang
  core/integration/testdata/workspaces/sdk-generate-check/.dagger/modules/alpha-sdk/dagger.json
  core/integration/testdata/workspaces/sdk-generate-check/.dagger/modules/alpha-sdk/main.dang
  core/integration/testdata/workspaces/sdk-generate-check/.dagger/modules/beta-sdk/dagger.json
  core/integration/testdata/workspaces/sdk-generate-check/.dagger/modules/beta-sdk/main.dang
  core/integration/testdata/workspaces/sdk-generate-check/dagger.toml
  core/schema/checks.go
  core/schema/generators.go
  core/schema/workspace.go
  core/schema/workspace_sdk_generator.go
  future/done/synthetic-sdk-generate-checks.md
Owners: none

feat(check): report unloadable modules as failed checks
  core/checks.go
  core/generators.go
  core/integration/checks_test.go
  core/integration/generators_test.go
  core/schema/checks.go
  core/schema/workspace.go
Owners: none

fix(engine): don't guess an entrypoint for node(id:)
  core/integration/generators_test.go
  core/integration/testdata/workspaces/generators-broken-entrypoint/.dagger/modules/good/main.dang
  dagql/call/id.go
  dagql/call/id_test.go
  dagql/request_peek.go
  dagql/request_peek_test.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

fix(engine): recognize every core Query root field
  core/integration/workspace_test.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

chore(sdk): regenerate clients for the new checkType value
  docs/docs-graphql/schema.graphqls
  sdk/elixir/lib/dagger/gen/check.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Check.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

test(check): cover a derived check beside a load failure
  core/integration/checks_test.go
Owners: none

refactor(core): split the best-effort module load mode
  core/generators.go
  core/integration/checks_test.go
  core/load_failure.go
  core/load_failure_test.go
  core/query.go
  core/schema/address.go
  core/schema/test_server_test.go
  core/schema/workspace.go
  core/schema/workspace_overlay_modules.go
  core/telemetry_test.go
  core/workspace_context.go
  engine/server/session.go
  engine/server/session_workspaces.go
Owners: none

test(workspace): expect a failed check, not an error
  core/integration/workspace_synthetic_test.go
Owners: none

fix(engine): keep demanding modules for a root id field
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

chore: add changelog entries
  .changes/unreleased/Changed-20260914-160100.yaml
  .changes/unreleased/Fixed-20260914-160000.yaml
Owners: none

workspace: add withoutMount
  core/integration/workspace_api_test.go
  core/schema/workspace.go
  core/workspace.go
  docs/docs-graphql/schema.graphqls
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

create recommendations and documentation for dagger.io/go/staticcheck and dagger.io/go/golangci-lint
  docs/current_docs/reference/modules/go.mdx
  docs/current_docs/reference/modules/go/golangci-lint.mdx
  docs/current_docs/reference/modules/go/staticcheck.mdx
  docs/current_docs/reference/modules/index.mdx
  docs/sidebars.ts
  internal/cmd/dagger/modules.go
Owners: @dagger/docs

ci: move engineDev.playground() to entrypoint playground()
  .dagger/modules/dagger-dev/dagger-module.toml
  .dagger/modules/dagger-dev/main.dang
  .dagger/modules/engine-dev/dagger.gen.go
  .dagger/modules/engine-dev/internal/dagger/engine-dev.gen.go
  .dagger/modules/engine-dev/main.go
  .dagger/modules/engine-dev/notify/internal/dagger/dagger.gen.go
  .dagger/modules/php-client-dev/internal/dagger/dagger-engine.gen.go
  .dagger/modules/php-client-dev/main.go
  .dagger/modules/rust-client-dev/internal/dagger/dagger-engine.gen.go
  .dagger/modules/rust-client-dev/main.go
Owners: none

ci: entrypoint module that allows "dagger sh playground"
  .dagger/modules/dagger-dev/dagger-module.toml
  .dagger/modules/dagger-dev/main.dang
  dagger.toml
Owners: none

ci: move hardcoded pins to lockfile
  dagger.lock
  dagger.toml
Owners: none

ci: install official modules from new dagger.io addresses
  dagger.lock
  dagger.toml
Owners: none

ci: rename "ci:bootstrap" check to "bootstrap:XXX"
  .dagger/modules/bootstrap/.gitattributes
  .dagger/modules/bootstrap/.gitignore
  .dagger/modules/bootstrap/bootstrap.dang
  .dagger/modules/bootstrap/dagger-module.toml
  dagger.toml
Owners: none

ci: fix include filter in bootstrap check
  .dagger/modules/bootstrap/bootstrap.dang
Owners: none

ci: fix module python-client-dev after engine-dev module changed a required argument to optional (whackamole, ragequit moment)
  .dagger/modules/python-client-dev/dockerd/internal/dagger/dagger.gen.go
  .dagger/modules/python-client-dev/internal/dagger/dagger-engine.gen.go
  .dagger/modules/python-client-dev/main.go
Owners: none

ci: more wack-a-mole after changing engine-dev #ragequit
  .dagger/modules/ci/dagger-module.toml
  .dagger/modules/ci/main.dang
  .dagger/modules/docs-dev/internal/dagger/engine-dev.gen.go
  .dagger/modules/python-client-dev/dagger.gen.go
  .dagger/modules/release/internal/dagger/engine-dev.gen.go
  .dagger/modules/release/internal/dagger/python-client-dev.gen.go
Owners: none

dotnet: move engine client to workspace SDK scope
  .dagger/modules/dotnet-client-dev/dagger-module.toml
  dagger.toml
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
