Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

docs: clarify engine memory pruning configuration (#13895)
  docs/current_docs/reference/configuration/cache.mdx
  docs/current_docs/reference/configuration/engine.mdx
Owners: @dagger/docs

chore: regenerate workspace clients and docs
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger.html
  docs/static/reference/php/Dagger/CurrentModuleAsSDK.html
  docs/static/reference/php/Dagger/ModuleSource.html
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/classes.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/current_module_as_sdk.ex
  sdk/elixir/lib/dagger/gen/module_source.ex
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/CurrentModuleAsSDK.php
  sdk/php/generated/ModuleSource.php
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

core: compare workspace changes from an explicit baseline
  core/integration/llm_resume_test.go
  core/integration/llm_test.go
  core/integration/workspace_api_test.go
  core/integration/workspace_config_test.go
  core/integration/workspace_modules_test.go
  core/integration/workspace_synthetic_test.go
  core/schema/workspace.go
  core/schema/workspace_test.go
  core/workspace.go
  internal/cmd/dagger/client.go
  internal/cmd/dagger/functions.go
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/lock.go
  internal/cmd/dagger/module_init.go
  internal/cmd/dagger/sdk.go
  internal/cmd/dagger/setup.go
  internal/cmd/dagger/workspace.go
Owners: none

core: compose module generation on workspaces
  core/current_module_as_sdk.go
  core/integration/generators_test.go
  core/integration/module_config_test.go
  core/integration/testdata/workspaces/changeset-rooting/.dagger/modules/rooter-new/dagger.json
  core/integration/testdata/workspaces/changeset-rooting/.dagger/modules/rooter-new/main.dang
  core/integration/testdata/workspaces/changeset-rooting/.dagger/modules/rooter-old/dagger.json
  core/integration/testdata/workspaces/changeset-rooting/.dagger/modules/rooter-old/main.dang
  core/integration/testdata/workspaces/changeset-rooting/app/dagger.json
  core/integration/testdata/workspaces/changeset-rooting/app/main.dang
  core/integration/testdata/workspaces/changeset-rooting/dagger.toml
  core/integration/workspace_changeset_rooting_test.go
  core/schema/module_as_sdk.go
  core/schema/module_as_sdk_test.go
  core/schema/modulesource.go
  core/schema/workspace_builders.go
  core/workspace.go
  future/current-module-as-sdk.md
Owners: none

test: pass workspace baselines through Go options
  core/integration/generators_test.go
Owners: none

review: clarify root-scoped workspace changes
  core/integration/workspace_api_test.go
  internal/cmd/dagger/setup.go
  internal/cmd/dagger/workspace.go
Owners: none

cli: converge workspace ref classification on IsLocalRef
  internal/cmd/dagger/main.go
  internal/cmd/dagger/main_test.go
  internal/cmd/dagger/workspace.go
  internal/cmd/dagger/workspace_test.go
Owners: none

workspace: read dotted paths as local module refs
  core/integration/generators_test.go
  core/workspace/localref.go
  core/workspace/localref_test.go
  core/workspace/migrate.go
Owners: none

core: drop the duplicate legacy module ref classifier
  core/schema/modulesource.go
Owners: none

fix: accept @ and # in git refs
  core/gitref/gitref.go
  core/integration/workspace_config_test.go
  core/modulerefs_test.go
  util/gitutil/url.go
  util/gitutil/url_test.go
Owners: none

test(dagql): add egraph contention benchmarks
  dagql/cache.go
  dagql/cache_egraph.go
  dagql/cache_egraph_benchmark_support_test.go
  dagql/cache_egraph_contention_benchmark_test.go
  dagql/cache_measurement.go
  dagql/cache_persistence_import.go
  dagql/cache_persistence_resolver.go
  dagql/cache_persistence_worker.go
  dagql/cache_prune.go
  dagql/result_call_frame.go
  hack/run-egraph-contention-benchmarks.sh
  internal-docs/egraph-contention-benchmarks.md
Owners: none

test(dagql): streamline egraph scaling screen
  hack/run-egraph-contention-benchmarks.sh
  internal-docs/egraph-contention-benchmarks.md
Owners: none

test(dagql): fix egraph benchmark validity gaps
  dagql/cache_egraph_contention_benchmark_test.go
  hack/run-egraph-contention-benchmarks.sh
  internal-docs/egraph-contention-benchmarks.md
Owners: none

test(dagql): harden egraph benchmark measurements
  dagql/cache_egraph_benchmark_support_test.go
  dagql/cache_egraph_contention_benchmark_test.go
  dagql/cache_prune.go
  hack/run-egraph-contention-benchmarks.sh
  internal-docs/egraph-contention-benchmarks.md
Owners: none

docs: add e-graph contention optimization plan
  internal-docs/egraph-contention-optimization-plan.md
Owners: none

test(dagql): fix benchmark harness lint
  dagql/cache_egraph_benchmark_support_test.go
  hack/run-egraph-contention-benchmarks.sh
Owners: none

test(dagql): force wide metadata prune fixture
  dagql/cache_egraph_benchmark_support_test.go
  dagql/cache_egraph_contention_benchmark_test.go
Owners: none

dagql: remove e-graph benchmark scaffolding
  dagql/cache.go
  dagql/cache_egraph.go
  dagql/cache_egraph_benchmark_support_test.go
  dagql/cache_egraph_contention_benchmark_test.go
  dagql/cache_egraph_indexes_test.go
  dagql/cache_measurement.go
  dagql/cache_persistence_import.go
  dagql/cache_persistence_resolver.go
  dagql/cache_persistence_worker.go
  dagql/cache_prune.go
  dagql/result_call_frame.go
  hack/run-egraph-contention-benchmarks.sh
  internal-docs/egraph-contention-benchmarks.md
  internal-docs/egraph-contention-optimization-plan.md
Owners: none

dagql: index results by output equivalence class
  dagql/cache.go
  dagql/cache_canonical_race_test.go
  dagql/cache_egraph.go
  dagql/cache_egraph_indexes_test.go
  dagql/cache_persistence_import.go
  dagql/cache_persistence_import_test.go
  dagql/cache_test.go
  internal-docs/egraph.md
Owners: none

dagql: track exact result digest postings
  dagql/cache.go
  dagql/cache_egraph.go
  dagql/cache_egraph_indexes_test.go
  dagql/cache_persistence_import.go
  dagql/cache_test.go
  internal-docs/cache_persistence.md
  internal-docs/egraph.md
Owners: none

docs: fix e-graph plan markdown lint
  internal-docs/egraph-contention-optimization-plan.md
Owners: none

Update Rust SDK specs
  .kiro/specs/rust-sdk-complete-implementation/requirements.md
  .kiro/specs/rust-sdk-conformance-security/design.md
  .kiro/specs/rust-sdk-conformance-security/requirements.md
  .kiro/specs/rust-sdk-conformance-security/tasks.md
Owners: none

Refresh Dagger module clients
  .dagger/modules/engine-dev/build/sdk.go
  .dagger/modules/engine-dev/internal/dagger/alpine.gen.go
  .dagger/modules/engine-dev/internal/dagger/codegen.gen.go
  .dagger/modules/engine-dev/internal/dagger/dagger-cli.gen.go
  .dagger/modules/engine-dev/internal/dagger/dagger.gen.go
  .dagger/modules/engine-dev/internal/dagger/engine-dev.gen.go
  .dagger/modules/engine-dev/internal/dagger/go.gen.go
  .dagger/modules/engine-dev/internal/dagger/notify.gen.go
  .dagger/modules/engine-dev/internal/dagger/wolfi.gen.go
  .dagger/modules/engine-dev/main.go
  .dagger/modules/rust-client-dev/dagger.gen.go
  .dagger/modules/rust-client-dev/go.mod
  .dagger/modules/rust-client-dev/go.sum
  .dagger/modules/rust-client-dev/internal/dagger/dagger-engine.gen.go
  .dagger/modules/rust-client-dev/internal/dagger/dagger.gen.go
  .dagger/modules/rust-client-dev/internal/dagger/rust-client-dev.gen.go
Owners: none

feat(llm): support OrcaRouter as an LLM provider
  docs/current_docs/reference/cli/index.mdx
  internal/cmd/dagger/llm_config.go
  internal/cmd/dagger/llm_config_test.go
  internal/cmd/dagger/llmconfig/models.go
  internal/cmd/dagger/llmconfig/setup.go
Owners: @dagger/docs

docs(sdk/rust): add release readiness spec
  .kiro/specs/rust-sdk-release-readiness/design.md
  .kiro/specs/rust-sdk-release-readiness/requirements.md
  .kiro/specs/rust-sdk-release-readiness/tasks.md
Owners: none

docs(sdk/rust): align release readiness
  .kiro/specs/rust-sdk-client-generation/design.md
  .kiro/specs/rust-sdk-client-generation/requirements.md
  .kiro/specs/rust-sdk-client-generation/tasks.md
  .kiro/specs/rust-sdk-client-lifecycle/design.md
  .kiro/specs/rust-sdk-client-lifecycle/requirements.md
  .kiro/specs/rust-sdk-client-lifecycle/tasks.md
  .kiro/specs/rust-sdk-completeness-contract/design.md
  .kiro/specs/rust-sdk-completeness-contract/requirements.md
  .kiro/specs/rust-sdk-completeness-contract/tasks.md
  .kiro/specs/rust-sdk-core-codegen/design.md
  .kiro/specs/rust-sdk-core-codegen/requirements.md
  .kiro/specs/rust-sdk-engine-integration/design.md
  .kiro/specs/rust-sdk-engine-integration/requirements.md
  .kiro/specs/rust-sdk-engine-integration/tasks.md
  .kiro/specs/rust-sdk-module-authoring/design.md
  .kiro/specs/rust-sdk-module-authoring/requirements.md
  .kiro/specs/rust-sdk-module-authoring/tasks.md
  .kiro/specs/rust-sdk-release-readiness/design.md
  .kiro/specs/rust-sdk-release-readiness/requirements.md
  .kiro/specs/rust-sdk-release-readiness/tasks.md
  .kiro/specs/rust-sdk-transport-observability/design.md
  .kiro/specs/rust-sdk-transport-observability/requirements.md
  .kiro/specs/rust-sdk-transport-observability/tasks.md
  sdk/rust/.changes/unreleased/Added-20260815-000000.yaml
  sdk/rust/ARCHITECTURE.md
  sdk/rust/CLIENT_GENERATION.md
  sdk/rust/CONTRIBUTING.md
  sdk/rust/ENGINE_INTEGRATION.md
  sdk/rust/MAINTAINING.md
  sdk/rust/MODULE_AUTHORING.md
  sdk/rust/README.md
  sdk/rust/completeness/README.md
  sdk/rust/crates/dagger-sdk/README.md
Owners: @dagger/sdk-rust

fix(sdk/rust): close readiness checks
  .kiro/specs/rust-sdk-release-readiness/design.md
  .kiro/specs/rust-sdk-release-readiness/requirements.md
  .kiro/specs/rust-sdk-release-readiness/tasks.md
  sdk/rust/completeness/README.md
  sdk/rust/completeness/artifacts/core-codegen-bindings.json
Owners: @dagger/sdk-rust

docs(sdk/rust): simplify readiness specs
  .kiro/specs/rust-sdk-client-generation/design.md
  .kiro/specs/rust-sdk-client-generation/requirements.md
  .kiro/specs/rust-sdk-client-generation/tasks.md
  .kiro/specs/rust-sdk-client-lifecycle/design.md
  .kiro/specs/rust-sdk-client-lifecycle/requirements.md
  .kiro/specs/rust-sdk-client-lifecycle/tasks.md
  .kiro/specs/rust-sdk-complete-implementation/requirements.md
  .kiro/specs/rust-sdk-completeness-contract/design.md
  .kiro/specs/rust-sdk-completeness-contract/requirements.md
  .kiro/specs/rust-sdk-completeness-contract/tasks.md
  .kiro/specs/rust-sdk-core-codegen/design.md
  .kiro/specs/rust-sdk-core-codegen/requirements.md
  .kiro/specs/rust-sdk-core-codegen/tasks.md
  .kiro/specs/rust-sdk-engine-integration/design.md
  .kiro/specs/rust-sdk-engine-integration/requirements.md
  .kiro/specs/rust-sdk-engine-integration/tasks.md
  .kiro/specs/rust-sdk-module-authoring/design.md
  .kiro/specs/rust-sdk-module-authoring/requirements.md
  .kiro/specs/rust-sdk-module-authoring/tasks.md
  .kiro/specs/rust-sdk-release-readiness/design.md
  .kiro/specs/rust-sdk-release-readiness/requirements.md
  .kiro/specs/rust-sdk-release-readiness/tasks.md
  .kiro/specs/rust-sdk-transport-observability/design.md
  .kiro/specs/rust-sdk-transport-observability/requirements.md
  .kiro/specs/rust-sdk-transport-observability/tasks.md
Owners: none

docs(sdk/rust): close readiness tasks
  .kiro/specs/rust-sdk-release-readiness/tasks.md
Owners: none

docs(sdk/rust): record builder preflight
  sdk/rust/ENGINE_INTEGRATION.md
  sdk/rust/MAINTAINING.md
Owners: @dagger/sdk-rust

fix(sdk/rust): align engine build version
  .dagger/modules/rust-client-dev/main.go
Owners: none

docs(sdk/rust): add Namespace build runbook
  sdk/rust/ENGINE_INTEGRATION.md
  sdk/rust/MAINTAINING.md
  sdk/rust/NAMESPACE_BUILD.md
  sdk/rust/README.md
Owners: @dagger/sdk-rust

docs(sdk/rust): document Namespace builder
  .kiro/specs/rust-sdk-release-readiness/design.md
  .kiro/specs/rust-sdk-release-readiness/requirements.md
  .kiro/specs/rust-sdk-release-readiness/tasks.md
  sdk/rust/NAMESPACE_BUILD.md
  sdk/rust/README.md
Owners: @dagger/sdk-rust

feat(engine): configurable build-step parallelism (engine-global + per-session)
  .changes/unreleased/Added-20260817-094048.yaml
  cmd/engine/main.go
  cmd/engine/main_test.go
  core/container_exec.go
  core/workspace/config.go
  core/workspace/config_test.go
  docs/current_docs/reference/configuration/engine.mdx
  docs/static/reference/dagger-workspace.schema.json
  docs/static/reference/engine.schema.json
  engine/config/config.go
  engine/config/config_test.go
  engine/engineutil/client.go
  engine/server/server.go
  engine/server/session.go
  engine/server/session_workspaces.go
  internal/buildkit/cmd/buildkitd/config/config.go
Owners: @dagger/docs

core: align @check with @generate on required arguments
  core/integration/checks_test.go
  core/integration/testdata/checks/badcheck-arg/dagger.json
  core/integration/testdata/checks/badcheck-arg/main.dang
  core/integration/testdata/checks/check-workspace-arg/dagger.json
  core/integration/testdata/checks/check-workspace-arg/main.dang
  core/module.go
Owners: none

dagql: reduce e-graph result-removal contention (#13888)
  dagql/cache.go
  dagql/cache_canonical_race_test.go
  dagql/cache_egraph.go
  dagql/cache_egraph_indexes_test.go
  dagql/cache_persistence_import.go
  dagql/cache_persistence_import_test.go
  dagql/cache_test.go
  internal-docs/cache_persistence.md
  internal-docs/egraph.md
Owners: none

dagql: reduce e-graph result-removal contention
  dagql/cache.go
  dagql/cache_canonical_race_test.go
  dagql/cache_egraph.go
  dagql/cache_egraph_indexes_test.go
  dagql/cache_persistence_import.go
  dagql/cache_persistence_import_test.go
  dagql/cache_test.go
  skills/cache-expert/references/cache_persistence.md
  skills/cache-expert/references/egraph.md
Owners: none

docs: clarify GOPROXY requires custom engine SYSTEMENV (#13797)
  docs/current_docs/reference/configuration/custom-runner.mdx
  docs/current_docs/reference/configuration/proxy.mdx
Owners: @dagger/docs

rust: return nullable objects
  sdk/rust/crates/dagger-codegen/src/functions.rs
  sdk/rust/crates/dagger-codegen/src/lib.rs
  sdk/rust/crates/dagger-codegen/src/rust/functions.rs
  sdk/rust/crates/dagger-codegen/src/rust/mod.rs
  sdk/rust/crates/dagger-codegen/src/rust/templates/interface_tmpl.rs
  sdk/rust/crates/dagger-sdk/src/core/graphql/introspection_query.graphql
  sdk/rust/crates/dagger-sdk/src/core/graphql/introspection_schema.graphql
  sdk/rust/crates/dagger-sdk/src/core/introspection.rs
Owners: @dagger/sdk-rust

go: return nullable objects
  cmd/codegen/generator/go/templates/functions.go
  cmd/codegen/generator/go/templates/nullable_object_test.go
  cmd/codegen/generator/go/templates/src/_types/object.go.tmpl
  cmd/codegen/generator/go/templates/src/dag/dag.gen.go.tmpl
Owners: none
