Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

fix: secret variable not being set after first call
  core/container.go
  core/integration/secret_test.go
Owners: none

engine: add version gates to new APIs
  core/env.go
  core/integration/module_test.go
  core/module.go
  core/schema/cache.go
  core/schema/checks.go
  core/schema/container.go
  core/schema/directory.go
  core/schema/env.go
  core/schema/http.go
  core/schema/module.go
  core/schema/query.go
  core/schema/workspace.go
  dagql/objects.go
  dagql/server.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  sdk/go/dagger.gen.go
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

test: convert sdk client fixtures
  core/integration/client_generator_test.go
  core/integration/module_python_test.go
  core/integration/module_typescript_test.go
  core/integration/testdata/modules/client-generator/generator-go/dagger.json
  core/integration/testdata/modules/client-generator/generator-go/main.go
  core/integration/testdata/modules/client-generator/generator-typescript/dagger.json
  core/integration/testdata/modules/client-generator/generator-typescript/package.json
  core/integration/testdata/modules/client-generator/generator-typescript/src/index.ts
  core/integration/testdata/modules/client-generator/generator-typescript/tsconfig.json
  core/integration/testdata/modules/python/base-dep/dagger.json
  core/integration/testdata/modules/python/base-dep/pyproject.toml
  core/integration/testdata/modules/python/base-dep/src/dep/__init__.py
  core/integration/testdata/modules/python/base-test/dagger.json
  core/integration/testdata/modules/python/base-test/pyproject.toml
  core/integration/testdata/modules/python/base-test/src/test/__init__.py
  core/integration/testdata/modules/typescript/base-alias/dagger.json
  core/integration/testdata/modules/typescript/base-alias/package.json
  core/integration/testdata/modules/typescript/base-alias/src/index.ts
  core/integration/testdata/modules/typescript/base-alias/tsconfig.json
  core/integration/testdata/modules/typescript/base-dep/dagger.json
  core/integration/testdata/modules/typescript/base-dep/package.json
  core/integration/testdata/modules/typescript/base-dep/src/index.ts
  core/integration/testdata/modules/typescript/base-dep/tsconfig.json
  core/integration/testdata/modules/typescript/base-minimal/dagger.json
  core/integration/testdata/modules/typescript/base-minimal/package.json
  core/integration/testdata/modules/typescript/base-minimal/src/index.ts
  core/integration/testdata/modules/typescript/base-minimal/tsconfig.json
  core/integration/testdata/modules/typescript/base-runtime-detection/dagger.json
  core/integration/testdata/modules/typescript/base-runtime-detection/package.json
  core/integration/testdata/modules/typescript/base-runtime-detection/src/index.ts
  core/integration/testdata/modules/typescript/base-runtime-detection/tsconfig.json
  core/integration/testdata/modules/typescript/base-syntax/dagger.json
  core/integration/testdata/modules/typescript/base-syntax/package.json
  core/integration/testdata/modules/typescript/base-syntax/src/index.ts
  core/integration/testdata/modules/typescript/base-syntax/tsconfig.json
  core/integration/testdata/modules/typescript/base-test/dagger.json
  core/integration/testdata/modules/typescript/base-test/package.json
  core/integration/testdata/modules/typescript/base-test/src/index.ts
  core/integration/testdata/modules/typescript/base-test/tsconfig.json
  future/integration-test-fixtures.md
Owners: none

test: convert one-off module fixtures
  core/integration/cacert_test.go
  core/integration/client_test.go
  core/integration/container_test.go
  core/integration/module_up_test.go
  core/integration/testdata/modules/go/cacert-terminal/dagger.json
  core/integration/testdata/modules/go/cacert-terminal/main.go
  core/integration/testdata/modules/go/container-save-nested/dagger.json
  core/integration/testdata/modules/go/container-save-nested/main.go
  core/integration/testdata/modules/go/module-up-23100/dagger.json
  core/integration/testdata/modules/go/module-up-23100/main.go
  core/integration/testdata/modules/go/module-up-23200/dagger.json
  core/integration/testdata/modules/go/module-up-23200/main.go
  core/integration/testdata/modules/go/workspace-compat-blueprint/dagger.json
  core/integration/testdata/modules/go/workspace-compat-blueprint/main.go
  core/integration/workspace_compat_test.go
  future/integration-test-fixtures.md
Owners: none

fixes issue where user defaults are incorrectly expanded
  core/envfile.go
  core/integration/user_defaults_test.go
Owners: none

test: convert small host cli fixtures
  core/integration/envfile_test.go
  core/integration/gitcredential_test.go
  core/integration/module_deprecation_test.go
  core/integration/testdata/modules/go/base-test/dagger.json
  core/integration/testdata/modules/go/base-test/main.go
  core/integration/testdata/modules/go/envfile-secret-file/dagger.json
  core/integration/testdata/modules/go/envfile-secret-file/dep/dagger.json
  core/integration/testdata/modules/go/envfile-secret-file/dep/main.go
  core/integration/testdata/modules/go/envfile-secret-file/main.go
  core/integration/testdata/modules/go/gitcredential-private-dir/dagger.json
  core/integration/testdata/modules/go/gitcredential-private-dir/dep/dagger.json
  core/integration/testdata/modules/go/gitcredential-private-dir/dep/main.go
  core/integration/testdata/modules/go/gitcredential-private-dir/main.go
  core/integration/testdata/modules/go/workspace-selection-files-standalone/dagger.json
  core/integration/testdata/modules/go/workspace-selection-files-standalone/main.go
  core/integration/testdata/modules/go/workspace-selection-nester/dagger.json
  core/integration/testdata/modules/go/workspace-selection-nester/main.go
  core/integration/workspace_selection_test.go
  future/integration-test-fixtures.md
Owners: none

test: convert terminal module fixtures
  core/integration/module_terminal_test.go
  core/integration/testdata/modules/go/terminal-attachable/dagger.json
  core/integration/testdata/modules/go/terminal-attachable/main.go
  core/integration/testdata/modules/go/terminal-basic/dagger.json
  core/integration/testdata/modules/go/terminal-basic/main.go
  core/integration/testdata/modules/go/terminal-bound-service-crash/dagger.json
  core/integration/testdata/modules/go/terminal-bound-service-crash/main.go
  core/integration/testdata/modules/go/terminal-default/dagger.json
  core/integration/testdata/modules/go/terminal-default/main.go
  core/integration/testdata/modules/go/terminal-directory/dagger.json
  core/integration/testdata/modules/go/terminal-directory/main.go
  core/integration/testdata/modules/go/terminal-nested-client/dagger.json
  core/integration/testdata/modules/go/terminal-nested-client/main.go
  core/integration/testdata/modules/go/terminal-on-failure/dagger.json
  core/integration/testdata/modules/go/terminal-on-failure/main.go
  core/integration/testdata/modules/go/terminal-override-args/dagger.json
  core/integration/testdata/modules/go/terminal-override-args/main.go
  future/integration-test-fixtures.md
Owners: none

core: treat private cache sharing as locked
  core/container_exec.go
  core/schema/cache.go
Owners: none

test: convert legacy module fixtures
  core/integration/legacy_test.go
Owners: none

test: remove dynamic module init helpers
  core/integration/module_helpers_test.go
  future/integration-test-fixtures.md
Owners: none

Handle empty plaintext secret handles
  core/integration/user_defaults_test.go
  core/secret.go
Owners: none

docs: remove completed integration fixture plan
  future/integration-test-fixtures.md
Owners: none

bump docusaurus-plugin-copy-page-button to ^0.5.2
  docs/package.json
Owners: @dagger/docs

incus: harden runtime support and image extraction
  engine/client/drivers/incus.go
  engine/client/drivers/incus_test.go
  engine/client/imageload/incus.go
  engine/client/imageload/incus_test.go
  network/netinst/resolvconf.go
  network/netinst/resolvconf_test.go
Owners: none

fix: restore private resolvers for engine startup
  core/integration/provision_test.go
  network/netinst/resolvconf.go
  network/netinst/resolvconf_test.go
Owners: none

feat: add --fail-on-cache-miss flag to dagger command
  cmd/dagger/cache_miss_test.go
  cmd/dagger/engine.go
  cmd/dagger/functions.go
Owners: none

regen CLI reference docs with --include-experimental and restore missing commands
  docs/current_docs/reference/cli/index.mdx
Owners: @dagger/docs

cmd/dagger: add call-twice wrapper and improve fail-on-cache-miss diagnostic
  cmd/dagger/cache_miss_test.go
  cmd/dagger/call.go
  cmd/dagger/functions.go
  cmd/dagger/main.go
Owners: none

cmd/dagger: reset fail-on-cache-miss changedInputs each run
  cmd/dagger/functions.go
Owners: none

chore(deps): bump opentelemetry log packages from v0.17.0 to v0.19.0
  .changes/unreleased/Dependencies-20260517-145553.yaml
  go.mod
  go.sum
  sdk/go/go.mod
Owners: @dagger/sdk-go

cli: add `dagger module-checks` command
  cmd/dagger/main.go
  cmd/dagger/module_checks.go
  internal/cloud/checks.go
  internal/cloud/trace.go
Owners: none

skills: add `ci-debug` skill for triaging CI check failures
  skills/ci-debug/SKILL.md
Owners: none

dagql: dedupe session calls across clients (#13118)
  cmd/dagger/functions.go
  core/query.go
  core/schema/host.go
  core/schema/test_server_test.go
  core/secret.go
  core/session_resource_fallback.go
  core/session_resource_fallback_test.go
  core/socket.go
  core/telemetry_test.go
  dagql/cache.go
  dagql/cache_test.go
  dagql/dagql_test.go
  dagql/objects.go
  engine/server/session.go
Owners: none

fix(sdk/rust): resolve list-of-object fields by loading each by id
  sdk/rust/crates/dagger-codegen/src/rust/functions.rs
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/rust/crates/dagger-sdk/src/querybuilder.rs
  sdk/rust/crates/dagger-sdk/tests/mod.rs
Owners: @dagger/sdk-rust

chore: rebase PR and regenerate the Rust SDK
  sdk/rust/crates/dagger-sdk/src/gen.rs
Owners: @dagger/sdk-rust

Lock TypeScript SDK yarn cache
  toolchains/typescript-sdk-dev/ts-sdk.dang
Owners: none

docs: mark cache expert references current
  skills/cache-expert/SKILL.md
Owners: none

fix: secret variable not being set after first call (#13159)
  core/container.go
  core/integration/secret_test.go
Owners: none

Support toolchain customizations propogating in cross-module `dag.toolchain()` calls
  core/integration/toolchain_test.go
  core/schema/modulesource.go
  core/workspace/legacy.go
  engine/server/session_workspaces.go
Owners: none

fix: revalidate runtime live-source deps
  core/container_exec.go
  core/modfunc.go
  core/sdk/dang_sdk.go
  dagql/cache.go
  dagql/cache_egraph.go
  dagql/cache_live_sources.go
  dagql/cache_persistence_contracts.go
  dagql/cache_persistence_import.go
  dagql/cache_persistence_import_test.go
  dagql/cache_persistence_worker.go
  dagql/cache_test.go
  dagql/call_request.go
  dagql/persistdb/mirror_state.go
  dagql/persistdb/schema.sql
  engine/opts.go
Owners: none

test: reproduce inline dependency contextual dir cache bug
  core/integration/cross_session_test.go
Owners: none

cache: validate nested live source dependencies
  core/changeset.go
  dagql/cache.go
  dagql/cache_egraph.go
  dagql/cache_live_sources.go
  dagql/cache_persistence_import_test.go
  dagql/cache_persistence_self.go
  dagql/cache_persistence_self_test.go
  dagql/cache_test.go
Owners: none

test: reproduce dagql persistence shutdown failures
  core/integration/engine_persistence_test.go
Owners: none

add test for non-namespaced user defaults
  core/integration/user_defaults_test.go
Owners: none

core: persist container withNewFile lazy hits
  core/container.go
  core/integration/engine_persistence_test.go
Owners: none

core: persist function source module names
  core/typedef.go
Owners: none

fixes issue where user defaults are incorrectly expanded (#13160)
  core/envfile.go
  core/integration/user_defaults_test.go
Owners: none

core: persist container withNewFile lazy hits (#13178)
  core/container.go
  core/integration/engine_persistence_test.go
  core/typedef.go
Owners: none

Add repro for persisted source-backed cache mount sharing
  core/integration/engine_persistence_test.go
Owners: none

Lock TypeScript SDK yarn cache (#13172)
  toolchains/typescript-sdk-dev/ts-sdk.dang
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
