Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

Release previous snapshot transfers after restoring durable owners
  core/snapshot_transfer_test.go
  engine/server/server.go
  engine/snapshots/lease.go
Owners: none

docs: record container part persistence validation
  hack/designs/remote-cache/per-part-persistence.html
  internal-docs/cache_persistence.md
  internal-docs/cache_pruning.md
  internal-docs/lazy_evaluation.md
Owners: none

Prove snapshot reuse from persisted SQLite rows
  core/snapshot_transfer_test.go
Owners: none

snapshots: cancel export waiters and verify local transfer ownership
  core/snapshot_transfer_test.go
  engine/engineutil/containerimage_lifetime_test.go
  engine/engineutil/imageexport/lifetime_test.go
  engine/snapshots/blobs.go
  engine/snapshots/export_lock.go
  engine/snapshots/import_test.go
  engine/snapshots/manager.go
  engine/snapshots/testutil/store.go
Owners: none

snapshots: model immutable chain transfer lifetime
  .dagger/modules/tla-check/main.go
  dagql/tla/README.md
  dagql/tla/SnapshotChain.tla
  dagql/tla/SnapshotChain_export.cfg
  dagql/tla/SnapshotChain_import.cfg
Owners: none

snapshots: model new export content on existing owners
  dagql/tla/README.md
  dagql/tla/SnapshotChain.tla
  dagql/tla/SnapshotChain_export.cfg
  dagql/tla/SnapshotChain_import.cfg
Owners: none

Record snapshot model and physical transfer evidence
  dagql/tla/README.md
  dagql/tla/SnapshotChain_export.cfg
  dagql/tla/SnapshotChain_import.cfg
  engine/snapshots/pull.go
  engine/snapshots/remote.go
Owners: none

changes: document container part persistence
  .changes/unreleased/Fixed-20260905-054258.yaml
Owners: none

dagql: release abandoned arbitrary values after completion
  dagql/cache_arbitrary.go
  dagql/cache_arbitrary_lifetime_test.go
  engine/engineutil/containerimage_lifetime_test.go
Owners: none

changes: record snapshot chain reuse and ownership fixes
  .changes/unreleased/Fixed-20260905-091132.yaml
Owners: none

snapshots: import immutable chains with owned resource pins
  core/cache_test.go
  dagql/cache_snapshot_persistence_test.go
  engine/engineutil/client.go
  engine/engineutil/containerimage.go
  engine/engineutil/imageexport/publish.go
  engine/engineutil/imageexport/writer.go
  engine/server/server.go
  engine/snapshots/blobs.go
  engine/snapshots/import.go
  engine/snapshots/lease.go
  engine/snapshots/manager.go
  engine/snapshots/persistent_metadata.go
  engine/snapshots/pull.go
  engine/snapshots/refs.go
  engine/snapshots/remote.go
  engine/snapshots/remote_type.go
Owners: none

test: place complexity notes with container persistence
  core/integration/engine_persistence_test.go
  dagql/cache.go
Owners: none

core: clean up persisted container lint findings
  core/container.go
  core/container_persistence.go
  core/container_persistence_debug.go
  core/container_persistence_test.go
Owners: none

core: verify restored container ownership and reporting
  core/container_parts.go
  core/container_persistence.go
  core/container_persistence_test.go
  core/integration/engine_persistence_test.go
  dagql/cache.go
Owners: none

snapshots: check reuse evidence at byte boundaries
  dagql/tla/README.md
  dagql/tla/SnapshotChain.tla
Owners: none

Allow canceled imports to leave shared layer waits
  engine/snapshots/import_test.go
  engine/snapshots/keyed_lock.go
  engine/snapshots/manager.go
  engine/snapshots/manager_test.go
  engine/snapshots/pull.go
Owners: none

docs: define reusable snapshot chain foundations
  hack/designs/remote-cache/result-foundations.html
Owners: none

dagql: report stored whole-result opens as completed computation
  dagql/cache.go
  dagql/cache_parts_test.go
Owners: none

docs: explain deferred snapshot restoration and list identity
  hack/designs/remote-cache/directory-file-deferred-opening.md
Owners: none

test: report early prepared image completion
  engine/engineutil/containerimage_lifetime_test.go
Owners: none

docs: clarify test revisions and fixture limits
  hack/designs/remote-cache/directory-file-deferred-opening.md
Owners: none

snapshots: clarify import and lifetime lint intent
  dagql/cache_arbitrary_lifetime_test.go
  engine/engineutil/imageexport/writer.go
  engine/snapshots/import_test.go
  engine/snapshots/pull.go
Owners: none

core: observe saved snapshot opens across engine restarts
  core/directory.go
  core/file.go
  core/integration/engine_persistence_test.go
  core/integration/testdata/modules/go/persisted-directory-list/dagger.json
  core/integration/testdata/modules/go/persisted-directory-list/main.go
  core/snapshot_transfer_test.go
  core/stored_snapshot.go
  core/stored_snapshot_composition_test.go
  core/stored_snapshot_debug.go
  core/stored_snapshot_test.go
Owners: none

core: defer opening persisted directory and file snapshots
  core/container_persistence_test.go
  core/directory.go
  core/file.go
  core/persisted_object.go
  core/schema/container.go
  core/schema/directory.go
  core/schema/file.go
  core/stored_snapshot.go
  core/stored_snapshot_composition_test.go
  core/stored_snapshot_test.go
  internal-docs/cache_persistence.md
  internal-docs/dagqltypes.md
  internal-docs/lazy_evaluation.md
Owners: none

dagql: restore persisted list children through their exact rows
  dagql/cache_persistence_import.go
  dagql/cache_persistence_list_test.go
  dagql/cache_persistence_self.go
Owners: none

test: probe read-only mounts before snapshot fixtures
  engine/snapshots/testutil/store.go
Owners: none

core: assert saved list row decoding after restart
  core/integration/engine_persistence_test.go
Owners: none

docs: satisfy Markdown formatting rules
  hack/designs/remote-cache/directory-file-deferred-opening.md
Owners: none

changes: record deferred snapshot restoration
  .changes/unreleased/Fixed-20260909-210823.yaml
Owners: none

docs: update shell rename references
  .changes/unreleased/Added-20260901-14031.yaml
  .changes/unreleased/Deprecated-20260723-014900.yaml
  future/cli-global-flag-scoping.md
  internal/cmd/dagger/workspace_test.go
  skills/tui-surfacing/SKILL.md
Owners: none

fix(core): preserve legacy terminal nesting behavior
  core/schema/container.go
Owners: none

fix(core): preserve legacy output nesting defaults
  core/schema/container.go
Owners: none

fix(cli): explain unavailable engine runtimes
  .changes/unreleased/Fixed-20260908-181300.yaml
  engine/client/drivers/apple.go
  engine/client/drivers/availability.go
  engine/client/drivers/availability_test.go
  engine/client/drivers/docker.go
  engine/client/drivers/driver.go
Owners: none

test(core): cover legacy nesting forwarding
  core/schema/nesting_test.go
Owners: none

feat(workspace): add frozen checkpoints
  .changes/unreleased/Added-20260905-120000.yaml
  core/integration/workspace_checkpoint_test.go
  core/schema/git.go
  core/schema/host.go
  core/schema/workspace.go
  core/schema/workspace_checkpoint.go
  core/schema/workspace_module.go
  core/workspace.go
  dagql/objects.go
  dagql/recipe_classification.go
  dagql/recipe_classification_test.go
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  engine/engineutil/git_capture.go
  engine/session/git/git.go
  engine/session/git/git.pb.go
  engine/session/git/git.proto
  engine/session/git/git_capture.go
  engine/session/git/git_capture_test.go
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

feat(workspace): commit frozen git workspaces
  .changes/unreleased/Added-20260905-180000.yaml
  core/integration/workspace_commit_test.go
  core/schema/workspace.go
  core/schema/workspace_checkpoint.go
  core/schema/workspace_commit.go
  core/schema/workspace_commit_test.go
  core/workspace.go
  core/workspace_commit.go
  core/workspace_commit_test.go
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  engine/engineutil/client.go
  engine/server/session_workspaces.go
  engine/session/git/git.pb.go
  engine/session/git/git.proto
  engine/session/git/git_config.go
  engine/session/git/git_test.go
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

fix(workspace): retain checkpoint directories
  .changes/unreleased/Fixed-20260905-210000.yaml
  core/integration/workspace_checkpoint_test.go
  core/schema/workspace_checkpoint.go
Owners: none

feat(workspace): export frozen git workspaces
  .changes/unreleased/Added-20260905-200000.yaml
  core/integration/testdata/modules/go/workspace-export-sandbox/main.go
  core/integration/workspace_api_test.go
  core/integration/workspace_export_test.go
  core/schema/workspace.go
  core/schema/workspace_export.go
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  engine/engineutil/git_apply.go
  engine/session/git/git.go
  engine/session/git/git.pb.go
  engine/session/git/git.proto
  engine/session/git/git_apply.go
  engine/session/git/git_apply_test.go
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

feat(workspace): pull frozen git commits
  .changes/unreleased/Added-20260905-220000.yaml
  core/changeset.go
  core/integration/workspace_pull_test.go
  core/schema/workspace.go
  core/schema/workspace_pull.go
  core/workspace_commit_pick.go
  core/workspace_pull.go
  core/workspace_pull_test.go
  docs/current_docs/reference/api/workspace-commit-pick.mdx
  docs/current_docs/reference/api/workspace-migration-step.mdx
  docs/current_docs/reference/api/workspace-migration.mdx
  docs/current_docs/reference/api/workspace-module-setting.mdx
  docs/current_docs/reference/api/workspace-module.mdx
  docs/current_docs/reference/api/workspace-sdk.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger.html
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/Dagger/WorkspaceCommitPick.html
  docs/static/reference/php/classes.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  docs/static/reference/php/doctum.js
  docs/static/reference/php/traits.html
  docs/versioned_docs/version-1.0-beta/api/reference/workspace-commit-pick.mdx
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/elixir/lib/dagger/gen/workspace_commit_pick.ex
  sdk/elixir/lib/dagger/gen/workspace_commit_pick_reason.ex
  sdk/elixir/lib/dagger/gen/workspace_commit_pick_status.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/php/generated/WorkspaceCommitPick.php
  sdk/php/generated/WorkspaceCommitPickReason.php
  sdk/php/generated/WorkspaceCommitPickStatus.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

feat(cli): show and save agent workspace commits
  .changes/unreleased/Added-20260905-235500.yaml
  docs/current_docs/reference/cli/index.mdx
  internal/cmd/dagger/agent.go
  internal/cmd/dagger/functions.go
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/llm_changes.go
  internal/cmd/dagger/llm_changes_test.go
Owners: @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
