Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

chore(gitutil): gofmt test file
  util/gitutil/short_sha_test.go
Owners: none

regen
  docs/docs-graphql/schema.graphqls
Owners: @dagger/docs

chore: bump VERSION to v1.0.0-beta.13
  docs/current_docs/partials/version.js
  helm/dagger/Chart.yaml
  internal/version/VERSION
  sdk/elixir/lib/dagger/core/version.ex
  sdk/go/engineconn/version.gen.go
  sdk/java/dagger-codegen-maven-plugin/pom.xml
  sdk/java/dagger-java-annotation-processor/pom.xml
  sdk/java/dagger-java-samples/pom.xml
  sdk/java/dagger-java-sdk/pom.xml
  sdk/java/pom.xml
  sdk/java/runtime/template/pom.xml
  sdk/php/src/Connection/version.php
  sdk/python/src/dagger/_engine/_version.py
  sdk/rust/Cargo.lock
  sdk/rust/Cargo.toml
  sdk/typescript/src/provisioning/default.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-java, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

future: design workspace config include
  future/done/workspace-include.md
Owners: none

core: resolve an included workspace config
  core/workspace_include.go
  core/workspace_include_test.go
  core/workspace_remote.go
  core/workspace_remote_test.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

core/workspace: add the dagger.toml include key and its merge
  core/workspace/config.go
  core/workspace/config_document.go
  core/workspace/include.go
  core/workspace/include_test.go
Owners: none

engine/server: apply workspace includes during workspace load
  engine/server/session_workspaces.go
Owners: none

core/schema: report the effective config on every read path
  core/schema/modulesource.go
  core/schema/workspace_builders.go
  core/schema/workspace_config.go
  core/schema/workspace_install.go
  core/schema/workspace_test.go
Owners: none

core/integration: cover an include's own modules
  core/integration/workspace_include_test.go
Owners: none

docs: document workspace includes
  .changes/unreleased/Added-20260812-153000.yaml
  .changes/unreleased/Changed-20260825-120000.yaml
  docs/current_docs/config/includes.mdx
  docs/current_docs/config/index.mdx
  docs/current_docs/config/user.mdx
  docs/current_docs/reference/cli/index.mdx
  docs/current_docs/reference/config-files/dagger-toml.mdx
  docs/sidebars.ts
  docs/static/reference/dagger-workspace.schema.json
  internal/cmd/dagger/workspace.go
Owners: @dagger/docs

core/integration: cover workspace includes end to end
  core/integration/workspace_include_test.go
Owners: none

core/gitref: keep an explicit HTTP(S) port in the clone ref
  .changes/unreleased/Fixed-20260902-120000.yaml
  core/gitref/gitref.go
  core/gitref/gitref_test.go
Owners: none

core: address an included config's own modules
  core/workspace_include.go
  core/workspace_include_test.go
Owners: none

core/integration: pin that included modules reach the command tree
  core/integration/workspace_include_test.go
  future/done/workspace-include.md
Owners: none

core/integration: follow the CLI's flag-capability gating
  core/integration/workspace_include_test.go
Owners: none

docs: an include brings its own modules
  .changes/unreleased/Added-20260812-153000.yaml
  docs/current_docs/config/includes.mdx
  docs/current_docs/reference/config-files/dagger-toml.mdx
  future/done/workspace-include.md
Owners: @dagger/docs

docs: satisfy markdownlint in the include docs
  docs/current_docs/config/includes.mdx
  future/done/workspace-include.md
Owners: @dagger/docs

future: plan automatic checks for engine-injected SDK generators
  future/synthetic-sdk-generate-checks.md
Owners: none

core/schema: derive a check from each synthetic SDK generator
  core/schema/workspace.go
Owners: none

core: run synthetic SDK generators as checks
  core/checks.go
  core/schema/checks.go
  core/schema/generators.go
  core/schema/workspace_sdk_generator.go
Owners: none

core/integration: cover checks derived from SDK generators
  core/integration/checks_test.go
  core/integration/testdata/workspaces/sdk-generate-check/.dagger/modules/alpha-sdk-checked/dagger.json
  core/integration/testdata/workspaces/sdk-generate-check/.dagger/modules/alpha-sdk-checked/main.dang
  core/integration/testdata/workspaces/sdk-generate-check/.dagger/modules/alpha-sdk/dagger.json
  core/integration/testdata/workspaces/sdk-generate-check/.dagger/modules/alpha-sdk/main.dang
  core/integration/testdata/workspaces/sdk-generate-check/.dagger/modules/beta-sdk/dagger.json
  core/integration/testdata/workspaces/sdk-generate-check/.dagger/modules/beta-sdk/main.dang
  core/integration/testdata/workspaces/sdk-generate-check/dagger.toml
Owners: none

future: archive the synthetic SDK generate-check plan
  future/done/synthetic-sdk-generate-checks.md
Owners: none

bump next version to v1.0.0-beta.14
  internal/version/VERSION
Owners: none

bump engineVersion for modules/go
  .dagger/modules/go/dagger-module.toml
Owners: none

dagger.lock
  dagger.lock
Owners: none

chore: generate release
  docs/current_docs/partials/version.js
  helm/dagger/Chart.yaml
  sdk/elixir/lib/dagger/core/version.ex
  sdk/go/engineconn/version.gen.go
  sdk/java/dagger-codegen-maven-plugin/pom.xml
  sdk/java/dagger-java-annotation-processor/pom.xml
  sdk/java/dagger-java-samples/pom.xml
  sdk/java/dagger-java-sdk/pom.xml
  sdk/java/pom.xml
  sdk/java/runtime/template/pom.xml
  sdk/php/src/Connection/version.php
  sdk/python/src/dagger/_engine/_version.py
  sdk/rust/Cargo.lock
  sdk/rust/Cargo.toml
  sdk/typescript/src/provisioning/default.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-java, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

chore: dagger ws migrate
  dagger.toml
Owners: none

chore: bump go and dang sdks in dagger.toml
  dagger.toml
Owners: none

chore: dagger ws update
  .dagger/modules/cli-dev/internal/dagger/dagger.gen.go
  .dagger/modules/dev/dagger-module.toml
  .dagger/modules/docs-dev/internal/dagger/dagger.gen.go
  .dagger/modules/engine-dev/dagger-module.toml
  .dagger/modules/engine-dev/internal/dagger/dagger.gen.go
  .dagger/modules/go/internal/dagger/dagger.gen.go
  .dagger/modules/go/internal/dagger/go.gen.go
  .dagger/modules/go/internal/dagger/wolfi.gen.go
  .dagger/modules/php-client-dev/internal/dagger/dagger.gen.go
  .dagger/modules/python-client-dev/dagger-module.toml
  .dagger/modules/python-client-dev/internal/dagger/dagger.gen.go
  .dagger/modules/release/apko/internal/dagger/dagger.gen.go
  .dagger/modules/release/dagger-module.toml
  .dagger/modules/release/gh/internal/dagger/dagger.gen.go
  .dagger/modules/release/internal/dagger/dagger.gen.go
  .dagger/modules/rust-client-dev/internal/dagger/dagger.gen.go
  dagger.lock
  modules/git-releaser/internal/dagger/dagger.gen.go
  modules/wolfi/internal/dagger/dagger.gen.go
Owners: none

chore: git.Head().Commit() -> git.Head().CommitSHA()
  .dagger/modules/go/main.go
Owners: none

feat(engine): make cgroup metrics sampling interval configurable
  .changes/unreleased/Added-20260907-120000.yaml
  docs/static/reference/engine.schema.json
  engine/config/config.go
  engine/config/config_test.go
  engine/engineutil/client.go
  engine/engineutil/executor_spec.go
  engine/server/server.go
  engine/server/telemetry_config.go
  engine/server/telemetry_config_test.go
  engine/server/telemetry_config_toml_test.go
  internal/buildkit/cmd/buildkitd/config/config.go
Owners: @dagger/docs

fix(engine-dev): build clients from test source
  .dagger/modules/engine-dev/main.go
Owners: none

feat(tui): expose subtree timings in QA console
  .dagger/modules/tui-qa/main.dang
  dagql/idtui/frontend_console.go
  dagql/idtui/frontend_console_test.go
Owners: none

fix(core): stop re-resolving deps in CurrentModule source APIs
  .changes/unreleased/Fixed-20260914-180000.yaml
  core/schema/module.go
  core/schema/modulesource.go
  core/schema/workspace_migrate.go
Owners: none

add button to return to docs home from 404 page
  docs/src/theme/NotFound/Content/index.tsx
Owners: @dagger/docs

add button to return to docs home from 404 page (#14146)
  docs/src/theme/NotFound/Content/index.tsx
Owners: @dagger/docs

fix(secrets): trim command output newlines
  .changes/unreleased/Fixed-20260906-010000.yaml
  core/integration/address_test.go
  engine/client/secretprovider/cmd.go
  engine/client/secretprovider/cmd_test.go
Owners: none

feat(api): expose the current timestamp
  .changes/unreleased/Added-20260905-235900.yaml
  core/integration/engine_test.go
  core/schema/query.go
  docs/docs-graphql/schema.graphqls
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/php/generated/Client.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

chore(api): add semantic graphql sdl diff
  hack/sdl-diff/README.md
  hack/sdl-diff/diff.go
  hack/sdl-diff/diff_test.go
  hack/sdl-diff/main.go
  hack/sdl-diff/main_test.go
Owners: none

fix(git): preserve detached heads in bundles
  core/git_bundle.go
  core/git_bundle_test.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
