Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

feat(schema): resolve asSDK client on the bound workspace
  core/current_module_as_sdk.go
  core/integration/generators_test.go
  core/schema/module_as_sdk.go
Owners: none

debug generate ci failure
  modules/daggerverse/internal/dagger/go.gen.go
  toolchains/cli-dev/internal/dagger/go.gen.go
  toolchains/docs-dev/internal/dagger/go.gen.go
  toolchains/engine-dev/internal/dagger/go.gen.go
  toolchains/go/dagger.gen.go
  toolchains/go/main.go
Owners: none

feat(schema): require workspace arg on asSDK
  core/integration/generators_test.go
  core/schema/module.go
  core/schema/module_as_sdk.go
Owners: none

temporarily point tests to go-sdk branch
  core/integration/generators_test.go
Owners: none

regen with main dev engine
  toolchains/cli-dev/internal/dagger/dagger.gen.go
  toolchains/docs-dev/internal/dagger/dagger.gen.go
  toolchains/engine-dev/internal/dagger/dagger.gen.go
  toolchains/go/internal/dagger/dagger.gen.go
  toolchains/release/internal/dagger/dagger.gen.go
Owners: none

fix: name container image blobs by media type
  core/container.go
  core/integration/container_test.go
  core/schema/container.go
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Container.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/container.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Container.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

fix dagger-dang-sdk:generate-all
  core/integration/testdata/modules/dang/enum-dependency/dagger.json
Owners: none

toolchains/changelog: use Workspace
  toolchains/changelog/main.dang
Owners: none

fix changelog:generate
  toolchains/changelog/main.dang
Owners: none

uninstall toolchains/go
  dagger.toml
Owners: none

engine-dev: defaultPath -> Workspace
  toolchains/engine-dev/dagger-module.toml
  toolchains/engine-dev/dagger.gen.go
  toolchains/engine-dev/internal/dagger/dagger.gen.go
  toolchains/engine-dev/internal/dagger/engine-dev.gen.go
  toolchains/engine-dev/main.go
Owners: none

toolchains/security: use Workspace
  .dagger/migration-report.md
  dagger.toml
  toolchains/security/main.dang
Owners: none

regen dang sdks
  core/integration/testdata/workspaces/workspace-managed/modules/cwd/dagger.json
Owners: none

fix engine-dev source filter to keep dagger.toml
  toolchains/engine-dev/main.go
Owners: none

fix hack/dev and hack/build
  hack/build
  hack/dev
Owners: none

test: isolate generator persistence fixture from repo
  core/integration/engine_persistence_test.go
Owners: none

test: strip dagger.toml in TestContextParallel
  core/integration/module_path_inputs_test.go
Owners: none

hack/build: use -M
  hack/build
Owners: none

feat(llm)!: bind the LLM to a Workspace
  cmd/codegen/introspection/filters.go
  core/env.go
  core/integration/llm_workspace_test.go
  core/integration/workspace_api_test.go
  core/llm.go
  core/mcp.go
  core/prompts/outputs.md
  core/prompts/writable.md
  core/schema/env.go
  core/schema/llm.go
  core/schema/workspace.go
  core/workspace.go
  internal/cmd/dagger/llm.go
Owners: none

feat(core): resolve module context via workspace
  core/mcp.go
  core/modfunc.go
  core/modulesource.go
  core/modulesource_test.go
  core/workspace_context.go
Owners: none

feat(llm): record workspace edits as patches, not operations
  core/mcp.go
Owners: none

docs(design): add workspace-agents as-built design doc
  hack/designs/workspace-agents.md
Owners: none

test: rework Env-era fixtures for the workspace world
  core/integration/testdata/checks/hello-with-checks/main.go
  core/integration/testdata/services/hello-with-services/main.go
  core/integration/up_test.go
Owners: none

fix(schema): gate the agent-era API surface to v1
  core/schema/agents.go
  core/schema/llm.go
  core/schema/module.go
  core/schema/workspace.go
Owners: none

chore(sdk/go): regen dag client without Env
  sdk/go/dag/dag.gen.go
Owners: @dagger/sdk-go

feat(tui): surface LLM conversations like checks
  dagql/dagui/conversation.go
  dagql/dagui/conversation_test.go
  dagql/dagui/db.go
  dagql/idtui/conversation_report.go
  dagql/idtui/conversation_report_test.go
  dagql/idtui/frontend_pretty.go
Owners: none

chore(codegen): drop Env from the extendable types
  cmd/codegen/introspection/filters.go
  cmd/codegen/introspection/testdata/keep_core_and_test_expected_schema.json
  cmd/codegen/introspection/testdata/keep_sub1_and_sub2_expected_schema.json
  cmd/codegen/introspection/testdata/keep_sub1_expected_schema.json
Owners: none

chore: regen docs + sdks
  sdk/python/src/dagger/client/gen.py
Owners: @dagger/sdk-python

feat(cli): rework the LLM session UX
  dagql/dagui/db.go
  dagql/dagui/llm_token_metrics_test.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/statusline.go
  internal/cmd/dagger/functions.go
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/shell.go
  internal/cmd/dagger/shell_commands.go
  internal/cmd/dagger/token_format_test.go
Owners: none

test(llm): convert replay recordings to messages-export keys
  core/integration/llm_object_tools_test.go
  core/integration/llmtest/hello-world.golden
Owners: none

tests(llm): update API usage, not fully passing
  core/integration/llm_test.go
  core/integration/llmtest/allow-llm.golden
  core/integration/llmtest/api-limit.golden
  core/integration/llmtest/go-programmer/main.dang
Owners: none

feat(cli): tell the model about restore-time conflict markers
  internal/cmd/dagger/llm.go
Owners: none

feat(core): add onConflict to Directory.withPatch
  core/directory.go
  core/directory_patch_test.go
  core/integration/directory_test.go
  core/schema/directory.go
Owners: none

regen go sdk to unbreak cli
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

feat(llm)!: generate tools from bound objects, eliminate Env
  core/container_exec.go
  core/env.go
  core/ids.go
  core/integration/llm_object_tools_test.go
  core/integration/llm_workspace_test.go
  core/llm.go
  core/llm_object_tools.go
  core/llm_object_tools_test.go
  core/mcp.go
  core/modfunc.go
  core/modulesource.go
  core/object.go
  core/prompts/basics.md
  core/prompts/fs.go
  core/prompts/static.md
  core/query.go
  core/schema/coremod.go
  core/schema/env.go
  core/schema/llm.go
  core/schema/test_server_test.go
  core/sdk.go
  core/sdk/dang/shared/shared.go
  core/sdk/dang/v1/helpers.go
  core/sdk/dang/v1/sdk.go
  core/sdk/dang/v2/helpers.go
  core/sdk/dang/v2/sdk.go
  core/service.go
  core/telemetry_test.go
  core/workspace_context.go
  docs/current_docs/extending/types/env.mdx
  engine/engineutil/client.go
  engine/engineutil/executor.go
  engine/engineutil/executor_spec.go
  engine/server/session.go
  engine/server/session_workspaces.go
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/mcp.go
  skills/tui-qa/SKILL.md
Owners: @dagger/docs

test(llm): rewrite go-programmer for the object-tools world
  core/integration/llm_test.go
  core/integration/llmtest/go-programmer/.gitignore
  core/integration/llmtest/go-programmer/dagger.json
  core/integration/llmtest/go-programmer/main.dang
  core/integration/llmtest/go-programmer/toy-workspace/.gitattributes
  core/integration/llmtest/go-programmer/toy-workspace/.gitignore
  core/integration/llmtest/go-programmer/toy-workspace/dagger.gen.go
  core/integration/llmtest/go-programmer/toy-workspace/dagger.json
  core/integration/llmtest/go-programmer/toy-workspace/go.mod
  core/integration/llmtest/go-programmer/toy-workspace/go.sum
  core/integration/llmtest/go-programmer/toy-workspace/internal/dagger/dagger.gen.go
  core/integration/llmtest/go-programmer/toy-workspace/main.go
  core/integration/llmtest/hello-world.golden
Owners: none

feat(llm): add skill discovery and reading tools
  core/llm_skills.go
  core/llm_skills_test.go
  core/mcp.go
Owners: none

test(llm): derive replay recordings from the engine
  core/integration/llm_object_tools_test.go
  core/integration/llm_test.go
  core/integration/llmtest/allow-llm.golden
  core/integration/llmtest/api-limit.golden
  core/integration/llmtest/hello-world.golden
Owners: none

fix(llm): add context tokens, fix cache accounting
  core/llm.go
  core/llm_anthropic.go
  core/llm_context_tokens_test.go
  core/llm_google.go
  core/llm_openai.go
  core/llm_openai_codex.go
  core/schema/llm.go
Owners: none

docs: drop hand-written references to the Env type
  docs/current_docs/extending/type-system/core-types.mdx
  docs/current_docs/extending/types/index.mdx
  docs/plugins/dagger-api-reference/coreTypes.js
Owners: @dagger/docs
