Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

chore: regenerate workspace API outputs
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger.html
  docs/static/reference/php/Dagger/Directory.html
  docs/static/reference/php/Dagger/GitRepository.html
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/classes.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/directory.ex
  sdk/elixir/lib/dagger/gen/git_repository.ex
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Directory.php
  sdk/php/generated/GitRepository.php
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

docs: record synthetic workspace API cleanup
  future/workspace-api-cleanup.md
Owners: none

cmd/dagger: handle slash-style workspace cwd
  cmd/dagger/migrate.go
  cmd/dagger/migrate_test.go
  cmd/dagger/workspace.go
  cmd/dagger/workspace_test.go
Owners: none

test: cover synthetic workspace roots
  core/integration/contextual_workspace_test.go
  core/integration/workspace_config_test.go
  core/integration/workspace_cwd_test.go
  core/integration/workspace_selection_test.go
  core/integration/workspace_synthetic_test.go
  core/integration/workspace_test.go
  core/schema/workspace_test.go
Owners: none

cloud: add check report client path
  cmd/dagger/cloud_checks.go
  cmd/dagger/cloud_checks_test.go
  future/check-report-endpoint.md
  internal/cloud/check_reports.go
  internal/cloud/check_reports_test.go
  internal/cloud/graphql.go
Owners: none

chore: regenerate php-sdk:api
  docs/static/reference/php/Dagger/Directory.html
  docs/static/reference/php/Dagger/GitRepository.html
  docs/static/reference/php/Dagger/Workspace.html
Owners: @dagger/docs

Add docs version dropdown
  docs/docusaurus.config.ts
Owners: @dagger/docs

Exclude versioned docs from docs lint checks
  .markdownlintignore
  toolchains/python-sdk-dev/main.go
Owners: none

Regenerate Dagger runtime clients
  toolchains/all-sdks/internal/dagger/python-sdk-dev.gen.go
  toolchains/release/internal/dagger/python-sdk-dev.gen.go
Owners: none

Speed up docs production builds
  docs/docusaurus.config.ts
  docs/package.json
  docs/yarn.lock
Owners: @dagger/docs

Support docs preview base URLs
  docs/docusaurus.config.ts
Owners: @dagger/docs

Serve current docs at next
  docs/_README.md
  docs/docusaurus.config.ts
Owners: @dagger/docs

Show docs version selector on mobile
  docs/docusaurus.config.ts
  docs/src/css/custom.scss
Owners: @dagger/docs

docs: default version selector to latest release
  docs/versions.json
Owners: @dagger/docs

docs: default version selector to latest release
  docs/versions.json
Owners: @dagger/docs

engine: add TOML value type and File.asTOML
  .changes/unreleased/Added-20260605-094408.yaml
  core/file.go
  core/ids.go
  core/integration/tomlvalue_test.go
  core/schema/coremod.go
  core/schema/file.go
  core/schema/query.go
  core/schema/tomlvalue.go
  core/schema/tomlvalue_test.go
  core/toml.go
  core/tomlpath/tomlpath.go
  core/tomlpath/tomlpath_test.go
  core/tomlvalue.go
  core/workspace/config_document.go
Owners: none

sdk: regenerate clients for TOML support
  cmd/codegen/generator/go/templates/lint_name.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger.html
  docs/static/reference/php/Dagger/Binding.html
  docs/static/reference/php/Dagger/Client.html
  docs/static/reference/php/Dagger/Env.html
  docs/static/reference/php/Dagger/TOML.html
  docs/static/reference/php/Dagger/TOMLValue.html
  docs/static/reference/php/Dagger/TOMLValueId.html
  docs/static/reference/php/classes.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  docs/static/reference/php/doctum.js
  docs/static/reference/php/traits.html
  sdk/elixir/lib/dagger/gen/binding.ex
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/elixir/lib/dagger/gen/env.ex
  sdk/elixir/lib/dagger/gen/file.ex
  sdk/elixir/lib/dagger/gen/toml.ex
  sdk/elixir/lib/dagger/gen/toml_value.ex
  sdk/elixir/lib/dagger/gen/toml_value_id.ex
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/php/generated/Binding.php
  sdk/php/generated/Client.php
  sdk/php/generated/Env.php
  sdk/php/generated/File.php
  sdk/php/generated/TOML.php
  sdk/php/generated/TOMLValue.php
  sdk/php/generated/TOMLValueId.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

update sdk docs, type-system docs, and interfaces
  docs/current_docs/extending/sdks/dang.mdx
  docs/current_docs/extending/sdks/go.mdx
  docs/current_docs/extending/sdks/python.mdx
  docs/current_docs/extending/sdks/typescript.mdx
  docs/current_docs/extending/type-system/arguments-and-return-values.mdx
  docs/current_docs/extending/type-system/constructors-fields-methods.mdx
  docs/current_docs/extending/type-system/core-types.mdx
  docs/current_docs/extending/type-system/designing-for-composability.mdx
  docs/current_docs/extending/type-system/enums-and-validation.mdx
  docs/current_docs/extending/type-system/index.mdx
  docs/current_docs/extending/type-system/scalars-lists-nullability-defaults.mdx
  docs/current_docs/extending/type-system/type-design-clinics.mdx
  docs/current_docs/extending/type-system/user-defined-object-types.mdx
  docs/sidebars.ts
Owners: @dagger/docs

fix(dang): don't require id field for interface conformance (#13318)
  core/integration/module_dang_test.go
  core/integration/testdata/modules/dang/test-interface/dagger.json
  core/integration/testdata/modules/dang/test-interface/dep/dagger.json
  core/integration/testdata/modules/dang/test-interface/dep/main.dang
  core/integration/testdata/modules/dang/test-interface/main.dang
  core/sdk/dang_helpers.go
  core/sdk/dang_sdk.go
  go.mod
  go.sum
Owners: none

update sdk docs, type-system docs, and interfaces (#13338)
  docs/current_docs/extending/sdks/dang.mdx
  docs/current_docs/extending/sdks/go.mdx
  docs/current_docs/extending/sdks/python.mdx
  docs/current_docs/extending/sdks/typescript.mdx
  docs/current_docs/extending/type-system/arguments-and-return-values.mdx
  docs/current_docs/extending/type-system/constructors-fields-methods.mdx
  docs/current_docs/extending/type-system/core-types.mdx
  docs/current_docs/extending/type-system/designing-for-composability.mdx
  docs/current_docs/extending/type-system/enums-and-validation.mdx
  docs/current_docs/extending/type-system/index.mdx
  docs/current_docs/extending/type-system/scalars-lists-nullability-defaults.mdx
  docs/current_docs/extending/type-system/type-design-clinics.mdx
  docs/current_docs/extending/type-system/user-defined-object-types.mdx
  docs/sidebars.ts
Owners: @dagger/docs

test: cover registry manifest metadata reuse
  core/integration/container_registry_cache_test.go
Owners: none

fix: cache registry image metadata
  dagql/idtui/testdata/TestTelemetry/TestGolden/docker-build-fail
  engine/server/resolver/metadata.go
  engine/server/resolver/resolver.go
Owners: none

test: cover registry tag updates with metadata cache
  core/integration/container_registry_cache_test.go
Owners: none

feat(docs): generate core API reference from schema
  docs/current_docs/reference/api/cache-volume.mdx
  docs/current_docs/reference/api/container.mdx
  docs/current_docs/reference/api/current-module.mdx
  docs/current_docs/reference/api/directory.mdx
  docs/current_docs/reference/api/env.mdx
  docs/current_docs/reference/api/file.mdx
  docs/current_docs/reference/api/git-repository.mdx
  docs/current_docs/reference/api/index.mdx
  docs/current_docs/reference/api/llm.mdx
  docs/current_docs/reference/api/secret.mdx
  docs/current_docs/reference/api/service.mdx
  docs/docusaurus.config.ts
  docs/package.json
  docs/plugins/dagger-api-reference/coreTypes.js
  docs/plugins/dagger-api-reference/generate-stubs.js
  docs/plugins/dagger-api-reference/index.ts
  docs/plugins/dagger-api-reference/schema.js
  docs/sidebars.ts
  docs/src/components/api/ApiType.tsx
  docs/src/components/api/Badge.tsx
  docs/src/components/api/FieldCard.tsx
  docs/src/components/api/FieldIndex.tsx
  docs/src/components/api/Markdown.tsx
  docs/src/components/api/Signature.tsx
  docs/src/components/api/TypeRef.tsx
  docs/src/components/api/data.ts
  docs/src/components/api/styles.module.scss
  docs/yarn.lock
  toolchains/docs-dev/main.go
Owners: @dagger/docs

style(docs): underline reference index links on hover
  docs/src/components/api/styles.module.scss
Owners: @dagger/docs

style(docs): float doc content on a white sheet
  docs/src/css/custom.scss
Owners: @dagger/docs

style(docs): scale base font to 90% and pad inline code
  docs/src/css/custom.scss
Owners: @dagger/docs

feat(docs): surface more of the schema in API reference
  docs/plugins/dagger-api-reference/schema.js
  docs/src/components/api/ApiType.tsx
  docs/src/components/api/Badge.tsx
  docs/src/components/api/EnumValues.tsx
  docs/src/components/api/FieldCard.tsx
  docs/src/components/api/References.tsx
  docs/src/components/api/TypeRef.tsx
  docs/src/components/api/data.ts
  docs/src/components/api/styles.module.scss
Owners: @dagger/docs

fix(docs): remove white fringe behind dark code blocks
  docs/src/css/custom.scss
Owners: @dagger/docs

style(docs): polish generated API reference
  docs/current_docs/reference/api/cache-volume.mdx
  docs/current_docs/reference/api/container.mdx
  docs/current_docs/reference/api/current-module.mdx
  docs/current_docs/reference/api/directory.mdx
  docs/current_docs/reference/api/env.mdx
  docs/current_docs/reference/api/file.mdx
  docs/current_docs/reference/api/git-repository.mdx
  docs/current_docs/reference/api/llm.mdx
  docs/current_docs/reference/api/secret.mdx
  docs/current_docs/reference/api/service.mdx
  docs/plugins/dagger-api-reference/generate-stubs.js
  docs/src/components/api/ApiType.tsx
  docs/src/components/api/FieldCard.tsx
  docs/src/components/api/FieldIndex.tsx
  docs/src/components/api/Signature.tsx
  docs/src/components/api/styles.module.scss
  docs/src/css/custom.scss
Owners: @dagger/docs

style(docs): darken obsidian palette color to #13112b
  docs/src/css/custom.scss
Owners: @dagger/docs

style(docs): derive dark code border from obsidian variable
  docs/src/css/custom.scss
Owners: @dagger/docs

style(docs): derive obsidian from inkberry by lightness
  docs/src/css/custom.scss
Owners: @dagger/docs

style(docs): tint the dark note admonition background
  docs/src/css/custom.scss
Owners: @dagger/docs

docs: remove 1.0 beta from version selector
  docs/docusaurus.config.ts
  docs/sidebars.ts
  docs/versions.json
Owners: @dagger/docs

fix: treat incomplete image metadata as cache miss
  engine/server/resolver/metadata.go
  engine/server/resolver/metadata_test.go
  engine/server/resolver/resolver.go
Owners: none

fix: treat incomplete image metadata as cache miss (#13346)
  engine/server/resolver/metadata.go
  engine/server/resolver/metadata_test.go
  engine/server/resolver/resolver.go
Owners: none

chore: regenerate
  docs/current_docs/reference/cli/index.mdx
Owners: @dagger/docs

Only load requested workspace files
  core/schema/workspace.go
Owners: none

feat(docs): refine API reference arguments
  docs/plugins/dagger-api-reference/schema.js
  docs/src/components/api/EnumValues.tsx
  docs/src/components/api/FieldCard.tsx
  docs/src/components/api/data.ts
  docs/src/components/api/styles.module.scss
Owners: @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
