Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

fix(core): attach never-cached module function results (#13298)
  core/integration/module_test.go
  core/modfunc.go
  core/modfunc_test.go
  core/typedef.go
Owners: none

dagql/call: hash recipes with alternate receiver digests
  dagql/call/id.go
  dagql/call/id_test.go
Owners: none

dagql: publish request-local cache hit transforms
  dagql/cache.go
  dagql/cache_egraph.go
  dagql/cache_persistence_resolver.go
  dagql/call_request.go
Owners: none

docs: document container volatile variables
  docs/current_docs/cookbook/containers.mdx
  docs/current_docs/extending/modules/function-caching.mdx
  docs/current_docs/partials/types/_container.mdx
Owners: @dagger/docs

core: add container volatile variables
  core/container.go
  core/container_exec.go
  core/healthcheck.go
  core/integration/container_test.go
  core/integration/container_volatile_test.go
  core/schema/container.go
  core/service.go
Owners: none

dagql: add volatile cache edge-case tests and scope comment
  dagql/cache_egraph.go
  dagql/cache_test.go
Owners: none

fix lint: gofmt alignment and duplicate container clone block
  core/container_exec.go
  core/schema/container.go
Owners: none

dagql: test volatile session-resource cache invariants
  dagql/cache_test.go
Owners: none

docs: update workspace onboarding for beta CLI
  docs/current_docs/adopting/triggers/index.mdx
  docs/current_docs/adopting/workspace-setup.mdx
  docs/current_docs/extending/snippets/testing/python/src/greeter/__init__.py
  docs/current_docs/getting-started/quickstart.mdx
  docs/current_docs/getting-started/quickstarts/agent/snippets/part1/java/pom.xml
  docs/current_docs/introduction/core-concepts/checks.mdx
  docs/current_docs/introduction/core-concepts/functions.mdx
  docs/current_docs/introduction/core-concepts/index.mdx
  docs/current_docs/introduction/core-concepts/modules.mdx
  docs/current_docs/introduction/core-concepts/workspaces.mdx
  docs/current_docs/reference/configuration/modules.mdx
  docs/current_docs/reference/upgrade-to-workspaces.mdx
Owners: @dagger/docs

docs: restructure module developer guide
  docs/current_docs/extending/design-principles.mdx
  docs/current_docs/extending/directives.mdx
  docs/current_docs/extending/editions/dang.mdx
  docs/current_docs/extending/editions/go/index.mdx
  docs/current_docs/extending/editions/java/index.mdx
  docs/current_docs/extending/editions/php/index.mdx
  docs/current_docs/extending/editions/python/index.mdx
  docs/current_docs/extending/editions/typescript/index.mdx
  docs/current_docs/extending/errors.mdx
  docs/current_docs/extending/index.mdx
  docs/current_docs/extending/interfaces.mdx
  docs/current_docs/extending/module-anatomy.mdx
  docs/current_docs/extending/module-quality.mdx
  docs/current_docs/extending/objects-and-state.mdx
  docs/current_docs/extending/platform-features.mdx
  docs/current_docs/extending/platform-model.mdx
  docs/current_docs/extending/sdks/dang.mdx
  docs/current_docs/extending/sdks/go.mdx
  docs/current_docs/extending/sdks/index.mdx
  docs/current_docs/extending/sdks/java.mdx
  docs/current_docs/extending/sdks/php.mdx
  docs/current_docs/extending/sdks/python.mdx
  docs/current_docs/extending/sdks/typescript.mdx
  docs/current_docs/extending/testing.mdx
  docs/current_docs/extending/type-system/arguments-and-return-values.mdx
  docs/current_docs/extending/type-system/constructors-fields-methods.mdx
  docs/current_docs/extending/type-system/core-types.mdx
  docs/current_docs/extending/type-system/designing-for-composability.mdx
  docs/current_docs/extending/type-system/enums-and-validation.mdx
  docs/current_docs/extending/type-system/index.mdx
  docs/current_docs/extending/type-system/scalars-lists-nullability-defaults.mdx
  docs/current_docs/extending/type-system/type-design-clinics.mdx
  docs/current_docs/extending/type-system/user-defined-object-types.mdx
  docs/current_docs/extending/when-to-create-module.mdx
  docs/sidebars.ts
Owners: @dagger/docs

docs: integrate platform fundamentals into module guide
  docs/current_docs/adopting/scaling/index.mdx
  docs/current_docs/extending/index.mdx
  docs/current_docs/extending/platform-fundamentals/caching.mdx
  docs/current_docs/extending/platform-fundamentals/checks.mdx
  docs/current_docs/extending/platform-fundamentals/functions.mdx
  docs/current_docs/extending/platform-fundamentals/index.mdx
  docs/current_docs/extending/platform-fundamentals/modules.mdx
  docs/current_docs/extending/platform-fundamentals/workspaces.mdx
  docs/current_docs/extending/platform-model.mdx
  docs/current_docs/getting-started/index.mdx
  docs/current_docs/introduction/core-concepts/caching.mdx
  docs/current_docs/introduction/core-concepts/checks.mdx
  docs/current_docs/introduction/core-concepts/functions.mdx
  docs/current_docs/introduction/core-concepts/index.mdx
  docs/current_docs/introduction/core-concepts/modules.mdx
  docs/current_docs/introduction/core-concepts/workspaces.mdx
  docs/current_docs/reference/configuration/cloud.mdx
  docs/sidebars.ts
Owners: @dagger/docs

use name only in content digest for volatile vars
  core/container.go
  core/container_exec.go
  core/integration/container_volatile_test.go
  core/schema/container.go
  dagql/cache.go
  dagql/cache_egraph.go
  dagql/cache_persistence_resolver.go
Owners: none

disable TestVolatileVariableCacheHitKeepsEachContainerValue
  core/integration/container_volatile_test.go
Owners: none

chore: lint related cleanup
  core/integration/container_volatile_test.go
  core/schema/container.go
  dagql/call_request.go
Owners: none

Revert "dagql/call: hash recipes with alternate receiver digests"
  dagql/call/id.go
  dagql/call/id_test.go
Owners: none

fix: move connects into each volatile subtest
  core/integration/container_test.go
  core/integration/container_volatile_test.go
Owners: none

chore: generate
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Container.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/container.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Container.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

docs: fold core concepts into module guide
  docs/current_docs/adopting/scaling/index.mdx
  docs/current_docs/extending/design-principles.mdx
  docs/current_docs/extending/directives.mdx
  docs/current_docs/extending/errors.mdx
  docs/current_docs/extending/how-dagger-works/cache.mdx
  docs/current_docs/extending/how-dagger-works/checks.mdx
  docs/current_docs/extending/how-dagger-works/execution.mdx
  docs/current_docs/extending/how-dagger-works/functions.mdx
  docs/current_docs/extending/how-dagger-works/index.mdx
  docs/current_docs/extending/how-dagger-works/modules.mdx
  docs/current_docs/extending/how-dagger-works/workspaces.mdx
  docs/current_docs/extending/index.mdx
  docs/current_docs/extending/module-anatomy.mdx
  docs/current_docs/extending/module-quality.mdx
  docs/current_docs/extending/objects-and-state.mdx
  docs/current_docs/extending/platform-features.mdx
  docs/current_docs/extending/platform-model.mdx
  docs/current_docs/getting-started/index.mdx
  docs/current_docs/introduction/core-concepts/caching.mdx
  docs/current_docs/introduction/core-concepts/checks.mdx
  docs/current_docs/introduction/core-concepts/functions.mdx
  docs/current_docs/introduction/core-concepts/index.mdx
  docs/current_docs/introduction/core-concepts/modules.mdx
  docs/current_docs/introduction/core-concepts/workspaces.mdx
  docs/current_docs/reference/configuration/cloud.mdx
  docs/sidebars.ts
Owners: @dagger/docs

docs: add official module catalog skeleton
  docs/current_docs/modules/biomejs.mdx
  docs/current_docs/modules/bun.mdx
  docs/current_docs/modules/eslint.mdx
  docs/current_docs/modules/go.mdx
  docs/current_docs/modules/helm.mdx
  docs/current_docs/modules/index.mdx
  docs/current_docs/modules/jest.mdx
  docs/current_docs/modules/mochajs.mdx
  docs/current_docs/modules/node.mdx
  docs/current_docs/modules/prettier.mdx
  docs/current_docs/modules/psscriptanalyzer.mdx
  docs/current_docs/modules/pytest.mdx
  docs/current_docs/modules/sdk-sdk.mdx
  docs/current_docs/modules/setup.mdx
  docs/current_docs/modules/shellcheck.mdx
  docs/current_docs/modules/vitest.mdx
  docs/sidebars.ts
Owners: @dagger/docs

docs: remove setup from module catalog
  docs/current_docs/modules/index.mdx
  docs/current_docs/modules/setup.mdx
  docs/sidebars.ts
Owners: @dagger/docs

cmd/dagger: show install address in recommendations
  cmd/dagger/mod.go
  cmd/dagger/mod_test.go
Owners: none

docs: expand module catalog pages
  docs/current_docs/modules/biomejs.mdx
  docs/current_docs/modules/bun.mdx
  docs/current_docs/modules/eslint.mdx
  docs/current_docs/modules/go.mdx
  docs/current_docs/modules/helm.mdx
  docs/current_docs/modules/index.mdx
  docs/current_docs/modules/jest.mdx
  docs/current_docs/modules/mochajs.mdx
  docs/current_docs/modules/node.mdx
  docs/current_docs/modules/prettier.mdx
  docs/current_docs/modules/psscriptanalyzer.mdx
  docs/current_docs/modules/pytest.mdx
  docs/current_docs/modules/sdk-sdk.mdx
  docs/current_docs/modules/shellcheck.mdx
  docs/current_docs/modules/vitest.mdx
Owners: @dagger/docs

fix(engine): lease parent layer content for tarball export
  core/integration/localcache_test.go
  engine/snapshots/persistent_metadata.go
Owners: none

bump again for slot -> field rename
  core/sdk/dang_helpers.go
  go.mod
  go.sum
Owners: none

docs: focus module catalog on checks
  docs/current_docs/modules/biomejs.mdx
  docs/current_docs/modules/bun.mdx
  docs/current_docs/modules/eslint.mdx
  docs/current_docs/modules/go.mdx
  docs/current_docs/modules/helm.mdx
  docs/current_docs/modules/index.mdx
  docs/current_docs/modules/jest.mdx
  docs/current_docs/modules/mochajs.mdx
  docs/current_docs/modules/node.mdx
  docs/current_docs/modules/prettier.mdx
  docs/current_docs/modules/psscriptanalyzer.mdx
  docs/current_docs/modules/pytest.mdx
  docs/current_docs/modules/sdk-sdk.mdx
  docs/current_docs/modules/shellcheck.mdx
  docs/current_docs/modules/vitest.mdx
  docs/sidebars.ts
Owners: @dagger/docs

fix(engine): lease parent layer content for tarball export (#13307)
  core/integration/localcache_test.go
  engine/snapshots/persistent_metadata.go
Owners: none

docs: clarify module catalog usage
  docs/current_docs/modules/biomejs.mdx
  docs/current_docs/modules/eslint.mdx
  docs/current_docs/modules/go.mdx
  docs/current_docs/modules/helm.mdx
  docs/current_docs/modules/index.mdx
  docs/current_docs/modules/jest.mdx
  docs/current_docs/modules/node.mdx
  docs/current_docs/modules/prettier.mdx
  docs/current_docs/modules/psscriptanalyzer.mdx
  docs/current_docs/modules/pytest.mdx
  docs/current_docs/modules/shellcheck.mdx
  docs/current_docs/modules/vitest.mdx
Owners: @dagger/docs

fix(layercopy): materialize resolved parent dirs when writing through symlinks
  core/integration/container_test.go
  util/layercopy/dest_linux.go
Owners: none

bump dang (#13306)
  cmd/dagger/listen.go
  cmd/engine/main.go
  core/sdk/dang_helpers.go
  engine/engineutil/executor_spec.go
  go.mod
  go.sum
  toolchains/all-sdks/go.mod
  toolchains/all-sdks/go.sum
  toolchains/cli-dev/go.mod
  toolchains/cli-dev/go.sum
  toolchains/engine-dev/go.mod
  toolchains/engine-dev/go.sum
  toolchains/go/go.mod
  toolchains/go/go.sum
  toolchains/release/go.mod
  toolchains/release/go.sum
Owners: none

fix(layercopy): materialize resolved parent dirs when writing through… (#13308)
  core/integration/container_test.go
  util/layercopy/dest_linux.go
Owners: none

Volatile vars (#13223)
  core/container.go
  core/container_exec.go
  core/healthcheck.go
  core/integration/container_test.go
  core/integration/container_volatile_test.go
  core/schema/container.go
  core/service.go
  dagql/cache.go
  dagql/cache_test.go
  docs/current_docs/cookbook/containers.mdx
  docs/current_docs/extending/modules/function-caching.mdx
  docs/current_docs/partials/types/_container.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Container.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/container.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Container.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

core: add Workspace.git API
  core/integration/workspace_test.go
  core/schema/workspace.go
  core/workspace.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger.html
  docs/static/reference/php/Dagger/Binding.html
  docs/static/reference/php/Dagger/Client.html
  docs/static/reference/php/Dagger/Env.html
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/Dagger/WorkspaceGit.html
  docs/static/reference/php/Dagger/WorkspaceGitId.html
  docs/static/reference/php/classes.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  docs/static/reference/php/doctum.js
  docs/static/reference/php/traits.html
  sdk/elixir/lib/dagger/gen/binding.ex
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/elixir/lib/dagger/gen/env.ex
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/elixir/lib/dagger/gen/workspace_git.ex
  sdk/elixir/lib/dagger/gen/workspace_git_id.ex
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/php/generated/Binding.php
  sdk/php/generated/Client.php
  sdk/php/generated/Env.php
  sdk/php/generated/Workspace.php
  sdk/php/generated/WorkspaceGit.php
  sdk/php/generated/WorkspaceGitId.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

core: add Workspace.git API
  core/integration/workspace_test.go
  core/schema/workspace.go
  core/workspace.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger.html
  docs/static/reference/php/Dagger/Binding.html
  docs/static/reference/php/Dagger/Client.html
  docs/static/reference/php/Dagger/Env.html
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/Dagger/WorkspaceGit.html
  docs/static/reference/php/Dagger/WorkspaceGitId.html
  docs/static/reference/php/classes.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  docs/static/reference/php/doctum.js
  docs/static/reference/php/traits.html
  sdk/elixir/lib/dagger/gen/binding.ex
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/elixir/lib/dagger/gen/env.ex
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/elixir/lib/dagger/gen/workspace_git.ex
  sdk/elixir/lib/dagger/gen/workspace_git_id.ex
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/php/generated/Binding.php
  sdk/php/generated/Client.php
  sdk/php/generated/Env.php
  sdk/php/generated/Workspace.php
  sdk/php/generated/WorkspaceGit.php
  sdk/php/generated/WorkspaceGitId.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

Show root usage when dagger has no args
  cmd/dagger/main.go
  cmd/dagger/suite_test.go
  core/integration/llm_test.go
  core/integration/module_shell_test.go
Owners: none

Show root usage when dagger has no args
  cmd/dagger/main.go
  cmd/dagger/suite_test.go
  core/integration/llm_test.go
  core/integration/module_shell_test.go
Owners: none

fix: authenticate private git module dependencies during codegen
  core/integration/module_private_deps_test.go
  core/modulesource.go
Owners: none

fix: fall back to originating client git credentials for trusted dep resolution
  core/schema/git.go
Owners: none

chore: re-gen
  docs/current_docs/reference/cli/index.mdx
Owners: @dagger/docs

feat(sdk/elixir): implement self call support
  core/integration/module_elixir_test.go
  core/integration/testdata/modules/elixir/self-calls/dagger.json
  core/integration/testdata/modules/elixir/self-calls/lib/self_calls.ex
  core/integration/testdata/modules/elixir/self-calls/mix.exs
  core/integration/testdata/modules/elixir/self-calls/mix.lock
  sdk/elixir/.changes/unreleased/Added-20260411-162310.yaml
  sdk/elixir/lib/dagger/mod.ex
  sdk/elixir/lib/mix/tasks/dagger.entrypoint.invoke.ex
  sdk/elixir/runtime/main.go
Owners: @dagger/sdk-elixir

chore: bump dependencies to v0.21.4
  core/sdk/go_sdk.go
  docs/current_docs/partials/version.js
  helm/dagger/Chart.yaml
  lib/dagger/core/version.ex
  sdk/go/engineconn/version.gen.go
  sdk/java/dagger-codegen-maven-plugin/pom.xml
  sdk/java/dagger-java-annotation-processor/pom.xml
  sdk/java/dagger-java-samples/pom.xml
  sdk/java/dagger-java-sdk/pom.xml
  sdk/java/pom.xml
  sdk/java/runtime/template/pom.xml
  sdk/php/src/Connection/version.php
  sdk/python/src/dagger/_engine/_version.py
  sdk/rust/Cargo.lock
  sdk/rust/Cargo.toml
  sdk/rust/crates/dagger-sdk/src/core/version.rs
  sdk/typescript/src/provisioning/default.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-java, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript
