Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

core(modtree): fix `--scale-out` error propagation + telemetry (#11903)
  cmd/dagger/generators.go
  core/checks.go
  core/error.go
  core/integration/checks_test.go
  core/integration/generators_test.go
  core/integration/toolchain_test.go
  core/modtree.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Check.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/go/dagger.gen.go
  sdk/php/generated/Check.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

feat: allow passing env thru _EXPERIMENTAL_DAGGER_RUNNER_HOST (#11773)
  engine/client/drivers/container.go
Owners: none

fix(typescript): avoid ts-introspector crash on empty nested src dirs (#11904) (#11905)
  core/integration/module_typescript_test.go
  sdk/typescript/src/module/entrypoint/introspection_entrypoint.ts
Owners: @dagger/sdk-typescript

listen: remove --disable-host-read-write
  cmd/dagger/engine.go
  cmd/dagger/listen.go
  cmd/dagger/module.go
  core/integration/module_test.go
  engine/client/client.go
Owners: none

un-unify `dagger install`, update tests instead
  cmd/dagger/workspace.go
  core/integration/cross_session_test.go
  core/integration/envfile_test.go
  core/integration/legacy_test.go
  core/integration/module_benchmark_test.go
  core/integration/module_call_test.go
  core/integration/module_cli_test.go
  core/integration/module_config_test.go
  core/integration/module_go_test.go
  core/integration/module_iface_test.go
  core/integration/module_python_test.go
  core/integration/module_shell_test.go
  core/integration/module_test.go
  core/integration/module_type_test.go
  core/integration/module_typescript_test.go
  core/integration/secret_test.go
  core/integration/services_test.go
Owners: none

detect: only consider migrateable dagger.jsons
  core/workspace/detect.go
Owners: none

Add nameMatches helper func to simplify matching module and function names with kebab case in customizations
  core/integration/toolchain_test.go
  core/schema/modulesource.go
Owners: none

consolidate -m flag handling
  cmd/dagger/checks.go
  cmd/dagger/engine.go
  cmd/dagger/function_name.go
  cmd/dagger/generators.go
  cmd/dagger/mcp.go
Owners: none

feat: container.WithHealtcheck
  .changes/unreleased/Added-20260225-122158.yaml
  core/integration/container_test.go
  core/schema/container.go
  core/schema/query.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger.html
  docs/static/reference/php/Dagger/Client.html
  docs/static/reference/php/Dagger/Container.html
  docs/static/reference/php/Dagger/HealthcheckConfig.html
  docs/static/reference/php/Dagger/HealthcheckConfigId.html
  docs/static/reference/php/classes.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  docs/static/reference/php/doctum.js
  docs/static/reference/php/traits.html
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/php/generated/Client.php
  sdk/php/generated/Container.php
  sdk/php/generated/HealthcheckConfig.php
  sdk/php/generated/HealthcheckConfigId.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

restore previous module loading behavior
  core/workspace/detect.go
  engine/server/session.go
Owners: none

hack/designs: simplify layout
  hack/designs/blueprint-to-workspace.md
Owners: none

rampup.md: update
  rampup.md
Owners: none

fix(cli): show sibling workspace modules alongside blueprint functions
  cmd/dagger/call.go
  cmd/dagger/functions.go
  cmd/dagger/module_inspect.go
  core/integration/workspace_test.go
Owners: none

ignore dagger.json beside a .dagger/
  engine/server/session.go
Owners: none

Revert "ignore dagger.json beside a .dagger/"
  engine/server/session.go
Owners: none

fix race condition in dagql tests
  dagql/cache_test.go
Owners: none

lazy rootfs is done
  hack/designs/done/workspace-rootfs-laziness.md
Owners: none

docs: draft lockfile design
  hack/designs/lockfile.md
Owners: none

remove Windows ARM v7 from GoReleaser
  .goreleaser.common.yml
Owners: none

remove Windows ARM v7 from GoReleaser (#11913)
  .goreleaser.common.yml
Owners: none

fix: correct default value handling for function parameters
  sdk/python/src/dagger/mod/_analyzer/parser.py
  sdk/python/src/dagger/mod/_analyzer/registration.py
Owners: @dagger/sdk-python

feat(sdk/python): AST based analysis to introspect
  sdk/python/src/dagger/mod/_analyzer/__init__.py
  sdk/python/src/dagger/mod/_analyzer/analyze.py
  sdk/python/src/dagger/mod/_analyzer/errors.py
  sdk/python/src/dagger/mod/_analyzer/metadata.py
  sdk/python/src/dagger/mod/_analyzer/namespace.py
  sdk/python/src/dagger/mod/_analyzer/parser.py
  sdk/python/src/dagger/mod/_analyzer/registration.py
  sdk/python/src/dagger/mod/_analyzer/resolver.py
  sdk/python/src/dagger/mod/_analyzer/visitors/__init__.py
  sdk/python/src/dagger/mod/_analyzer/visitors/annotations.py
  sdk/python/src/dagger/mod/_analyzer/visitors/decorators.py
  sdk/python/src/dagger/mod/cli.py
Owners: @dagger/sdk-python

test: add tests covering the new ast analyzer
  sdk/python/tests/mod/test_ast_analyzer.py
Owners: @dagger/sdk-python

fix: add generate support
  sdk/python/src/dagger/mod/_analyzer/metadata.py
  sdk/python/src/dagger/mod/_analyzer/parser.py
  sdk/python/src/dagger/mod/_analyzer/registration.py
  sdk/python/src/dagger/mod/_analyzer/visitors/decorators.py
Owners: @dagger/sdk-python

chore: lint
  sdk/python/src/dagger/mod/_analyzer/namespace.py
  sdk/python/src/dagger/mod/_analyzer/visitors/annotations.py
  sdk/python/src/dagger/mod/cli.py
  sdk/python/tests/mod/test_ast_analyzer.py
Owners: @dagger/sdk-python

refactor: replace runtime registration with AST-based analysis
  sdk/python/src/dagger/mod/_discovery.py
  sdk/python/src/dagger/mod/_module.py
  sdk/python/src/dagger/mod/cli.py
Owners: @dagger/sdk-python

drivers: add TLS driver for secure engine connections
  .changes/unreleased/Added-20260226-110408.yaml
  engine/client/drivers/dial.go
  engine/client/drivers/tls.go
Owners: none

fix race condition in dagql tests (#11912)
  dagql/cache_test.go
Owners: none

feat(workspace): don't init workspace config from module init
  cmd/dagger/module.go
  core/integration/workspace_test.go
  core/schema/workspace.go
Owners: none

chore: re-generated
  dagql/call/callpbv1/call.pb.go
  internal/buildkit/util/stack/stack.pb.go
Owners: none

workspace tests: add workspace init
  core/integration/workspace_test.go
Owners: none

workspace tests: fix places that need no workspace
  core/integration/workspace_test.go
Owners: none

chore: re-generated (#11915)
  dagql/call/callpbv1/call.pb.go
  internal/buildkit/util/stack/stack.pb.go
Owners: none

feat(workspace): move license creation to engine-side
  cmd/dagger/module.go
  core/schema/licenses.go
  core/schema/licenses/Apache-2.0.txt
  core/schema/workspace.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

fix(workspace): place license at module root, not source subpath
  core/schema/workspace.go
Owners: none

fix(workspace): use cwd for license placement, not context dir
  core/schema/workspace.go
Owners: none

feat: split telemetry from @dagger.io/dagger
  sdk/typescript/eslint.config.js
  sdk/typescript/package.json
  sdk/typescript/rollup.dts.config.mjs
  sdk/typescript/src/connect.ts
  sdk/typescript/src/module/entrypoint/entrypoint.ts
  sdk/typescript/src/telemetry/index.ts
  sdk/typescript/src/telemetry/init.ts
  sdk/typescript/src/telemetry/live_processor.ts
  sdk/typescript/src/telemetry/telemetry.ts
  sdk/typescript/telemetry/.gitignore
  sdk/typescript/telemetry/README.md
  sdk/typescript/telemetry/bun.lock
  sdk/typescript/telemetry/eslint.config.js
  sdk/typescript/telemetry/package.json
  sdk/typescript/telemetry/rollup.config.mjs
  sdk/typescript/telemetry/src/index.ts
  sdk/typescript/telemetry/src/sdk/context_manager.ts
  sdk/typescript/telemetry/src/sdk/index.ts
  sdk/typescript/telemetry/src/sdk/span_processor.ts
  sdk/typescript/telemetry/src/sdk/util.ts
  sdk/typescript/telemetry/src/tracer/index.ts
  sdk/typescript/telemetry/src/tracer/tracer.ts
  sdk/typescript/telemetry/tsconfig.json
  sdk/typescript/telemetry/tsconfig.types.json
  sdk/typescript/yarn.lock
  toolchains/engine-dev/build/sdk.go
  toolchains/typescript-sdk-dev/verify-pkg-version-bump/go.mod
  toolchains/typescript-sdk-dev/verify-pkg-version-bump/go.sum
  toolchains/typescript-sdk-dev/verify-pkg-version-bump/main.go
Owners: @dagger/sdk-typescript

fix ci
  toolchains/typescript-sdk-dev/verify-pkg-version-bump/go.mod
  toolchains/typescript-sdk-dev/verify-pkg-version-bump/go.sum
Owners: none

chore: fix sdk builder local telemetry set
  toolchains/engine-dev/build/sdk.go
Owners: none

chore: fix linter
  sdk/typescript/eslint.config.js
Owners: @dagger/sdk-typescript

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
