Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

cli: fix dagger setup prompts and recommended-module install
  internal/cmd/dagger/engine.go
  internal/cmd/dagger/setup.go
Owners: none

core: keep generated workspace changesets attached
  core/integration/generators_test.go
  core/schema/workspace_client.go
  core/schema/workspace_migrate.go
  core/schema/workspace_module_init.go
Owners: none

chore: generate
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Workspace.html
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-php, @dagger/sdk-python

fix(dagql): treat an optional input decoding to nil as absent
  dagql/nullables.go
Owners: none

fix(cli): omit empty SDK args on module/client init
  internal/cmd/dagger/client.go
  internal/cmd/dagger/module_init.go
Owners: none

fix(core): use the source arg for the module-init workspace overlay
  core/schema/workspace_module_init.go
Owners: none

chore: re-generate golang
  docs/current_docs/reference/cli/index.mdx
Owners: @dagger/docs

test(core/integration): un-skip migrate-via-setup suites
  core/integration/workspace_compat_test.go
  core/integration/workspace_migration_test.go
Owners: none

test(core/integration): drop removed `dagger workspace init`
  core/integration/module_private_deps_test.go
Owners: none

fix(sdk/java): escape angle brackets in generated javadoc (#13483)
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/EnumVisitor.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/Helpers.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/InputVisitor.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/ScalarVisitor.java
Owners: @dagger/sdk-java

add dagger run hidden alias for dagger api exec
  core/integration/engine_test.go
  future/cli-1.0.md
  internal/cmd/dagger/api.go
  internal/cmd/dagger/run.go
  internal/cmd/dagger/workspace_test.go
Owners: none

fix(core/schema): record migration settings-hint failures as warnings
  core/schema/workspace_migrate.go
  migrate-settings-hints-tracking.md
  sdk/go/dagger.gen.go
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/sdk-go, @dagger/sdk-rust, @dagger/sdk-typescript

test(core/integration): skip suites blocked on CLI 1.0 follow-ups
  core/integration/client_generator_test.go
  core/integration/module_source_maps_test.go
  core/integration/workspace_migration_test.go
Owners: none

docs: make generated CLI reference MDX-safe
  docs/current_docs/reference/cli/index.mdx
  internal/cmd/dagger/docsgen/main.go
Owners: @dagger/docs

fix(cli): don't consume the TUI during dynamic SDK-init registration
  internal/cmd/dagger/sdk_init_dynamic.go
Owners: none

fix(cli): install SDK aliases under short names
  core/integration/client_generator_test.go
  core/integration/module_helpers_test.go
  core/integration/module_legacy_helpers_test.go
  core/integration/module_source_maps_test.go
  internal/cmd/dagger/module_init.go
  internal/cmd/dagger/module_init_test.go
  internal/cmd/dagger/sdk.go
Owners: none

fix(workspace): rebase client output paths for SDKs
  core/schema/workspace_client.go
  core/schema/workspace_client_test.go
Owners: none

test(client-generator): use managed client registrations
  core/integration/client_generator_test.go
Owners: none

test(source-maps): generate clients like the other tests
  core/integration/module_helpers_test.go
  core/integration/module_source_maps_test.go
Owners: none

test: fix cli 1.0 CI expectations
  core/integration/client_test.go
  core/integration/module_source_maps_test.go
  internal/cmd/dagger/workspace_test.go
Owners: none

fix(cli): inspect SDKs without serving deps during init registration
  core/integration/workspace_modules_test.go
  internal/cmd/dagger/module_inspect.go
  internal/cmd/dagger/sdk_init_dynamic.go
  internal/cmd/dagger/shell.go
  internal/cmd/dagger/shell_fs.go
Owners: none

feat(cli): add hidden `functions` root alias for `api functions`
  future/cli-1.0.md
  internal/cmd/dagger/call.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/module.go
Owners: none

feat(cli): add hidden `functions` root alias for `api functions`
  future/cli-1.0.md
  internal/cmd/dagger/call.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/module.go
Owners: none

fix(cli): inspect SDKs without serving deps during init registration
  core/integration/workspace_modules_test.go
  internal/cmd/dagger/module_inspect.go
  internal/cmd/dagger/sdk_init_dynamic.go
  internal/cmd/dagger/shell.go
  internal/cmd/dagger/shell_fs.go
Owners: none

ci: fix go lint selecting zero modules (plain CSV default)
  dagger.json
Owners: none

ci: lint go via github.com/dagger/go
  dagger.json
Owners: none

ci: scope go lint out of docs via docs/go.mod
  docs/go.mod
Owners: @dagger/docs

ci: remove now-redundant lint from go toolchain
  modules/daggerverse/internal/dagger/go.gen.go
  modules/dev/internal/dagger/go.gen.go
  toolchains/cli-dev/internal/dagger/go.gen.go
  toolchains/docs-dev/internal/dagger/go.gen.go
  toolchains/engine-dev/internal/dagger/go.gen.go
  toolchains/go/dagger.gen.go
  toolchains/go/main.go
Owners: none

docs: modularize default-address snippet; document docs/go.mod boundary
  docs/current_docs/extending/types/snippets/default-address/go/.gitignore
  docs/current_docs/extending/types/snippets/default-address/go/dagger.json
  docs/current_docs/extending/types/snippets/default-address/go/go.mod
  docs/current_docs/extending/types/snippets/default-address/go/go.sum
  docs/go.mod
Owners: @dagger/docs

fix: use version annotation mutation in persistence test
  core/integration/engine_persistence_test.go
  toolchains/engine-dev/build/builder.go
Owners: none

fix: preserve engine version surfaces
  core/schema/query.go
  engine/version.go
  util/scrub/scrub.go
Owners: none

fix: require git metadata for go builds
  e2e/helm/helm_test.go
Owners: none

fix: mark dev builds with commit tag
  engine/version.go
  engine/version_test.go
  internal/version/VERSION
Owners: none

feat(cli): persist SDK aliases in workspace config
  core/schema/workspace.go
  core/schema/workspace_client.go
  core/schema/workspace_install.go
  core/schema/workspace_module_init.go
  core/schema/workspace_sdk.go
  core/schema/workspace_sdk_test.go
  core/workspace/config.go
  core/workspace/config_test.go
  docs/current_docs/reference/cli/index.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/reference/dagger-workspace.schema.json
  docs/static/reference/php/Dagger/Workspace.html
  future/cli-1.0.md
  internal/cmd/dagger/client.go
  internal/cmd/dagger/client_test.go
  internal/cmd/dagger/module_init.go
  internal/cmd/dagger/module_init_test.go
  internal/cmd/dagger/sdk.go
  internal/cmd/dagger/sdk_init_dynamic.go
  internal/cmd/dagger/sdk_init_dynamic_test.go
  internal/cmd/dagger/sdks.json
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

test: use native workspace fixtures for client generator
  core/integration/client_generator_test.go
  core/integration/client_test.go
  core/integration/testdata/modules/go/source-map-dep/dagger-module.toml
  core/integration/testdata/modules/go/source-map-root/dagger-module.toml
  core/integration/testdata/modules/go/source-map-root/dagger.toml
  core/integration/testdata/modules/typescript/source-map-dep/dagger-module.toml
  core/integration/testdata/modules/typescript/source-map-root/dagger-module.toml
  core/integration/testdata/modules/typescript/source-map-root/dagger.toml
  core/schema/git.go
Owners: none

fix(release): use sdk module init smoke flow
  toolchains/release/dagger.gen.go
  toolchains/release/tests.go
Owners: none

fix(cli): keep silent SDK-init session out of shared telemetry exporters
  internal/cmd/dagger/engine.go
  internal/cmd/dagger/engine_test.go
  internal/cmd/dagger/workspace.go
Owners: none

feat(cli): persist SDK aliases in workspace config
  core/schema/workspace.go
  core/schema/workspace_client.go
  core/schema/workspace_install.go
  core/schema/workspace_module_init.go
  core/schema/workspace_sdk.go
  core/schema/workspace_sdk_test.go
  core/workspace/config.go
  core/workspace/config_test.go
  docs/current_docs/reference/cli/index.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/reference/dagger-workspace.schema.json
  docs/static/reference/php/Dagger/Workspace.html
  future/cli-1.0.md
  internal/cmd/dagger/client.go
  internal/cmd/dagger/client_test.go
  internal/cmd/dagger/module_init.go
  internal/cmd/dagger/module_init_test.go
  internal/cmd/dagger/sdk.go
  internal/cmd/dagger/sdk_init_dynamic.go
  internal/cmd/dagger/sdk_init_dynamic_test.go
  internal/cmd/dagger/sdks.json
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

test: use native workspace fixtures for client generator
  core/integration/client_generator_test.go
  core/integration/client_test.go
  core/integration/testdata/modules/go/source-map-dep/dagger-module.toml
  core/integration/testdata/modules/go/source-map-root/dagger-module.toml
  core/integration/testdata/modules/go/source-map-root/dagger.toml
  core/integration/testdata/modules/typescript/source-map-dep/dagger-module.toml
  core/integration/testdata/modules/typescript/source-map-root/dagger-module.toml
  core/integration/testdata/modules/typescript/source-map-root/dagger.toml
  core/schema/git.go
Owners: none

fix(release): use sdk module init smoke flow
  toolchains/release/dagger.gen.go
  toolchains/release/tests.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
