Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

test: include .gitconfig in expand_home_directory expected entries
  core/integration/module_call_test.go
Owners: none

test: convert cross-session core fixtures
  core/integration/cross_session_test.go
  core/integration/testdata/modules/go/cross-session-context-directory-default/dagger.json
  core/integration/testdata/modules/go/cross-session-context-directory-default/foo.txt
  core/integration/testdata/modules/go/cross-session-context-directory-default/main.go
  core/integration/testdata/modules/go/cross-session-function-args/dagger.json
  core/integration/testdata/modules/go/cross-session-function-args/main.go
  core/integration/testdata/modules/go/cross-session-function-basic/dagger.json
  core/integration/testdata/modules/go/cross-session-function-basic/main.go
  core/integration/testdata/modules/go/cross-session-impl-one/dagger.json
  core/integration/testdata/modules/go/cross-session-impl-one/main.go
  core/integration/testdata/modules/go/cross-session-impl-two/dagger.json
  core/integration/testdata/modules/go/cross-session-impl-two/main.go
  core/integration/testdata/modules/go/cross-session-same-source/dagger.json
  core/integration/testdata/modules/go/cross-session-same-source/dep/dagger.json
  core/integration/testdata/modules/go/cross-session-same-source/dep/main.go
  core/integration/testdata/modules/go/cross-session-same-source/main.go
  core/integration/testdata/modules/go/cross-session-services/dagger.json
  core/integration/testdata/modules/go/cross-session-services/main.go
  core/integration/testdata/modules/go/cross-session-services/servicer/dagger.json
  core/integration/testdata/modules/go/cross-session-services/servicer/main.go
  core/integration/testdata/modules/go/cross-session-socket/dagger.json
  core/integration/testdata/modules/go/cross-session-socket/main.go
Owners: none

docs: remove completed integration fixture plan
  future/integration-test-fixtures.md
Owners: none

fix: skip dagger module uninstall command
  core/integration/module_dependency_cli_test.go
Owners: none

test: align workspace integration fixtures
  core/integration/generators_test.go
  core/integration/up_test.go
  core/integration/workspace_compat_env_test.go
Owners: none

test: remove TestSimple "preserve quotes without namespace" subtest
  core/integration/workspace_compat_env_test.go
Owners: none

test: install cache leak dep as module dependency
  core/integration/engine_test.go
Owners: none

fix LoadChangesetFromID usage
  cmd/dagger/migrate.go
Owners: none

workspace: serve legacy compat modules outside a git repo
  engine/server/session_workspaces.go
Owners: none

test: drop lock-file grep assertion in TestPython/TestProjectLayout
  core/integration/module_python_test.go
Owners: none

fix workspace arg injection without config
  core/integration/workspace_selection_test.go
  core/modfunc.go
Owners: none

Workspaces: dagger mod commands (#13226)
  cmd/dagger/main.go
  cmd/dagger/mod.go
  cmd/dagger/mod_test.go
  cmd/dagger/module.go
  cmd/dagger/modules.json
  cmd/dagger/workspace.go
  core/integration/llmtest/go-programmer/internal/dagger/toy-workspace.gen.go
  core/integration/testdata/modules/go/defaults/internal/dagger/foobar.gen.go
  core/integration/testdata/modules/go/namespacing/internal/dagger/sub-1.gen.go
  core/integration/testdata/modules/go/namespacing/internal/dagger/sub-2.gen.go
  core/integration/testdata/test-blueprint/myblueprint-with-dep/internal/dagger/hello.gen.go
  core/integration/workspace_modules_test.go
  core/schema/workspace.go
  core/schema/workspace_uninstall.go
  dagql/idtui/viztest/dep/internal/dagger/nested-dep.gen.go
  dagql/idtui/viztest/internal/dagger/dep.gen.go
  dagql/idtui/viztest/internal/dagger/versioned.gen.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/doctum-search.json
  modules/evals/testdata/nested-context-middle/internal/dagger/nested-context-leaf.gen.go
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
  toolchains/docs-dev/docusaurus/tests/internal/dagger/docusaurus.gen.go
  toolchains/release/apko/tests/internal/dagger/apko.gen.go
  toolchains/release/gh/tests/internal/dagger/gh.gen.go
  toolchains/release/registry-config/tests/internal/dagger/registry-config.gen.go
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

test: trigger SDK install in TestUv/index-url/error
  core/integration/module_python_test.go
Owners: none

test: run module config fixtures from their repo root
  core/integration/module_config_test.go
Owners: none

chore: fix missed typo
  engine/server/session_workspaces.go
Owners: none

test: relax requires-python in TestVersion/pinned_.python-version
  core/integration/module_python_test.go
Owners: none

test(integration): use legacy id fixtures
  core/integration/legacy_test.go
  core/integration/testdata/modules/go/legacy-load-from-id-compat/dagger.json
  core/integration/testdata/modules/go/legacy-load-from-id-compat/main.go
  core/integration/testdata/modules/python/legacy-load-from-id-compat/dagger.json
  core/integration/testdata/modules/python/legacy-load-from-id-compat/pyproject.toml
  core/integration/testdata/modules/python/legacy-load-from-id-compat/src/test/__init__.py
  core/integration/testdata/modules/typescript/legacy-load-from-id-compat/dagger.json
  core/integration/testdata/modules/typescript/legacy-load-from-id-compat/package.json
  core/integration/testdata/modules/typescript/legacy-load-from-id-compat/src/index.ts
  core/integration/testdata/modules/typescript/legacy-load-from-id-compat/tsconfig.json
Owners: none

test: cover compat install migration guard
  core/integration/workspace_compat_test.go
  core/integration/workspace_migration_test.go
  core/integration/workspace_modules_test.go
Owners: none

test: align proxy and python fixtures with workspace model
  core/integration/module_python_test.go
  core/integration/proxy_test.go
Owners: none

bump dang
  go.mod
  go.sum
Owners: none

test: align module path input fixtures
  core/integration/module_path_inputs_test.go
Owners: none

test: drop stale cwd module inference expectations
  core/integration/module_loading_test.go
  core/integration/workspace_modules_test.go
Owners: none

test: cover module runtime directory export (#13240)
  core/integration/workspace_selection_test.go
Owners: none

tidy
  go.sum
Owners: none

rm unused skipSDKAliasIfDevTag helper
  core/integration/suite_test.go
Owners: none

fix interface source maps assertion
  core/integration/module_source_maps_test.go
Owners: none

sdk: keep Dang imports for restored objects
  core/integration/module_dang_test.go
  core/integration/testdata/modules/dang/workspace-arg/dagger.json
  core/integration/testdata/modules/dang/workspace-arg/main.dang
  core/integration/testdata/modules/dang/workspace-arg/meta.dang
  core/sdk/dang_helpers.go
Owners: none

regen
  docs/current_docs/reference/cli/index.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger.html
  docs/static/reference/php/Dagger/Binding.html
  docs/static/reference/php/Dagger/Env.html
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/Dagger/WorkspaceMigration.html
  docs/static/reference/php/Dagger/WorkspaceMigrationStep.html
  docs/static/reference/php/Dagger/WorkspaceModuleSetting.html
  docs/static/reference/php/classes.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/binding.ex
  sdk/elixir/lib/dagger/gen/env.ex
  sdk/elixir/lib/dagger/gen/module_source.ex
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/elixir/lib/dagger/gen/workspace_migration.ex
  sdk/elixir/lib/dagger/gen/workspace_migration_step.ex
  sdk/elixir/lib/dagger/gen/workspace_module.ex
  sdk/elixir/lib/dagger/gen/workspace_module_setting.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Binding.php
  sdk/php/generated/Env.php
  sdk/php/generated/Workspace.php
  sdk/php/generated/WorkspaceMigration.php
  sdk/php/generated/WorkspaceMigrationStep.php
  sdk/php/generated/WorkspaceModule.php
  sdk/php/generated/WorkspaceModuleSetting.php
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
  single-query-workspace-module-loading.md
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-rust, @dagger/sdk-typescript

test: adapt integration tests to unified IDs and fixture helpers
  core/integration/legacy_test.go
  core/integration/module_runtime_behavior_test.go
  core/integration/shell_test.go
  core/integration/testdata/modules/go/shell-iface-mallard/dagger.json
  core/integration/testdata/modules/go/shell-iface-mallard/main.go
  core/integration/testdata/modules/go/shell-iface-test/dagger.json
  core/integration/testdata/modules/go/shell-iface-test/main.go
Owners: none

test: make module path fixtures select root module
  core/integration/module_path_inputs_test.go
  core/integration/testdata/modules/typescript/path-context-git-03/src/index.ts
Owners: none

recommend modules with dagger mod recommended (#13268)
  cmd/dagger/mod.go
  cmd/dagger/mod_test.go
  cmd/dagger/modules.json
Owners: none

test: restore source map client generation setup
  core/integration/module_source_maps_test.go
Owners: none

test: seed dagql cache leak workload via Dagger Go API instead of dagger module CLI
  core/integration/engine_test.go
Owners: none

test: align secret ID isolation with session scope
  core/integration/module_runtime_behavior_test.go
  core/integration/testdata/modules/go/runtime-secret-id-leak/dagger.json
  core/integration/testdata/modules/go/runtime-secret-id-leak/leaker/dagger.json
  core/integration/testdata/modules/go/runtime-secret-id-leak/leaker/main.go
  core/integration/testdata/modules/go/runtime-secret-id-leak/main.go
Owners: none

dagui: keep completed check results visible
  dagql/dagui/opts.go
  dagql/dagui/opts_test.go
  dagql/dagui/types.go
  dagql/idtui/frontend_pretty.go
Owners: none

test: pre-init parent go.mod in TestClientGenerator/TestConstructorArgs
  core/integration/client_generator_test.go
Owners: none

test: register telemetry golden workspace module
  dagql/idtui/golden_test.go
Owners: none

fix workspace go checks
  cmd/dagger/workspace.go
  core/integration/contextual_workspace_test.go
  core/integration/lockfile_test.go
  core/integration/module_config_test.go
  core/integration/module_helpers_test.go
  core/integration/module_loading_test.go
  core/integration/suite_test.go
  core/integration/workspace_compat_test.go
  core/integration/workspace_config_test.go
  core/integration/workspace_modules_test.go
  core/integration/workspace_selection_test.go
  core/integration/workspace_test.go
  core/schema/workspace_migrate.go
  core/schema/workspace_settings_hints.go
  core/schema/workspace_test.go
  core/workspace/config.go
  engine/server/session_workspaces.go
  go.mod
  go.sum
  toolchains/elixir-sdk-dev/elixir-sdk.dang
  toolchains/typescript-sdk-dev/ts-sdk.dang
Owners: none

test: keep Java defaultPath fixture rooted at work
  core/integration/module_path_inputs_test.go
  core/integration/testdata/modules/java/path-context-git-04/.gitattributes
  core/integration/testdata/modules/java/path-context-git-04/.gitignore
  core/integration/testdata/modules/java/path-context-git-04/dagger.json
  core/integration/testdata/modules/java/path-context-git-04/pom.xml
Owners: none

Add Cloud CLI account foundation
  cmd/dagger/billing_cloud.go
  cmd/dagger/cloud.go
  cmd/dagger/cloud_client.go
  cmd/dagger/cloud_helpers.go
  cmd/dagger/cloud_test.go
  cmd/dagger/integration_cloud.go
  cmd/dagger/integration_cloud_test.go
  cmd/dagger/main.go
  cmd/dagger/org_cloud.go
  cmd/dagger/trace.go
  docs/current_docs/reference/configuration/cloud.mdx
  future/gates.md
  internal/cloud/auth/auth.go
  internal/cloud/auth/auth_test.go
  internal/cloud/graphql.go
  internal/cloud/org_sources.go
Owners: @dagger/docs
