Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

fix: handle builtin module provenance
  core/modtree.go
  core/module.go
  core/modulerefs.go
  core/modulerefs_test.go
  core/modulesource.go
  core/modulesource_test.go
  core/schema/cache.go
  core/schema/modulesource.go
  core/schema/modulesource_test.go
Owners: none

add NixOS-style support to custom CA cert installer
  .changes/unreleased/Added-20260508-220000.yaml
  core/integration/cacert_test.go
  docs/current_docs/reference/configuration/custom-ca.mdx
  engine/engineutil/cacerts/cacerts.go
  engine/engineutil/cacerts/distros.go
  engine/engineutil/containerfs/fs.go
Owners: @dagger/docs

test: fix shell tests for local module init
  core/integration/shell_test.go
Owners: none

Remove 'CWD module' feature.
  core/integration/module_loading_test.go
  core/integration/workspace_modules_test.go
  core/integration/workspace_selection_test.go
  core/integration/workspace_test.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
  hack/designs/workspace-cwd-module.md
  hack/designs/workspace-migration.md
  hack/designs/workspace.md
Owners: none

fix: TestGeneratorsInstalledInWorkspace
  core/integration/generators_test.go
Owners: none

engine: lazily create operation leases
  dagql/cache_test.go
  dagql/operation_lease.go
  engine/server/session.go
  engine/snapshots/blobs.go
  engine/snapshots/containerd/content.go
  engine/snapshots/manager.go
  engine/snapshots/manager_test.go
  engine/snapshots/pull.go
  engine/snapshots/refs.go
  engine/snapshots/remote.go
  engine/snapshots/snapshotter/diffapply_linux.go
  engine/snapshots/snapshotter/merge.go
  internal/buildkit/snapshot/containerd/content.go
  internal/buildkit/snapshot/diffapply_linux.go
  internal/buildkit/snapshot/merge.go
  internal/buildkit/util/leaseutil/manager.go
  internal/buildkit/util/leaseutil/manager_test.go
Owners: none

engine: trim unused lease changes
  internal/buildkit/snapshot/diffapply_linux.go
  internal/buildkit/snapshot/merge.go
  internal/buildkit/util/leaseutil/manager_test.go
Owners: none

test: make module develop calls explicit
  core/integration/module_develop_cli_test.go
Owners: none

fix: skip dagger module uninstall command
  core/integration/module_dependency_cli_test.go
Owners: none

test: install cache leak dep as module dependency
  core/integration/engine_test.go
Owners: none

test: load broken modules explicitly in CLI checks
  core/integration/module_introspection_cli_test.go
Owners: none

fix: TestAddress/TestGit
  core/schema/git.go
Owners: none

ci: configure include filters for "go generate"
  sdk/go/generate.go
Owners: @dagger/sdk-go

fix: TestAddress/TestGit
  core/schema/git.go
Owners: none

test: load standalone modules explicitly
  core/integration/container_test.go
  core/integration/cross_session_test.go
  core/integration/llm_test.go
  core/integration/module_elixir_test.go
  core/integration/module_go_test.go
  core/integration/module_helpers_test.go
  core/integration/module_iface_test.go
  core/integration/module_java_test.go
  core/integration/module_php_test.go
  core/integration/module_python_test.go
  core/integration/module_typescript_test.go
  core/integration/shell_test.go
  toolchains/release/tests.go
Owners: none

test: reproduce remote git snapshot prune failure
  core/integration/localcache_test.go
Owners: none

git: normalize checkout mtimes
  core/git.go
Owners: none

git: rely on dagql cache for remote tree snapshots
  core/cacheref.go
  core/git_remote.go
Owners: none

git: normalize checkout index metadata
  core/git.go
Owners: none

test: load CA cert modules explicitly
  core/integration/cacert_test.go
Owners: none

core: flatten withDirectory chains during evaluation
  core/container.go
  core/directory.go
  core/integration/container_test.go
  core/integration/directory_test.go
Owners: none

core: log lazy evaluation start and end
  core/lazy_state.go
Owners: none

core: remove stale gocyclo nolints
  core/directory.go
Owners: none

dagql: update nested calls telemetry golden
  dagql/idtui/testdata/TestTelemetry/TestGolden/nested-calls
Owners: none

test: load workspace compat fixtures explicitly
  core/integration/workspace_compat_env_test.go
  core/integration/workspace_compat_test.go
Owners: none

test: cover selected workspace host IO boundaries
  core/integration/services_test.go
  core/integration/workspace_selection_test.go
Owners: none

test: load TestCall modules explicitly
  core/integration/module_call_test.go
Owners: none

test: ignore git metadata in directory diff equivalence
  core/integration/directory_test.go
Owners: none

test: query TypeScript subpath module without -m
  core/integration/module_typescript_test.go
Owners: none

move cloud processors to main client providers
  cmd/dagger/engine.go
  engine/client/client.go
  engine/engineutil/executor.go
  engine/server/session.go
  engine/server/telemetry.go
  engine/telemetry/multi.go
  toolchains/test-split/main.dang
Owners: none

test(toolchain): add toolchain uninstall tests
  core/integration/toolchain_test.go
Owners: none

fix(core): guard against nil toolchain entries in moduleSourceRemoveItems
  core/schema/modulesource.go
Owners: none

fix(test): remove unnecessary string() casts in toolchain tests
  core/integration/toolchain_test.go
Owners: none

fix(core): preserve toolchain resolution errors
  core/schema/modulesource.go
Owners: none

test: keep remote defaultPath coverage module-focused
  core/integration/module_path_inputs_test.go
  core/integration/module_remote_workspace_defaultpath_test.go
Owners: none

docs: add changelog entry for stale toolchain uninstall
  .changes/unreleased/Fixed-20260514-014334.yaml
Owners: none

engine: reuse pooled CNI namespaces for default execs
  cmd/engine/main.go
  engine/engineutil/executor_spec.go
  engine/engineutil/executor_spec_test.go
  internal/buildkit/cmd/buildkitd/config/config.go
  internal/buildkit/util/appdefaults/appdefaults.go
  internal/buildkit/util/network/cniprovider/bridge.go
  internal/buildkit/util/network/cniprovider/cni.go
  internal/buildkit/util/network/netproviders/network.go
  internal/buildkit/util/network/netproviders/network_linux.go
  internal/buildkit/util/network/netproviders/network_nobridge.go
Owners: none

go: tidy after removing bridge provider
  go.mod
Owners: none

core: batch container withDirectory chain materialization
  core/container.go
Owners: none

test: load standalone module fixtures explicitly
  core/integration/cross_session_test.go
  core/integration/module_constructor_test.go
  core/integration/module_custom_sdk_test.go
  core/integration/module_dependency_runtime_test.go
  core/integration/module_helpers_test.go
  core/integration/module_path_inputs_test.go
  core/integration/module_runtime_behavior_test.go
  core/integration/module_up_test.go
  core/integration/module_validation_test.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
