Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

Revert "fix: preserve golden trace parenting"
  dagql/idtui/golden_test.go
Owners: none

Revert "fix: isolate idtui golden telemetry"
  dagql/idtui/golden_test.go
Owners: none

Revert "test: add telemetry regression coverage"
  core/integration/client_test.go
  core/integration/testdata/telemetry/main.go
  engine/client/client.go
  engine/client/client_test.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/telemetry_test.go
  engine/telemetry/cloud.go
  engine/telemetry/cloud_test.go
  engine/telemetry/shared.go
  engine/telemetry/shared_test.go
Owners: none

Revert "fix: drain telemetry before tearing down the client"
  engine/client/client.go
Owners: none

Revert "fix: refresh cloud OAuth tokens via the HTTP transport"
  engine/telemetry/cloud.go
Owners: none

Revert "fix: refresh cloud telemetry OAuth tokens from the engine"
  engine/server/session.go
  engine/telemetry/cloud.go
  internal/cloud/auth/auth.go
Owners: none

Revert "test: isolate unclean-shutdown client logs"
  core/integration/engine_persistence_test.go
Owners: none

Revert "fix: create cloud exporters per session, not per client"
  engine/client/client.go
  engine/engineutil/executor.go
  engine/server/session.go
  engine/telemetry/shared.go
Owners: none

Revert "test: use plain progress for compat warning"
  core/integration/workspace_compat_test.go
Owners: none

Revert "fix: export engine telemetry for all session clients"
  engine/client/client.go
  engine/opts.go
  engine/server/session.go
  engine/telemetry/cloud.go
  engine/telemetry/shared.go
Owners: none

Revert "fix: bound shutdown telemetry flush best-effort"
  engine/server/session.go
Owners: none

Revert "fix: flush shutdown telemetry before closing attachables"
  engine/server/session.go
  internal/cloud/auth/auth.go
Owners: none

Revert "test: point silent-session cloud export at the engine"
  core/integration/client_test.go
Owners: none

Rename API exec command to with-session
  core/integration/engine_test.go
  docs/current_docs/reference/cli/index.mdx
  future/cli-1.0.md
  internal/cmd/dagger/api.go
  internal/cmd/dagger/run.go
  internal/cmd/dagger/workspace_test.go
Owners: @dagger/docs

Revert "Reapply "separate telemetry between client and engine" (#13148)"
  engine/client/client.go
  engine/engineutil/executor.go
  engine/opts.go
  engine/server/session.go
  engine/telemetry/cloud.go
  engine/telemetry/multi.go
  internal/cloud/auth/auth.go
  internal/cmd/dagger/engine.go
  internal/cmd/dagger/engine_test.go
  internal/cmd/dagger/workspace.go
Owners: none

Revert "core(telemetry): re-separate telemetry" (#13811)
  core/integration/client_test.go
  core/integration/engine_persistence_test.go
  core/integration/testdata/telemetry/main.go
  core/integration/workspace_compat_test.go
  dagql/idtui/golden_test.go
  engine/client/client.go
  engine/client/client_test.go
  engine/opts.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/telemetry_test.go
  engine/telemetry/cloud.go
  engine/telemetry/cloud_test.go
  engine/telemetry/multi.go
  engine/telemetry/shared.go
  engine/telemetry/shared_test.go
  internal/cloud/auth/auth.go
  internal/cmd/dagger/engine.go
  internal/cmd/dagger/engine_test.go
  internal/cmd/dagger/workspace.go
Owners: none

Rename API exec command to with-session
  core/integration/engine_test.go
  docs/current_docs/reference/cli/index.mdx
  future/cli-1.0.md
  internal/cmd/dagger/api.go
  internal/cmd/dagger/run.go
  internal/cmd/dagger/workspace_test.go
Owners: @dagger/docs

fix(core): bind group runs to their receiver workspace
  core/checks.go
  core/generators.go
  core/integration/generators_test.go
  core/integration/testdata/workspaces/generator-workspace-sync/.dagger/modules/repro/dagger-module.toml
  core/integration/testdata/workspaces/generator-workspace-sync/.dagger/modules/repro/main.dang
  core/integration/testdata/workspaces/generator-workspace-sync/dagger.toml
  core/integration/testdata/workspaces/generator-workspace-sync/input.txt
  core/modfunc.go
  core/schema/modulesource.go
  core/schema/workspace.go
  core/up.go
  core/workspace.go
  core/workspace_context.go
Owners: none

chore(core): stop revealing per-dep generation span
  core/schema/modulesource.go
Owners: none

ci: exclude the generated Go API client from lint and test
  dagger.toml
Owners: none

test: replace the e2e harness type with plain functions
  sdk/go/e2e/against_engines_test.go
  sdk/go/e2e/bootstrap_test.go
  sdk/go/e2e/harness_test.go
Owners: @dagger/sdk-go

chore(testdata): match generated toml form in fixture
  core/integration/testdata/workspaces/generator-workspace-sync/.dagger/modules/repro/dagger-module.toml
Owners: none

chore(dagql): stop nolint directive flapping in CI
  dagql/server.go
Owners: none

sdk/php: fall back to dagger on PATH
  sdk/php/src/Connection/CliDownloader.php
  sdk/php/src/Connection/ProcessSessionConnection.php
  sdk/php/src/Connection/Provisioning.php
  sdk/php/src/Exception/CliFallbackFailed.php
  sdk/php/src/Exception/CliReleaseUnavailable.php
  sdk/php/tests/Unit/Connection/CliFallbackTest.php
Owners: @dagger/sdk-php

sdk/rust: fall back to dagger on PATH
  sdk/rust/Cargo.lock
  sdk/rust/Cargo.toml
  sdk/rust/crates/dagger-sdk/Cargo.toml
  sdk/rust/crates/dagger-sdk/src/core/cli_session.rs
  sdk/rust/crates/dagger-sdk/src/core/downloader.rs
  sdk/rust/crates/dagger-sdk/src/core/engine.rs
Owners: @dagger/sdk-rust

sdk/elixir: fall back to dagger on PATH
  sdk/elixir/lib/dagger/core/engine/downloader.ex
  sdk/elixir/lib/dagger/core/engine_conn.ex
  sdk/elixir/test/dagger/core/engine_cli_fallback_test.exs
Owners: @dagger/sdk-elixir

feat(workspace): add withoutFile and withoutDirectory
  core/integration/workspace_api_test.go
  core/integration/workspace_synthetic_test.go
  core/schema/workspace.go
Owners: none

feat(core): add onConflict to Directory.withPatch
  core/directory.go
  core/directory_patch_test.go
  core/integration/directory_test.go
  core/schema/directory.go
Owners: none

regen
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Directory.html
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/directory.ex
  sdk/elixir/lib/dagger/gen/patch_conflict.ex
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Directory.php
  sdk/php/generated/PatchConflict.php
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

feat(core): follow .git pointers in Workspace.git
  .changes/unreleased/Added-20260721-235722.yaml
  core/integration/workspace_test.go
  core/modulesource_gitfile.go
  core/schema/workspace.go
Owners: none

chore(schema): drop unused nolint:dupl directives
  core/schema/directory.go
Owners: none

version gate new APIs
  core/schema/directory.go
Owners: none

fix(workspace): overlay-aware search and glob
  core/integration/workspace_api_test.go
  core/schema/workspace.go
  core/schema/workspace_overlay_search_test.go
Owners: none

test: reproduce generate failing on a broken entrypoint module
  core/integration/generators_test.go
  core/integration/testdata/workspaces/generators-broken-entrypoint/.dagger/modules/bad/dagger-module.toml
  core/integration/testdata/workspaces/generators-broken-entrypoint/.dagger/modules/bad/main.dang
  core/integration/testdata/workspaces/generators-broken-entrypoint/.dagger/modules/good/dagger-module.toml
  core/integration/testdata/workspaces/generators-broken-entrypoint/.dagger/modules/good/main.dang
  core/integration/testdata/workspaces/generators-broken-entrypoint/dagger.toml
  core/integration/workspace_compat_test.go
Owners: none

fix: skip already-failed modules in the entrypoint fallback
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

Make workspace configFile cwd-relative
  core/integration/workspace_api_test.go
  core/integration/workspace_config_test.go
  core/integration/workspace_selection_test.go
  core/schema/workspace.go
  core/schema/workspace_test.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  internal/cmd/dagger/workspace.go
  internal/cmd/dagger/workspace_test.go
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
  toolchains/go/internal/dagger/dagger.gen.go
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

Apply SDK CLI review feedback
  docs/current_docs/reference/cli/index.mdx
  internal/cmd/dagger/module_init.go
  internal/cmd/dagger/sdk.go
  internal/cmd/dagger/setup.go
Owners: @dagger/docs

Tighten SDK CLI help
  docs/current_docs/extending/sdks/go.mdx
  docs/current_docs/reference/cli/index.mdx
  internal/cmd/dagger/module_init.go
  internal/cmd/dagger/module_init_test.go
  internal/cmd/dagger/sdk.go
  internal/cmd/dagger/setup.go
Owners: @dagger/docs

Format CLI list output as runnable comments
  internal/cmd/dagger/checks.go
  internal/cmd/dagger/checks_test.go
  internal/cmd/dagger/generators.go
  internal/cmd/dagger/list_output.go
  internal/cmd/dagger/list_output_test.go
  internal/cmd/dagger/up.go
Owners: none

feat(llm)!: bind the LLM to a Workspace
  .probe-git/dagger.json
  .probe-git/main.dang
  cmd/codegen/introspection/filters.go
  core/env.go
  core/integration/llm_workspace_test.go
  core/integration/workspace_api_test.go
  core/llm.go
  core/mcp.go
  core/prompts/outputs.md
  core/prompts/writable.md
  core/schema/env.go
  core/schema/llm.go
  internal/cmd/dagger/llm.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
