Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

chore: fix unparam findings
  cmd/dagger/functions.go
  cmd/dagger/shell_exec.go
  core/client_filesync_mirror.go
  core/container.go
  core/container_exec.go
  core/directory.go
  core/file.go
  core/git_remote.go
  core/object.go
  core/persisted_object.go
  core/schema/http.go
  core/sdk/module.go
  core/sdk/module_client_generator.go
  core/sdk/module_code_generator.go
  core/sdk/module_runtime.go
  core/sdk/module_typedefs.go
  dagql/cache.go
  dagql/cache_egraph.go
  dagql/cache_egraph_test_helpers_test.go
  dagql/cache_persistence_import.go
  dagql/cache_persistence_import_test.go
  dagql/cache_test.go
  dagql/derived_lineage_test.go
  dagql/identity_opt_test.go
  dagql/objects.go
  dagql/server.go
  engine/server/resolver/resolver.go
  engine/server/session.go
  engine/snapshots/fsdiff/changes_linux.go
  engine/snapshots/fsdiff/compare_linux.go
  engine/snapshots/metadata.go
  util/llbtodagger/convert.go
  util/llbtodagger/source.go
Owners: none

chore: fix nilerr bugs
  core/module.go
  core/schema/host.go
  dagql/cache.go
Owners: none

chore: annotate dupl findings as intentional
  core/container.go
  core/container_exec.go
  core/directory.go
  core/file.go
  core/module.go
  core/schema/container.go
  core/schema/directory.go
  core/schema/module.go
  core/schema/module_typedef_canonical.go
  core/secret.go
  core/socket.go
  core/typedef.go
  dagql/call/id.go
  dagql/call/id_content.go
  dagql/call_request_input.go
  dagql/result_call_frame.go
  engine/snapshots/pull.go
Owners: none

fix(cli): keep fetch-info spans attached to the trace
  cmd/dagger/checks.go
Owners: none

chore: go mod tidy
  go.mod
  go.sum
Owners: none

fix(sdk/rust): resolve list-of-object fields by loading each by id
  sdk/rust/crates/dagger-codegen/src/rust/functions.rs
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/rust/crates/dagger-sdk/src/querybuilder.rs
  sdk/rust/crates/dagger-sdk/tests/mod.rs
Owners: @dagger/sdk-rust

feat(sdk/rust): rust module
  sdk/rust/crates/dagger-sdk/src/lib.rs
  sdk/rust/crates/dagger-sdk/src/module/mod.rs
  sdk/rust/dagger.json
  sdk/rust/runtime/.gitattributes
  sdk/rust/runtime/.gitignore
  sdk/rust/runtime/go.mod
  sdk/rust/runtime/go.sum
  sdk/rust/runtime/main.go
  sdk/rust/runtime/template/.gitignore
  sdk/rust/runtime/template/Cargo.toml
  sdk/rust/runtime/template/src/main.rs
Owners: @dagger/sdk-rust

feat(sdk/elixir): upgrade Elixir runtime to 1.19.5
  sdk/elixir/dagger.json
  sdk/elixir/runtime/go.mod
  sdk/elixir/runtime/go.sum
  sdk/elixir/runtime/main.go
  toolchains/elixir-sdk-dev/elixir-sdk.dang
Owners: @dagger/sdk-elixir

chore: Improve RELEASING.md during v0.20.6
  RELEASING.md
Owners: none

improve tiny init variable name
  engine/distconsts/consts.go
  toolchains/engine-dev/build/builder.go
  toolchains/engine-dev/consts/consts.go
Owners: none

add docker-init to engine image for cgroup subgroups to work correctly
  core/file.go
  engine/client/drivers/docker.go
  engine/distconsts/consts.go
  toolchains/engine-dev/build/builder.go
  toolchains/engine-dev/config.go
  toolchains/engine-dev/consts/consts.go
Owners: none

fix conflict error
  core/file.go
Owners: none

Remove unnecessary methods from File struct
  core/file.go
Owners: none

workspace: preserve config comments and restore migrate hints
  core/integration/workspace_migration_test.go
  core/schema/workspace_config.go
  core/schema/workspace_hints.go
  core/schema/workspace_install.go
  core/schema/workspace_migrate.go
  core/workspace/config.go
  core/workspace/config_document.go
  core/workspace/config_test.go
  core/workspace/migrate.go
  go.mod
  go.sum
Owners: none

add docker-init to engine image for cgroup subgroups to work correctly (#12999)
  engine/client/drivers/docker.go
  engine/distconsts/consts.go
  toolchains/engine-dev/build/builder.go
  toolchains/engine-dev/config.go
  toolchains/engine-dev/consts/consts.go
Owners: none

workspace: prune empty env config sections
  core/workspace/config_document.go
  core/workspace/config_test.go
Owners: none

module: drop user default console noise
  core/integration/envfile_test.go
  core/integration/workspace_config_test.go
  core/modfunc.go
Owners: none

workspace: inspect migrated modules for settings hints
  core/integration/workspace_migration_test.go
  core/schema/workspace_hints.go
  core/schema/workspace_install.go
  core/schema/workspace_migrate.go
Owners: none

workspace: rename settings hints helper
  core/schema/workspace_settings_hints.go
Owners: none

workspace: keep migrated main module first
  core/integration/workspace_migration_test.go
  core/schema/workspace_migrate.go
  core/workspace/migrate.go
  core/workspace/migrate_test.go
Owners: none

workspace: clean up migrate progress output
  cmd/dagger/migrate.go
  core/integration/workspace_migration_test.go
  core/schema/workspace_migrate.go
Owners: none

workspace: fix migrate settings hint loading
  cmd/dagger/migrate.go
  core/integration/workspace_migration_test.go
  core/schema/workspace_migrate.go
  core/schema/workspace_settings_hints.go
Owners: none

workspace: fix migrate local settings hint inspection
  core/integration/workspace_migration_test.go
  core/schema/workspace_migrate.go
  core/schema/workspace_settings_hints.go
Owners: none

feat: allow to limit number of parallel go linters
  toolchains/go/main.go
Owners: none

feat: allow to limit the number of go mod tidy in parallel
  toolchains/go/main.go
Owners: none

fix: go tidy-module --module
  toolchains/go/main.go
Owners: none

feat: allow to limit parallelism for go tidy
  toolchains/go/main.go
Owners: none

ref: extract the limit arg to be set at the constructor level
  toolchains/go/main.go
Owners: none

fix: go lint-module --module
  toolchains/go/main.go
Owners: none

feat: expose docs on dagger up
  toolchains/docs-dev/main.go
Owners: none

fix: include full URL in dagger up span label
  core/modtree.go
Owners: none

Fix test failure related to caching (the first test of the module variant would set the cache value, later tests would fail)
  core/modfunc.go
Owners: none

Fix "last-customization-wins" ordering (first match was winning)
  core/module.go
Owners: none

Conflict resolution with merge main
  core/modfunc.go
  core/module.go
Owners: none

docs: add Persisting Artifacts page + export-gotcha warning
  docs/current_docs/extending/modules/persisting-artifacts.mdx
  docs/current_docs/extending/modules/return-types.mdx
  docs/current_docs/partials/cookbook/filesystems/_copy-file-runtime.mdx
  docs/sidebars.ts
Owners: @dagger/docs

chore: changie
  .changes/unreleased/Added-20260416-173459.yaml
Owners: none

qualify +generate functions as checks
  cmd/dagger/checks.go
  cmd/dagger/checks.graphql
  core/checks.go
  core/env.go
  core/integration/checks_test.go
  core/integration/testdata/checks/hello-with-generate-checks/dagger.json
  core/integration/testdata/checks/hello-with-generate-checks/main.go
  core/integration/toolchain_test.go
  core/modtree.go
  core/schema/checks.go
  core/schema/env.go
  core/schema/module.go
  core/schema/workspace.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

chore: generate
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Check.html
  docs/static/reference/php/Dagger/Env.html
  docs/static/reference/php/Dagger/Module.html
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/check.ex
  sdk/elixir/lib/dagger/gen/env.ex
  sdk/elixir/lib/dagger/gen/module.ex
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Check.php
  sdk/php/generated/Env.php
  sdk/php/generated/Module.php
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

fix(core/schema): include toolchains in module codegen schema
  core/integration/toolchain_test.go
Owners: none

fix(server): fall back to parent caller for synthetic nested clients
  engine/server/session.go
  engine/server/session_test.go
Owners: none
