Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

core: back workspaces with private sources
  core/schema/directory.go
  core/schema/git.go
  core/schema/workspace.go
  core/schema/workspace_client.go
  core/schema/workspace_config.go
  core/schema/workspace_install.go
  core/schema/workspace_module_init.go
  core/workspace.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

sdk: regenerate workspace API bindings
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/GitRef.html
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/directory.ex
  sdk/elixir/lib/dagger/gen/git_ref.ex
  sdk/elixir/lib/dagger/gen/git_repository.ex
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/GitRef.php
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

fix: drop workspace clientId from base schema
  core/schema/base_schema.json
Owners: none

test: cover source-backed workspace contracts
  core/integration/workspace_api_test.go
  core/integration/workspace_selection_test.go
  core/integration/workspace_synthetic_test.go
  core/schema/workspace_test.go
Owners: none

test: wait for k3s API readiness in Helm e2e
  e2e/helm/helm_test.go
Owners: none

test(e2e/helm): fail fast with engine diagnostics on connect timeout
  e2e/helm/helm_test.go
Owners: none

Restore stable docs redirects
  docs/netlify.toml
Owners: @dagger/docs

Document deferred 1.0 docs redirects
  docs/netlify.toml
Owners: @dagger/docs

Document deferred 1.0 docs redirects
  docs/netlify.toml
Owners: @dagger/docs

Restore stable docs redirects
  docs/netlify.toml
Owners: @dagger/docs

feat: add check-generated workspace setting
  core/integration/checks_test.go
  core/integration/workspace_config_test.go
  core/schema/workspace.go
  core/schema/workspace_config.go
  core/workspace/config.go
  core/workspace/config_document.go
  core/workspace/config_test.go
  docs/current_docs/adopting/workspace-setup.mdx
  docs/static/reference/dagger-workspace.schema.json
Owners: @dagger/docs

engine/server: load workspace modules on demand, additively
  dagql/request_peek.go
  dagql/request_peek_test.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

cmd/dagger: scope typedefs introspection via a peeked operation name
  internal/cmd/dagger/call.go
  internal/cmd/dagger/functions.go
  internal/cmd/dagger/module_inspect.go
  internal/cmd/dagger/module_inspect_test.go
Owners: none

core/schema: load workspace selector modules on demand
  core/query.go
  core/schema/test_server_test.go
  core/schema/workspace.go
  core/telemetry_test.go
Owners: none

hack/designs: dumb-client demand-driven module loading
  hack/designs/dumb-cli-single-query-peek-module-loading.md
Owners: none

core/integration: cover workspace module-loading narrowing
  core/integration/generators_test.go
  core/integration/testdata/workspaces/call-narrowing/.dagger/modules/bad/dagger-module.toml
  core/integration/testdata/workspaces/call-narrowing/.dagger/modules/bad/main.dang
  core/integration/testdata/workspaces/call-narrowing/.dagger/modules/entry/dagger-module.toml
  core/integration/testdata/workspaces/call-narrowing/.dagger/modules/entry/main.dang
  core/integration/testdata/workspaces/call-narrowing/.dagger/modules/goodMod/dagger-module.toml
  core/integration/testdata/workspaces/call-narrowing/.dagger/modules/goodMod/main.dang
  core/integration/testdata/workspaces/call-narrowing/dagger.toml
  core/integration/testdata/workspaces/generators-broken/.dagger/modules/bad/dagger-module.toml
  core/integration/testdata/workspaces/generators-broken/.dagger/modules/bad/main.dang
  core/integration/testdata/workspaces/generators-broken/.dagger/modules/good/dagger-module.toml
  core/integration/testdata/workspaces/generators-broken/.dagger/modules/good/main.dang
  core/integration/testdata/workspaces/generators-broken/dagger.toml
Owners: none

cloud: make StreamLogs descendants configurable
  internal/cloud/trace.go
  internal/cmd/dagger/cloud_checks.go
  internal/cmd/dagger/trace.go
Owners: none

cli: add 'dagger cloud analyze' for diagnosing failed traces
  internal/cloud/analyze.go
  internal/cmd/dagger/analyze_cloud.go
  internal/cmd/dagger/analyze_cloud_test.go
Owners: none

cli: fetch analyze log tails concurrently
  internal/cmd/dagger/analyze_cloud.go
Owners: none

add gcr mirror to dev engine
  toolchains/engine-dev/config.go
Owners: none

cli: default non-TTY progress to report instead of plain
  internal/cmd/dagger/main.go
Owners: none

cli: hand off to 'dagger trace' for full context in analyze
  internal/cmd/dagger/analyze_cloud.go
  internal/cmd/dagger/analyze_cloud_test.go
Owners: none

cli: fold the failure summary into 'dagger trace'
  internal/cmd/dagger/analyze_cloud.go
  internal/cmd/dagger/analyze_cloud_test.go
  internal/cmd/dagger/trace.go
  internal/cmd/dagger/trace_test.go
Owners: none

idtui: disable color when driven by an AI agent
  dagql/idtui/output.go
Owners: none

cli: style the trace summary and drop internal test status
  internal/cmd/dagger/analyze_cloud.go
  internal/cmd/dagger/analyze_cloud_test.go
Owners: none

cli: use ASCII status tokens in the trace summary for agents
  internal/cmd/dagger/analyze_cloud.go
  internal/cmd/dagger/analyze_cloud_test.go
Owners: none

cli: use bold all-caps section headings for humans
  internal/cmd/dagger/analyze_cloud.go
Owners: none

cli: drop the redundant [root cause] label in the trace summary
  internal/cmd/dagger/analyze_cloud.go
  internal/cmd/dagger/analyze_cloud_test.go
Owners: none

add gcr mirror to dev engine (#13540)
  toolchains/engine-dev/config.go
Owners: none

cli: roll up leaf failed-test logs in the trace summary
  internal/cmd/dagger/analyze_cloud.go
Owners: none

fix(engine): decouple active-clients API from session lifecycle locks
  engine/server/server.go
  engine/server/session.go
  engine/server/session_test.go
Owners: none

cli: show full multi-line errors in the trace summary
  internal/cmd/dagger/analyze_cloud.go
  internal/cmd/dagger/analyze_cloud_test.go
Owners: none

Avoid eagerly materializing the parent directory in File.asEnvFile
  core/schema/envfile.go
Owners: none

engine: honor OTEL_RESOURCE_ATTRIBUTES in the telemetry resource
  cmd/engine/telemetry.go
Owners: none

cli: follow cloud trace summary API rename
  internal/cloud/analyze.go
  internal/cmd/dagger/analyze_cloud.go
  internal/cmd/dagger/analyze_cloud_test.go
Owners: none

core/schema: add WorkspaceModule.typeDefs field
  core/schema/module.go
  core/schema/workspace.go
  core/schema/workspace_module.go
Owners: none

cmd/dagger: scope call/functions typedefs to the target module
  internal/cmd/dagger/call.go
  internal/cmd/dagger/functions.go
  internal/cmd/dagger/module_inspect.go
  internal/cmd/dagger/typedefs.graphql
Owners: none

hack/designs: lazy per-module typedefs loading proposal
  hack/designs/per-module-typedefs.md
Owners: none

engine/server: load workspace modules on demand, additively
  dagql/request_peek.go
  dagql/request_peek_test.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

core/schema: load workspace selector modules on demand
  core/query.go
  core/schema/test_server_test.go
  core/schema/workspace.go
  core/telemetry_test.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
