Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

core: narrow container image preparation
  core/container.go
  core/container_parts_test.go
  core/schema/container.go
Owners: none

core: strengthen per-part mount coverage
  core/container.go
  core/container_image_parts_test.go
  core/container_parts_test.go
  core/schema/container.go
  core/schema/container_internal_test.go
Owners: none

dagql/tla: scope resources_gated_growth off persistable intent
  dagql/tla/CacheLifecycle_resources_gated_growth.cfg
Owners: none

dagql: route empty group resolution to pending cache-side groups
  dagql/cache.go
  dagql/cache_parts_test.go
Owners: none

core: make the whole-op lazy latch atomic
  core/lazy_state.go
Owners: none

core: synchronize the routing reads of the lazy op pointer with the refined clear
  core/container.go
  core/container_parts.go
  core/container_parts_test.go
  core/terminal.go
Owners: none

core: convert the metadata-only container ops to per-group evaluation (template A)
  core/container.go
  core/container_exec.go
  core/container_parts.go
  core/container_parts_test.go
Owners: none

core: refine the exec to a joint output group; withRootfs writes fs only
  core/container.go
  core/container_exec.go
  core/container_exec_parts_test.go
  core/container_parts.go
  core/container_parts_test.go
  core/healthcheck.go
  core/service.go
Owners: none

core: evaluate container image sources by part
  core/container_image.go
  core/container_image_parts_test.go
  core/container_parts.go
Owners: none

core: pin the ruled VolatileEnv expand corner; record the ruling in the design flag
  core/container_exec_parts_test.go
  core/container_parts_test.go
  hack/designs/remote-cache/stage2-part-evaluation.md
Owners: none

hack/designs: stage 2 revision 3 after the fix round
  hack/designs/remote-cache/stage2-part-evaluation.md
Owners: none

hack/designs: stage 2 revision 4, correct the op-pointer clear scope
  hack/designs/remote-cache/stage2-part-evaluation.md
Owners: none

core: narrow the selectors and readers to the parts they touch
  core/container.go
  core/container_exec.go
  core/container_exec_parts_test.go
  core/container_parts.go
  core/container_parts_test.go
  core/container_selector_parts_test.go
  core/schema/container.go
Owners: none

core: delegation always copies the parent part; a pre-set accessor proves nothing
  core/container_parts.go
  core/container_parts_test.go
Owners: none

core: hold LazyMu across the consumed-check and the Lazy clear
  core/container_parts.go
  core/container_parts_test.go
Owners: none

hack/designs: cite the conversion commits by title, not by hash
  hack/designs/remote-cache/per-part-evaluation.html
Owners: none

hack/designs: per-part lazy evaluation of containers, one holistic design record
  hack/designs/remote-cache/per-part-evaluation.html
Owners: none

core: evaluate mounted snapshot sources by part
  core/container.go
  core/container_parts.go
  core/container_parts_test.go
  core/schema/container.go
Owners: none

hack/designs: stage 2 revision 2 after implementation review
  hack/designs/remote-cache/stage2-part-evaluation.md
Owners: none

core: evaluate mount metadata mutations by part
  core/container.go
  core/container_parts.go
  core/container_parts_test.go
  core/schema/container.go
Owners: none

hack/designs: stage 2 revision 5, adopt the uniform op-pointer rule
  hack/designs/remote-cache/stage2-part-evaluation.md
Owners: none

internal-docs: describe the per-part lazy evaluation contract
  internal-docs/lazy_evaluation.md
Owners: none

core: preserve parallel image part evaluation
  core/container.go
  core/container_parts.go
  core/container_parts_test.go
  core/schema/container.go
  core/schema/container_internal_test.go
Owners: none

fix(workspace): anchor SDK client module refs
  core/schema/workspace_client.go
Owners: none

ci: refresh generated clients and satisfy Go lint
  .dagger/modules/cli-dev/internal/dagger/dagger.gen.go
  .dagger/modules/engine-dev/internal/dagger/dagger.gen.go
  .dagger/modules/tla-check/dagger.gen.go
  .dagger/modules/tla-check/internal/dagger/dagger.gen.go
  core/container.go
  core/container_parts_test.go
  core/schema/container.go
Owners: none

ci: align generated clients with the release schema
  .dagger/modules/cli-dev/internal/dagger/dagger.gen.go
  .dagger/modules/engine-dev/internal/dagger/dagger.gen.go
  .dagger/modules/tla-check/internal/dagger/dagger.gen.go
Owners: none

fix(core): retain git workspace context
  core/integration/workspace_api_test.go
  core/modulesource.go
  core/schema/git.go
Owners: none

Expose SDK scope management commands
  core/integration/workspace_sdk_cli_test.go
  docs/current_docs/reference/cli/index.mdx
  future/cli-1.0.md
  internal/cmd/dagger/main.go
  internal/cmd/dagger/module_sdk.go
  internal/cmd/dagger/module_sdk_test.go
  internal/cmd/dagger/sdk.go
  internal/cmd/dagger/sdk_test.go
  internal/cmd/dagger/workspace_test.go
Owners: @dagger/docs

cli: preserve top-level module command shortcuts
  internal/cmd/dagger/main.go
  internal/cmd/dagger/module.go
  internal/cmd/dagger/settings.go
  internal/cmd/dagger/workspace_test.go
Owners: none

Update SDK fixture engine requirement
  modules/sdk-ux-go/dagger.json
Owners: none

Update SDK fixtures for manifest builder
  core/integration/testdata/sdks/module-max-workspace-writer/main.dang
  modules/sdk-ux-go/main.dang
Owners: none

feat(cli): create Dagger Cloud org from the CLI (no browser)
  docs/proposals/cloud-onboarding-cli.md
  internal/cloud/client.go
  internal/cloud/org_sources.go
  internal/cmd/dagger/cloud.go
  internal/cmd/dagger/cloud_org_name_test.go
Owners: @dagger/docs

Keep legacy manifest fallback settings together
  core/integration/workspace_synthetic_test.go
  core/module_manifest.go
  core/module_manifest_test.go
  core/schema/module_manifest.go
  core/schema/testdata/base_schema.graphqls
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/ModuleManifest.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  future/cli-1.0.md
  modules/sdk-ux-go/main.dang
  sdk/elixir/lib/dagger/gen/module_manifest.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/ModuleManifest.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

feat(cli): reorganize cloud command surface + auto-create org in setup
  internal/cmd/dagger/cloud_check.go
  internal/cmd/dagger/engines_cloud.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/setup.go
  internal/cmd/dagger/trace.go
  internal/cmd/dagger/workspaces_cloud.go
Owners: none

core: consume final container delegations
  core/container_exec_parts_test.go
  core/container_image_parts_test.go
  core/container_parts.go
  core/container_parts_test.go
  core/schema/container_internal_test.go
  internal-docs/lazy_evaluation.md
Owners: none

dagql: evaluate resolved lazy groups concurrently
  core/container.go
  core/container_exec_parts_test.go
  core/container_parts.go
  dagql/cache.go
  dagql/cache_parts_test.go
Owners: none

dagql: keep partial resume spans pending
  dagql/cache.go
  dagql/cache_parts_test.go
  dagql/dagui/spans.go
  dagql/dagui/spans_test.go
  dagql/otelprof_lazy.go
  engine/telemetryattrs/attrs.go
Owners: none

core: evaluate selector rootfs before nested calls
  core/container.go
  core/container_parts_test.go
  core/container_selector_parts_test.go
Owners: none

Preserve installed SDK client targets
  core/integration/generators_test.go
  core/integration/testdata/sdks/module-max-lifecycle/dagger.json
  core/integration/testdata/sdks/module-max-lifecycle/main.dang
  core/integration/workspace_env_management_test.go
  core/schema/workspace_client.go
  core/schema/workspace_sdk.go
  core/schema/workspace_sdk_client_update_test.go
  core/schema/workspace_sdk_generator.go
  core/schema/workspace_sdk_module.go
  core/schema/workspace_sdk_test.go
  modules/sdk-ux-go/README.md
  modules/sdk-ux-go/demo.sh
Owners: none

Use the current manifest builder in fixtures
  core/integration/testdata/workspaces/sdk-scope-generation/.dagger/modules/scope-sdk/main.dang
  core/integration/workspace_write_directory_test.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
