Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

chore(sdks): regenerate everything following schema change
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/EnumValueTypeDef.html
  docs/static/reference/php/Dagger/FieldTypeDef.html
  docs/static/reference/php/Dagger/FunctionArg.html
  docs/static/reference/php/Dagger/Function_.html
  docs/static/reference/php/Dagger/ObjectTypeDef.html
  docs/static/reference/php/Dagger/TypeDef.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/enum_value_type_def.ex
  sdk/elixir/lib/dagger/gen/field_type_def.ex
  sdk/elixir/lib/dagger/gen/function.ex
  sdk/elixir/lib/dagger/gen/function_arg.ex
  sdk/elixir/lib/dagger/gen/object_type_def.ex
  sdk/elixir/lib/dagger/gen/type_def.ex
  sdk/php/generated/EnumValueTypeDef.php
  sdk/php/generated/FieldTypeDef.php
  sdk/php/generated/FunctionArg.php
  sdk/php/generated/Function_.php
  sdk/php/generated/ObjectTypeDef.php
  sdk/php/generated/TypeDef.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/module/introspector/typescript_module/ast.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

fix: ensure that __schemaJSONFile returns the deprecationReason
  cmd/codegen/generator/go/templates/functions.go
  core/schema/query.go
Owners: none

sdk/python: support deprecated functions
  sdk/python/src/dagger/mod/_module.py
  sdk/python/src/dagger/mod/_resolver.py
  sdk/python/src/dagger/mod/_types.py
  sdk/python/tests/mod/test_registration.py
Owners: @dagger/sdk-python

codegen(ts/sdk): generate the deprecation comment for enum members + other golden tests (input)
  cmd/codegen/generator/typescript/templates/src/testdata/type_test_enum_value_deprecated_want.ts
  cmd/codegen/generator/typescript/templates/src/type_test.go
  cmd/codegen/generator/typescript/templates/src/types.ts.gtpl
Owners: none

python(codegen): treat deprecation reasons as optional strings
  sdk/python/codegen/src/codegen/generator.py
Owners: @dagger/sdk-python

chore: regenerate sdks
  sdk/go/dagger.gen.go
  sdk/python/src/dagger/client/gen.py
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript

chore(sdk/python): fix linter
  core/integration/testdata/test-blueprint/myblueprint-py/src/myblueprint_py/main.py
  dagql/idtui/viztest/python/src/main/__init__.py
  sdk/python/tests/codegen/test_generator.py
  sdk/python/tests/mod/test_enum_docstrings.py
  sdk/python/tests/mod/test_registration.py
Owners: @dagger/sdk-python

codegen(python/sdk): test deprecated option argument in a func + fix multiline string wrapper
  sdk/python/tests/codegen/test_generator.py
Owners: @dagger/sdk-python

fix(ts/test): fix error TS1016: A required parameter cannot follow an optional parameter.
  sdk/typescript/src/module/introspector/test/testdata/deprecatedArgument/index.ts
Owners: @dagger/sdk-typescript

codegen(sdk/python): expand interface fixture test to cover multiple deprecated members and warnings.
  sdk/python/tests/codegen/test_generator.py
Owners: @dagger/sdk-python

chore: revert debug
  core/integration/module_type_test.go
Owners: none

sdk(ts): Align TS introspection defaults with new optional behavior
  sdk/typescript/src/module/introspector/test/testdata/alias/expected.json
  sdk/typescript/src/module/introspector/test/testdata/constructor/expected.json
  sdk/typescript/src/module/introspector/test/testdata/minimal/expected.json
  sdk/typescript/src/module/introspector/test/testdata/optionalParameter/expected.json
  sdk/typescript/src/module/introspector/test/testdata/references/expected.json
Owners: @dagger/sdk-typescript

codegen(python/sdk): deprecate object_field + add fixture test
  sdk/python/codegen/src/codegen/generator.py
  sdk/python/tests/codegen/test_generator.py
Owners: @dagger/sdk-python

fix(ts introspection): keep non-null args with defaults strict
  sdk/typescript/src/module/entrypoint/register.ts
  sdk/typescript/src/module/introspector/dagger_module/argument.ts
  sdk/typescript/src/module/introspector/test/testdata/deprecatedArgument/expected.json
Owners: @dagger/sdk-typescript

chore: fix linter issues
  cmd/codegen/generator/go/templates/module_objects.go
  cmd/codegen/generator/typescript/templates/src/type_test.go
  core/integration/module_test.go
  sdk/python/src/dagger/mod/_module.py
  sdk/python/tests/codegen/test_generator.py
  sdk/python/tests/mod/test_registration.py
  sdk/typescript/src/module/entrypoint/register.ts
Owners: @dagger/sdk-python, @dagger/sdk-typescript

codegen(sdk/go): reject deprecated pragmas on required args
  cmd/codegen/generator/go/templates/module_funcs.go
  cmd/codegen/generator/go/templates/module_objects.go
  cmd/codegen/generator/go/templates/optional.go
  core/integration/module_test.go
  sdk/python/src/dagger/mod/_arguments.py
  sdk/python/tests/mod/test_registration.py
  sdk/typescript/src/module/introspector/dagger_module/argument.ts
  sdk/typescript/src/module/introspector/test/testdata/deprecatedArgument/expected.json
  sdk/typescript/src/module/introspector/test/testdata/deprecatedArgument/index.ts
  sdk/typescript/src/module/introspector/test/testdata/deprecatedField/index.ts
Owners: @dagger/sdk-python, @dagger/sdk-typescript

chore(sdk/ts): revert the optional implementation on the ts sdk
  core/integration/module_test.go
  core/integration/module_type_test.go
  sdk/typescript/src/module/entrypoint/register.ts
  sdk/typescript/src/module/introspector/dagger_module/argument.ts
  sdk/typescript/src/module/introspector/test/testdata/alias/expected.json
  sdk/typescript/src/module/introspector/test/testdata/constructor/expected.json
  sdk/typescript/src/module/introspector/test/testdata/minimal/expected.json
  sdk/typescript/src/module/introspector/test/testdata/optionalParameter/expected.json
  sdk/typescript/src/module/introspector/test/testdata/references/expected.json
Owners: @dagger/sdk-typescript

codegen(sdk/python): uniformize and add deprecation notices in Python codegen
  sdk/python/codegen/src/codegen/generator.py
  sdk/python/tests/codegen/test_generator.py
Owners: @dagger/sdk-python

codegen(sdk/python): add fixture for interfaces' method deprecation
  sdk/python/tests/codegen/test_generator.py
Owners: @dagger/sdk-python

feat: add a "debug" boolean option inside the dagger.json's SDK field
  core/modules/config.go
  core/modulesource.go
  core/schema/modulesource.go
Owners: none

chore: generate
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/dagger.schema.json
  docs/static/reference/php/Dagger/SDKConfig.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/sdk_config.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/SDKConfig.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

[#10618] DT - added telemetry to java sdk (#11083)
  sdk/java/dagger-java-annotation-processor/src/main/java/io/dagger/annotation/processor/DaggerModuleAnnotationProcessor.java
  sdk/java/dagger-java-annotation-processor/src/test/resources/io/dagger/gen/entrypoint/Entrypoint.java
  sdk/java/dagger-java-sdk/pom.xml
  sdk/java/dagger-java-sdk/src/main/java/io/dagger/client/engineconn/Connection.java
  sdk/java/dagger-java-sdk/src/main/java/io/dagger/client/telemetry/Telemetry.java
  sdk/java/dagger-java-sdk/src/main/java/io/dagger/client/telemetry/TelemetryInitializer.java
  sdk/java/dagger-java-sdk/src/main/java/io/dagger/client/telemetry/TelemetrySupplier.java
  sdk/java/dagger-java-sdk/src/main/java/io/dagger/client/telemetry/TelemetryTracer.java
Owners: @dagger/sdk-java

allows to override the trace name via env variable
  cmd/dagger/engine.go
Owners: none

allows to override the trace name via env variable (#11354)
  cmd/dagger/engine.go
Owners: none

fix: directory.Exists did not follow abs symlink
  core/directory.go
  core/integration/directory_test.go
Owners: none

fix: directory.Exists did not follow abs symlink (#11356)
  core/directory.go
  core/integration/directory_test.go
Owners: none

appease linter
  version/main.go
Owners: none

CI: vastly simplified version module
  engine/version.go
  engine/version_test.go
  version/git.go
  version/main.go
Owners: none

disable bbolt syncing everywhere
  .changes/unreleased/Fixed-20251030-224557.yaml
  cmd/engine/main.go
  engine/server/server.go
  engine/server/snapshotter.go
  internal/buildkit/cache/metadata/metadata.go
  internal/buildkit/worker/base/worker.go
Owners: none

reset state on corrupt db + publish metric
  cmd/engine/metrics.go
  engine/server/server.go
Owners: none

fill in missing doc comment
  engine/server/server.go
Owners: none

disable sync in every boltdb in bk+containerd (#11336)
  .changes/unreleased/Fixed-20251030-224557.yaml
  cmd/engine/main.go
  cmd/engine/metrics.go
  engine/server/server.go
  engine/server/snapshotter.go
  internal/buildkit/cache/metadata/metadata.go
  internal/buildkit/worker/base/worker.go
Owners: none

fix overwhelmingly large error strings from ids
  core/interface.go
  core/schema/coremod.go
  core/telemetry.go
  dagql/types.go
Owners: none

use _contextDirectory API to fix loading of cached results
  core/modfunc.go
  core/module.go
  core/schema/modulesource.go
Owners: none

add integ test
  core/integration/module_test.go
Owners: none

handle contextual files too
  core/integration/module_test.go
  core/modfunc.go
  core/schema/modulesource.go
Owners: none

fix git module source case
  core/modfunc.go
Owners: none

update telemetry test
  dagql/idtui/testdata/TestTelemetry/TestGolden/path-args
Owners: none

add changelog
  .changes/unreleased/Fixed-20251104-145223.yaml
Owners: none

Revert "core: re-add content hashing of git and dir module sources (#11292)"
  core/integration/module_config_test.go
  core/schema/modulesource.go
Owners: none
