Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

do not use github.com/dagger/go to generate (yet)
  .dagger-skip-go-generate
Owners: none

ci: skip go lint for modules that don't need it
  core/integration/llmtest/.dagger-skip-go-lint
  dagql/idtui/viztest/.dagger-skip-go-lint
  modules/evals/testdata/.dagger-skip-go-lint
  modules/evaluator/examples/.dagger-skip-go-lint
  toolchains/docs-dev/docusaurus/dagger/.dagger-skip-go-lint
  toolchains/docs-dev/docusaurus/tests/.dagger-skip-go-lint
  toolchains/elixir-sdk-dev/is-semver/.dagger-skip-go-lint
  toolchains/python-sdk-dev/dockerd/.dagger-skip-go-lint
  toolchains/release/apko/.dagger-skip-go-lint
  toolchains/release/gh/.dagger-skip-go-lint
  toolchains/release/registry-config/.dagger-skip-go-lint
  toolchains/release/registry-config/tests/.dagger-skip-go-lint
  toolchains/typescript-sdk-dev/is-semver/.dagger-skip-go-lint
Owners: none

ci: upgrade to latest github.com/dagger/go
  dagger.json
Owners: none

version: rewrite ssh github remotes for tag fetch
  toolchains/cli-dev/internal/dagger/version.gen.go
  toolchains/engine-dev/internal/dagger/version.gen.go
  toolchains/release/internal/dagger/version.gen.go
  version/main.go
Owners: none

ci: remove go linting logic from toolchains/go (we use github.com/dagger/go instead)
  modules/daggerverse/internal/dagger/go.gen.go
  modules/dev/internal/dagger/go.gen.go
  toolchains/cli-dev/internal/dagger/go.gen.go
  toolchains/docs-dev/internal/dagger/go.gen.go
  toolchains/engine-dev/internal/dagger/go.gen.go
  toolchains/go/dagger.gen.go
  toolchains/go/main.go
Owners: none

e2e: use go:test:include directives for dagger sandboxing
  e2e/helm/helm_test.go
  e2e/installers/installers_test.go
Owners: none

WIP: make this workspace go-lintable by github.com/dagger/go (not yet switched over)
  core/integration/testdata/.dagger-skip-go-lint
  dagger.json
  dagql/idtui/viztest/broken-dep-sdk/.dagger-skip-go-lint
  dagql/idtui/viztest/broken-dep/.dagger-skip-go-lint
  docs/.dagger-skip-go-lint
  docs/archived_docs/assets/0.9/quickstart/snippets/go.mod
  docs/current_docs/cookbook/snippets/go.mod
  docs/current_docs/extending/custom-applications/snippets/go.mod
  docs/current_docs/extending/modules/snippets/go.mod
  docs/current_docs/getting-started/api/snippets/go.mod
  docs/current_docs/getting-started/ci-integrations/snippets/go.mod
  docs/current_docs/getting-started/quickstarts/agent/snippets/go.mod
  docs/current_docs/getting-started/quickstarts/ci/snippets/go.mod
  docs/current_docs/getting-started/types/snippets/go.mod
  docs/current_docs/introduction/features/snippets/go.mod
  docs/current_docs/reference/best-practices/snippets/go.mod
  docs/current_docs/reference/container-runtimes/snippets/go.mod
  docs/current_docs/reference/deployment/snippets/go.mod
  toolchains/release/testdata/.dagger-skip-go-lint
Owners: @dagger/docs

test: give client generator entrypoint fixtures git roots
  core/integration/client_generator_test.go
Owners: none

test: load standalone CLI fixtures explicitly
  core/integration/engine_persistence_test.go
  core/integration/engine_test.go
  core/integration/module_dependency_cli_test.go
  core/integration/module_init_cli_test.go
  core/integration/module_introspection_cli_test.go
Owners: none

test: initialize client generator modules explicitly
  core/integration/client_generator_test.go
Owners: none

version: fetch tags through HTTPS for ssh GitHub remotes
  version/main.go
Owners: none

dagql/call: hash recipes with alternate receiver digests
  dagql/call/id.go
  dagql/call/id_test.go
Owners: none

dagql: publish request-local cache hit transforms
  dagql/cache.go
  dagql/cache_egraph.go
  dagql/cache_persistence_resolver.go
  dagql/call_request.go
Owners: none

dagql: test volatile session-resource cache invariants
  dagql/cache_test.go
Owners: none

core: add container volatile variables
  core/container.go
  core/container_exec.go
  core/healthcheck.go
  core/integration/container_test.go
  core/integration/container_volatile_test.go
  core/schema/container.go
  core/service.go
Owners: none

sdk: regenerate container volatile variable APIs
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Container.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/go/dagger.gen.go
  sdk/php/generated/Container.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

docs: document container volatile variables
  docs/current_docs/cookbook/containers.mdx
  docs/current_docs/extending/modules/function-caching.mdx
  docs/current_docs/partials/types/_container.mdx
Owners: @dagger/docs

Revert "separate telemetry between client and engine"
  cmd/dagger/engine.go
  cmd/dagger/main.go
  engine/client/client.go
  engine/engineutil/executor.go
  engine/opts.go
  engine/server/session.go
  engine/telemetry/cloud.go
  engine/telemetry/multi.go
  internal/cloud/auth/auth.go
Owners: none

fix(sdk/python): expand TypeAlias inside union annotations (X | None)
  sdk/python/src/dagger/mod/_analyzer/parser.py
  sdk/python/tests/mod/test_ast_analyzer.py
Owners: @dagger/sdk-python

docs: plan module test cleanup
  future/integration-test-fixtures.md
  future/module-test-cleanup.md
Owners: none

bump dang for ID args fix
  go.mod
  go.sum
Owners: none

Improve Java codegen query errors
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/DaggerCLIUtils.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/DaggerCodegenMojo.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/DaggerSchemaGeneratorMojo.java
Owners: @dagger/sdk-java

fix lint: gofmt alignment and duplicate container clone block
  core/container_exec.go
  core/schema/container.go
Owners: none

Add Java resource probe diagnostic
  toolchains/java-sdk-dev/main.dang
Owners: none

cmd(dagger trace): don't force -E, respect flags
  cmd/dagger/trace.go
Owners: none

trace: test replay frontend options
  cmd/dagger/trace_test.go
Owners: none

Normalize Git checkout mtimes to one second
  core/git.go
  core/integration/git_test.go
  toolchains/java-sdk-dev/main.dang
Owners: none

remove module-management CLI commands
  cmd/dagger/main.go
  cmd/dagger/module.go
  cmd/dagger/module_test.go
  cmd/dagger/shell_commands.go
  cmd/dagger/span_name_test.go
  cmd/dagger/workspace.go
  cmd/dagger/workspace_test.go
  core/integration/module_config_compat_test.go
  core/integration/module_config_test.go
  core/integration/module_custom_sdk_test.go
  core/integration/module_init_cli_test.go
  core/integration/module_loading_test.go
  core/integration/workspace_selection_test.go
  future/integration-test-fixtures.md
  future/module-test-cleanup.md
  future/workspace-command-migration-review.md
Owners: none

docs: inventory SDK-owned integration tests
  future/module-test-cleanup.md
  future/sdk-tests.md
Owners: none

dagql: add volatile cache edge-case tests and scope comment
  dagql/cache_egraph.go
  dagql/cache_test.go
Owners: none

remove SDK-specific integration tests
  core/integration/client_generator_test.go
  core/integration/listen_test.go
  core/integration/module_config_test.go
  core/integration/module_dependency_cli_test.go
  core/integration/module_dependency_runtime_test.go
  core/integration/module_develop_cli_test.go
  core/integration/module_elixir_test.go
  core/integration/module_engine_version_test.go
  core/integration/module_go_test.go
  core/integration/module_init_cli_test.go
  core/integration/module_java_test.go
  core/integration/module_nested_cli_test.go
  core/integration/module_php_test.go
  core/integration/module_python_test.go
  core/integration/module_typescript_test.go
  core/integration/module_up_test.go
  core/integration/workspace_modules_test.go
  future/integration-test-fixtures.md
  future/module-test-cleanup.md
  future/sdk-tests.md
  future/spin-out-generated-clients.md
  future/workspace-command-migration-review.md
Owners: none

test: add integration fixture helpers
  core/integration/env_helpers_test.go
  core/integration/module_helpers_test.go
Owners: none

test: convert secret integration tests to fixtures
  core/integration/cross_session_test.go
  core/integration/secret_test.go
  core/integration/testdata/modules/go/private-git-dep-http/dagger.json
  core/integration/testdata/modules/go/private-git-dep-http/main.go
  core/integration/testdata/modules/go/private-git-dep-ssh/dagger.json
  core/integration/testdata/modules/go/private-git-dep-ssh/main.go
  core/integration/testdata/modules/go/secret-empty-plaintext/dagger.json
  core/integration/testdata/modules/go/secret-empty-plaintext/main.go
  core/integration/testdata/modules/go/secret-empty-plaintext/secreter/dagger.json
  core/integration/testdata/modules/go/secret-empty-plaintext/secreter/main.go
  core/integration/testdata/modules/go/secret-uri-caching/dagger.json
  core/integration/testdata/modules/go/secret-uri-caching/main.go
  core/integration/testdata/modules/go/set-secret-caching/dagger.json
  core/integration/testdata/modules/go/set-secret-caching/main.go
Owners: none

test: convert cache integration tests to fixtures
  core/integration/cache_test.go
  core/integration/testdata/modules/go/cache-source-stable-a/dagger.json
  core/integration/testdata/modules/go/cache-source-stable-a/main.go
  core/integration/testdata/modules/go/cache-source-stable-b/dagger.json
  core/integration/testdata/modules/go/cache-source-stable-b/main.go
  core/integration/testdata/modules/go/cache-volume-id-bar/dagger.json
  core/integration/testdata/modules/go/cache-volume-id-bar/main.go
  core/integration/testdata/modules/go/cache-volume-id-foo/dagger.json
  core/integration/testdata/modules/go/cache-volume-id-foo/main.go
  core/integration/testdata/modules/go/cache-volume-passed/bar/dagger.json
  core/integration/testdata/modules/go/cache-volume-passed/bar/main.go
  core/integration/testdata/modules/go/cache-volume-passed/dagger.json
  core/integration/testdata/modules/go/cache-volume-passed/main.go
Owners: none

test: convert module self-call fixtures
  core/integration/module_current_module_test.go
  core/integration/module_self_calls_test.go
  core/integration/testdata/modules/go/current-module-deps/dagger.json
  core/integration/testdata/modules/go/current-module-deps/depA/dagger.json
  core/integration/testdata/modules/go/current-module-deps/depA/main.go
  core/integration/testdata/modules/go/current-module-deps/depB/dagger.json
  core/integration/testdata/modules/go/current-module-deps/depB/main.go
  core/integration/testdata/modules/go/current-module-deps/main.go
  core/integration/testdata/modules/go/current-module-name-wacky/dagger.json
  core/integration/testdata/modules/go/current-module-name-wacky/main.go
  core/integration/testdata/modules/go/current-module/dagger.json
  core/integration/testdata/modules/go/current-module/main.go
  core/integration/testdata/modules/go/current-module/subdir/coolfile.txt
  core/integration/testdata/modules/go/self-api-call/dagger.json
  core/integration/testdata/modules/go/self-api-call/main.go
  core/integration/testdata/modules/go/self-calls/dagger.json
  core/integration/testdata/modules/go/self-calls/main.go
Owners: none

test: convert dang dependency fixture
  core/integration/module_builtin_dang_test.go
  core/integration/testdata/modules/dang/dependency-modules/dagger.json
  core/integration/testdata/modules/dang/dependency-modules/dangchild/dagger.json
  core/integration/testdata/modules/dang/dependency-modules/dangchild/main.dang
  core/integration/testdata/modules/dang/dependency-modules/gochild/dagger.json
  core/integration/testdata/modules/dang/dependency-modules/gochild/main.go
  core/integration/testdata/modules/dang/dependency-modules/main.dang
  core/integration/testdata/modules/dang/dependency-modules/pychild/.gitignore
  core/integration/testdata/modules/dang/dependency-modules/pychild/dagger.json
  core/integration/testdata/modules/dang/dependency-modules/pychild/pyproject.toml
  core/integration/testdata/modules/dang/dependency-modules/pychild/src/pychild/__init__.py
  core/integration/testdata/modules/dang/dependency-modules/tschild/dagger.json
  core/integration/testdata/modules/dang/dependency-modules/tschild/package.json
  core/integration/testdata/modules/dang/dependency-modules/tschild/src/index.ts
  core/integration/testdata/modules/dang/dependency-modules/tschild/tsconfig.json
Owners: none

tui: fix lag between expanding and moving focus
  dagql/idtui/frontend_pretty.go
Owners: none

feat(dagui): add shared test view
  dagql/dagui/db.go
  dagql/dagui/spans.go
  dagql/dagui/tests.go
  dagql/dagui/tests_test.go
Owners: none

fix(idtui): surface hidden error origins
  dagql/idtui/frontend_plain.go
  dagql/idtui/frontend_plain_test.go
  dagql/idtui/frontend_pretty.go
Owners: none

fix(idtui): honor focus in tests UI
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_tests.go
Owners: none
