Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

lockfile: encode args as ordered tuples
  core/workspace/lock.go
  core/workspace/lock_test.go
  hack/designs/lockfile.md
  util/lockfile/lockfile.go
  util/lockfile/lockfile_test.go
Owners: none

docusaurus: optimized llm prompt for analyzing deps
  modules/docusaurus/optimize-config-prompt.txt
Owners: none

lockfile: use positional args without names
  core/workspace/lock.go
  core/workspace/lock_test.go
  hack/designs/lockfile.md
  util/lockfile/lockfile.go
  util/lockfile/lockfile_test.go
Owners: none

docusaurus: deterministic include generator
  modules/docusaurus/docusaurus.dang
  modules/docusaurus/optimize-config-prompt.txt
  modules/docusaurus/tests/main.dang
  modules/docusaurus/tests/testdata/runtime/site-format/docs/intro.md
  modules/docusaurus/tests/testdata/runtime/site-format/docusaurus.config.js
  modules/docusaurus/tests/testdata/runtime/site-format/package.json
  modules/docusaurus/tools/package-json-edit.cjs
  modules/docusaurus/tools/package-lock.json
  modules/docusaurus/tools/package.json
Owners: none

sdk/java: enable maven threading
  sdk/java/runtime/main.go
Owners: @dagger/sdk-java

feat: handle function returning an array of changesets
  cmd/dagger/functions.go
Owners: none

fix: generate sdk typescript if node_modules
  toolchains/typescript-sdk-dev/ts-sdk.dang
Owners: none

feat: handle function returning an array of changesets (#11926)
  cmd/dagger/functions.go
Owners: none

sdk/java: enable maven threading (#11925)
  sdk/java/runtime/main.go
Owners: @dagger/sdk-java

lockfile: enforce hard cutover to positional args
  core/workspace/lock.go
  core/workspace/lock_test.go
  hack/designs/lockfile.md
Owners: none

docs: restore core lookup locking scope in lockfile design
  hack/designs/lockfile.md
Owners: none

all passing locally
  cmd/codegen/generator/go/templates/src/_dagger.gen.go/client.go.tmpl
  cmd/codegen/generator/typescript/templates/src/header.ts.gtpl
  core/integration/engine_test.go
  core/integration/git_test.go
  core/integration/platform_test.go
  core/integration/proxy_test.go
  core/integration/suite_test.go
  internal/testutil/dagger/dagger.gen.go
  internal/testutil/dagger/go.mod
  toolchains/test-split/engine-tests.gen.dang
Owners: none

fix(idtui): show subprocess output on error in dagger run (#11923)
  dagql/idtui/frontend_pretty.go
Owners: none

docusaurus: do some code golfing
  modules/docusaurus/dagger.json
  modules/docusaurus/docusaurus.dang
Owners: none

docs: split docusaurus workspace-api design details
  hack/designs/dogfood-workspace-api.md
  hack/designs/module-docusaurus.md
Owners: none

workspace: lock container.from and wire CLI lock mode
  cmd/dagger/engine.go
  cmd/dagger/engine_lock_test.go
  cmd/dagger/main.go
  core/schema/container.go
  core/schema/lockfile.go
  core/schema/lockfile_test.go
  core/schema/workspace.go
  core/workspace/lock.go
  core/workspace/lock_test.go
  hack/designs/lockfile.md
Owners: none

docusaurus: reduce runtime-external-paths jit overhead
  modules/docusaurus/docusaurus.dang
  modules/docusaurus/jit-workspace-hook.cjs
  modules/docusaurus/jit-workspace-log.cjs
Owners: none

docusaurus: revert checkBuild to Void @check
  modules/docusaurus/docusaurus.dang
Owners: none

design: refresh lockfile implementation state
  hack/designs/lockfile.md
Owners: none

util/llbtodagger: convert LLB definitions to Dagger IDs
  engine/buildkit/llbdefinition.go
  util/llbtodagger/WHITEBOARD.md
  util/llbtodagger/convert.go
  util/llbtodagger/convert_test.go
  util/llbtodagger/doc.go
  util/llbtodagger/dockerfile_convert_test.go
  util/llbtodagger/exec.go
  util/llbtodagger/file.go
  util/llbtodagger/source.go
  util/llbtodagger/types.go
Owners: none

engine: canonicalize module source identity for dedupe
  engine/server/session.go
  engine/server/session_lock_test.go
  hack/designs/blueprint-to-workspace.md
Owners: none

Add llbtodagger converter support and test coverage
  core/integration/llbtodagger_test.go
  util/llbtodagger/WHITEBOARD.md
  util/llbtodagger/convert.go
  util/llbtodagger/convert_test.go
  util/llbtodagger/dockerfile_convert_test.go
  util/llbtodagger/exec.go
  util/llbtodagger/file.go
  util/llbtodagger/metadata.go
  util/llbtodagger/source.go
Owners: none

tui: restore workspace module loading progress
  cmd/dagger/module_inspect.go
  dagql/dagui/opts.go
  engine/server/session.go
  hack/design/bugs/workspace-missing-spans.md
Owners: none

llbtodagger: support copy chmod mode and expand integration coverage
  core/container.go
  core/directory.go
  core/integration/directory_test.go
  core/integration/llbtodagger_test.go
  core/schema/container.go
  core/schema/directory.go
  sdk/go/dagger.gen.go
  util/llbtodagger/WHITEBOARD.md
  util/llbtodagger/convert_test.go
  util/llbtodagger/dockerfile_convert_test.go
  util/llbtodagger/file.go
Owners: @dagger/sdk-go

llbtodagger: support readonly exec mounts and mount cleanup
  core/integration/container_test.go
  core/integration/llbtodagger_test.go
  core/schema/container.go
  sdk/go/dagger.gen.go
  util/llbtodagger/WHITEBOARD.md
  util/llbtodagger/convert_test.go
  util/llbtodagger/exec.go
Owners: @dagger/sdk-go

llbtodagger: support explicit file copy destinations
  core/integration/llbtodagger_test.go
  util/llbtodagger/WHITEBOARD.md
  util/llbtodagger/convert_test.go
  util/llbtodagger/dockerfile_convert_test.go
  util/llbtodagger/file.go
Owners: none

llbtodagger: support named chown for copy with container context
  core/integration/llbtodagger_test.go
  util/llbtodagger/WHITEBOARD.md
  util/llbtodagger/convert_test.go
  util/llbtodagger/dockerfile_convert_test.go
  util/llbtodagger/file.go
Owners: none

llbtodagger: support internal OCI metadata mapping
  core/integration/llbtodagger_test.go
  core/schema/container.go
  core/schema/container_internal_test.go
  util/llbtodagger/WHITEBOARD.md
  util/llbtodagger/dockerfile_convert_test.go
  util/llbtodagger/metadata.go
Owners: none

llbtodagger: support file copy createDestPath=false
  core/container.go
  core/directory.go
  core/integration/llbtodagger_test.go
  core/schema/container.go
  core/schema/directory.go
  util/llbtodagger/WHITEBOARD.md
  util/llbtodagger/convert.go
  util/llbtodagger/convert_test.go
  util/llbtodagger/file.go
Owners: none

llbtodagger: rebind dockerBuild main context via sentinel local source
  core/container.go
  core/schema/container.go
  core/schema/directory.go
  util/llbtodagger/WHITEBOARD.md
  util/llbtodagger/convert.go
  util/llbtodagger/convert_test.go
  util/llbtodagger/source.go
Owners: none

llbtodagger: enforce strict copy source checks for Dockerfile parity
  core/container.go
  core/directory.go
  core/schema/container.go
  core/schema/container_internal_test.go
  core/schema/directory.go
  util/llbtodagger/WHITEBOARD.md
  util/llbtodagger/convert_test.go
  util/llbtodagger/file.go
Owners: none

llbtodagger: add secret env and mount conversion support
  core/container.go
  core/integration/llbtodagger_test.go
  util/llbtodagger/WHITEBOARD.md
  util/llbtodagger/convert.go
  util/llbtodagger/convert_test.go
  util/llbtodagger/dockerfile_convert_test.go
  util/llbtodagger/exec.go
Owners: none

core: retain dockerBuild secrets on returned container
  core/container.go
Owners: none

llbtodagger: add dockerBuild SSH mount conversion support
  core/container.go
  core/integration/dockerfile_test.go
  core/integration/llbtodagger_test.go
  core/schema/directory.go
  util/llbtodagger/WHITEBOARD.md
  util/llbtodagger/convert.go
  util/llbtodagger/convert_test.go
  util/llbtodagger/dockerfile_convert_test.go
  util/llbtodagger/exec.go
Owners: none

core: allow known Dockerfile syntax pragmas in cutover
  core/container.go
  core/container_syntax_test.go
  core/integration/dockerfile_test.go
  util/llbtodagger/WHITEBOARD.md
Owners: none

core: add public query.http checksum enforcement
  core/integration/http_test.go
  core/schema/http.go
  core/schema/http_test.go
  sdk/go/dagger.gen.go
  util/llbtodagger/WHITEBOARD.md
Owners: @dagger/sdk-go

llbtodagger: add archive auto-unpack compatibility path
  core/container.go
  core/directory.go
  core/host.go
  core/integration/llbtodagger_test.go
  core/schema/container.go
  core/schema/directory.go
  core/schema/host.go
  engine/filesync/filesyncer.go
  engine/filesync/localfs.go
  engine/filesync/remotefs.go
  util/llbtodagger/WHITEBOARD.md
  util/llbtodagger/convert_test.go
  util/llbtodagger/dockerfile_convert_test.go
  util/llbtodagger/exec.go
  util/llbtodagger/file.go
  util/llbtodagger/source.go
Owners: none

llbtodagger: support named-owner mkdir via container path
  core/integration/llbtodagger_test.go
  util/llbtodagger/WHITEBOARD.md
  util/llbtodagger/convert_test.go
  util/llbtodagger/dockerfile_convert_test.go
  util/llbtodagger/file.go
Owners: none

llbtodagger: map exec insecure security to withExec option
  util/llbtodagger/WHITEBOARD.md
  util/llbtodagger/convert_test.go
  util/llbtodagger/exec.go
Owners: none

llbtodagger: support exec network none and fix netstat nil sample
  core/container_exec.go
  core/integration/llbtodagger_test.go
  engine/buildkit/resources/netstat.go
  util/llbtodagger/WHITEBOARD.md
  util/llbtodagger/convert_test.go
  util/llbtodagger/dockerfile_convert_test.go
  util/llbtodagger/exec.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
