Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

integration: record rebuilt branch state
  MERGE_STATE.md
Owners: none

cli: sort module search output by source
  internal/cmd/dagger/mod.go
  internal/cmd/dagger/mod_test.go
Owners: none

cli: add workspace find command
  .changes/unreleased/Added-20260910-150000.yaml
  core/integration/workspace_find_test.go
  docs/current_docs/reference/cli/index.mdx
  internal/cmd/dagger/capabilities.go
  internal/cmd/dagger/capabilities_test.go
  internal/cmd/dagger/workspace.go
  internal/cmd/dagger/workspace_find.go
  internal/cmd/dagger/workspace_find_test.go
  internal/cmd/dagger/workspace_test.go
Owners: @dagger/docs

docs: refresh CLI reference
  docs/current_docs/reference/cli/index.mdx
Owners: @dagger/docs

git: accept ancestor bundle prerequisites
  engine/session/git/git_capture.go
  engine/session/git/git_capture_test.go
Owners: none

feat(cli): use orgComputeMinutes for cloud usage minutes
  internal/cloud/usage.go
  internal/cloud/usage_test.go
  internal/cmd/dagger/usage_cloud.go
Owners: none

update lock
  dagger.lock
Owners: none

fix: preserve unrelated dagger.toml content during config edits
  core/integration/workspace_config_preservation_test.go
  core/workspace/config.go
  core/workspace/config_document.go
  core/workspace/config_edit.go
  core/workspace/config_preservation_test.go
Owners: none

fix: render JSON numbers in SDK settings
  core/workspace/config_edit.go
  core/workspace/config_json_numbers_test.go
Owners: none

fix: remove omitted table-valued settings completely
  core/workspace/config_document.go
  core/workspace/config_settings_removal_test.go
Owners: none

test: accept connection errors from both git backends
  core/integration/workspace_module_resolution_test.go
Owners: none

test: expect git access errors with their cause
  core/integration/git_test.go
Owners: none

fix: report remote module resolution
  core/gitref/display.go
  core/gitref/display_test.go
  core/gitref/gitref.go
  core/integration/workspace_module_resolution_test.go
  core/modulerefs.go
  core/modulerefs_test.go
  core/modulesource.go
  core/schema/git.go
  core/schema/modulesource.go
  core/schema/workspace_install.go
  core/schema/workspace_module_resolution.go
  core/schema/workspace_module_resolution_test.go
  engine/vcs/http.go
  engine/vcs/resolution_errors_test.go
  engine/vcs/vcs.go
  util/gitutil/error.go
  util/gitutil/error_test.go
Owners: none

fix: make installed module version updates explicit
  core/integration/workspace_module_versions_test.go
  core/schema/workspace.go
  core/schema/workspace_builders.go
  core/schema/workspace_install.go
  core/workspace/module_selection.go
  core/workspace/module_selection_test.go
  internal/cmd/dagger/capabilities.go
  internal/cmd/dagger/lock.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/module.go
  internal/cmd/dagger/module_selection.go
  internal/cmd/dagger/module_selection_test.go
  internal/cmd/dagger/workspace.go
Owners: none

fix: complete module selectors and generated clients
  core/integration/workspace_module_versions_test.go
  core/schema/workspace_builders.go
  core/workspace/module_selection.go
  core/workspace/module_selection_test.go
  docs/current_docs/reference/cli/index.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  internal/cmd/dagger/capabilities_test.go
  internal/cmd/dagger/module.go
  internal/cmd/dagger/module_selection.go
  internal/cmd/dagger/module_selection_test.go
  internal/cmd/dagger/workspace_test.go
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

fix(workspace): preserve literal local module selectors
  core/workspace/module_selection.go
  core/workspace/module_selection_test.go
Owners: none

test: account for no-op module reinstalls
  core/integration/workspace_module_resolution_test.go
Owners: none

fix: preserve native SDK config during migration
  core/integration/module_migration_test.go
  core/schema/workspace_migrate_modules.go
Owners: none

fix: keep canonical SDK install names in migration
  core/integration/module_migration_test.go
  core/schema/workspace_migrate_modules.go
  core/workspace/migrate.go
  core/workspace/module_migrate_test.go
Owners: none

test: use workspace migrate in compat coverage
  core/integration/workspace_compat_test.go
Owners: none

workspace: fix migration plan ownership and CLI progress flags
  core/integration/module_recommend_test.go
  core/integration/workspace_api_test.go
  core/integration/workspace_migration_test.go
  core/schema/workspace.go
  core/schema/workspace_migrate.go
  core/schema/workspace_migrate_modules.go
  core/workspace_migration.go
  core/workspace_migration_test.go
  internal/cmd/dagger/capabilities.go
  internal/cmd/dagger/capabilities_test.go
  internal/cmd/dagger/migrate.go
Owners: none

test: generate migrated workspace SDK scopes
  core/integration/workspace_compat_test.go
Owners: none

chore: regenerate workspace API clients
  docs/current_docs/reference/cli/index.mdx
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/Dagger/WorkspaceMigration.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/elixir/lib/dagger/gen/workspace_migration.ex
  sdk/php/generated/Workspace.php
  sdk/php/generated/WorkspaceMigration.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

fix: migrate plain modules without SDKs
  core/schema/workspace_migrate_module_config.go
Owners: none

feat: manage the workspace entrypoint by installed name
  core/integration/workspace_entrypoint_test.go
  core/workspace/entrypoint.go
  core/workspace/entrypoint_test.go
  internal/cmd/dagger/capabilities.go
  internal/cmd/dagger/capabilities_test.go
  internal/cmd/dagger/workspace_entrypoint.go
  internal/cmd/dagger/workspace_entrypoint_test.go
Owners: none

feat: control module installation during init
  core/integration/generators_test.go
  core/integration/module_init_controls_test.go
  core/integration/workspace_entrypoint_test.go
  core/schema/workspace.go
  core/schema/workspace_sdk_module.go
  core/schema/workspace_sdk_test.go
  core/workspace/module_init.go
  docs/current_docs/reference/cli/index.mdx
  internal/cmd/dagger/module_sdk.go
  internal/cmd/dagger/module_sdk_test.go
Owners: @dagger/docs

fix(workspace): preserve module names when changing entrypoints
  core/schema/workspace_entrypoint_name_test.go
  core/schema/workspace_sdk_module.go
  core/schema/workspace_sdk_test.go
  core/workspace/entrypoint.go
  core/workspace/entrypoint_test.go
  internal/cmd/dagger/workspace_entrypoint.go
Owners: none

fix(cli): preserve workspace defaults when check flags are omitted
  core/integration/checks_test.go
  internal/cmd/dagger/checks.go
Owners: none

fix: resolve workspace paths for entrypoint edits and init output
  core/integration/workspace_entrypoint_test.go
  internal/cmd/dagger/module_sdk.go
  internal/cmd/dagger/module_sdk_test.go
  internal/cmd/dagger/workspace_entrypoint.go
Owners: none

fix(go-sdk): preserve explicit false for nullable boolean options
  cmd/codegen/generator/functions.go
  cmd/codegen/generator/go/templates/functions.go
  cmd/codegen/generator/go/templates/optional_boolean_test.go
  core/integration/envfile_test.go
  core/integration/services_test.go
  core/integration/workspace_entrypoint_targets_test.go
  core/integration/workspace_synthetic_test.go
  internal/cmd/dagger/checks.go
  internal/cmd/dagger/module.go
  internal/cmd/dagger/module_inspect.go
  sdk/go/dagger.gen.go
  sdk/go/workspace_init_options_test.go
Owners: @dagger/sdk-go

codegen: keep plain bool for optional Go Boolean options
  cmd/codegen/generator/functions.go
  cmd/codegen/generator/go/templates/functions.go
  cmd/codegen/generator/go/templates/optional_boolean_test.go
  core/integration/checks_test.go
  core/integration/envfile_test.go
  core/integration/services_test.go
  core/integration/workspace_entrypoint_targets_test.go
  core/integration/workspace_synthetic_test.go
  internal/cmd/dagger/checks.go
  internal/cmd/dagger/module.go
  internal/cmd/dagger/module_inspect.go
  sdk/go/dagger.gen.go
  sdk/go/workspace_init_options_test.go
Owners: @dagger/sdk-go

chore: regenerate clients for module init controls
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Workspace.html
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

cli: reject --no-apply with --auto-apply in module init
  internal/cmd/dagger/module_sdk.go
Owners: none

cli: require a local workspace to set the entrypoint
  internal/cmd/dagger/main.go
  internal/cmd/dagger/workspace_test.go
Owners: none

cli: remove unused handleWorkspaceResponse
  dagger.lock
  internal/cmd/dagger/functions.go
Owners: none

docs: regenerate CLI reference after --env removal
  docs/current_docs/reference/cli/index.mdx
Owners: @dagger/docs

fix(cli): drop removed apiClientCmd from api command registration
  internal/cmd/dagger/api.go
Owners: none

workspace: add an API to select the entrypoint
  core/integration/workspace_entrypoint_test.go
  core/schema/workspace.go
  core/schema/workspace_entrypoint.go
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Workspace.html
  internal/cmd/dagger/workspace_entrypoint.go
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

workspace: add an API to read the entrypoint
  core/integration/workspace_entrypoint_test.go
  core/schema/workspace.go
  core/schema/workspace_entrypoint.go
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Workspace.html
  internal/cmd/dagger/workspace_entrypoint.go
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

chore: regenerate SDK clients for workspace entrypoint APIs
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/python/src/dagger/client/gen.py
Owners: @dagger/docs, @dagger/sdk-python
