Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

core: compute changeset diffs from metadata instead of full-content g… (#13615)
  core/changeset.go
  core/changeset_delta.go
  core/changeset_delta_test.go
  engine/snapshots/fsdiff/compare.go
  engine/snapshots/fsdiff/compare_linux.go
Owners: none

chore: bump dependencies to v0.21.8
  core/sdk/go_sdk.go
  docs/current_docs/partials/version.js
  helm/dagger/Chart.yaml
  lib/dagger/core/version.ex
  sdk/go/engineconn/version.gen.go
  sdk/java/dagger-codegen-maven-plugin/pom.xml
  sdk/java/dagger-java-annotation-processor/pom.xml
  sdk/java/dagger-java-samples/pom.xml
  sdk/java/dagger-java-sdk/pom.xml
  sdk/java/pom.xml
  sdk/java/runtime/template/pom.xml
  sdk/php/src/Connection/version.php
  sdk/python/src/dagger/_engine/_version.py
  sdk/rust/Cargo.lock
  sdk/rust/Cargo.toml
  sdk/rust/crates/dagger-sdk/src/core/version.rs
  sdk/typescript/src/provisioning/default.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-java, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

core: fall back to engine commit for remote runtimes
  core/modulerefs.go
  core/modulerefs_test.go
  core/sdk/loader.go
Owners: none

chore: prep for v0.21.8 (#13767)
  core/sdk/go_sdk.go
  docs/current_docs/partials/version.js
  helm/dagger/Chart.yaml
  lib/dagger/core/version.ex
  sdk/go/engineconn/version.gen.go
  sdk/java/dagger-codegen-maven-plugin/pom.xml
  sdk/java/dagger-java-annotation-processor/pom.xml
  sdk/java/dagger-java-samples/pom.xml
  sdk/java/dagger-java-sdk/pom.xml
  sdk/java/pom.xml
  sdk/java/runtime/template/pom.xml
  sdk/php/src/Connection/version.php
  sdk/python/src/dagger/_engine/_version.py
  sdk/rust/Cargo.lock
  sdk/rust/Cargo.toml
  sdk/rust/crates/dagger-sdk/src/core/version.rs
  sdk/typescript/src/provisioning/default.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-java, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

chore: add release notes for v0.21.8
  .changes/v0.21.8.md
  CHANGELOG.md
  README.md
  helm/dagger/.changes/v0.21.8.md
  helm/dagger/CHANGELOG.md
  sdk/elixir/.changes/v0.21.8.md
  sdk/elixir/CHANGELOG.md
  sdk/go/.changes/v0.21.8.md
  sdk/go/CHANGELOG.md
  sdk/php/.changes/v0.21.8.md
  sdk/php/CHANGELOG.md
  sdk/python/.changes/v0.21.8.md
  sdk/python/CHANGELOG.md
  sdk/rust/.changes/v0.21.8.md
  sdk/rust/CHANGELOG.md
  sdk/typescript/.changes/v0.21.8.md
  sdk/typescript/CHANGELOG.md
Owners: @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

bump .next to next release version
  .changes/.next
  README.md
  RELEASING.md
Owners: none

chore: changelog for v0.21.8 (#13768)
  .changes/.next
  .changes/v0.21.8.md
  CHANGELOG.md
  README.md
  RELEASING.md
  helm/dagger/.changes/v0.21.8.md
  helm/dagger/CHANGELOG.md
  sdk/elixir/.changes/v0.21.8.md
  sdk/elixir/CHANGELOG.md
  sdk/go/.changes/v0.21.8.md
  sdk/go/CHANGELOG.md
  sdk/php/.changes/v0.21.8.md
  sdk/php/CHANGELOG.md
  sdk/python/.changes/v0.21.8.md
  sdk/python/CHANGELOG.md
  sdk/rust/.changes/v0.21.8.md
  sdk/rust/CHANGELOG.md
  sdk/typescript/.changes/v0.21.8.md
  sdk/typescript/CHANGELOG.md
Owners: @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

cli: avoid retaining telemetry in silent sessions (#13762)
  .changes/unreleased/Fixed-20260729-043546.yaml
  core/integration/client_test.go
  core/integration/testdata/telemetry/main.go
  internal/cmd/dagger/engine.go
  internal/cmd/dagger/engine_test.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/session.go
  internal/cmd/dagger/session_test.go
Owners: none

feat(sdk/typescript): no codegen at runtime (#13621)
  cmd/codegen/generator/typescript/templates/entrypoint_functions.go
  cmd/codegen/generator/typescript/templates/entrypoint_typedef.go
  cmd/codegen/generator/typescript/templates/src/entrypoint/register.ts.gtpl
  hack/designs/typescript-no-codegen-at-runtime.md
  sdk/typescript/runtime/config.go
  sdk/typescript/runtime/dagger.gen.go
  sdk/typescript/runtime/internal/dagger/typescript-sdk.gen.go
  sdk/typescript/runtime/introspector.go
  sdk/typescript/runtime/main.go
  sdk/typescript/runtime/runtime_bun.go
  sdk/typescript/runtime/runtime_deno.go
  sdk/typescript/runtime/runtime_node.go
  sdk/typescript/runtime/tsutils/module/core.d.ts
  sdk/typescript/runtime/tsutils/module/index.ts
  sdk/typescript/src/module/entrypoint/introspection_entrypoint.ts
  sdk/typescript/src/module/introspector/introspection_json.ts
  sdk/typescript/src/module/introspector/test/introspection_json.spec.ts
  sdk/typescript/src/module/introspector/typedef_json.ts
Owners: @dagger/sdk-typescript

fix(core): make local dep generation linear
  core/schema/modulesource.go
  core/schema/workspace.go
  core/workspace.go
Owners: none

refactor(core): scope the staged-generation mark
  core/schema/modulesource.go
  core/schema/workspace.go
  core/workspace.go
Owners: none

cli: avoid retaining telemetry in silent sessions (#13762)
  .changes/v0.21.8.md
  CHANGELOG.md
  cmd/dagger/engine.go
  cmd/dagger/engine_test.go
  cmd/dagger/main.go
  cmd/dagger/session.go
  cmd/dagger/session_test.go
  core/integration/client_test.go
  core/integration/testdata/telemetry/main.go
Owners: none

review: keep gitignore rules for modules left in legacy format
  core/integration/workspace_migration_test.go
  core/schema/workspace_migrate.go
  core/schema/workspace_migrate_module_config.go
Owners: none

fix: clean generated-code ignores during setup
  core/schema/modulesource.go
  core/schema/workspace_migrate.go
Owners: none

test: reproduce stale gitignore rules after setup
  core/integration/workspace_migration_test.go
Owners: none

review: normalize the gitignore cleanup path once
  core/schema/workspace_migrate.go
Owners: none

feat(docker-compat): add experimentalDockerCompatibility: true to expose a partial Docker-API compliant listener inside of withExec/terminal at DOCKER_HOST
  .changes/unreleased/Added-20260728-021622.yaml
  core/container.go
  core/container_exec.go
  core/integration/container_test.go
  core/integration/images.go
  core/schema/container.go
  core/schema/modulesource.go
  core/schema/modulesource_test.go
  core/service.go
  core/terminal.go
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Container.html
  docs/static/reference/php/Dagger/Directory.html
  engine/engineutil/client.go
  engine/engineutil/docker_container_backend.go
  engine/engineutil/docker_container_backend_storage.go
  engine/engineutil/docker_handler.go
  engine/engineutil/docker_system_backend.go
  engine/engineutil/executor.go
  engine/engineutil/executor_spec.go
  engine/server/session.go
  go.mod
  go.sum
  sdk/elixir/lib/dagger/gen/container.ex
  sdk/elixir/lib/dagger/gen/directory.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Container.php
  sdk/php/generated/Directory.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
  toolchains/cli-dev/internal/dagger/dagger.gen.go
  toolchains/docs-dev/internal/dagger/dagger.gen.go
  toolchains/engine-dev/go.mod
  toolchains/engine-dev/go.sum
  toolchains/engine-dev/internal/dagger/dagger.gen.go
  toolchains/go/go.mod
  toolchains/go/go.sum
  toolchains/go/internal/dagger/dagger.gen.go
  toolchains/release/internal/dagger/dagger.gen.go
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

cli: add module dependency update command
  core/integration/module_dependency_cli_test.go
  docs/current_docs/reference/cli/index.mdx
  internal/cmd/dagger/module_cmd.go
Owners: @dagger/docs

refactor(core): stage direct local dependencies in parallel
  core/schema/modulesource.go
Owners: none

regen
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/ModuleSource.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/module_source.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/ModuleSource.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

cli: avoid retaining telemetry in silent sessions (#13762) (#13770)
  .changes/v0.21.8.md
  CHANGELOG.md
  cmd/dagger/engine.go
  cmd/dagger/engine_test.go
  cmd/dagger/main.go
  cmd/dagger/session.go
  cmd/dagger/session_test.go
  core/integration/client_test.go
  core/integration/testdata/telemetry/main.go
Owners: none

fix changelog:generate
  toolchains/changelog/main.dang
Owners: none

toolchains/security: use Workspace
  .dagger/migration-report.md
  dagger.toml
  toolchains/security/main.dang
Owners: none

regen dang sdks
  core/integration/testdata/workspaces/workspace-managed/modules/cwd/dagger.json
Owners: none

test: strip dagger.toml in TestContextParallel
  core/integration/module_path_inputs_test.go
Owners: none

fix engine-dev source filter to keep dagger.toml
  toolchains/engine-dev/main.go
Owners: none

uninstall toolchains/go
  dagger.toml
Owners: none

engine-dev: defaultPath -> Workspace
  toolchains/engine-dev/dagger-module.toml
  toolchains/engine-dev/dagger.gen.go
  toolchains/engine-dev/internal/dagger/dagger.gen.go
  toolchains/engine-dev/internal/dagger/engine-dev.gen.go
  toolchains/engine-dev/main.go
Owners: none

test: isolate generator persistence fixture from repo
  core/integration/engine_persistence_test.go
Owners: none

fix hack/dev and hack/build
  hack/build
  hack/dev
Owners: none

DNM: point to dang-sdk fork
  dagger.lock
  dagger.toml
Owners: none

hack/build: rewrite as dang module
  dagger.toml
  hack/build
  toolchains/dev/dagger-module.toml
  toolchains/dev/main.dang
Owners: none

toolchains/changelog: use Workspace
  toolchains/changelog/main.dang
Owners: none

fix dagger-dang-sdk:generate-all
  core/integration/testdata/modules/dang/enum-dependency/dagger.json
Owners: none

core: ignore ctime when merging changesets
  core/changeset.go
Owners: none

fix(core): touch merge-applied paths so git sees them
  core/changeset.go
  core/integration/changeset_test.go
Owners: none

fix(layercopy): unwrap hardlink fallback errors
  util/layercopy/copy_linux.go
Owners: none

fix(core): merge changesets by content
  core/changeset.go
Owners: none

bump tuist for focus race fix
  go.mod
  go.sum
Owners: none

bump midterm for ansicode handler fix
  go.mod
  go.sum
Owners: none
