Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

telemetry/cache: make LoadType probe telemetry hit-only and preserve cached effect lineage
  core/schema/container.go
  core/schema/wrapper.go
  core/telemetry.go
  dagql/cache.go
  dagql/cache_egraph.go
  dagql/idtui/golden_test.go
  dagql/idtui/render_dsl.go
  dagql/idtui/testdata/TestTelemetry/TestGolden/path-args
  dagql/objects.go
  dagql/server.go
  dagql/session_cache.go
  dagql/session_cache_test.go
Owners: none

core/util: restore full external paths from wrapped path/link errors
  core/util.go
Owners: none

core/container: make from eagerly install FS and push laziness into rootfs directory
  core/container.go
  core/schema/container.go
Owners: none

dagql: rename cache implicit input API to Per*Input and move to cache_inputs.go
  core/modfunc.go
  core/modfunc_test.go
  core/schema/address.go
  core/schema/container.go
  core/schema/directory.go
  core/schema/engine.go
  core/schema/env.go
  core/schema/envfile.go
  core/schema/file.go
  core/schema/git.go
  core/schema/host.go
  core/schema/http.go
  core/schema/llm.go
  core/schema/module.go
  core/schema/modulesource.go
  core/schema/query.go
  core/schema/secret.go
  core/schema/workspace.go
  dagql/cache_inputs.go
  dagql/dagql_test.go
  dagql/introspection/types.go
Owners: none

Clarify extra-digest proto comments for cache equivalence semantics
  dagql/call/callpbv1/call.proto
Owners: none

llbtodagger: support dockerBuild noInit in hard-cutover path
  core/container.go
  core/integration/llbtodagger_test.go
  util/llbtodagger/WHITEBOARD.md
  util/llbtodagger/convert.go
  util/llbtodagger/convert_test.go
  util/llbtodagger/dockerfile_convert_test.go
  util/llbtodagger/exec.go
Owners: none

fix llbtodagger copy semantics for ambiguous dockerfile copy
  core/container.go
  core/directory.go
  core/directory_attempt_unpack_test.go
  core/integration/dockerfile_test.go
  core/integration/llbtodagger_test.go
  core/schema/container.go
  core/schema/directory.go
  util/llbtodagger/WHITEBOARD.md
  util/llbtodagger/convert_test.go
  util/llbtodagger/dockerfile_convert_test.go
  util/llbtodagger/file.go
Owners: none

WIP: phase 0 cache-volume snapshot ownership cutover (owner/source fix squashed)
  core/cache.go
  core/container.go
  core/container_exec.go
  core/schema/container.go
  core/service.go
Owners: none

dagql: add Phase 1 prune usage metadata and snapshot API
  dagql/cache.go
  dagql/cache_egraph.go
  dagql/cache_test.go
Owners: none

engine/server: add dagql-native prune policy model and resolver plumbing
  engine/server/gc.go
  engine/server/gc_test.go
Owners: none

dagql: implement phase-3 in-memory prune execution engine
  dagql/cache.go
  dagql/cache_egraph.go
  dagql/cache_test.go
Owners: none

engine/server: cut over cache entry listing and prune/gc execution to dagql
  engine/server/gc.go
Owners: none

phase5: remove buildkit prune policy type leakage from query API
  core/engine.go
  core/query.go
  core/telemetry_test.go
  engine/server/gc.go
  engine/server/server.go
Owners: none

phase5: fix local cache prune semantics and snapshot-backed usage accounting
  core/dagql_cache_usage.go
  dagql/cache.go
Owners: none

schema/query: make __schemaJSONFile direct and eager (no dagql select chain)
  core/schema/query.go
Owners: none

rebucket test-split
  toolchains/test-split/engine-tests.gen.dang
Owners: none

expand test coverage
  core/integration/dockerfile_test.go
Owners: none

fix getSnapshot to not re-eval
  core/dagql_cache_usage.go
Owners: none

fix cache usage accounting without re-triggering lazy side effects
  core/dagql_cache_usage.go
  dagql/cache.go
  dagql/cache_test.go
  engine/server/gc.go
Owners: none

llbtodagger: port dockerfile reimplementation stack onto egraph branch
  core/container.go
  core/container_exec.go
  core/container_exec_test.go
  core/container_syntax_test.go
  core/directory.go
  core/directory_attempt_unpack_test.go
  core/integration/container_test.go
  core/integration/directory_test.go
  core/integration/dockerfile_test.go
  core/integration/http_test.go
  core/integration/llbtodagger_test.go
  core/schema/container.go
  core/schema/container_internal_test.go
  core/schema/directory.go
  core/schema/host.go
  core/schema/http.go
  core/schema/http_test.go
  engine/buildkit/llbdefinition.go
  engine/buildkit/resources/netstat.go
  engine/filesync/filesyncer.go
  engine/filesync/localfs.go
  engine/filesync/remotefs.go
  engine/server/server.go
  sdk/go/dagger.gen.go
  util/llbtodagger/WHITEBOARD.md
  util/llbtodagger/convert.go
  util/llbtodagger/convert_test.go
  util/llbtodagger/doc.go
  util/llbtodagger/dockerfile_convert_test.go
  util/llbtodagger/exec.go
  util/llbtodagger/file.go
  util/llbtodagger/metadata.go
  util/llbtodagger/source.go
  util/llbtodagger/types.go
Owners: @dagger/sdk-go

vault OIDC implementation
  engine/client/secretprovider/vault.go
  engine/client/secretprovider/vault_oidc.go
  engine/client/secretprovider/vault_oidc_test.go
Owners: none

Copy skills for github copilot
  .github/skills
Owners: none

add integration tests
  core/integration/secretprovider_test.go
Owners: none

Apply suggestions from code review
  core/integration/secretprovider_test.go
  engine/client/secretprovider/vault.go
  engine/client/secretprovider/vault_oidc.go
Owners: none

fix: generate sdk typescript if node_modules (#11927)
  toolchains/typescript-sdk-dev/ts-sdk.dang
Owners: none

chore(llm): lower openai default model tier
  cmd/dagger/shell.go
  core/llm.go
  docs/current_docs/reference/cli/index.mdx
  docs/current_docs/reference/configuration/llm.mdx
Owners: @dagger/docs

cache per schema
  core/schema/query.go
Owners: none

revert dagger.json change in address_test
  core/integration/address_test.go
Owners: none

fix: regenerate golden telemetry tests.
  dagql/idtui/testdata/TestTelemetry/TestGolden/broken-dep-sdk/use-invalid
  dagql/idtui/testdata/TestTelemetry/TestGolden/broken-dep/use-broken
  dagql/idtui/testdata/TestTelemetry/TestGolden/broken/broken
  dagql/idtui/testdata/TestTelemetry/TestGolden/call-bubbling-dep
  dagql/idtui/testdata/TestTelemetry/TestGolden/call-failing-dep
  dagql/idtui/testdata/TestTelemetry/TestGolden/docker-build-fail
  dagql/idtui/testdata/TestTelemetry/TestGolden/fail-effect
  dagql/idtui/testdata/TestTelemetry/TestGolden/fail-encapsulated
  dagql/idtui/testdata/TestTelemetry/TestGolden/fail-log
  dagql/idtui/testdata/TestTelemetry/TestGolden/fail-log-native
  dagql/idtui/testdata/TestTelemetry/TestGolden/fail-multi
  dagql/idtui/testdata/TestTelemetry/TestGolden/fail-multi-noexpand
  dagql/idtui/testdata/TestTelemetry/TestGolden/pending
  dagql/idtui/testdata/TestTelemetry/TestGolden/python/pending
  dagql/idtui/testdata/TestTelemetry/TestGolden/typescript/fail-effect
  dagql/idtui/testdata/TestTelemetry/TestGolden/typescript/fail-log
  dagql/idtui/testdata/TestTelemetry/TestGolden/typescript/fail-log-native
  dagql/idtui/testdata/TestTelemetry/TestGolden/typescript/pending
  skills/dagger-chores/SKILL.md
Owners: none

fix telemetry tests
  dagql/idtui/exit.go
Owners: none

chore: add golden test regeneration instruction to skills
  skills/dagger-chores/SKILL.md
Owners: none

fix unneeded changes to localcache and suite_test
  core/integration/localcache_test.go
  core/integration/suite_test.go
Owners: none

fix telemetry tests (#11939)
  dagql/idtui/exit.go
  skills/dagger-chores/SKILL.md
Owners: none

feat: create empty changeset from API
  core/integration/changeset_test.go
  core/schema/directory.go
Owners: none

chore: use absolute default path instead of relative
  toolchains/release/tests.go
Owners: none

ci: add local release check to catch more breaking changes.
  toolchains/cli-dev/main.go
  toolchains/engine-dev/main.go
  toolchains/engine-dev/test.go
  toolchains/release/dagger.json
  toolchains/release/testdata/module/.gitattributes
  toolchains/release/testdata/module/.gitignore
  toolchains/release/testdata/module/dagger.json
  toolchains/release/testdata/module/go.mod
  toolchains/release/testdata/module/go.sum
  toolchains/release/testdata/module/main.go
  toolchains/release/tests.go
Owners: none

chore: re-generate
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Client.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/php/generated/Client.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

ref: simplify changeset handler using dag.changeset.withChangesets
  cmd/dagger/functions.go
  core/generators.go
Owners: none

python-sdk-dev: split tests by py version and type
  toolchains/python-sdk-dev/main.go
  toolchains/python-sdk-dev/test.go
Owners: none

chore: fix go:lint job
  dagger.json
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
