Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

feat: re-enable scale out for checks
  core/modtree.go
Owners: none

ref: use new toolchain registry
  core/checks.go
  core/modtree.go
  core/toolchain.go
Owners: none

include engine/distconsts in root dagger module (needed for generated clients)
  dagger.json
Owners: none

install generated Go client, for use from engine integration tests
  dagger.json
  internal/testutil/dagger/dag/dag.gen.go
  internal/testutil/dagger/dagger.gen.go
Owners: none

dev: remove pprof & benchmark testing code, they are not used.
  toolchains/engine-dev/bench.go
  toolchains/engine-dev/pprof.go
Owners: none

WIP: try running a test engine from engine integration test code (fails to build)
  core/integration/suite_test.go
Owners: none

toolchains/engine-dev: TestEngine() returns an engine service suitable for use as an integration test dependency
  toolchains/engine-dev/test.go
Owners: none

dev: don't filter out .git in our test execution environment: we need it to load local dagger modules with the testcontainers pattern
  dagger.json
Owners: none

core: ModTree infrastructure for dynamic checks (#11685)
  core/checks.go
  core/modtree.go
  core/modtree_test.go
  core/module.go
  core/schema/checks.go
  core/toolchain.go
  core/typedef.go
  dagger.json
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Check.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/go/dagger.gen.go
  sdk/php/generated/Check.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
  util/parallel/parallel.go
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

dev: remove pprof & benchmark testing code, they are not used.
  toolchains/engine-dev/bench.go
  toolchains/engine-dev/pprof.go
Owners: none

golangci-lint: silence unparam
  toolchains/engine-dev/test.go
Owners: none

dagql: resolve array results in parallel (#11764)
  dagql/dagql_test.go
  dagql/server.go
Owners: none

give go generated clients their own go.mod
  cmd/codegen/generator/go/generate_client.go
  core/integration/client_generator_test.go
Owners: none

Make dagger connect faster
  cmd/init/main.go
  engine/client/buildkit.go
  engine/client/client.go
  engine/client/drivers/apple.go
  engine/client/drivers/container.go
  engine/client/drivers/container_test.go
  engine/client/drivers/docker.go
  engine/client/drivers/driver.go
  go.mod
  internal/buildkit/client/client.go
Owners: none

fix go lint
  cmd/codegen/generator/go/generate_client.go
  core/integration/client_generator_test.go
Owners: none

engine-dev: replace alpine with wolfi
  modules/wolfi/main.go
  toolchains/engine-dev/build/builder.go
  toolchains/engine-dev/build/sdk.go
  toolchains/engine-dev/main.go
Owners: none

add a message to CLI
  cmd/dagger/main.go
Owners: none

print to stderr
  cmd/dagger/main.go
Owners: none

comment
  cmd/dagger/main.go
Owners: none

Update Helm chart testing link in Kubernetes docs
  docs/current_docs/reference/deployment/kubernetes.mdx
Owners: @dagger/docs

core: add Context type for explicit context access
  core/context.go
  core/schema/context.go
  core/schema/coremod.go
  core/schema/module.go
Owners: none

core: use toolchain's ContextSource for Caller injection
  core/modfunc.go
Owners: none

core: inject Context arguments from caller's context
  core/modfunc.go
  core/schema/context.go
Owners: none

core: rename Context to Caller
  core/caller.go
  core/context.go
  core/modfunc.go
  core/schema/caller.go
  core/schema/coremod.go
  core/schema/module.go
  core/typedef.go
Owners: none

core: rename Caller to Workspace
  core/caller.go
  core/modfunc.go
  core/schema/coremod.go
  core/schema/workspace.go
  core/typedef.go
  core/workspace.go
Owners: none

core: add helper functions for Context type detection
  core/context.go
  core/typedef.go
Owners: none

core: add check.Source() back
  core/checks.go
  core/modtree.go
  core/schema/checks.go
  dagql/call/callpbv1/call.pb.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Check.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  internal/buildkit/util/stack/stack.pb.go
  sdk/go/dagger.gen.go
  sdk/php/generated/Check.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

only lookup parent go.mod once
  cmd/codegen/generator/go/generate_client.go
Owners: none

simplify generated client test setup
  core/integration/client_generator_test.go
Owners: none

pin library version based on engine version
  cmd/codegen/generate_client.go
  cmd/codegen/generator/config.go
  cmd/codegen/generator/go/generate_client.go
  cmd/codegen/modsourcedeps.graphql
  core/integration/client_generator_test.go
Owners: none

feat: allow passing env thru _EXPERIMENTAL_DAGGER_RUNNER_HOST
  engine/client/drivers/container.go
Owners: none

update telemetry effect tracking to rely on IDs rather than LLB
  core/changeset.go
  core/codegen.go
  core/container.go
  core/dagop.go
  core/directory.go
  core/file.go
  core/git.go
  core/git_local.go
  core/git_remote.go
  core/integration/file_test.go
  core/interface.go
  core/module.go
  core/modulesource.go
  core/object.go
  core/schema/container.go
  core/schema/directory.go
  core/schema/envfile.go
  core/schema/file.go
  core/schema/git.go
  core/schema/http.go
  core/schema/wrapper.go
  core/secret.go
  core/socket.go
  core/telemetry.go
  core/util.go
  dagql/call/callpbv1/call.pb.go
  dagql/call/callpbv1/call.proto
  dagql/call/id.go
  dagql/idtui/testdata/TestTelemetry/TestGolden/list
  dagql/idtui/testdata/TestTelemetry/TestGolden/nested-calls
  dagql/idtui/testdata/TestTelemetry/TestGolden/trace-function-calls
  dagql/idtui/testdata/TestTelemetry/TestGolden/use-exec-service
  dagql/idtui/viztest/main.go
  dagql/objects.go
  engine/buildkit/llbdefinition.go
  engine/buildkit/op.go
  engine/buildkit/telemetry.go
Owners: none

ui: add boundary span wrapping user telemetry
  engine/buildkit/executor_spec.go
  sdk/go/telemetry/attrs.go
Owners: @dagger/sdk-go

attempt 2
  core/service.go
  core/telemetry.go
  engine/buildkit/executor_spec.go
Owners: none

ui: auto-reveal user spans
  core/telemetry.go
  dagql/dagui/spans.go
Owners: none

ui: show ONLY user spans if present
  dagql/dagui/db.go
  dagql/dagui/spans.go
  dagql/dagui/types.go
Owners: none

hack: narrow determination of user spans
  dagql/dagui/spans.go
Owners: none

telemetry: avoid O(n^2) space usage in published telemetry
  core/telemetry.go
Owners: none

fix stale generated files
  dagql/call/callpbv1/call.pb.go
  internal/buildkit/util/stack/stack.pb.go
Owners: none

bump go to address CVE
  engine/distconsts/consts.go
  toolchains/go/main.go
Owners: none
