Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

chore: fix agressive change here
  core/integration/module_up_test.go
Owners: none

Remove stale toolchain integration suite
  core/integration/toolchain_test.go
  core/integration/workspace_compat_test.go
  core/integration/workspace_test.go
Owners: none

test: cover defaultPath across sessions
  core/integration/client_generator_test.go
  core/integration/cross_session_test.go
  core/integration/workspace_test.go
Owners: none

fixme: rebase schemamodulesource on egraph
  core/schema/modulesource.go
Owners: none

core: add workspace cwd API
  core/integration/contextual_workspace_test.go
  core/integration/workspace_cwd_test.go
  core/schema/workspace.go
  core/schema/workspace_config.go
  core/schema/workspace_install.go
  core/workspace.go
  core/workspace/detect.go
  core/workspace/detect_test.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

test: fill compat env FIXME coverage
  core/integration/workspace_compat_env_test.go
Owners: none

test: build workspace hint TypeDefs like runtime values
  core/schema/workspace_settings_hints_test.go
Owners: none

test: fill workspace env management coverage
  core/integration/workspace_env_management_test.go
Owners: none

remove redundant if condition
  engine/client/client.go
Owners: none

test: fill module loading FIXME coverage
  core/integration/module_loading_test.go
Owners: none

chore: re-add fixme
  core/integration/workspace_compat_env_test.go
Owners: none

chore: import the session package
  engine/server/session.go
Owners: none

workspace: make CWD module loading a fallback
  core/integration/module_loading_test.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

chore: fix typo
  engine/server/session.go
Owners: none

docs: propose single-query workspace module loading
  single-query-workspace-module-loading.md
Owners: none

docs: add workspace location model
  workspace-location-model.md
Owners: none

core/workspace: add top-level [ports.<host>] syntax + migration
  core/integration/up_test.go
  core/integration/workspace_compat_test.go
  core/schema/workspace.go
  core/workspace/config.go
  core/workspace/config_document.go
  core/workspace/legacy.go
  core/workspace/legacy_test.go
Owners: none

cmd: clarify workspace flag help
  cmd/dagger/main.go
  docs/current_docs/reference/cli/index.mdx
Owners: @dagger/docs

core: resolve legacy default paths through context sources
  core/modfunc.go
  core/module.go
  core/schema/modulesource.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

Remove module init blueprint option
  cmd/dagger/module.go
  cmd/dagger/workspace.go
  core/integration/checks_test.go
  core/integration/generators_test.go
  core/integration/workspace_compat_test.go
  core/schema/workspace.go
  core/schema/workspace_module_init.go
  docs/current_docs/reference/cli/index.mdx
  docs/static/reference/php/Dagger/Workspace.html
  sdk/php/generated/Workspace.php
Owners: @dagger/docs, @dagger/sdk-php

cmd: suppress compat workspace warning during migrate
  cmd/dagger/migrate.go
  core/integration/workspace_compat_test.go
  engine/client/client.go
  engine/opts.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

Lazy-load workspace modules for single-query commands
  cmd/dagger/query.go
  core/integration/workspace_test.go
  dagql/request_peek.go
  dagql/request_peek_test.go
  engine/client/client.go
  engine/opts.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

workspace: read skip config through compat projection
  core/schema/workspace.go
  core/schema/workspace_test.go
  core/workspace/config.go
  core/workspace/config_test.go
Owners: none

docs: update services page to reflect dagger up usage
  docs/current_docs/using-dagger/services.mdx
Owners: @dagger/docs

Show workflow commands in CLI help
  cmd/dagger/checks.go
  cmd/dagger/generators.go
  cmd/dagger/up.go
  cmd/dagger/workspace_test.go
Owners: none

Fix module init help string build
  cmd/dagger/module.go
Owners: none

core/workspace: add up.skip / generate.skip / check.skip + migration
  core/integration/checks_test.go
  core/integration/generators_test.go
  core/integration/up_test.go
  core/integration/workspace_compat_test.go
  core/schema/workspace.go
  core/workspace/config.go
  core/workspace/config_document.go
  core/workspace/config_test.go
  core/workspace/legacy.go
  core/workspace/legacy_test.go
Owners: none

docs: escape module init placeholder
  cmd/dagger/module.go
  docs/current_docs/reference/cli/index.mdx
Owners: @dagger/docs

workspace: improve migration progress telemetry
  core/integration/workspace_migration_test.go
  core/schema/workspace.go
  core/schema/workspace_migrate.go
  core/telemetry.go
  dagql/call_request.go
  dagql/objects.go
Owners: none

workspace: apply compat config fallback to services
  core/integration/workspace_compat_test.go
  core/schema/workspace.go
  core/schema/workspace_test.go
Owners: none

docs: fix yarn lockfile
  docs/package-lock.json
  docs/yarn.lock
Owners: @dagger/docs

core: return workspace modules as object results
  core/schema/workspace.go
  core/schema/workspace_list.go
Owners: none

docs: remove Daggerverse references
  docs/current_docs/adopting/workspace-setup.mdx
  docs/current_docs/extending/editions/dang.mdx
  docs/current_docs/extending/index.mdx
  docs/current_docs/extending/testing.mdx
  docs/current_docs/partials/_dagger_module_init.mdx
Owners: @dagger/docs

core: move workspace settings discovery into engine
  cmd/dagger/settings.go
  cmd/dagger/settings_test.go
  core/schema/workspace.go
  core/schema/workspace_module.go
  core/workspace_module.go
Owners: none

feat: default lock mode to pinned
  docs/current_docs/reference/cli/index.mdx
  docs/current_docs/reference/cli/lockfiles.mdx
  hack/designs/lockfile.md
  hack/designs/workspace.md
Owners: @dagger/docs

test: remove stale duplicate workspace session tests
  engine/server/session_test.go
Owners: none

Remove dagger workspace list
  cmd/dagger/config.go
  cmd/dagger/workspace.go
  cmd/dagger/workspace_test.go
  core/integration/workspace_modules_test.go
  core/integration/workspace_selection_test.go
  docs/current_docs/reference/cli/index.mdx
  hack/designs/workspace-selection.md
  hack/designs/workspace.md
Owners: @dagger/docs

cmd: inline generator checks in check list
  cmd/dagger/checks.go
  cmd/dagger/checks_test.go
  core/integration/checks_test.go
Owners: none

cmd: apply workdir before connecting
  cmd/dagger/engine.go
  cmd/dagger/main.go
  cmd/dagger/workspace_test.go
Owners: none

test: make standalone module init explicit
  core/integration/workspace_modules_test.go
Owners: none
