Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

chore: re-generate schema
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Changeset.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/go/dagger.gen.go
  sdk/php/generated/Changeset.php
  sdk/php/generated/ChangesetMergeConflict.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

test: add integration tests
  core/integration/changeset_test.go
Owners: none

Configurable shutdown timeout using _EXPERIMENTAL_DAGGER_SHUTDOWN_TIMEOUT #11328
  engine/client/client.go
Owners: none

fix: gocyclo linter
  dagql/dagui/types.go
Owners: none

fix: correct spelling in withAnnotation doc
  .changes/unreleased/Fixed-20251227-105607.yaml
  core/schema/container.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Container.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/go/dagger.gen.go
  sdk/php/generated/Container.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

fix: correct spelling in withAnnotation doc (#11598)
  .changes/unreleased/Fixed-20251227-105607.yaml
  core/schema/container.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Container.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/go/dagger.gen.go
  sdk/php/generated/Container.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

docs: Add Documentation for using LLM.withMCPServer
  .changes/unreleased/Added-20251229-231317.yaml
  docs/current_docs/introduction/features/llm.mdx
Owners: @dagger/docs

dagui: fix Chained across different depths (#11596)
  dagql/dagui/types.go
Owners: none

default to ignoring xattr copy failures
  internal/fsutil/copy/copy.go
Owners: none

fix: support kernels without legacy xtables (6.17+)
  internal/buildkit/util/network/cniprovider/bridge.go
  toolchains/engine-dev/build/builder.go
Owners: none

default to ignoring xattr copy failures (#11606)
  internal/fsutil/copy/copy.go
Owners: none

fix: handle deeply nested directories in cache size calculation
  internal/buildkit/cache/refs.go
Owners: none

Fix HTTP HEAD ERROR alarm for routine registry cache misses
  dagql/dagui/spans.go
Owners: none

fix plain output to filter unwanted spans in default verbosity
  dagql/idtui/frontend_plain.go
Owners: none

fox docs
  docs/current_docs/reference/configuration/custom-runner.mdx
Owners: @dagger/docs

fix plain output to filter unwanted spans in default verbosity (#11612)
  dagql/idtui/frontend_plain.go
  docs/current_docs/reference/configuration/custom-runner.mdx
Owners: @dagger/docs

Reduce fsync overhead via overlay volatile option
  engine/buildkit/executor_spec.go
  engine/server/snapshotter.go
  internal/buildkit/cache/refs.go
  internal/buildkit/snapshot/localmounter.go
  internal/buildkit/snapshot/localmounter_linux.go
  internal/buildkit/util/overlay/overlay.go
  internal/buildkit/util/overlay/overlay_linux.go
Owners: none

Reduce fsync overhead via overlay volatile option (#11559)
  engine/buildkit/executor_spec.go
  engine/server/snapshotter.go
  internal/buildkit/cache/refs.go
  internal/buildkit/snapshot/localmounter.go
  internal/buildkit/snapshot/localmounter_linux.go
  internal/buildkit/util/overlay/overlay.go
  internal/buildkit/util/overlay/overlay_linux.go
Owners: none

Configurable shutdown timeout using _EXPERIMENTAL_DAGGER_SHUTDOWN_TIMEOUT #11328
  engine/client/client.go
Owners: none

Configurable shutdown timeout using _EXPERIMENTAL_DAGGER_SHUTDOWN_TIMEOUT #11328 (#11585)
  engine/client/client.go
Owners: none

Revert "fix plain output to filter unwanted spans in default verbosity (#11612)"
  dagql/idtui/frontend_plain.go
  docs/current_docs/reference/configuration/custom-runner.mdx
Owners: @dagger/docs

Revert "fix plain output to filter unwanted spans in default verbosity (#11612)" (#11614)
  dagql/idtui/frontend_plain.go
  docs/current_docs/reference/configuration/custom-runner.mdx
Owners: @dagger/docs

ID.Inputs: include receiver
  dagql/call/id.go
Owners: none

chore: propagate the error instead of panicking
  toolchains/engine-dev/build/builder.go
Owners: none

engine: support running ebpf programs at engine start
  .gitignore
  cmd/engine/main.go
  engine/ebpf/AGENTS.md
  engine/ebpf/bpf/common.h
  engine/ebpf/bpf/vmlinux.h
  engine/ebpf/common.go
  engine/ebpf/filetracer/bpf/fileops.bpf.c
  engine/ebpf/filetracer/fileops_arm64_bpfel.go
  engine/ebpf/filetracer/fileops_arm64_bpfel.o
  engine/ebpf/filetracer/fileops_x86_bpfel.go
  engine/ebpf/filetracer/fileops_x86_bpfel.o
  engine/ebpf/filetracer/tracer.go
  engine/ebpf/internal/ebpfutil/util.go
  engine/ebpf/ovltracer/bpf/ovl_inuse.bpf.c
  engine/ebpf/ovltracer/ovlinuse_arm64_bpfel.go
  engine/ebpf/ovltracer/ovlinuse_x86_bpfel.go
  engine/ebpf/ovltracer/tracer.go
  go.mod
  go.sum
  modules/alpine/main.go
  toolchains/engine-dev/bench.go
  toolchains/engine-dev/build/builder.go
  toolchains/engine-dev/main.go
  toolchains/engine-dev/pprof.go
  toolchains/engine-dev/test.go
  toolchains/go/main.go
  toolchains/test-split/engine-tests.gen.dang
Owners: none

engine: support running ebpf programs at engine start
  .gitignore
  cmd/engine/main.go
  engine/ebpf/AGENTS.md
  engine/ebpf/bpf/common.h
  engine/ebpf/bpf/vmlinux.h
  engine/ebpf/common.go
  engine/ebpf/filetracer/bpf/fileops.bpf.c
  engine/ebpf/filetracer/fileops_arm64_bpfel.go
  engine/ebpf/filetracer/fileops_arm64_bpfel.o
  engine/ebpf/filetracer/fileops_x86_bpfel.go
  engine/ebpf/filetracer/fileops_x86_bpfel.o
  engine/ebpf/filetracer/tracer.go
  engine/ebpf/internal/ebpfutil/util.go
  engine/ebpf/ovltracer/bpf/ovl_inuse.bpf.c
  engine/ebpf/ovltracer/ovlinuse_arm64_bpfel.go
  engine/ebpf/ovltracer/ovlinuse_x86_bpfel.go
  engine/ebpf/ovltracer/tracer.go
  go.mod
  go.sum
  modules/alpine/main.go
  toolchains/engine-dev/bench.go
  toolchains/engine-dev/build/builder.go
  toolchains/engine-dev/main.go
  toolchains/engine-dev/pprof.go
  toolchains/engine-dev/test.go
  toolchains/go/main.go
  toolchains/test-split/engine-tests.gen.dang
Owners: none

chore: propagate the error instead of panicking (#11455)
  toolchains/engine-dev/build/builder.go
Owners: none

DNM: enable filetracer for test-runtimes to debug filesync flake
  DELETEME
  toolchains/test-split/engine-tests.gen.dang
Owners: none

ID.Inputs: include receiver (#11613)
  dagql/call/id.go
Owners: none

chore: start the massacre
  core/git_remote.go
  core/schema/git.go
Owners: none

core/git: lazify repo construction
  core/git.go
  core/schema/git.go
Owners: none

the massacre continues
  core/schema/git.go
Owners: none

chore: extract ambiguous URL from git into ref
  core/schema/git.go
Owners: none

core/git: fetch remotes lazily in tag/branch/version resolvers
  core/schema/git.go
Owners: none

remove all errors on ref()
  core/schema/git.go
Owners: none

keep going camarade
  core/schema/git.go
Owners: none

core/git: keep pinned HEAD on each repo
  core/git.go
  core/schema/git.go
Owners: none

core(modulesource): resolve ref name and commit SHA before building git source
  core/schema/modulesource.go
Owners: none

test(golden): update git-readme trace for lazy ref resolution
  dagql/idtui/testdata/TestTelemetry/TestGolden/git-readme
Owners: none

ref almost converted, one big monolith to split
  core/git.go
  core/git_remote.go
  core/schema/git.go
Owners: none
