Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

migrate tool: add aliases & module config (not tested yet)
  modules/migrate/introspect.go
  modules/migrate/main.go
  modules/migrate/toml.go
Owners: none

workspace: add config parser and detection logic
  core/workspace/config.go
  core/workspace/detect.go
Owners: none

migrate tool: generate more compact toml
  modules/migrate/toml.go
Owners: none

wip: prototype workspace migration module
  modules/migrate/.gitattributes
  modules/migrate/.gitignore
  modules/migrate/config.go
  modules/migrate/dagger.json
  modules/migrate/go.mod
  modules/migrate/go.sum
  modules/migrate/main.go
  modules/migrate/report.go
  modules/migrate/toml.go
Owners: none

install experimental "migrate" module
  dagger.json
Owners: none

cli: replace initializeDefaultModule with workspace-aware loading
  cmd/dagger/call.go
  cmd/dagger/functions.go
  cmd/dagger/mcp.go
  cmd/dagger/module_inspect.go
Owners: none

design: update Part 1 with -m flag semantics
  docs/design/proposals/01-module-vs-workspace.md
Owners: @dagger/docs

fix: use dagql.ObjectResult instead of non-existent dagql.Instance
  engine/server/session.go
Owners: none

docs: add workspace implementation handoff doc
  docs/design/workspace-implementation.md
Owners: @dagger/docs

docs: add context section to handoff doc
  docs/design/workspace-implementation.md
Owners: @dagger/docs

fix: extract runContainer into platform-specific files for macOS build
  engine/buildkit/executor_run.go
  engine/buildkit/executor_run_unimplemented.go
  engine/buildkit/executor_spec.go
Owners: none

fix: race on parallel tests (rightful failure) + reintroduce the early error when cannot connect
  core/integration/git_test.go
  core/schema/git.go
Owners: none

git: normalize tree cache identity across protocols when .git is discarded
  core/git.go
  core/integration/git_test.go
  core/schema/git.go
Owners: none

engine: move -m to engine connect-time parameter with auto-aliases
  cmd/dagger/call.go
  cmd/dagger/functions.go
  cmd/dagger/mcp.go
  core/module.go
  core/object.go
  engine/client/client.go
  engine/opts.go
  engine/server/session.go
Owners: none

fix: defer extra module loading to serveQuery to fix nested execution deadlock
  engine/server/client_resources.go
  engine/server/session.go
Owners: none

save temporary handoff doc
  docs/design/extra-modules-handoff.md
Owners: @dagger/docs

fix: export CopyFileContent on darwin to match linux API
  internal/fsutil/copy/copy_darwin.go
Owners: none

fix: extract bind-mount helpers from changeset.go for macOS build
  core/changeset.go
  core/changeset_mount_linux.go
  core/changeset_mount_unimplemented.go
Owners: none

fix: extract Linux-only git remote functions for macOS build
  core/git_remote.go
  core/git_remote_linux.go
  core/git_remote_unimplemented.go
Owners: none

fix: extract mountIntoContainer into platform-specific files for macOS build
  core/service.go
  core/service_linux.go
  core/service_unimplemented.go
Owners: none

fix: extract pathResolverForMount into platform-specific files for macOS build
  core/util.go
  core/util_mount_linux.go
  core/util_mount_unimplemented.go
Owners: none

fix: resolve deadlock, panic, and propagation issues in extra module loading
  engine/server/session.go
Owners: none

fix: show core functions when no workspace modules are loaded
  cmd/dagger/call.go
Owners: none

fix: use srcClient context when building schema in addClientResourcesFromID
  engine/server/client_resources.go
Owners: none

chore: use NewScratchDirectoryDagOp (#11796)
  core/container.go
  core/dagop.go
  core/directory.go
  core/schema/directory.go
Owners: none

fix: retrieve checks and generate from objects
  core/integration/checks_test.go
  core/integration/generators_test.go
  core/integration/testdata/checks/hello-with-checks-java/src/main/java/io/dagger/modules/hellowithchecksjava/HelloWithChecksJava.java
  core/integration/testdata/checks/hello-with-checks-java/src/main/java/io/dagger/modules/hellowithchecksjava/Test.java
  core/integration/testdata/checks/hello-with-checks-py/src/hello_with_checks_py/main.py
  core/integration/testdata/checks/hello-with-checks-ts/src/index.ts
  core/integration/testdata/checks/hello-with-checks/main.go
  core/integration/testdata/generators/hello-with-generators-py/src/hello_with_generators_py/main.py
  core/integration/testdata/generators/hello-with-generators-ts/src/index.ts
  core/integration/testdata/generators/hello-with-generators/main.go
  core/modtree.go
Owners: none

chore: bump Go to 1.25.7 for CVE-2025-68121
  engine/distconsts/consts.go
  toolchains/go/main.go
Owners: none

chore: bump Go to 1.25.7 for CVE-2025-68121 (#11829)
  engine/distconsts/consts.go
  toolchains/go/main.go
Owners: none

fix: retrieve checks and generate from objects (#11827)
  core/integration/checks_test.go
  core/integration/generators_test.go
  core/integration/testdata/checks/hello-with-checks-java/src/main/java/io/dagger/modules/hellowithchecksjava/HelloWithChecksJava.java
  core/integration/testdata/checks/hello-with-checks-java/src/main/java/io/dagger/modules/hellowithchecksjava/Test.java
  core/integration/testdata/checks/hello-with-checks-py/src/hello_with_checks_py/main.py
  core/integration/testdata/checks/hello-with-checks-ts/src/index.ts
  core/integration/testdata/checks/hello-with-checks/main.go
  core/integration/testdata/generators/hello-with-generators-py/src/hello_with_generators_py/main.py
  core/integration/testdata/generators/hello-with-generators-ts/src/index.ts
  core/integration/testdata/generators/hello-with-generators/main.go
  core/modtree.go
Owners: none

let local-cache prune use explicit space limits
  .changes/unreleased/Added-20260209-143626.yaml
  core/engine.go
  core/integration/localcache_test.go
  core/query.go
  core/schema/engine.go
  core/telemetry_test.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/EngineCache.html
  engine/server/gc.go
  engine/server/gc_test.go
  sdk/go/dagger.gen.go
  sdk/php/generated/EngineCache.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

debug(toolchain): add unconditional engine logs for module runtime path
  core/integration/toolchain_test.go
  core/schema/modulesource.go
  core/sdk/go_sdk.go
  core/sdk/module_runtime.go
  core/sdk/toolchain_debug.go
Owners: none

let local-cache prune use explicit space limits (#11830)
  .changes/unreleased/Added-20260209-143626.yaml
  core/engine.go
  core/integration/localcache_test.go
  core/query.go
  core/schema/engine.go
  core/telemetry_test.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/EngineCache.html
  engine/server/gc.go
  engine/server/gc_test.go
  sdk/go/dagger.gen.go
  sdk/php/generated/EngineCache.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

engine: fix +ignore pragma for constructors
  core/integration/module_test.go
  core/interface.go
  core/modfunc.go
  core/object.go
  dagql/objects.go
  dagql/server.go
Owners: none

fix more test suites
  core/integration/address_test.go
  core/integration/blueprint_test.go
  core/integration/cacert_test.go
  core/integration/checks_test.go
  core/integration/client_test.go
  core/integration/container_test.go
  core/integration/cross_session_test.go
  core/integration/directory_test.go
  core/integration/dockerfile_test.go
  core/integration/envfile_test.go
  core/integration/generators_test.go
  core/integration/git_test.go
  core/integration/host_test.go
  core/integration/localcache_test.go
  core/integration/module_call_test.go
  core/integration/module_elixir_test.go
  core/integration/module_go_test.go
  core/integration/module_iface_test.go
  core/integration/module_java_test.go
  core/integration/module_php_test.go
  core/integration/module_python_test.go
  core/integration/module_terminal_test.go
  core/integration/module_test.go
  core/integration/module_type_test.go
  core/integration/platform_test.go
  core/integration/proxy_test.go
  core/integration/registry_mirrors_test.go
  core/integration/services_test.go
  core/integration/suite_test.go
  core/integration/telemetry_test.go
  core/integration/toolchain_test.go
  core/integration/user_defaults_test.go
Owners: none

dang fmt
  cmd/codegen/.dagger/main.dang
  toolchains/changelog/main.dang
  toolchains/ci/bootstrap.dang
  toolchains/dotnet-sdk-dev/main.dang
  toolchains/elixir-sdk-dev/elixir-sdk.dang
  toolchains/go-sdk-dev/main.dang
  toolchains/java-sdk-dev/main.dang
  toolchains/security/main.dang
  toolchains/test-split/engine-tests.gen.dang
  toolchains/typescript-sdk-dev/ts-sdk.dang
Owners: none

toolchain(security): fix nullable value
  toolchains/security/main.dang
Owners: none

bump dang
  cmd/codegen/dagger.json
  cmd/dagger/testdata/cmd-test/dagger.json
  modules/evals/testdata/object-fields/dagger.json
  sdk/dang/dagger.json
  toolchains/changelog/dagger.json
  toolchains/ci/dagger.json
  toolchains/dotnet-sdk-dev/dagger.json
  toolchains/elixir-sdk-dev/dagger.json
  toolchains/go-sdk-dev/dagger.json
  toolchains/java-sdk-dev/dagger.json
  toolchains/security/dagger.json
  toolchains/test-split/dagger.json
  toolchains/typescript-sdk-dev/dagger.json
Owners: none

chore: install generate directive to schema
  dagql/server.go
  dagql/testdata/introspection.json
  docs/docs-graphql/schema.graphqls
Owners: @dagger/docs

chore: install generate directive to schema (#11836)
  dagql/server.go
  dagql/testdata/introspection.json
  docs/docs-graphql/schema.graphqls
Owners: @dagger/docs

Avoid WithExec panics and surface underlying exec errors
  core/container_exec.go
Owners: none
