Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

core/integration: tests for Go SDK skip-codegen-at-runtime
  core/integration/module_runtime_codegen_test.go
Owners: none

chore: run generate
  sdk/elixir/lib/dagger/gen/generator.ex
  sdk/elixir/lib/dagger/gen/generator_group.ex
Owners: @dagger/sdk-elixir

Improve PowerShell script linting (#13025)
  dagger.json
  install.ps1
  modules/ps-analyzer/.gitattributes
  modules/ps-analyzer/.gitignore
  modules/ps-analyzer/LICENSE
  modules/ps-analyzer/dagger.json
  modules/ps-analyzer/go.mod
  modules/ps-analyzer/go.sum
  modules/ps-analyzer/main.go
  toolchains/installers/dagger.json
  toolchains/installers/main.go
Owners: none

document using --cloud in gha (#13017)
  docs/current_docs/getting-started/ci-integrations/github-actions.mdx
  docs/current_docs/getting-started/ci-integrations/snippets/github-cloud-engine.yml
Owners: @dagger/docs

Improve e2e tests for installer scripts (#13026)
  dagger.json
  e2e/installers/README.md
  e2e/installers/go.mod
  e2e/installers/go.sum
  e2e/installers/installers_test.go
  toolchains/installers/.gitattributes
  toolchains/installers/.gitignore
  toolchains/installers/dagger.json
  toolchains/installers/go.mod
  toolchains/installers/go.sum
  toolchains/installers/main.go
Owners: none

add docker-init to engine image for cgroup subgroups to work correctly (#12999)
  engine/client/drivers/docker.go
  engine/distconsts/consts.go
  toolchains/engine-dev/build/builder.go
  toolchains/engine-dev/config.go
  toolchains/engine-dev/consts/consts.go
Owners: none

Python SDK: align default image (#13027)
  core/integration/module_python_test.go
  docs/current_docs/extending/modules/modules.mdx
  sdk/python/.changes/unreleased/Changed-20260424-135430.yaml
  sdk/python/runtime/images/base/Dockerfile
  sdk/python/runtime/main.go
  sdk/python/runtime/template/pyproject.toml
Owners: @dagger/docs, @dagger/sdk-python

Hide synthetic `with` field from `dagger functions` listings (#13012)
  core/integration/workspace_test.go
  dagql/dagui/opts.go
Owners: none

version: change next version to v0.20.7
  .changes/.next
Owners: none

core/integration: add remote module defaultPath toolchain regressions
  core/integration/module_remote_workspace_defaultpath_test.go
Owners: none

feat(sdk/python): AST based analysis to introspect (#11803)
  sdk/python/src/dagger/mod/_analyzer/__init__.py
  sdk/python/src/dagger/mod/_analyzer/analyze.py
  sdk/python/src/dagger/mod/_analyzer/errors.py
  sdk/python/src/dagger/mod/_analyzer/metadata.py
  sdk/python/src/dagger/mod/_analyzer/namespace.py
  sdk/python/src/dagger/mod/_analyzer/parser.py
  sdk/python/src/dagger/mod/_analyzer/registration.py
  sdk/python/src/dagger/mod/_analyzer/resolver.py
  sdk/python/src/dagger/mod/_analyzer/visitors/__init__.py
  sdk/python/src/dagger/mod/_analyzer/visitors/annotations.py
  sdk/python/src/dagger/mod/_analyzer/visitors/decorators.py
  sdk/python/src/dagger/mod/_discovery.py
  sdk/python/src/dagger/mod/_module.py
  sdk/python/src/dagger/mod/cli.py
  sdk/python/tests/mod/test_ast_analyzer.py
  sdk/python/tests/mod/test_discovery.py
Owners: @dagger/sdk-python

Add shellcheck linting and fix shell script issues (#13024)
  dagger.json
  modules/gha/scripts/exec.sh
  modules/gha/scripts/warm-engine.sh
  modules/shellcheck/.gitattributes
  modules/shellcheck/.gitignore
  modules/shellcheck/dagger.json
  modules/shellcheck/go.mod
  modules/shellcheck/go.sum
  modules/shellcheck/main.go
  sdk/php/runtime/scripts/init-template.sh
  skills/engine-dev-testing/with-playground.sh
  toolchains/installers/dagger.json
  toolchains/installers/main.go
Owners: @dagger/sdk-php

modules: carry defaultPath context through asModule as source ref+pin
  core/modfunc.go
  core/module.go
  core/schema/modulesource.go
  engine/server/session.go
  engine/server/session_workspaces.go
Owners: none

Improve go:lint (#12998)
  toolchains/go/main.go
Owners: none

remove depot references from docs (#13019)
  docs/current_docs/getting-started/ci-integrations/github-actions.mdx
  docs/current_docs/getting-started/ci-integrations/snippets/depot-hello-shell.yml
  docs/current_docs/getting-started/ci-integrations/snippets/depot-hello.yml
  docs/current_docs/getting-started/ci-integrations/snippets/depot-test-build.yml
  docs/current_docs/reference/container-runtimes/snippets/depot-hello-shell.yml
  docs/current_docs/reference/container-runtimes/snippets/depot-hello.yml
  docs/current_docs/reference/container-runtimes/snippets/depot-test-build.yml
Owners: @dagger/docs

sdk(python): disable OTel metrics exporter (#13013)
  sdk/python/src/dagger/telemetry.py
Owners: @dagger/sdk-python

add stderr when git credentials fill command fails (#13048)
  engine/session/git/git_credential.go
Owners: none

fix TestGit tests (#13057)
  core/integration/git_test.go
Owners: none

fix(python-sdk): always stop progress spinner to restore terminal cursor (#12835)
  sdk/python/src/dagger/provisioning/_engine.py
Owners: @dagger/sdk-python

mcp: restore workspace module methods in dagger mcp (#13030)
  cmd/dagger/mcp.go
  core/integration/mcp_test.go
  core/mcp.go
Owners: none

fix: use fallback description for LLM tools with empty descriptions (#12857)
  core/mcp.go
Owners: none

e2e: compare installer platforms canonically (#13042)
  e2e/installers/go.mod
  e2e/installers/go.sum
  e2e/installers/installers_test.go
Owners: none

migrate to otelgotest (#12925)
  .dagger/go.mod
  .dagger/go.sum
  cmd/dagger/suite_test.go
  core/integration/sequential_test.go
  core/integration/suite_test.go
  dagql/idtui/golden_test.go
  go.mod
  go.sum
  internal/testutil/middleware.go
  toolchains/all-sdks/go.mod
  toolchains/all-sdks/go.sum
  toolchains/cli-dev/go.mod
  toolchains/cli-dev/go.sum
  toolchains/engine-dev/go.mod
  toolchains/engine-dev/go.sum
  toolchains/engine-dev/test.go
  toolchains/go/go.mod
  toolchains/go/go.sum
  toolchains/release/go.mod
  toolchains/release/go.sum
Owners: none

fix(core/schema): include toolchains in module codegen schema (#12991)
  core/integration/toolchain_test.go
  core/schema/modulesource.go
Owners: none

core: include module variants in function cache identity (#13047)
  core/integration/toolchain_test.go
  core/module.go
Owners: none

fix(test): adapt integration suite to runtime codegen skip
  core/integration/cacert_test.go
  core/integration/cache_test.go
  core/integration/changeset_test.go
  core/integration/client_generator_test.go
  core/integration/cross_session_test.go
  core/integration/envfile_test.go
  core/integration/legacy_test.go
  core/integration/module_benchmark_test.go
  core/integration/module_call_test.go
  core/integration/module_config_test.go
  core/integration/module_dependency_runtime_test.go
  core/integration/module_go_test.go
  core/integration/module_helpers_test.go
  core/integration/module_iface_test.go
  core/integration/module_init_cli_test.go
  core/integration/module_remote_workspace_defaultpath_test.go
  core/integration/module_type_test.go
  core/integration/ref_test.go
  core/integration/secret_test.go
  core/integration/secretprovider_test.go
  core/integration/services_test.go
  core/integration/shell_test.go
Owners: none

cli: preserve local no-color after telemetry init (#13076)
  cmd/dagger/engine.go
Owners: none

move publish workflows to cloud engines (#13070)
  .github/actions/call/action.yml
  .github/workflows/_dagger_on_depot_remote_engine.yml
  .github/workflows/alternative-ci-runners-1.yml
  .github/workflows/publish.yml
Owners: none

core: expose vault dev service port in secret provider tests (#13077)
  core/integration/secretprovider_test.go
Owners: none

fix(buildkit): format healthcheck history
  internal/buildkit/frontend/dockerfile/dockerfile2llb/convert.go
Owners: none

fix(go): require id on dagger objects
  cmd/codegen/generator/go/templates/module_interfaces.go
  cmd/codegen/generator/go/templates/module_objects.go
  cmd/codegen/generator/go/templates/module_objects_test.go
  cmd/codegen/generator/go/templates/modules.go
  cmd/codegen/generator/go/templates/src/_dagger.gen.go/defs.go.tmpl
  cmd/codegen/generator/go/templates/src/_dagger.gen.go/module.go.tmpl
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

fix a lint
  core/integration/testdata/modules/go/ifaces/test/main.go
Owners: none

fix(go): accept imported dagger object embeds
  cmd/codegen/generator/go/templates/module_interfaces.go
  cmd/codegen/generator/go/templates/module_interfaces_test.go
Owners: none

toolchains: bump dev engine runc to v1.4.2 (#13078)
  toolchains/engine-dev/consts/consts.go
Owners: none

chore: fix linter
  core/integration/module_test.go
Owners: none

chore: bump dependencies to v0.20.7
  docs/current_docs/partials/version.js
  helm/dagger/Chart.yaml
  lib/dagger/core/version.ex
  sdk/go/engineconn/version.gen.go
  sdk/java/dagger-codegen-maven-plugin/pom.xml
  sdk/java/dagger-java-annotation-processor/pom.xml
  sdk/java/dagger-java-samples/pom.xml
  sdk/java/dagger-java-sdk/pom.xml
  sdk/java/pom.xml
  sdk/java/runtime/template/pom.xml
  sdk/php/src/Connection/version.php
  sdk/python/src/dagger/_engine/_version.py
  sdk/rust/Cargo.lock
  sdk/rust/Cargo.toml
  sdk/rust/crates/dagger-sdk/src/core/version.rs
  sdk/typescript/src/provisioning/default.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-java, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

chore: add release notes for v0.20.7
  .changes/v0.20.7.md
  CHANGELOG.md
  helm/dagger/.changes/v0.20.7.md
  helm/dagger/CHANGELOG.md
  sdk/elixir/.changes/v0.20.7.md
  sdk/elixir/CHANGELOG.md
  sdk/go/.changes/v0.20.7.md
  sdk/go/CHANGELOG.md
  sdk/php/.changes/v0.20.7.md
  sdk/php/CHANGELOG.md
  sdk/python/.changes/unreleased/Changed-20260424-135430.yaml
  sdk/python/.changes/v0.20.7.md
  sdk/python/CHANGELOG.md
  sdk/rust/.changes/v0.20.7.md
  sdk/rust/CHANGELOG.md
  sdk/typescript/.changes/v0.20.7.md
  sdk/typescript/CHANGELOG.md
Owners: @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

bump .next to next release version
  .changes/.next
Owners: none

chore: prep for v0.20.7 (#13069)
  .changes/.next
  .changes/v0.20.7.md
  CHANGELOG.md
  docs/current_docs/partials/version.js
  helm/dagger/.changes/v0.20.7.md
  helm/dagger/CHANGELOG.md
  helm/dagger/Chart.yaml
  lib/dagger/core/version.ex
  sdk/elixir/.changes/v0.20.7.md
  sdk/elixir/CHANGELOG.md
  sdk/go/.changes/v0.20.7.md
  sdk/go/CHANGELOG.md
  sdk/go/engineconn/version.gen.go
  sdk/java/dagger-codegen-maven-plugin/pom.xml
  sdk/java/dagger-java-annotation-processor/pom.xml
  sdk/java/dagger-java-samples/pom.xml
  sdk/java/dagger-java-sdk/pom.xml
  sdk/java/pom.xml
  sdk/java/runtime/template/pom.xml
  sdk/php/.changes/v0.20.7.md
  sdk/php/CHANGELOG.md
  sdk/php/src/Connection/version.php
  sdk/python/.changes/unreleased/Changed-20260424-135430.yaml
  sdk/python/.changes/v0.20.7.md
  sdk/python/CHANGELOG.md
  sdk/python/src/dagger/_engine/_version.py
  sdk/rust/.changes/v0.20.7.md
  sdk/rust/CHANGELOG.md
  sdk/rust/Cargo.lock
  sdk/rust/Cargo.toml
  sdk/rust/crates/dagger-sdk/src/core/version.rs
  sdk/typescript/.changes/v0.20.7.md
  sdk/typescript/CHANGELOG.md
  sdk/typescript/src/provisioning/default.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-java, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

evals: clean up telemetry
  modules/evaluator/eval-workspace/main.go
  modules/evaluator/main.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
