Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

chore: remove stale llbtodagger whiteboard
  util/llbtodagger/WHITEBOARD.md
Owners: none

chore: replace cache skill with engine debugging
  internal-docs/cache_persistence.md
  internal-docs/cache_pruning.md
  internal-docs/cachebasics.md
  internal-docs/dagqltypes.md
  internal-docs/debugging.md
  internal-docs/dynamicinputs.md
  internal-docs/egraph.md
  internal-docs/filesync.md
  internal-docs/lazy_evaluation.md
  internal-docs/mutablecache.md
  internal-docs/session_resources.md
  internal-docs/typedefs.md
  internal-docs/writingcoreapis.md
  skills/cache-expert/SKILL.md
  skills/dagger-design-proposals/SKILL.md
  skills/engine-debugging/SKILL.md
  skills/engine-debugging/scripts/dagql-cache-analyzer.go
  skills/engine-dev-testing/SKILL.md
  skills/engine-dev-testing/with-playground.sh
Owners: none

chore: move codegen skill to internal docs
  internal-docs/dagger-codegen.md
  skills/dagger-codegen/SKILL.md
  skills/dagger-codegen/references/codegen-types.md
  skills/dagger-codegen/references/generated-clients.md
  skills/dagger-codegen/references/go-templates.md
  skills/dagger-codegen/references/sdk-architecture.md
  skills/dagger-design-proposals/SKILL.md
Owners: none

docs: add schema version gating reference
  internal-docs/dagger-codegen.md
  internal-docs/typedefs.md
  internal-docs/version-gating.md
  internal-docs/writingcoreapis.md
  skills/dagger-design-proposals/SKILL.md
  skills/engine-debugging/SKILL.md
Owners: none

fix: fold debugging guide into engine skill
  internal-docs/debugging.md
  internal-docs/egraph.md
  skills/engine-debugging/SKILL.md
Owners: none

docs: propose CLI reference generation breakout
  future/cli-reference-generation.md
Owners: none

ci: generate the CLI reference via the go toolchain
  dagger.json
  docs/current_docs/reference/generate.go
  docs/current_docs/reference/go.mod
Owners: @dagger/docs

internal/cmd/dagger: render the CLI reference with docsgen
  internal/cmd/dagger/docsgen/frontmatter.mdx
  internal/cmd/dagger/docsgen/main.go
  internal/cmd/dagger/main.go
  internal/cobradocs/markdown.go
Owners: none

cmd/dagger: remove the hidden gen command and pipeline generation
  e2e/helm/dagger/dagger-cli.gen.go
  internal/cmd/dagger/gen.go
  internal/cmd/dagger/main.go
  toolchains/cli-dev/dagger.gen.go
  toolchains/cli-dev/main.go
  toolchains/docs-dev/internal/dagger/dagger-cli.gen.go
  toolchains/docs-dev/main.go
  toolchains/engine-dev/internal/dagger/dagger-cli.gen.go
  toolchains/release/internal/dagger/cli-dev.gen.go
  toolchains/release/internal/dagger/docs-dev.gen.go
Owners: none

ci: ignore broken generated Go toolchain checks
  dagger.json
Owners: none

core: add ContainerExecResources type and Resources field to ContainerExecOpts
  core/container_exec.go
  core/container_exec_test.go
Owners: none

core: fix Go naming (CPUs, CPUShares) and remove trivial test
  core/container_exec.go
  core/container_exec_test.go
Owners: none

executor: add cgroup resource limit fields to Meta
  internal/buildkit/executor/executor.go
Owners: none

oci: add generateResourceOpts to populate spec.Linux.Resources from executor.Meta
  internal/buildkit/executor/oci/spec.go
  internal/buildkit/executor/oci/spec_darwin.go
  internal/buildkit/executor/oci/spec_freebsd.go
  internal/buildkit/executor/oci/spec_linux.go
  internal/buildkit/executor/oci/spec_resources_test.go
  internal/buildkit/executor/oci/spec_windows.go
Owners: none

oci: fix CPUQuota pointer to use local copy
  internal/buildkit/executor/oci/spec_linux.go
Owners: none

core: propagate ContainerExecResources through metaSpec into executor.Meta
  core/container_exec.go
  core/container_exec_test.go
Owners: none

core: add withDefaultExecResources and DefaultExecResources container field
  core/container.go
  core/container_exec.go
  core/container_exec_test.go
  core/schema/container.go
Owners: none

core: add resources arg to asService for per-service cgroup limits
  core/container.go
  core/container_exec.go
  core/schema/query.go
  core/schema/service.go
  core/service.go
Owners: none

fix: use correct lower-camel key 'cpushares' in containerUp resources map
  core/schema/service.go
Owners: none

docs: fix MemorySoftBytes and CPUShares doc comments
  core/container_exec.go
Owners: none

Bump go deps to fix security vulnerabitilies in root go module
  go.mod
  go.sum
  toolchains/engine-dev/go.mod
  toolchains/engine-dev/go.sum
Owners: none

fix(dang): resolve @cache args against file scope (#13455)
  core/integration/module_dang_test.go
  core/integration/testdata/modules/dang/test-directives/main.dang
  core/sdk/dang/v1/helpers.go
  core/sdk/dang/v2/helpers.go
  go.mod
  go.sum
Owners: none

test: expose e2e fixtures to go toolchain
  e2e/helm/helm_test.go
  e2e/installers/installers_test.go
Owners: none

ci: wrap github.com/dagger/go checks
  dagger.json
  toolchains/golang-dev/dagger.json
  toolchains/golang-dev/main.dang
Owners: none

ci: restore github.com/dagger/go checks
  dagger.json
Owners: none

ci: fold CLI reference generation into docs
  core/integration/cacert_test.go
  core/integration/module_config_test.go
  dagger.json
  e2e/helm/helm_test.go
  e2e/installers/installers_test.go
  toolchains/docs-dev/main.go
  toolchains/golang-dev/dagger.json
  toolchains/golang-dev/main.dang
Owners: none

test: include CLI workspace dependencies for helm e2e
  e2e/helm/helm_test.go
Owners: none

test: retry external integration probes
  core/integration/cacert_test.go
  core/integration/module_config_test.go
Owners: none

fix(apple): grant all capabilities to engine container (#13460)
  engine/client/drivers/apple.go
  engine/client/drivers/apple_test.go
Owners: none

CLI 1.0 phase 5: dagger setup (login + migrate + recommend)
  future/cli-1.0.md
  internal/cmd/dagger/main.go
  internal/cmd/dagger/mod.go
  internal/cmd/dagger/recommend.go
  internal/cmd/dagger/setup.go
Owners: none

docs: scrub stale dagger.json references and SDK-lookup wording
  future/cli-1.0.md
Owners: none

cli: dispatch init through installed SDKs
  cmd/dagger/module_init.go
  cmd/dagger/module_init_test.go
  core/schema/workspace.go
  core/schema/workspace_client.go
  core/schema/workspace_module_init.go
  core/schema/workspace_sdk.go
  core/schema/workspace_sdk_test.go
  docs/current_docs/reference/cli/index.mdx
  future/cli-1.0.md
  internal/cmd/dagger/client.go
  internal/cmd/dagger/client_test.go
  sdk/java/README.md
  sdk/php/README.md
  skills/tui-qa/SKILL.md
Owners: @dagger/docs, @dagger/sdk-java, @dagger/sdk-php

Point migration warnings at 'dagger setup' instead of 'dagger migrate'
  core/integration/workspace_compat_test.go
  core/integration/workspace_selection_test.go
  core/modulesource.go
  core/schema/modulesource_test.go
  core/schema/workspace_config.go
  core/schema/workspace_install.go
  core/schema/workspace_uninstall.go
  core/workspace/legacy.go
  engine/server/session_workspaces.go
  internal/cmd/dagger/workspace_test.go
Owners: none

CLI 1.0 phase 1: hoist hot path, kill dagger mod
  docs/current_docs/adopting/scaling/kubernetes.mdx
  docs/current_docs/adopting/workspace-setup.mdx
  docs/current_docs/extending/index.mdx
  docs/current_docs/extending/sdks/dang.mdx
  docs/current_docs/extending/sdks/go.mdx
  docs/current_docs/extending/sdks/python.mdx
  docs/current_docs/extending/sdks/typescript.mdx
  docs/current_docs/getting-started/quickstart.mdx
  docs/current_docs/index.mdx
  docs/current_docs/modules/biomejs.mdx
  docs/current_docs/modules/eslint.mdx
  docs/current_docs/modules/go.mdx
  docs/current_docs/modules/helm.mdx
  docs/current_docs/modules/index.mdx
  docs/current_docs/modules/jest.mdx
  docs/current_docs/modules/prettier.mdx
  docs/current_docs/modules/psscriptanalyzer.mdx
  docs/current_docs/modules/pytest.mdx
  docs/current_docs/modules/shellcheck.mdx
  docs/current_docs/modules/vitest.mdx
  docs/current_docs/reference/cli/index.mdx
  docs/current_docs/reference/configuration/modules.mdx
  docs/current_docs/reference/configuration/workspace.mdx
  docs/current_docs/reference/upgrade-to-workspaces.mdx
  internal/cmd/dagger/checks.go
  internal/cmd/dagger/generators.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/mod.go
  internal/cmd/dagger/mod_test.go
  internal/cmd/dagger/module.go
  internal/cmd/dagger/settings.go
  internal/cmd/dagger/up.go
  internal/cmd/dagger/workspace.go
  internal/cmd/dagger/workspace_test.go
Owners: @dagger/docs

cli: move `dagger exec` under `dagger api exec`
  future/cli-1.0.md
  internal/cmd/dagger/api.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/run.go
  internal/cmd/dagger/workspace_test.go
Owners: none

CLI 1.0 phase 2: dagger module authoring group (deps, engine)
  core/schema/modulesource.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/module_cmd.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

docs: pencil in default SDK inference as the future shape
  future/cli-1.0.md
Owners: none

engine: wire SDK `targetRuntime` introspection at `module init` time
  core/modulesource.go
  core/modulesource_test.go
  core/schema/workspace_module_init.go
  core/sdk.go
  core/sdk/consts.go
  core/sdk/dang_sdk.go
  core/sdk/go_sdk.go
  core/sdk/module.go
  future/cli-1.0.md
Owners: none

module init: also install the new module when --path is default
  cmd/dagger/module_init.go
Owners: none

docs: api client init verb, drop rm, drop --name
  future/cli-1.0.md
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
