Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

Leave migrated source in place
  core/integration/workspace_migration_test.go
  core/schema/workspace_migrate.go
  core/workspace/migrate.go
  core/workspace/migrate_test.go
Owners: none

lint fix
  engine/server/sshfs_manager.go
Owners: none

document using --cloud in gha (#13017)
  docs/current_docs/getting-started/ci-integrations/github-actions.mdx
  docs/current_docs/getting-started/ci-integrations/snippets/github-cloud-engine.yml
Owners: @dagger/docs

remove depot references from docs
  docs/current_docs/getting-started/ci-integrations/github-actions.mdx
  docs/current_docs/getting-started/ci-integrations/snippets/depot-hello-shell.yml
  docs/current_docs/getting-started/ci-integrations/snippets/depot-hello.yml
  docs/current_docs/getting-started/ci-integrations/snippets/depot-test-build.yml
  docs/current_docs/reference/container-runtimes/snippets/depot-hello-shell.yml
  docs/current_docs/reference/container-runtimes/snippets/depot-hello.yml
  docs/current_docs/reference/container-runtimes/snippets/depot-test-build.yml
Owners: @dagger/docs

remove depot references from docs (#13019)
  docs/current_docs/getting-started/ci-integrations/github-actions.mdx
  docs/current_docs/getting-started/ci-integrations/snippets/depot-hello-shell.yml
  docs/current_docs/getting-started/ci-integrations/snippets/depot-hello.yml
  docs/current_docs/getting-started/ci-integrations/snippets/depot-test-build.yml
  docs/current_docs/reference/container-runtimes/snippets/depot-hello-shell.yml
  docs/current_docs/reference/container-runtimes/snippets/depot-hello.yml
  docs/current_docs/reference/container-runtimes/snippets/depot-test-build.yml
Owners: @dagger/docs

Polish workspace settings hints
  core/integration/workspace_migration_test.go
  core/schema/workspace_settings_hints.go
  core/workspace/config_document.go
  core/workspace/config_test.go
Owners: none

Filter non-configurable workspace settings
  cmd/dagger/settings.go
  cmd/dagger/settings_test.go
  core/integration/workspace_migration_test.go
  core/integration/workspace_settings_test.go
  core/schema/workspace_settings_hints.go
  core/schema/workspace_settings_hints_test.go
Owners: none

modules: carry defaultPath context through asModule as source ref+pin
  core/modfunc.go
  core/module.go
  core/schema/modulesource.go
  engine/server/session.go
  engine/server/session_workspaces.go
Owners: none

core/integration: add remote module defaultPath toolchain regressions
  core/integration/module_remote_workspace_defaultpath_test.go
Owners: none

version: change next version to v0.20.7
  .changes/.next
Owners: none

sdk(python/runtime): opt in to skip-codegen-at-runtime
  sdk/python/runtime/.gitignore
  sdk/python/runtime/dagger.gen.go
  sdk/python/runtime/dagger.json
  sdk/python/runtime/go.mod
  sdk/python/runtime/go.sum
  sdk/python/runtime/internal/dagger/dagger.gen.go
Owners: @dagger/sdk-python

core/sdk/go_sdk: short-circuit Codegen when skip-codegen opted in
  core/sdk/go_sdk.go
Owners: none

python-sdk: ship prebuilt runtime binary in the engine image
  core/sdk/go_sdk.go
  toolchains/engine-dev/build/sdk.go
Owners: none

chore: bump TS SDK and fix bump issues
  sdk/typescript/package.json
  sdk/typescript/src/api/test/api.spec.ts
  sdk/typescript/src/module/introspector/test/case_convertor.spec.ts
  sdk/typescript/src/module/introspector/test/files.spec.ts
  sdk/typescript/src/module/introspector/test/invoke.spec.ts
  sdk/typescript/src/module/introspector/test/registry.spec.ts
  sdk/typescript/src/module/introspector/test/scan.spec.ts
  sdk/typescript/src/module/introspector/typescript_module/ast.ts
  sdk/typescript/src/test/connect.spec.ts
  sdk/typescript/yarn.lock
  toolchains/typescript-sdk-dev/ts-sdk.dang
Owners: @dagger/sdk-typescript

python-sdk: ship prebuilt client bindings in the engine image
  sdk/python/runtime/discovery.go
  sdk/python/runtime/main.go
  toolchains/engine-dev/build/sdk.go
Owners: @dagger/sdk-python

sdk(python): AST-based module introspection
  sdk/python/src/dagger/mod/_analyzer/__init__.py
  sdk/python/src/dagger/mod/_analyzer/analyze.py
  sdk/python/src/dagger/mod/_analyzer/errors.py
  sdk/python/src/dagger/mod/_analyzer/metadata.py
  sdk/python/src/dagger/mod/_analyzer/namespace.py
  sdk/python/src/dagger/mod/_analyzer/parser.py
  sdk/python/src/dagger/mod/_analyzer/registration.py
  sdk/python/src/dagger/mod/_analyzer/resolver.py
  sdk/python/src/dagger/mod/_analyzer/visitors/__init__.py
  sdk/python/src/dagger/mod/_analyzer/visitors/annotations.py
  sdk/python/src/dagger/mod/_analyzer/visitors/decorators.py
  sdk/python/src/dagger/mod/_discovery.py
  sdk/python/src/dagger/mod/_module.py
  sdk/python/src/dagger/mod/cli.py
  sdk/python/tests/mod/test_ast_analyzer.py
  sdk/python/tests/mod/test_discovery.py
Owners: @dagger/sdk-python

Hide synthetic `with` field from `dagger functions` listings (#13012)
  core/integration/workspace_test.go
  dagql/dagui/opts.go
Owners: none

fix: preserve service metadata in AST analyzer
  sdk/python/src/dagger/mod/_analyzer/metadata.py
  sdk/python/src/dagger/mod/_analyzer/parser.py
  sdk/python/src/dagger/mod/_analyzer/registration.py
  sdk/python/src/dagger/mod/_analyzer/visitors/decorators.py
  sdk/python/tests/mod/test_ast_analyzer.py
Owners: @dagger/sdk-python

refactor: replace runtime registration with AST-based analysis
  sdk/python/src/dagger/mod/_discovery.py
  sdk/python/src/dagger/mod/_module.py
  sdk/python/src/dagger/mod/cli.py
Owners: @dagger/sdk-python

fix: add generate support
  sdk/python/src/dagger/mod/_analyzer/metadata.py
  sdk/python/src/dagger/mod/_analyzer/parser.py
  sdk/python/src/dagger/mod/_analyzer/registration.py
  sdk/python/src/dagger/mod/_analyzer/visitors/decorators.py
Owners: @dagger/sdk-python

test: add tests covering the new ast analyzer
  sdk/python/tests/mod/test_ast_analyzer.py
Owners: @dagger/sdk-python

feat(sdk/python): AST based analysis to introspect
  sdk/python/src/dagger/mod/_analyzer/__init__.py
  sdk/python/src/dagger/mod/_analyzer/analyze.py
  sdk/python/src/dagger/mod/_analyzer/errors.py
  sdk/python/src/dagger/mod/_analyzer/metadata.py
  sdk/python/src/dagger/mod/_analyzer/namespace.py
  sdk/python/src/dagger/mod/_analyzer/parser.py
  sdk/python/src/dagger/mod/_analyzer/registration.py
  sdk/python/src/dagger/mod/_analyzer/resolver.py
  sdk/python/src/dagger/mod/_analyzer/visitors/__init__.py
  sdk/python/src/dagger/mod/_analyzer/visitors/annotations.py
  sdk/python/src/dagger/mod/_analyzer/visitors/decorators.py
  sdk/python/src/dagger/mod/cli.py
Owners: @dagger/sdk-python

chore: lint
  sdk/python/src/dagger/mod/_analyzer/namespace.py
  sdk/python/src/dagger/mod/_analyzer/visitors/annotations.py
  sdk/python/src/dagger/mod/cli.py
  sdk/python/tests/mod/test_ast_analyzer.py
Owners: @dagger/sdk-python

fix: handle constructors, InitVar, inheritance, and external constructors in AST analyzer
  sdk/python/src/dagger/mod/_analyzer/parser.py
  sdk/python/src/dagger/mod/_analyzer/registration.py
  sdk/python/src/dagger/mod/_analyzer/resolver.py
  sdk/python/src/dagger/mod/_discovery.py
Owners: @dagger/sdk-python

fix: correct default value handling for function parameters
  sdk/python/src/dagger/mod/_analyzer/parser.py
  sdk/python/src/dagger/mod/_analyzer/registration.py
Owners: @dagger/sdk-python

fix: scan nested packages for AST registration
  sdk/python/src/dagger/mod/_analyzer/analyze.py
  sdk/python/src/dagger/mod/_discovery.py
  sdk/python/tests/mod/test_discovery.py
Owners: @dagger/sdk-python

fix: handle enum defaults, __init__ constructors, deprecation validation, and legacy enums
  sdk/python/src/dagger/mod/_analyzer/parser.py
  sdk/python/src/dagger/mod/_analyzer/registration.py
  sdk/python/src/dagger/mod/_analyzer/resolver.py
Owners: @dagger/sdk-python

fix: keep kw-only defaults
  sdk/python/src/dagger/mod/_analyzer/parser.py
  sdk/python/tests/mod/test_ast_analyzer.py
Owners: @dagger/sdk-python

fix: handle positional-only parameters in AST parser
  sdk/python/src/dagger/mod/_analyzer/parser.py
Owners: @dagger/sdk-python

fix: skip ClassVar and Final class annotations
  sdk/python/src/dagger/mod/_analyzer/parser.py
Owners: @dagger/sdk-python

fix: detect IntEnum/StrEnum/Flag subclasses as enums
  sdk/python/src/dagger/mod/_analyzer/parser.py
Owners: @dagger/sdk-python

fix: resolve typing.Sequence and Iterable as lists
  sdk/python/src/dagger/mod/_analyzer/resolver.py
Owners: @dagger/sdk-python

fix: disambiguate bare field() from dataclasses.field
  sdk/python/src/dagger/mod/_analyzer/parser.py
Owners: @dagger/sdk-python

fix: skip first method parameter regardless of name
  sdk/python/src/dagger/mod/_analyzer/parser.py
Owners: @dagger/sdk-python

fix: initialize module-constants dict in parser __init__
  sdk/python/src/dagger/mod/_analyzer/parser.py
Owners: @dagger/sdk-python

mountStates needs a placeholder for Hostsource / Volumesource mounts, so indexes are correctly aligned
  core/container_exec.go
Owners: none

fix: scope module constants per source file
  sdk/python/src/dagger/mod/_analyzer/parser.py
Owners: @dagger/sdk-python

fix: resolve external constructors after all classes are parsed
  sdk/python/src/dagger/mod/_analyzer/parser.py
Owners: @dagger/sdk-python

fix: surface default serialization failures
  sdk/python/src/dagger/mod/_analyzer/parser.py
  sdk/python/src/dagger/mod/_analyzer/registration.py
Owners: @dagger/sdk-python

fix: warn on import failures during AST analysis
  sdk/python/src/dagger/mod/_analyzer/namespace.py
Owners: @dagger/sdk-python
