Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

contributor: add reviewComments + remote setting
  .claude/settings.local.json
  dagger.toml
  modules/contributor/main.dang
Owners: none

editor: add webFetch tool backed by lynx
  modules/editor/main.dang
Owners: none

feat(editor): enforce conventional commit messages
  modules/editor/main.dang
Owners: none

docs: design detached source-client callbacks
  hack/designs/detachable-sessions-source-client-callbacks.html
Owners: none

engine/session/git: fix stale config test
  engine/session/git/git_test.go
Owners: none

workspace: add WorkspaceGit.push API
  .changes/unreleased/Added-20260806-120000.yaml
  core/integration/workspace_push_test.go
  core/schema/workspace.go
  core/schema/workspace_push.go
  engine/engineutil/client.go
  engine/session/git/git.go
  engine/session/git/git.pb.go
  engine/session/git/git.proto
  engine/session/git/git_push.go
  engine/session/git/git_push_test.go
Owners: none

Add support for toolchain customizations with glob patterns in function and argument fields.
  .changes/unreleased/Added-20260807-150609.yaml
  core/integration/testdata/test-blueprint/hello/main.go
  core/integration/workspace_compat_test.go
  core/module.go
  core/object_test.go
Owners: none

feat(sdk/rust): add owned CLI session startup (#23)
  .kiro/specs/rust-sdk-transport-observability/tasks.md
  sdk/rust/completeness/harness-mappings.json
  sdk/rust/crates/dagger-sdk-completeness/tests/initial_baseline.rs
  sdk/rust/crates/dagger-sdk/src/diagnostic.rs
  sdk/rust/crates/dagger-sdk/src/discovery.rs
  sdk/rust/crates/dagger-sdk/src/launch.rs
  sdk/rust/crates/dagger-sdk/src/launch_tests.rs
  sdk/rust/crates/dagger-sdk/src/lib.rs
  sdk/rust/crates/dagger-sdk/src/preflight.rs
  sdk/rust/crates/dagger-sdk/src/provisioning_tests.rs
  sdk/rust/crates/dagger-sdk/src/public_api_tests.rs
  sdk/rust/crates/dagger-sdk/src/session.rs
  sdk/rust/crates/dagger-sdk/src/session_startup.rs
  sdk/rust/crates/dagger-sdk/src/session_startup_tests.rs
  sdk/rust/crates/dagger-sdk/src/source_foundation_tests.rs
  sdk/rust/crates/dagger-sdk/tests/fixtures/session_process.rs
Owners: @dagger/sdk-rust

feat(sdk/rust): complete the runtime connector
  .kiro/specs/rust-sdk-transport-observability/tasks.md
  sdk/rust/completeness/harness-mappings.json
  sdk/rust/crates/dagger-sdk-completeness/tests/initial_baseline.rs
  sdk/rust/crates/dagger-sdk/api/public-api.txt
  sdk/rust/crates/dagger-sdk/src/compatibility.rs
  sdk/rust/crates/dagger-sdk/src/config.rs
  sdk/rust/crates/dagger-sdk/src/connection.rs
  sdk/rust/crates/dagger-sdk/src/connector.rs
  sdk/rust/crates/dagger-sdk/src/errors.rs
  sdk/rust/crates/dagger-sdk/src/foundation_tests.rs
  sdk/rust/crates/dagger-sdk/src/launch.rs
  sdk/rust/crates/dagger-sdk/src/launch_tests.rs
  sdk/rust/crates/dagger-sdk/src/lib.rs
  sdk/rust/crates/dagger-sdk/src/preflight.rs
  sdk/rust/crates/dagger-sdk/src/propagation.rs
  sdk/rust/crates/dagger-sdk/src/public_api_tests.rs
  sdk/rust/crates/dagger-sdk/src/query.rs
  sdk/rust/crates/dagger-sdk/src/runtime_connector_tests.rs
  sdk/rust/crates/dagger-sdk/src/runtime_errors.rs
  sdk/rust/crates/dagger-sdk/src/session_startup.rs
  sdk/rust/crates/dagger-sdk/src/session_startup_tests.rs
  sdk/rust/crates/dagger-sdk/src/source_foundation_tests.rs
  sdk/rust/crates/dagger-sdk/src/transport.rs
  sdk/rust/crates/dagger-sdk/tests/fixtures/session_process.rs
  sdk/rust/crates/dagger-sdk/tests/owned_client.rs
Owners: @dagger/sdk-rust

docs: prove detached source callback changes
  hack/designs/detachable-sessions-source-client-callbacks.html
Owners: none

feat(sdk/rust): complete the runtime connector (#24)
  .kiro/specs/rust-sdk-transport-observability/tasks.md
  sdk/rust/completeness/harness-mappings.json
  sdk/rust/crates/dagger-sdk-completeness/tests/initial_baseline.rs
  sdk/rust/crates/dagger-sdk/api/public-api.txt
  sdk/rust/crates/dagger-sdk/src/compatibility.rs
  sdk/rust/crates/dagger-sdk/src/config.rs
  sdk/rust/crates/dagger-sdk/src/connection.rs
  sdk/rust/crates/dagger-sdk/src/connector.rs
  sdk/rust/crates/dagger-sdk/src/errors.rs
  sdk/rust/crates/dagger-sdk/src/foundation_tests.rs
  sdk/rust/crates/dagger-sdk/src/launch.rs
  sdk/rust/crates/dagger-sdk/src/launch_tests.rs
  sdk/rust/crates/dagger-sdk/src/lib.rs
  sdk/rust/crates/dagger-sdk/src/preflight.rs
  sdk/rust/crates/dagger-sdk/src/propagation.rs
  sdk/rust/crates/dagger-sdk/src/public_api_tests.rs
  sdk/rust/crates/dagger-sdk/src/query.rs
  sdk/rust/crates/dagger-sdk/src/runtime_connector_tests.rs
  sdk/rust/crates/dagger-sdk/src/runtime_errors.rs
  sdk/rust/crates/dagger-sdk/src/session_startup.rs
  sdk/rust/crates/dagger-sdk/src/session_startup_tests.rs
  sdk/rust/crates/dagger-sdk/src/source_foundation_tests.rs
  sdk/rust/crates/dagger-sdk/src/transport.rs
  sdk/rust/crates/dagger-sdk/tests/fixtures/session_process.rs
  sdk/rust/crates/dagger-sdk/tests/owned_client.rs
Owners: @dagger/sdk-rust

docs: revise detached callback design after council
  hack/designs/detachable-sessions-source-client-callbacks.html
Owners: none

docs-dev: fix node_modules ignore ordering
  .dagger/modules/docs-dev/dagger.gen.go
  .dagger/modules/docs-dev/main.go
Owners: none

sdk,docs: regenerate for WorkspaceGit.push
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/WorkspaceGit.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/workspace_git.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/WorkspaceGit.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

docs: approve shared tunnel completion design
  hack/designs/detachable-sessions-source-client-callbacks.html
Owners: none

workspace: refresh cache mounts on volume writes
  core/cache.go
  core/container_exec.go
  core/integration/workspace_api_test.go
  core/schema/cache.go
  core/schema/workspace.go
  core/service.go
  core/workspace_volume.go
Owners: none

feat(sdk/rust): stabilize the transport release contract (#25)
  .kiro/specs/rust-sdk-transport-observability/tasks.md
  sdk/rust/ARCHITECTURE.md
  sdk/rust/README.md
  sdk/rust/completeness/artifacts/ledger.json
  sdk/rust/completeness/artifacts/report.json
  sdk/rust/completeness/artifacts/report.md
  sdk/rust/completeness/classifications.json
  sdk/rust/completeness/evidence/registry.json
  sdk/rust/completeness/evidence/transport-observations.json
  sdk/rust/completeness/harness-mappings.json
  sdk/rust/crates/dagger-sdk-completeness/src/contract.rs
  sdk/rust/crates/dagger-sdk-completeness/src/diagnostic.rs
  sdk/rust/crates/dagger-sdk-completeness/src/lib.rs
  sdk/rust/crates/dagger-sdk-completeness/src/observation.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/feature_scope.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/initial_baseline.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/transport_scope.rs
  sdk/rust/crates/dagger-sdk/README.md
  sdk/rust/crates/dagger-sdk/src/connector.rs
  sdk/rust/crates/dagger-sdk/src/diagnostic.rs
  sdk/rust/crates/dagger-sdk/src/lib.rs
  sdk/rust/crates/dagger-sdk/src/provision.rs
  sdk/rust/crates/dagger-sdk/src/public_api_tests.rs
  sdk/rust/crates/dagger-sdk/src/runtime_connector_tests.rs
  sdk/rust/crates/dagger-sdk/src/session_startup.rs
  sdk/rust/crates/dagger-sdk/tests/ui/fail/borrowed_diagnostic_sink.rs
  sdk/rust/crates/dagger-sdk/tests/ui/fail/borrowed_diagnostic_sink.stderr
  sdk/rust/crates/dagger-sdk/tests/ui/fail/non_send_connection.rs
  sdk/rust/crates/dagger-sdk/tests/ui/fail/non_send_connection.stderr
  sdk/rust/crates/dagger-sdk/tests/ui/fail/owned_config.rs
  sdk/rust/crates/dagger-sdk/tests/ui/fail/owned_config.stderr
  sdk/rust/crates/dagger-sdk/tests/ui/fail/private_modules.rs
  sdk/rust/crates/dagger-sdk/tests/ui/fail/private_modules.stderr
  sdk/rust/crates/dagger-sdk/tests/ui/pass/stable_contract.rs
  toolchains/rust-sdk-dev/main.go
Owners: @dagger/sdk-rust

docs: serialize tunnel completion publication
  hack/designs/detachable-sessions-source-client-callbacks.html
Owners: none

docs: fix shared tunnel cleanup design
  hack/designs/detachable-sessions-source-client-callbacks.html
Owners: none

core/schema: add _debugCrash engine-crash field
  core/schema/query.go
Owners: none

mcp-lab: add lab module for driving dagger mcp
  .dagger/modules/mcp-lab/bridge/main.go
  .dagger/modules/mcp-lab/dagger-module.toml
  .dagger/modules/mcp-lab/fixtures/crasher/.dagger/modules/crasher/dagger.json
  .dagger/modules/mcp-lab/fixtures/crasher/.dagger/modules/crasher/main.go
  .dagger/modules/mcp-lab/fixtures/crasher/dagger.toml
  .dagger/modules/mcp-lab/main.dang
  .dagger/modules/mcp-lab/skills/mcp-lab/SKILL.md
  dagger.toml
Owners: none

docs: close tunnel callback design races
  hack/designs/detachable-sessions-source-client-callbacks.html
Owners: none

docs: complete canceled tunnel dial design
  hack/designs/detachable-sessions-source-client-callbacks.html
Owners: none

clientdb: make ReadLogs reach service exec logs
  core/mcp.go
  engine/clientdb/store_reopen_test.go
  engine/clientdb/telemetry_store.go
  engine/clientdb/telemetry_store_test.go
Owners: none

core(llm): keep exited services in ListServices
  core/mcp.go
  core/services.go
  core/services_test.go
Owners: none

mcp-lab: mark crasher fixture tools uncacheable
  .dagger/modules/mcp-lab/fixtures/crasher/.dagger/modules/crasher/main.go
Owners: none

core(llm): add a ListServices builtin
  core/integration/mcp_test.go
  core/mcp.go
  core/services.go
  core/services_test.go
Owners: none

core(llm): abridge tool logs by provenance
  core/llm_object_tools.go
  core/llm_otel.go
  core/llm_otel_test.go
  core/mcp.go
  core/mcp_test.go
Owners: none

core(llm): hide internal-span logs in tool results
  core/integration/llm_test.go
  core/llm_object_tools.go
  core/mcp.go
Owners: none

core: cancel the graceful-stop timeout context
  core/services.go
Owners: none

core(llm): hide service logs in tool results
  core/integration/llm_test.go
  core/integration/llmtest/svc-agent/dagger.json
  core/integration/llmtest/svc-agent/main.dang
  core/llm_object_tools.go
  core/mcp.go
  engine/clientdb/telemetry_store.go
Owners: none

tui: surface services in the trace
  dagql/dagui/db.go
  dagql/dagui/services.go
  dagql/dagui/services_test.go
  dagql/idtui/frontend_console.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/services_report.go
  dagql/idtui/services_report_test.go
Owners: none

telemetry: mark service spans, follow cause links
  core/modtree.go
  core/service.go
  dagql/dagui/spans.go
  engine/clientdb/telemetry_store.go
  engine/clientdb/telemetry_store_test.go
  engine/telemetryattrs/attrs.go
Owners: none

core(llm): bound internal filter to the capture
  core/mcp.go
  core/mcp_test.go
  engine/clientdb/telemetry_store.go
Owners: none

core(llm): cap tool logs at a byte budget
  core/mcp.go
  core/mcp_test.go
Owners: none

core(llm): make ReadLogs recoverable for agents
  core/mcp.go
  core/mcp_test.go
Owners: none

core(llm): tidy capture comments and fixtures
  core/mcp.go
  core/mcp_test.go
Owners: none

tui: aim the services report at agents
  dagql/dagui/services.go
  dagql/dagui/services_test.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/services_report.go
  dagql/idtui/services_report_test.go
Owners: none

mcp-lab: add lab module for driving dagger mcp
  .dagger/modules/mcp-lab/bridge/main.go
  .dagger/modules/mcp-lab/dagger-module.toml
  .dagger/modules/mcp-lab/fixtures/crasher/.dagger/modules/crasher/dagger.json
  .dagger/modules/mcp-lab/fixtures/crasher/.dagger/modules/crasher/main.go
  .dagger/modules/mcp-lab/fixtures/crasher/dagger.toml
  .dagger/modules/mcp-lab/main.dang
  .dagger/modules/mcp-lab/skills/mcp-lab/SKILL.md
  dagger.toml
Owners: none

core(llm): avoid quadratic log capture growth
  core/mcp.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
