Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

fix(codegen): resolve Go SDK self-bootstrap loop (#13605)
  .changes/fix-13605-go-sdk-codegen-bootstrap.yaml
  cmd/codegen/common.go
  cmd/codegen/generate_client.go
  cmd/codegen/generator/config.go
  cmd/codegen/generator/go/generate_client.go
  cmd/codegen/generator/go/generate_module.go
  cmd/codegen/generator/go/templates/src/_types/interface.go.tmpl
  cmd/codegen/generator/go/templates/src/_types/object.go.tmpl
  cmd/codegen/generator/typescript/templates/functions_test.go
  cmd/codegen/internal/bootstrap/bootstrap_sync_test.go
  cmd/codegen/internal/bootstrap/client.go
  cmd/codegen/introspect.go
  cmd/codegen/introspection/introspect.go
  sdk/go/fs.go
  sdk/go/sdkfs/fs.go
Owners: @dagger/sdk-go

release: install nix completions and fix deprecation warning (#13530)
  toolchains/cli-dev/release_package_managers.go
Owners: none

fix(cli): register SDK install hint without a workspace config
  core/integration/command_hints_test.go
  internal/cmd/dagger/sdk_init_dynamic.go
  internal/cmd/dagger/sdk_init_dynamic_test.go
Owners: none

fix(cli): suggest installing known SDKs (#13652)
  core/integration/command_hints_test.go
  internal/cmd/dagger/sdk_init_dynamic.go
  internal/cmd/dagger/sdk_init_dynamic_test.go
Owners: none

core/sdk: regenerate pre-1.0 bindings at runtime
  core/integration/module_runtime_codegen_test.go
  core/sdk/utils.go
  engine/version.go
Owners: none

docs: add Playwright setup guide and a Module Wiring page
  docs/current_docs/modules/index.mdx
  docs/current_docs/modules/playwright.mdx
  docs/current_docs/using-dagger/module-wiring.mdx
  docs/sidebars.ts
Owners: @dagger/docs

telemetry: emit structural inputs as a native OTel string slice
  core/telemetry.go
  core/telemetry_cache_evidence_test.go
  engine/telemetryattrs/attrs.go
Owners: none

feat(clientdb): add asynchronous telemetry streams
  engine/clientdb/store_stream.go
  engine/clientdb/store_stream_test.go
Owners: none

feat(clientdb): add telemetry row codecs
  engine/clientdb/store_codec.go
  engine/clientdb/store_codec_test.go
Owners: none

feat(clientdb): assemble per-client telemetry stores
  engine/clientdb/telemetry_store.go
  engine/clientdb/telemetry_store_test.go
Owners: none

feat(clientdb): cap telemetry stream memory
  engine/clientdb/store_spill.go
  engine/clientdb/store_stream.go
  engine/clientdb/store_stream_test.go
Owners: none

feat(clientdb): add refcounted telemetry store registry
  engine/clientdb/store_registry.go
  engine/clientdb/store_registry_test.go
Owners: none

refactor(clientdb): compact span lookup updates
  engine/clientdb/store_concurrency_test.go
  engine/clientdb/store_stream.go
  engine/clientdb/telemetry_store.go
Owners: none

test(clientdb): hammer concurrent store visibility
  engine/clientdb/store_concurrency_test.go
  engine/clientdb/store_reopen_test.go
Owners: none

docs: add append-only telemetry store design
  internal-docs/telemetry-store.html
Owners: none

feat(clientdb): add indexed telemetry spill files
  engine/clientdb/store_spill.go
  engine/clientdb/store_spill_test.go
Owners: none

feat(clientdb): add telemetry store dump tool
  engine/clientdb/dump.go
  engine/clientdb/dump_test.go
  hack/clientdb-dump/main.go
Owners: none

perf(clientdb): lower telemetry tail budget
  engine/clientdb/store_stream.go
  internal-docs/telemetry-store.html
Owners: none

fix(clientdb): guard nullable telemetry IDs
  core/mcp.go
  engine/clientdb/log.go
  engine/clientdb/log_test.go
Owners: none

fix(telemetry): restore internal span live emits
  dagql/otelprof_hooks.go
  dagql/otelprof_hooks_test.go
  engine/server/session.go
  engine/telemetry/livespan.go
  internal-docs/telemetry-store.html
Owners: none

feat(clientdb): replace SQLite telemetry writes
  engine/clientdb/db.go
  engine/clientdb/dbs.go
  engine/clientdb/dbs_test.go
  engine/clientdb/generate.go
  engine/clientdb/models.go
  engine/clientdb/queries.sql
  engine/clientdb/queries.sql.go
  engine/clientdb/schema.sql
  engine/clientdb/sqlc.yaml
  engine/clientdb/store_registry.go
  engine/clientdb/store_registry_test.go
  engine/clientdb/store_reopen_test.go
  engine/clientdb/telemetry_store.go
  engine/server/telemetry.go
Owners: none

fix(clientdb): preserve spill write indirection
  engine/clientdb/store_spill.go
  engine/clientdb/store_stream.go
Owners: none

fix(server): transfer telemetry keepalive ownership
  engine/server/session.go
  engine/server/session_test.go
  engine/server/telemetry.go
Owners: none

docs(clientdb): note invalid NullString semantics
  engine/clientdb/store_codec.go
Owners: none

fix(clientdb): capitalize schema URL fields
  engine/clientdb/log.go
  engine/clientdb/log_test.go
  engine/clientdb/models.go
  engine/clientdb/store_codec.go
  engine/clientdb/store_codec_test.go
  engine/server/telemetry.go
Owners: none

docs(clientdb): record telemetry tail hard cap
  internal-docs/telemetry-store.html
Owners: none

test(clientdb): pin fatal spill rollback
  engine/clientdb/store_failure_test.go
Owners: none

feat(clientdb): report append backpressure
  engine/clientdb/store_reopen_test.go
  engine/clientdb/store_stream.go
  engine/clientdb/store_stream_test.go
  engine/clientdb/telemetry_store.go
  engine/clientdb/telemetry_store_test.go
Owners: none

perf(clientdb): set 2 MiB telemetry tail budget
  engine/clientdb/store_stream.go
  internal-docs/telemetry-store.html
Owners: none

cli: add module dependency update command
  core/integration/module_dependency_cli_test.go
  docs/current_docs/reference/cli/index.mdx
  internal/cmd/dagger/module_cmd.go
Owners: @dagger/docs

stamp git info into sandboxed Go builds
  modules/daggerverse/internal/dagger/go.gen.go
  modules/metrics/internal/dagger/dagger-engine.gen.go
  toolchains/cli-dev/dagger.gen.go
  toolchains/cli-dev/internal/dagger/cli-dev.gen.go
  toolchains/cli-dev/internal/dagger/go.gen.go
  toolchains/cli-dev/main.go
  toolchains/docs-dev/dagger.gen.go
  toolchains/docs-dev/internal/dagger/dagger-cli.gen.go
  toolchains/docs-dev/internal/dagger/docs-dev.gen.go
  toolchains/docs-dev/internal/dagger/engine-dev.gen.go
  toolchains/docs-dev/internal/dagger/go.gen.go
  toolchains/docs-dev/main.go
  toolchains/engine-dev/build/builder.go
  toolchains/engine-dev/dagger.gen.go
  toolchains/engine-dev/internal/dagger/dagger-cli.gen.go
  toolchains/engine-dev/internal/dagger/engine-dev.gen.go
  toolchains/engine-dev/internal/dagger/go.gen.go
  toolchains/engine-dev/main.go
  toolchains/engine-dev/test.go
  toolchains/go/dagger.gen.go
  toolchains/go/internal/dagger/go.gen.go
  toolchains/go/main.go
  toolchains/php-sdk-dev/internal/dagger/dagger-engine.gen.go
  toolchains/python-sdk-dev/internal/dagger/dagger-engine.gen.go
  toolchains/release/dagger.gen.go
  toolchains/release/internal/dagger/cli-dev.gen.go
  toolchains/release/internal/dagger/docs-dev.gen.go
  toolchains/release/internal/dagger/engine-dev.gen.go
  toolchains/release/main.go
  toolchains/release/publish_check.go
  toolchains/release/tests.go
  toolchains/rust-sdk-dev/internal/dagger/dagger-engine.gen.go
Owners: none

internal/version: move buildinfo into this repo
  go.mod
  go.sum
  internal/version/buildinfo/buildinfo.go
  internal/version/buildinfo/buildinfo_test.go
  internal/version/buildinfo/example_test.go
  internal/version/version.go
Owners: none

stamp VCS via resolved scalars, not a stored Workspace field
  modules/daggerverse/internal/dagger/go.gen.go
  toolchains/cli-dev/dagger.gen.go
  toolchains/cli-dev/internal/dagger/cli-dev.gen.go
  toolchains/cli-dev/internal/dagger/go.gen.go
  toolchains/cli-dev/main.go
  toolchains/docs-dev/internal/dagger/dagger-cli.gen.go
  toolchains/docs-dev/internal/dagger/go.gen.go
  toolchains/engine-dev/build/builder.go
  toolchains/engine-dev/dagger.gen.go
  toolchains/engine-dev/internal/dagger/dagger-cli.gen.go
  toolchains/engine-dev/internal/dagger/engine-dev.gen.go
  toolchains/engine-dev/internal/dagger/go.gen.go
  toolchains/engine-dev/main.go
  toolchains/engine-dev/test.go
  toolchains/go/dagger.gen.go
  toolchains/go/internal/dagger/go.gen.go
  toolchains/go/main.go
  toolchains/release/internal/dagger/cli-dev.gen.go
Owners: none

CI: bump some Dagger modules to require engine v1.0.0-beta.6
  toolchains/cli-dev/dagger.json
  toolchains/cli-dev/internal/dagger/dagger.gen.go
  toolchains/docs-dev/dagger.json
  toolchains/docs-dev/internal/dagger/dagger.gen.go
  toolchains/engine-dev/dagger.json
  toolchains/engine-dev/internal/dagger/dagger.gen.go
  toolchains/go/dagger.json
  toolchains/go/internal/dagger/dagger.gen.go
  toolchains/release/dagger.json
  toolchains/release/internal/dagger/dagger.gen.go
Owners: none

engine: replace SQLite client telemetry stores with an append-only log store (#13712)
  core/mcp.go
  dagql/otelprof_hooks.go
  dagql/otelprof_hooks_test.go
  engine/clientdb/db.go
  engine/clientdb/dbs.go
  engine/clientdb/dbs_test.go
  engine/clientdb/dump.go
  engine/clientdb/dump_test.go
  engine/clientdb/generate.go
  engine/clientdb/log.go
  engine/clientdb/log_test.go
  engine/clientdb/models.go
  engine/clientdb/queries.sql
  engine/clientdb/queries.sql.go
  engine/clientdb/schema.sql
  engine/clientdb/sqlc.yaml
  engine/clientdb/store_codec.go
  engine/clientdb/store_codec_test.go
  engine/clientdb/store_concurrency_test.go
  engine/clientdb/store_failure_test.go
  engine/clientdb/store_registry.go
  engine/clientdb/store_registry_test.go
  engine/clientdb/store_reopen_test.go
  engine/clientdb/store_spill.go
  engine/clientdb/store_spill_test.go
  engine/clientdb/store_stream.go
  engine/clientdb/store_stream_test.go
  engine/clientdb/telemetry_store.go
  engine/clientdb/telemetry_store_test.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/telemetry.go
  engine/telemetry/livespan.go
  hack/clientdb-dump/main.go
  internal-docs/telemetry-store.html
Owners: none

cli: require explicit generate apply mode for agents
  core/integration/generators_test.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_report_heartbeat_test.go
  dagql/idtui/output.go
  dagql/idtui/output_test.go
  docs/current_docs/using-dagger/changesets.mdx
  internal/cmd/dagger/functions.go
  internal/cmd/dagger/generators.go
  internal/cmd/dagger/generators_test.go
Owners: @dagger/docs

test: cover generate no-apply report output
  core/integration/generators_test.go
Owners: none

docs: design engine-managed volumes
  hack/designs/engine-volumes.html
Owners: none

engine: add engine-managed volume backend
  core/container_exec.go
  core/integration/volume_test.go
  core/moddeps.go
  core/query.go
  core/schema/schema_test.go
  core/schema/test_server_test.go
  core/schema/volume.go
  core/schema/volume_test.go
  core/schema_build_test.go
  core/telemetry_test.go
  core/volume.go
  core/volume_mount.go
  core/volume_mount_test.go
  core/volume_test.go
  engine/engineutil/executor_spec.go
  engine/engineutil/executor_spec_test.go
  engine/server/mount_capabilities.go
  engine/server/mount_capabilities_test.go
  engine/server/server.go
  engine/server/session.go
Owners: none

docs: refine engine volume semantics
  hack/designs/engine-volumes.html
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
