Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

fix(llm): reset the workspace and bust stale reads
  core/integration/llm_test.go
  core/llm.go
  core/llm_skills.go
  core/llm_skills_test.go
  core/llm_test.go
  core/schema/llm.go
  core/schema/workspace.go
  core/workspace.go
  dagql/cache_inputs.go
  engine/server/server.go
  engine/server/session.go
  engine/server/session_workspaces.go
Owners: none

test(llm): bind workspaces explicitly in the reset family
  core/integration/llm_test.go
  core/llm.go
Owners: none

test(llm): sketch cross-session resume coverage (skipped)
  core/integration/llm_resume_test.go
Owners: none

test(llm): cover cross-session resume behavior
  core/integration/llm_resume_test.go
Owners: none

docs: describe recipe replay and NotReplayable
  internal-docs/recipe_replay.md
Owners: none

regen
  docs/static/reference/php/Dagger/LLM.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/llm.ex
  sdk/php/generated/LLM.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

feat(schema): require workspace arg on asSDK
  core/integration/generators_test.go
  core/schema/module.go
  core/schema/module_as_sdk.go
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/CurrentModule.html
  sdk/elixir/lib/dagger/gen/current_module.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/CurrentModule.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

docs(sdk/rust): document bootstrap crate
  sdk/rust/crates/dagger-bootstrap/Cargo.toml
  sdk/rust/crates/dagger-bootstrap/README.md
Owners: @dagger/sdk-rust

ci(sdk/rust): automate dependency security checks
  .github/dependabot.yml
  .github/workflows/rust-sdk-security.yml
Owners: none

ci(sdk/rust): make security check always report
  .github/workflows/rust-sdk-security.yml
Owners: none

ci(sdk/rust): use native dependency policy gate
  .github/workflows/rust-sdk-security.yml
Owners: none

docs(sdk/rust): record modern toolchain baseline
  sdk/rust/.changes/unreleased/Breaking-20260805-154053.yaml
Owners: @dagger/sdk-rust

ci(sdk/rust): monitor standalone Cargo workspaces
  .github/dependabot.yml
Owners: none

chore(sdk/rust): align crates on Apache-2.0
  sdk/rust/Cargo.toml
  sdk/rust/crates/dagger-bootstrap/LICENSE
  sdk/rust/crates/dagger-sdk/LICENSE
Owners: @dagger/sdk-rust

docs: clarify metadata pruning execution
  docs/design/metadata-memory-pruning.html
Owners: @dagger/docs

docs: design metadata-aware cache pruning
  docs/design/metadata-memory-pruning.html
Owners: @dagger/docs

docs: refine metadata pruning design
  docs/design/metadata-memory-pruning.html
Owners: @dagger/docs

docs: specify candidate snapshot locking
  docs/design/metadata-memory-pruning.html
Owners: @dagger/docs

docs: rewrite metadata pruning design
  docs/design/metadata-memory-pruning.html
Owners: @dagger/docs

docs: clarify metadata pruning calibration defaults
  docs/current_docs/reference/configuration/engine.mdx
  internal-docs/cache_pruning.md
Owners: @dagger/docs

docs: address metadata pruning council review
  docs/design/metadata-memory-pruning.html
Owners: @dagger/docs

dagql: prune cache by metadata estimate
  dagql/cache.go
  dagql/cache_debug.go
  dagql/cache_egraph.go
  dagql/cache_metadata_prune_test.go
  dagql/cache_prune.go
  dagql/cache_test.go
Owners: none

test: keep metadata pruning workload active longer
  core/integration/localcache_test.go
Owners: none

engine: schedule DAGQL metadata pruning
  cmd/engine/metrics.go
  docs/static/reference/engine.schema.json
  engine/config/config.go
  engine/server/gc.go
  engine/server/gc_test.go
  engine/server/server.go
  engine/server/session.go
  engine/server/session_test.go
Owners: @dagger/docs

test: cover automatic DAGQL metadata pruning
  core/integration/engine_test.go
  core/integration/localcache_test.go
Owners: none

engine: tighten metadata pruning correction coverage
  dagql/cache_metadata_prune_test.go
  engine/server/gc.go
  engine/server/gc_test.go
Owners: none

dagql: silence untriggered metadata prune output
  dagql/cache_metadata_prune_test.go
  dagql/cache_prune.go
Owners: none

test: measure sparse metadata class compaction
  dagql/cache_metadata_prune_benchmark_test.go
Owners: none

dagql: calibrate metadata class estimate
  dagql/cache.go
Owners: none

test: benchmark DAGQL metadata pruning
  dagql/cache_metadata_prune_benchmark_test.go
Owners: none

docs: document DAGQL metadata pruning
  docs/current_docs/reference/configuration/engine.mdx
  internal-docs/cache_pruning.md
Owners: @dagger/docs

docs: simplify DAGQL metadata pruning design
  docs/design/metadata-memory-pruning.html
Owners: @dagger/docs

docs: clarify metadata pruning trigger and calibration
  docs/design/metadata-memory-pruning.html
Owners: @dagger/docs

test: reproduce user workspace config identity bugs
  core/workspace/userconfig_test.go
  engine/server/session_userconfig_test.go
Owners: none

Fix user-config workspace key identity gaps from review
  core/workspace/gitconfig.go
  core/workspace/gitconfig_test.go
  core/workspace/userconfig.go
  engine/server/session_userconfig_test.go
  engine/server/session_workspaces.go
Owners: none

engine: satisfy cache pruning lints
  engine/server/gc_test.go
  engine/server/server.go
Owners: none

fix(llm): carry provider in the portable recipe
  core/integration/llm_test.go
  core/llm.go
Owners: none

fix(workspace): bump reloaded's read epoch as the owner
  core/schema/workspace.go
Owners: none

fix(llm): log skill sources skipped by listSkills
  core/llm_skills.go
Owners: none

fix(llm): restore directories lost by patch normalization
  core/integration/llm_object_tools_test.go
  core/integration/testdata/workspaces/workspace-tool-return/.dagger/modules/swapper/main.dang
  core/mcp.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
