Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

feat(workspace): add Workspace.glob API
  core/integration/testdata/workspaces/workspace-api/.dagger/modules/globber/dagger.json
  core/integration/testdata/workspaces/workspace-api/.dagger/modules/globber/main.dang
  core/integration/testdata/workspaces/workspace-api/dagger.toml
  core/integration/workspace_api_test.go
  core/schema/workspace.go
  engine/client/filesync.go
  engine/engineutil/filesync.go
  engine/opts.go
Owners: none

feat(trace): fetch whole trace at high verbosity
  internal/cmd/dagger/trace.go
Owners: none

fix(dagui): let verbosity expand rolled-up spans
  dagql/dagui/types.go
Owners: none

fix(dagql): bound parallel resolution fan-out
  dagql/server.go
Owners: none

test(workspace): reproduce search path escape
  core/integration/testdata/workspaces/workspace-api/.dagger/modules/searcher/main.dang
  core/integration/workspace_api_test.go
Owners: none

core/schema: gate Workspace.glob and search to v1
  core/integration/testdata/workspaces/workspace-api/.dagger/modules/files-searcher/dagger.json
  core/integration/testdata/workspaces/workspace-api/.dagger/modules/globber/dagger.json
  core/integration/testdata/workspaces/workspace-api/.dagger/modules/searcher/dagger.json
  core/schema/workspace.go
Owners: none

test(workspace): reproduce grep fallback limit
  core/integration/testdata/workspaces/workspace-api/.dagger/modules/files-searcher/main.dang
  core/integration/workspace_api_test.go
Owners: none

feat(workspace): add Workspace.search API
  core/integration/testdata/workspaces/workspace-api/.dagger/modules/files-searcher/dagger.json
  core/integration/testdata/workspaces/workspace-api/.dagger/modules/files-searcher/main.dang
  core/integration/testdata/workspaces/workspace-api/.dagger/modules/searcher/dagger.json
  core/integration/testdata/workspaces/workspace-api/.dagger/modules/searcher/main.dang
  core/integration/testdata/workspaces/workspace-api/dagger.toml
  core/integration/workspace_api_test.go
  core/schema/workspace.go
  engine/client/filesync.go
  engine/engineutil/filesync.go
  engine/opts.go
Owners: none

fix(filesync): limit grep files-only results
  engine/client/filesync.go
Owners: none

test(filesync): reproduce uncanceled glob walk
  engine/client/filesync_test.go
Owners: none

fix(filesync): reject search paths escaping root
  engine/client/filesync.go
Owners: none

fix(filesync): honor cancellation in glob walk
  engine/client/filesync.go
Owners: none

regen go sdk module runtimes
  sdk/elixir/runtime/internal/dagger/dagger.gen.go
  sdk/java/runtime/internal/dagger/dagger.gen.go
  sdk/php/runtime/internal/dagger/dagger.gen.go
  sdk/python/runtime/internal/dagger/dagger.gen.go
  sdk/typescript/runtime/internal/dagger/dagger.gen.go
Owners: @dagger/sdk-elixir, @dagger/sdk-java, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-typescript

regen docs + sdk
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/elixir/runtime/internal/dagger/dagger.gen.go
  sdk/go/dagger.gen.go
  sdk/java/runtime/internal/dagger/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/php/runtime/internal/dagger/dagger.gen.go
  sdk/python/runtime/internal/dagger/dagger.gen.go
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/runtime/internal/dagger/dagger.gen.go
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-java, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

fix security advisories
  .github/dependabot.yml
  go.mod
  go.sum
  modules/alpine/go.mod
  modules/alpine/go.sum
  toolchains/cli-dev/go.mod
  toolchains/cli-dev/go.sum
  toolchains/engine-dev/go.mod
  toolchains/engine-dev/go.sum
  toolchains/go/go.mod
  toolchains/go/go.sum
Owners: none

fix(core): keep dockerBuild layer cache on unrelated context changes
  core/integration/dockerfile_test.go
  core/schema/container.go
  core/schema/directory.go
Owners: none

Revert "fix(dagql): bound parallel resolution fan-out"
  dagql/server.go
Owners: none

bump deps and exclude snippets from dependabot (#13638)
  .github/dependabot.yml
  go.mod
  go.sum
  modules/alpine/go.mod
  modules/alpine/go.sum
  toolchains/cli-dev/go.mod
  toolchains/cli-dev/go.sum
  toolchains/engine-dev/go.mod
  toolchains/engine-dev/go.sum
  toolchains/go/go.mod
  toolchains/go/go.sum
Owners: none

core/workspace: add DeleteConfigValue for removing config keys
  core/workspace/config.go
  core/workspace/config_document.go
  core/workspace/config_test.go
Owners: none

cli: support --unset on dagger settings and workspace config
  core/integration/workspace_settings_test.go
  docs/current_docs/reference/cli/index.mdx
  internal/cmd/dagger/settings.go
  internal/cmd/dagger/workspace.go
Owners: @dagger/docs

core/schema: add Workspace.withoutConfigValue API
  core/schema/workspace.go
  core/schema/workspace_builders.go
  core/schema/workspace_config.go
Owners: none

sdk, docs: regenerate for Workspace.withoutConfigValue
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

ci: pin inception-health/otel-export-trace-action to a full commit SHA
  .github/workflows/trace-workflows.yml
Owners: none

docs: clarify committed SDK bindings workflow
  docs/current_docs/extending/sdks/go.mdx
Owners: @dagger/docs

docs(setup): design for recursive local-module migration
  hack/designs/done/recursive-local-dependency-migration.md
Owners: none

feat(setup): migrate local toolchains and dependencies in place
  .changes/unreleased/Added-20260715-143312.yaml
  core/schema/workspace_migrate.go
  core/schema/workspace_migrate_module_config.go
  core/schema/workspace_migrate_parent.go
  core/workspace/deptree.go
  core/workspace/legacy.go
  core/workspace/migrate.go
Owners: none

test(setup): cover recursive local-module migration
  core/integration/workspace_migration_test.go
  core/schema/workspace_test.go
  core/workspace/deptree_test.go
Owners: none

feat(generate): report skipped modules like a check that did not pass
  core/integration/generators_test.go
  engine/server/session_workspaces.go
  internal/cmd/dagger/generators.go
Owners: none

feat(generate): persist skipped modules in a final report section
  dagql/dagui/generate_report_test.go
  dagql/dagui/spans.go
  dagql/dagui/types.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/generate_report.go
  dagql/idtui/generate_report_test.go
  engine/server/session_workspaces.go
  engine/telemetryattrs/attrs.go
Owners: none

feat(generate): expose tolerated load failures + --require-load opt-out
  core/generators.go
  core/integration/generators_test.go
  core/query.go
  core/schema/generators.go
  core/schema/test_server_test.go
  core/schema/workspace.go
  core/telemetry_test.go
  engine/server/session.go
  engine/server/session_workspaces.go
  internal/cmd/dagger/generators.go
Owners: none

chore: regenerate SDK bindings and docs for GeneratorGroup.loadFailures
  docs/current_docs/reference/cli/index.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/GeneratorGroup.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/generator_group.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/GeneratorGroup.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

design: resilient dagger generate on module load failures
  hack/designs/done/generate-resilient-module-loading.md
Owners: none

fix(core): emit changeset patches without rename entries
  core/changeset.go
Owners: none

test(core): cover renamed file in changeset apply
  core/integration/changeset_test.go
Owners: none

use name argument in cloud checks when specified
  internal/cmd/dagger/cloud_check.go
Owners: none

use name argument in cloud checks when specified (#13656)
  internal/cmd/dagger/cloud_check.go
Owners: none

core: compute changeset diffs from metadata instead of full-content g… (#13615)
  core/changeset.go
  core/changeset_delta.go
  core/changeset_delta_test.go
  engine/snapshots/fsdiff/compare.go
  engine/snapshots/fsdiff/compare_linux.go
Owners: none

core: add field-level schema introspection scrubbing
  cmd/codegen/introspection/introspection.go
  core/moddeps.go
  core/schema/query.go
  core/schema/schema_test.go
  core/schema_build.go
  core/schema_build_test.go
Owners: none

core: sort fallback changeset paths to match the delta path
  core/changeset.go
  core/integration/workspace_api_test.go
Owners: none

core: sort fallback changeset paths to match the delta path
  core/changeset.go
  core/integration/workspace_api_test.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
