Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

engine: add typed client scope leases
  engine/client_scope.go
  engine/opts_test.go
  engine/server/client_scope.go
  engine/server/lifecycle_debug.go
  engine/server/session.go
  engine/server/session_test.go
Owners: none

core,dagql: lease detached client work
  core/agent.go
  core/agent_telemetry_test.go
  core/services.go
  core/services_test.go
  dagql/cache.go
  dagql/cache_test.go
  engine/server/session_test.go
Owners: none

engine: store client ancestry as IDs
  engine/server/lifecycle_debug.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
  engine/server/telemetry.go
Owners: none

engine: own trace and log telemetry per session
  engine/clientdb/store_registry.go
  engine/clientdb/store_registry_test.go
  engine/server/lifecycle_debug.go
  engine/server/server.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/telemetry.go
  engine/server/wcprofcount.go
  engine/telemetry/livespan.go
  engine/telemetry/logbatch.go
  engine/telemetryattrs/attrs.go
Owners: none

designs: draft agent Git worktrees
  hack/designs/agent-git-worktrees.md
Owners: none

engine,core: own metrics per session
  core/llm.go
  core/llm_anthropic.go
  core/llm_google.go
  core/llm_openai.go
  core/llm_openai_codex.go
  engine/engineutil/resources/sampler.go
  engine/filesync/localfs.go
  engine/server/lifecycle_debug.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/telemetry.go
  engine/telemetryattrs/attrs.go
  hack/designs/client-lifecycle.md
Owners: none

engine: own the engine gateway per session
  core/query.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

clientdb: cache idle telemetry stores
  engine/clientdb/store_registry.go
  engine/clientdb/store_registry_test.go
  engine/clientdb/store_reopen_test.go
  engine/server/server.go
Owners: none

engine: route synthetic client attachables
  engine/server/session.go
  engine/server/session_test.go
Owners: none

engine: reclaim quiescent client runtimes
  core/agent.go
  core/agent_telemetry_test.go
  core/services.go
  engine/client_scope.go
  engine/server/client_scope.go
  engine/server/lifecycle_debug.go
  engine/server/session.go
  engine/server/session_test.go
  hack/designs/client-lifecycle.md
Owners: none

client: bind telemetry consumers to the client
  engine/client/client.go
  engine/client/client_test.go
Owners: none

telemetry: route call payloads to missing targets
  core/dag_call_telemetry.go
  core/dag_call_telemetry_test.go
  core/query.go
  core/schema/test_server_test.go
  core/telemetry.go
  core/telemetry_test.go
  dagql/telemetry.go
  dagql/telemetry_test.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/telemetry.go
Owners: none

dagql: lease arbitrary cache callbacks
  dagql/cache_arbitrary.go
  dagql/cache_test.go
Owners: none

engine: split client records from runtimes
  core/integration/llm_resume_test.go
  engine/server/client_scope.go
  engine/server/lifecycle_debug.go
  engine/server/server.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_userconfig_test.go
  engine/server/session_workspaces.go
  engine/server/telemetry.go
  hack/designs/client-lifecycle.md
Owners: none

engine: add a binary live telemetry format
  engine/client/client.go
  engine/client/client_test.go
  engine/server/session_test.go
  engine/server/telemetry.go
  engine/telemetry/livestream.go
  engine/telemetry/livestream_test.go
Owners: none

core/llm: pin object tools to the composed schema
  core/agent.go
  core/agent_telemetry_test.go
  core/integration/agents_test.go
  core/llm_object_tools_test.go
  core/moddeps.go
  core/module.go
  core/schema/workspace.go
  core/workspace_context.go
  hack/designs/client-lifecycle.md
Owners: none

telemetry: send call payloads on a short path
  core/dag_call_telemetry.go
  dagql/dagui/callpayloads_test.go
  engine/server/session.go
  engine/server/session_test.go
  engine/telemetry/callpayloadbatch.go
  engine/telemetry/logbatch_test.go
Owners: none

core/workspace: load modules from value workspaces
  core/integration/workspace_synthetic_test.go
  core/schema/workspace.go
  core/schema/workspace_overlay_modules.go
  core/workspace.go
  core/workspace_context.go
Owners: none

cli/agent: generate session titles
  internal/cmd/dagger/agent.go
  internal/cmd/dagger/functions.go
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/session_agent.go
  internal/cmd/dagger/session_agent_test.go
  internal/cmd/dagger/shell.go
Owners: none

core/mcp: add a streamable HTTP transport
  core/mcpserver.go
  core/mcpserver_test.go
Owners: none

engine: avoid a client init deadlock
  engine/server/session.go
  engine/server/session_test.go
  hack/designs/client-lifecycle.md
Owners: none

dagui,idtui: sync the terminal title with the span
  dagql/dagui/db.go
  dagql/dagui/spans.go
  dagql/dagui/spans_test.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_pretty_test.go
  dagql/idtui/frontend_streaming_logs.go
  engine/telemetryattrs/attrs.go
Owners: none

modules/staff: let workers pull peer changes
  modules/staff/main.dang
Owners: none

core/llm: add small model routing
  core/integration/llm_test.go
  core/llm.go
  core/llm_modelcatalog.go
  core/llm_test.go
  core/modelcatalog/modelcatalog.go
  core/modelcatalog/modelcatalog_test.go
  core/schema/llm.go
  internal/cmd/dagger/llm_config.go
  internal/cmd/dagger/llm_config_test.go
  internal/cmd/dagger/llmconfig/config.go
  internal/cmd/dagger/llmconfig/config_test.go
  internal/cmd/dagger/llmconfig/env.go
  internal/cmd/dagger/llmconfig/env_test.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

designs: revise CLI-backed LLM harnesses
  hack/designs/cli-backed-llm-harnesses.md
Owners: none

core/llm: add harness configuration
  core/llm.go
  core/llm_test.go
  core/schema/llm.go
  core/schema/schema_test.go
Owners: none

core/agent: resolve delivery from runtime records
  core/agent.go
  core/integration/agent_runtime_test.go
  core/schema/agent.go
Owners: none

core/llm: add the harness protocol layer
  core/llm_harness.go
  core/llm_harness_jsonl.go
  core/llm_harness_test.go
Owners: none

engine: route raw call payloads by digest
  engine/server/lifecycle_debug.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/telemetry.go
  engine/telemetry/callpayloadbatch.go
  engine/telemetry/logbatch_test.go
Owners: none

core/llm: add Claude and Codex harness adapters
  core/llm_harness_adapters_test.go
  core/llm_harness_claude.go
  core/llm_harness_codex.go
Owners: none

engine: add an exec HTTP handler registry
  core/query.go
  core/schema/test_server_test.go
  core/telemetry_test.go
  engine/engineutil/client.go
  engine/engineutil/executor.go
  engine/engineutil/executor_nested_test.go
  engine/engineutil/executor_spec.go
  engine/server/exec_http.go
  engine/server/exec_http_test.go
  engine/server/session.go
Owners: none

idtui: simplify ID rendering in the live TUI
  dagql/idtui/frontend.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_pretty_test.go
Owners: none

dagui: contain boundary roll-ups
  dagql/dagui/conversation.go
Owners: none

dagui,idtui: classify log records once in DagUI
  dagql/dagui/agents.go
  dagql/dagui/callpayloads_test.go
  dagql/dagui/db.go
  dagql/dagui/progress.go
  dagql/idtui/frontend.go
  dagql/idtui/frontend_plain.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_pretty_test.go
  dagql/idtui/frontend_streaming_logs.go
  dagql/idtui/frontend_test_summary_logs.go
  dagql/idtui/report_session.go
Owners: none

idtui: filter agent checkpoint records from logs
  dagql/idtui/agent_restore_test.go
  dagql/idtui/frontend_command_view_test.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_pretty_test.go
  dagql/idtui/frontend_streaming_logs.go
  dagql/idtui/trace_live_test.go
  engine/clientdb/telemetry_store.go
  engine/clientdb/telemetry_store_test.go
Owners: none

designs: draft engine-persisted agent resume
  hack/designs/engine-persisted-agent-resume.md
  hack/designs/resume-from-trace.md
Owners: none

cli/agent: resume sessions from traces only
  .dagger/modules/engine-lab/main.dang
  .dagger/modules/engine-lab/skills/engine-lab/SKILL.md
  cmd/dump-id/graph.go
  cmd/dump-id/load.go
  cmd/dump-id/main.go
  docs/versioned_docs/version-1.0-beta/cli/reference/index.mdx
  internal/cmd/dagger/agent.go
  internal/cmd/dagger/functions.go
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/restore.go
  internal/cmd/dagger/restore_test.go
  internal/cmd/dagger/session_agent.go
  internal/cmd/dagger/session_agent_test.go
  internal/cmd/dagger/shell.go
  internal/cmd/dagger/shell_commands.go
  internal/cmd/dagger/shell_test.go
Owners: @dagger/docs

cli/agent: resume from engine archives
  dagql/dagui/agents.go
  dagql/dagui/agents_test.go
  docs/versioned_docs/version-1.0-beta/cli/reference/index.mdx
  engine/telemetryattrs/attrs.go
  hack/designs/engine-persisted-agent-resume.md
  hack/designs/resume-from-trace.md
  internal/cmd/dagger/agent.go
  internal/cmd/dagger/engine.go
  internal/cmd/dagger/engine_test.go
  internal/cmd/dagger/functions.go
  internal/cmd/dagger/restore.go
  internal/cmd/dagger/restore_test.go
  internal/cmd/dagger/session_agent_test.go
  internal/cmd/dagger/shell.go
  internal/cmd/dagger/shell_commands.go
Owners: @dagger/docs

archive: add an engine archive HTTP client
  engine/archive/bootstrap.go
  engine/archive/client.go
  engine/archive/client_test.go
  engine/client/client.go
  engine/client/client_test.go
Owners: none

core/llm: route synchronous steps through harness
  core/agent.go
  core/agent_harness.go
  core/llm.go
  core/llm_harness_runtime_test.go
Owners: none
