Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

engine: expose engine-managed volume interfaces
  core/integration/testdata/modules/go/engine-volume-constructor-denied/dagger.json
  core/integration/testdata/modules/go/engine-volume-constructor-denied/main.go
  core/integration/volume_test.go
  core/schema/address.go
  core/schema/address_test.go
  core/schema/volume_test.go
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Client.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  internal/cmd/dagger/flags_test.go
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/php/generated/Client.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

docs: polish engine volume design layout
  hack/designs/engine-volumes.html
Owners: none

docs: require recursive read-only engine volumes
  hack/designs/engine-volumes.html
Owners: none

docs: regenerate CLI reference
  docs/current_docs/reference/cli/index.mdx
Owners: @dagger/docs

lint: fix generate disposition error
  internal/cmd/dagger/generators.go
Owners: none

cli: prevent coding agents from hanging in generate (#13718)
  core/integration/generators_test.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_report_heartbeat_test.go
  dagql/idtui/output.go
  dagql/idtui/output_test.go
  docs/current_docs/reference/cli/index.mdx
  docs/current_docs/using-dagger/changesets.mdx
  internal/cmd/dagger/functions.go
  internal/cmd/dagger/generators.go
  internal/cmd/dagger/generators_test.go
Owners: @dagger/docs

engine: simplify server initialization
  engine/server/server.go
Owners: none

test: reproduce stale gitignore rules after setup
  core/integration/workspace_migration_test.go
Owners: none

sdk(python/runtime): drop dead ModuleTypesExp
  sdk/python/runtime/dagger.gen.go
  sdk/python/runtime/main.go
Owners: @dagger/sdk-python

fix(sdk/python): reject stale lockfiles at runtime
  core/integration/module_runtime_codegen_test.go
  sdk/python/runtime/main.go
Owners: @dagger/sdk-python

sdk(python/runtime): build runtime from committed files when codegen is skipped
  sdk/python/runtime/dagger.gen.go
  sdk/python/runtime/discovery.go
  sdk/python/runtime/internal/dagger/python-sdk.gen.go
  sdk/python/runtime/main.go
Owners: @dagger/sdk-python

core/integration: cover the Python adoption of the runtime-codegen rule
  core/integration/module_runtime_codegen_test.go
  core/integration/testdata/modules/python/minimal/dagger.json
  core/integration/testdata/modules/python/minimal/pyproject.toml
  core/integration/testdata/modules/python/minimal/src/minimal/__init__.py
Owners: none

chore: changelog for Python no-codegen-at-runtime
  .changes/unreleased/Added-20260708-120000.yaml
Owners: none

cli: keep --mod/--no-mod as deprecated aliases
  internal/cmd/dagger/module.go
Owners: none

chore(changelog): add entry for --mod/--no-mod aliases
  .changes/unreleased/Deprecated-20260723-014900.yaml
Owners: none

fix: clean generated-code ignores during setup
  core/schema/modulesource.go
  core/schema/workspace_migrate.go
Owners: none

bump protobuf to get around wolfi error
  toolchains/go/main.go
Owners: none

bump publish step to v1 beta.7
  .github/actions/call/action.yml
Owners: none

bump publish step to v1 beta.7 (#13723)
  .github/actions/call/action.yml
Owners: none

bump publish step to v1 beta.7
  .github/actions/call/action.yml
  .github/workflows/publish.yml
Owners: none

bump publish step to v1 beta.7
  .github/actions/call/action.yml
  .github/workflows/publish.yml
Owners: none

bump publish step to v1 beta.7 (#13724)
  .github/actions/call/action.yml
  .github/workflows/publish.yml
Owners: none

set empty module to publish step
  .github/workflows/publish.yml
Owners: none

set module to empty in publish step
  .github/workflows/publish.yml
Owners: none

set module to empty in publish step (#13726)
  .github/workflows/publish.yml
Owners: none

cli: keep --mod/--no-mod as deprecated aliases (#13721)
  .changes/unreleased/Deprecated-20260723-014900.yaml
  internal/cmd/dagger/module.go
Owners: none

use -M in ./hack/dev and fix module names
  hack/build
Owners: none

use -M in ./hack/dev and fix module names (#13729)
  hack/build
Owners: none

design: ModuleSource.generateLocalDependencies
  hack/designs/module-source-generate-local-dependencies.md
Owners: none

engine: make generateLocalDependencies work end-to-end
  core/schema/modulesource.go
  core/schema/workspace.go
  docs/static/reference/php/Dagger/ModuleSource.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/module_source.ex
  sdk/php/generated/ModuleSource.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

engine: implement ModuleSource.generateLocalDependencies
  core/generators.go
  core/modfunc.go
  core/schema/modulesource.go
  core/schema/workspace.go
  core/workspace.go
Owners: none

chore: regenerate go SDK and GraphQL schema docs
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
  toolchains/cli-dev/internal/dagger/dagger.gen.go
  toolchains/docs-dev/internal/dagger/dagger.gen.go
  toolchains/engine-dev/internal/dagger/dagger.gen.go
  toolchains/go/internal/dagger/dagger.gen.go
  toolchains/release/internal/dagger/dagger.gen.go
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

engine: address review on generateLocalDependencies
  core/schema/modulesource.go
  core/schema/modulesource_test.go
  core/schema/workspace.go
Owners: none

docs: specify fenced code language in design doc (MD040)
  hack/designs/module-source-generate-local-dependencies.md
Owners: none

cli: preserve runner host for x-release
  internal/cmd/dagger/main.go
  internal/cmd/dagger/xrelease_test.go
Owners: none

fix: stream granular container export blobs
  core/container.go
  core/container_image.go
  core/integration/container_test.go
  engine/engineutil/containerimage.go
Owners: none

perf: reuse prepared container image exports
  core/container.go
  core/integration/container_test.go
  core/schema/container.go
Owners: none

regen
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/CurrentModule.html
  sdk/elixir/lib/dagger/gen/current_module.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/CurrentModule.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

regen
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/CurrentModule.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/current_module.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/CurrentModule.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
  toolchains/cli-dev/internal/dagger/dagger.gen.go
  toolchains/docs-dev/internal/dagger/dagger.gen.go
  toolchains/engine-dev/internal/dagger/dagger.gen.go
  toolchains/go/internal/dagger/dagger.gen.go
  toolchains/release/internal/dagger/dagger.gen.go
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

feat(schema): make asSDK workspace arg optional
  core/integration/generators_test.go
  core/schema/module.go
  core/schema/module_as_sdk.go
Owners: none
