Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

designs: checkpoint as a public composition
  hack/designs/portable-agent-workspaces.md
Owners: none

idtui: add regression test for bubble line wrap
  dagql/idtui/notification_test.go
Owners: none

idtui: crop notification bubble content to the box
  dagql/idtui/notification.go
Owners: none

idtui: drop cursor-moving controls in bubbles
  dagql/idtui/notification.go
Owners: none

go.mod: bump tuist for the row-count guard
  go.mod
  go.sum
Owners: none

idtui: freeze flowing running indicators
  dagql/idtui/frontend_pretty.go
Owners: none

idtui: restore flowing render regression
  dagql/idtui/conversation_report_test.go
  dagql/idtui/notification_test.go
Owners: none

engine/server: sweep discarded cache state slowly
  .changes/unreleased/Fixed-20260814-235900.yaml
  core/integration/engine_persistence_test.go
  engine/server/server.go
  engine/server/trash.go
  engine/server/trash_test.go
Owners: none

idtui: delegate prompt history arrows
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_pretty_test.go
  dagql/idtui/prompt_frame.go
Owners: none

core/telemetry: tolerate missing caller metadata
  core/telemetry.go
  core/telemetry_test.go
Owners: none

core: make SchemaBuilder.Lookup nil-safe
  core/moddeps.go
Owners: none

fix(llm): fail turns cut short by refusal or limit
  core/llm_anthropic.go
  core/llm_google.go
  core/llm_openai.go
  core/llm_openai_codex.go
  core/llm_stop_reason_test.go
Owners: none

feat: make workspace locking pinned by default
  core/integration/lockfile_test.go
  core/integration/workspace_api_test.go
  core/integration/workspace_migration_test.go
  core/schema/host.go
  core/schema/host_test.go
  core/schema/lockfile_test.go
  core/workspace/lock.go
  core/workspace/lock_test.go
  docs/current_docs/reference/cli/index.mdx
  docs/current_docs/reference/cli/lockfiles.mdx
  docs/current_docs/reference/configuration/workspace.mdx
  hack/designs/lockfile.md
  hack/designs/workspace.md
  internal/cmd/dagger/engine.go
  internal/cmd/dagger/engine_lock_test.go
  internal/cmd/dagger/lock.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/span_name_test.go
  internal/cmd/dagger/workspace_test.go
  util/lockfile/lockfile.go
  util/lockfile/lockfile_test.go
Owners: @dagger/docs

feat: preserve Git ref names in lockfiles
  core/integration/lockfile_test.go
  core/integration/workspace_api_test.go
  core/integration/workspace_modules_test.go
  core/lockfile_update.go
  core/schema/container.go
  core/schema/git.go
  core/schema/lockfile.go
  core/workspace/lock.go
  core/workspace/lock_test.go
  docs/current_docs/reference/cli/lockfiles.mdx
  hack/designs/lockfile.md
  util/lockfile/lockfile.go
  util/lockfile/lockfile_test.go
Owners: @dagger/docs

feat: gate workspace locking by API version
  core/container_exec.go
  core/schema/container.go
  core/schema/git.go
  core/schema/lockfile.go
  core/schema/lockfile_test.go
  core/schema/module_as_sdk.go
  core/schema/workspace_builders.go
  core/schema/workspace_client.go
  core/schema/workspace_install.go
  core/sdk/dang/shared/shared.go
  core/service.go
  core/workspace/lock.go
  core/workspace/lock_test.go
  docs/current_docs/reference/cli/lockfiles.mdx
  engine/client/client.go
  engine/opts.go
  engine/server/session.go
  engine/server/session_test.go
  hack/designs/lockfile.md
  internal/cmd/dagger/engine.go
  internal/cmd/dagger/engine_lock_test.go
Owners: @dagger/docs

core: include resolved platform in cache identity (#13911)
  .dagger/modules/engine-dev/test.go
  core/schema/container.go
  core/schema/container_internal_test.go
  core/schema/directory.go
  core/schema/platform.go
  core/schema/platform_internal_test.go
  core/schema/test_server_test.go
  dagql/idtui/golden_test.go
  dagql/idtui/testdata/TestTelemetry/TestGolden/cached-execs
  dagql/idtui/testdata/TestTelemetry/TestGolden/custom-span
  dagql/idtui/testdata/TestTelemetry/TestGolden/docker-build
  dagql/idtui/testdata/TestTelemetry/TestGolden/docker-build-fail
  dagql/idtui/testdata/TestTelemetry/TestGolden/encapsulate
  dagql/idtui/testdata/TestTelemetry/TestGolden/fail-effect
  dagql/idtui/testdata/TestTelemetry/TestGolden/fail-log
  dagql/idtui/testdata/TestTelemetry/TestGolden/nested-calls
  dagql/idtui/testdata/TestTelemetry/TestGolden/pending
  dagql/idtui/testdata/TestTelemetry/TestGolden/python/custom-span
  dagql/idtui/testdata/TestTelemetry/TestGolden/python/pending
  dagql/idtui/testdata/TestTelemetry/TestGolden/service-error-attribution
  dagql/idtui/testdata/TestTelemetry/TestGolden/typescript/custom-span
  dagql/idtui/testdata/TestTelemetry/TestGolden/typescript/fail-effect
  dagql/idtui/testdata/TestTelemetry/TestGolden/typescript/fail-log
  dagql/idtui/testdata/TestTelemetry/TestGolden/typescript/pending
  dagql/idtui/testdata/TestTelemetry/TestGolden/use-cached-exec-service
  dagql/idtui/testdata/TestTelemetry/TestGolden/use-exec-service
  dagql/idtui/testdata/TestTelemetry/TestGolden/use-no-exec-service
Owners: none

bump tuist for input multiline fixes
  go.mod
  go.sum
Owners: none

[backport-0.21] reduce e-graph contention and restore CI (#13909)
  cmd/dagger/listen.go
  cmd/engine/main.go
  core/integration/module_java_test.go
  dagger.json
  dagql/cache.go
  dagql/cache_canonical_race_test.go
  dagql/cache_egraph.go
  dagql/cache_egraph_indexes_test.go
  dagql/cache_persistence_import.go
  dagql/cache_persistence_import_test.go
  dagql/cache_test.go
  docs/current_docs/modules/helm.mdx
  e2e/helm/helm_test.go
  engine/engineutil/executor_spec.go
  engine/server/session_test.go
  skills/cache-expert/references/cache_persistence.md
  skills/cache-expert/references/egraph.md
  toolchains/release/dagger.gen.go
  toolchains/release/helm.go
  toolchains/release/main.go
Owners: @dagger/docs

idtui: reorient agent status line
  dagql/idtui/agent_roster.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/prompt_frame.go
  dagql/idtui/prompt_frame_test.go
  dagql/idtui/statusline.go
  dagql/idtui/statusline_test.go
Owners: none

core(llm): expose nullable tool arguments
  core/llm_google.go
  core/llm_google_test.go
  core/llm_object_tools.go
  core/llm_object_tools_test.go
  core/llm_test.go
  core/mcp_test.go
  core/mcpserver.go
Owners: none

core(llm): omit strict OpenAI tool schemas
  core/llm_object_tools_test.go
  core/llm_openai.go
  core/llm_skills.go
  core/llm_test.go
  core/mcp.go
Owners: none

core(llm): format builtin tool definitions
  core/mcp.go
Owners: none

feat(sdk/php): Add check attribute
  core/integration/module_php_test.go
  core/integration/testdata/modules/php/checks/.gitattributes
  core/integration/testdata/modules/php/checks/.gitignore
  core/integration/testdata/modules/php/checks/composer.json
  core/integration/testdata/modules/php/checks/dagger.json
  core/integration/testdata/modules/php/checks/entrypoint.php
  core/integration/testdata/modules/php/checks/src/Checks.php
  sdk/php/.changes/unreleased/Added-20260706-092401.yaml
  sdk/php/src/Attribute/Check.php
  sdk/php/src/Command/EntrypointCommand.php
  sdk/php/src/Exception/RegistrationError/Invalid.php
  sdk/php/src/ValueObject/Argument.php
  sdk/php/src/ValueObject/DaggerFunction.php
  sdk/php/tests/Unit/Fixture/DaggerObjectWithDaggerFunctions.php
  sdk/php/tests/Unit/ValueObject/DaggerFunctionTest.php
Owners: @dagger/sdk-php

docs(sdk/php): regenerate API reference
  docs/static/reference/php/Dagger/Attribute.html
  docs/static/reference/php/Dagger/Attribute/Check.html
  docs/static/reference/php/classes.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  docs/static/reference/php/doctum.js
  docs/static/reference/php/traits.html
Owners: @dagger/docs

test(sdk/php): format check integration test
  core/integration/module_php_test.go
Owners: none

dagql: preserve late singleflight persistence intent
  dagql/cache.go
  dagql/cache_debug.go
  dagql/cache_test.go
Owners: none

core: add binary blob recipes
  cmd/dump-id/graph.go
  core/file.go
  core/integration/file_test.go
  core/schema/file.go
  dagql/call/callpbv1/call.pb.go
  dagql/call/callpbv1/call.proto
  dagql/call/id.go
  dagql/call/id_test.go
  dagql/call/literal.go
  dagql/call_request_input.go
  dagql/dagui/dot.go
  dagql/dagui/extract.go
  dagql/dagui/grep.go
  dagql/idtui/frontend.go
  dagql/result_call_frame.go
  dagql/result_call_frame_test.go
  dagql/types.go
Owners: none

telemetry: send call payloads through logs
  core/dag_call_telemetry.go
  core/dag_call_telemetry_test.go
  core/integration/callid_rebuild_test.go
  core/telemetry.go
  core/telemetry_cache_evidence_test.go
  dagql/dagui/callpayloads.go
  dagql/dagui/callpayloads_test.go
  dagql/telemetry.go
  dagql/telemetry_test.go
  engine/telemetryattrs/attrs.go
Owners: none

designs: track portable workspace progress
  hack/designs/portable-agent-workspaces.md
Owners: none

test(core): clarify pinned dependency regression
  core/integration/module_path_inputs_test.go
Owners: none

fix(core): honor dependency pins over source refs
  core/integration/testdata/modules/go/path-context-git-remote-dep-named-pin/dagger.json
  core/modulerefs.go
Owners: none

test(core): assert dependency pin selector precedence
  core/modulerefs.go
  core/modulerefs_test.go
Owners: none

engine: support secret salt environment override
  engine/server/secret_salt_test.go
  engine/server/server.go
Owners: none

docs: correct cache identity references
  internal-docs/cachebasics.md
  internal-docs/egraph.md
Owners: none

agent,tui: surface failures in conversation
  core/agent.go
  core/agent_telemetry.go
  core/agent_telemetry_test.go
  dagql/dagui/agent_conversation_test.go
  dagql/idtui/agent_conversation_focus_test.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_pretty_test.go
Owners: none

idtui: make services test explicitly agent
  dagql/idtui/services_report_test.go
Owners: none

go-cli: harden repeated command runs
  .dagger/modules/go-cli/main.dang
Owners: none

go-cli: filter git metadata from changes
  .dagger/modules/go-cli/main.dang
Owners: none

core(git): tighten bundle ingestion
  core/git_bundle.go
  core/git_bundle_test.go
  core/integration/git_bundle_test.go
Owners: none

core(git): add public bundle transport
  core/git.go
  core/git_bundle.go
  core/git_bundle_test.go
  core/git_hostdir.go
  core/ids.go
  core/integration/git_bundle_test.go
  core/schema/file.go
  core/schema/git.go
  core/schema/schema_test.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
