Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

pass on docs to make sure theyre up to date
  docs/current_docs/adopting/observability.mdx
  docs/current_docs/adopting/scaling/kubernetes.mdx
  docs/current_docs/adopting/secrets.mdx
  docs/current_docs/adopting/workspace-setup.mdx
  docs/current_docs/extending/index.mdx
  docs/current_docs/extending/sdks/dang.mdx
  docs/current_docs/extending/sdks/go.mdx
  docs/current_docs/extending/sdks/python.mdx
  docs/current_docs/extending/sdks/typescript.mdx
  docs/current_docs/extending/testing.mdx
  docs/current_docs/getting-started/quickstart.mdx
  docs/current_docs/index.mdx
  docs/current_docs/modules/prettier.mdx
  docs/current_docs/partials/_complex_constructor_output.mdx
  docs/current_docs/partials/_install-cli.mdx
  docs/current_docs/reference/cli/index.mdx
  docs/current_docs/reference/configuration/cloud.mdx
  docs/current_docs/reference/configuration/custom-runner.mdx
  docs/current_docs/reference/configuration/engine.mdx
  docs/current_docs/reference/configuration/modules.mdx
  docs/current_docs/reference/configuration/workspace.mdx
  docs/current_docs/using-dagger/calling-functions.mdx
  docs/current_docs/using-dagger/changesets.mdx
  docs/current_docs/using-dagger/environments.mdx
  docs/current_docs/using-dagger/services.mdx
  docs/versioned_docs/version-1.0-beta/adopting/workspace-setup.mdx
Owners: @dagger/docs

skills: use default progress UI
  skills/dagger-chores/SKILL.md
  skills/engine-debugging/SKILL.md
Owners: none

skills: use default progress UI
  skills/dagger-chores/SKILL.md
  skills/engine-debugging/SKILL.md
Owners: none

Fix workspace settings arrays and update docs (#13602)
  core/integration/workspace_settings_test.go
  core/modfunc.go
  core/module.go
  core/workspace/config.go
  core/workspace/config_document.go
  core/workspace/config_test.go
  docs/current_docs/adopting/observability.mdx
  docs/current_docs/adopting/scaling/kubernetes.mdx
  docs/current_docs/adopting/secrets.mdx
  docs/current_docs/adopting/workspace-setup.mdx
  docs/current_docs/extending/index.mdx
  docs/current_docs/extending/sdks/dang.mdx
  docs/current_docs/extending/sdks/go.mdx
  docs/current_docs/extending/sdks/python.mdx
  docs/current_docs/extending/sdks/typescript.mdx
  docs/current_docs/extending/testing.mdx
  docs/current_docs/getting-started/quickstart.mdx
  docs/current_docs/index.mdx
  docs/current_docs/modules/prettier.mdx
  docs/current_docs/partials/_complex_constructor_output.mdx
  docs/current_docs/partials/_install-cli.mdx
  docs/current_docs/reference/cli/index.mdx
  docs/current_docs/reference/configuration/cloud.mdx
  docs/current_docs/reference/configuration/custom-runner.mdx
  docs/current_docs/reference/configuration/engine.mdx
  docs/current_docs/reference/configuration/modules.mdx
  docs/current_docs/reference/configuration/workspace.mdx
  docs/current_docs/using-dagger/calling-functions.mdx
  docs/current_docs/using-dagger/changesets.mdx
  docs/current_docs/using-dagger/environments.mdx
  docs/current_docs/using-dagger/services.mdx
  docs/versioned_docs/version-1.0-beta/adopting/workspace-setup.mdx
  internal/cmd/dagger/module_sdk.go
Owners: @dagger/docs

cli: fail when check patterns match nothing
  core/integration/checks_test.go
  internal/cmd/dagger/checks.go
  internal/cmd/dagger/checks_test.go
Owners: none

fix: update workspace install hint (#13603)
  core/schema/workspace_config.go
Owners: none

feat(cli): contextual next-step hints for authoring commands
  internal/cmd/dagger/client.go
  internal/cmd/dagger/functions.go
  internal/cmd/dagger/module_init.go
  internal/cmd/dagger/sdk.go
  internal/cmd/dagger/setup.go
Owners: none

test(cli): integration coverage for contextual command hints
  core/integration/command_hints_test.go
Owners: none

fix(cli): hide SDK-capability probe telemetry on sdk install
  internal/cmd/dagger/sdk.go
Owners: none

artifacts: document type:field selector-path bridge
  hack/designs/modules-v2/artifacts.md
Owners: none

test: fix shell autocomplete module fixture path
  internal/cmd/dagger/shell_completion_test.go
Owners: none

ci: restore omitted Go test routes
  toolchains/test-split/main.dang
Owners: none

engine: best-effort workspace module load for generators
  core/query.go
  core/schema/test_server_test.go
  core/schema/workspace.go
  core/telemetry_test.go
  engine/server/session_workspaces.go
Owners: none

core/sdk: omit introspection JSON for module SDKs that skip runtime codegen
  core/schema/modulesource.go
  core/sdk/module.go
  core/sdk/module_runtime.go
Owners: none

core/integration: adjust existing tests to the config-format rule
  core/integration/client_generator_test.go
  core/integration/generators_test.go
  core/integration/module_call_test.go
  core/integration/module_config_test.go
  core/integration/module_runtime_codegen_test.go
  core/integration/module_source_maps_test.go
  core/integration/workspace_migration_test.go
Owners: none

core/sdk: config format decides runtime codegen
  core/sdk/go_sdk.go
  core/sdk/utils.go
Owners: none

fix(sdk/php): Use / outputs the BackedEnum name instead of value.
  sdk/php/src/Codegen/Introspection/NewCodegenVisitor.php
  sdk/php/src/Service/Serialisation/EnumHandler.php
  sdk/php/src/ValueObject/Argument.php
  sdk/php/src/ValueObject/DaggerEnumCase.php
Owners: @dagger/sdk-php

core: resolve $BUILDPLATFORM to the engine's native platform in dockerBuild
  core/container.go
  core/integration/dockerfile_test.go
Owners: none

Re-generate docs
  docs/current_docs/reference/cli/index.mdx
Owners: @dagger/docs

fix: keep rootless workspaces empty
  core/integration/workspace_api_test.go
  core/schema/workspace.go
Owners: none

test: cover non-git workspace boundaries
  core/workspace/detect_test.go
Owners: none

fix(core): keep host workspace overlays sparse
  core/integration/workspace_api_test.go
  core/schema/workspace.go
  core/schema/workspace_builders.go
  core/schema/workspace_config.go
  core/workspace.go
Owners: none

test: restore workspace migration helper
  core/integration/workspace_migration_test.go
Owners: none

core: compute changeset diffs from metadata instead of full-content git diffs
  core/changeset.go
  core/changeset_delta.go
  core/changeset_delta_test.go
  engine/snapshots/fsdiff/compare.go
  engine/snapshots/fsdiff/compare_linux.go
Owners: none

fix(core): scope workspace lock reads to lock paths
  core/schema/workspace_lock.go
Owners: none

fix(dagql): bound parallel resolution fan-out
  dagql/server.go
Owners: none

fix(clientdb): cap SQLite pool at one connection
  engine/clientdb/dbs.go
Owners: none

fix(dagui): let verbosity expand rolled-up spans
  dagql/dagui/types.go
Owners: none

fix(engine): batch client DB log writes
  engine/server/session.go
  engine/server/telemetry.go
Owners: none

feat(workspace): add Workspace.glob API
  core/integration/testdata/workspaces/workspace-api/.dagger/modules/globber/dagger.json
  core/integration/testdata/workspaces/workspace-api/.dagger/modules/globber/main.dang
  core/integration/testdata/workspaces/workspace-api/dagger.toml
  core/integration/workspace_api_test.go
  core/schema/workspace.go
  engine/client/filesync.go
  engine/engineutil/filesync.go
  engine/opts.go
Owners: none

feat(workspace): add Workspace.search API
  core/integration/testdata/workspaces/workspace-api/.dagger/modules/files-searcher/dagger.json
  core/integration/testdata/workspaces/workspace-api/.dagger/modules/files-searcher/main.dang
  core/integration/testdata/workspaces/workspace-api/.dagger/modules/searcher/dagger.json
  core/integration/testdata/workspaces/workspace-api/.dagger/modules/searcher/main.dang
  core/integration/testdata/workspaces/workspace-api/dagger.toml
  core/integration/workspace_api_test.go
  core/schema/workspace.go
  engine/client/filesync.go
  engine/engineutil/filesync.go
  engine/opts.go
Owners: none

feat(trace): fetch whole trace at high verbosity
  internal/cmd/dagger/trace.go
Owners: none

feat(llm): add config, CLI, and Anthropic OAuth
  core/llm.go
  core/llm_anthropic.go
  core/llmconfig/config.go
  core/llmconfig/config_test.go
  core/llmconfig/env.go
  core/llmconfig/env_test.go
  core/llmconfig/models.go
  core/llmconfig/oauth.go
  core/llmconfig/oauth_openai.go
  core/llmconfig/oauth_server.go
  core/llmconfig/setup.go
  core/llmconfig/suggestions.go
  core/llmconfig/suggestions_test.go
  go.mod
  go.sum
  internal/cmd/dagger/llm_config.go
Owners: none

feat(llm): content-block model, API, and SDKs
  cmd/codegen/generator/typescript/templates/functions.go
  core/llm.go
  core/llm_anthropic.go
  core/llm_google.go
  core/llm_openai.go
  core/llm_replay.go
  core/mcp.go
  core/schema/llm.go
  sdk/elixir/lib/dagger/gen/binding.ex
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/elixir/lib/dagger/gen/env.ex
  sdk/elixir/lib/dagger/gen/llm.ex
  sdk/elixir/lib/dagger/gen/llm_content_block.ex
  sdk/elixir/lib/dagger/gen/llm_content_block_input.ex
  sdk/elixir/lib/dagger/gen/llm_content_block_kind.ex
  sdk/elixir/lib/dagger/gen/llm_message.ex
  sdk/elixir/lib/dagger/gen/llm_message_role.ex
  sdk/elixir/lib/dagger/gen/llm_tool_call.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Binding.php
  sdk/php/generated/Client.php
  sdk/php/generated/Env.php
  sdk/php/generated/LLM.php
  sdk/php/generated/LLMContentBlock.php
  sdk/php/generated/LLMContentBlockInput.php
  sdk/php/generated/LLMContentBlockKind.php
  sdk/php/generated/LLMMessage.php
  sdk/php/generated/LLMMessageRole.php
  sdk/php/generated/LLMToolCall.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-codegen/src/rust/templates/enum_tmpl.rs
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
  toolchains/typescript-sdk-dev/ts-sdk.dang
Owners: @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

core: avoid staging modified files for changeset rename detection
  core/changeset.go
  core/changeset_delta.go
  core/changeset_delta_test.go
Owners: none

fix(sdk/typescript): keep LLM acronym raw
  cmd/codegen/generator/typescript/templates/functions.go
  cmd/codegen/generator/typescript/templates/functions_test.go
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/sdk-typescript

feat(cli): add LLM session save/resume/interject
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/llm_branch_summary.md
  internal/cmd/dagger/shell.go
  internal/cmd/dagger/shell_commands.go
Owners: none

feat(tui): render LLM diffs, queue, status, branch
  core/llm.go
  dagql/dagui/db.go
  dagql/dagui/spans.go
  dagql/idtui/diff.go
  dagql/idtui/diff_test.go
  dagql/idtui/frontend.go
  dagql/idtui/frontend_dots.go
  dagql/idtui/frontend_logs.go
  dagql/idtui/frontend_mock.go
  dagql/idtui/frontend_plain.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/partialjson.go
  dagql/idtui/partialjson_test.go
  dagql/idtui/queued_message.go
  dagql/idtui/statusline.go
  dagql/idtui/toolargs.go
  dagql/idtui/toolargs_render.go
  dagql/idtui/toolargs_test.go
  engine/telemetryattrs/attrs.go
  go.mod
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/shell.go
Owners: none

feat(llm): round-trip extended thinking
  core/llm.go
  core/llm_anthropic.go
  core/llm_google.go
  core/llm_google_test.go
  core/llm_test.go
  core/llmconfig/config.go
  internal/cmd/dagger/llm_config.go
Owners: none

feat(llm): add OpenAI Codex provider
  core/llm.go
  core/llm_openai_codex.go
  core/llm_test.go
  core/llmconfig/models.go
  core/llmconfig/models_test.go
  internal/cmd/dagger/llm_config.go
Owners: none
