Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

changie entry
  sdk/python/.changes/unreleased/Changed-20260424-135430.yaml
Owners: @dagger/sdk-python

Python SDK: align default image (#13027)
  core/integration/module_python_test.go
  docs/current_docs/extending/modules/modules.mdx
  sdk/python/.changes/unreleased/Changed-20260424-135430.yaml
  sdk/python/runtime/images/base/Dockerfile
  sdk/python/runtime/main.go
  sdk/python/runtime/template/pyproject.toml
Owners: @dagger/docs, @dagger/sdk-python

core/integration: add local module remote toolchain defaultPath regression
  core/integration/module_remote_workspace_defaultpath_test.go
Owners: none

Improve e2e tests for installer scripts (#13026)
  dagger.json
  e2e/installers/README.md
  e2e/installers/go.mod
  e2e/installers/go.sum
  e2e/installers/installers_test.go
  toolchains/installers/.gitattributes
  toolchains/installers/.gitignore
  toolchains/installers/dagger.json
  toolchains/installers/go.mod
  toolchains/installers/go.sum
  toolchains/installers/main.go
Owners: none

Fix defaultPath context for remote toolchains (#13020)
  core/integration/module_remote_workspace_defaultpath_test.go
  core/schema/modulesource.go
  engine/server/session.go
  engine/server/session_workspaces.go
Owners: none

fix(sdk/php): fallback to ::from() when engine sends a backing value for enums
  sdk/php/src/Service/DecodesValue.php
  sdk/php/tests/Unit/Service/DecodesValueTest.php
Owners: @dagger/sdk-php

fix(sdk/php): use withEnumMember instead of deprecated withEnumValue
  sdk/php/src/Command/EntrypointCommand.php
Owners: @dagger/sdk-php

PHP: Support backed enum registration
  sdk/php/src/Attribute/Doc.php
  sdk/php/src/Codegen/Introspection/EnumVisitor.php
  sdk/php/src/Command/EntrypointCommand.php
  sdk/php/src/Service/DecodesValue.php
  sdk/php/src/Service/FindsDaggerEnums.php
  sdk/php/src/ValueObject/DaggerEnum.php
  sdk/php/src/ValueObject/DaggerEnumCase.php
  sdk/php/tests/Unit/Fixture/Enums/ObjectUsingEnum.php
  sdk/php/tests/Unit/Fixture/Enums/Priority.php
  sdk/php/tests/Unit/Fixture/Enums/PureEnum.php
  sdk/php/tests/Unit/Fixture/Enums/Status.php
  sdk/php/tests/Unit/Service/DecodesValueTest.php
  sdk/php/tests/Unit/Service/FindsDaggerEnumsTest.php
  sdk/php/tests/Unit/Service/FindsDaggerObjectsTest.php
  sdk/php/tests/Unit/ValueObject/DaggerEnumTest.php
Owners: @dagger/sdk-php

test(sdk/php): cover enum discovery from fields and without attribute scan
  sdk/php/tests/Unit/Service/FindsDaggerEnumsTest.php
Owners: @dagger/sdk-php

PHP: Test backed-enums
  core/integration/module_php_test.go
  core/integration/testdata/modules/php/enum-kind/.gitattributes
  core/integration/testdata/modules/php/enum-kind/.gitignore
  core/integration/testdata/modules/php/enum-kind/composer.json
  core/integration/testdata/modules/php/enum-kind/dagger.json
  core/integration/testdata/modules/php/enum-kind/entrypoint.php
  core/integration/testdata/modules/php/enum-kind/src/EnumKind.php
  core/integration/testdata/modules/php/enum-kind/src/Priority.php
  core/integration/testdata/modules/php/enum-kind/src/Task.php
Owners: none

chore(sdk/php): better handle access to enum case using constant native function
  sdk/php/src/Command/EntrypointCommand.php
  sdk/php/src/Service/DecodesValue.php
Owners: @dagger/sdk-php

test(sdk/php): show FindsDaggerEnums works without #[DaggerObject] on enums
  sdk/php/tests/Unit/Service/FindsDaggerEnumsTest.php
Owners: @dagger/sdk-php

PHP: Run phpcbf
  sdk/php/src/Service/DecodesValue.php
Owners: @dagger/sdk-php

chore(sdk/php): add changie entry for backed enum registration
  sdk/php/.changes/unreleased/Added-20260416-000000.yaml
Owners: @dagger/sdk-php

fix(sdk/php): throw UnsupportedType when a pure enum is used as a Dagger type
  sdk/php/src/Service/FindsDaggerEnums.php
  sdk/php/tests/Unit/Service/FindsDaggerEnumsTest.php
Owners: @dagger/sdk-php

chore(sdk/php): update changie entry with upstream PR number
  sdk/php/.changes/unreleased/Added-20260416-000000.yaml
Owners: @dagger/sdk-php

mcp: restore served module methods in static mode
  core/integration/mcp_test.go
  core/mcp.go
Owners: none

docs: fix 51 dead redirect targets and add 45 missing redirects
  docs/current_docs/extending/testing.mdx
  docs/netlify.toml
Owners: @dagger/docs

feat: kube-pod engine client driver can manage its own engine Pods
  engine/client/drivers/dial.go
  engine/client/drivers/kubepod.go
  go.mod
  go.sum
Owners: none

chore: add latest changes
  cmd/codegen/generator/go/generate_module.go
  cmd/codegen/generator/go/generate_typedefs.go
  cmd/codegen/generator/go/templates/src/_dagger.gen.go/defs.go.tmpl
  cmd/codegen/generator/go/templates/src/_dagger.gen.go/module.go.tmpl
  cmd/codegen/generator/go/templates/src/internal/dagger/_dep.gen.go.tmpl
Owners: none

core/sdk/go_sdk: skip codegen at runtime when opted in
  core/sdk/go_sdk.go
Owners: none

core/integration: stub parity test for Go SDK's new codegen path
  core/integration/module_test.go
Owners: none

chore: generate
  docs/static/reference/dagger.schema.json
  hack/designs/go-sdk-skip-codegen-at-runtime-plan.md
  hack/designs/go-sdk-skip-codegen-at-runtime.md
  hack/designs/no-codegen-at-runtime-moduletypes.md
  hack/designs/no-codegen-at-runtime-pr1-plan.md
Owners: @dagger/docs

cmd/dagger: dagger init --sdk=go writes legacyCodegenAtRuntime=false
  cmd/dagger/module.go
  cmd/dagger/module_test.go
Owners: none

fix: lint issues
  cmd/codegen/generator/go/astscan/scanner.go
  cmd/codegen/schematool/merge.go
  core/sdk/go_sdk.go
Owners: none

cmd/codegen/generator/go: restore TypeDefCode for empty-parentName dispatch
  cmd/codegen/generator/go/templates/module_enums.go
  cmd/codegen/generator/go/templates/module_funcs.go
  cmd/codegen/generator/go/templates/module_interfaces.go
  cmd/codegen/generator/go/templates/module_objects.go
  cmd/codegen/generator/go/templates/module_types.go
  cmd/codegen/generator/go/templates/modules.go
Owners: none

cmd/codegen/generator/go: add AST-based module type scanner
  cmd/codegen/generator/go/astscan/resolve.go
  cmd/codegen/generator/go/astscan/scanner.go
  cmd/codegen/generator/go/astscan/scanner_test.go
  cmd/codegen/generator/go/astscan/testdata/empty/main.go
  cmd/codegen/generator/go/astscan/testdata/enum/expected.json
  cmd/codegen/generator/go/astscan/testdata/enum/main.go
  cmd/codegen/generator/go/astscan/testdata/enum_untyped/expected.json
  cmd/codegen/generator/go/astscan/testdata/enum_untyped/main.go
  cmd/codegen/generator/go/astscan/testdata/interface/expected.json
  cmd/codegen/generator/go/astscan/testdata/interface/main.go
  cmd/codegen/generator/go/astscan/testdata/module_local_dagger/expected.json
  cmd/codegen/generator/go/astscan/testdata/module_local_dagger/main.go
  cmd/codegen/generator/go/astscan/testdata/optional_args/expected.json
  cmd/codegen/generator/go/astscan/testdata/optional_args/main.go
  cmd/codegen/generator/go/astscan/testdata/schema.json
  cmd/codegen/generator/go/astscan/testdata/single_struct/expected.json
  cmd/codegen/generator/go/astscan/testdata/single_struct/main.go
  cmd/codegen/generator/go/astscan/testdata/unresolved_type/main.go
  cmd/codegen/generator/go/astscan/testdata/void_return/expected.json
  cmd/codegen/generator/go/astscan/testdata/void_return/main.go
Owners: none

hack/designs: PR 1 implementation plan for moduleTypes consolidation
  hack/designs/no-codegen-at-runtime-pr1-plan.md
Owners: none

cmd/codegen: add schematool package for schema inspect + merge
  cmd/codegen/inspect_schema.go
  cmd/codegen/main.go
  cmd/codegen/merge_schema.go
  cmd/codegen/schematool/inspect.go
  cmd/codegen/schematool/merge.go
  cmd/codegen/schematool/module_types.go
  cmd/codegen/schematool/schematool.go
  cmd/codegen/schematool/schematool_test.go
  cmd/codegen/schematool/testdata/conflict/module_types.json
  cmd/codegen/schematool/testdata/conflict/schema.json
  cmd/codegen/schematool/testdata/enum/expected.json
  cmd/codegen/schematool/testdata/enum/module_types.json
  cmd/codegen/schematool/testdata/enum/schema.json
  cmd/codegen/schematool/testdata/interface/expected.json
  cmd/codegen/schematool/testdata/interface/module_types.json
  cmd/codegen/schematool/testdata/interface/schema.json
  cmd/codegen/schematool/testdata/single_object/expected.json
  cmd/codegen/schematool/testdata/single_object/module_types.json
  cmd/codegen/schematool/testdata/single_object/schema.json
Owners: none

hack/designs: PR 2 implementation plan for Go SDK skip codegen at runtime
  hack/designs/go-sdk-skip-codegen-at-runtime-plan.md
Owners: none

core/sdk/go_sdk: stop advertising moduleTypes
  core/sdk/go_sdk.go
Owners: none

core/integration: tests for Go SDK skip-codegen-at-runtime
  core/integration/module_test.go
Owners: none

core/sdk/go_sdk: short-circuit Codegen when skip-codegen opted in
  core/sdk/go_sdk.go
Owners: none

hack/designs: design doc for moduleTypes consolidation
  hack/designs/no-codegen-at-runtime-moduletypes.md
Owners: none

hack/designs: Go SDK skip-codegen-at-runtime design
  hack/designs/go-sdk-skip-codegen-at-runtime.md
Owners: none

cmd/codegen/generator/go: use astscan + schematool in generate-module
  cmd/codegen/generate_module.go
  cmd/codegen/generate_typedef_legacy.go
  cmd/codegen/generator/config.go
  cmd/codegen/generator/go/generate_module.go
  cmd/codegen/generator/go/generate_typedefs.go
  cmd/codegen/generator/go/generate_typedefs_legacy.go
  cmd/codegen/main.go
  cmd/codegen/main_legacy.go
  cmd/codegen/schematool/schematool_test.go
  core/sdk/go_sdk.go
Owners: none

core/modules: add LegacyCodegenAtRuntime codegen config field
  core/modules/config.go
  core/modules/config_test.go
  core/schema/modulesource.go
Owners: none

core: synthesize sourceMap with module name when SDK provides none
  core/module.go
Owners: none

This PR adds a new env-var switch (DAGGER_GO_SDK_OFFLINE) to disable the effect of PR 11826
  cmd/codegen/generator/go/generate_module.go
  cmd/codegen/generator/go/generate_typedefs.go
  core/sdk/go_sdk.go
Owners: none

core/sdk/go_sdk: always run Codegen, even for skip-codegen modules
  core/sdk/go_sdk.go
Owners: none
