Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

.dagger: use raw patch for generated check
  .dagger/main.go
Owners: none

core/changeset: replace PatchPreview with structured DiffStat API
  .dagger/main.go
  cmd/dagger/functions.go
  cmd/dagger/llm.go
  core/changeset.go
  core/integration/changeset_test.go
  core/mcp.go
  core/schema/directory.go
  dagql/idtui/patch.go
  go.mod
  go.sum
  util/patchpreview/patch.go
  util/patchpreview/patch_test.go
Owners: none

core/changeset: address review feedback
  .dagger/main.go
  cmd/dagger/functions.go
  core/changeset.go
  core/integration/changeset_test.go
  core/integration/directory_test.go
  core/mcp.go
  core/schema/directory.go
Owners: none

core/changeset: add git numstat parsing and rename tracking
  core/changeset.go
  core/changeset_git.go
  core/changeset_git_test.go
Owners: none

core/changeset: rename DiffStat types and add OldPath for renames
  core/changeset.go
  core/integration/changeset_test.go
  core/mcp.go
  core/schema/directory.go
  dagql/idtui/patch.go
Owners: none

regenerate
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger.html
  docs/static/reference/php/Dagger/Binding.html
  docs/static/reference/php/Dagger/Changeset.html
  docs/static/reference/php/Dagger/Client.html
  docs/static/reference/php/Dagger/DiffStat.html
  docs/static/reference/php/Dagger/DiffStatId.html
  docs/static/reference/php/Dagger/Env.html
  docs/static/reference/php/classes.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  docs/static/reference/php/doctum.js
  docs/static/reference/php/traits.html
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/php/generated/Binding.php
  sdk/php/generated/Changeset.php
  sdk/php/generated/Client.php
  sdk/php/generated/DiffStat.php
  sdk/php/generated/DiffStatId.php
  sdk/php/generated/DiffStatKind.php
  sdk/php/generated/Env.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

removed some unneeded lines for linting
  util/llbtodagger/convert_test.go
  util/llbtodagger/dockerfile_convert_test.go
Owners: none

Fix wording in custom CA documentation
  docs/current_docs/reference/configuration/custom-ca.mdx
Owners: @dagger/docs

Fix wording in custom CA documentation (#12882)
  docs/current_docs/reference/configuration/custom-ca.mdx
Owners: @dagger/docs

test for the case that an ADD of a http method doesnt unpack
  core/integration/dockerfile_test.go
  util/llbtodagger/convert_test.go
Owners: none

wip
  core/integration/dockerfile_test.go
  util/llbtodagger/dockerfile_convert_test.go
Owners: none

bump pytest for zig 404 fix
  toolchains/python-sdk-dev/dagger.json
Owners: none

bump pytest for zig 404 fix (#12884)
  toolchains/python-sdk-dev/dagger.json
Owners: none

wip
  core/integration/dockerfile_test.go
Owners: none

lazy persistence hard-cutover for directory/file/container
  cmd/codegen/dagger.json
  cmd/dagger/testdata/cmd-test/dagger.json
  core/builtincontainer.go
  core/container.go
  core/container_exec.go
  core/directory.go
  core/file.go
  core/lazy_state.go
  core/modfunc.go
  core/schema/container.go
  core/schema/directory.go
  core/schema/file.go
  core/schema/query.go
  core/terminal.go
  dagql/cache.go
  dagql/cache_persistence_worker.go
  modules/evals/testdata/object-fields/dagger.json
  scratch/WHITEBOARD.md
  sdk/dang/dagger.json
  toolchains/changelog/dagger.json
  toolchains/ci/dagger.json
  toolchains/dotnet-sdk-dev/dagger.json
  toolchains/elixir-sdk-dev/dagger.json
  toolchains/go-sdk-dev/dagger.json
  toolchains/java-sdk-dev/dagger.json
  toolchains/python-sdk-dev/dagger.json
  toolchains/security/dagger.json
  toolchains/test-split/dagger.json
  toolchains/typescript-sdk-dev/dagger.json
Owners: none

container persistence: reconstruct source-pending children from parent provenance
  core/container.go
Owners: none

elixir-sdk-dev: add @check to test and lint functions
  toolchains/elixir-sdk-dev/elixir-sdk.dang
Owners: none

elixir-sdk-dev: add experimentalPrivilegedNesting to sdkTest
  toolchains/elixir-sdk-dev/elixir-sdk.dang
Owners: none

fix: make all tests pass
  sdk/elixir/test/dagger/client_test.exs
  toolchains/elixir-sdk-dev/elixir-sdk.dang
Owners: @dagger/sdk-elixir

Refine dagql persistence debugging and isolate restart tests from host GC pressure
  core/container.go
  core/directory.go
  core/file.go
  core/integration/engine_persistence_test.go
  core/schema/container.go
  dagql/cache_debug.go
  dagql/cache_prune.go
Owners: none

Fix persisted list envelope encoding during cache close
  dagql/cache_persistence_self.go
Owners: none

Fix elixir toolchain (#12887)
  sdk/elixir/test/dagger/client_test.exs
  toolchains/elixir-sdk-dev/elixir-sdk.dang
Owners: @dagger/sdk-elixir

fix: toolchain tests
  core/integration/toolchain_test.go
Owners: none

fix: toolchain tests (#12888)
  core/integration/toolchain_test.go
Owners: none

chore: fix issue in TestLegacy/TestGoAlias
  cmd/codegen/generator/go/templates/src/_dagger.gen.go/module.go.tmpl
Owners: none

chore: revert latest change
  cmd/codegen/generator/go/templates/src/_dagger.gen.go/module.go.tmpl
Owners: none

chore: fix codegen
  cmd/codegen/codegen.go
  cmd/codegen/generator/go/generate_client.go
  cmd/codegen/generator/go/generator.go
  cmd/codegen/generator/go/templates/src/internal/dagger/_dep.gen.go.tmpl
Owners: none

chore: fix TestModule that was looking for the wrong file
  cmd/codegen/generator/go/templates/modules.go
  core/integration/module_test.go
Owners: none

chore: improve code reusability
  cmd/codegen/generator/go/templates/functions.go
  cmd/codegen/introspection/filters.go
Owners: none

chore: fix rebase
  cmd/codegen/generator/go/generate_client.go
Owners: none

chore: fix external enum type resolution
  cmd/codegen/generator/go/generator.go
  cmd/codegen/generator/go/templates/functions.go
  cmd/codegen/generator/go/templates/helper_test.go
  cmd/codegen/generator/go/templates/typedefs.go
  cmd/codegen/generator/go/templates/visit.go
Owners: none

chore: fix legacy incompat
  cmd/codegen/generator/go/templates/functions.go
  cmd/codegen/generator/go/templates/src/_dagger.gen.go/module.go.tmpl
  core/integration/legacy_test.go
Owners: none

chore: fix unscopped enum name
  cmd/codegen/generator/go/templates/src/_dagger.gen.go/module.go.tmpl
Owners: none

chore: fix linter
  cmd/codegen/generator/go/generate_client.go
Owners: none

chore: fix go mod dagger lib bump for client
  cmd/codegen/generator/go/generate_client.go
  core/integration/client_generator_test.go
Owners: none

chore: fix unmarshal/marshal issue with moduleMainSrc
  cmd/codegen/generator/go/templates/modules.go
Owners: none

feat: generate dependencies in their own files.
  cmd/codegen/generator/go/generator.go
  cmd/codegen/generator/go/templates/functions.go
  cmd/codegen/generator/go/templates/src/_types/object_fields.go.tmpl
  cmd/codegen/generator/go/templates/src/internal/dagger/_dep.gen.go.tmpl
  cmd/codegen/generator/go/templates/templates.go
  cmd/codegen/introspection/filters.go
  cmd/codegen/introspection/filters_test.go
Owners: none

feat: generate dependencies in their own files. (#11962)
  cmd/codegen/codegen.go
  cmd/codegen/generator/go/generate_client.go
  cmd/codegen/generator/go/generator.go
  cmd/codegen/generator/go/templates/functions.go
  cmd/codegen/generator/go/templates/helper_test.go
  cmd/codegen/generator/go/templates/modules.go
  cmd/codegen/generator/go/templates/src/_dagger.gen.go/module.go.tmpl
  cmd/codegen/generator/go/templates/src/_types/object_fields.go.tmpl
  cmd/codegen/generator/go/templates/src/internal/dagger/_dep.gen.go.tmpl
  cmd/codegen/generator/go/templates/templates.go
  cmd/codegen/generator/go/templates/typedefs.go
  cmd/codegen/generator/go/templates/visit.go
  cmd/codegen/introspection/filters.go
  cmd/codegen/introspection/filters_test.go
  core/integration/client_generator_test.go
  core/integration/legacy_test.go
  core/integration/module_test.go
Owners: none

add doc text for failfast option
  core/schema/checks.go
Owners: none

check for context cancelled in failfast test
  core/integration/checks_test.go
Owners: none
