Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

core: evaluate container path writes by part
  core/container.go
  core/container_parts.go
  core/container_parts_test.go
  core/schema/container.go
Owners: none

core: evaluate mount metadata mutations by part
  core/container.go
  core/container_parts.go
  core/container_parts_test.go
  core/schema/container.go
Owners: none

hack/designs: stage 2 revision 3 after the fix round
  hack/designs/remote-cache/stage2-part-evaluation.md
Owners: none

core: make the whole-op lazy latch atomic
  core/lazy_state.go
Owners: none

hack/designs: per-part lazy evaluation of containers, one holistic design record
  hack/designs/remote-cache/per-part-evaluation.html
Owners: none

core: one rule for the lazy op pointer - every post-construction access under lazyOpMu
  core/container.go
  core/container_image.go
  core/container_parts.go
  core/container_parts_test.go
Owners: none

core: hold LazyMu across the consumed-check and the Lazy clear
  core/container_parts.go
  core/container_parts_test.go
Owners: none

hack/designs: stage 2 revision 4, correct the op-pointer clear scope
  hack/designs/remote-cache/stage2-part-evaluation.md
Owners: none

dagql: route empty group resolution to pending cache-side groups
  dagql/cache.go
  dagql/cache_parts_test.go
Owners: none

core: evaluate mounted snapshot sources by part
  core/container.go
  core/container_parts.go
  core/container_parts_test.go
  core/schema/container.go
Owners: none

internal-docs: describe the per-part lazy evaluation contract
  internal-docs/lazy_evaluation.md
Owners: none

core: synchronize the routing reads of the lazy op pointer with the refined clear
  core/container.go
  core/container_parts.go
  core/container_parts_test.go
  core/terminal.go
Owners: none

ci: align generated clients with the release schema
  .dagger/modules/cli-dev/internal/dagger/dagger.gen.go
  .dagger/modules/engine-dev/internal/dagger/dagger.gen.go
  .dagger/modules/tla-check/internal/dagger/dagger.gen.go
Owners: none

dagql: extract lazy group attempt preparation
  dagql/cache.go
Owners: none

hack/designs: cite the conversion commits by title, not by hash
  hack/designs/remote-cache/per-part-evaluation.html
Owners: none

dagql/tla: model final parent copy sweeps
  dagql/tla/CacheLifecycle.tla
  dagql/tla/CacheLifecycle_lazy_parts_delegate.cfg
Owners: none

hack/designs: record the fix round and the decisions behind it
  hack/designs/remote-cache/per-part-evaluation.html
Owners: none

dagql: assert concurrent resume completion
  dagql/cache_parts_test.go
Owners: none

dagql: classify abandoned lazy attempts
  core/container_parts.go
  dagql/cache.go
  dagql/cache_parts_test.go
  dagql/otelprof_lazy.go
Owners: none

dagql: keep partial resume spans pending
  dagql/cache.go
  dagql/cache_parts_test.go
  dagql/dagui/spans.go
  dagql/dagui/spans_test.go
  dagql/otelprof_lazy.go
  engine/telemetryattrs/attrs.go
Owners: none

core: evaluate selector rootfs before nested calls
  core/container.go
  core/container_parts_test.go
  core/container_selector_parts_test.go
Owners: none

core: consume final container delegations
  core/container_exec_parts_test.go
  core/container_image_parts_test.go
  core/container_parts.go
  core/container_parts_test.go
  core/schema/container_internal_test.go
  internal-docs/lazy_evaluation.md
Owners: none

core: strengthen per-part mount coverage
  core/container.go
  core/container_image_parts_test.go
  core/container_parts_test.go
  core/schema/container.go
  core/schema/container_internal_test.go
Owners: none

dagql: evaluate resolved lazy groups concurrently
  core/container.go
  core/container_exec_parts_test.go
  core/container_parts.go
  dagql/cache.go
  dagql/cache_parts_test.go
Owners: none

core: narrow container image preparation
  core/container.go
  core/container_parts_test.go
  core/schema/container.go
Owners: none

llm: name history emission and recorded-response providers precisely
  core/integration/llm_object_tools_test.go
  core/integration/llm_skills_test.go
  core/integration/llm_test.go
  core/integration/llmtest/gen-agent/.dagger/modules/gen-agent/main.dang
  core/integration/llmtest/go-programmer/main.dang
  core/integration/llmtest/report-agent/main.dang
  core/integration/llmtest/svc-agent/main.dang
  core/integration/testdata/workspaces/workspace-tool-return/.dagger/modules/swapper/main.dang
  core/llm.go
  core/llm_anthropic.go
  core/llm_continuation_test.go
  core/llm_display.go
  core/llm_google.go
  core/llm_google_test.go
  core/llm_object_tools.go
  core/llm_openai_codex.go
  core/llm_recording.go
  core/llm_recording_test.go
  core/llm_test.go
  core/mcp.go
  core/mcp_test.go
  core/schema/llm.go
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/LLM.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  hack/designs/llm-oauth-token-lifecycle.md
  hack/designs/workspace-agents.md
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/shell.go
  internal/cmd/dagger/shell_commands.go
  sdk/elixir/lib/dagger/gen/llm.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/LLM.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

core: preserve parallel image part evaluation
  core/container.go
  core/container_parts.go
  core/container_parts_test.go
  core/schema/container.go
  core/schema/container_internal_test.go
Owners: none

ci: refresh generated clients and satisfy Go lint
  .dagger/modules/cli-dev/internal/dagger/dagger.gen.go
  .dagger/modules/engine-dev/internal/dagger/dagger.gen.go
  .dagger/modules/tla-check/dagger.gen.go
  .dagger/modules/tla-check/internal/dagger/dagger.gen.go
  core/container.go
  core/container_parts_test.go
  core/schema/container.go
Owners: none

build: sync generated module descriptions with source
  .dagger/modules/cli-dev/dagger.gen.go
  .dagger/modules/cli-dev/internal/dagger/cli-dev.gen.go
  .dagger/modules/cli-dev/internal/dagger/go.gen.go
  .dagger/modules/docs-dev/internal/dagger/dagger-cli.gen.go
  .dagger/modules/docs-dev/internal/dagger/go.gen.go
  .dagger/modules/engine-dev/internal/dagger/dagger-cli.gen.go
  .dagger/modules/engine-dev/internal/dagger/go.gen.go
  .dagger/modules/go/dagger.gen.go
  .dagger/modules/go/internal/dagger/go.gen.go
  .dagger/modules/release/internal/dagger/cli-dev.gen.go
  modules/daggerverse/internal/dagger/go.gen.go
  modules/metrics/internal/dagger/dagger-engine.gen.go
Owners: none

changes: document experimental LLM naming updates
  .changes/unreleased/Experimental-20260905-003800.yaml
Owners: none

core: clarify session isolation and root-boundary checks
  .dagger/modules/cli-dev/main.go
  .dagger/modules/engine-dev/build/builder.go
  .dagger/modules/engine-dev/main.go
  .dagger/modules/go/main.go
  core/directory.go
  core/git_hostdir.go
  core/git_remote.go
  core/integration/changeset_test.go
  core/integration/cross_session_test.go
  core/integration/module_config_test.go
  core/integration/module_runtime_behavior_test.go
  core/integration/testdata/modules/go/config-malicious/main.go
  core/integration/testdata/modules/go/config-out-of-root-dep/dagger.json
  core/integration/testdata/modules/go/config-out-of-root-dep/main.go
  core/integration/testdata/modules/go/config-out-of-root/dagger.json
  core/integration/testdata/modules/go/config-out-of-root/main.go
  core/integration/workspace_api_test.go
  core/modfunc.go
  core/schema/modulesource.go
  core/schema/schema_test.go
  core/schema/workspace.go
  core/schema/workspace_test.go
  docs/current_docs/reference/cli/index.mdx
  engine/client/pathutil/pathutil.go
  engine/client/pathutil/pathutil_test.go
  engine/opts.go
  engine/server/gc_test.go
  hack/designs/host-git-reconstruction.md
  hack/designs/remote-cache/per-part-evaluation.html
  internal-docs/session_resources.md
  internal/cmd/dagger/module.go
Owners: @dagger/docs

dagql: name attachment errors and resource requirements directly
  .dagger/modules/tla-check/main.go
  dagql/cache_persistence_import_test.go
  dagql/cache_persistence_resolver.go
  dagql/cache_publication_boundary_test.go
  dagql/cache_test.go
  dagql/tla/CacheLifecycle.tla
  dagql/tla/CacheLifecycle_attach_error.cfg
  dagql/tla/CacheLifecycle_attach_error_adoption.cfg
  dagql/tla/CacheLifecycle_attach_error_restart.cfg
  dagql/tla/CacheLifecycle_drain_nested_call.cfg
  dagql/tla/CacheLifecycle_flush_closure.cfg
  dagql/tla/CacheLifecycle_flush_roundtrip.cfg
  dagql/tla/CacheLifecycle_lazy.cfg
  dagql/tla/CacheLifecycle_persist.cfg
  dagql/tla/CacheLifecycle_release_claim_race.cfg
  dagql/tla/CacheLifecycle_release_prune.cfg
  dagql/tla/CacheLifecycle_resources.cfg
  dagql/tla/CacheLifecycle_resources_latedep.cfg
  dagql/tla/CacheLifecycle_resources_latedep_cascade.cfg
  dagql/tla/CacheLifecycle_resources_latedep_recheck.cfg
  dagql/tla/CacheLifecycle_resources_requirement_growth.cfg
  dagql/tla/CacheLifecycle_resources_restart.cfg
  dagql/tla/CacheLifecycle_rollback.cfg
  dagql/tla/README.md
  hack/designs/remote-cache/stage2-part-evaluation.md
Owners: none

Preserve independent completion evidence across model restart
  dagql/tla/CacheLifecycle.tla
  dagql/tla/CacheLifecycle_container_joint_restore.cfg
  dagql/tla/CacheLifecycle_container_part_restart.cfg
  dagql/tla/CacheLifecycle_container_sweep_restart.cfg
  dagql/tla/README.md
  hack/designs/remote-cache/per-part-persistence.html
Owners: none

docs: refine container part persistence design
  hack/designs/remote-cache/per-part-persistence.html
Owners: none

dagql: clarify wait-link validation prose
  dagql/cache_profileskip_emit_test.go
  dagql/otelprof_hooks_test.go
  dagql/otelprof_lazy_retry_test.go
Owners: none

docs: design container part persistence
  hack/designs/remote-cache/per-part-persistence.html
Owners: none

dagql: record bounded container persistence evidence
  dagql/tla/CacheLifecycle.tla
  dagql/tla/CacheLifecycle_container_joint_restore.cfg
  dagql/tla/CacheLifecycle_container_part_restart.cfg
  dagql/tla/CacheLifecycle_container_sweep_restart.cfg
  dagql/tla/README.md
Owners: none

docs: record container part persistence review convergence
  hack/designs/remote-cache/per-part-persistence.html
Owners: none

core: preserve completed container parts across restart
  core/container.go
  core/container_exec.go
  core/container_exec_parts_test.go
  core/container_persistence.go
  core/container_persistence_debug.go
  core/container_persistence_test.go
  core/directory.go
  core/integration/engine_persistence_test.go
  core/lazy_state.go
  core/telemetry.go
  core/volume_test.go
  dagql/cache.go
  dagql/cache_debug.go
  dagql/cache_metadata_prune_benchmark_test.go
  dagql/otelprof_lazy.go
  dagql/otelprof_lazy_exec_test.go
  dagql/otelprof_lazy_retry_test.go
  dagql/otelprof_lazy_test.go
  dagql/types.go
Owners: none

docs: explain snapshot transfer ownership and validation
  hack/designs/remote-cache/result-foundations.html
  internal-docs/cache_persistence.md
Owners: none
