Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

chore: fix code
  cmd/engine/.dagger/build/sdk.go
Owners: none

chore: make bun introspection binary cross platform (#11289)
  cmd/engine/.dagger/build/sdk.go
Owners: none

withToolchain to withToolchains and generate
  cmd/dagger/module.go
  core/schema/modulesource.go
  dagql/call/callpbv1/call.pb.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/ModuleSource.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  internal/buildkit/util/stack/stack.pb.go
  sdk/elixir/lib/dagger/gen/module_source.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/ModuleSource.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

apply toolchains to blueprints using withToolchains
  core/schema/modulesource.go
Owners: none

improve RELEASING.md
  RELEASING.md
Owners: none

codegen(sdk/python): uniformize and add deprecation notices in Python codegen
  sdk/python/codegen/src/codegen/generator.py
  sdk/python/tests/codegen/test_generator.py
Owners: @dagger/sdk-python

deduplicate with/withUpdate/without toolchain/dependency
  core/schema/modulesource.go
Owners: none

fix toolchain update
  core/schema/modulesource.go
Owners: none

Reorganize CI code in smaller files
  .dagger/bench.go
  .dagger/checks.go
  .dagger/cli.go
  .dagger/docs.go
  .dagger/generate.go
  .dagger/go.go
  .dagger/helm.go
  .dagger/main.go
  .dagger/playground.go
  .dagger/release.go
  .dagger/scripts.go
  .dagger/sdk.go
  .dagger/test.go
Owners: none

use parent docker config in ci-in-ci
  .dagger/checks.go
Owners: none

remove dead code in github actions config generator
  .github/main.go
Owners: none

core: re-add content hashing of git and dir module sources
  core/schema/modulesource.go
Owners: none

add test
  core/integration/module_config_test.go
Owners: none

codegen(python/sdk): test deprecated option argument in a func + fix multiline string wrapper
  sdk/python/tests/codegen/test_generator.py
Owners: @dagger/sdk-python

codegen(sdk/python): add fixture for interfaces' method deprecation
  sdk/python/tests/codegen/test_generator.py
Owners: @dagger/sdk-python

codegen(python/sdk): deprecate object_field + add fixture test
  sdk/python/codegen/src/codegen/generator.py
  sdk/python/tests/codegen/test_generator.py
Owners: @dagger/sdk-python

codegen(sdk/python): expand interface fixture test to cover multiple deprecated members and warnings.
  sdk/python/tests/codegen/test_generator.py
Owners: @dagger/sdk-python

fix: rotate gitlab readonly token
  core/integration/git_test.go
  core/integration/gitcredential_test.go
  core/integration/module_config_test.go
Owners: none

fix: rotate gitlab readonly token (#11294)
  core/integration/git_test.go
  core/integration/gitcredential_test.go
  core/integration/module_config_test.go
Owners: none

dagger checks: prettier output
  cmd/dagger/checks.go
Owners: none

Module.Checks()
  core/checks.go
  core/module.go
Owners: none

wip: Module.Checks(), walk all objects
  cmd/dagger/checks.go
  core/checks.go
  core/module.go
  core/schema/checks.go
  core/schema/module.go
  core/typedef.go
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

fix(ci): fix go sdk `dry-run` publish
  .dagger/sdk_go.go
Owners: none

wip: successful walk!
  core/checks.go
  core/module.go
  core/typedef.go
Owners: none

PHP: Add static analysis to CI pipeline
  .dagger/sdk_php.go
  sdk/php/.gitignore
  sdk/php/composer.json
  sdk/php/composer.lock
  sdk/php/dev/src/PhpSdkDev.php
  sdk/php/phpstan-baseline.neon
  sdk/php/phpstan.dist.neon
  sdk/php/psalm.xml
Owners: @dagger/sdk-php

PHP: Run static analysis during Lint CI
  .dagger/sdk_php.go
Owners: none

feat: add Module.call
  core/enum.go
  core/integration/module_test.go
  core/interface.go
  core/modfunc.go
  core/modtypes.go
  core/module.go
  core/object.go
  core/schema/coremod.go
  core/schema/module.go
  core/schema/modulesource.go
  core/telemetry.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Module.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/module.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Module.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

ci: add suite for LLM CLI tests
  .github/main.go
  .github/workflows/llm.gen.yml
Owners: none

llm: add ctrl+u for uploading changes to llm
  cmd/dagger/llm.go
  cmd/dagger/shell.go
  dagql/idtui/chroma.go
  dagql/idtui/frontend_pretty.go
Owners: none

tui(llm): add integ test, respect $agent before >
  .gitattributes
  cmd/dagger/functions.go
  cmd/dagger/llm.go
  cmd/dagger/shell.go
  cmd/dagger/shell_completion_test.go
  cmd/dagger/shell_fs.go
  cmd/dagger/shell_test.go
  cmd/dagger/suite_test.go
  cmd/dagger/testdata/cmd-test/dagger.json
  cmd/dagger/testdata/cmd-test/main.dang
  dagql/idtui/frontend.go
  dagql/idtui/frontend_mock.go
  go.mod
  go.sum
Owners: none

cmd/engine: fix generate
  cmd/engine/.dagger/main.go
Owners: none

tidy
  go.mod
Owners: none

ci: fix command
  .github/main.go
  .github/workflows/llm.gen.yml
Owners: none

test: cover reverting agent changes, too
  cmd/dagger/shell_test.go
Owners: none

tui: change ctrl+s label to save
  cmd/dagger/llm.go
Owners: none

update telemetry gold
  dagql/idtui/testdata/TestTelemetry/TestGolden/list
Owners: none

regen
  .github/workflows/llm.gen.yml
Owners: none

core: check direct modules before dependencies
  core/module.go
Owners: none

tui: update gold
  dagql/idtui/golden_test.go
  dagql/idtui/testdata/TestTelemetry/TestGolden/custom-status
  dagql/idtui/testdata/TestTelemetry/TestGolden/fail-encapsulated
  dagql/idtui/testdata/TestTelemetry/TestGolden/nested-statuses
  dagql/idtui/testdata/TestTelemetry/TestGolden/nested-statuses#01
  dagql/idtui/testdata/TestTelemetry/TestGolden/python/custom-status
  dagql/idtui/testdata/TestTelemetry/TestGolden/python/nested-statuses
  dagql/idtui/testdata/TestTelemetry/TestGolden/python/nested-statuses#01
  dagql/idtui/testdata/TestTelemetry/TestGolden/revealed-statuses
  dagql/idtui/testdata/TestTelemetry/TestGolden/typescript/custom-status
  dagql/idtui/testdata/TestTelemetry/TestGolden/typescript/nested-statuses
  dagql/idtui/testdata/TestTelemetry/TestGolden/typescript/nested-statuses#01
  dagql/idtui/testdata/TestTelemetry/TestGolden/use-cached-exec-service
Owners: none

ai: fix TypeScript precedence issue
  sdk/typescript/src/module/introspector/dagger_module/module.ts
Owners: @dagger/sdk-typescript

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
