Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

chore(cmd/dagger): relocate cli-1.0 files into internal package
  internal/cmd/dagger/cloud_check.go
  internal/cmd/dagger/module_init.go
  internal/cmd/dagger/module_init_test.go
  internal/cmd/dagger/module_sdk.go
  internal/cmd/dagger/module_sdk_test.go
  internal/cmd/dagger/sdks.json
Owners: none

test(core/integration): drop removed `dagger workspace init`
  core/integration/module_private_deps_test.go
Owners: none

cmd/dagger: wire 5-group rendering for `dagger --help`
  future/cli-1.0.md
  internal/cmd/dagger/main.go
Owners: none

CLI 1.0 phase 1: hoist hot path, kill dagger mod
  docs/current_docs/adopting/scaling/kubernetes.mdx
  docs/current_docs/adopting/workspace-setup.mdx
  docs/current_docs/extending/index.mdx
  docs/current_docs/extending/sdks/dang.mdx
  docs/current_docs/extending/sdks/go.mdx
  docs/current_docs/extending/sdks/python.mdx
  docs/current_docs/extending/sdks/typescript.mdx
  docs/current_docs/getting-started/quickstart.mdx
  docs/current_docs/index.mdx
  docs/current_docs/modules/biomejs.mdx
  docs/current_docs/modules/eslint.mdx
  docs/current_docs/modules/go.mdx
  docs/current_docs/modules/helm.mdx
  docs/current_docs/modules/index.mdx
  docs/current_docs/modules/jest.mdx
  docs/current_docs/modules/prettier.mdx
  docs/current_docs/modules/psscriptanalyzer.mdx
  docs/current_docs/modules/pytest.mdx
  docs/current_docs/modules/shellcheck.mdx
  docs/current_docs/modules/vitest.mdx
  docs/current_docs/reference/cli/index.mdx
  docs/current_docs/reference/configuration/modules.mdx
  docs/current_docs/reference/configuration/workspace.mdx
  docs/current_docs/reference/upgrade-to-workspaces.mdx
  internal/cmd/dagger/checks.go
  internal/cmd/dagger/generators.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/mod.go
  internal/cmd/dagger/mod_test.go
  internal/cmd/dagger/module.go
  internal/cmd/dagger/settings.go
  internal/cmd/dagger/up.go
  internal/cmd/dagger/workspace.go
  internal/cmd/dagger/workspace_test.go
Owners: @dagger/docs

fix: resolve markdown-lint findings in future/cli-1.0.md
  future/cli-1.0.md
Owners: none

Rename --mod/-m to --load-module/-m
  core/integration/module_call_test.go
  core/integration/workspace_modules_test.go
  docs/current_docs/reference/cli/index.mdx
  internal/cmd/dagger/cloud_test.go
  internal/cmd/dagger/module.go
  internal/cmd/dagger/shell.go
  internal/cmd/dagger/workspace_test.go
Owners: @dagger/docs

core/workspace: preserve empty AsSDK marker through clone + write
  core/workspace/config.go
  core/workspace/config_document.go
Owners: none

docs: api client init verb, drop rm, drop --name
  future/cli-1.0.md
Owners: none

cli, docs: workspace install name = canonical-ref basename, not alias
  future/cli-1.0.md
  internal/cmd/dagger/sdk.go
Owners: none

docs(cli-1.0): note that 5-group --help rendering is not implemented
  future/cli-1.0.md
Owners: none

Drift fixes: tighten Solution, Flag rename intro, opening verb; uniform subcommand blocks
  future/cli-1.0.md
Owners: none

Design: CLI 1.0 top-level command surface
  future/cli-1.0.md
Owners: none

core/modules: add Pin to runtime, strip Config/Debug/Experimental from TOML
  core/modules/config.go
Owners: none

cli: expose sdk init args as flags
  cmd/dagger/module_init.go
  core/modulesource.go
  core/schema/workspace_client.go
  core/schema/workspace_module_init.go
  core/schema/workspace_sdk_init.go
  core/sdk.go
  core/sdk/consts.go
  core/sdk/dang_sdk.go
  core/sdk/go_sdk.go
  core/sdk/module.go
  core/sdk/module_init.go
  future/cli-1.0.md
  internal/cmd/dagger/client.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/sdk.go
  internal/cmd/dagger/sdk_init_dynamic.go
  internal/cmd/dagger/sdk_init_dynamic_test.go
Owners: none

module init: resolve --path against workspace root, not CLI cwd
  cmd/dagger/module_init.go
Owners: none

test(core/integration): migrate remaining engine tests to CLI 1.0 verbs
  core/integration/engine_test.go
Owners: none

fix(sdk/java): escape angle brackets in generated javadoc (#13483)
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/EnumVisitor.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/Helpers.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/InputVisitor.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/ScalarVisitor.java
Owners: @dagger/sdk-java

test(cli-1.0): fix test-base suites and gate unreleased APIs (#13487)
  core/integration/client_test.go
  core/integration/generators_test.go
  core/integration/workspace_test.go
  core/schema/modulesource.go
  core/schema/workspace.go
  internal/cmd/dagger/cloud_test.go
Owners: none

docs(cli-1.0): SDK group + initModule/initClient contract
  future/cli-1.0.md
Owners: none

fix(engine): skip builtin SDK installs when loading workspace modules
  core/sdk/loader.go
  engine/server/session_workspaces.go
Owners: none

core/workspace: legacy migration writes [sdks.*] sections
  core/schema/workspace_module_init.go
  core/workspace/migrate.go
  core/workspace/migrate_test.go
Owners: none

docs: clarify SDK init capability routing
  future/cli-1.0.md
Owners: none

Point migration warnings at 'dagger setup' instead of 'dagger migrate'
  core/integration/workspace_compat_test.go
  core/integration/workspace_selection_test.go
  core/modulesource.go
  core/schema/modulesource_test.go
  core/schema/workspace_config.go
  core/schema/workspace_install.go
  core/schema/workspace_uninstall.go
  core/workspace/legacy.go
  engine/server/session_workspaces.go
  internal/cmd/dagger/workspace_test.go
Owners: none

CLI 1.0 phase 4: cloud restructure (mutable integration + check)
  cmd/dagger/cloud_check.go
  future/cli-1.0.md
  internal/cmd/dagger/integration_cloud.go
  internal/cmd/dagger/workspace.go
  internal/cmd/dagger/workspace_test.go
Owners: none

fix(engine): invalidate workspace cache after config-writing export
  core/schema/directory.go
  core/workspace.go
  engine/server/server.go
  engine/server/session_workspaces.go
Owners: none

CLI 1.0 phase 5: dagger setup (login + migrate + recommend)
  future/cli-1.0.md
  internal/cmd/dagger/main.go
  internal/cmd/dagger/mod.go
  internal/cmd/dagger/recommend.go
  internal/cmd/dagger/setup.go
Owners: none

cli, engine: `dagger sdk` top-level group
  core/schema/workspace.go
  core/schema/workspace_install.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/sdk.go
  internal/cmd/dagger/workspace_test.go
Owners: none

test(core/integration): un-skip migrate-via-setup suites
  core/integration/workspace_compat_test.go
  core/integration/workspace_migration_test.go
Owners: none

docs + comments: catch up to the as-sdk pivot
  cmd/dagger/module_init.go
  cmd/dagger/module_sdk.go
  core/schema/workspace.go
  core/schema/workspace_module_init.go
  core/workspace/config_document.go
  future/cli-1.0.md
Owners: none

cmd/dagger: use Workspace.clientGenerate directly instead of loadChangesetFromID
  internal/cmd/dagger/client.go
  internal/cmd/dagger/generators.go
Owners: none

core/schema: Workspace.moduleInit returns Changeset, accepts path
  core/schema/workspace.go
  core/schema/workspace_module_init.go
Owners: none

docs: pencil in default SDK inference as the future shape
  future/cli-1.0.md
Owners: none

CLI 1.0 phase 3: workspace slim + introspection
  internal/cmd/dagger/config.go
  internal/cmd/dagger/env.go
  internal/cmd/dagger/installed.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/migrate.go
  internal/cmd/dagger/migrate_test.go
  internal/cmd/dagger/module.go
  internal/cmd/dagger/settings.go
  internal/cmd/dagger/workspace.go
  internal/cmd/dagger/workspace_test.go
Owners: none

test(core/integration): skip suites blocked on CLI 1.0 follow-ups
  core/integration/client_generator_test.go
  core/integration/module_source_maps_test.go
  core/integration/workspace_migration_test.go
Owners: none

CLI 1.0 phase 2b (init MVP): dagger module init --sdk
  cmd/dagger/module_init.go
  cmd/dagger/module_init_test.go
  cmd/dagger/sdks.json
Owners: none

cmd/dagger: add workspace API client commands
  core/schema/workspace.go
  core/schema/workspace_client.go
  core/workspace/config.go
  core/workspace/sdks_roundtrip_test.go
  docs/current_docs/reference/cli/index.mdx
  future/cli-1.0.md
  internal/cmd/dagger/api.go
  internal/cmd/dagger/client.go
  internal/cmd/dagger/client_test.go
  internal/cmd/dagger/clientconf.graphql
  internal/cmd/dagger/generators.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/workspace_test.go
Owners: @dagger/docs

test(core/integration): un-skip migrate-via-setup compat suites
  core/integration/workspace_compat_test.go
Owners: none

Design: SDK module interface for dagger module init / sdk
  future/cli-1.0.md
Owners: none

cli: dispatch init through installed SDKs
  cmd/dagger/module_init.go
  cmd/dagger/module_init_test.go
  core/schema/workspace.go
  core/schema/workspace_client.go
  core/schema/workspace_module_init.go
  core/schema/workspace_sdk.go
  core/schema/workspace_sdk_test.go
  docs/current_docs/reference/cli/index.mdx
  future/cli-1.0.md
  internal/cmd/dagger/client.go
  internal/cmd/dagger/client_test.go
  sdk/java/README.md
  sdk/php/README.md
  skills/tui-qa/SKILL.md
Owners: @dagger/docs, @dagger/sdk-java, @dagger/sdk-php

test(core/integration): read migration report for compat assertions
  core/integration/workspace_compat_test.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
