Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

cmd/codegen/generator/go: use shared pragma parser in templates
  cmd/codegen/generator/go/templates/modules.go
Owners: none

core/sdk/go_sdk: stop advertising moduleTypes
  core/sdk/go_sdk.go
Owners: none

cmd/codegen/schematool: schema merge + inspect helpers
  cmd/codegen/schematool/inspect.go
  cmd/codegen/schematool/merge.go
  cmd/codegen/schematool/schematool.go
  cmd/codegen/schematool/schematool_test.go
  cmd/codegen/schematool/testdata/conflict/module_types.json
  cmd/codegen/schematool/testdata/conflict/schema.json
  cmd/codegen/schematool/testdata/enum/expected.json
  cmd/codegen/schematool/testdata/enum/module_types.json
  cmd/codegen/schematool/testdata/enum/schema.json
  cmd/codegen/schematool/testdata/interface/expected.json
  cmd/codegen/schematool/testdata/interface/module_types.json
  cmd/codegen/schematool/testdata/interface/schema.json
  cmd/codegen/schematool/testdata/single_object/expected.json
  cmd/codegen/schematool/testdata/single_object/module_types.json
  cmd/codegen/schematool/testdata/single_object/schema.json
Owners: none

cmd/codegen/generator/go/pragma: add shared pragma parser
  cmd/codegen/generator/go/pragma/pragma.go
  cmd/codegen/generator/go/pragma/pragma_test.go
Owners: none

cmd/codegen/generator/go/astscan: AST-based module type scanner
  cmd/codegen/generator/go/astscan/resolve.go
  cmd/codegen/generator/go/astscan/scanner.go
  cmd/codegen/generator/go/astscan/scanner_test.go
  cmd/codegen/generator/go/astscan/testdata/empty/main.go
  cmd/codegen/generator/go/astscan/testdata/enum/expected.json
  cmd/codegen/generator/go/astscan/testdata/enum/main.go
  cmd/codegen/generator/go/astscan/testdata/enum_untyped/expected.json
  cmd/codegen/generator/go/astscan/testdata/enum_untyped/main.go
  cmd/codegen/generator/go/astscan/testdata/interface/expected.json
  cmd/codegen/generator/go/astscan/testdata/interface/main.go
  cmd/codegen/generator/go/astscan/testdata/module_local_dagger/expected.json
  cmd/codegen/generator/go/astscan/testdata/module_local_dagger/main.go
  cmd/codegen/generator/go/astscan/testdata/optional_args/expected.json
  cmd/codegen/generator/go/astscan/testdata/optional_args/main.go
  cmd/codegen/generator/go/astscan/testdata/pragma_args/expected.json
  cmd/codegen/generator/go/astscan/testdata/pragma_args/main.go
  cmd/codegen/generator/go/astscan/testdata/schema.json
  cmd/codegen/generator/go/astscan/testdata/single_struct/expected.json
  cmd/codegen/generator/go/astscan/testdata/single_struct/main.go
  cmd/codegen/generator/go/astscan/testdata/unresolved_type/main.go
  cmd/codegen/generator/go/astscan/testdata/void_return/expected.json
  cmd/codegen/generator/go/astscan/testdata/void_return/main.go
Owners: none

cmd/codegen/generator/go: restore TypeDefCode methods on parsed types
  cmd/codegen/generator/go/templates/module_enums.go
  cmd/codegen/generator/go/templates/module_funcs.go
  cmd/codegen/generator/go/templates/module_interfaces.go
  cmd/codegen/generator/go/templates/module_objects.go
  cmd/codegen/generator/go/templates/module_types.go
  cmd/codegen/generator/go/templates/modules.go
Owners: none

cmd/codegen/schematool: add ModuleTypes data shapes
  cmd/codegen/schematool/module_types.go
  cmd/codegen/schematool/schematool.go
Owners: none

chore: first batch of typescript entrypoint
  sdk/typescript/runtime/introspector.go
  sdk/typescript/runtime/main.go
  sdk/typescript/runtime/runtime_node.go
  sdk/typescript/src/module/entrypoint/introspection_entrypoint.ts
  sdk/typescript/src/module/introspector/entrypoint_emitter.ts
Owners: @dagger/sdk-typescript

chore: fix issues
  sdk/typescript/runtime/tsutils/module/core.d.ts
  sdk/typescript/runtime/tsutils/module/index.ts
  sdk/typescript/src/index.ts
  sdk/typescript/src/module/introspector/dagger_module/object.ts
  sdk/typescript/src/module/introspector/entrypoint_emitter.ts
  sdk/typescript/src/module/registry.ts
Owners: @dagger/sdk-typescript

chore: fixed tsutils modules (again)
  sdk/typescript/runtime/tsutils/module/core.d.ts
  sdk/typescript/runtime/tsutils/module/index.ts
Owners: @dagger/sdk-typescript

chore: add bun and deno support
  sdk/typescript/runtime/main.go
  sdk/typescript/runtime/runtime_bun.go
  sdk/typescript/runtime/runtime_deno.go
  sdk/typescript/runtime/runtime_node.go
  sdk/typescript/runtime/sdk_utils.go
  sdk/typescript/runtime/tsutils/bin/__dagger.entrypoint.ts
  sdk/typescript/runtime/tsutils/embedded_files_content.go
Owners: @dagger/sdk-typescript

chore: readd module files in tsutils
  sdk/typescript/runtime/tsutils/module/core.d.ts
  sdk/typescript/runtime/tsutils/module/index.ts
  sdk/typescript/runtime/tsutils/module/telemetry.ts
Owners: @dagger/sdk-typescript

chore: fixed module-runtimes tests issues
  sdk/typescript/src/module/introspector/entrypoint_emitter.ts
Owners: @dagger/sdk-typescript

chore: fix linter errors
  cmd/codegen/generator/typescript/templates/entrypoint_functions.go
  sdk/typescript/runtime/tsutils/module/core.d.ts
  sdk/typescript/runtime/tsutils/module/index.ts
  sdk/typescript/runtime/tsutils/module/telemetry.ts
  sdk/typescript/src/module/introspector/typedef_json.ts
Owners: @dagger/sdk-typescript

chore: fix typescript code
  sdk/typescript/src/module/introspector/typedef_json.ts
Owners: @dagger/sdk-typescript

chore: move entrypointer emitter to go codegen
  cmd/codegen/entrypoint.go
  cmd/codegen/generate_entrypoint.go
  cmd/codegen/generator/config.go
  cmd/codegen/generator/generator.go
  cmd/codegen/generator/go/generate_entrypoint.go
  cmd/codegen/generator/typescript/entrypoint.go
  cmd/codegen/generator/typescript/templates/entrypoint_functions.go
  cmd/codegen/generator/typescript/templates/entrypoint_typedef.go
  cmd/codegen/generator/typescript/templates/src/entrypoint/dispatch.ts.gtpl
  cmd/codegen/generator/typescript/templates/src/entrypoint/entrypoint.ts.gtpl
  cmd/codegen/generator/typescript/templates/src/entrypoint/helpers.ts.gtpl
  cmd/codegen/generator/typescript/templates/src/entrypoint/iface_classes.ts.gtpl
  cmd/codegen/generator/typescript/templates/src/entrypoint/imports.ts.gtpl
  cmd/codegen/generator/typescript/templates/src/entrypoint/register.ts.gtpl
  cmd/codegen/generator/typescript/templates/src/entrypoint/state_helpers.ts.gtpl
  cmd/codegen/generator/typescript/templates/templates.go
  cmd/codegen/main.go
  sdk/typescript/runtime/introspector.go
  sdk/typescript/runtime/main.go
  sdk/typescript/runtime/runtime_node.go
  sdk/typescript/src/module/entrypoint/introspection_entrypoint.ts
  sdk/typescript/src/module/introspector/entrypoint_emitter.ts
  sdk/typescript/src/module/introspector/typedef_json.ts
Owners: @dagger/sdk-typescript

chore: remove unexisting exported fn
  sdk/typescript/runtime/tsutils/module/index.ts
Owners: @dagger/sdk-typescript

chore: fix linter
  sdk/typescript/runtime/tsutils/embedded_files_content.go
Owners: @dagger/sdk-typescript

fix(core): suppress service exit propagation
  core/service.go
  core/services.go
  core/services_internal_test.go
  core/terminal.go
Owners: none

test: adapt dind services for nft-only kernels
  core/integration/provision_test.go
Owners: none

test: wrap provisioned old engine images for nft kernels
  core/integration/provision_test.go
Owners: none

docs: annotate installer test command fence
  e2e/installers/README.md
Owners: none

test: fix helm check filtered workspace
  e2e/helm/helm_test.go
  version/main.go
Owners: none

regen
  toolchains/cli-dev/internal/dagger/version.gen.go
  toolchains/engine-dev/internal/dagger/version.gen.go
  toolchains/release/internal/dagger/version.gen.go
Owners: none

chore: deactivate BitBucket
  core/integration/module_config_test.go
Owners: none

chore: disable other tests
  core/integration/git_test.go
  core/integration/gitcredential_test.go
Owners: none

core: use recipe IDs for module type generation
  cmd/codegen/generator/go/templates/typedefs.go
  core/integration/module_config_test.go
  core/integration/module_test.go
  core/sdk/go_sdk.go
  core/sdk/module_typedefs.go
  sdk/java/dagger-java-annotation-processor/src/main/java/io/dagger/annotation/processor/DaggerModuleAnnotationProcessor.java
  sdk/java/dagger-java-annotation-processor/src/test/resources/io/dagger/gen/entrypoint/Entrypoint.java
  sdk/python/src/dagger/mod/_analyzer/registration.py
  sdk/typescript/src/module/entrypoint/register.ts
Owners: @dagger/sdk-java, @dagger/sdk-python, @dagger/sdk-typescript

integration: pin VCS fixtures with recipe IDs
  core/integration/module_config_test.go
Owners: none

Use dagql views for legacy id recipe arg
  core/util.go
  dagql/dagql_test.go
  dagql/objects.go
  dagql/views.go
Owners: none

Document CI trace replay debugging
  skills/cache-expert/references/debugging.md
Owners: none

Update dagql introspection golden for id recipe arg
  dagql/testdata/introspection.json
Owners: none

docs: document CI trace lookup from PR checks
  skills/cache-expert/references/debugging.md
Owners: none

core: gate recipe ID schema by engine version
  cmd/codegen/generator/go/templates/typedefs.go
  cmd/dagger/module.go
  core/integration/module_elixir_test.go
  core/integration/module_java_test.go
  dagql/dagql_test.go
  dagql/objects.go
  sdk/python/runtime/main.go
  sdk/python/src/dagger/mod/_analyzer/registration.py
  sdk/typescript/runtime/config.go
  sdk/typescript/runtime/introspector.go
  sdk/typescript/runtime/main.go
  sdk/typescript/runtime/runtime_bun.go
  sdk/typescript/runtime/runtime_deno.go
  sdk/typescript/runtime/runtime_node.go
  sdk/typescript/src/module/entrypoint/register.ts
Owners: @dagger/sdk-python, @dagger/sdk-typescript

Fix recipe ID fallout in SDK lint and custom SDK tests
  core/integration/module_config_test.go
  sdk/java/dagger-java-annotation-processor/src/main/java/io/dagger/annotation/processor/DaggerModuleAnnotationProcessor.java
  sdk/java/dagger-java-annotation-processor/src/test/java/io/dagger/annotation/processor/GenerateTest.java
  sdk/java/runtime/main.go
  sdk/python/src/dagger/mod/_analyzer/registration.py
  sdk/typescript/src/module/entrypoint/register.ts
Owners: @dagger/sdk-java, @dagger/sdk-python, @dagger/sdk-typescript

Attach direct service dependencies for cached values
  core/container.go
  core/directory.go
  core/file.go
Owners: none

core: load recipe interface IDs with module deps
  core/container.go
  core/directory.go
  core/file.go
  core/interface.go
  core/query.go
  core/service.go
Owners: none

docs: refresh generated references
  docs/current_docs/reference/cli/index.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  sdk/python/runtime/dagger.gen.go
Owners: @dagger/docs, @dagger/sdk-python

Scope recipe-form ID defaults to module type generation
  cmd/codegen/generator/go/templates/typedefs.go
  core/container_exec.go
  core/integration/module_config_test.go
  core/integration/module_elixir_test.go
  core/integration/module_java_test.go
  core/integration/module_test.go
  core/modulesource.go
  core/sdk/go_sdk.go
  core/sdk/module_typedefs.go
  dagql/dagql_test.go
  dagql/objects.go
  engine/engineutil/executor.go
  engine/opts.go
  engine/server/session_test.go
  sdk/java/dagger-java-annotation-processor/src/main/java/io/dagger/annotation/processor/DaggerModuleAnnotationProcessor.java
  sdk/java/dagger-java-annotation-processor/src/test/java/io/dagger/annotation/processor/GenerateTest.java
  sdk/java/dagger-java-annotation-processor/src/test/resources/io/dagger/gen/entrypoint/Entrypoint.java
  sdk/java/runtime/main.go
  sdk/python/runtime/dagger.gen.go
  sdk/python/runtime/main.go
  sdk/python/src/dagger/mod/_analyzer/registration.py
  sdk/typescript/runtime/config.go
  sdk/typescript/runtime/introspector.go
  sdk/typescript/runtime/main.go
  sdk/typescript/runtime/runtime_bun.go
  sdk/typescript/runtime/runtime_deno.go
  sdk/typescript/runtime/runtime_node.go
  sdk/typescript/src/module/entrypoint/register.ts
Owners: @dagger/sdk-java, @dagger/sdk-python, @dagger/sdk-typescript

Conservatively gate recipe IDs in SDK registration
  sdk/python/src/dagger/mod/_analyzer/registration.py
  sdk/typescript/src/module/entrypoint/register.ts
Owners: @dagger/sdk-python, @dagger/sdk-typescript

Simplify scoped recipe ID handling
  core/interface.go
  core/modulesource.go
  core/query.go
  dagql/objects.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
