Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

core/modules: add legacyCodegenAtRuntime codegen config field
  core/modules/codegen_config_test.go
  core/modules/config.go
  docs/static/reference/dagger.schema.json
Owners: @dagger/docs

feat: add schema merge tool for codegen
  core/integration/schematool_test.go
  core/schema/coremod.go
  core/schema/schematool.go
  core/schematool.go
  core/schematool_test.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger.html
  docs/static/reference/php/Dagger/Schema.html
  docs/static/reference/php/Dagger/SchemaId.html
  docs/static/reference/php/classes.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  docs/static/reference/php/doctum.js
  sdk/elixir/lib/dagger/gen/binding.ex
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/elixir/lib/dagger/gen/env.ex
  sdk/elixir/lib/dagger/gen/schema.ex
  sdk/elixir/lib/dagger/gen/schema_id.ex
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/php/generated/Binding.php
  sdk/php/generated/Client.php
  sdk/php/generated/Env.php
  sdk/php/generated/Schema.php
  sdk/php/generated/SchemaId.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

go: fix Go self-call schema names and cover dependency use (#2)
  cmd/codegen/generator/go/templates/introspect_emit.go
  core/integration/module_self_calls_test.go
  core/integration/testdata/modules/go/self-calls-as-dep/dagger.json
  core/integration/testdata/modules/go/self-calls-as-dep/dep/dagger.json
  core/integration/testdata/modules/go/self-calls-as-dep/dep/main.go
  core/integration/testdata/modules/go/self-calls-as-dep/main.go
  core/integration/testdata/modules/go/self-calls-transitive/dagger.json
  core/integration/testdata/modules/go/self-calls-transitive/main.go
  core/integration/testdata/modules/go/self-calls-transitive/middle/dagger.json
  core/integration/testdata/modules/go/self-calls-transitive/middle/dep/dagger.json
  core/integration/testdata/modules/go/self-calls-transitive/middle/dep/main.go
  core/integration/testdata/modules/go/self-calls-transitive/middle/main.go
  core/integration/testdata/modules/go/self-calls/main.go
Owners: none

go: match engine name casing for self-call enum values, args and types
  cmd/codegen/generator/go/templates/introspect_emit.go
  cmd/codegen/generator/go/templates/introspect_emit_test.go
  core/integration/module_self_calls_test.go
  core/integration/testdata/modules/go/self-calls/main.go
Owners: none

core/sdk/go_sdk: skip codegen at runtime when opted in
  core/sdk/go_sdk.go
  dagql/idtui/testdata/TestTelemetry/TestGolden/broken-dep/use-broken
  dagql/idtui/testdata/TestTelemetry/TestGolden/broken/broken
Owners: none

test: add e2e tests for legacyCodegenAtRuntime config
  core/integration/module_runtime_codegen_test.go
Owners: none

core: gate no-runtime-codegen on engine version compatibility
  core/integration/module_runtime_codegen_test.go
  core/sdk/go_sdk.go
Owners: none

core: add File.extract archive API
  core/archive_extract.go
  core/archive_extract_test.go
  core/directory.go
  core/schema/file.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/File.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  go.mod
  go.sum
  sdk/elixir/lib/dagger/gen/file.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/File.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

Add GitRef bare repository API
  core/git.go
  core/git_bare.go
  core/git_bare_test.go
  core/git_local.go
  core/git_remote.go
  core/integration/git_test.go
  core/schema/git.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

docs: make internal links relocatable
  docs/current_docs/adopting/scaling/index.mdx
  docs/current_docs/adopting/triggers/argo-workflows.mdx
  docs/current_docs/adopting/triggers/aws-codebuild.mdx
  docs/current_docs/adopting/triggers/azure-pipelines.mdx
  docs/current_docs/adopting/triggers/circleci.mdx
  docs/current_docs/adopting/triggers/github-actions.mdx
  docs/current_docs/adopting/triggers/gitlab.mdx
  docs/current_docs/adopting/triggers/index.mdx
  docs/current_docs/adopting/triggers/jenkins.mdx
  docs/current_docs/adopting/triggers/teamcity.mdx
  docs/current_docs/adopting/triggers/tekton.mdx
  docs/current_docs/adopting/workspace-setup.mdx
  docs/current_docs/extending/how-dagger-works/execution.mdx
  docs/current_docs/extending/index.mdx
  docs/current_docs/extending/sdks/dang.mdx
  docs/current_docs/extending/sdks/go.mdx
  docs/current_docs/extending/sdks/index.mdx
  docs/current_docs/extending/sdks/python.mdx
  docs/current_docs/extending/sdks/typescript.mdx
  docs/current_docs/extending/type-system/arguments-and-return-values.mdx
  docs/current_docs/extending/type-system/core-types.mdx
  docs/current_docs/extending/type-system/index.mdx
  docs/current_docs/extending/type-system/scalars-lists-nullability-defaults.mdx
  docs/current_docs/extending/type-system/type-design-clinics.mdx
  docs/current_docs/extending/types/directory.mdx
  docs/current_docs/getting-started/index.mdx
  docs/current_docs/getting-started/quickstart.mdx
  docs/current_docs/index.mdx
  docs/current_docs/reference/configuration/cloud.mdx
  docs/current_docs/reference/configuration/workspace.mdx
  docs/current_docs/using-dagger/calling-functions.mdx
  docs/current_docs/using-dagger/checking.mdx
  docs/current_docs/using-dagger/generating.mdx
Owners: @dagger/docs

Regenerate GitRef bare API clients
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/GitRef.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/git_ref.ex
  sdk/php/generated/GitRef.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

fix(docs): constrain sidebar search button
  docs/src/css/custom.scss
Owners: @dagger/docs

feat(docs): load Dagger product fonts
  docs/docusaurus.config.ts
  docs/src/css/custom.scss
Owners: @dagger/docs

docs: pixel push, color tweaks
  docs/src/components/api/styles.module.scss
  docs/src/css/custom.scss
Owners: @dagger/docs

fix: preserve namespaced module type names
  core/enum.go
  core/gqlformat.go
  core/gqlformat_test.go
  core/integration/module_dang_test.go
  core/integration/workspace_test.go
  core/interface.go
  core/module.go
  core/object.go
  core/sdk/dang_helpers.go
  core/typedef.go
  core/typedef_results.go
Owners: none

fix(core): preserve pending lazy container parents
  core/integration/engine_persistence_test.go
  core/schema/container.go
Owners: none

dagql: peek workspace generators include patterns
  dagql/request_peek.go
  dagql/request_peek_test.go
Owners: none

engine/server: narrow workspace module loading for dagger generate
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

core/integration: cover dagger generate module-loading narrowing
  core/integration/generators_test.go
  core/integration/testdata/workspaces/generators-broken/.dagger/modules/bad/dagger.json
  core/integration/testdata/workspaces/generators-broken/.dagger/modules/bad/main.dang
  core/integration/testdata/workspaces/generators-broken/.dagger/modules/good/dagger.json
  core/integration/testdata/workspaces/generators-broken/.dagger/modules/good/main.dang
  core/integration/testdata/workspaces/generators-broken/dagger.toml
Owners: none

test(telemetry): group GitHub PR ref label cases
  engine/telemetry/labels_test.go
Owners: none

fix(telemetry): gate PR merge parent lookup on GitHub SHA
  engine/telemetry/labels.go
Owners: none

fix(telemetry): don't shallow-clone the user's repo for git labels
  engine/telemetry/labels.go
  engine/telemetry/labels_test.go
Owners: none

test(telemetry): cover GitHub PR merge checkout labels
  engine/telemetry/labels_test.go
Owners: none

Only load requested workspace files
  core/schema/workspace.go
Owners: none

engine/server: narrow workspace module loading for dagger generate
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

engine: add TOML value type and File.asTOML
  .changes/unreleased/Added-20260605-094408.yaml
  core/file.go
  core/ids.go
  core/integration/tomlvalue_test.go
  core/schema/coremod.go
  core/schema/file.go
  core/schema/query.go
  core/schema/tomlvalue.go
  core/schema/tomlvalue_test.go
  core/toml.go
  core/tomlpath/tomlpath.go
  core/tomlpath/tomlpath_test.go
  core/tomlvalue.go
  core/workspace/config_document.go
Owners: none

dagql: peek workspace generators include patterns
  dagql/request_peek.go
  dagql/request_peek_test.go
Owners: none

core/integration: cover dagger generate module-loading narrowing
  core/integration/generators_test.go
  core/integration/testdata/workspaces/generators-broken/.dagger/modules/bad/dagger.json
  core/integration/testdata/workspaces/generators-broken/.dagger/modules/bad/main.dang
  core/integration/testdata/workspaces/generators-broken/.dagger/modules/good/dagger.json
  core/integration/testdata/workspaces/generators-broken/.dagger/modules/good/main.dang
  core/integration/testdata/workspaces/generators-broken/dagger.toml
Owners: none

sdk: regenerate clients for TOML support
  cmd/codegen/generator/go/templates/lint_name.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger.html
  docs/static/reference/php/Dagger/Binding.html
  docs/static/reference/php/Dagger/Client.html
  docs/static/reference/php/Dagger/Env.html
  docs/static/reference/php/Dagger/TOML.html
  docs/static/reference/php/Dagger/TOMLValue.html
  docs/static/reference/php/Dagger/TOMLValueId.html
  docs/static/reference/php/classes.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  docs/static/reference/php/doctum.js
  docs/static/reference/php/traits.html
  sdk/elixir/lib/dagger/gen/binding.ex
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/elixir/lib/dagger/gen/env.ex
  sdk/elixir/lib/dagger/gen/file.ex
  sdk/elixir/lib/dagger/gen/toml.ex
  sdk/elixir/lib/dagger/gen/toml_value.ex
  sdk/elixir/lib/dagger/gen/toml_value_id.ex
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/php/generated/Binding.php
  sdk/php/generated/Client.php
  sdk/php/generated/Env.php
  sdk/php/generated/File.php
  sdk/php/generated/TOML.php
  sdk/php/generated/TOMLValue.php
  sdk/php/generated/TOMLValueId.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

core/modules: add legacyCodegenAtRuntime codegen config field
  core/modules/codegen_config_test.go
  core/modules/config.go
  docs/static/reference/dagger.schema.json
Owners: @dagger/docs

feat: add schema merge tool for codegen
  core/integration/schematool_test.go
  core/schema/coremod.go
  core/schema/schematool.go
  core/schematool.go
  core/schematool_test.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger.html
  docs/static/reference/php/Dagger/Schema.html
  docs/static/reference/php/Dagger/SchemaId.html
  docs/static/reference/php/classes.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  docs/static/reference/php/doctum.js
  sdk/elixir/lib/dagger/gen/binding.ex
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/elixir/lib/dagger/gen/env.ex
  sdk/elixir/lib/dagger/gen/schema.ex
  sdk/elixir/lib/dagger/gen/schema_id.ex
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/php/generated/Binding.php
  sdk/php/generated/Client.php
  sdk/php/generated/Env.php
  sdk/php/generated/Schema.php
  sdk/php/generated/SchemaId.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

cmd/codegen/generator/go: emit empty-parentName module dispatch
  cmd/codegen/generator/go/templates/module_enums.go
  cmd/codegen/generator/go/templates/module_funcs.go
  cmd/codegen/generator/go/templates/module_interfaces.go
  cmd/codegen/generator/go/templates/module_objects.go
  cmd/codegen/generator/go/templates/module_types.go
  cmd/codegen/generator/go/templates/modules.go
Owners: none

core/sdk/go_sdk: skip codegen at runtime when opted in
  core/sdk/go_sdk.go
  dagql/idtui/testdata/TestTelemetry/TestGolden/broken-dep/use-broken
  dagql/idtui/testdata/TestTelemetry/TestGolden/broken/broken
Owners: none

cmd/codegen + core: single-pass Go codegen, drop moduleTypes
  cmd/codegen/generate_module.go
  cmd/codegen/generator/config.go
  cmd/codegen/generator/go/generate_module.go
  cmd/codegen/generator/go/templates/functions.go
  cmd/codegen/generator/go/templates/introspect_emit.go
  cmd/codegen/generator/go/templates/introspect_emit_test.go
  core/schema/modulesource.go
  core/sdk/go_sdk.go
Owners: none

test: add e2e tests for legacyCodegenAtRuntime config
  core/integration/module_runtime_codegen_test.go
Owners: none

engine/server: narrow workspace module loading by include patterns
  engine/opts.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

cmd/dagger: scope generate module loading to requested generators
  cmd/dagger/generators.go
  engine/client/client.go
Owners: none

go: fix Go self-call schema names and cover dependency use (#2)
  cmd/codegen/generator/go/templates/introspect_emit.go
  core/integration/module_self_calls_test.go
  core/integration/testdata/modules/go/self-calls-as-dep/dagger.json
  core/integration/testdata/modules/go/self-calls-as-dep/dep/dagger.json
  core/integration/testdata/modules/go/self-calls-as-dep/dep/main.go
  core/integration/testdata/modules/go/self-calls-as-dep/main.go
  core/integration/testdata/modules/go/self-calls-transitive/dagger.json
  core/integration/testdata/modules/go/self-calls-transitive/main.go
  core/integration/testdata/modules/go/self-calls-transitive/middle/dagger.json
  core/integration/testdata/modules/go/self-calls-transitive/middle/dep/dagger.json
  core/integration/testdata/modules/go/self-calls-transitive/middle/dep/main.go
  core/integration/testdata/modules/go/self-calls-transitive/middle/main.go
  core/integration/testdata/modules/go/self-calls/main.go
Owners: none

go: match engine name casing for self-call enum values, args and types
  cmd/codegen/generator/go/templates/introspect_emit.go
  cmd/codegen/generator/go/templates/introspect_emit_test.go
  core/integration/module_self_calls_test.go
  core/integration/testdata/modules/go/self-calls/main.go
Owners: none

docs: regenerate PHP reference for Schema type after rebase
  docs/static/reference/php/Dagger/Binding.html
  docs/static/reference/php/Dagger/Client.html
  docs/static/reference/php/Dagger/Env.html
  docs/static/reference/php/traits.html
Owners: @dagger/docs
