Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

test(cli): sync the rewind test's cancel cause
  internal/cmd/dagger/session_agent_test.go
Owners: none

chore: regen agent sdk and docs
  docs/current_docs/reference/cli/index.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Agent.html
  docs/static/reference/php/Dagger/AgentMessage.html
  docs/static/reference/php/Dagger/LLM.html
  docs/static/reference/php/Dagger/LLMMessageOrigin.html
  docs/static/reference/php/Dagger/LLMMessageOriginInput.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/agent.ex
  sdk/elixir/lib/dagger/gen/agent_message.ex
  sdk/elixir/lib/dagger/gen/llm.ex
  sdk/elixir/lib/dagger/gen/llm_message_origin.ex
  sdk/elixir/lib/dagger/gen/llm_message_origin_input.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Agent.php
  sdk/php/generated/AgentMessage.php
  sdk/php/generated/LLM.php
  sdk/php/generated/LLMMessageOrigin.php
  sdk/php/generated/LLMMessageOriginInput.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

core/agent: add waitSettled
  core/agent.go
  core/schema/agent.go
Owners: none

fix(java): escape inherited object method names
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/Helpers.java
  sdk/java/dagger-codegen-maven-plugin/src/test/java/io/dagger/codegen/introspection/ObjectMethodNamesTest.java
Owners: @dagger/sdk-java

sdk/python: render list-of-enum default values
  sdk/python/codegen/src/codegen/generator.py
Owners: @dagger/sdk-python

refactor(core): consolidate the agent runtime API
  core/agent.go
  core/agent_messaging_test.go
  core/integration/agent_notify_test.go
  core/integration/agent_runtime_test.go
  core/llm.go
  core/schema/agent.go
  core/schema/llm.go
  dagql/dagui/agents.go
  dagql/dagui/spans.go
  dagql/dagui/spans_test.go
  dagql/idtui/conversation_report_test.go
  dagql/idtui/frontend_pretty_test.go
  engine/telemetryattrs/attrs.go
  hack/designs/resume-from-trace.md
  internal/cmd/dagger/restore.go
  internal/cmd/dagger/session_agent.go
Owners: none

test(core): await array member payload
  core/integration/callid_rebuild_test.go
  hack/designs/async-agents.md
Owners: none

core/agent: pair replies with replyTo
  core/agent.go
  core/schema/agent.go
Owners: none

sdk: load every ID handle as its expected type
  cmd/codegen/generator/functions.go
  cmd/codegen/generator/go/templates/functions.go
  cmd/codegen/generator/go/templates/object_test.go
  cmd/codegen/generator/go/templates/src/_types/interface.go.tmpl
  cmd/codegen/generator/go/templates/src/_types/legacy_interface.go.tmpl
  cmd/codegen/generator/go/templates/src/_types/object.go.tmpl
  cmd/codegen/generator/go/templates/src/_types/object_fields.go.tmpl
  cmd/codegen/generator/id_handle_test.go
  cmd/codegen/generator/typescript/templates/functions.go
  cmd/codegen/generator/typescript/templates/src/_method_solve_body.ts.gtpl
  cmd/codegen/generator/typescript/templates/src/object_test.go
  sdk/elixir/dagger_codegen/lib/dagger/codegen.ex
  sdk/elixir/dagger_codegen/lib/dagger/codegen/elixir_generator/object_renderer.ex
  sdk/elixir/dagger_codegen/lib/dagger/codegen/introspection/types/type.ex
  sdk/elixir/dagger_codegen/test/dagger/codegen/elixir_generator/object_renderer_test.exs
  sdk/elixir/dagger_codegen/test/dagger/codegen_test.exs
  sdk/elixir/dagger_codegen/test/fixtures/objects/id-handle.json
  sdk/elixir/dagger_codegen/test/support/renderer_case.ex
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/Helpers.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/InterfaceVisitor.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/ObjectVisitor.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/Schema.java
  sdk/java/dagger-codegen-maven-plugin/src/test/java/io/dagger/codegen/introspection/InterfaceVisitorTest.java
  sdk/php/src/Codegen/Codegen.php
  sdk/php/src/Codegen/Introspection/IntrospectionField.php
  sdk/php/src/Codegen/Introspection/IntrospectionSchema.php
  sdk/php/src/Codegen/Introspection/NewCodegenVisitor.php
  sdk/php/tests/Unit/Codegen/IntrospectionFieldTest.php
  sdk/php/tests/Unit/Codegen/IntrospectionSchemaTest.php
  sdk/python/codegen/src/codegen/generator.py
  sdk/python/src/dagger/client/_core.py
  sdk/python/tests/codegen/test_generator.py
  sdk/rust/crates/dagger-codegen/src/functions.rs
  sdk/rust/crates/dagger-codegen/src/lib.rs
  sdk/rust/crates/dagger-codegen/src/rust/functions.rs
  sdk/rust/crates/dagger-codegen/src/rust/mod.rs
  sdk/rust/crates/dagger-codegen/src/rust/templates/interface_tmpl.rs
Owners: @dagger/sdk-elixir, @dagger/sdk-java, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust

idtui: style agent and event message origins
  core/agent_messaging_test.go
  core/llm.go
  dagql/dagui/spans.go
  dagql/dagui/spans_test.go
  dagql/idtui/conversation_report_test.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_pretty_test.go
  engine/telemetryattrs/attrs.go
  hack/designs/agent-messaging.md
  hack/designs/async-agents.md
  skills/tui-surfacing/SKILL.md
Owners: none

refactor(core): tighten agent runtime API
  core/agent.go
  core/agent_messaging_test.go
  core/agent_telemetry.go
  core/agent_telemetry_test.go
  core/integration/agent_notify_test.go
  core/integration/agent_roster_skills_test.go
  core/integration/agent_runtime_test.go
  core/integration/testdata/modules/dang/agent-hirer/main.dang
  core/llm.go
  core/schema/agent.go
  core/schema/llm.go
  dagql/dagui/agents.go
  dagql/dagui/agents_test.go
  dagql/dagui/conversation.go
  dagql/dagui/spans.go
  dagql/idtui/agent_focus_test.go
  dagql/idtui/agent_roster.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/trace_import_test.go
  hack/designs/agent-messaging.md
  hack/designs/async-agents.md
  hack/designs/notes/recommendation.md
  hack/designs/resume-from-trace.md
  internal/cmd/dagger/agent.go
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/restore.go
  internal/cmd/dagger/restore_test.go
  internal/cmd/dagger/session_agent.go
  internal/cmd/dagger/session_agent_test.go
  internal/cmd/dagger/shell.go
Owners: none

sdk: drop the ID handle version gate
  cmd/codegen/generator/functions.go
  cmd/codegen/generator/go/templates/object_test.go
  cmd/codegen/generator/id_handle_test.go
  cmd/codegen/generator/typescript/templates/src/object_test.go
  hack/designs/async-agents.md
  sdk/elixir/dagger_codegen/lib/dagger/codegen.ex
  sdk/elixir/dagger_codegen/lib/dagger/codegen/elixir_generator/object_renderer.ex
  sdk/elixir/dagger_codegen/lib/dagger/codegen/introspection/types/type.ex
  sdk/elixir/dagger_codegen/test/dagger/codegen/elixir_generator/object_renderer_test.exs
  sdk/elixir/dagger_codegen/test/dagger/codegen_test.exs
  sdk/elixir/dagger_codegen/test/support/renderer_case.ex
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/Helpers.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/InterfaceVisitor.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/ObjectVisitor.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/Schema.java
  sdk/java/dagger-codegen-maven-plugin/src/test/java/io/dagger/codegen/introspection/InterfaceVisitorTest.java
  sdk/php/src/Codegen/Codegen.php
  sdk/php/src/Codegen/Introspection/IntrospectionField.php
  sdk/php/src/Codegen/Introspection/IntrospectionSchema.php
  sdk/php/src/Codegen/Introspection/NewCodegenVisitor.php
  sdk/php/tests/Unit/Codegen/IntrospectionFieldTest.php
  sdk/php/tests/Unit/Codegen/IntrospectionSchemaTest.php
  sdk/python/codegen/src/codegen/generator.py
  sdk/python/tests/codegen/test_generator.py
  sdk/rust/crates/dagger-codegen/src/functions.rs
  sdk/rust/crates/dagger-codegen/src/lib.rs
Owners: @dagger/sdk-elixir, @dagger/sdk-java, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust

core/agent: refuse waits that would deadlock
  core/agent.go
Owners: none

sdk,docs: regenerate for ID handles
  core/integration/agent_runtime_test.go
  core/integration/testdata/modules/go/agent-hirer/main.go
  core/schema/agent.go
  core/schema/llm.go
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Agent.html
  docs/static/reference/php/Dagger/LLM.html
  hack/designs/async-agents.md
  internal/cmd/dagger/session_agent.go
  sdk/elixir/lib/dagger/gen/agent.ex
  sdk/elixir/lib/dagger/gen/llm.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Agent.php
  sdk/php/generated/Changeset.php
  sdk/php/generated/Container.php
  sdk/php/generated/Directory.php
  sdk/php/generated/File.php
  sdk/php/generated/LLM.php
  sdk/php/generated/Module.php
  sdk/php/generated/ModuleSource.php
  sdk/php/generated/Service.php
  sdk/php/generated/SyncerClient.php
  sdk/php/generated/Terminal.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

refactor(idtui): extract zoom header rendering
  dagql/idtui/frontend_pretty.go
Owners: none

sdk/rust: return Self from interface ID handles
  sdk/rust/crates/dagger-codegen/src/lib.rs
  sdk/rust/crates/dagger-codegen/src/rust/templates/interface_tmpl.rs
  sdk/rust/crates/dagger-sdk/src/gen.rs
Owners: @dagger/sdk-rust

core/llm: record message provenance
  core/agent.go
  core/agent_context.go
  core/llm.go
  core/modfunc.go
  core/schema/llm.go
  core/typedef.go
Owners: none

sdk/java: load ID handles as their expected type
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/Helpers.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/InterfaceVisitor.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/ObjectVisitor.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/Schema.java
  sdk/java/dagger-java-sdk/src/main/java/io/dagger/client/QueryBuilder.java
Owners: @dagger/sdk-java

core/agent: do not project IDLE during a relaunch
  core/agent.go
  core/agent_messaging_test.go
  core/integration/agent_notify_test.go
  hack/designs/agent-messaging.md
Owners: none

designs: draft non-blocking agent messaging
  hack/designs/agent-messaging.md
  hack/designs/async-agents.md
Owners: none

core/agent: deliver lifecycle events with notify
  core/agent.go
  core/agent_messaging_test.go
  core/schema/agent.go
Owners: none

test(core): wait for the dismissal to reach the trace
  core/integration/agent_restore_test.go
  core/integration/agent_runtime_test.go
Owners: none

chore: regen agent sdk and docs
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Agent.html
  docs/static/reference/php/Dagger/LLM.html
  docs/static/reference/php/Dagger/LLMMessageOrigin.html
  docs/static/reference/php/Dagger/LLMMessageOriginInput.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/agent.ex
  sdk/elixir/lib/dagger/gen/llm.ex
  sdk/elixir/lib/dagger/gen/llm_message_origin.ex
  sdk/elixir/lib/dagger/gen/llm_message_origin_input.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Agent.php
  sdk/php/generated/LLM.php
  sdk/php/generated/LLMMessageOrigin.php
  sdk/php/generated/LLMMessageOriginInput.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

cloud: speak Cloud's binary OTLP stream protocol
  core/integration/agent_restore_test.go
  dagql/idtui/trace_fetch_test.go
  internal/cloud/otlp.go
  internal/cloud/otlp_test.go
  internal/cloud/otlpstream/framing.go
  internal/cloud/stats.go
Owners: none

fix(core): pass moduleLocal to the agents exclude filter
  core/schema/workspace.go
Owners: none

tui(agent): restore focus after exiting form
  dagql/idtui/frontend_form_focus_test.go
  dagql/idtui/frontend_pretty.go
Owners: none

chore: regen after rebasing on main
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/AgentMiddleware.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/agent_middleware.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/AgentMiddleware.php
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-typescript

test(core): wait for anchors to rebuild before capturing
  core/integration/agent_restore_test.go
  core/integration/agent_runtime_test.go
Owners: none

fix(workspace): skip seeded overlay parents
  core/integration/workspace_overlay_layers_test.go
  core/schema/workspace.go
Owners: none

use dang-sdk and go-sdk 0.1
  dagger.toml
Owners: none

ci: load dang-sdk and go-sdk at versions 0.1
  dagger.toml
Owners: none

ci: load dang-sdk and go-sdk at versions 0.1 (#14123)
  dagger.toml
Owners: none

docs: remove environments from workspace configuration docs
  docs/current_docs/config/environments.mdx
  docs/current_docs/config/index.mdx
  docs/current_docs/config/user.mdx
  docs/current_docs/reference/config-files/dagger-toml.mdx
  docs/current_docs/using/checking.mdx
  docs/sidebars.ts
Owners: @dagger/docs

docs: clean up dagger.json migration article
  docs/current_docs/config/migrate-dagger-json.mdx
Owners: @dagger/docs

fix(directory): reuse existing mkdir results
  core/directory.go
  core/integration/directory_mkdir_test.go
Owners: none

fix(secrets): trim command output newlines
  .changes/unreleased/Fixed-20260906-010000.yaml
  core/integration/address_test.go
  engine/client/secretprovider/cmd.go
  engine/client/secretprovider/cmd_test.go
Owners: none

fix(dagql): hide incomplete interface claims
  dagql/dagql_test.go
  dagql/objects.go
Owners: none

fix(git): preserve detached heads in bundles
  core/git_bundle.go
  core/git_bundle_test.go
Owners: none

feat(api): expose the current timestamp
  .changes/unreleased/Added-20260905-235900.yaml
  core/integration/engine_test.go
  core/schema/query.go
  docs/docs-graphql/schema.graphqls
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/php/generated/Client.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

feat(workspace): export integrated git changes
  .changes/unreleased/Added-20260905-200000.yaml
  core/integration/testdata/modules/go/workspace-export-sandbox/main.go
  core/integration/workspace_api_test.go
  core/integration/workspace_export_test.go
  core/schema/workspace.go
  core/schema/workspace_export.go
  core/schema/workspace_pull.go
  core/workspace.go
  core/workspace_export.go
  engine/engineutil/git_apply.go
  engine/session/git/git_apply.go
  engine/session/git/git_apply_integration.go
  engine/session/git/git_apply_integration_test.go
  engine/session/git/git_apply_test.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go
