Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

Stabilize tar export, module output reads, and tunnel service lifetime
  core/container_image.go
  core/modfunc.go
  core/service.go
  core/services.go
  scratch/WHITEBOARD.md
Owners: none

docs: rewrite artifacts.md intro for clarity
  hack/designs/modules-v2/artifacts.md
Owners: none

docs/modules-v2: simplify ship design doc
  hack/designs/modules-v2/ship.md
Owners: none

docs: add artifacts core concept page
  docs/current_docs/introduction/core-concepts/artifacts.mdx
  docs/current_docs/introduction/core-concepts/index.mdx
  docs/sidebars.ts
Owners: @dagger/docs

docs: rename artifacts filter API
  hack/designs/modules-v2/README.md
  hack/designs/modules-v2/collections.md
  hack/designs/modules-v2/plans.md
  hack/designs/modules-v2/provenance.md
Owners: none

docs/modules-v2: define ship semantics and caching
  hack/designs/modules-v2/ship.md
Owners: none

docs: tighten artifacts docs page
  docs/current_docs/introduction/core-concepts/artifacts.mdx
Owners: @dagger/docs

docs: reshape provenance around WorkspaceProvenance
  hack/designs/modules-v2/provenance.md
Owners: none

docs: restructure artifacts.md design spec
  hack/designs/modules-v2/artifacts.md
Owners: none

Record the rebuilt db59252ad workspace merge plan
  scratch/WHITEBOARD.md
Owners: none

fix: cancel sibling services on startup failure in dagger up
  core/integration/testdata/services/partial-failure/dagger.json
  core/integration/testdata/services/partial-failure/go.mod
  core/integration/testdata/services/partial-failure/go.sum
  core/integration/testdata/services/partial-failure/main.go
  core/integration/up_test.go
  core/modtree.go
  core/up.go
  dagger.json
Owners: none

docs: refine provenance pruning model
  hack/designs/modules-v2/provenance.md
Owners: none

docs: revise artifacts around type and action paths
  hack/designs/modules-v2/README.md
  hack/designs/modules-v2/artifacts.md
  hack/designs/modules-v2/collections.md
  hack/designs/modules-v2/plans.md
Owners: none

docs: fix artifact and collection examples
  hack/designs/modules-v2/artifacts.md
  hack/designs/modules-v2/collections.md
Owners: none

docs: clarify narrowed conservative provenance
  hack/designs/modules-v2/provenance.md
Owners: none

docs/modules-v2: refine ship definition
  hack/designs/modules-v2/ship.md
Owners: none

docs: polish provenance design
  hack/designs/modules-v2/provenance.md
Owners: none

mermaid diagram
  hack/designs/modules-v2/README.md
Owners: none

docs: align ship examples with type filters
  hack/designs/modules-v2/ship.md
Owners: none

test: add service binding deduplication integration test
  core/integration/testdata/services/service-binding/dagger.json
  core/integration/testdata/services/service-binding/go.mod
  core/integration/testdata/services/service-binding/go.sum
  core/integration/testdata/services/service-binding/main.go
  core/integration/up_test.go
  dagger.json
Owners: none

fix: scope asModule cache per-session to prevent cross-worktree collision
  core/schema/modulesource.go
Owners: none

add doc string for failfast
  core/schema/checks.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  sdk/go/dagger.gen.go
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

docs: add collection presence filter aliases
  hack/designs/modules-v2/artifacts.md
  hack/designs/modules-v2/collections.md
Owners: none

add --failfast flag for `dagger check` and WithFailFast in util/parallel (#11956)
  cmd/dagger/checks.go
  cmd/dagger/checks.graphql
  core/checks.go
  core/integration/checks_test.go
  core/schema/checks.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/CheckGroup.html
  sdk/go/dagger.gen.go
  sdk/php/generated/CheckGroup.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
  util/parallel/parallel.go
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

fix: apply Expand to RedirectStdout/Stderr/Stdin paths in WithExec
  core/integration/container_test.go
  core/schema/container.go
Owners: none

fix: apply Expand to RedirectStdout/Stderr/Stdin paths in WithExec (#12846)
  core/integration/container_test.go
  core/schema/container.go
Owners: none

core: add volatile container variables
  core/container.go
  core/container_exec.go
  core/healthcheck.go
  core/integration/container_test.go
  core/schema/container.go
  core/service.go
  docs/current_docs/cookbook/containers.mdx
  docs/current_docs/extending/modules/function-caching.mdx
  docs/current_docs/partials/types/_container.mdx
  docs/docs-graphql/schema.graphqls
  sdk/go/dagger.gen.go
Owners: @dagger/docs, @dagger/sdk-go

docs: clarify conservative provenance tradeoff
  hack/designs/modules-v2/provenance.md
Owners: none

feat(rust/sdk): provide a builder for Config
  sdk/rust/crates/dagger-sdk/src/client.rs
  sdk/rust/crates/dagger-sdk/src/core/config.rs
Owners: @dagger/sdk-rust

test(sdk/rust): add a test for execute_timeout
  sdk/rust/crates/dagger-sdk/tests/mod.rs
Owners: @dagger/sdk-rust

fix(sdk/rust): fix graphql error parsing
  sdk/rust/crates/dagger-sdk/src/core/gql_client.rs
  sdk/rust/crates/dagger-sdk/src/core/graphql_client.rs
  sdk/rust/crates/dagger-sdk/tests/mod.rs
Owners: @dagger/sdk-rust

fix(sdk/rust): handle timeout/execute_timeout in Config
  sdk/rust/crates/dagger-sdk/src/client.rs
  sdk/rust/crates/dagger-sdk/src/core/gql_client.rs
  sdk/rust/crates/dagger-sdk/src/core/graphql_client.rs
Owners: @dagger/sdk-rust

chore(sdk/rust): clippy lints
  sdk/rust/crates/dagger-codegen/src/functions.rs
  sdk/rust/crates/dagger-sdk/src/core/mod.rs
  sdk/rust/crates/dagger-sdk/src/core/version.rs
  toolchains/rust-sdk-dev/main.go
Owners: @dagger/sdk-rust

docs: move rollout planning out of component docs
  hack/designs/modules-v2/README.md
  hack/designs/modules-v2/artifacts.md
  hack/designs/modules-v2/collections.md
  hack/designs/modules-v2/plans.md
Owners: none

regen
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Container.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/go/dagger.gen.go
  sdk/php/generated/Container.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

fix: allow custom liveness/readiness probes in Helm chart
  helm/dagger/templates/engine-daemonset.yaml
  helm/dagger/templates/engine-statefulset.yaml
  helm/dagger/values.yaml
  toolchains/helm-dev/main.go
Owners: none

Add nameMatches helper func to simplify matching module and function names with kebab case in customizations
  core/integration/toolchain_test.go
  core/module.go
Owners: none

fix: handle glob matching in chained toolchain customizations
  core/integration/toolchain_test.go
  core/module.go
Owners: none

Provide additional info for .changes file (IDs)
  .changes/unreleased/Changed-20260305-133838.yaml
Owners: none

Switch to glob-pattern matching instead, much simpler
  core/integration/testdata/test-blueprint/hello/main.go
  core/integration/toolchain_test.go
Owners: none
