Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

feat(cli): support workspace approval prompts
  dagql/idtui/explicit_confirm.go
  dagql/idtui/frontend_command_view_test.go
  dagql/idtui/frontend_pretty.go
  engine/session/prompt/prompt.go
  engine/session/prompt/prompt.pb.go
  engine/session/prompt/prompt.proto
  engine/session/prompt/prompt_select_test.go
Owners: none

fix(dagql): hide incomplete interface claims
  dagql/dagql_test.go
  dagql/objects.go
Owners: none

tui-qa: console QoL — key validation, /wait, /toolset, real checkout (#420)
  .dagger/modules/tui-qa/main.dang
  .dagger/modules/tui-qa/skills/tui-qa/SKILL.md
  dagql/idtui/frontend_console.go
  dagql/idtui/frontend_console_test.go
  dagql/idtui/frontend_pretty.go
  internal/cmd/dagger/llm.go
  skills/tui-console/SKILL.md
Owners: none

feat(workspace): expose git metadata directory
  .changes/unreleased/Added-20260911-200000.yaml
  core/git_hostdir.go
  core/integration/workspace_git_directory_test.go
  core/schema/workspace.go
  core/schema/workspace_commit.go
  core/schema/workspace_export.go
  core/schema/workspace_pull.go
  core/schema/workspace_reset.go
Owners: none

perf(workspace): trace save composition phases
  core/git_bundle.go
  core/git_bundle_test.go
  core/git_local.go
  core/integration/tracesink_test.go
  core/schema/host.go
  core/schema/workspace_checkpoint.go
Owners: none

feat(git): approve delegated pushes per session
  .changes/unreleased/Added-20260906-020000.yaml
  core/agent_tool_context.go
  core/agent_tool_context_test.go
  core/git_push.go
  core/git_push_approval_test.go
  core/git_remote.go
  core/integration/git_push_approval_test.go
  core/mcp.go
  core/query.go
  core/schema/git.go
  core/schema/git_push.go
  core/schema/test_server_test.go
  core/telemetry_test.go
  engine/server/git_push.go
  engine/server/git_push_test.go
  engine/server/session.go
Owners: none

test(git): update checkout fixture remotes
  core/git_remote_test.go
Owners: none

test(workspace): own trace capture helper
  core/integration/tracesink_test.go
Owners: none

feat(workspace): integrate frozen git commits
  .changes/unreleased/Added-20260905-220000.yaml
  core/changeset.go
  core/integration/workspace_pull_test.go
  core/schema/workspace.go
  core/schema/workspace_pull.go
  core/workspace_commit_pick.go
  core/workspace_export.go
  core/workspace_pull.go
  core/workspace_pull_test.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

perf(git): bundle local objects without fetching
  core/git_bundle.go
  core/git_bundle_test.go
Owners: none

regen
  docs/docs-graphql/schema.graphqls
  sdk/elixir/lib/dagger/gen/changeset.ex
  sdk/elixir/lib/dagger/gen/git_ref.ex
  sdk/elixir/lib/dagger/gen/git_repository.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Changeset.php
  sdk/php/generated/GitRef.php
  sdk/php/generated/GitRepository.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

perf(workspace): reuse owned export history
  core/integration/workspace_export_test.go
  core/schema/git.go
  core/schema/workspace_checkpoint.go
  core/schema/workspace_export.go
  core/schema/workspace_test.go
  core/workspace_export.go
  core/workspace_pull_test.go
Owners: none

feat(workspace): add stable git snapshots
  .changes/unreleased/Added-20260905-120000.yaml
  .changes/unreleased/Fixed-20260905-210000.yaml
  .changes/unreleased/Fixed-20260906-011000.yaml
  core/git.go
  core/git_hostdir.go
  core/git_latest_test.go
  core/git_persistence_test.go
  core/integration/git_test.go
  core/integration/llm_test.go
  core/integration/workspace_checkpoint_test.go
  core/integration/workspace_write_directory_test.go
  core/schema/git.go
  core/schema/git_push.go
  core/schema/host.go
  core/schema/schema_test.go
  core/schema/workspace.go
  core/schema/workspace_checkpoint.go
  core/schema/workspace_checkpoint_prompt_test.go
  core/schema/workspace_module.go
  core/workspace.go
  dagql/objects.go
  dagql/recipe_classification.go
  dagql/recipe_classification_test.go
  engine/engineutil/git_capture.go
  engine/server/server.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
  engine/session/git/git.go
  engine/session/git/git.pb.go
  engine/session/git/git.proto
  engine/session/git/git_capture.go
  engine/session/git/git_capture_push_test.go
  engine/session/git/git_capture_test.go
  hack/designs/host-git-reconstruction.md
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/module_sdk_dynamic.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

perf(workspace): materialize save checkouts once
  core/integration/workspace_export_test.go
  core/integration/workspace_git_directory_test.go
  core/integration/workspace_git_legacy_test.go
  core/schema/workspace.go
  core/schema/workspace_commit.go
  core/schema/workspace_export.go
  engine/engineutil/git_apply.go
Owners: none

docs: describe workspace save optimizations
  hack/designs/workspace-save-performance.md
Owners: none

fix(agent): save without reloading conversations
  internal/cmd/dagger/agent.go
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/llm_changes_test.go
Owners: none

feat(git): preserve and register named remotes
  .changes/unreleased/Added-20260912-210000.yaml
  .changes/unreleased/Fixed-20260912-180000.yaml
  core/git.go
  core/git_bundle.go
  core/git_hostdir.go
  core/git_latest_test.go
  core/git_local.go
  core/git_persistence_test.go
  core/git_remote.go
  core/integration/git_push_test.go
  core/integration/git_test.go
  core/integration/workspace_git_directory_test.go
  core/schema/git.go
  core/schema/git_push.go
  core/schema/host.go
  core/schema/workspace_checkpoint.go
  core/schema/workspace_commit.go
  core/schema/workspace_export.go
  core/schema/workspace_test.go
  engine/session/git/git_config.go
  engine/session/git/git_test.go
  hack/designs/host-git-reconstruction.md
Owners: none

fix(docs): resolve new types across versions
  docs/src/components/api/data.ts
Owners: @dagger/docs

perf(workspace): shallow content-only checkouts
  core/git_remote_test.go
  core/integration/workspace_checkpoint_test.go
  core/schema/workspace_checkpoint.go
Owners: none

regen
  docs/docs-graphql/schema.graphqls
Owners: @dagger/docs

feat(cli): show and save workspace commits
  .changes/unreleased/Added-20260905-235500.yaml
  internal/cmd/dagger/agent.go
  internal/cmd/dagger/functions.go
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/llm_changes.go
  internal/cmd/dagger/llm_changes_test.go
  internal/cmd/dagger/shell.go
Owners: none

fix(workspace): offer drop for nested repositories
  core/schema/workspace_checkpoint.go
  core/schema/workspace_checkpoint_prompt_test.go
  engine/session/git/git_capture.go
  engine/session/git/git_capture_test.go
Owners: none

feat(workspace): reset frozen git workspaces
  .changes/unreleased/Added-20260908-000000.yaml
  core/integration/workspace_commit_test.go
  core/integration/workspace_git_author_test.go
  core/schema/workspace.go
  core/schema/workspace_reset.go
  core/schema/workspace_reset_test.go
  core/workspace_commit.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

feat(git): expose composable repository edits
  .changes/unreleased/Added-20260911-210000.yaml
  core/git_commit_create.go
  core/git_commit_create_test.go
  core/git_local_validate.go
  core/integration/git_refactor_test.go
  core/modulesource.go
  core/schema/directory.go
  core/schema/git.go
  core/schema/git_commit_create.go
  core/schema/workspace.go
  core/schema/workspace_commit.go
  core/schema/workspace_pull.go
  core/schema/workspace_reset.go
  core/schema/workspace_reset_test.go
  core/workspace_commit_test.go
Owners: none

fix(workspace): preserve cherry-pick messages
  core/integration/workspace_pull_test.go
  core/workspace_pull.go
  core/workspace_pull_test.go
Owners: none

regen
  docs/docs-graphql/schema.graphqls
  sdk/elixir/lib/dagger/gen/workspace_git.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/WorkspaceGit.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

feat(workspace): commit frozen git workspaces
  .changes/unreleased/Added-20260905-180000.yaml
  core/integration/workspace_commit_test.go
  core/integration/workspace_export_test.go
  core/integration/workspace_git_author_test.go
  core/schema/workspace.go
  core/schema/workspace_commit.go
  core/schema/workspace_commit_test.go
  core/workspace_commit.go
  core/workspace_commit_test.go
  engine/engineutil/client.go
  engine/session/git/git_config.go
  engine/session/git/git_test.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

feat(workspace): export integrated git changes
  .changes/unreleased/Added-20260905-200000.yaml
  core/integration/testdata/modules/go/workspace-export-sandbox/main.go
  core/integration/workspace_api_test.go
  core/integration/workspace_export_test.go
  core/schema/workspace.go
  core/schema/workspace_export.go
  core/schema/workspace_pull.go
  core/workspace.go
  core/workspace_export.go
  engine/engineutil/git_apply.go
  engine/session/git/git_apply.go
  engine/session/git/git_apply_integration.go
  engine/session/git/git_apply_integration_test.go
  engine/session/git/git_apply_test.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

fix(agent): show uncommitted edits in preview
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/llm_changes.go
  internal/cmd/dagger/llm_changes_test.go
Owners: none

feat(git): resolve abbreviated commit SHAs
  .changes/unreleased/Added-20260911-233000.yaml
  core/git.go
  core/git_local.go
  core/git_remote.go
  core/integration/git_test.go
  core/schema/git.go
  core/schema/testdata/base_schema.graphqls
  util/gitutil/commit.go
  util/gitutil/short_sha.go
  util/gitutil/short_sha_test.go
Owners: none

test(git): organize API coverage and use SDK
  core/integration/changeset_test.go
  core/integration/git_commit_test.go
  core/integration/git_refactor_test.go
  core/integration/git_repository_test.go
  core/integration/workspace_commit_test.go
  core/integration/workspace_git_directory_test.go
  core/integration/workspace_git_legacy_test.go
Owners: none

chore(gitutil): gofmt test file
  util/gitutil/short_sha_test.go
Owners: none

feat(cli): manage SSH agents for pushes
  .dagger/modules/engine-dev/test.go
  core/git_push.go
  core/integration/git_test.go
  engine/client/client.go
  engine/engineutil/git_push_auth.go
  engine/session/git/git.go
  engine/session/git/git_push_ssh.go
  engine/session/git/git_push_ssh_test.go
  internal/cmd/dagger/engine.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/ssh_askpass.go
  internal/cmd/dagger/ssh_askpass_test.go
Owners: none

feat(git): support author signoff on commits
  core/git_commit_create.go
  core/integration/git_commit_test.go
  core/integration/workspace_commit_test.go
  core/schema/git.go
  core/schema/git_commit_create.go
  core/schema/workspace.go
  core/schema/workspace_commit.go
  docs/docs-graphql/schema.graphqls
  sdk/elixir/lib/dagger/gen/git_ref.ex
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/GitRef.php
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

perf(workspace): reuse unchanged snapshot trees
  core/git_commit_create.go
  core/workspace_export.go
  core/workspace_pull.go
  core/workspace_pull_test.go
Owners: none

feat(workspace): export to an explicit checkout
  core/integration/testdata/modules/go/workspace-export-sandbox/main.go
  core/integration/workspace_export_test.go
  core/schema/workspace.go
  core/schema/workspace_export.go
  core/workspace_export.go
  core/workspace_pull.go
  core/workspace_pull_test.go
  docs/docs-graphql/schema.graphqls
  engine/session/git/git_apply_integration.go
  engine/session/git/git_apply_integration_test.go
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

feat(git): push refs with explicit leases
  .changes/unreleased/Added-20260905-230000.yaml
  core/git_push.go
  core/git_push_result.go
  core/git_push_test.go
  core/integration/git_push_test.go
  core/integration/git_test.go
  core/integration/services_test.go
  core/schema/git.go
  core/schema/git_push.go
  core/schema/git_push_test.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

core/mcp: exclude mounts from rebind summary
  core/integration/llm_object_tools_test.go
  core/integration/testdata/workspaces/workspace-tool-return/.dagger/modules/swapper/main.dang
  core/mcp.go
  core/mcp_test.go
  core/workspace.go
Owners: none

core: silence unparam on gitDiagnostics.wrap
  core/directory.go
Owners: none

core: keep git repo discovery out of patch apply
  core/directory.go
  core/directory_patch_test.go
  core/integration/directory_test.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
