Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

debug: bump unknown command CI marker 026
  core/integration/module_test.go
Owners: none

test: cover compat install migration guard
  core/integration/workspace_compat_test.go
  core/integration/workspace_migration_test.go
  core/integration/workspace_modules_test.go
Owners: none

debug: bump unknown command CI marker 027
  core/integration/module_test.go
Owners: none

debug: bump unknown command CI marker 028
  core/integration/module_test.go
Owners: none

fix(sdk/rust): generate list-of-object loaders via node(id:)
  sdk/rust/crates/dagger-codegen/src/rust/functions.rs
  sdk/rust/crates/dagger-sdk/src/gen.rs
Owners: @dagger/sdk-rust

debug: bump unknown command CI marker 029
  core/integration/module_test.go
Owners: none

debug: bump unknown command CI marker 030
  core/integration/module_test.go
Owners: none

debug: trim unknown command CI instrumentation
  cmd/dagger/functions.go
  core/object.go
  core/schema/module.go
  dagql/cache.go
Owners: none

debug: bump unknown command CI marker 032
  core/integration/module_test.go
Owners: none

debug: bump unknown command CI marker 033
  core/integration/module_test.go
Owners: none

debug: bump unknown command CI marker 034
  core/integration/module_test.go
Owners: none

debug: bump unknown command CI marker 035
  core/integration/module_test.go
Owners: none

chore: run dagger generate
  docs/current_docs/reference/cli/index.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger.html
  docs/static/reference/php/Dagger/Binding.html
  docs/static/reference/php/Dagger/Client.html
  docs/static/reference/php/Dagger/Env.html
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/Dagger/WorkspaceModuleSetting.html
  docs/static/reference/php/Dagger/WorkspaceModuleSettingId.html
  docs/static/reference/php/classes.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  docs/static/reference/php/doctum.js
  docs/static/reference/php/traits.html
  sdk/elixir/lib/dagger/gen/binding.ex
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/elixir/lib/dagger/gen/env.ex
  sdk/elixir/lib/dagger/gen/module_source.ex
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/elixir/lib/dagger/gen/workspace_module.ex
  sdk/elixir/lib/dagger/gen/workspace_module_setting.ex
  sdk/elixir/lib/dagger/gen/workspace_module_setting_id.ex
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/php/generated/Binding.php
  sdk/php/generated/Client.php
  sdk/php/generated/Env.php
  sdk/php/generated/Workspace.php
  sdk/php/generated/WorkspaceModule.php
  sdk/php/generated/WorkspaceModuleSetting.php
  sdk/php/generated/WorkspaceModuleSettingId.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
  single-query-workspace-module-loading.md
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

test(sdk/python): avoid shadowing type names in property fixtures (#13196)
  sdk/python/tests/mod/_strategies.py
Owners: @dagger/sdk-python

engine: base schema allow list test
  core/schema/base_schema.json
  core/schema/schema_test.go
Owners: none

docs: fix workspace configuration wording
  docs/current_docs/introduction/core-concepts/workspaces.mdx
  docs/current_docs/reference/configuration/cloud.mdx
  docs/current_docs/reference/configuration/modules.mdx
  docs/current_docs/reference/upgrade-to-workspaces.mdx
Owners: @dagger/docs

docs: explain workspace migration flow
  docs/current_docs/reference/upgrade-to-workspaces.mdx
Owners: @dagger/docs

docs: show first check recovery steps
  docs/current_docs/adopting/workspace-setup.mdx
  docs/current_docs/getting-started/quickstart.mdx
Owners: @dagger/docs

docs: harden check examples for CI
  docs/current_docs/adopting/triggers/snippets/azure-pipelines-test-build.yml
  docs/current_docs/adopting/triggers/snippets/buildspec-test-build.yml
  docs/current_docs/adopting/triggers/snippets/circle-test-build.yml
  docs/current_docs/adopting/triggers/snippets/github-cloud-engine.yml
  docs/current_docs/adopting/triggers/snippets/github-ghcr.yml
  docs/current_docs/adopting/triggers/snippets/github-hello-shell.yml
  docs/current_docs/adopting/triggers/snippets/github-hello.yml
  docs/current_docs/adopting/triggers/snippets/github-test-build.yml
  docs/current_docs/adopting/triggers/snippets/gitlab-docker-test-build.yml
  docs/current_docs/reference/cli/lockfiles.mdx
  docs/current_docs/using-dagger/checking.mdx
Owners: @dagger/docs

docs: add security rollout guidance
  docs/current_docs/adopting/observability.mdx
  docs/current_docs/adopting/secrets.mdx
  docs/current_docs/adopting/security.mdx
  docs/sidebars.ts
Owners: @dagger/docs

docs: add workspace config reference
  docs/current_docs/extending/editions/dang.mdx
  docs/current_docs/introduction/core-concepts/modules.mdx
  docs/current_docs/introduction/core-concepts/workspaces.mdx
  docs/current_docs/reference/configuration/workspaces.mdx
  docs/current_docs/reference/index.mdx
  docs/sidebars.ts
Owners: @dagger/docs

docs: deepen module author guidance
  docs/current_docs/extending/editions/dang.mdx
  docs/current_docs/extending/editions/go/index.mdx
  docs/current_docs/extending/editions/java/index.mdx
  docs/current_docs/extending/editions/php/index.mdx
  docs/current_docs/extending/editions/python/index.mdx
  docs/current_docs/extending/editions/typescript/index.mdx
  docs/current_docs/extending/generated-code.mdx
  docs/current_docs/extending/index.mdx
  docs/current_docs/extending/reusable-modules.mdx
  docs/current_docs/extending/sdk-status.mdx
  docs/current_docs/extending/testing.mdx
  docs/current_docs/introduction/core-concepts/modules.mdx
  docs/current_docs/reference/configuration/modules.mdx
  docs/current_docs/reference/upgrade-to-workspaces.mdx
  docs/sidebars.ts
Owners: @dagger/docs

docs: pin script install examples
  docs/current_docs/getting-started/installation.mdx
  docs/current_docs/partials/_install-cli.mdx
Owners: @dagger/docs

core: add new bulk GetSecrets API
  core/integration/user_defaults_test.go
  core/modfunc.go
  core/schema/secret.go
  core/secret.go
  engine/client/secretprovider/op.go
  engine/client/secretprovider/secretprovider.go
  hack/designs/bulk-secrets.md
  internal/buildkit/session/secrets/secrets.go
  internal/buildkit/session/secrets/secrets.pb.go
  internal/buildkit/session/secrets/secrets.proto
  internal/buildkit/session/secrets/secretsprovider/secretsprovider.go
Owners: none

test(dang): migrate sdk tests from dang repo
  core/integration/module_dang_test.go
  core/integration/testdata/modules/dang/test-directives/dagger.json
  core/integration/testdata/modules/dang/test-directives/main.dang
  core/integration/testdata/modules/dang/test-enum/dagger.json
  core/integration/testdata/modules/dang/test-enum/main.dang
  core/integration/testdata/modules/dang/test-mismatch/dagger.json
  core/integration/testdata/modules/dang/test-mismatch/main.dang
  core/integration/testdata/modules/dang/test-private-arg/dagger.json
  core/integration/testdata/modules/dang/test-private-arg/main.dang
  core/integration/testdata/modules/dang/test-scalar/dagger.json
  core/integration/testdata/modules/dang/test-scalar/main.dang
  toolchains/test-split/main.dang
Owners: none

fix(dang): support core type shadowing
  core/integration/module_dang_test.go
  core/integration/testdata/modules/dang/test-shadowing/dagger.json
  core/integration/testdata/modules/dang/test-shadowing/main.dang
  core/sdk/dang_helpers.go
  go.mod
  go.sum
  toolchains/all-sdks/go.mod
  toolchains/all-sdks/go.sum
  toolchains/cli-dev/go.mod
  toolchains/cli-dev/go.sum
  toolchains/engine-dev/go.mod
  toolchains/engine-dev/go.sum
  toolchains/go/go.mod
  toolchains/go/go.sum
  toolchains/release/go.mod
  toolchains/release/go.sum
  toolchains/test-split/main.dang
Owners: none

fix cases caught by Dang's typechecking fixes
  toolchains/dotnet-sdk-dev/main.dang
  toolchains/elixir-sdk-dev/elixir-sdk.dang
  toolchains/typescript-sdk-dev/ts-sdk.dang
Owners: none

fix(dang): appease sdk lints
  core/sdk/dang_helpers.go
Owners: none

sdk(dang): use newly added dang.DeclareDir
  core/sdk/dang_helpers.go
  go.mod
  go.sum
Owners: none

skip LocalModuleHints test on non-main
  core/integration/toolchain_test.go
Owners: none

fix(sdk): support dang module types
  core/integration/module_test.go
  core/sdk/dang_helpers.go
  core/sdk/dang_sdk.go
Owners: none

tidy
  dagql/idtui/viztest/go.mod
Owners: none

update publish/release API usage
  dagql/idtui/viztest/go.mod
  toolchains/all-sdks/internal/dagger/elixir-sdk-dev.gen.go
  toolchains/all-sdks/internal/dagger/typescript-sdk-dev.gen.go
  toolchains/release/internal/dagger/elixir-sdk-dev.gen.go
  toolchains/release/internal/dagger/typescript-sdk-dev.gen.go
  toolchains/release/main.go
Owners: none

test(dang): assert directive behavior
  core/integration/module_dang_test.go
  core/integration/testdata/modules/dang/test-directives/fixtures/default-named/named-default.txt
  core/integration/testdata/modules/dang/test-directives/fixtures/default-positional/positional-default.txt
  core/integration/testdata/modules/dang/test-directives/fixtures/ignore-named/ignored.log
  core/integration/testdata/modules/dang/test-directives/fixtures/ignore-named/ignored.tmp
  core/integration/testdata/modules/dang/test-directives/fixtures/ignore-named/keep.txt
  core/integration/testdata/modules/dang/test-directives/fixtures/ignore-positional/ignored.log
  core/integration/testdata/modules/dang/test-directives/fixtures/ignore-positional/ignored.tmp
  core/integration/testdata/modules/dang/test-directives/fixtures/ignore-positional/keep.txt
  core/integration/testdata/modules/dang/test-directives/fixtures/mixed/ignored.tmp
  core/integration/testdata/modules/dang/test-directives/fixtures/mixed/keep.log
  core/integration/testdata/modules/dang/test-directives/fixtures/mixed/keep.txt
  core/integration/testdata/modules/dang/test-directives/main.dang
Owners: none

test: include SDK files in context directory expectations
  core/integration/module_path_inputs_test.go
Owners: none

test: select standalone module fixtures explicitly
  core/integration/module_config_test.go
  core/integration/module_validation_test.go
Owners: none

test: run module config fixtures from their repo root
  core/integration/module_config_test.go
Owners: none

test: make module path fixtures select root module
  core/integration/module_path_inputs_test.go
  core/integration/testdata/modules/typescript/path-context-git-03/src/index.ts
Owners: none

fix(java): avoid resolving deps during versions:set
  sdk/java/runtime/main.go
Owners: @dagger/sdk-java

bump dang for quieter logs
  go.mod
  go.sum
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
