Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

ai: auto-saving sessions
  cmd/dagger/llm.go
Owners: none

refactor(workspace): use CallerStatFS instead of Host.directory
  core/modulesource.go
  core/schema/workspace.go
  engine/buildkit/filesync.go
  engine/client/filesync.go
  engine/opts.go
Owners: none

llm: fix compacting
  cmd/dagger/llm.go
Owners: none

llm: append message history through API
  core/llm.go
  core/mcp.go
  core/schema/llm.go
Owners: none

checkpoint: persistent MCP clients, unpinned IDs
  core/llm.go
  core/mcp.go
  core/mcpclient.go
  core/query.go
  dagql/call/id.go
  dagql/call/module.go
  dagql/server.go
  engine/server/session.go
Owners: none

postcall.go: fixup WalkedIDs -> CollectedIDs
  core/postcall.go
Owners: none

evals: explicitly loop where needed
  modules/evals/basic.go
  modules/evals/build_multi.go
  modules/evals/build_multi_no_var.go
  modules/evals/core_api.go
  modules/evals/env_propagation.go
  modules/evals/life_alert.go
  modules/evals/mcp_server.go
  modules/evals/module_dependencies.go
  modules/evals/read_implicit_vars.go
  modules/evals/responses.go
  modules/evals/undo_changes.go
  modules/evals/workspace_pattern.go
  modules/evals/writable.go
Owners: none

wip: expose LLM message history
  core/llm.go
  core/llm_anthropic.go
  core/llm_google.go
  core/llm_openai.go
  core/llm_replay.go
  core/mcp.go
  core/schema/llm.go
Owners: none

feat(workspace): add expectedType and doNotFollowSymlinks to exists
  core/integration/workspace_test.go
  core/schema/workspace.go
Owners: none

dagql: support contextual args in ID loading
  core/mcp.go
  dagql/objects.go
  modules/evals/chained_context.go
  modules/evals/testdata/chained-context/main.go
Owners: none

fix telemetry test compilation
  core/telemetry_test.go
Owners: none

wip: kinda fix object IDs
  core/mcp.go
  core/service.go
  dagql/call/id.go
Owners: none

DNM: yoink jedevc/live-dev ID rewriting
  core/postcall.go
  dagql/call/id.go
  dagql/idwalk.go
  dagql/idwalk_test.go
  engine/server/client_resources.go
Owners: none

update sidebar after loading LLM session
  cmd/dagger/llm.go
Owners: none

llm: fix looping, syncing, move maxAPICalls to loop
  core/llm.go
  core/schema/llm.go
Owners: none

feat(workspace): add Workspace.exists API
  core/integration/workspace_test.go
  core/schema/workspace.go
Owners: none

use message role types everywhere, un-prefix
  core/llm.go
  core/llm_anthropic.go
  core/llm_google.go
  core/llm_openai.go
  core/llm_replay.go
  core/mcp.go
Owners: none

feat(workspace): add Workspace.search API
  core/integration/workspace_test.go
  core/schema/workspace.go
  engine/buildkit/filesync.go
  engine/client/filesync.go
  engine/opts.go
Owners: none

llm: configure roll-up for tool spans
  core/mcp.go
Owners: none

ai: manually saving/loading LLM sessions
  cmd/dagger/llm.go
  cmd/dagger/shell_commands.go
Owners: none

mcpclient: fixup telemetry import
  core/mcpclient.go
Owners: none

fix idwalk tests post-Append refactor
  dagql/idwalk_test.go
Owners: none

fixup: bump tuist
  go.mod
  go.sum
Owners: none

temp compile error to stop CI from looping infinitely
  core/schema/git.go
Owners: none

odag: link functions from call tables
  internal/odag/server/web/v3.js
Owners: none

feat(llm): remove outer LLM query span, record thinking in history
  core/llm.go
  core/llm_anthropic.go
  core/schema/llm.go
Owners: none

refactor(llm): replace flat LLMMessage fields with content blocks
  core/llm.go
  core/llm_anthropic.go
  core/llm_google.go
  core/llm_openai.go
  core/llm_openai_codex.go
  core/llm_replay.go
  core/mcp.go
  core/schema/llm.go
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

docker: add --init to reap zombies
  engine/client/drivers/docker.go
Owners: none

latest design iteration to fix remaining persistence weirdness
  core/schema/git.go
  core/telemetry.go
  scratch/WHITEBOARD.md
Owners: none

implementation plan
  scratch/WHITEBOARD.md
Owners: none

feat(llm): define input object type for withResponse content blocks
  core/llm.go
  core/schema/llm.go
Owners: none

dagql: add resultCallFrame substrate for cache-backed results
  core/sdk/utils.go
  dagql/cache.go
  dagql/cache_egraph.go
  dagql/cache_persistence_import.go
  dagql/cache_persistence_worker.go
  dagql/cache_test.go
  dagql/call/module.go
  dagql/result_call_frame.go
  scratch/WHITEBOARD.md
Owners: none

tui: less confusing highlight effect
  dagql/idtui/output.go
  dagql/idtui/symbols.go
Owners: none

regen docs, go, rust sdks
  docs/current_docs/reference/cli/index.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  sdk/go/dagger.gen.go
  sdk/rust/crates/dagger-codegen/src/rust/templates/enum_tmpl.rs
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-rust

tui: fix log prefixes
  dagql/idtui/frontend_pretty.go
  dagql/idtui/symbols.go
Owners: none

regen mock
  dagql/idtui/frontend_mock.go
Owners: none

dagql: move runtime presentation onto result call frames
  core/builtincontainer.go
  core/container.go
  core/modfunc.go
  core/schema/container.go
  core/schema/host.go
  core/schema/module.go
  dagql/cache.go
  dagql/cache_test.go
  dagql/objects.go
  dagql/result_call_frame.go
  dagql/server.go
  dagql/session_cache.go
  dagql/session_cache_test.go
  dagql/types.go
  scratch/WHITEBOARD.md
Owners: none

update golangci-lint to newer image
  toolchains/go/main.go
Owners: none

chore: refresh docs
  docs/current_docs/reference/cli/index.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger.html
  docs/static/reference/php/Dagger/Binding.html
  docs/static/reference/php/Dagger/Client.html
  docs/static/reference/php/Dagger/Env.html
  docs/static/reference/php/Dagger/ModuleSource.html
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/Dagger/WorkspaceModule.html
  docs/static/reference/php/Dagger/WorkspaceModuleId.html
  docs/static/reference/php/classes.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  docs/static/reference/php/doctum.js
  docs/static/reference/php/traits.html
Owners: @dagger/docs

feat: dagger module list
  .dagger/config.toml
  cmd/dagger/module.go
  core/schema/workspace.go
  core/workspace_module.go
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/php/generated/Binding.php
  sdk/php/generated/Client.php
  sdk/php/generated/Env.php
  sdk/php/generated/Workspace.php
  sdk/php/generated/WorkspaceModule.php
  sdk/php/generated/WorkspaceModuleId.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
