Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

test: build workspace hint TypeDefs like runtime values
  core/schema/workspace_settings_hints_test.go
Owners: none

chore: other things forgotten
  core/integration/workspace_test.go
Owners: none

modules(evaluator): roll back to upstream/main
  modules/evaluator/dagger.gen.go
  modules/evaluator/eval-workspace/main.go
  modules/evaluator/examples/go/internal/dagger/evaluator.gen.go
  modules/evaluator/examples/go/main.go
  modules/evaluator/main.go
Owners: none

test: fill compat env FIXME coverage
  core/integration/workspace_compat_env_test.go
Owners: none

test: fill workspace migration FIXME coverage
  cmd/dagger/migrate.go
  core/integration/workspace_migration_test.go
  core/schema/workspace_migrate.go
Owners: none

core: add workspace cwd API
  core/integration/contextual_workspace_test.go
  core/integration/workspace_cwd_test.go
  core/schema/workspace.go
  core/schema/workspace_config.go
  core/schema/workspace_install.go
  core/workspace.go
  core/workspace/detect.go
  core/workspace/detect_test.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  engine/server/session_test.go
  engine/server/session_workspaces.go
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
Owners: @dagger/docs, @dagger/sdk-go

test: fill contextual workspace FIXME coverage
  core/integration/contextual_workspace_test.go
  core/integration/workspace_api_test.go
  core/modfunc.go
  engine/server/session_workspaces.go
Owners: none

test: fill workspace config FIXME coverage
  core/integration/workspace_config_test.go
  core/workspace/config.go
  core/workspace/config_test.go
Owners: none

test: remove stale workspace planning comments
  core/integration/contextual_workspace_test.go
  core/integration/module_loading_test.go
  core/integration/workspace_compat_test.go
  core/integration/workspace_config_test.go
  core/integration/workspace_migration_test.go
  core/integration/workspace_selection_test.go
Owners: none

test: fill workspace env management coverage
  core/integration/workspace_env_management_test.go
Owners: none

test: fill workspace compat FIXME coverage
  core/integration/workspace_compat_test.go
Owners: none

test: fill module loading FIXME coverage
  core/integration/module_loading_test.go
Owners: none

test: fill workspace selection FIXME coverage
  core/integration/workspace_selection_test.go
Owners: none

chore: update compatibility handoff
  handoff.md
Owners: none

test: support dang source files in module helpers
  core/integration/module_helpers_test.go
Owners: none

dagql: preserve fragment type conditions
  dagql/dagql_test.go
  dagql/server.go
Owners: none

roll back doug + evals changes too
  modules/doug/evals/go.mod
  modules/doug/evals/go.sum
  modules/doug/evals/internal/dagger/evaluator.gen.go
  modules/doug/evals/main.go
  modules/evals/go.mod
  modules/evals/go.sum
  modules/evals/internal/dagger/evaluator.gen.go
  modules/evals/main.go
Owners: none

core: select compat workspaces in env default tests
  core/integration/workspace_compat_env_test.go
Owners: none

chore: Improve RELEASING.md during v0.20.7
  RELEASING.md
Owners: none

core: return workspace modules as object results
  core/schema/workspace.go
  core/schema/workspace_list.go
Owners: none

core: resolve legacy default paths through context sources
  core/modfunc.go
  core/module.go
  core/schema/modulesource.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

Remove dead execution metadata fields
  core/container_exec.go
  core/modfunc.go
  core/sdk/dang_sdk.go
  core/sdk/go_sdk.go
  core/sdk/module_typedefs.go
  engine/engineutil/executor.go
  engine/server/session.go
Owners: none

Remove encoded module IDs from exec metadata
  core/container_exec.go
  core/modfunc.go
  core/query.go
  core/schema/container.go
  core/schema/service.go
  core/schema/test_server_test.go
  core/sdk.go
  core/sdk/dang_helpers.go
  core/sdk/dang_sdk.go
  core/sdk/go_sdk.go
  core/sdk/module_typedefs.go
  core/service.go
  core/telemetry_test.go
  engine/engineutil/executor.go
  engine/engineutil/executor_spec.go
  engine/engineutil/worker.go
  engine/server/session.go
Owners: none

Remove encoded call handles from execution metadata
  core/container_exec.go
  core/env.go
  core/mcp.go
  core/modfunc.go
  core/modulesource.go
  core/query.go
  core/schema/container.go
  core/schema/env.go
  core/schema/test_server_test.go
  core/sdk.go
  core/sdk/dang_helpers.go
  core/sdk/dang_sdk.go
  core/sdk/go_sdk.go
  core/sdk/module_typedefs.go
  core/service.go
  core/telemetry_test.go
  core/typedef.go
  engine/engineutil/executor.go
  engine/engineutil/executor_spec.go
  engine/engineutil/worker.go
  engine/server/session.go
Owners: none

Remove nested client metadata from execution metadata
  core/container_exec.go
  core/modfunc.go
  core/query.go
  core/schema/test_server_test.go
  core/sdk.go
  core/sdk/dang_helpers.go
  core/sdk/dang_sdk.go
  core/sdk/go_sdk.go
  core/sdk/module_typedefs.go
  core/service.go
  core/telemetry_test.go
  engine/engineutil/executor.go
  engine/engineutil/executor_spec.go
  engine/engineutil/worker.go
  engine/server/session.go
  engine/server/session_test.go
Owners: none

Remove engineutil worker indirection
  core/container_exec.go
  core/healthcheck.go
  core/service.go
  engine/engineutil/client.go
  engine/engineutil/containerimage.go
  engine/engineutil/executor.go
  engine/engineutil/executor_spec.go
  engine/engineutil/worker.go
  engine/server/gc.go
  engine/server/server.go
  engine/server/session.go
Owners: none

core: add Workspace.git API
  core/integration/workspace_test.go
  core/schema/workspace.go
  core/schema/workspace_test.go
  core/workspace.go
  core/workspace/detect.go
  core/workspace/detect_test.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger.html
  docs/static/reference/php/Dagger/Binding.html
  docs/static/reference/php/Dagger/Client.html
  docs/static/reference/php/Dagger/Env.html
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/Dagger/WorkspaceGit.html
  docs/static/reference/php/Dagger/WorkspaceGitId.html
  docs/static/reference/php/classes.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  docs/static/reference/php/doctum.js
  docs/static/reference/php/traits.html
  engine/server/session_workspaces.go
  sdk/elixir/lib/dagger/gen/binding.ex
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/elixir/lib/dagger/gen/env.ex
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/elixir/lib/dagger/gen/workspace_git.ex
  sdk/elixir/lib/dagger/gen/workspace_git_id.ex
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/php/generated/Binding.php
  sdk/php/generated/Client.php
  sdk/php/generated/Env.php
  sdk/php/generated/Workspace.php
  sdk/php/generated/WorkspaceGit.php
  sdk/php/generated/WorkspaceGitId.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

core: add GitCommit type
  core/git.go
  core/git_commit_test.go
  core/ids.go
  core/integration/cross_session_test.go
  core/integration/git_test.go
  core/schema/git.go
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

chore: fix issues
  sdk/typescript/runtime/tsutils/module/core.d.ts
  sdk/typescript/runtime/tsutils/module/index.ts
  sdk/typescript/src/index.ts
  sdk/typescript/src/module/introspector/dagger_module/object.ts
  sdk/typescript/src/module/introspector/entrypoint_emitter.ts
  sdk/typescript/src/module/registry.ts
Owners: @dagger/sdk-typescript

test(python): extract TestInheritance from TestDocs
  core/integration/module_python_test.go
Owners: none

chore: fixed module-runtimes tests issues
  sdk/typescript/src/module/introspector/entrypoint_emitter.ts
Owners: @dagger/sdk-typescript

fix(sdk/python): discover @function methods inherited from base classes
  core/integration/module_python_test.go
  sdk/python/src/dagger/mod/_analyzer/parser.py
  sdk/python/tests/mod/test_ast_analyzer.py
Owners: @dagger/sdk-python

cmd/codegen/schematool: schema inspect + merge library and subcommands
  cmd/codegen/generate_typedef_legacy.go
  cmd/codegen/inspect_schema.go
  cmd/codegen/main.go
  cmd/codegen/main_legacy.go
  cmd/codegen/merge_schema.go
  cmd/codegen/schematool/inspect.go
  cmd/codegen/schematool/merge.go
  cmd/codegen/schematool/module_types.go
  cmd/codegen/schematool/schematool.go
  cmd/codegen/schematool/schematool_test.go
  cmd/codegen/schematool/testdata/conflict/module_types.json
  cmd/codegen/schematool/testdata/conflict/schema.json
  cmd/codegen/schematool/testdata/enum/expected.json
  cmd/codegen/schematool/testdata/enum/module_types.json
  cmd/codegen/schematool/testdata/enum/schema.json
  cmd/codegen/schematool/testdata/interface/expected.json
  cmd/codegen/schematool/testdata/interface/module_types.json
  cmd/codegen/schematool/testdata/interface/schema.json
  cmd/codegen/schematool/testdata/single_object/expected.json
  cmd/codegen/schematool/testdata/single_object/module_types.json
  cmd/codegen/schematool/testdata/single_object/schema.json
Owners: none

cmd/codegen/generator/go/astscan: AST-based module type scanner
  cmd/codegen/generator/go/astscan/resolve.go
  cmd/codegen/generator/go/astscan/scanner.go
  cmd/codegen/generator/go/astscan/scanner_test.go
  cmd/codegen/generator/go/astscan/testdata/empty/main.go
  cmd/codegen/generator/go/astscan/testdata/enum/expected.json
  cmd/codegen/generator/go/astscan/testdata/enum/main.go
  cmd/codegen/generator/go/astscan/testdata/enum_untyped/expected.json
  cmd/codegen/generator/go/astscan/testdata/enum_untyped/main.go
  cmd/codegen/generator/go/astscan/testdata/interface/expected.json
  cmd/codegen/generator/go/astscan/testdata/interface/main.go
  cmd/codegen/generator/go/astscan/testdata/module_local_dagger/expected.json
  cmd/codegen/generator/go/astscan/testdata/module_local_dagger/main.go
  cmd/codegen/generator/go/astscan/testdata/optional_args/expected.json
  cmd/codegen/generator/go/astscan/testdata/optional_args/main.go
  cmd/codegen/generator/go/astscan/testdata/schema.json
  cmd/codegen/generator/go/astscan/testdata/single_struct/expected.json
  cmd/codegen/generator/go/astscan/testdata/single_struct/main.go
  cmd/codegen/generator/go/astscan/testdata/unresolved_type/main.go
  cmd/codegen/generator/go/astscan/testdata/void_return/expected.json
  cmd/codegen/generator/go/astscan/testdata/void_return/main.go
Owners: none

cmd/codegen/generator/go: use astscan + schematool in generate-module
  cmd/codegen/generate_module.go
  cmd/codegen/generator/config.go
  cmd/codegen/generator/go/generate_module.go
  cmd/codegen/generator/go/generate_typedefs.go
  cmd/codegen/generator/go/generate_typedefs_legacy.go
  cmd/codegen/generator/go/templates/modules.go
Owners: none

cmd/codegen/generator/go: restore TypeDefCode for empty-parentName dispatch
  cmd/codegen/generator/go/templates/module_enums.go
  cmd/codegen/generator/go/templates/module_funcs.go
  cmd/codegen/generator/go/templates/module_interfaces.go
  cmd/codegen/generator/go/templates/module_objects.go
  cmd/codegen/generator/go/templates/module_types.go
Owners: none

hack/designs: add design docs for no-codegen-at-runtime work
  hack/designs/go-sdk-skip-codegen-at-runtime-plan.md
  hack/designs/go-sdk-skip-codegen-at-runtime.md
  hack/designs/no-codegen-at-runtime-moduletypes.md
  hack/designs/no-codegen-at-runtime-pr1-plan.md
Owners: none

core/sdk/go_sdk: stop advertising moduleTypes
  core/sdk/go_sdk.go
Owners: none

cmd/codegen/schematool: stamp @sourceMap on merged self-call types
  cmd/codegen/schematool/merge.go
  cmd/codegen/schematool/testdata/enum/expected.json
  cmd/codegen/schematool/testdata/interface/expected.json
  cmd/codegen/schematool/testdata/single_object/expected.json
Owners: none

core/integration: tests for Go SDK skip-codegen-at-runtime
  core/integration/module_test.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
