Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

workspace: report host checkout dirt in uncommitted views
  core/changeset.go
  core/file.go
  core/integration/changeset_test.go
  core/integration/file_test.go
  core/integration/workspace_commit_test.go
  core/mcp.go
  core/schema/workspace.go
  core/schema/workspace_commit.go
  engine/session/git/git_apply.go
Owners: none

Show staged commits in the TUI Changes bubble
  core/integration/workspace_commit_test.go
  core/schema/workspace.go
  core/schema/workspace_commit.go
  core/workspace_staged_commit.go
  dagql/idtui/patch.go
  docs/current_docs/extending/types/workspace-staged-commit.mdx
  docs/docs-graphql/schema.graphqls
  internal/cmd/dagger/llm.go
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  util/patchpreview/patch.go
  util/patchpreview/patch_test.go
Owners: @dagger/docs, @dagger/sdk-go

QA: probe README heading
  README.md
Owners: none

QA: add probe file in new directory
  qa-probe-dir/probe.txt
Owners: none

QA: revert probe changes
  README.md
Owners: none

fix: reopen snapshot ref for no-op withChanges (#13820)
  core/directory.go
  core/integration/changeset_test.go
Owners: none

chore: bump internal version to v1.0.0-beta.9
  internal/version/VERSION
Owners: none

regen after beta.8 bump
  docs/current_docs/partials/version.js
  helm/dagger/Chart.yaml
  sdk/elixir/lib/dagger/core/version.ex
  sdk/go/engineconn/version.gen.go
  sdk/java/dagger-codegen-maven-plugin/pom.xml
  sdk/java/dagger-java-annotation-processor/pom.xml
  sdk/java/dagger-java-samples/pom.xml
  sdk/java/dagger-java-sdk/pom.xml
  sdk/java/pom.xml
  sdk/java/runtime/template/pom.xml
  sdk/php/src/Connection/version.php
  sdk/python/src/dagger/_engine/_version.py
  sdk/rust/Cargo.lock
  sdk/rust/Cargo.toml
  sdk/typescript/src/provisioning/default.ts
  toolchains/cli-dev/internal/dagger/dagger.gen.go
  toolchains/engine-dev/internal/dagger/dagger.gen.go
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-java, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

core(llm): forward LLM config to nested clients
  core/integration/llm_test.go
  core/llm.go
Owners: none

cli(agent): keep Changes bubble title static
  internal/cmd/dagger/llm.go
Owners: none

tui-qa: nesting for LLM auth + real git repo
  modules/tui-qa/dagger.json
  modules/tui-qa/main.dang
Owners: none

workspace: fix deleting session-committed paths
  core/integration/workspace_commit_test.go
  core/integration/workspace_test.go
  core/schema/workspace.go
Owners: none

fix: scope dagger setup migration to the selected project
  .changes/unreleased/Changed-20260730-120000.yaml
  core/integration/workspace_compat_test.go
  core/integration/workspace_migration_test.go
  core/schema/workspace_migrate.go
  core/schema/workspace_migrate_module_config.go
  core/schema/workspace_migrate_parent.go
  core/schema/workspace_test.go
  core/workspace/legacy.go
  core/workspace/legacy_test.go
  core/workspace/migrate.go
  core/workspace/migrate_test.go
  docs/current_docs/adopting/workspace-setup.mdx
  docs/current_docs/getting-started/quickstart.mdx
  docs/current_docs/reference/cli/index.mdx
  docs/current_docs/reference/upgrade-to-workspaces.mdx
  internal/cmd/dagger/setup.go
Owners: @dagger/docs

fix: show tool output alongside the trace report
  core/checks_trace_report.go
  core/llm_object_tools.go
  core/llm_object_tools_test.go
  core/mcp.go
  dagql/idtui/frontend_logs_view.go
  dagql/idtui/frontend_pretty.go
Owners: none

engine: don't fail host search on empty rg match
  core/search.go
  engine/client/filesync.go
  engine/client/filesync_test.go
  engine/opts.go
Owners: none

workspace: surface edits git cannot see
  core/integration/git_test.go
  core/integration/workspace_unmanaged_test.go
  core/schema/workspace.go
  core/schema/workspace_commit.go
  modules/review/main.dang
Owners: none

core: omit implied directory removals from stats
  core/changeset.go
  core/changeset_test.go
  core/integration/changeset_test.go
Owners: none

chore: regenerate SDKs and reference docs
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger.html
  docs/static/reference/php/Dagger/Client.html
  docs/static/reference/php/Dagger/Function_.html
  docs/static/reference/php/Dagger/LLM.html
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/Dagger/WorkspaceStagedCommit.html
  docs/static/reference/php/classes.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  docs/static/reference/php/doctum.js
  docs/static/reference/php/traits.html
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/elixir/lib/dagger/gen/function.ex
  sdk/elixir/lib/dagger/gen/llm.ex
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/elixir/lib/dagger/gen/workspace_git.ex
  sdk/elixir/lib/dagger/gen/workspace_staged_commit.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Client.php
  sdk/php/generated/Function_.php
  sdk/php/generated/LLM.php
  sdk/php/generated/Workspace.php
  sdk/php/generated/WorkspaceGit.php
  sdk/php/generated/WorkspaceStagedCommit.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

core: fix diff --git header path prefixes
  core/changeset.go
  core/changeset_patch_test.go
Owners: none

review: scope status and diff by paths
  modules/review/main.dang
Owners: none

docs: clarify status vocabulary, fix stale notes
  modules/review/main.dang
Owners: none

chore: bump internal version to v1.0.0-beta.10
  docs/current_docs/partials/version.js
  helm/dagger/Chart.yaml
  internal/version/VERSION
  sdk/elixir/lib/dagger/core/version.ex
  sdk/go/engineconn/version.gen.go
  sdk/java/dagger-codegen-maven-plugin/pom.xml
  sdk/java/dagger-java-annotation-processor/pom.xml
  sdk/java/dagger-java-samples/pom.xml
  sdk/java/dagger-java-sdk/pom.xml
  sdk/java/pom.xml
  sdk/java/runtime/template/pom.xml
  sdk/php/src/Connection/version.php
  sdk/python/src/dagger/_engine/_version.py
  sdk/rust/Cargo.lock
  sdk/rust/Cargo.toml
  sdk/typescript/src/provisioning/default.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-java, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

DNM: move editor module into the repo
  dagger.toml
  modules/editor/.gitattributes
  modules/editor/README.md
  modules/editor/dagger.json
  modules/editor/dang.toml
  modules/editor/main.dang
Owners: none

fix: reopen snapshot ref for no-op withChanges (#13820)
  core/directory.go
  core/integration/changeset_test.go
Owners: none

Count only leaf test cases in TESTS summaries
  dagql/dagui/tests.go
  dagql/dagui/tests_test.go
Owners: none

Scope tool-call reports to surfaced content only
  core/checks_trace_report.go
  core/checks_trace_report_test.go
  core/llm_object_tools.go
  core/mcp.go
  dagql/dagui/opts.go
  dagql/dagui/types.go
  dagql/dagui/walk_scope_test.go
  dagql/idtui/frontend.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_tests.go
  dagql/idtui/frontend_trace_policy.go
  dagql/idtui/report_session.go
  dagql/idtui/report_session_test.go
Owners: none

Agent-style LLM report headings, no TRACE banner
  core/checks_trace_report.go
  core/integration/llm_test.go
  core/llm_object_tools.go
  core/llm_object_tools_test.go
  dagql/idtui/output.go
Owners: none

Make agent-style rendering a frontend opt
  core/checks_trace_report.go
  dagql/dagui/opts.go
  dagql/idtui/checks_report.go
  dagql/idtui/conversation_report.go
  dagql/idtui/frontend_dots.go
  dagql/idtui/frontend_logs.go
  dagql/idtui/frontend_plain.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_tests.go
  dagql/idtui/generate_report.go
  dagql/idtui/generators_report.go
  dagql/idtui/output.go
  dagql/idtui/report_session_test.go
  dagql/idtui/services_report.go
  skills/tui-surfacing/SKILL.md
Owners: none

Add contributor module: PR sub-agent for repos
  dagger.toml
  modules/contributor/dagger.json
  modules/contributor/main.dang
Owners: none

Park plan: LLM-returning tools for self-extension
  SELF_EXTENSION_PLAN.md
Owners: none

Add LLM-returning tools as continuations
  COMMIT_BUGS.txt
  HANDOFF.md
  RESTORE.md
  core/llm.go
  core/llm_context.go
  core/llm_continuation_test.go
  core/llm_object_tools.go
  core/mcp.go
  core/modfunc.go
  core/typedef.go
  dagger.toml
  modules/contributor/main.dang
  modules/editor/main.dang
Owners: none

Test LLM continuations end to end
  SELF_EXTENSION_PLAN.md
  core/integration/llm_object_tools_test.go
  core/integration/testdata/workspaces/workspace-tool-return/.dagger/modules/swapper/main.dang
Owners: none

Drop lineage gate from LLM continuations
  SELF_EXTENSION_PLAN.md
  core/integration/llm_object_tools_test.go
  core/integration/testdata/workspaces/workspace-tool-return/.dagger/modules/swapper/main.dang
  core/llm.go
  core/llm_continuation_test.go
  core/llm_object_tools_test.go
  core/mcp.go
Owners: none

contributor: trim gh token, force-push retries
  SELF_EXTENSION_PLAN.md
  dagger.toml
  modules/contributor/main.dang
Owners: none

Recompose agents through the pending overlay
  SELF_EXTENSION_PLAN.md
  core/integration/agents_test.go
  core/moddeps.go
  core/schema/workspace.go
  core/schema/workspace_overlay_modules.go
  core/workspace.go
  core/workspace_context.go
Owners: none

DNM: detour investigating worktrees
  modules/history/dagger.json
  modules/history/main.dang
  notes/worktree-report.md
Owners: none

sdk/go: add explicit marshal/unmarshal seam (IDClient, MarshalJSON, UnmarshalJSON)
  cmd/codegen/generator/go/templates/modules.go
  cmd/codegen/generator/go/templates/src/_dagger.gen.go/defs.go.tmpl
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

Support user-level workspace config keyed by Git remote
  core/integration/workspace_user_config_test.go
  core/schema/workspace_config.go
  core/schema/workspace_env.go
  core/schema/workspace_module.go
  core/schema/workspace_test.go
  core/workspace.go
  core/workspace/config.go
  core/workspace/userconfig.go
  core/workspace/userconfig_test.go
  docs/current_docs/reference/cli/index.mdx
  docs/current_docs/reference/configuration/workspace.mdx
  docs/current_docs/using-dagger/environments.mdx
  engine/client/client.go
  engine/opts.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_userconfig_test.go
  engine/server/session_workspaces.go
  internal/cmd/dagger/engine.go
  internal/cmd/dagger/llmconfig/config.go
  internal/cmd/dagger/settings.go
  internal/cmd/dagger/workspace.go
Owners: @dagger/docs

engine: add engine-managed volumes (#13719)
  core/container_exec.go
  core/integration/testdata/modules/go/engine-volume-constructor-denied/dagger.json
  core/integration/testdata/modules/go/engine-volume-constructor-denied/main.go
  core/integration/volume_test.go
  core/moddeps.go
  core/query.go
  core/schema/address.go
  core/schema/address_test.go
  core/schema/schema_test.go
  core/schema/test_server_test.go
  core/schema/volume.go
  core/schema/volume_test.go
  core/schema_build_test.go
  core/telemetry_test.go
  core/volume.go
  core/volume_mount.go
  core/volume_mount_test.go
  core/volume_test.go
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Client.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  engine/engineutil/executor_spec.go
  engine/engineutil/executor_spec_test.go
  engine/server/mount_capabilities.go
  engine/server/mount_capabilities_test.go
  engine/server/server.go
  engine/server/session.go
  hack/designs/engine-volumes.html
  internal/cmd/dagger/flags_test.go
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/php/generated/Client.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

docs(readme): fix a duplicated word
  README.md
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
