Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

feat: add withError
  core/integration/container_test.go
  core/schema/container.go
  core/schema/directory.go
Owners: none

chore: add changie release notes
  .changes/unreleased/Added-20251015-075538.yaml
Owners: none

regenerate docs
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Container.html
  docs/static/reference/php/Dagger/Directory.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/container.ex
  sdk/elixir/lib/dagger/gen/directory.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Container.php
  sdk/php/generated/Directory.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

Allow to raise errors with withError (#11222)
  .changes/unreleased/Added-20251015-075538.yaml
  core/integration/container_test.go
  core/schema/container.go
  core/schema/directory.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Container.html
  docs/static/reference/php/Dagger/Directory.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/container.ex
  sdk/elixir/lib/dagger/gen/directory.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Container.php
  sdk/php/generated/Directory.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

function cache w/ ttl support
  core/modfunc.go
  core/modfuncttl.go
  core/object.go
  core/query.go
  core/schema/module.go
  core/schema/modulesource.go
  core/typedef.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Function_.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  engine/server/server.go
  engine/server/session.go
  sdk/elixir/lib/dagger/gen/function.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Function_.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

go sdk support + integ test
  cmd/codegen/generator/go/templates/module_funcs.go
  core/integration/module_test.go
Owners: none

python support
  core/integration/module_test.go
  sdk/python/src/dagger/mod/_module.py
  sdk/python/src/dagger/mod/_resolver.py
  sdk/python/src/dagger/mod/_types.py
Owners: @dagger/sdk-python

typescript support
  core/integration/module_test.go
  sdk/typescript/src/module/entrypoint/register.ts
  sdk/typescript/src/module/introspector/dagger_module/function.ts
  sdk/typescript/src/module/introspector/dagger_module/interfaceFunction.ts
  sdk/typescript/src/module/registry.ts
Owners: @dagger/sdk-typescript

don't cache calls that include SetSecret results
  core/modfunc.go
  core/modfuncttl.go
  core/postcall.go
  core/schema/git.go
Owners: none

sqlite persistence
  cmd/engine/.dagger/build/builder.go
  core/modfunc.go
  core/modfunccache/db.go
  core/modfunccache/models.go
  core/modfunccache/queries.go
  core/modfunccache/schema.sql
  core/modfuncttl.go
  engine/server/server.go
Owners: none

back compat via dagger.json flags
  core/modfunc.go
  core/module.go
  core/modules/config.go
  core/modulesource.go
  core/schema/modulesource.go
  engine/version.go
Owners: none

rough dagql integration
  cmd/dagger/.dagger/main.go
  cmd/dagger/.dagger/publish.go
  cmd/introspect/introspect.go
  core/integration/module_test.go
  core/llm_test.go
  core/modfunc.go
  core/modfunccache/db.go
  core/modfunccache/models.go
  core/modfunccache/queries.go
  core/modfuncttl.go
  core/postcall.go
  core/query.go
  core/schema/modulesource.go
  core/schema/schema_test.go
  dagql/dagql_test.go
  dagql/objects.go
  dagql/session_cache.go
  dagql/session_cache_test.go
  dagql/types.go
  engine/cache/cache.go
  engine/cache/cache_test.go
  engine/server/server.go
  engine/server/session.go
  engine/sources/local/localfs.go
  engine/sources/local/source.go
Owners: none

chore: remove top-level yarn.lock
  yarn.lock
Owners: none

try lowering cost of concurrency key
  engine/cache/cache.go
Owners: none

feat: add git repo dirty detection
  core/git.go
  core/git_local.go
  core/git_remote.go
  core/schema/git.go
  core/schema/wrapper.go
Owners: none

chore: remove top-level yarn.lock (#11240)
  yarn.lock
Owners: none

fix user defaults for blueprints
  core/module.go
Owners: none

coexist with sdk pt 1
  core/integration/blueprint_test.go
  core/schema/modulesource.go
Owners: none

call a function w/ parc
  cmd/dagger/cloud.go
  cmd/engine/.dagger/main.go
  core/object.go
  engine/client/client.go
  engine/client/drivers/cloud.go
  engine/client/drivers/driver.go
  engine/opts.go
  engine/server/session.go
  engine/telemetry/labels.go
  internal/cloud/auth/auth.go
  internal/cloud/client.go
Owners: none

add telemetry for parc-based func call
  core/object.go
  core/query.go
  engine/server/session.go
  engine/server/telemetry.go
Owners: none

wip: try and hook some bits
  core/hook.go
  core/interface.go
  core/modfunc.go
  core/module.go
  core/object.go
  core/schema/module.go
  sdk/go/querybuilder/querybuilder.go
Owners: @dagger/sdk-go

initial session attachable proxying
  core/socket.go
  engine/client/client.go
  engine/client/filesync.go
  util/grpcutil/proxystream.go
Owners: none

typo
  core/hook.go
Owners: none

integration?
  core/hook.go
Owners: none

plug in filesync proxy
  core/hook.go
  engine/client/client.go
  engine/client/filesync.go
Owners: none

for erik
  core/hook.go
  core/modulesource.go
  core/object.go
Owners: none

finish filesync proxying
  engine/client/filesync.go
Owners: none

allow git session attachable to be nil
  cmd/engine/.dagger/main.go
  core/envfile.go
  core/modulesource.go
  engine/buildkit/client.go
Owners: none

enable local module source loading
  core/hook.go
Owners: none

close the client
  core/hook.go
Owners: none

fix recursive scale outs
  core/hook.go
  core/modulesource.go
  core/query.go
  engine/client/drivers/cloud.go
  engine/server/session.go
  internal/cloud/client.go
Owners: none

fix holes in what can be scaled out
  core/hook.go
  core/schema/coremod.go
  dagql/call/id.go
Owners: none

simplify logging
  core/hook.go
Owners: none

add engine.name
  core/engine.go
  core/query.go
  core/schema/engine.go
  engine/server/server.go
Owners: none

fix check name
  core/hook.go
Owners: none

fix recursive call telemetry; passthrough Module.call
  core/hook.go
  core/telemetry.go
Owners: none

attempt to allow some context dirs
  core/hook.go
  core/schema/git.go
  core/schema/host.go
  dagql/call/callpbv1/call.pb.go
  dagql/call/callpbv1/call.proto
  dagql/call/id.go
  dagql/objects.go
Owners: none

fix decoding
  core/hook.go
Owners: none

eagerly load host dirs for remote calls
  core/schema/module.go
  dagql/nullables.go
Owners: none

refactor moduleSourceAsModule with some helpers for readability
  core/schema/modulesource.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
