Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

Keep shared dagql work on dedicated operation leases
  dagql/cache.go
  dagql/cache_test.go
  dagql/operation_lease.go
  engine/server/session.go
  internal/buildkit/util/leaseutil/manager.go
Owners: none

Serialize persisted object decode per shared result
  dagql/cache.go
  dagql/cache_persistence_import.go
  dagql/cache_persistence_import_test.go
Owners: none

After a review with Solomon, it seems that we should follow findUp and rootFs patterns in which we directly called the context of the client session
  core/schema/workspace.go
Owners: none

docs: clarify that Dagger Shell uses POSIX syntax, not full Bash
  docs/current_docs/introduction/features/shell.mdx
Owners: @dagger/docs

fix: require run before reading generator results (#12959)
  core/generators.go
  core/integration/generators_test.go
  core/schema/generators.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Generator.html
  docs/static/reference/php/Dagger/GeneratorGroup.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/go/dagger.gen.go
  sdk/php/generated/Generator.php
  sdk/php/generated/GeneratorGroup.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

fix(core): workspace generator visibility (#12962)
  .dagger/main.go
  core/integration/generators_test.go
  core/integration/testdata/generators/hello-with-generators/dagger.json
  core/integration/testdata/generators/hello-with-generators/go.mod
  core/integration/testdata/generators/hello-with-generators/go.sum
  core/integration/testdata/generators/hello-with-generators/main.go
  core/integration/testdata/generators/hello-with-generators/toolchain/dagger.json
  core/integration/testdata/generators/hello-with-generators/toolchain/go.mod
  core/integration/testdata/generators/hello-with-generators/toolchain/main.go
  core/schema/workspace.go
Owners: none

Test commit to trigger checks
  README.md
Owners: none

toolchains/go: go mod tidy
  toolchains/go/go.mod
  toolchains/go/go.sum
Owners: none

Fix go module tests
  core/integration/gitcredential_test.go
  core/integration/module_iface_test.go
  core/integration/testdata/modules/go/ifaces/test/main.go
Owners: none

toolchains/go: dagger-0.20.3 develop
  toolchains/go/go.mod
  toolchains/go/go.sum
Owners: none

toolchains/go: remove unnecessary namespacing of cache volumes (they are already namespaced by module by the engine)
  toolchains/go/main.go
Owners: none

fix(go): surface package errors during moduleTypes load
  cmd/codegen/generator/go/loader.go
  cmd/codegen/generator/go/loader_test.go
  core/integration/module_go_test.go
Owners: none

chore: fmt toolchains/go/main.go
  toolchains/go/main.go
Owners: none

fix(go): keep function bodies when loading packages
  cmd/codegen/generator/go/loader.go
  cmd/codegen/generator/go/loader_test.go
Owners: none

toolchains/go: rename go module - didn't match the new repo location
  toolchains/go/go.mod
  toolchains/go/main.go
Owners: none

skills: restore engine playground testing skill
  skills/engine-dev-testing/SKILL.md
  skills/engine-dev-testing/with-playground.sh
Owners: none

fix remote workspace directory filtering
  core/schema/workspace.go
  core/schema/workspace_test.go
Owners: none

core: remove legacy default-path compat warning
  core/modfunc.go
Owners: none

docs: restructure for workspace branch merge
  core/modulesource.go
  docs/current_docs/extending/guide.mdx
  docs/current_docs/extending/index.mdx
  docs/current_docs/extending/modules/playground.mdx
  docs/current_docs/getting-started/index.mdx
  docs/current_docs/getting-started/quickstart.mdx
  docs/current_docs/getting-started/quickstarts/agent/index.mdx
  docs/current_docs/getting-started/quickstarts/agent/inproject.mdx
  docs/current_docs/getting-started/quickstarts/basics/index.mdx
  docs/current_docs/getting-started/quickstarts/blueprint/index.mdx
  docs/current_docs/getting-started/quickstarts/ci/index.mdx
  docs/current_docs/index.mdx
  docs/current_docs/introduction/core-concepts/checks.mdx
  docs/current_docs/introduction/core-concepts/functions.mdx
  docs/current_docs/introduction/core-concepts/index.mdx
  docs/current_docs/introduction/core-concepts/modules.mdx
  docs/current_docs/introduction/core-concepts/toolchains.mdx
  docs/current_docs/introduction/core-concepts/workspaces.mdx
  docs/current_docs/introduction/features/index.mdx
  docs/current_docs/reference/cli/index.mdx
  docs/current_docs/reference/upgrade-to-workspaces.mdx
  docs/current_docs/using-dagger/checking.mdx
  docs/current_docs/using-dagger/generating.mdx
  docs/current_docs/using-dagger/services.mdx
  docs/current_docs/using-dagger/shipping.mdx
  docs/sidebars.ts
  engine/server/session_workspaces.go
  hack/designs/workspace-docs-rewrite.md
Owners: @dagger/docs

docs: remove stale announcement banner
  docs/docusaurus.config.ts
Owners: @dagger/docs

core/integration: clarify workspace-era command intent
  core/integration/checks_test.go
  core/integration/generators_test.go
  core/integration/module_test.go
  core/integration/user_defaults_test.go
  core/integration/workspace_compat_test.go
  core/integration/workspace_modules_test.go
Owners: none

chore: attempt to update dagger.json engineVersion to 431e8d248dd0d4755a2c5ebe3638d69c29e7118c
  dagger.json
Owners: none

fix(elixir-sdk-dev): ensure workspace/root dir is found
  toolchains/elixir-sdk-dev/elixir-sdk.dang
Owners: none

fix(workspace): preserve subpath for remote workspace directories
  core/schema/workspace.go
  core/schema/workspace_test.go
Owners: none

session: preserve legacy toolchain customizations for explicit -m modules
  engine/server/session.go
  engine/server/session_workspaces.go
Owners: none

core: include asModule variants in module content cache key
  core/module.go
  core/schema/modulesource.go
Owners: none

session: preserve legacy toolchain customizations for explicit -m modules (#12980)
  core/module.go
  core/schema/modulesource.go
  engine/server/session.go
  engine/server/session_workspaces.go
Owners: none

fix: do not go mod init again
  core/integration/client_generator_test.go
Owners: none

fix: keep workspace module loading explicit
  cmd/codegen/generator/go/templates/src/_dagger.gen.go/client.go.tmpl
  cmd/dagger/run.go
  core/integration/client_generator_test.go
  core/integration/module_test.go
Owners: none

fix: make workspace module loading opt-in
  cmd/dagger/checks.go
  cmd/dagger/function_name.go
  cmd/dagger/functions.go
  cmd/dagger/generators.go
  cmd/dagger/mcp.go
  cmd/dagger/module.go
  cmd/dagger/session.go
  cmd/dagger/session_test.go
  cmd/dagger/up.go
  engine/client/client.go
  engine/opts.go
  engine/opts_test.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
  sdk/elixir/lib/dagger/core/client.ex
  sdk/elixir/lib/dagger/core/session.ex
  sdk/go/client.go
  sdk/go/client_test.go
  sdk/go/engineconn/engineconn.go
  sdk/go/engineconn/session.go
  sdk/go/engineconn/session_test.go
  sdk/java/dagger-java-sdk/src/main/java/io/dagger/client/Dagger.java
  sdk/java/dagger-java-sdk/src/main/java/io/dagger/client/engineconn/CLIRunner.java
  sdk/java/dagger-java-sdk/src/main/java/io/dagger/client/engineconn/Connection.java
  sdk/java/dagger-java-sdk/src/test/java/io/dagger/client/engineconn/ConnectionTest.java
  sdk/php/src/Connection.php
  sdk/php/src/Connection/ProcessSessionConnection.php
  sdk/php/src/Dagger.php
  sdk/python/src/dagger/provisioning/_config.py
  sdk/python/src/dagger/provisioning/_session.py
  sdk/python/tests/provisioning/test_cli.py
  sdk/rust/crates/dagger-sdk/examples/logging/main.rs
  sdk/rust/crates/dagger-sdk/src/core/cli_session.rs
  sdk/rust/crates/dagger-sdk/src/core/config.rs
  sdk/typescript/src/connectOpts.ts
  sdk/typescript/src/provisioning/bin.ts
  sdk/typescript/src/provisioning/engineconn.ts
Owners: @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-java, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

chore: fix lint
  sdk/java/dagger-java-sdk/src/main/java/io/dagger/client/engineconn/CLIRunner.java
  sdk/java/dagger-java-sdk/src/main/java/io/dagger/client/engineconn/Connection.java
  sdk/php/src/Connection.php
Owners: @dagger/sdk-java, @dagger/sdk-php

chore: dagger generate
  docs/static/reference/php/Dagger/Binding.html
  docs/static/reference/php/Dagger/Client.html
  docs/static/reference/php/Dagger/Connection.html
  docs/static/reference/php/Dagger/Dagger.html
  docs/static/reference/php/Dagger/Env.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/php/generated/Binding.php
  sdk/php/generated/Client.php
  sdk/php/generated/Env.php
Owners: @dagger/docs, @dagger/sdk-php

chore: apply same fix to typescirpt self call
  core/integration/client_generator_test.go
Owners: none

chore: fix php sdk codegen
  toolchains/php-sdk-dev/main.go
Owners: none

chore: generate php-sdk:api
  docs/static/reference/php/Dagger/Binding.html
  docs/static/reference/php/Dagger/Client.html
  docs/static/reference/php/Dagger/Env.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/php/generated/Binding.php
  sdk/php/generated/Client.php
  sdk/php/generated/Env.php
Owners: @dagger/docs, @dagger/sdk-php

chore: fix php sdk codegen (#12984)
  docs/static/reference/php/Dagger/Binding.html
  docs/static/reference/php/Dagger/Client.html
  docs/static/reference/php/Dagger/Env.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/php/generated/Binding.php
  sdk/php/generated/Client.php
  sdk/php/generated/Env.php
  toolchains/php-sdk-dev/main.go
Owners: @dagger/docs, @dagger/sdk-php

test(core): cover dagger -m <remote> from a non-workspace CWD
  core/integration/module_remote_workspace_defaultpath_test.go
Owners: none

session: auto-promote -m remote ref as workspace when CWD is not a workspace
  engine/server/session_workspaces.go
Owners: none

session: use -m remote ref as workspace when CWD isn't a workspace (#12985)
  core/integration/module_remote_workspace_defaultpath_test.go
  engine/server/session_workspaces.go
Owners: none

introduce withLocalhostForward
  core/container.go
  core/container_exec.go
  core/integration/services_test.go
  core/schema/container.go
  core/service.go
  docs/current_docs/cookbook/services.mdx
  docs/current_docs/extending/modules/services.mdx
  docs/current_docs/extending/modules/snippets/services/localhost-forward/go/main.go
  docs/current_docs/extending/modules/snippets/services/localhost-forward/python/main.py
  docs/current_docs/extending/modules/snippets/services/localhost-forward/typescript/index.ts
  docs/current_docs/partials/cookbook/services/_localhost-forward.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  engine/buildkit/executor.go
  engine/buildkit/executor_spec.go
  hack/designs/localhost-binding.md
  sdk/go/dagger.gen.go
Owners: @dagger/docs, @dagger/sdk-go
