Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

test: fill module loading FIXME coverage
  core/integration/module_loading_test.go
Owners: none

test: fill workspace selection FIXME coverage
  core/integration/workspace_selection_test.go
Owners: none

cmd: clarify workspace flag help
  cmd/dagger/main.go
  docs/current_docs/reference/cli/index.mdx
Owners: @dagger/docs

test: support dang source files in module helpers
  core/integration/module_helpers_test.go
Owners: none

test: fill workspace env management coverage
  core/integration/workspace_env_management_test.go
Owners: none

workspace: apply compat config fallback to services
  core/integration/workspace_compat_test.go
  core/schema/workspace.go
  core/schema/workspace_test.go
Owners: none

core: return workspace modules as object results
  core/schema/workspace.go
  core/schema/workspace_list.go
Owners: none

core/workspace: add up.skip / generate.skip / check.skip + migration
  core/integration/checks_test.go
  core/integration/generators_test.go
  core/integration/up_test.go
  core/integration/workspace_compat_test.go
  core/schema/workspace.go
  core/workspace/config.go
  core/workspace/config_document.go
  core/workspace/config_test.go
  core/workspace/legacy.go
  core/workspace/legacy_test.go
Owners: none

Show workflow commands in CLI help
  cmd/dagger/checks.go
  cmd/dagger/generators.go
  cmd/dagger/up.go
  cmd/dagger/workspace_test.go
Owners: none

chore: fix rebase small regression
  engine/server/session_workspaces.go
Owners: none

core: select compat workspaces in env default tests
  core/integration/workspace_compat_env_test.go
Owners: none

test: fill compat env FIXME coverage
  core/integration/workspace_compat_env_test.go
Owners: none

Remove module init blueprint option
  cmd/dagger/module.go
  cmd/dagger/workspace.go
  core/integration/checks_test.go
  core/integration/generators_test.go
  core/integration/workspace_compat_test.go
  core/schema/workspace.go
  core/schema/workspace_module_init.go
  docs/current_docs/reference/cli/index.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Workspace.html
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

Remove stale toolchain integration suite
  core/integration/toolchain_test.go
  core/integration/workspace_compat_test.go
  core/integration/workspace_test.go
Owners: none

core: reject unsafe module source paths
  core/schema/modulesource.go
Owners: none

cmd: suppress compat workspace warning during migrate
  cmd/dagger/migrate.go
  core/integration/workspace_compat_test.go
  engine/client/client.go
  engine/opts.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

test: remove stale workspace planning comments
  core/integration/contextual_workspace_test.go
  core/integration/module_loading_test.go
  core/integration/workspace_compat_test.go
  core/integration/workspace_config_test.go
  core/integration/workspace_migration_test.go
  core/integration/workspace_selection_test.go
Owners: none

test: fill workspace compat FIXME coverage
  core/integration/workspace_compat_test.go
Owners: none

cmd: inline generator checks in check list
  cmd/dagger/checks.go
  cmd/dagger/checks_test.go
  core/integration/checks_test.go
Owners: none

Load CWD module without workspace root
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

engine: preserve workspace context in nested clients
  core/container_exec.go
  core/schema/container.go
  core/sdk/dang_sdk.go
  core/service.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

test: pass explicit path to module init
  core/integration/cacert_test.go
  core/integration/cache_test.go
  core/integration/changeset_test.go
  core/integration/client_generator_test.go
  core/integration/cross_session_test.go
  core/integration/engine_test.go
  core/integration/envfile_test.go
  core/integration/legacy_test.go
  core/integration/module_benchmark_test.go
  core/integration/module_call_test.go
  core/integration/module_config_test.go
  core/integration/module_constructor_test.go
  core/integration/module_current_module_test.go
  core/integration/module_custom_sdk_test.go
  core/integration/module_definition_test.go
  core/integration/module_dependency_cli_test.go
  core/integration/module_dependency_runtime_test.go
  core/integration/module_develop_cli_test.go
  core/integration/module_elixir_test.go
  core/integration/module_engine_version_test.go
  core/integration/module_error_test.go
  core/integration/module_go_test.go
  core/integration/module_iface_test.go
  core/integration/module_introspection_cli_test.go
  core/integration/module_java_test.go
  core/integration/module_nested_cli_test.go
  core/integration/module_path_inputs_test.go
  core/integration/module_php_test.go
  core/integration/module_private_deps_test.go
  core/integration/module_python_test.go
  core/integration/module_runtime_behavior_test.go
  core/integration/module_self_calls_test.go
  core/integration/module_type_test.go
  core/integration/module_typescript_test.go
  core/integration/module_validation_test.go
  core/integration/ref_test.go
  core/integration/secret_test.go
  core/integration/secretprovider_test.go
  core/integration/services_test.go
  core/integration/shell_test.go
Owners: none

cmd: apply workdir before connecting
  cmd/dagger/engine.go
  cmd/dagger/main.go
  cmd/dagger/workspace_test.go
Owners: none

Clarify local dependency refresh test
  core/integration/module_dependency_runtime_test.go
Owners: none

docs: workspace is the git repo, not .dagger/
  docs/current_docs/adopting/workspace-setup.mdx
  docs/current_docs/getting-started/quickstart.mdx
  docs/current_docs/introduction/core-concepts/index.mdx
  docs/current_docs/introduction/core-concepts/modules.mdx
  docs/current_docs/introduction/core-concepts/workspaces.mdx
  docs/current_docs/partials/_dagger_module_init.mdx
Owners: @dagger/docs

docs: fix yarn lockfile
  docs/package-lock.json
  docs/yarn.lock
Owners: @dagger/docs

test: align compat fixtures with workspace roots
  core/integration/module_config_compat_test.go
  core/integration/workspace_compat_test.go
Owners: none

Clarify module dependency runtime test scope
  core/integration/module_dependency_runtime_test.go
Owners: none

core: move workspace settings discovery into engine
  cmd/dagger/settings.go
  cmd/dagger/settings_test.go
  core/schema/workspace.go
  core/schema/workspace_module.go
  core/workspace_module.go
Owners: none

test: remove stale duplicate workspace session tests
  engine/server/session_test.go
Owners: none

test: finish explicit module init fixture pass
  core/integration/module_loading_test.go
  core/integration/module_path_inputs_test.go
  core/integration/workspace_test.go
Owners: none

migrate: keep migration summary visible
  cmd/dagger/migrate.go
  core/schema/workspace_migrate.go
Owners: none

chore: fix typo
  engine/server/session.go
Owners: none

test: make standalone module init explicit
  core/integration/workspace_modules_test.go
Owners: none

cmd/dagger: scope final progress defaults per command
  cmd/dagger/call.go
  cmd/dagger/listen.go
  cmd/dagger/main.go
  cmd/dagger/progress_test.go
  cmd/dagger/run.go
  cmd/dagger/session.go
  cmd/dagger/shell.go
  cmd/dagger/trace.go
  cmd/dagger/up.go
Owners: none

test: fix CLI syntax in workspace selection fixtures
  core/integration/workspace_selection_test.go
Owners: none

docs: update services page to reflect dagger up usage
  docs/current_docs/using-dagger/services.mdx
Owners: @dagger/docs

Fix module init help string build
  cmd/dagger/module.go
Owners: none

test: update workspace path safety expectation
  core/integration/workspace_api_test.go
Owners: none

workspace: allow empty config reads
  cmd/dagger/workspace.go
  core/integration/workspace_config_test.go
  core/schema/workspace_config.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
