Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

Added changie file
  .changes/unreleased/Changed-20260305-133838.yaml
Owners: none

fix: envfile.WithVariable values with quotes
  core/dotenv/dotenv.go
  core/dotenv/escape.go
  core/dotenv/escape_test.go
  core/envfile.go
  core/integration/envfile_test.go
  core/schema/envfile.go
Owners: none

feat: Add envfile.WithVariable variable type flag
  .changes/unreleased/Breaking-20260318-095344.yaml
  core/envfile.go
  core/integration/envfile_test.go
  core/schema/envfile.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/EnvFile.html
  go.mod
  go.sum
  sdk/go/dagger.gen.go
  sdk/php/generated/EnvFile.php
  sdk/php/generated/EnvFileVariableType.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

fix: allow custom liveness/readiness probes in Helm chart (#12859)
  helm/dagger/templates/engine-daemonset.yaml
  helm/dagger/templates/engine-statefulset.yaml
  helm/dagger/values.yaml
  toolchains/helm-dev/main.go
Owners: none

docs: rename provenance implementation section
  hack/designs/modules-v2/provenance.md
Owners: none

docs: inline provenance implementation guidance
  hack/designs/modules-v2/provenance.md
Owners: none

docs: require module invalidation for provenance pruning
  hack/designs/modules-v2/provenance.md
Owners: none

test: cover Dockerfile ADD --unpack=false
  core/integration/dockerfile_test.go
Owners: none

dockerfile: backport ADD --unpack from buildkit frontend
  internal/buildkit/frontend/dockerfile/dockerfile2llb/convert.go
  internal/buildkit/frontend/dockerfile/instructions/commands.go
  internal/buildkit/frontend/dockerfile/instructions/parse.go
Owners: none

wip: prototype moduleTypes persistence
  core/integration/module_go_test.go
  core/sdk/go_sdk.go
  hack/designs/codegen-moduletypes.md
  hack/designs/save-load-object-state.md
Owners: none

fix(elixir-sdk-dev): fix generate function in elixir-sdk
  sdk/elixir/lib/dagger/gen/binding.ex
  sdk/elixir/lib/dagger/gen/changeset.ex
  sdk/elixir/lib/dagger/gen/changeset_merge_conflict.ex
  sdk/elixir/lib/dagger/gen/changesets_merge_conflict.ex
  sdk/elixir/lib/dagger/gen/check.ex
  sdk/elixir/lib/dagger/gen/check_group.ex
  sdk/elixir/lib/dagger/gen/check_status.ex
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/elixir/lib/dagger/gen/container.ex
  sdk/elixir/lib/dagger/gen/current_module.ex
  sdk/elixir/lib/dagger/gen/directory.ex
  sdk/elixir/lib/dagger/gen/engine_cache.ex
  sdk/elixir/lib/dagger/gen/engine_cache_entry.ex
  sdk/elixir/lib/dagger/gen/env.ex
  sdk/elixir/lib/dagger/gen/file.ex
  sdk/elixir/lib/dagger/gen/file_type.ex
  sdk/elixir/lib/dagger/gen/function.ex
  sdk/elixir/lib/dagger/gen/function_arg.ex
  sdk/elixir/lib/dagger/gen/generator.ex
  sdk/elixir/lib/dagger/gen/generator_group.ex
  sdk/elixir/lib/dagger/gen/generator_group_id.ex
  sdk/elixir/lib/dagger/gen/generator_id.ex
  sdk/elixir/lib/dagger/gen/git_ref.ex
  sdk/elixir/lib/dagger/gen/healthcheck_config.ex
  sdk/elixir/lib/dagger/gen/healthcheck_config_id.ex
  sdk/elixir/lib/dagger/gen/module.ex
  sdk/elixir/lib/dagger/gen/module_source.ex
  sdk/elixir/lib/dagger/gen/query_id.ex
  sdk/elixir/lib/dagger/gen/return_type.ex
  sdk/elixir/lib/dagger/gen/stat.ex
  sdk/elixir/lib/dagger/gen/stat_id.ex
  sdk/elixir/lib/dagger/gen/up.ex
  sdk/elixir/lib/dagger/gen/up_group.ex
  sdk/elixir/lib/dagger/gen/up_group_id.ex
  sdk/elixir/lib/dagger/gen/up_id.ex
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/elixir/lib/dagger/gen/workspace_id.ex
  toolchains/elixir-sdk-dev/dagger.json
  toolchains/elixir-sdk-dev/elixir-sdk.dang
Owners: @dagger/sdk-elixir

docs: split artifact dimension filtering API
  hack/designs/modules-v2/artifacts.md
  hack/designs/modules-v2/collections.md
  hack/designs/modules-v2/plans.md
Owners: none

cmd/dagger: parse explicit workspace targets for call/check/generate/functions
  cmd/dagger/call.go
  cmd/dagger/checks.go
  cmd/dagger/functions.go
  cmd/dagger/generators.go
  cmd/dagger/workspace_target_args.go
  cmd/dagger/workspace_target_args_test.go
  hack/designs/workspace-on-lockfile-replay.md
Owners: none

cmd/dagger: traverse sibling workspace module functions
  cmd/dagger/call.go
  cmd/dagger/functions_test.go
  cmd/dagger/module_inspect.go
  hack/designs/workspace-on-lockfile-replay.md
Owners: none

docs: add workspace-on-lockfile replay ledger
  hack/designs/workspace-on-lockfile-replay.md
Owners: none

cmd/dagger: add workspace info command
  cmd/dagger/main.go
  cmd/dagger/workspace.go
  cmd/dagger/workspace_test.go
  hack/designs/workspace-on-lockfile-replay.md
Owners: none

workspace: detect initialized workspace configs
  core/integration/workspace_init_test.go
  core/workspace/detect.go
  core/workspace/detect_test.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
  hack/designs/workspace-on-lockfile-replay.md
Owners: none

workspace: add workspace init
  cmd/dagger/workspace.go
  core/integration/workspace_init_test.go
  core/schema/lockfile.go
  core/schema/workspace.go
  core/schema/workspace_config.go
  hack/designs/workspace-on-lockfile-replay.md
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

workspace: persist migrated module lookups in lockfile
  cmd/dagger/migrate.go
  core/integration/workspace_test.go
  core/workspace/migrate.go
  core/workspace/migrate_test.go
  hack/designs/workspace-on-lockfile-replay.md
Owners: none

workspace: route init through workspace mode
  cmd/dagger/module.go
  cmd/dagger/workspace.go
  core/integration/workspace_module_init_test.go
  core/schema/workspace.go
  core/schema/workspace_module_init.go
  hack/designs/workspace-on-lockfile-replay.md
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

workspace: add local migrate command
  cmd/dagger/main.go
  cmd/dagger/migrate.go
  cmd/dagger/migrate_test.go
  core/integration/workspace_test.go
  core/workspace/migrate.go
  core/workspace/migrate_test.go
  hack/designs/workspace-on-lockfile-replay.md
Owners: none

cmd/dagger: route install through workspace mode
  cmd/dagger/module.go
  cmd/dagger/workspace.go
  core/integration/workspace_install_test.go
  hack/designs/workspace-on-lockfile-replay.md
Owners: none

workspace: lock install through module source
  core/integration/workspace_install_test.go
  core/schema/lockfile_test.go
  core/schema/workspace_install.go
  hack/designs/workspace-on-lockfile-replay.md
Owners: none

cmd/dagger: split module install and update commands
  cmd/dagger/main.go
  cmd/dagger/module.go
  cmd/dagger/span_name_test.go
  core/integration/workspace_install_test.go
  hack/designs/workspace-on-lockfile-replay.md
Owners: none

workspace: add install API
  core/integration/workspace_install_test.go
  core/schema/workspace.go
  core/schema/workspace_config.go
  core/schema/workspace_install.go
  hack/designs/workspace-on-lockfile-replay.md
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

workspace: add config model
  core/workspace/config.go
  core/workspace/config_test.go
  hack/designs/workspace-on-lockfile-replay.md
Owners: none

workspace: add config command
  cmd/dagger/workspace.go
  core/integration/workspace_config_test.go
  core/schema/workspace.go
  core/schema/workspace_config.go
  hack/designs/workspace-on-lockfile-replay.md
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

workspace: load config-owned modules in session
  core/integration/workspace_module_init_test.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
  hack/designs/workspace-on-lockfile-replay.md
Owners: none

workspace: add module listing
  cmd/dagger/workspace.go
  cmd/dagger/workspace_test.go
  core/integration/workspace_list_test.go
  core/schema/workspace.go
  core/schema/workspace_list.go
  core/workspace_module.go
  hack/designs/workspace-on-lockfile-replay.md
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

hack: add workspace playground QA report
  hack/designs/workspace-playground-qa.md
Owners: none

core: reload contextual module sources on cache miss
  core/integration/cross_session_test.go
  core/modfunc.go
  core/module.go
  core/schema/modulesource.go
Owners: none

cmd/dagger: fix gen panic after module init move
  cmd/dagger/module.go
  cmd/dagger/workspace_test.go
Owners: none

cmd/dagger: make install and update workspace-native
  cmd/dagger/lock.go
  cmd/dagger/module.go
  cmd/dagger/workspace_test.go
  core/integration/module_shell_test.go
  core/integration/module_test.go
  core/integration/workspace_install_test.go
  core/integration/workspace_lock_update_test.go
Owners: none

workspace: make empty update a no-op
  core/integration/lockfile_test.go
  core/integration/workspace_lock_update_test.go
  core/schema/workspace.go
  hack/designs/workspace-merge-tasks.md
Owners: none

workspace: reject install name collisions
  core/integration/workspace_install_test.go
  core/schema/workspace_install.go
Owners: none

workspace: add selective lock refresh for config modules
  cmd/dagger/lock.go
  cmd/dagger/span_name_test.go
  core/integration/workspace_lock_update_test.go
  core/schema/lockfile.go
  core/schema/workspace.go
  core/schema/workspace_lock_refresh.go
  core/schema/workspace_test.go
  hack/designs/workspace-on-lockfile-replay.md
Owners: none

cmd/dagger: restore workspace-native init
  cmd/dagger/main.go
  cmd/dagger/module.go
  cmd/dagger/workspace.go
  cmd/dagger/workspace_test.go
  core/integration/blueprint_test.go
  core/integration/client_test.go
  core/integration/container_test.go
  core/integration/engine_test.go
  core/integration/module_test.go
  core/integration/workspace_init_test.go
  core/integration/workspace_install_test.go
  core/integration/workspace_module_init_test.go
  core/integration/workspace_test.go
Owners: none

cmd/dagger: remove license bootstrap
  cmd/dagger/licenses.go
  cmd/dagger/licenses/Apache-2.0.txt
  cmd/dagger/module.go
  cmd/dagger/workspace.go
  cmd/dagger/workspace_test.go
  core/integration/module_cli_test.go
  core/integration/workspace_module_init_test.go
  docs/current_docs/reference/cli/index.mdx
Owners: @dagger/docs

hack: add workspace merge task list
  hack/designs/workspace-merge-tasks.md
Owners: none

regen
  docs/current_docs/reference/cli/index.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger.html
  docs/static/reference/php/Dagger/Binding.html
  docs/static/reference/php/Dagger/Client.html
  docs/static/reference/php/Dagger/Env.html
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/Dagger/WorkspaceModule.html
  docs/static/reference/php/Dagger/WorkspaceModuleId.html
  docs/static/reference/php/classes.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  docs/static/reference/php/doctum.js
  docs/static/reference/php/traits.html
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/php/generated/Binding.php
  sdk/php/generated/Client.php
  sdk/php/generated/Env.php
  sdk/php/generated/Workspace.php
  sdk/php/generated/WorkspaceModule.php
  sdk/php/generated/WorkspaceModuleId.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript
