Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

recommend modules with dagger mod recommended (#13268)
  cmd/dagger/mod.go
  cmd/dagger/mod_test.go
  cmd/dagger/modules.json
Owners: none

Fix workspace autocheck source selection
  cmd/dagger/workspace.go
  cmd/dagger/workspace_test.go
  internal/cloud/org_sources.go
Owners: none

cli: add workspace and install aliases
  cmd/dagger/module.go
  cmd/dagger/workspace.go
  cmd/dagger/workspace_test.go
Owners: none

test: cover module runtime directory export (#13240)
  core/integration/workspace_selection_test.go
Owners: none

Replay Cloud checks for remote workspaces
  cmd/dagger/checks.go
  cmd/dagger/cloud_checks.go
  cmd/dagger/cloud_checks_test.go
  cmd/dagger/engine.go
  cmd/dagger/functions.go
  cmd/dagger/functions_test.go
  cmd/dagger/session.go
  cmd/dagger/session_test.go
  future/cloud-check-replay.md
  internal/cloud/checks.go
Owners: none

fix(e2e/helm): include cmd/codegen and core/prompts in test workspace
  e2e/helm/helm_test.go
Owners: none

sdk: map dang workspace module
  core/sdk/loader_test.go
  core/sdk/workspace_module.go
Owners: none

Model workspace remotes in Cloud
  cmd/dagger/workspace.go
  cmd/dagger/workspace_test.go
  internal/cloud/repo_settings.go
Owners: none

fix(cmd/dagger): clear three golangci-lint findings
  cmd/dagger/cloud_checks.go
  cmd/dagger/workspace.go
Owners: none

Add Cloud CLI account foundation
  cmd/dagger/billing_cloud.go
  cmd/dagger/cloud.go
  cmd/dagger/cloud_client.go
  cmd/dagger/cloud_helpers.go
  cmd/dagger/cloud_test.go
  cmd/dagger/integration_cloud.go
  cmd/dagger/integration_cloud_test.go
  cmd/dagger/main.go
  cmd/dagger/org_cloud.go
  cmd/dagger/trace.go
  docs/current_docs/reference/configuration/cloud.mdx
  future/gates.md
  internal/cloud/auth/auth.go
  internal/cloud/auth/auth_test.go
  internal/cloud/graphql.go
  internal/cloud/org_sources.go
Owners: @dagger/docs

test: align engine_persistence_test typescript subtest with fixture pattern
  core/integration/engine_persistence_test.go
Owners: none

Workspaces: dagger mod commands (#13226)
  cmd/dagger/main.go
  cmd/dagger/mod.go
  cmd/dagger/mod_test.go
  cmd/dagger/module.go
  cmd/dagger/modules.json
  cmd/dagger/workspace.go
  core/integration/llmtest/go-programmer/internal/dagger/toy-workspace.gen.go
  core/integration/testdata/modules/go/defaults/internal/dagger/foobar.gen.go
  core/integration/testdata/modules/go/namespacing/internal/dagger/sub-1.gen.go
  core/integration/testdata/modules/go/namespacing/internal/dagger/sub-2.gen.go
  core/integration/testdata/test-blueprint/myblueprint-with-dep/internal/dagger/hello.gen.go
  core/integration/workspace_modules_test.go
  core/schema/workspace.go
  core/schema/workspace_uninstall.go
  dagql/idtui/viztest/dep/internal/dagger/nested-dep.gen.go
  dagql/idtui/viztest/internal/dagger/dep.gen.go
  dagql/idtui/viztest/internal/dagger/versioned.gen.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/doctum-search.json
  modules/evals/testdata/nested-context-middle/internal/dagger/nested-context-leaf.gen.go
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
  toolchains/docs-dev/docusaurus/tests/internal/dagger/docusaurus.gen.go
  toolchains/release/apko/tests/internal/dagger/apko.gen.go
  toolchains/release/gh/tests/internal/dagger/gh.gen.go
  toolchains/release/registry-config/tests/internal/dagger/registry-config.gen.go
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

fix workspace arg injection without config
  core/integration/workspace_selection_test.go
  core/modfunc.go
Owners: none

chore: fix go lint
  cmd/dagger/main.go
Owners: none

fix(util/layercopy): make cleanRel platform-agnostic
  util/layercopy/dest_linux.go
  util/layercopy/types.go
Owners: none

fix: satisfy workspace lint
  cmd/dagger/workspace.go
Owners: none

test: adapt --generate checks list test to workspace CLI format
  core/integration/checks_test.go
Owners: none

chore: refresh docs
  docs/current_docs/reference/cli/index.mdx
Owners: @dagger/docs

cli: polish command surface
  cmd/dagger/api.go
  cmd/dagger/billing_cloud.go
  cmd/dagger/call.go
  cmd/dagger/checks.go
  cmd/dagger/cloud.go
  cmd/dagger/config.go
  cmd/dagger/engine.go
  cmd/dagger/env.go
  cmd/dagger/function_name.go
  cmd/dagger/functions.go
  cmd/dagger/functions_test.go
  cmd/dagger/generators.go
  cmd/dagger/integration_cloud.go
  cmd/dagger/listen.go
  cmd/dagger/lock.go
  cmd/dagger/main.go
  cmd/dagger/migrate.go
  cmd/dagger/mod.go
  cmd/dagger/mod_test.go
  cmd/dagger/module.go
  cmd/dagger/org_cloud.go
  cmd/dagger/query.go
  cmd/dagger/run.go
  cmd/dagger/session.go
  cmd/dagger/settings.go
  cmd/dagger/shell.go
  cmd/dagger/shell_commands.go
  cmd/dagger/shell_test.go
  cmd/dagger/trace.go
  cmd/dagger/up.go
  cmd/dagger/workspace.go
  cmd/dagger/workspace_test.go
Owners: none

fix: adapt cli test with after cli polish
  core/integration/shell_test.go
Owners: none

test: fix workspace branch base failures
  core/integration/git_test.go
  core/integration/secretprovider_test.go
Owners: none

fix(cmd/dagger): decouple workspace CLI from linux-only core
  cmd/dagger/workspace.go
  core/gitref/gitref.go
  core/gitref/gitref_test.go
  core/lockfile_update.go
  core/modulerefs.go
  core/modulerefs_test.go
  core/modulesource.go
Owners: none

workspace: read remote config from rootfs
  core/integration/checks_test.go
  core/schema/workspace_config.go
Owners: none

fix(core): attach never-cached module function results
  core/integration/module_test.go
  core/modfunc.go
  core/modfunc_test.go
  core/typedef.go
Owners: none

fix: handle 1Password secrets with spaces
  core/integration/secretprovider_test.go
  engine/client/secretprovider/op.go
Owners: none

docs: refocus llm proxy on passthrough tracing
  future/llm-proxy.md
Owners: none

fix: handle 1Password secrets with spaces (#13297)
  core/integration/secretprovider_test.go
  engine/client/secretprovider/op.go
Owners: none

Pin module resolve lock entries
  core/integration/lockfile_test.go
  core/lockfile_update.go
  core/schema/lockfile.go
  core/schema/modulesource.go
  core/schema/workspace_lock_refresh.go
  core/workspace/lock.go
  core/workspace/lock_test.go
  docs/current_docs/reference/cli/lockfiles.mdx
Owners: @dagger/docs

workspace: disable inheritance into module dependencies
  core/integration/module_dependency_runtime_test.go
  core/integration/testdata/modules/go/runtime-workspace-isolation/dagger.json
  core/integration/testdata/modules/go/runtime-workspace-isolation/dep/dagger.json
  core/integration/testdata/modules/go/runtime-workspace-isolation/dep/main.go
  core/integration/testdata/modules/go/runtime-workspace-isolation/main.go
  core/modfunc.go
  core/modfunc_test.go
  core/telemetry_test.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
  future/done/2026-05-27-workspace-disable-inheritance.md
Owners: none

Add user-level workspace envs
  cmd/dagger/config.go
  cmd/dagger/engine.go
  cmd/dagger/env.go
  cmd/dagger/main.go
  cmd/dagger/settings.go
  cmd/dagger/workspace.go
  core/integration/workspace_env_management_test.go
  core/integration/workspace_settings_test.go
  core/schema/workspace.go
  core/schema/workspace_config.go
  core/schema/workspace_env.go
  core/schema/workspace_module.go
  core/workspace.go
  core/workspace/config.go
  core/workspace/config_test.go
  engine/client/client.go
  engine/opts.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
  future/user-level-workspace-envs.md
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

fix: allow empty setSecret name
  core/integration/secret_test.go
  core/secret.go
Owners: none

test: reproduce release version cache bug
  core/integration/engine_persistence_test.go
  toolchains/cli-dev/publish.go
  toolchains/engine-dev/main.go
  toolchains/release/internal/dagger/cli-dev.gen.go
  toolchains/release/internal/dagger/engine-dev.gen.go
  toolchains/release/main.go
Owners: none

fix: allow empty setSecret name (#13304)
  core/integration/secret_test.go
  core/secret.go
Owners: none

fix: pass release tag into dry-run artifacts
  toolchains/cli-dev/dagger.gen.go
  toolchains/cli-dev/main.go
  toolchains/engine-dev/dagger.gen.go
  toolchains/engine-dev/main.go
  toolchains/release/internal/dagger/cli-dev.gen.go
  toolchains/release/internal/dagger/engine-dev.gen.go
  toolchains/release/main.go
Owners: none

fix: pass release tag to embedded engine CLI
  core/integration/engine_persistence_test.go
  e2e/helm/dagger/dagger-cli.gen.go
  toolchains/docs-dev/internal/dagger/dagger-cli.gen.go
  toolchains/engine-dev/internal/dagger/dagger-cli.gen.go
  toolchains/engine-dev/main.go
Owners: none

chore: regenerate dagger runtime bindings
  modules/dev/internal/dagger/engine-dev.gen.go
  modules/metrics/internal/dagger/dagger-engine.gen.go
  toolchains/cli-dev/dagger.gen.go
  toolchains/docs-dev/internal/dagger/dagger-cli.gen.go
  toolchains/docs-dev/internal/dagger/engine-dev.gen.go
  toolchains/engine-dev/dagger.gen.go
  toolchains/engine-dev/go.mod
  toolchains/engine-dev/go.sum
  toolchains/engine-dev/internal/dagger/dagger-cli.gen.go
  toolchains/php-sdk-dev/internal/dagger/dagger-engine.gen.go
  toolchains/python-sdk-dev/internal/dagger/dagger-engine.gen.go
  toolchains/release/internal/dagger/cli-dev.gen.go
  toolchains/release/internal/dagger/engine-dev.gen.go
  toolchains/rust-sdk-dev/internal/dagger/dagger-engine.gen.go
Owners: none

fix(core/dotenv): accept `export`-prefixed lines in .env files (#13293)
  core/dotenv/dotenv.go
  core/dotenv/dotenv_test.go
  core/envfile.go
  core/integration/envfile_test.go
Owners: none

fix incorrect artifact caching issue when releasing (#13285)
  core/integration/engine_persistence_test.go
  e2e/helm/dagger/dagger-cli.gen.go
  modules/dev/internal/dagger/engine-dev.gen.go
  modules/metrics/internal/dagger/dagger-engine.gen.go
  toolchains/cli-dev/dagger.gen.go
  toolchains/cli-dev/main.go
  toolchains/cli-dev/publish.go
  toolchains/docs-dev/internal/dagger/dagger-cli.gen.go
  toolchains/docs-dev/internal/dagger/engine-dev.gen.go
  toolchains/engine-dev/dagger.gen.go
  toolchains/engine-dev/go.mod
  toolchains/engine-dev/go.sum
  toolchains/engine-dev/internal/dagger/dagger-cli.gen.go
  toolchains/engine-dev/main.go
  toolchains/php-sdk-dev/internal/dagger/dagger-engine.gen.go
  toolchains/python-sdk-dev/internal/dagger/dagger-engine.gen.go
  toolchains/release/internal/dagger/cli-dev.gen.go
  toolchains/release/internal/dagger/engine-dev.gen.go
  toolchains/release/main.go
  toolchains/rust-sdk-dev/internal/dagger/dagger-engine.gen.go
Owners: none

bump dang
  go.mod
  go.sum
  toolchains/all-sdks/go.mod
  toolchains/all-sdks/go.sum
  toolchains/cli-dev/go.mod
  toolchains/cli-dev/go.sum
  toolchains/engine-dev/go.mod
  toolchains/engine-dev/go.sum
  toolchains/go/go.mod
  toolchains/go/go.sum
  toolchains/release/go.mod
  toolchains/release/go.sum
Owners: none

fix lints
  cmd/dagger/listen.go
  cmd/engine/main.go
  engine/engineutil/executor_spec.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
