Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

core, test: reject absolute paths in named local module dependencies
  core/integration/module_call_test.go
  core/schema/modulesource.go
Owners: none

fix: TestGeneratorsInstalledInWorkspace
  core/integration/generators_test.go
Owners: none

test: register generator fixture entrypoint
  core/integration/generators_test.go
Owners: none

test: align proxy and python fixtures with workspace model
  core/integration/module_python_test.go
  core/integration/proxy_test.go
Owners: none

test: convert terminal module fixtures
  core/integration/module_terminal_test.go
  core/integration/testdata/modules/go/terminal-attachable/dagger.json
  core/integration/testdata/modules/go/terminal-attachable/main.go
  core/integration/testdata/modules/go/terminal-basic/dagger.json
  core/integration/testdata/modules/go/terminal-basic/main.go
  core/integration/testdata/modules/go/terminal-bound-service-crash/dagger.json
  core/integration/testdata/modules/go/terminal-bound-service-crash/main.go
  core/integration/testdata/modules/go/terminal-default/dagger.json
  core/integration/testdata/modules/go/terminal-default/main.go
  core/integration/testdata/modules/go/terminal-directory/dagger.json
  core/integration/testdata/modules/go/terminal-directory/main.go
  core/integration/testdata/modules/go/terminal-nested-client/dagger.json
  core/integration/testdata/modules/go/terminal-nested-client/main.go
  core/integration/testdata/modules/go/terminal-on-failure/dagger.json
  core/integration/testdata/modules/go/terminal-on-failure/main.go
  core/integration/testdata/modules/go/terminal-override-args/dagger.json
  core/integration/testdata/modules/go/terminal-override-args/main.go
  future/integration-test-fixtures.md
Owners: none

Allow generic module loading with legacy workspace fields
  core/integration/workspace_compat_test.go
  core/schema/modulesource.go
  engine/server/session_workspaces.go
Owners: none

test: bump python/base-test fixture requires-python to >=3.14
  core/integration/testdata/modules/python/base-test/pyproject.toml
Owners: none

test: use document file for stable client query
  core/integration/client_test.go
Owners: none

docs: make workspace notes render cleanly
  hack/designs/workspace-docs-rewrite.md
  hack/designs/workspace-migration.md
  hack/designs/workspace.md
  skills/tui-qa/SKILL.md
Owners: none

test: clarify selected workspace config target
  core/integration/workspace_selection_test.go
Owners: none

Clarify conflicting dependency test
  core/integration/module_dependency_runtime_test.go
Owners: none

test: remove stale duplicate workspace session tests
  engine/server/session_test.go
Owners: none

core: resolve legacy default paths through context sources
  core/modfunc.go
  core/module.go
  core/schema/modulesource.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

Use workspace lock writer during migration
  core/integration/workspace_migration_test.go
  core/schema/workspace_migrate.go
Owners: none

test: fill workspace migration FIXME coverage
  cmd/dagger/migrate.go
  core/integration/workspace_migration_test.go
  core/schema/workspace_migrate.go
Owners: none

test: make standalone module init explicit
  core/integration/workspace_modules_test.go
Owners: none

core: add workspace cwd API
  core/integration/contextual_workspace_test.go
  core/integration/workspace_cwd_test.go
  core/schema/workspace.go
  core/schema/workspace_config.go
  core/schema/workspace_install.go
  core/workspace.go
  core/workspace/detect.go
  core/workspace/detect_test.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

test: tighten check glob filters
  core/integration/checks_test.go
Owners: none

Model workspace remotes in Cloud
  cmd/dagger/workspace.go
  cmd/dagger/workspace_test.go
  internal/cloud/repo_settings.go
Owners: none

chore: import the session package
  engine/server/session.go
Owners: none

test: drop removed user-default console assertions in TestConstructorPlaintextSecretDefault
  core/integration/workspace_compat_env_test.go
Owners: none

core: move workspace settings discovery into engine
  cmd/dagger/settings.go
  cmd/dagger/settings_test.go
  core/schema/workspace.go
  core/schema/workspace_module.go
  core/workspace_module.go
Owners: none

test: load TestCall modules explicitly
  core/integration/module_call_test.go
Owners: none

test: load workspace compat fixtures explicitly
  core/integration/workspace_compat_env_test.go
  core/integration/workspace_compat_test.go
Owners: none

test: convert cross-session core fixtures
  core/integration/cross_session_test.go
  core/integration/testdata/modules/go/cross-session-context-directory-default/dagger.json
  core/integration/testdata/modules/go/cross-session-context-directory-default/foo.txt
  core/integration/testdata/modules/go/cross-session-context-directory-default/main.go
  core/integration/testdata/modules/go/cross-session-function-args/dagger.json
  core/integration/testdata/modules/go/cross-session-function-args/main.go
  core/integration/testdata/modules/go/cross-session-function-basic/dagger.json
  core/integration/testdata/modules/go/cross-session-function-basic/main.go
  core/integration/testdata/modules/go/cross-session-impl-one/dagger.json
  core/integration/testdata/modules/go/cross-session-impl-one/main.go
  core/integration/testdata/modules/go/cross-session-impl-two/dagger.json
  core/integration/testdata/modules/go/cross-session-impl-two/main.go
  core/integration/testdata/modules/go/cross-session-same-source/dagger.json
  core/integration/testdata/modules/go/cross-session-same-source/dep/dagger.json
  core/integration/testdata/modules/go/cross-session-same-source/dep/main.go
  core/integration/testdata/modules/go/cross-session-same-source/main.go
  core/integration/testdata/modules/go/cross-session-services/dagger.json
  core/integration/testdata/modules/go/cross-session-services/main.go
  core/integration/testdata/modules/go/cross-session-services/servicer/dagger.json
  core/integration/testdata/modules/go/cross-session-services/servicer/main.go
  core/integration/testdata/modules/go/cross-session-socket/dagger.json
  core/integration/testdata/modules/go/cross-session-socket/main.go
Owners: none

fix(cmd/dagger): decouple workspace CLI from linux-only core
  cmd/dagger/workspace.go
  core/gitref/gitref.go
  core/gitref/gitref_test.go
  core/lockfile_update.go
  core/modulerefs.go
  core/modulerefs_test.go
  core/modulesource.go
Owners: none

docs: propose llm proxy primitive
  future/llm-proxy.md
Owners: none

feat(sdk/elixir): add check attribute to mark functions as Dagger checks
  core/integration/module_elixir_test.go
  core/integration/testdata/modules/elixir/hello-with-checks/.formatter.exs
  core/integration/testdata/modules/elixir/hello-with-checks/.gitattributes
  core/integration/testdata/modules/elixir/hello-with-checks/.gitignore
  core/integration/testdata/modules/elixir/hello-with-checks/dagger.json
  core/integration/testdata/modules/elixir/hello-with-checks/lib/hello_with_checks.ex
  core/integration/testdata/modules/elixir/hello-with-checks/mix.exs
  core/integration/testdata/modules/elixir/hello-with-checks/mix.lock
  sdk/elixir/.changes/unreleased/Added-20260219-144151.yaml
  sdk/elixir/lib/dagger/mod/object.ex
  sdk/elixir/lib/dagger/mod/object/function_def.ex
  sdk/elixir/test/dagger/client_test.exs
  sdk/elixir/test/dagger/mod/object_test.exs
  sdk/elixir/test/support/object_mod.ex
Owners: @dagger/sdk-elixir

feat(sdk/elixir): upgrade Elixir runtime to 1.19.5
  sdk/elixir/runtime/main.go
  toolchains/elixir-sdk-dev/elixir-sdk.dang
Owners: @dagger/sdk-elixir

feat(sdk/elixir): upgrade Elixir runtime to 1.19.5 (#13003)
  sdk/elixir/runtime/main.go
  toolchains/elixir-sdk-dev/elixir-sdk.dang
Owners: @dagger/sdk-elixir

feat(sdk/elixir): upgrade Elixir runtime to 1.19.5 (#13003)
  sdk/elixir/runtime/main.go
  toolchains/elixir-sdk-dev/elixir-sdk.dang
Owners: @dagger/sdk-elixir

feat(sdk/elixir): add check attribute to mark functions as Dagger checks (#11881)
  core/integration/module_elixir_test.go
  core/integration/testdata/modules/elixir/hello-with-checks/.formatter.exs
  core/integration/testdata/modules/elixir/hello-with-checks/.gitattributes
  core/integration/testdata/modules/elixir/hello-with-checks/.gitignore
  core/integration/testdata/modules/elixir/hello-with-checks/dagger.json
  core/integration/testdata/modules/elixir/hello-with-checks/lib/hello_with_checks.ex
  core/integration/testdata/modules/elixir/hello-with-checks/mix.exs
  core/integration/testdata/modules/elixir/hello-with-checks/mix.lock
  sdk/elixir/.changes/unreleased/Added-20260219-144151.yaml
  sdk/elixir/lib/dagger/mod/object.ex
  sdk/elixir/lib/dagger/mod/object/function_def.ex
  sdk/elixir/test/dagger/client_test.exs
  sdk/elixir/test/dagger/mod/object_test.exs
  sdk/elixir/test/support/object_mod.ex
Owners: @dagger/sdk-elixir

feat(sdk/elixir): add check attribute to mark functions as Dagger checks (#11881)
  core/integration/module_elixir_test.go
  core/integration/testdata/modules/elixir/hello-with-checks/.formatter.exs
  core/integration/testdata/modules/elixir/hello-with-checks/.gitattributes
  core/integration/testdata/modules/elixir/hello-with-checks/.gitignore
  core/integration/testdata/modules/elixir/hello-with-checks/dagger.json
  core/integration/testdata/modules/elixir/hello-with-checks/lib/hello_with_checks.ex
  core/integration/testdata/modules/elixir/hello-with-checks/mix.exs
  core/integration/testdata/modules/elixir/hello-with-checks/mix.lock
  sdk/elixir/.changes/unreleased/Added-20260219-144151.yaml
  sdk/elixir/lib/dagger/mod/object.ex
  sdk/elixir/lib/dagger/mod/object/function_def.ex
  sdk/elixir/test/dagger/client_test.exs
  sdk/elixir/test/dagger/mod/object_test.exs
  sdk/elixir/test/support/object_mod.ex
Owners: @dagger/sdk-elixir

cli: polish command surface
  cmd/dagger/api.go
  cmd/dagger/billing_cloud.go
  cmd/dagger/call.go
  cmd/dagger/checks.go
  cmd/dagger/cloud.go
  cmd/dagger/config.go
  cmd/dagger/engine.go
  cmd/dagger/env.go
  cmd/dagger/function_name.go
  cmd/dagger/functions.go
  cmd/dagger/functions_test.go
  cmd/dagger/generators.go
  cmd/dagger/integration_cloud.go
  cmd/dagger/listen.go
  cmd/dagger/lock.go
  cmd/dagger/main.go
  cmd/dagger/migrate.go
  cmd/dagger/mod.go
  cmd/dagger/mod_test.go
  cmd/dagger/module.go
  cmd/dagger/org_cloud.go
  cmd/dagger/query.go
  cmd/dagger/run.go
  cmd/dagger/session.go
  cmd/dagger/settings.go
  cmd/dagger/shell.go
  cmd/dagger/shell_commands.go
  cmd/dagger/shell_test.go
  cmd/dagger/trace.go
  cmd/dagger/up.go
  cmd/dagger/workspace.go
  cmd/dagger/workspace_test.go
Owners: none

chore: refresh docs
  docs/current_docs/reference/cli/index.mdx
Owners: @dagger/docs

chore: fix go lint
  cmd/dagger/main.go
Owners: none

fix: adapt cli test with after cli polish
  core/integration/shell_test.go
Owners: none

fix(sdk/typescript): resolve referenced values in decorator arguments
  sdk/typescript/src/module/introspector/test/scan.spec.ts
  sdk/typescript/src/module/introspector/test/testdata/decorators/expected.json
  sdk/typescript/src/module/introspector/test/testdata/decorators/index.ts
  sdk/typescript/src/module/introspector/typescript_module/ast.ts
Owners: @dagger/sdk-typescript

fix(sdk/typescript): resolve referenced values in decorator arguments (#13292)
  sdk/typescript/src/module/introspector/test/scan.spec.ts
  sdk/typescript/src/module/introspector/test/testdata/decorators/expected.json
  sdk/typescript/src/module/introspector/test/testdata/decorators/index.ts
  sdk/typescript/src/module/introspector/typescript_module/ast.ts
Owners: @dagger/sdk-typescript

fix(sdk/typescript): resolve referenced values in decorator arguments (#13292)
  sdk/typescript/src/module/introspector/test/scan.spec.ts
  sdk/typescript/src/module/introspector/test/testdata/decorators/expected.json
  sdk/typescript/src/module/introspector/test/testdata/decorators/index.ts
  sdk/typescript/src/module/introspector/typescript_module/ast.ts
Owners: @dagger/sdk-typescript

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
