Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

feat(shell): run builtins as slash commands
  internal/cmd/dagger/shell.go
  internal/cmd/dagger/shell_slash_test.go
Owners: none

cli(agent): less janky --resume flag parsing
  internal/cmd/dagger/agent.go
Owners: none

refactor(llm): unify model metadata on catwalk
  core/llm_modelcatalog.go
  core/modelcatalog/modelcatalog.go
  core/modelcatalog/modelcatalog_test.go
  core/openrouter/openrouter.go
  dagql/idtui/frontend_pretty.go
  e2e/helm/helm_test.go
  go.mod
  go.sum
  internal/cmd/dagger/llm.go
Owners: none

feat(tui): distinguish user prompts
  dagql/idtui/conversation_report_test.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_pretty_test.go
Owners: none

feat(schema): require declared Workspace! args on module functions
  core/llm_object_tools.go
  core/modtree.go
  core/schema/module.go
  core/typedef.go
  core/workspace_context.go
  internal/cmd/dagger/flags.go
  internal/cmd/dagger/functions.go
  internal/cmd/dagger/module_inspect.go
  internal/cmd/dagger/sdk_init_dynamic.go
Owners: none

test: workspace arg is an optional CLI flag, not a hidden one
  core/integration/contextual_workspace_test.go
Owners: none

core: enforce @up/@generate signatures at load
  core/integration/generators_test.go
  core/integration/testdata/generators/badgenerate-arg/dagger.json
  core/integration/testdata/generators/badgenerate-arg/main.dang
  core/integration/testdata/generators/badgenerate-return/dagger.json
  core/integration/testdata/generators/badgenerate-return/main.dang
  core/integration/testdata/services/badup-arg/dagger.json
  core/integration/testdata/services/badup-arg/main.dang
  core/integration/testdata/services/badup-return/dagger.json
  core/integration/testdata/services/badup-return/main.dang
  core/integration/up_test.go
  core/module.go
Owners: none

test(agents): cover @agent bad return type rejection
  core/integration/agents_test.go
  core/integration/testdata/agents/badagent-return/dagger.json
  core/integration/testdata/agents/badagent-return/main.dang
Owners: none

core(agent): require the LLM! base argument
  core/integration/agents_test.go
  core/integration/testdata/agents/badagent-noarg/dagger.json
  core/integration/testdata/agents/badagent-noarg/main.dang
  core/module.go
Owners: none

sdk/go: add explicit marshal/unmarshal seam (IDClient, MarshalJSON, UnmarshalJSON)
  cmd/codegen/generator/go/templates/modules.go
  cmd/codegen/generator/go/templates/src/_dagger.gen.go/defs.go.tmpl
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

sdk/go: add json/v2 Marshalers/Unmarshalers (no package-level state)
  cmd/codegen/generator/go/templates/src/_jsonv2/marshalers.go.tmpl
  cmd/codegen/generator/go/templates/src/internal/dagger/jsonv2.gen.go.tmpl
  cmd/codegen/generator/go/templates/src/internal/dagger/jsonv2_compat.gen.go.tmpl
  cmd/codegen/generator/go/templates/src/jsonv2.gen.go.tmpl
  cmd/codegen/generator/go/templates/src/jsonv2_compat.gen.go.tmpl
  go.mod
  go.sum
  sdk/go/go.mod
  sdk/go/go.sum
  sdk/go/jsonv2.gen.go
  sdk/go/jsonv2_compat.gen.go
Owners: @dagger/sdk-go

sdk/go: add GraphQLQuery getter to generated object types
  cmd/codegen/generator/go/templates/src/_types/interface.go.tmpl
  cmd/codegen/generator/go/templates/src/_types/legacy_interface.go.tmpl
  cmd/codegen/generator/go/templates/src/_types/object.go.tmpl
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

docs: json/v2 design notes and Go 1.27 migration steps
  cmd/codegen/generator/go/JSONV2.md
  cmd/codegen/generator/go/templates/src/internal/dagger/jsonv2_compat.gen.go.tmpl
  cmd/codegen/generator/go/templates/src/jsonv2_compat.gen.go.tmpl
Owners: none

regen cli docs
  docs/current_docs/reference/cli/index.mdx
Owners: @dagger/docs

core: appease ST1005 in pragma validation errors
  core/integration/generators_test.go
  core/integration/up_test.go
  core/module.go
Owners: none

Support --global writes for remote workspaces
  core/integration/workspace_user_config_test.go
  docs/current_docs/reference/configuration/workspace.mdx
  engine/server/session.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/userconfig_key_test.go
  internal/cmd/dagger/workspace_test.go
Owners: @dagger/docs

fix changelog @generate signature
  .dagger/modules/changelog/main.dang
Owners: none

design: place P0 in implementation plan
  hack/designs/detachable-sessions.html
Owners: none

design: propose detachable sessions
  hack/designs/detachable-sessions.html
Owners: none

design: define detachable sessions P0
  hack/designs/detachable-sessions.html
Owners: none

feat: implement detachable session engine lifecycle
  engine/clientdb/store_stream.go
  engine/clientdb/telemetry_store.go
  engine/clientdb/telemetry_store_test.go
  engine/opts.go
  engine/server/server.go
  engine/server/session.go
  engine/server/session_attachables.go
  engine/server/session_control.go
  engine/server/session_control_test.go
  engine/server/session_hooks.go
  engine/server/session_query.go
  engine/server/session_query_test.go
  engine/server/session_results.go
  engine/server/session_telemetry_test.go
  engine/server/telemetry.go
  engine/session.go
  engine/session_test.go
Owners: none

design: finalize detachable P0 attachment semantics
  hack/designs/detachable-sessions-p0-implementation.html
Owners: none

design: close detachable P0 lifecycle gaps
  hack/designs/detachable-sessions-p0-implementation.html
Owners: none

design: narrow detachable session protocol changes
  hack/designs/detachable-sessions.html
Owners: none

feat: add detachable call and sessions commands
  internal/cmd/dagger/call.go
  internal/cmd/dagger/engine.go
  internal/cmd/dagger/functions.go
  internal/cmd/dagger/functions_test.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/sessions.go
  internal/cmd/dagger/sessions_test.go
Owners: none

test: verify detachable client boundaries
  engine/client/session_control_test.go
Owners: none

design: clarify detachable attachment retries
  hack/designs/detachable-sessions-p0-implementation.html
Owners: none

design: simplify detachable sessions P0
  hack/designs/detachable-sessions-p0-implementation.html
Owners: none

design: detail detachable sessions P0 implementation
  hack/designs/detachable-sessions-p0-implementation.html
Owners: none

test: cover detachable sessions end to end
  core/integration/detachable_session_test.go
  internal/cmd/dagger/detached_testhook.go
  internal/cmd/dagger/functions.go
Owners: none

fix: print session attachment wait once
  internal/cmd/dagger/sessions.go
Owners: none

design: clarify detachable session P0
  hack/designs/detachable-sessions.html
  skills/dagger-design-proposals/SKILL.md
Owners: none

feat: add detachable session client modes
  engine/client/client.go
  engine/client/session_control.go
  engine/client/session_control_test.go
Owners: none

test: harden detachable session lifecycle coverage
  core/integration/detachable_session_test.go
Owners: none

fix: harden detachable session lifecycle boundaries
  engine/server/session.go
  engine/server/session_attachables.go
  engine/server/session_control.go
  engine/server/session_control_test.go
Owners: none

fix: handle detached query states before result fetch
  internal/cmd/dagger/sessions.go
  internal/cmd/dagger/sessions_test.go
Owners: none

fix: preserve accepted detached query execution
  engine/server/session.go
  engine/server/session_query.go
  engine/server/session_query_test.go
Owners: none

test: make detachable interrupt lifecycle diagnostic
  core/integration/detachable_session_test.go
Owners: none

Support user-level workspace config keyed by Git remote (#13829)
  core/integration/workspace_user_config_test.go
  core/schema/workspace_config.go
  core/schema/workspace_env.go
  core/schema/workspace_module.go
  core/schema/workspace_test.go
  core/workspace.go
  core/workspace/config.go
  core/workspace/gitconfig.go
  core/workspace/gitconfig_test.go
  core/workspace/userconfig.go
  core/workspace/userconfig_test.go
  docs/current_docs/reference/cli/index.mdx
  docs/current_docs/reference/configuration/workspace.mdx
  docs/current_docs/using-dagger/environments.mdx
  engine/client/client.go
  engine/opts.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_userconfig_test.go
  engine/server/session_workspaces.go
  internal/cmd/dagger/engine.go
  internal/cmd/dagger/llmconfig/config.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/settings.go
  internal/cmd/dagger/userconfig_key_test.go
  internal/cmd/dagger/workspace.go
  internal/cmd/dagger/workspace_test.go
Owners: @dagger/docs

docs: add detachable sessions change note
  .changes/unreleased/Experimental-20260806-174108.yaml
Owners: none
