Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

modules/staff: fix cached impure tools, name reuse
  modules/staff/main.dang
Owners: none

fix(sdk/rust): make release packaging hermetic (#30)
  .github/workflows/rust-sdk-security.yml
  sdk/rust/ARCHITECTURE.md
  sdk/rust/completeness/artifacts/inventory.json
  sdk/rust/completeness/artifacts/ledger.json
  sdk/rust/completeness/artifacts/report.json
  sdk/rust/completeness/artifacts/report.md
  sdk/rust/completeness/artifacts/source-items.json
  sdk/rust/completeness/authorities.json
  sdk/rust/completeness/harness-mappings.json
  sdk/rust/crates/dagger-codegen/Cargo.toml
  sdk/rust/crates/dagger-codegen/README.md
  sdk/rust/crates/dagger-sdk-completeness/tests/initial_baseline.rs
  sdk/rust/crates/dagger-sdk/Cargo.toml
  sdk/rust/crates/dagger-sdk/build.rs
  toolchains/rust-sdk-dev/main.go
Owners: @dagger/sdk-rust

handoff: record spawn pivot plan + session state
  HANDOFF.md
Owners: none

fixup agent runtime test
  HANDOFF.md
  core/integration/agent_runtime_test.go
Owners: none

core/llm: pivot asAgent to spawn-minted agents
  core/agent.go
  core/modfunc.go
  core/schema/agent.go
  core/schema/llm.go
  docs/docs-graphql/schema.graphqls
  internal/cmd/dagger/llm.go
  sdk/go/dagger.gen.go
Owners: @dagger/docs, @dagger/sdk-go

core/integration: migrate agent tests to spawn
  core/integration/agent_injection_test.go
  core/integration/agent_runtime_test.go
  core/integration/staff_test.go
Owners: none

modules/staff: adopt spawn, drop the nonce
  modules/staff/main.dang
Owners: none

designs: ratify spawn pivot in async-agents
  hack/designs/async-agents.md
Owners: none

feat(sdk/rust): add generated runtime primitives (#31)
  .kiro/specs/rust-sdk-core-codegen/tasks.md
  sdk/rust/completeness/harness-mappings.json
  sdk/rust/crates/dagger-codegen/src/lib.rs
  sdk/rust/crates/dagger-codegen/src/rust/client.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/initial_baseline.rs
  sdk/rust/crates/dagger-sdk/src/client.rs
  sdk/rust/crates/dagger-sdk/src/core_codegen_runtime_tests.rs
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/rust/crates/dagger-sdk/src/id_input.rs
  sdk/rust/crates/dagger-sdk/src/lib.rs
  sdk/rust/crates/dagger-sdk/src/query.rs
  sdk/rust/crates/dagger-sdk/src/scalar.rs
  sdk/rust/crates/dagger-sdk/tests/owned_client.rs
  sdk/rust/crates/dagger-sdk/tests/public_api.rs
  sdk/rust/crates/dagger-sdk/tests/ui/fail/incompatible_typed_id.rs
  sdk/rust/crates/dagger-sdk/tests/ui/fail/incompatible_typed_id.stderr
  sdk/rust/crates/dagger-sdk/tests/ui/pass/typed_id_compatibility.rs
Owners: @dagger/sdk-rust

handoff: fold in post-pivot staff QA findings
  HANDOFF.md
Owners: none

feat(sdk/rust): render the complete generated client (#32)
  .kiro/specs/rust-sdk-core-codegen/tasks.md
  sdk/rust/completeness/harness-mappings.json
  sdk/rust/crates/dagger-codegen/src/lib.rs
  sdk/rust/crates/dagger-codegen/src/render/docs.rs
  sdk/rust/crates/dagger-codegen/src/render/mod.rs
  sdk/rust/crates/dagger-codegen/src/render/verification.rs
  sdk/rust/crates/dagger-codegen/tests/candidate_compile.rs
  sdk/rust/crates/dagger-codegen/tests/projection.rs
  sdk/rust/crates/dagger-codegen/tests/render.rs
  sdk/rust/crates/dagger-codegen/tests/render_properties.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/initial_baseline.rs
  sdk/rust/crates/dagger-sdk/tests/ui/pass/interface_implementors.rs
Owners: @dagger/sdk-rust

feat(sdk/rust): publish generated clients atomically
  .kiro/specs/rust-sdk-core-codegen/tasks.md
  sdk/rust/Cargo.lock
  sdk/rust/Cargo.toml
  sdk/rust/completeness/harness-mappings.json
  sdk/rust/crates/dagger-bootstrap/Cargo.toml
  sdk/rust/crates/dagger-bootstrap/README.md
  sdk/rust/crates/dagger-bootstrap/src/cli.rs
  sdk/rust/crates/dagger-bootstrap/src/cli_generate.rs
  sdk/rust/crates/dagger-bootstrap/src/generate/format.rs
  sdk/rust/crates/dagger-bootstrap/src/generate/mod.rs
  sdk/rust/crates/dagger-bootstrap/src/generate/publish.rs
  sdk/rust/crates/dagger-bootstrap/src/lib.rs
  sdk/rust/crates/dagger-bootstrap/src/main.rs
  sdk/rust/crates/dagger-bootstrap/tests/generation.rs
  sdk/rust/crates/dagger-bootstrap/tests/generation_properties.rs
  sdk/rust/crates/dagger-bootstrap/tests/support/mod.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/initial_baseline.rs
Owners: @dagger/sdk-rust

feat(sdk/rust): close core codegen conformance
  .kiro/specs/rust-sdk-core-codegen/tasks.md
  sdk/rust/completeness/artifacts/core-codegen-bindings.json
  sdk/rust/completeness/core-codegen-mappings.json
  sdk/rust/completeness/harness-mappings.json
  sdk/rust/crates/dagger-bootstrap/src/generate/mod.rs
  sdk/rust/crates/dagger-bootstrap/tests/support/mod.rs
  sdk/rust/crates/dagger-codegen/tests/candidate_compile.rs
  sdk/rust/crates/dagger-sdk-completeness/src/bin/dagger-core-conformance-evidence.rs
  sdk/rust/crates/dagger-sdk-completeness/src/core_codegen.rs
  sdk/rust/crates/dagger-sdk-completeness/src/core_codegen/conformance.rs
  sdk/rust/crates/dagger-sdk-completeness/src/core_codegen/evidence.rs
  sdk/rust/crates/dagger-sdk-completeness/src/core_codegen/manifest.rs
  sdk/rust/crates/dagger-sdk-completeness/src/diagnostic.rs
  sdk/rust/crates/dagger-sdk-completeness/src/lib.rs
  sdk/rust/crates/dagger-sdk-completeness/src/model.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/core_codegen_binding.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/initial_baseline.rs
  toolchains/engine-dev/dagger.gen.go
  toolchains/engine-dev/main.go
  toolchains/rust-sdk-dev/dagger.gen.go
  toolchains/rust-sdk-dev/internal/dagger/dagger-engine.gen.go
  toolchains/rust-sdk-dev/internal/dagger/dagger.gen.go
  toolchains/rust-sdk-dev/internal/dagger/rust-sdk-dev.gen.go
  toolchains/rust-sdk-dev/main.go
  toolchains/rust-sdk-dev/testdata/core_conformance.rs
Owners: @dagger/sdk-rust

feat(elixir-sdk): convert runtime from Go to Dang
  sdk/elixir/dagger.json
  sdk/elixir/runtime/.gitattributes
  sdk/elixir/runtime/dagger.gen.go
  sdk/elixir/runtime/go.mod
  sdk/elixir/runtime/go.sum
  sdk/elixir/runtime/internal/dagger/dagger.gen.go
  sdk/elixir/runtime/internal/dagger/elixir-sdk.gen.go
  sdk/elixir/runtime/main.dang
  sdk/elixir/runtime/main.go
Owners: @dagger/sdk-elixir

fix(elixir-sdk): fix pathJoin
  sdk/elixir/runtime/main.dang
Owners: @dagger/sdk-elixir

fix(elixir-sdk): fix syncImage function in elixir-sdk toolchain
  .dagger/modules/elixir-client-dev/elixir-sdk.dang
Owners: none

chore(elixir-sdk): dang fmt
  sdk/elixir/runtime/main.dang
Owners: @dagger/sdk-elixir

docs(sdk/rust): specify engine integration (#36)
  .kiro/specs/rust-sdk-engine-integration/design.md
  .kiro/specs/rust-sdk-engine-integration/requirements.md
  .kiro/specs/rust-sdk-engine-integration/tasks.md
Owners: none

feat(sdk/rust): establish engine integration foundation (#37)
  .kiro/specs/rust-sdk-engine-integration/requirements.md
  .kiro/specs/rust-sdk-engine-integration/tasks.md
  sdk/rust/AGENTS.md
  sdk/rust/Cargo.lock
  sdk/rust/Cargo.toml
  sdk/rust/completeness/artifacts/inventory.json
  sdk/rust/completeness/artifacts/ledger.json
  sdk/rust/completeness/artifacts/report.json
  sdk/rust/completeness/artifacts/report.md
  sdk/rust/completeness/artifacts/source-items.json
  sdk/rust/completeness/authorities.json
  sdk/rust/completeness/capabilities.json
  sdk/rust/completeness/classifications.json
  sdk/rust/completeness/engine-integration-mappings.json
  sdk/rust/completeness/harness-mappings.json
  sdk/rust/crates/dagger-sdk-completeness/src/contract.rs
  sdk/rust/crates/dagger-sdk-completeness/src/engine_integration.rs
  sdk/rust/crates/dagger-sdk-completeness/src/feature_scope.rs
  sdk/rust/crates/dagger-sdk-completeness/src/lib.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/engine_integration.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/initial_baseline.rs
  sdk/rust/crates/dagger-sdk-engine/Cargo.toml
  sdk/rust/crates/dagger-sdk-engine/README.md
  sdk/rust/crates/dagger-sdk-engine/src/canonical.rs
  sdk/rust/crates/dagger-sdk-engine/src/lib.rs
  sdk/rust/crates/dagger-sdk-engine/src/main.rs
  sdk/rust/crates/dagger-sdk-engine/src/model.rs
  sdk/rust/crates/dagger-sdk-engine/src/scalar.rs
  sdk/rust/crates/dagger-sdk-engine/tests/canonical_models.rs
  sdk/rust/crates/dagger-sdk-engine/tests/support/mod.rs
  toolchains/rust-sdk-dev/dagger.gen.go
  toolchains/rust-sdk-dev/internal/enginefree/main_test.go
  toolchains/rust-sdk-dev/main.go
Owners: @dagger/sdk-rust

fix(elixir-sdk): bump `:req` to fix CVEs issue
  sdk/elixir/mix.exs
  sdk/elixir/mix.lock
Owners: @dagger/sdk-elixir

feat(rust): add pure engine code generation (#38)
  .kiro/specs/rust-sdk-engine-integration/tasks.md
  sdk/rust/completeness/harness-mappings.json
  sdk/rust/crates/dagger-codegen/assets/client-generation.json
  sdk/rust/crates/dagger-codegen/src/diagnostic.rs
  sdk/rust/crates/dagger-codegen/src/engine/client.rs
  sdk/rust/crates/dagger-codegen/src/engine/entrypoint.rs
  sdk/rust/crates/dagger-codegen/src/engine/library.rs
  sdk/rust/crates/dagger-codegen/src/engine/metadata.rs
  sdk/rust/crates/dagger-codegen/src/engine/mod.rs
  sdk/rust/crates/dagger-codegen/src/engine/model.rs
  sdk/rust/crates/dagger-codegen/src/engine/module.rs
  sdk/rust/crates/dagger-codegen/src/engine/render.rs
  sdk/rust/crates/dagger-codegen/src/engine/renderers.rs
  sdk/rust/crates/dagger-codegen/src/engine/visible.rs
  sdk/rust/crates/dagger-codegen/src/lib.rs
  sdk/rust/crates/dagger-codegen/src/render/mod.rs
  sdk/rust/crates/dagger-codegen/src/schema/compatibility.rs
  sdk/rust/crates/dagger-codegen/src/schema/mod.rs
  sdk/rust/crates/dagger-codegen/src/schema/validate.rs
  sdk/rust/crates/dagger-codegen/tests/candidate_compile.rs
  sdk/rust/crates/dagger-codegen/tests/engine_operations.rs
  sdk/rust/crates/dagger-codegen/tests/operation_dispatch_properties.rs
  sdk/rust/crates/dagger-codegen/tests/support/mod.rs
  sdk/rust/crates/dagger-codegen/tests/visible_schema_properties.rs
  sdk/rust/crates/dagger-sdk-engine/src/model.rs
  sdk/rust/crates/dagger-sdk-engine/tests/operation_selector.rs
Owners: @dagger/sdk-rust

feat(sdk/rust): add confined engine operation runner (#39)
  .kiro/specs/rust-sdk-engine-integration/tasks.md
  sdk/rust/crates/dagger-sdk-engine/README.md
  sdk/rust/crates/dagger-sdk-engine/src/cli.rs
  sdk/rust/crates/dagger-sdk-engine/src/descriptor.rs
  sdk/rust/crates/dagger-sdk-engine/src/diagnostic.rs
  sdk/rust/crates/dagger-sdk-engine/src/initialization.rs
  sdk/rust/crates/dagger-sdk-engine/src/lib.rs
  sdk/rust/crates/dagger-sdk-engine/src/main.rs
  sdk/rust/crates/dagger-sdk-engine/src/model.rs
  sdk/rust/crates/dagger-sdk-engine/src/post_work.rs
  sdk/rust/crates/dagger-sdk-engine/src/project/manifest.rs
  sdk/rust/crates/dagger-sdk-engine/src/project/mod.rs
  sdk/rust/crates/dagger-sdk-engine/src/project/toolchain.rs
  sdk/rust/crates/dagger-sdk-engine/src/project/vcs.rs
  sdk/rust/crates/dagger-sdk-engine/src/publication.rs
  sdk/rust/crates/dagger-sdk-engine/src/root.rs
  sdk/rust/crates/dagger-sdk-engine/src/runner.rs
  sdk/rust/crates/dagger-sdk-engine/tests/project_properties.rs
  sdk/rust/crates/dagger-sdk-engine/tests/runner_properties.rs
  sdk/rust/crates/dagger-sdk-engine/tests/support/mod.rs
Owners: @dagger/sdk-rust

cli: name the SDK in install hints for full refs
  core/integration/command_hints_test.go
  internal/cmd/dagger/sdk.go
Owners: none

fix(elixir-sdk): bump `:req` to fix CVEs issue (#13675)
  sdk/elixir/mix.exs
  sdk/elixir/mix.lock
Owners: @dagger/sdk-elixir

fsutil: prune excludes by pattern precedence
  internal/fsutil/filter.go
  internal/fsutil/filter_test.go
Owners: none

designs: handling of missing workspace envs (--env)
  hack/designs/done/missing-env-handling.md
Owners: none

workspace: create missing envs on write, teach the read error
  core/integration/workspace_env_management_test.go
  core/integration/workspace_settings_test.go
  core/schema/workspace_builders.go
  core/schema/workspace_config.go
  core/schema/workspace_test.go
  core/workspace/config.go
  core/workspace/config_test.go
  docs/current_docs/reference/cli/index.mdx
  engine/server/session_workspaces.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/settings.go
  internal/cmd/dagger/workspace.go
Owners: @dagger/docs

workspace: type the undefined-env error for structured detection
  core/schema/workspace_builders.go
  core/schema/workspace_config.go
  core/workspace/config.go
  core/workspace/config_test.go
  internal/cmd/dagger/settings.go
  internal/cmd/dagger/settings_test.go
Owners: none

workspace: env-scoped module install and uninstall via --env
  core/integration/workspace_env_management_test.go
  core/integration/workspace_settings_test.go
  core/schema/workspace.go
  core/schema/workspace_builders.go
  core/schema/workspace_config.go
  core/schema/workspace_install.go
  core/schema/workspace_module.go
  core/schema/workspace_test.go
  docs/current_docs/reference/cli/index.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Workspace.html
  internal/cmd/dagger/client.go
  internal/cmd/dagger/module.go
  internal/cmd/dagger/module_init.go
  internal/cmd/dagger/setup.go
  internal/cmd/dagger/workspace.go
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

cli: detect env creation against the repository config
  core/integration/workspace_user_config_test.go
  internal/cmd/dagger/settings.go
  internal/cmd/dagger/workspace.go
Owners: none

cli: announce env installs that override another source
  core/integration/workspace_env_management_test.go
  internal/cmd/dagger/workspace.go
Owners: none

workspace: apply the user overlay to module listing unconditionally
  core/integration/workspace_user_config_test.go
  core/schema/workspace_module.go
Owners: none

fix(engine): decouple active-clients API from session lifecycle locks (#13542)
  .changes/unreleased/Fixed-20260810-150651.yaml
  engine/server/server.go
  engine/server/session.go
  engine/server/session_test.go
Owners: none

cli: name the SDK in install hints for full refs
  core/integration/command_hints_test.go
  internal/cmd/dagger/sdk.go
Owners: none

feat(engine): optional IPv6 CIDR for the container network
  cmd/engine/main.go
  network/netinst/cni.go
  network/netinst/cni_test.go
Owners: none

feat(schema): require declared Workspace! args on module functions
  core/integration/contextual_workspace_test.go
  core/integration/module_dependency_runtime_test.go
  core/llm_object_tools.go
  core/modtree.go
  core/module.go
  core/object.go
  core/schema/module.go
  core/typedef.go
  core/workspace_context.go
  internal/cmd/dagger/flags.go
  internal/cmd/dagger/functions.go
  internal/cmd/dagger/module_inspect.go
  internal/cmd/dagger/sdk_init_dynamic.go
  internal/cmd/dagger/shell_exec.go
Owners: none

fix(alpine): update apko to v1.2.9
  modules/alpine/go.mod
  modules/alpine/go.sum
Owners: none

chore(sdk): fix TypeScript dependency vulnerabilities
  sdk/typescript/package.json
  sdk/typescript/runtime/go.mod
  sdk/typescript/runtime/go.sum
  sdk/typescript/yarn.lock
Owners: @dagger/sdk-typescript

chore(sdk): update brace-expansion security fixes
  sdk/typescript/yarn.lock
Owners: @dagger/sdk-typescript

chore(sdk): fix TypeScript dependency vulnerabilities (#13877)
  sdk/typescript/package.json
  sdk/typescript/runtime/go.mod
  sdk/typescript/runtime/go.sum
  sdk/typescript/yarn.lock
Owners: @dagger/sdk-typescript

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
