Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

fix: glob matching for checks
  core/modtree.go
Owners: none

Allow dagger modules on non-default SSH port (#11628)
  .changes/unreleased/Fixed-20260106-093754.yaml
  core/modulerefs.go
  core/modulerefs_test.go
Owners: none

ref: extract patch preview
  core/mcp.go
  dagql/idtui/patch.go
  util/patchpreview/patch.go
Owners: none

chore: allow to handle changeset response
  cmd/dagger/functions.go
Owners: none

make AWS secret provider use explicit schemes for Secrets Manager and Parameter Store
  core/integration/secretprovider_test.go
  engine/client/secretprovider/aws.go
  engine/client/secretprovider/secretprovider.go
Owners: none

chore: allow to handle changeset response (#11755)
  cmd/dagger/functions.go
Owners: none

ref: extract patch preview (#11754)
  core/mcp.go
  dagql/idtui/patch.go
  util/patchpreview/patch.go
Owners: none

chore: add test for envfile recursion
  core/integration/envfile_test.go
Owners: none

chore: add test for envfile recursion (#11734)
  core/integration/envfile_test.go
Owners: none

dev: don't filter out .git in our test execution environment: we need it to load local dagger modules with the testcontainers pattern
  dagger.json
Owners: none

install generated Go client, for use from engine integration tests
  dagger.json
  internal/testutil/dagger/dag/dag.gen.go
  internal/testutil/dagger/dagger.gen.go
Owners: none

include engine/distconsts in root dagger module (needed for generated clients)
  dagger.json
Owners: none

WIP: try running a test engine from engine integration test code (fails to build)
  core/integration/suite_test.go
Owners: none

toolchains/engine-dev: TestEngine() returns an engine service suitable for use as an integration test dependency
  toolchains/engine-dev/test.go
Owners: none

dev: remove pprof & benchmark testing code, they are not used.
  toolchains/engine-dev/bench.go
  toolchains/engine-dev/pprof.go
Owners: none

chore: remove evaling span
  core/container.go
Owners: none

fix missing content digest in git
  core/modfunc.go
  core/schema/directory.go
  core/schema/git.go
  core/schema/modulesource.go
Owners: none

bump ts sdk lib for CVE-2026-24842
  sdk/typescript/package.json
  sdk/typescript/yarn.lock
Owners: @dagger/sdk-typescript

fix missing content digest in git
  core/modfunc.go
  core/schema/directory.go
  core/schema/git.go
  core/schema/modulesource.go
Owners: none

bump ts sdk lib for CVE-2026-24842
  sdk/typescript/package.json
  sdk/typescript/yarn.lock
Owners: @dagger/sdk-typescript

chore: remove evaling span (#11757)
  core/container.go
Owners: none

chores: move to moby/go-archive and moby/sys/user
  .golangci.yml
  core/container_emulator.go
  engine/buildkit/executor_spec.go
  engine/buildkit/worker.go
  go.mod
  internal/buildkit/cache/manager.go
  internal/buildkit/cache/refs.go
  internal/buildkit/executor/executor.go
  internal/buildkit/executor/oci/hosts.go
  internal/buildkit/executor/oci/resolvconf.go
  internal/buildkit/executor/oci/spec.go
  internal/buildkit/executor/oci/spec_darwin.go
  internal/buildkit/executor/oci/spec_freebsd.go
  internal/buildkit/executor/oci/spec_linux.go
  internal/buildkit/executor/oci/spec_windows.go
  internal/buildkit/exporter/local/fs.go
  internal/buildkit/frontend/gateway/gateway.go
  internal/buildkit/snapshot/containerd/snapshotter.go
  internal/buildkit/snapshot/snapshotter.go
  internal/buildkit/snapshot/staticmountable.go
  internal/buildkit/solver/llbsolver/file/backend.go
  internal/buildkit/solver/llbsolver/file/backend_unix.go
  internal/buildkit/solver/llbsolver/file/backend_windows.go
  internal/buildkit/solver/llbsolver/file/unpack.go
  internal/buildkit/solver/llbsolver/mounts/mount.go
  internal/buildkit/solver/llbsolver/ops/exec_binfmt.go
  internal/buildkit/source/git/source.go
  internal/buildkit/source/http/source.go
  internal/buildkit/source/local/source.go
  internal/buildkit/worker/base/worker.go
Owners: none

core/git: lazify repo construction
  core/contenthash.go
  core/contenthash_test.go
  core/git.go
  core/git_remote.go
  core/integration/cross_session_test.go
  core/integration/git_test.go
  core/schema/git.go
  core/schema/modulesource.go
  dagql/idtui/testdata/TestTelemetry/TestGolden/git-readme
Owners: none

fix: forward argumetns when re-querying the igt object
  core/schema/git.go
Owners: none

fix: some leftover failures, but the main thing is to correctly pass the slice as a dagql object + recognize the auth errors properly too
  core/integration/git_test.go
  core/schema/git.go
  util/gitutil/error.go
Owners: none

cache: correct cache serialization
  core/schema/git.go
Owners: none

chore: convert schemaJSONFile to dagop
  core/file.go
  core/schema/query.go
  dagql/server.go
  util/sortutil/range_sorted.go
  util/sortutil/range_sorted_test.go
Owners: none

wip
  core/schema/query.go
Owners: none

working(?) variation
  core/schema/query.go
  dagql/cachekey.go
Owners: none

Update Helm chart testing link in Kubernetes docs
  docs/current_docs/reference/deployment/kubernetes.mdx
Owners: @dagger/docs

fix docs for new aws+sm and aws+ps secret URI schemes
  docs/current_docs/partials/cookbook/secrets/_use-secret-variable.mdx
Owners: @dagger/docs

AWS secret manager and parameter store secret provider (#11728)
  core/integration/secretprovider_test.go
  docs/current_docs/extending/modules/arguments.mdx
  docs/current_docs/extending/modules/secrets.mdx
  docs/current_docs/introduction/features/secrets.mdx
  docs/current_docs/partials/cookbook/secrets/_use-secret-variable.mdx
  engine/client/secretprovider/aws.go
  engine/client/secretprovider/secretprovider.go
  go.mod
  go.sum
Owners: @dagger/docs

Add change file for AWS Secrets Manager and Parameter Store support
  .changes/unreleased/Added-20260129-121131.yaml
Owners: none

chores: move to moby/go-archive and moby/sys/user
  .golangci.yml
  core/container_emulator.go
  engine/buildkit/executor_spec.go
  engine/buildkit/worker.go
  go.mod
  internal/buildkit/cache/manager.go
  internal/buildkit/cache/refs.go
  internal/buildkit/executor/executor.go
  internal/buildkit/executor/oci/hosts.go
  internal/buildkit/executor/oci/resolvconf.go
  internal/buildkit/executor/oci/spec.go
  internal/buildkit/executor/oci/spec_darwin.go
  internal/buildkit/executor/oci/spec_freebsd.go
  internal/buildkit/executor/oci/spec_linux.go
  internal/buildkit/executor/oci/spec_windows.go
  internal/buildkit/exporter/local/fs.go
  internal/buildkit/frontend/gateway/gateway.go
  internal/buildkit/snapshot/containerd/snapshotter.go
  internal/buildkit/snapshot/snapshotter.go
  internal/buildkit/snapshot/staticmountable.go
  internal/buildkit/solver/llbsolver/file/backend.go
  internal/buildkit/solver/llbsolver/file/backend_unix.go
  internal/buildkit/solver/llbsolver/file/backend_windows.go
  internal/buildkit/solver/llbsolver/file/unpack.go
  internal/buildkit/solver/llbsolver/mounts/mount.go
  internal/buildkit/solver/llbsolver/ops/exec_binfmt.go
  internal/buildkit/source/git/source.go
  internal/buildkit/source/http/source.go
  internal/buildkit/source/local/source.go
  internal/buildkit/util/system/getuserinfo/userinfo_windows.go
  internal/buildkit/util/windows/util_windows.go
  internal/buildkit/worker/base/worker.go
Owners: none

dagql: resolve array results in parallel
  dagql/dagql_test.go
  dagql/server.go
Owners: none

fix: address lint issues in ModTree/checks
  core/checks.go
  core/modtree.go
Owners: none

fix: CheckGroup.Clone
  core/checks.go
Owners: none

core: ModTree infrastructure for checks
  core/checks.go
  core/modtree.go
  core/modtree_test.go
  core/module.go
  core/schema/checks.go
  core/typedef.go
  dagger.json
  util/parallel/parallel.go
Owners: none

chore: regenerate SDKs
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Check.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/go/dagger.gen.go
  sdk/php/generated/Check.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

fix: glob matching for checks
  core/modtree.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
