Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

core: add commit origin provenance
  core/workspace.go
  core/workspace_staged_commit.go
Owners: none

changes: note cross-workspace commit replay
  .changes/unreleased/Added-20260809-194500.yaml
Owners: none

core/integration: test cross-workspace pulls
  core/integration/workspace_commit_from_test.go
Owners: none

core/schema: replay commits across workspaces
  core/schema/workspace.go
  core/schema/workspace_commit.go
  core/schema/workspace_commit_from.go
Owners: none

sdk/go,docs: regenerate for commit replay
  docs/current_docs/extending/types/workspace-commit-pick.mdx
  docs/docs-graphql/schema.graphqls
  sdk/go/dagger.gen.go
Owners: @dagger/docs, @dagger/sdk-go

workspace: keep reloaded out of its call chain
  .changes/unreleased/Fixed-20260809-213000.yaml
  core/integration/workspace_reloaded_test.go
  core/schema/workspace.go
Owners: none

core: test sparse host base include semantics
  core/host_include_filter_test.go
Owners: none

core/integration: pin the ADD's cost and content
  core/integration/testdata/modules/go/workspace-editor/main.go
  core/integration/workspace_commit_sequence_test.go
Owners: none

core/integration: repro whole-file ADD in commits
  core/integration/workspace_commit_sequence_test.go
Owners: none

workspace/commit: share staged-tree reconstruction
  core/schema/workspace.go
  core/schema/workspace_commit.go
Owners: none

core/integration: test module-held ws edits
  core/integration/testdata/modules/go/workspace-editor/dagger.json
  core/integration/testdata/modules/go/workspace-editor/main.go
  core/integration/workspace_module_edit_test.go
Owners: none

workspace/commit: anchor commit delta on one base
  core/schema/workspace_commit.go
Owners: none

core/changeset: pin stale-anchor whole-file ADD
  core/changeset_test.go
Owners: none

core: stop stacking a layer per removed path
  core/changeset.go
  core/changeset_delta.go
  core/changeset_git.go
  core/changeset_git_test.go
  core/schema/directory.go
  core/schema/workspace_commit.go
  core/schema/workspace_commit_scope_test.go
Owners: none

core/schema: stop workspace overlays inventing deletions
  .changes/unreleased/Fixed-20260813-190000.yaml
  core/integration/workspace_overlay_removal_test.go
  core/schema/workspace.go
  core/schema/workspace_builders.go
  core/schema/workspace_commit.go
  core/workspace.go
Owners: none

workspace: document commit identity
  core/integration/workspace_commit_test.go
  core/schema/workspace.go
Owners: none

workspace: tolerate replayed commits
  core/integration/llm_resume_test.go
  core/schema/workspace_commit.go
  core/schema/workspace_commit_scope_test.go
  dagql/server.go
Owners: none

workspace: make commits message-idempotent
  core/integration/llm_resume_test.go
  core/integration/workspace_commit_test.go
  core/schema/workspace_commit.go
  core/schema/workspace_commit_scope_test.go
  core/workspace_commit.go
  dagql/server.go
Owners: none

core(llm): adopt a returned LLM as a continuation
  core/integration/llm_object_tools_test.go
  core/integration/testdata/workspaces/workspace-tool-return/.dagger/modules/swapper/main.dang
  core/llm.go
  core/llm_context.go
  core/llm_continuation_test.go
  core/llm_object_tools.go
  core/llm_object_tools_test.go
  core/mcp.go
  core/modfunc.go
  core/typedef.go
Owners: none

core: recompose agents through the pending overlay
  core/integration/agents_test.go
  core/moddeps.go
  core/schema/workspace.go
  core/schema/workspace_overlay_modules.go
  core/workspace.go
  core/workspace_context.go
Owners: none

test: cover worktree checkouts end to end
  core/integration/module_path_inputs_test.go
  core/integration/testdata/modules/go/worktree-context-entries/dagger.json
  core/integration/testdata/modules/go/worktree-context-entries/main.go
  core/integration/workspace_test.go
Owners: none

docs(design): host-git reconstruction
  hack/designs/host-git-reconstruction.md
Owners: none

core: add canonical host-git materialization
  core/git_hostdir.go
  core/modulesource_gitfile.go
Owners: none

engine(git): add CheckoutState/PackCheckout RPCs
  engine/engineutil/client.go
  engine/session/git/git.go
  engine/session/git/git.pb.go
  engine/session/git/git.proto
  engine/session/git/git_pack.go
Owners: none

engine/session/git: fix stale config test
  engine/session/git/git_test.go
Owners: none

core: rebuild host checkout git from client packs
  core/git_hostdir.go
  core/integration/module_path_inputs_test.go
  core/integration/workspace_test.go
  core/modfunc.go
  core/modulesource.go
  core/modulesource_gitfile.go
  core/schema/host.go
  core/schema/modulesource.go
  core/schema/workspace.go
  core/schema/workspace_commit.go
  engine/session/git/git_pack_test.go
Owners: none

workspace: add WorkspaceGit.push API
  .changes/unreleased/Added-20260806-120000.yaml
  core/integration/workspace_push_test.go
  core/schema/workspace.go
  core/schema/workspace_push.go
  engine/engineutil/client.go
  engine/session/git/git.go
  engine/session/git/git.pb.go
  engine/session/git/git.proto
  engine/session/git/git_push.go
  engine/session/git/git_push_test.go
Owners: none

git: replay staged commits onto moved HEAD
  engine/engineutil/client.go
  engine/session/git/git.pb.go
  engine/session/git/git.proto
  engine/session/git/git_apply.go
  engine/session/git/git_apply_test.go
Owners: none

designs: propose shared host git mirrors
  hack/designs/shared-host-git-mirrors.md
Owners: none

workspace: apply packed git delta
  core/git_hostdir.go
  core/integration/workspace_git_delta_test.go
  core/schema/directory.go
  core/schema/workspace.go
Owners: none

git: stream host worktree delta
  engine/engineutil/client.go
  engine/session/git/git.go
  engine/session/git/git.pb.go
  engine/session/git/git.proto
  engine/session/git/git_worktree.go
  engine/session/git/git_worktree_test.go
Owners: none

sdk,docs: regenerate for WorkspaceGit.push
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/WorkspaceGit.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/workspace_git.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/WorkspaceGit.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

workspace: refresh moved worktree HEAD
  core/integration/llm_resume_test.go
  core/schema/directory.go
  engine/engineutil/client.go
Owners: none

designs: fix snapshot terminology
  hack/designs/portable-agent-workspaces.md
Owners: none

designs: refine portable agent workspaces
  hack/designs/portable-agent-workspaces.md
Owners: none

designs: capture lost workspace decisions
  hack/designs/portable-agent-workspaces.md
Owners: none

git: capture portable host workspaces
  engine/engineutil/client.go
  engine/session/git/git.go
  engine/session/git/git.pb.go
  engine/session/git/git.proto
  engine/session/git/git_capture.go
  engine/session/git/git_capture_test.go
Owners: none

core(workspace): replay saves after branch moves
  core/integration/workspace_commit_head_moved_test.go
  core/schema/workspace.go
  core/schema/workspace_commit.go
  core/workspace_commit.go
Owners: none

git: bound advertised base selection
  engine/session/git/git_capture.go
  engine/session/git/git_capture_test.go
Owners: none

git: batch checkpoint object inspection
  engine/session/git/git_capture.go
  engine/session/git/git_capture_test.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
