Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

fix(lint): it's a hack to have a full green CI run
  core/schema/git.go
Owners: none

chore: extract ambiguous URL from git into ref
  core/schema/git.go
Owners: none

core(git): eagerly verify access in `url()` resolver
  core/schema/git.go
Owners: none

fix(git): scope tree/commit/ref cache keys per-client to prevent auth leaks
  core/schema/git.go
Owners: none

fix(git): extract resolution logic into core types and fix ref canonicalization
  core/git.go
  core/git_remote.go
  core/schema/git.go
Owners: none

git: exclude .git from tree hash to stabilize service hosts
  core/contenthash.go
  core/dagop.go
  core/schema/git.go
Owners: none

ref almost converted, one big monolith to split
  core/git.go
  core/git_remote.go
  core/schema/git.go
Owners: none

refactor(git): simplify reentry helpers and resolution logic
  core/schema/git.go
Owners: none

core(git): fix ref resolution for local git repositories
  core/schema/git.go
Owners: none

refactor the id based implementation (unfinished i think)
  core/schema/git.go
Owners: none

core/git: fetch remotes lazily in tag/branch/version resolvers
  core/schema/git.go
Owners: none

chore: start the massacre
  core/git_remote.go
  core/schema/git.go
Owners: none

core(git): include secret ID digests in git() cache key
  core/schema/git.go
Owners: none

core(git): fix tree() for local git repositories
  core/schema/git.go
Owners: none

test(golden): update git-readme trace for lazy ref resolution
  dagql/idtui/testdata/TestTelemetry/TestGolden/git-readme
Owners: none

fix(git): include tree args in digest scope to prevent cache collisions
  core/schema/git.go
Owners: none

test(git): add tree digest stability tests
  core/integration/git_test.go
Owners: none

fix(contenthash): add followLinks parameter to handle broken symlinks
  core/contenthash.go
  core/schema/git.go
Owners: none

refactor(git): clarify lazy resolution with self-documenting helpers
  core/schema/git.go
  core/schema/git_resolve.go
Owners: none

modules/{alpine,wolfi}: support additional repos
  modules/alpine/main.go
  modules/wolfi/main.go
Owners: none

add proxy config support to ~/.dagger/engine.json
  cmd/engine/main.go
  engine/client/drivers/docker.go
  engine/config/config.go
Owners: none

feat: make checks available on current env
  cmd/dagger/shell_commands.go
  core/checks.go
  core/env.go
  core/schema/env.go
Owners: none

re-generate
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Env.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/go/dagger.gen.go
  sdk/php/generated/Env.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

feat: fix conflict on tsconfig.json when generating multiple ts client.
  core/integration/client_generator_test.go
  sdk/typescript/runtime/config.go
  sdk/typescript/runtime/config_updator.go
  sdk/typescript/runtime/introspector.go
  sdk/typescript/runtime/lib_generator.go
  sdk/typescript/runtime/main.go
  sdk/typescript/runtime/runtime_bun.go
  sdk/typescript/runtime/runtime_deno.go
  sdk/typescript/runtime/runtime_node.go
  sdk/typescript/runtime/tsutils/client/index.ts
  sdk/typescript/runtime/tsutils/deno_config_updator.go
  sdk/typescript/runtime/tsutils/deno_config_updator_test.go
  sdk/typescript/runtime/tsutils/embedded_files_content.go
  sdk/typescript/runtime/tsutils/package_json_updator.go
  sdk/typescript/runtime/tsutils/package_json_updator_test.go
  sdk/typescript/runtime/tsutils/tsconfig_updator.go
  sdk/typescript/runtime/tsutils/tsconfig_updator_test.go
Owners: @dagger/sdk-typescript

chore: fix linter
  sdk/typescript/runtime/bin/__dagger.entrypoint.ts
  sdk/typescript/runtime/bin/__deno_config_updator.ts
  sdk/typescript/runtime/bin/__tsclientconfig.updator.ts
  sdk/typescript/runtime/bin/__tsconfig.updator.ts
  sdk/typescript/runtime/bundled_static_export/client/index.ts
  sdk/typescript/runtime/bundled_static_export/client/telemetry.ts
  sdk/typescript/runtime/bundled_static_export/module/index.ts
  sdk/typescript/runtime/bundled_static_export/module/telemetry.ts
  sdk/typescript/runtime/clientgen.go
  sdk/typescript/runtime/config.go
  sdk/typescript/runtime/lib_generator.go
  sdk/typescript/runtime/sdk_utils.go
  sdk/typescript/runtime/template/package.json
  sdk/typescript/runtime/template/src/index.ts
  sdk/typescript/runtime/template/tsconfig.json
  sdk/typescript/runtime/tsutils/deno_config_updator_test.go
  sdk/typescript/runtime/tsutils/tsconfig_updator_test.go
Owners: @dagger/sdk-typescript

ref(sdk/python): migrate python code analysis from runtime to ast-based
  sdk/python/ruff.toml
  sdk/python/src/dagger/mod/_analyzer.py
  sdk/python/src/dagger/mod/_ast_resolver.py
  sdk/python/src/dagger/mod/_ast_visitor.py
  sdk/python/src/dagger/mod/_ir.py
  sdk/python/src/dagger/mod/_module.py
  sdk/python/src/dagger/mod/cli.py
  sdk/python/tests/mod/test_ast_analyzer.py
Owners: @dagger/sdk-python

feat(sdk/elixir): Module level deprecation (#11599)
  sdk/elixir/.changes/unreleased/Added-20251229-043601.yaml
  sdk/elixir/lib/dagger/mod/module.ex
  sdk/elixir/lib/dagger/mod/object.ex
  sdk/elixir/lib/dagger/mod/object/field_def.ex
  sdk/elixir/lib/dagger/mod/object/function_def.ex
  sdk/elixir/lib/dagger/mod/object/meta.ex
  sdk/elixir/test/dagger/mod/module_test.exs
  sdk/elixir/test/dagger/mod/object_test.exs
  sdk/elixir/test/support/object_mod.ex
Owners: @dagger/sdk-elixir

core: slightly simplify changeset serialization
  core/changeset.go
Owners: none

modules/{alpine,wolfi}: support additional repos
  modules/alpine/main.go
  modules/wolfi/main.go
Owners: none

ref: use git-based 3-way merge for changeset operations
  core/changeset.go
  core/changeset_test.go
  core/integration/changeset_test.go
  core/schema/directory.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  sdk/go/dagger.gen.go
Owners: @dagger/docs, @dagger/sdk-go

handle per-session module retrieval for context dirs
  core/contenthash.go
  core/integration/module_test.go
  core/module.go
  core/schema/host.go
  core/schema/modulesource.go
  dagql/objects.go
  dagql/types.go
Owners: none

fix panic in release toolchain after error
  toolchains/release/main.go
Owners: none

engine: support running ebpf programs at engine start
  .gitignore
  cmd/engine/main.go
  engine/ebpf/AGENTS.md
  engine/ebpf/bpf/common.h
  engine/ebpf/bpf/vmlinux.h
  engine/ebpf/common.go
  engine/ebpf/filetracer/bpf/fileops.bpf.c
  engine/ebpf/filetracer/fileops_arm64_bpfel.go
  engine/ebpf/filetracer/fileops_arm64_bpfel.o
  engine/ebpf/filetracer/fileops_x86_bpfel.go
  engine/ebpf/filetracer/fileops_x86_bpfel.o
  engine/ebpf/filetracer/tracer.go
  engine/ebpf/internal/ebpfutil/util.go
  engine/ebpf/ovltracer/bpf/ovl_inuse.bpf.c
  engine/ebpf/ovltracer/ovlinuse_arm64_bpfel.go
  engine/ebpf/ovltracer/ovlinuse_x86_bpfel.go
  engine/ebpf/ovltracer/tracer.go
  go.mod
  go.sum
  modules/alpine/main.go
  toolchains/engine-dev/bench.go
  toolchains/engine-dev/build/builder.go
  toolchains/engine-dev/main.go
  toolchains/engine-dev/pprof.go
  toolchains/engine-dev/test.go
  toolchains/go/main.go
  toolchains/test-split/engine-tests.gen.dang
Owners: none

ci: bump macos publish test to macos-15
  .github/workflows/publish.yml
Owners: none

ci: bump macos publish test to macos-15 (#11658)
  .github/workflows/publish.yml
Owners: none

Remove deprecated "arguments" field from our dagger.json
  dagger.json
Owners: none

Remove deprecated "arguments" field from our dagger.json
  dagger.json
Owners: none

fix(cli): limit `develop --recursive` parallelism to NumCPU
  cmd/dagger/module.go
Owners: none

fix(cli): use engine CPU count for develop --recursive parallelism
  cmd/dagger/module.go
  engine/client/client.go
  engine/server/server.go
  internal/buildkit/api/services/control/control.pb.go
  internal/buildkit/api/services/control/control.proto
  internal/buildkit/client/info.go
Owners: none

fix(cli): pass engine CPU count to nested sessions
  engine/buildkit/executor_spec.go
  engine/client/client.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
