Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

fix(git): retain captured push destinations
  .changes/unreleased/Fixed-20260906-011000.yaml
  core/git.go
  core/git_latest_test.go
  core/git_persistence_test.go
  core/integration/git_push_test.go
  core/schema/git.go
  core/schema/git_push.go
  core/schema/workspace_checkpoint.go
  core/schema/workspace_commit.go
  core/schema/workspace_pull.go
  engine/session/git/git.pb.go
  engine/session/git/git.proto
  engine/session/git/git_capture.go
  engine/session/git/git_capture_push_test.go
Owners: none

fix(git): reduce checkpoint remote discovery waits
  engine/session/git/git_capture.go
  engine/session/git/git_capture_test.go
Owners: none

feat(cli): manage SSH agents for pushes
  .dagger/modules/engine-dev/test.go
  core/git_push.go
  core/integration/git_test.go
  dagql/idtui/frontend_command_view_test.go
  engine/client/client.go
  engine/engineutil/git_push_auth.go
  engine/session/git/git.go
  engine/session/git/git.pb.go
  engine/session/git/git.proto
  engine/session/git/git_push_ssh.go
  engine/session/git/git_push_ssh_test.go
  internal/cmd/dagger/engine.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/ssh_askpass.go
  internal/cmd/dagger/ssh_askpass_test.go
Owners: none

feat(git): approve delegated pushes per session
  .changes/unreleased/Added-20260906-020000.yaml
  core/agent_tool_context.go
  core/agent_tool_context_test.go
  core/git_push.go
  core/git_push_approval_test.go
  core/git_remote.go
  core/integration/git_push_approval_test.go
  core/mcp.go
  core/query.go
  core/schema/git.go
  core/schema/git_push.go
  core/schema/test_server_test.go
  core/telemetry_test.go
  dagql/idtui/explicit_confirm.go
  dagql/idtui/frontend_command_view_test.go
  dagql/idtui/frontend_pretty.go
  engine/server/git_push.go
  engine/server/git_push_test.go
  engine/server/session.go
Owners: none

feat(workspace): allow dropping untracked files
  core/schema/workspace_checkpoint.go
  core/schema/workspace_checkpoint_prompt_test.go
  dagql/idtui/frontend_command_view_test.go
  engine/session/git/git.pb.go
  engine/session/git/git.proto
  engine/session/git/git_capture.go
  engine/session/git/git_capture_test.go
  engine/session/prompt/prompt.go
  engine/session/prompt/prompt.pb.go
  engine/session/prompt/prompt.proto
  engine/session/prompt/prompt_select_test.go
Owners: none

feat(api): expose the current timestamp
  .changes/unreleased/Added-20260905-235900.yaml
  core/integration/engine_test.go
  core/schema/query.go
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Client.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/php/generated/Client.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

fix(secrets): trim command output newlines
  .changes/unreleased/Fixed-20260906-010000.yaml
  engine/client/secretprovider/cmd.go
  engine/client/secretprovider/cmd_test.go
Owners: none

fix(agent): keep changes relative to checkpoint
  internal/cmd/dagger/functions.go
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/llm_changes.go
  internal/cmd/dagger/llm_changes_test.go
  internal/cmd/dagger/shell.go
Owners: none

feat(workspace): add reset and author getters
  .changes/unreleased/Added-20260908-000000.yaml
  core/integration/workspace_commit_test.go
  core/schema/workspace.go
  core/schema/workspace_commit.go
  core/schema/workspace_reset.go
  core/schema/workspace_reset_test.go
  core/workspace_commit.go
  core/workspace_pull.go
Owners: none

feat(workspace): integrate commits before export
  .changes/unreleased/Added-20260905-200000.yaml
  core/integration/testdata/modules/go/workspace-export-sandbox/main.go
  core/integration/workspace_export_test.go
  core/integration/workspace_pull_test.go
  core/schema/workspace.go
  core/schema/workspace_export.go
  core/schema/workspace_pull.go
  core/workspace.go
  core/workspace_export.go
  core/workspace_pull.go
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  engine/session/git/git.pb.go
  engine/session/git/git.proto
  engine/session/git/git_apply.go
  engine/session/git/git_apply_integration.go
  engine/session/git/git_apply_integration_test.go
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/llm_changes_test.go
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

refactor(workspace): share repository setup
  core/schema/workspace_commit.go
  core/schema/workspace_reset.go
Owners: none

refactor(workspace): remove portable API
  .changes/unreleased/Added-20260905-120000.yaml
  core/integration/workspace_checkpoint_test.go
  core/integration/workspace_commit_test.go
  core/integration/workspace_pull_test.go
  core/schema/workspace.go
  core/schema/workspace_checkpoint.go
Owners: none

regen docs + sdks
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

chore: regenerate SDKs and API references
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

feat(workspace): resolve authors from git config
  .changes/unreleased/Added-20260905-180000.yaml
  .changes/unreleased/Added-20260908-000000.yaml
  core/integration/workspace_commit_test.go
  core/integration/workspace_git_author_test.go
  core/integration/workspace_pull_test.go
  core/schema/workspace.go
  core/schema/workspace_checkpoint.go
  core/schema/workspace_commit.go
  core/schema/workspace_commit_test.go
  core/schema/workspace_pull.go
  core/workspace.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
  engine/session/git/git_test.go
Owners: none

chore: regenerate SDKs and API references
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

chore: align generated files after rebase
  docs/current_docs/reference/api/git-push-result.mdx
  docs/current_docs/reference/api/workspace-commit-pick.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-rust, @dagger/sdk-typescript

fix: finish remote Git maintenance before releasing its mirror
  core/git_remote.go
  core/git_remote_test.go
Owners: none

test: bound the paused Git maintenance fixture
  core/git_remote_test.go
Owners: none

changelog: note the remote Git maintenance fix
  .changes/unreleased/Fixed-20260910-011746.yaml
Owners: none

fix(dagql): hide incomplete interface claims
  dagql/dagql_test.go
  dagql/objects.go
Owners: none

feat(workspace): replace checkpoint with sync
  .changes/unreleased/Added-20260905-120000.yaml
  core/git_hostdir.go
  core/integration/git_push_test.go
  core/integration/llm_test.go
  core/integration/workspace_checkpoint_test.go
  core/integration/workspace_export_test.go
  core/integration/workspace_git_author_test.go
  core/integration/workspace_pull_test.go
  core/integration/workspace_write_directory_test.go
  core/schema/git.go
  core/schema/workspace.go
  core/schema/workspace_checkpoint.go
  core/schema/workspace_commit.go
  core/schema/workspace_pull.go
  core/schema/workspace_reset.go
  core/workspace.go
  docs/current_docs/reference/cli/index.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  engine/server/server.go
  engine/server/session.go
  engine/server/session_workspaces.go
  hack/designs/host-git-reconstruction.md
  internal/cmd/dagger/agent.go
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/llm_changes_test.go
  internal/cmd/dagger/module_sdk_dynamic.go
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

chore(api): clarify workspace git operations
  core/schema/git.go
  core/schema/workspace.go
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/GitRef.html
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/git_ref.ex
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/GitRef.php
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

chore(api): add graphql sdl diff tool
  go.mod
  hack/sdl-diff/README.md
  hack/sdl-diff/main.go
  hack/sdl-diff/main_test.go
Owners: none

fix(api): render semantic sdl changes
  go.mod
  hack/sdl-diff/README.md
  hack/sdl-diff/diff.go
  hack/sdl-diff/diff_test.go
  hack/sdl-diff/main.go
Owners: none

Use short names for entrypoint targets
  core/agents.go
  core/checks.go
  core/generators.go
  core/integration/module_terminal_test.go
  core/integration/workspace_entrypoint_targets_test.go
  core/moddeps.go
  core/modtree.go
  core/modtree_test.go
  core/schema/agents.go
  core/schema/checks.go
  core/schema/generators.go
  core/schema/terminals.go
  core/schema/testdata/base_schema.graphqls
  core/schema/up.go
  core/schema/workspace.go
  core/schema/workspace_sdk_generator.go
  core/schema/workspace_targets.go
  core/schema/workspace_test.go
  core/terminals.go
  core/up.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

Update generated clients and target output expectations
  core/integration/module_terminal_test.go
  dagql/idtui/testdata/TestTelemetry/TestGolden/generate-fail
  dagql/idtui/testdata/TestTelemetry/TestGolden/test-summary-check
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Agent.html
  docs/static/reference/php/Dagger/Check.html
  docs/static/reference/php/Dagger/Generator.html
  docs/static/reference/php/Dagger/TerminalTarget.html
  docs/static/reference/php/Dagger/Up.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/agent.ex
  sdk/elixir/lib/dagger/gen/check.ex
  sdk/elixir/lib/dagger/gen/generator.ex
  sdk/elixir/lib/dagger/gen/terminal_target.ex
  sdk/elixir/lib/dagger/gen/up.ex
  sdk/php/generated/Agent.php
  sdk/php/generated/Check.php
  sdk/php/generated/Generator.php
  sdk/php/generated/TerminalTarget.php
  sdk/php/generated/Up.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

core: inline lockfile options with inputs
  core/workspace/lock.go
  core/workspace/lock_test.go
  hack/designs/lockfile.md
  util/lockfile/lockfile.go
  util/lockfile/lockfile_test.go
Owners: none

fix(elixir): avoid per-task codegen timeouts
  sdk/elixir/dagger_codegen/lib/dagger/codegen.ex
  sdk/elixir/dagger_codegen/lib/mix/tasks/dagger.codegen.ex
  sdk/elixir/dagger_codegen/test/dagger/codegen_test.exs
Owners: @dagger/sdk-elixir

cli: expand module recommendation matches
  internal/cmd/dagger/modules.go
  internal/cmd/dagger/recommend_config.go
  internal/cmd/dagger/recommend_config_test.go
Owners: none

cli: add dagger mod recommend
  core/integration/module_recommend_test.go
  docs/current_docs/reference/cli/index.mdx
  internal/cmd/dagger/capabilities.go
  internal/cmd/dagger/capabilities_test.go
  internal/cmd/dagger/module.go
  internal/cmd/dagger/module_recommend.go
  internal/cmd/dagger/module_recommend_test.go
  internal/cmd/dagger/module_sdk_test.go
  internal/cmd/dagger/recommend.go
  internal/cmd/dagger/setup.go
Owners: @dagger/docs

cli: convert the module registry to Go
  internal/cmd/dagger/mod.go
  internal/cmd/dagger/mod_test.go
  internal/cmd/dagger/modules.go
  internal/cmd/dagger/modules.json
  internal/cmd/dagger/recommend.go
  internal/cmd/dagger/recommend_test.go
Owners: none

cli: temporarily disable --env across commands
  core/integration/workspace_env_management_test.go
  core/integration/workspace_selection_test.go
  core/integration/workspace_settings_test.go
  core/integration/workspace_user_config_test.go
  docs/current_docs/reference/cli/index.mdx
  internal/cmd/dagger/capabilities.go
  internal/cmd/dagger/capabilities_test.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/module.go
  internal/cmd/dagger/module_recommend_test.go
  internal/cmd/dagger/settings.go
  internal/cmd/dagger/workspace.go
  internal/cmd/dagger/workspace_test.go
Owners: @dagger/docs

fix(core/workspace): preserve overlay writes at gitignored paths during gitignore reads
  core/integration/workspace_write_directory_test.go
  core/schema/workspace.go
Owners: none

core: normalize diff --git header prefixes
  core/changeset.go
  core/changeset_patch_test.go
Owners: none

core: drop unused return from test git helper
  core/changeset_patch_test.go
Owners: none

docs: add docs-guide and docs-writing-style skills, allow pronouns in guides
  docs/STYLE_GUIDE.md
  skills/docs-guide/SKILL.md
  skills/docs-writing-style/SKILL.md
Owners: @dagger/docs

cli: add a prompt context visualizer
  .changes/unreleased/Added-20260814-000000.yaml
  .changes/unreleased/Added-20260814-120000.yaml
  internal/cmd/dagger/context_viz.go
  internal/cmd/dagger/context_viz.html
  internal/cmd/dagger/context_viz_test.go
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/references.go
  internal/cmd/dagger/references_test.go
  internal/cmd/dagger/session_agent.go
  internal/cmd/dagger/shell.go
  internal/cmd/dagger/shell_commands.go
Owners: none

idtui: let the editor own arrows in long prompts
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_pretty_test.go
  dagql/idtui/prompt_frame.go
  go.mod
  go.sum
Owners: none

core/agent,idtui: show loop failures in transcript
  core/agent.go
  core/agent_telemetry.go
  core/agent_telemetry_test.go
  dagql/dagui/agent_conversation_test.go
  dagql/idtui/agent_conversation_focus_test.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_pretty_test.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
