Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

chore: fix gofmt formatting in executor_spec.go
  engine/buildkit/executor_spec.go
Owners: none

fix(cli): limit `develop --recursive` parallelism to the engine's NumCPU (#11659)
  cmd/dagger/module.go
  engine/buildkit/executor_spec.go
  engine/client/client.go
  engine/server/server.go
  internal/buildkit/api/services/control/control.pb.go
  internal/buildkit/api/services/control/control.proto
  internal/buildkit/client/info.go
Owners: none

README: refocus on software delivery.
  README.md
Owners: none

simplify git, remove leave conflict option
  core/changeset.go
  core/integration/changeset_test.go
  core/schema/directory.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Changeset.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/go/dagger.gen.go
  sdk/php/generated/Changeset.php
  sdk/php/generated/ChangesetMergeConflict.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

docs: Add comprehensive implementation gaps analysis
  sdk/nushell/IMPLEMENTATION_GAPS.md
Owners: none

feat: Add Nushell SDK implementation
  core/sdk/consts.go
  core/sdk/loader.go
  dagql/idtui/testdata/TestTelemetry/TestGolden/broken-dep-sdk/use-invalid
  sdk/nushell/README.md
  sdk/nushell/runtime/.gitattributes
  sdk/nushell/runtime/.gitignore
  sdk/nushell/runtime/dagger.json
  sdk/nushell/runtime/go.mod
  sdk/nushell/runtime/go.sum
  sdk/nushell/runtime/main.go
  sdk/nushell/runtime/template/dag.nu
  sdk/nushell/runtime/template/executor.go
  sdk/nushell/runtime/template/main.nu
  sdk/nushell/runtime/template/runtime.nu
Owners: none

feat(nushell): Add check support and reorganize file structure
  sdk/nushell/runtime/main.go
  sdk/nushell/runtime/runtime/dag.nu
  sdk/nushell/runtime/runtime/executor.go
  sdk/nushell/runtime/runtime/runtime.nu
  sdk/nushell/runtime/template/dag.nu
  sdk/nushell/runtime/templates/main.nu
Owners: none

fix(nushell): Improve executor parameter and return value marshaling
  sdk/nushell/runtime/template/executor.go
Owners: none

docs(nushell): Update documentation with completed features
  sdk/nushell/IMPLEMENTATION_GAPS.md
  sdk/nushell/README.md
  sdk/nushell/runtime/dagger.json
Owners: none

core: allow exit codes >127 for ReturnType ANY and FAILURE
  core/container.go
  core/integration/returncodes_test.go
Owners: none

chore: fix checkGenerated job
  dagql/call/callpbv1/call.pb.go
  internal/buildkit/util/stack/stack.pb.go
Owners: none

chore: fix checkGenerated job (#11669)
  dagql/call/callpbv1/call.pb.go
  internal/buildkit/util/stack/stack.pb.go
Owners: none

fix panic in release toolchain after error
  toolchains/release/main.go
Owners: none

README: refocus on software delivery.
  README.md
Owners: none

docs: align intro with README and homepage. Refocus on software delivery
  docs/current_docs/index.mdx
Owners: @dagger/docs

Docs: downgrade "build an AI agent" quickstart from the docs, since it seems to confuse people.
  docs/current_docs/getting-started/index.mdx
Owners: @dagger/docs

fix missing 0.19.8->0.19.9 bumps
  .github/actions/call/action.yml
  .github/workflows/_dagger_on_depot_remote_engine.yml
  .github/workflows/benchmark-engine.yml
  .github/workflows/daggerverse-preview.yml
  .github/workflows/llm.yml
  .github/workflows/publish.yml
Owners: none

chore: use file.Contents instead of ReadRequest (#11647)
  core/modfunc.go
Owners: none

fix missing 0.19.8->0.19.9 bumps (#11672)
  .github/actions/call/action.yml
  .github/workflows/_dagger_on_depot_remote_engine.yml
  .github/workflows/benchmark-engine.yml
  .github/workflows/daggerverse-preview.yml
  .github/workflows/llm.yml
  .github/workflows/publish.yml
Owners: none

chore: convert export calls to dagops (#11518)
  core/container.go
  core/schema/container.go
  engine/buildkit/containerimage.go
  util/containerutil/annotation.go
Owners: none

chore: remove StatLLB
  core/directory.go
  core/file.go
  core/host.go
  core/integration/directory_test.go
  core/modulerefs_test.go
  core/modulesource.go
  core/schema/directory.go
  core/schema/file.go
  core/schema/modulesource.go
Owners: none

handle leftover overlay volatile dirs after ungraceful engine shutdown
  internal/buildkit/cache/manager.go
  internal/buildkit/cache/refs.go
Owners: none

chore: ensure stat contains base name only
  core/host.go
  core/modulerefs.go
  core/modulerefs_test.go
  core/modulesource.go
  core/schema/modulesource.go
Owners: none

document toolchain customizations
  docs/current_docs/introduction/features/toolchains.mdx
Owners: @dagger/docs

PHP: Update SDK to PHP8.4 everywhere
  sdk/php/composer.json
  sdk/php/composer.lock
  toolchains/php-sdk-dev/main.go
Owners: @dagger/sdk-php

handle leftover overlay volatile dirs after ungraceful engine shutdown (#11673)
  internal/buildkit/cache/manager.go
  internal/buildkit/cache/refs.go
Owners: none

clean up dagger.json
  dagger.json
Owners: none

documentation for checks
  docs/current_docs/introduction/features/checks.mdx
  docs/sidebars.ts
Owners: @dagger/docs

handle per-session module retrieval for context dirs
  core/integration/module_test.go
  core/module.go
  core/schema/modulesource.go
Owners: none

top level ignoreChecks
  core/integration/checks_test.go
  core/module.go
  core/modules/config.go
  core/modulesource.go
  core/schema/modulesource.go
Owners: none

docs: align intro with README and homepage. Refocus on software delivery
  docs/current_docs/index.mdx
Owners: @dagger/docs

Docs: downgrade "build an AI agent" quickstart from the docs, since it seems to confuse people.
  docs/current_docs/getting-started/index.mdx
Owners: @dagger/docs

clean up docs flow
  docs/current_docs/getting-started/index.mdx
  docs/current_docs/getting-started/quickstarts/ci/index.mdx
  docs/current_docs/index.mdx
  docs/current_docs/introduction/features/checks.mdx
  docs/current_docs/introduction/features/index.mdx
  docs/current_docs/introduction/features/toolchains.mdx
Owners: @dagger/docs

documentation for checks (#11677)
  docs/current_docs/introduction/features/checks.mdx
  docs/sidebars.ts
Owners: @dagger/docs

document toolchain customizations (#11674)
  dagger.json
  docs/current_docs/introduction/features/toolchains.mdx
Owners: @dagger/docs

handle per-session module retrieval for context dirs (#11625)
  core/integration/module_test.go
  core/module.go
  core/schema/modulesource.go
Owners: none

[chore] remove StatLLB (#11631)
  core/directory.go
  core/file.go
  core/host.go
  core/integration/directory_test.go
  core/modulerefs.go
  core/modulerefs_test.go
  core/modulesource.go
  core/schema/directory.go
  core/schema/file.go
  core/schema/modulesource.go
Owners: none

reorganize navigation
  docs/current_docs/cookbook/index.mdx
  docs/current_docs/introduction/examples.mdx
  docs/docusaurus.config.ts
  docs/sidebars.ts
Owners: @dagger/docs

fix: fallback to buildkit session for registry auth
  core/directory.go
  core/file.go
  core/util.go
  engine/buildkit/op.go
Owners: none

fix: optional parameter for python-sdk toolchain
  toolchains/python-sdk-dev/main.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
