Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

dagui: rebuild IDs from ingested call payloads
  core/integration/agent_roster_skills_test.go
  core/integration/testdata/modules/go/agent-skiller/dagger.json
  core/integration/testdata/modules/go/agent-skiller/main.go
  dagql/dagui/db.go
  dagql/dagui/spans.go
Owners: none

cli/agent: restore agent sessions from traces
  core/agent.go
  core/agent_telemetry.go
  core/agent_telemetry_test.go
  core/integration/agent_restore_test.go
  core/integration/agent_runtime_test.go
  core/integration/testdata/modules/dang/agent-hirer/main.dang
  core/schema/llm.go
  dagql/dagui/agents.go
  dagql/dagui/agents_test.go
  dagql/dagui/conversation.go
  dagql/dagui/conversation_test.go
  dagql/idtui/agent_restore_test.go
  dagql/idtui/frontend.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/trace_fetch_test.go
  dagql/idtui/trace_import_test.go
  dagql/idtui/trace_live_test.go
  docs/versioned_docs/version-1.0-beta/cli/reference/index.mdx
  engine/telemetry/traceimport.go
  engine/telemetryattrs/attrs.go
  hack/designs/async-agents.md
  hack/designs/notes/recommendation.md
  hack/designs/resume-from-trace.md
  internal/cloud/otlp.go
  internal/cloud/otlp_test.go
  internal/cmd/dagger/agent.go
  internal/cmd/dagger/functions.go
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/restore.go
  internal/cmd/dagger/restore_test.go
Owners: @dagger/docs

idtui: show the agent roster in the status line
  dagql/idtui/agent_focus_test.go
  dagql/idtui/agent_roster.go
  dagql/idtui/agent_roster_test.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/prompt_frame.go
  dagql/idtui/statusline.go
  dagql/idtui/statusline_test.go
  dagql/idtui/symbols.go
  dagql/idtui/trace_import_test.go
Owners: none

core/llm: stamp GenAI agent attributes on spans
  core/agent_telemetry.go
  core/agent_telemetry_test.go
  core/llm.go
  core/llm_display.go
  core/llm_replay_test.go
Owners: none

cli/agent: compare changes against a sync baseline
  internal/cmd/dagger/agent.go
  internal/cmd/dagger/functions.go
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/session_agent.go
  internal/cmd/dagger/shell_test.go
Owners: none

idtui: make Tuist the owner of keyboard focus
  dagql/idtui/agent_focus_test.go
  dagql/idtui/frontend_log_pager.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_pretty_test.go
  dagql/idtui/frontend_tests.go
  dagql/idtui/services_report_test.go
  hack/designs/tuist-focus-ownership.md
Owners: none

dagui: contain boundary roll-ups
  dagql/dagui/conversation.go
Owners: none

idtui: filter agent checkpoint records from logs
  dagql/idtui/agent_restore_test.go
  dagql/idtui/frontend_command_view_test.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_streaming_logs.go
  dagql/idtui/trace_live_test.go
Owners: none

idtui: bind agent jumps to Ctrl+digit
  dagql/idtui/agent_focus_test.go
  dagql/idtui/agent_roster.go
  dagql/idtui/agent_roster_test.go
  dagql/idtui/agent_step_test.go
  dagql/idtui/frontend_pretty.go
  hack/designs/async-agents.md
Owners: none

cli/agent: expose the portable agent ID as $agent
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/shell.go
  internal/cmd/dagger/shell_state.go
  internal/cmd/dagger/shell_test.go
Owners: none

core/llm: add small model routing
  core/integration/llm_test.go
  core/llm.go
  core/llm_modelcatalog.go
  core/llm_test.go
  core/modelcatalog/modelcatalog.go
  core/modelcatalog/modelcatalog_test.go
  core/schema/llm.go
  internal/cmd/dagger/llm_config.go
  internal/cmd/dagger/llm_config_test.go
  internal/cmd/dagger/llmconfig/config.go
  internal/cmd/dagger/llmconfig/config_test.go
  internal/cmd/dagger/llmconfig/env.go
  internal/cmd/dagger/llmconfig/env_test.go
Owners: none

idtui,core/llm: highlight tool result patches
  core/agent_telemetry_test.go
  core/llm.go
  core/llm_replay_test.go
  core/mcp.go
  core/mcp_test.go
  dagql/idtui/diff.go
  dagql/idtui/diff_test.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/toolargs_render.go
  dagql/idtui/vterm.go
  go.mod
Owners: none

core/agent: resolve delivery from runtime records
  core/agent.go
  core/integration/agent_runtime_test.go
  core/schema/agent.go
Owners: none

dagui,idtui: sync the terminal title with the span
  dagql/dagui/db.go
  dagql/dagui/spans.go
  dagql/dagui/spans_test.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_pretty_test.go
  dagql/idtui/frontend_streaming_logs.go
  engine/telemetryattrs/attrs.go
Owners: none

idtui,core/llm: keep tool call output compact
  core/llm.go
  core/llm_anthropic.go
  core/llm_display.go
  core/llm_replay_test.go
  core/mcp.go
  core/mcp_test.go
  dagql/idtui/conversation_report.go
  dagql/idtui/conversation_report_test.go
  dagql/idtui/frontend_logs_view.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_pretty_test.go
  dagql/idtui/search.go
  dagql/idtui/toolargs.go
  dagql/idtui/toolargs_render.go
  dagql/idtui/toolargs_test.go
Owners: none

cli/agent: generate session titles
  internal/cmd/dagger/agent.go
  internal/cmd/dagger/functions.go
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/session_agent.go
  internal/cmd/dagger/session_agent_test.go
  internal/cmd/dagger/shell.go
Owners: none

sdk/rust: escape async and await field names
  sdk/rust/crates/dagger-codegen/src/rust/functions.rs
Owners: @dagger/sdk-rust

cli/agent: toggle a local pprof server
  internal/cmd/dagger/debug.go
  internal/cmd/dagger/shell.go
  internal/cmd/dagger/shell_test.go
Owners: none

idtui: simplify ID rendering in the live TUI
  dagql/idtui/frontend.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_pretty_test.go
Owners: none

dagui,idtui: classify log records once in DagUI
  dagql/dagui/agents.go
  dagql/dagui/callpayloads_test.go
  dagql/dagui/db.go
  dagql/dagui/progress.go
  dagql/idtui/frontend.go
  dagql/idtui/frontend_plain.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_pretty_test.go
  dagql/idtui/frontend_streaming_logs.go
  dagql/idtui/frontend_test_summary_logs.go
  dagql/idtui/report_session.go
Owners: none

sdk/java: load ID handles as their expected type
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/Helpers.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/InterfaceVisitor.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/ObjectVisitor.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/Schema.java
  sdk/java/dagger-java-sdk/src/main/java/io/dagger/client/QueryBuilder.java
Owners: @dagger/sdk-java

test(core): pass agent handles through object tools
  core/integration/agent_injection_test.go
  core/integration/testdata/modules/go/agent-poker/main.go
Owners: none

cli/agent: compose agents on the live workspace
  docs/current_docs/reference/cli/index.mdx
  internal/cmd/dagger/agent.go
  internal/cmd/dagger/session_agent.go
  internal/cmd/dagger/shell_test.go
Owners: @dagger/docs

sdk: load every ID handle as its expected type
  cmd/codegen/generator/functions.go
  cmd/codegen/generator/go/templates/functions.go
  cmd/codegen/generator/go/templates/object_test.go
  cmd/codegen/generator/go/templates/src/_types/interface.go.tmpl
  cmd/codegen/generator/go/templates/src/_types/legacy_interface.go.tmpl
  cmd/codegen/generator/go/templates/src/_types/object.go.tmpl
  cmd/codegen/generator/go/templates/src/_types/object_fields.go.tmpl
  cmd/codegen/generator/id_handle_test.go
  cmd/codegen/generator/typescript/templates/functions.go
  cmd/codegen/generator/typescript/templates/src/_method_solve_body.ts.gtpl
  cmd/codegen/generator/typescript/templates/src/object_test.go
  sdk/elixir/dagger_codegen/lib/dagger/codegen.ex
  sdk/elixir/dagger_codegen/lib/dagger/codegen/elixir_generator/object_renderer.ex
  sdk/elixir/dagger_codegen/lib/dagger/codegen/introspection/types/type.ex
  sdk/elixir/dagger_codegen/test/dagger/codegen/elixir_generator/object_renderer_test.exs
  sdk/elixir/dagger_codegen/test/dagger/codegen_test.exs
  sdk/elixir/dagger_codegen/test/fixtures/objects/id-handle.json
  sdk/elixir/dagger_codegen/test/support/renderer_case.ex
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/Helpers.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/InterfaceVisitor.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/ObjectVisitor.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/Schema.java
  sdk/java/dagger-codegen-maven-plugin/src/test/java/io/dagger/codegen/introspection/InterfaceVisitorTest.java
  sdk/php/src/Codegen/Codegen.php
  sdk/php/src/Codegen/Introspection/IntrospectionField.php
  sdk/php/src/Codegen/Introspection/IntrospectionSchema.php
  sdk/php/src/Codegen/Introspection/NewCodegenVisitor.php
  sdk/php/tests/Unit/Codegen/IntrospectionFieldTest.php
  sdk/php/tests/Unit/Codegen/IntrospectionSchemaTest.php
  sdk/python/codegen/src/codegen/generator.py
  sdk/python/src/dagger/client/_core.py
  sdk/python/tests/codegen/test_generator.py
  sdk/rust/crates/dagger-codegen/src/functions.rs
  sdk/rust/crates/dagger-codegen/src/lib.rs
  sdk/rust/crates/dagger-codegen/src/rust/functions.rs
  sdk/rust/crates/dagger-codegen/src/rust/mod.rs
  sdk/rust/crates/dagger-codegen/src/rust/templates/interface_tmpl.rs
Owners: @dagger/sdk-elixir, @dagger/sdk-java, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust

test(core): pin active-tool reload semantics
  core/integration/agents_test.go
  core/llm_object_tools_test.go
Owners: none

hack/designs: satisfy markdown-lint
  hack/designs/async-agents.md
  hack/designs/notes/recommendation.md
  hack/designs/resume-from-trace.md
Owners: none

test(cli): sync the rewind test's cancel cause
  internal/cmd/dagger/session_agent_test.go
Owners: none

test(core): wait for the dismissal to reach the trace
  core/integration/agent_restore_test.go
  core/integration/agent_runtime_test.go
Owners: none

core,dagql,cli: satisfy golangci-lint
  core/agent.go
  core/integration/agent_restore_test.go
  core/integration/agent_roster_skills_test.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/trace_import_test.go
  engine/telemetry/traceimport.go
  internal/cloud/otlp.go
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/session_agent.go
Owners: none

core/llm: record message provenance
  core/agent.go
  core/agent_context.go
  core/llm.go
  core/modfunc.go
  core/schema/llm.go
  core/typedef.go
Owners: none

fix(java): escape inherited object method names
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/Helpers.java
  sdk/java/dagger-codegen-maven-plugin/src/test/java/io/dagger/codegen/introspection/ObjectMethodNamesTest.java
Owners: @dagger/sdk-java

core/agent: do not project IDLE during a relaunch
  core/agent.go
  core/agent_messaging_test.go
  core/integration/agent_notify_test.go
  hack/designs/agent-messaging.md
Owners: none

core/agent: add waitSettled
  core/agent.go
  core/schema/agent.go
Owners: none

core/agent: pair replies with replyTo
  core/agent.go
  core/schema/agent.go
Owners: none

idtui: style agent and event message origins
  core/agent_messaging_test.go
  core/llm.go
  dagql/dagui/spans.go
  dagql/dagui/spans_test.go
  dagql/idtui/conversation_report_test.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_pretty_test.go
  engine/telemetryattrs/attrs.go
  hack/designs/agent-messaging.md
  hack/designs/async-agents.md
  skills/tui-surfacing/SKILL.md
Owners: none

core/agent: deliver lifecycle events with notify
  core/agent.go
  core/agent_messaging_test.go
  core/schema/agent.go
Owners: none

test(core): await array member payload
  core/integration/callid_rebuild_test.go
  hack/designs/async-agents.md
Owners: none

sdk/python: render list-of-enum default values
  sdk/python/codegen/src/codegen/generator.py
Owners: @dagger/sdk-python

sdk: drop the ID handle version gate
  cmd/codegen/generator/functions.go
  cmd/codegen/generator/go/templates/object_test.go
  cmd/codegen/generator/id_handle_test.go
  cmd/codegen/generator/typescript/templates/src/object_test.go
  hack/designs/async-agents.md
  sdk/elixir/dagger_codegen/lib/dagger/codegen.ex
  sdk/elixir/dagger_codegen/lib/dagger/codegen/elixir_generator/object_renderer.ex
  sdk/elixir/dagger_codegen/lib/dagger/codegen/introspection/types/type.ex
  sdk/elixir/dagger_codegen/test/dagger/codegen/elixir_generator/object_renderer_test.exs
  sdk/elixir/dagger_codegen/test/dagger/codegen_test.exs
  sdk/elixir/dagger_codegen/test/support/renderer_case.ex
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/Helpers.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/InterfaceVisitor.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/ObjectVisitor.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/Schema.java
  sdk/java/dagger-codegen-maven-plugin/src/test/java/io/dagger/codegen/introspection/InterfaceVisitorTest.java
  sdk/php/src/Codegen/Codegen.php
  sdk/php/src/Codegen/Introspection/IntrospectionField.php
  sdk/php/src/Codegen/Introspection/IntrospectionSchema.php
  sdk/php/src/Codegen/Introspection/NewCodegenVisitor.php
  sdk/php/tests/Unit/Codegen/IntrospectionFieldTest.php
  sdk/php/tests/Unit/Codegen/IntrospectionSchemaTest.php
  sdk/python/codegen/src/codegen/generator.py
  sdk/python/tests/codegen/test_generator.py
  sdk/rust/crates/dagger-codegen/src/functions.rs
  sdk/rust/crates/dagger-codegen/src/lib.rs
Owners: @dagger/sdk-elixir, @dagger/sdk-java, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust

chore: regen agent sdk and docs
  docs/current_docs/reference/cli/index.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Agent.html
  docs/static/reference/php/Dagger/AgentMessage.html
  docs/static/reference/php/Dagger/LLM.html
  docs/static/reference/php/Dagger/LLMMessageOrigin.html
  docs/static/reference/php/Dagger/LLMMessageOriginInput.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/agent.ex
  sdk/elixir/lib/dagger/gen/agent_message.ex
  sdk/elixir/lib/dagger/gen/llm.ex
  sdk/elixir/lib/dagger/gen/llm_message_origin.ex
  sdk/elixir/lib/dagger/gen/llm_message_origin_input.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Agent.php
  sdk/php/generated/AgentMessage.php
  sdk/php/generated/LLM.php
  sdk/php/generated/LLMMessageOrigin.php
  sdk/php/generated/LLMMessageOriginInput.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript
