Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

core: preserve origin-bearing module error shape through runtime exec failures
  core/container_exec.go
  core/sdk.go
Owners: none

fix: Up test (ensure no dedup of service)
  core/integration/testdata/services/port-collision/main.go
Owners: none

fix: up test (wrong port)
  core/integration/testdata/services/partial-failure/main.go
Owners: none

PHP: Support Getters
  core/integration/module_php_test.go
  core/integration/testdata/modules/php/scalar-kind/src/ScalarKind.php
  docs/current_docs/extending/modules/state.mdx
  sdk/php/.changes/unreleased/Added-20260114-142359.yaml
  sdk/php/src/Attribute/DaggerFunction.php
  sdk/php/src/Command/EntrypointCommand.php
  sdk/php/src/Exception/RegistrationError/MissingAttribute.php
  sdk/php/src/Service/Serialisation/Serialiser.php
  sdk/php/src/ValueObject/DaggerField.php
  sdk/php/src/ValueObject/DaggerObject.php
  sdk/php/tests/Unit/Fixture/DaggerObjectWithDaggerFunctions.php
  sdk/php/tests/Unit/Fixture/Module/Field/MyModule.php
  sdk/php/tests/Unit/Fixture/NoDaggerFunctions.php
  sdk/php/tests/Unit/Service/FindsDaggerObjectsTest.php
  sdk/php/tests/Unit/ValueObject/DaggerObjectTest.php
Owners: @dagger/docs, @dagger/sdk-php

Incorporate feedback
  sdk/php/src/Command/EntrypointCommand.php
  sdk/php/src/ValueObject/DaggerField.php
  sdk/php/src/ValueObject/DaggerObject.php
Owners: @dagger/sdk-php

Code formatting
  sdk/php/src/ValueObject/DaggerField.php
Owners: @dagger/sdk-php

PHP: Improve unique name check on Dagger Objects
  sdk/php/src/ValueObject/DaggerObject.php
  sdk/php/tests/Unit/ValueObject/DaggerObjectTest.php
Owners: @dagger/sdk-php

telemetry: restore resolver encapsulation and record accepted golden drift
  core/telemetry.go
  dagql/idtui/testdata/TestTelemetry/TestGolden/broken-dep-sdk/use-invalid
  dagql/idtui/testdata/TestTelemetry/TestGolden/broken-dep/use-broken
  dagql/idtui/testdata/TestTelemetry/TestGolden/broken/broken
  dagql/idtui/testdata/TestTelemetry/TestGolden/call-bubbling-dep
  dagql/idtui/testdata/TestTelemetry/TestGolden/call-failing-dep
  dagql/idtui/testdata/TestTelemetry/TestGolden/custom-span
  dagql/idtui/testdata/TestTelemetry/TestGolden/dagger-test-modules@73670b0338c02cdd190f56b34c6e25066c7c8875/fn
  dagql/idtui/testdata/TestTelemetry/TestGolden/encapsulate
  dagql/idtui/testdata/TestTelemetry/TestGolden/fail-effect
  dagql/idtui/testdata/TestTelemetry/TestGolden/fail-encapsulated
  dagql/idtui/testdata/TestTelemetry/TestGolden/fail-log-native
  dagql/idtui/testdata/TestTelemetry/TestGolden/fail-multi
  dagql/idtui/testdata/TestTelemetry/TestGolden/git-readme
  dagql/idtui/testdata/TestTelemetry/TestGolden/httpreadme
  dagql/idtui/testdata/TestTelemetry/TestGolden/object-lists
  dagql/idtui/testdata/TestTelemetry/TestGolden/pending
  dagql/idtui/testdata/TestTelemetry/TestGolden/python/custom-span
  dagql/idtui/testdata/TestTelemetry/TestGolden/python/pending
  dagql/idtui/testdata/TestTelemetry/TestGolden/revealed-spans
  dagql/idtui/testdata/TestTelemetry/TestGolden/trace-function-calls
  dagql/idtui/testdata/TestTelemetry/TestGolden/trace-remote-function-calls
  dagql/idtui/testdata/TestTelemetry/TestGolden/typescript/custom-span
  dagql/idtui/testdata/TestTelemetry/TestGolden/typescript/fail-effect
  dagql/idtui/testdata/TestTelemetry/TestGolden/typescript/fail-log
  dagql/idtui/testdata/TestTelemetry/TestGolden/typescript/fail-log-native
  dagql/idtui/testdata/TestTelemetry/TestGolden/typescript/pending
  dagql/types.go
  engine/server/resolver/resolver.go
Owners: none

docs: add CI caching best practices guide
  docs/current_docs/reference/best-practices/ci-caching.mdx
Owners: @dagger/docs

workspace: align migration compat plumbing
  cmd/dagger/migrate.go
  cmd/dagger/migrate_test.go
  core/integration/workspace_test.go
  core/schema/workspace.go
  core/schema/workspace_migrate.go
  core/workspace.go
  core/workspace/legacy.go
  core/workspace/legacy_test.go
  core/workspace/migrate.go
  core/workspace/migrate_test.go
  core/workspace_migration.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
  hack/designs/workspace-cwd-module.md
  hack/designs/workspace-migration.md
Owners: none

workspace: regenerate migration bindings and docs
  docs/current_docs/reference/cli/index.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger.html
  docs/static/reference/php/Dagger/Binding.html
  docs/static/reference/php/Dagger/Client.html
  docs/static/reference/php/Dagger/Env.html
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/Dagger/WorkspaceMigration.html
  docs/static/reference/php/Dagger/WorkspaceMigrationId.html
  docs/static/reference/php/classes.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  docs/static/reference/php/doctum.js
  docs/static/reference/php/traits.html
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/php/generated/Binding.php
  sdk/php/generated/Client.php
  sdk/php/generated/Env.php
  sdk/php/generated/Workspace.php
  sdk/php/generated/WorkspaceMigration.php
  sdk/php/generated/WorkspaceMigrationId.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

chore: appease linter
  core/llm.go
  core/llm_anthropic.go
Owners: none

chore: revert google dependencies to avoid linting issues
  go.mod
  go.sum
  modules/alpine/go.mod
  modules/alpine/go.sum
Owners: none

workspace: use generated migrate bindings in CLI
  cmd/dagger/migrate.go
Owners: none

chore: generate
  engine/ebpf/filetracer/fileops_arm64_bpfel.go
  engine/ebpf/filetracer/fileops_x86_bpfel.go
  engine/ebpf/ovltracer/ovlinuse_arm64_bpfel.go
  engine/ebpf/ovltracer/ovlinuse_x86_bpfel.go
Owners: none

workspace: add design doc
  hack/designs/workspace.md
Owners: none

chore: update opentelemetry semconv
  cmd/codegen/generator/go/templates/src/_dagger.gen.go/module.go.tmpl
  cmd/dagger/main.go
  cmd/engine/telemetry.go
  dagql/idtui/golden_test.go
Owners: none

Fix up test (#12918)
  core/integration/testdata/services/partial-failure/main.go
  core/integration/testdata/services/port-collision/main.go
Owners: none

fix(helm): fix envFrom secretRef indentation in engine statefulset
  helm/dagger/templates/engine-statefulset.yaml
Owners: none

workspace: collapse migrate API to single plan
  cmd/dagger/migrate.go
  core/schema/workspace.go
  core/schema/workspace_migrate.go
  core/workspace_migration.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger.html
  docs/static/reference/php/Dagger/Binding.html
  docs/static/reference/php/Dagger/Client.html
  docs/static/reference/php/Dagger/Env.html
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/Dagger/WorkspaceMigrationStep.html
  docs/static/reference/php/Dagger/WorkspaceMigrationStepId.html
  docs/static/reference/php/classes.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  docs/static/reference/php/doctum.js
  docs/static/reference/php/traits.html
  hack/designs/workspace-migration.md
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/php/generated/Binding.php
  sdk/php/generated/Client.php
  sdk/php/generated/Env.php
  sdk/php/generated/Workspace.php
  sdk/php/generated/WorkspaceMigration.php
  sdk/php/generated/WorkspaceMigrationStep.php
  sdk/php/generated/WorkspaceMigrationStepId.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

workspace: construct compat workspace in one place
  core/workspace/legacy.go
  core/workspace/legacy_test.go
  core/workspace/migrate_test.go
  engine/server/session_workspaces.go
  hack/designs/workspace-migration.md
Owners: none

workspace: simplify migrate cli cleanup
  cmd/dagger/migrate.go
  core/workspace/legacy.go
  core/workspace/legacy_test.go
  core/workspace/migrate.go
Owners: none

fix(helm): fix envFrom secretRef indentation in engine statefulset (#12906)
  helm/dagger/templates/engine-statefulset.yaml
Owners: none

sdk/elixir: register enums discovered on object-returning functions
  sdk/elixir/lib/dagger/mod/registry.ex
Owners: @dagger/sdk-elixir

add changelog
  sdk/elixir/.changes/unreleased/Added-20260327-214828.yaml
Owners: @dagger/sdk-elixir

sdk/elixir: add regression test for missing enums
  sdk/elixir/test/dagger/mod/module_test.exs
  sdk/elixir/test/support/object_mod.ex
Owners: @dagger/sdk-elixir

add integration tests
  core/integration/module_elixir_test.go
  core/integration/testdata/modules/elixir/defaults/lib/defaults.ex
Owners: none

feat: enum support
  sdk/elixir/lib/dagger/mod/decoder.ex
  sdk/elixir/lib/dagger/mod/enum.ex
  sdk/elixir/lib/dagger/mod/module.ex
  sdk/elixir/test/dagger/mod/decoder_test.exs
  sdk/elixir/test/dagger/mod/enum_test.exs
  sdk/elixir/test/dagger/mod/module_test.exs
  sdk/elixir/test/support/enum_mod.ex
  sdk/elixir/test/support/object_mod.ex
Owners: @dagger/sdk-elixir

fix linting error
  sdk/elixir/lib/dagger/mod/enum.ex
  sdk/elixir/test/dagger/mod/enum_test.exs
Owners: @dagger/sdk-elixir

feat(sdk/elixir): support Enum
  sdk/elixir/lib/dagger/mod/decoder.ex
  sdk/elixir/lib/dagger/mod/enum.ex
  sdk/elixir/lib/dagger/mod/module.ex
  sdk/elixir/lib/dagger/mod/object/meta.ex
  sdk/elixir/lib/dagger/mod/object/type_def.ex
  sdk/elixir/lib/dagger/mod/registry.ex
  sdk/elixir/test/dagger/mod/enum_test.exs
  sdk/elixir/test/dagger/mod/module_test.exs
Owners: @dagger/sdk-elixir

workspace: stream migrate progress from engine
  cmd/dagger/migrate.go
  core/schema/workspace_migrate.go
  hack/designs/workspace-migration.md
Owners: none

workspace: refresh workspace doc migration API
  hack/designs/workspace.md
Owners: none

fix(ts-introspector): resolve optional unions
  sdk/typescript/src/module/introspector/test/registry.spec.ts
  sdk/typescript/src/module/introspector/typescript_module/ast.ts
Owners: @dagger/sdk-typescript

feat(sdk/elixir): Enum support (#12862)
  core/integration/module_elixir_test.go
  core/integration/testdata/modules/elixir/defaults/lib/defaults.ex
  sdk/elixir/.changes/unreleased/Added-20260327-214828.yaml
  sdk/elixir/lib/dagger/mod/decoder.ex
  sdk/elixir/lib/dagger/mod/enum.ex
  sdk/elixir/lib/dagger/mod/module.ex
  sdk/elixir/lib/dagger/mod/object/meta.ex
  sdk/elixir/lib/dagger/mod/object/type_def.ex
  sdk/elixir/lib/dagger/mod/registry.ex
  sdk/elixir/test/dagger/mod/decoder_test.exs
  sdk/elixir/test/dagger/mod/enum_test.exs
  sdk/elixir/test/dagger/mod/module_test.exs
  sdk/elixir/test/support/enum_mod.ex
  sdk/elixir/test/support/object_mod.ex
Owners: @dagger/sdk-elixir

workspace: rename workspace blueprint to entrypoint
  cmd/dagger/workspace.go
  cmd/dagger/workspace_test.go
  core/integration/workspace_config_test.go
  core/integration/workspace_install_test.go
  core/integration/workspace_list_test.go
  core/schema/workspace_list.go
  core/workspace/config.go
  core/workspace/config_test.go
  core/workspace/legacy.go
  core/workspace/legacy_test.go
  core/workspace/migrate.go
  core/workspace_module.go
  docs/current_docs/reference/cli/index.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/WorkspaceModule.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  engine/server/session_test.go
  engine/server/session_workspaces.go
  hack/designs/workspace-migration.md
  sdk/go/dagger.gen.go
  sdk/php/generated/WorkspaceModule.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

workspace: suppress cwd module when extras are present
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
  hack/designs/workspace-cwd-module.md
  hack/designs/workspace.md
Owners: none

workspace: refresh migration gap docs
  hack/designs/workspace.md
Owners: none

dagql: run containerd metadata GC after real cache prune work
  cmd/introspect/introspect.go
  core/git_remote_test.go
  core/llm_test.go
  core/modtypes_test.go
  core/object_test.go
  core/schema/schema_test.go
  core/telemetry_test.go
  dagql/cache.go
  dagql/cache_debug_test.go
  dagql/cache_persistence_import_test.go
  dagql/cache_persistence_self_test.go
  dagql/cache_persistence_worker_test.go
  dagql/cache_prune.go
  dagql/cache_snapshot_persistence_test.go
  dagql/cache_test.go
  dagql/dagql_test.go
  dagql/derived_lineage_test.go
  dagql/result_call_frame_test.go
  engine/server/server.go
Owners: none

workspace: specify entrypoint arbitration in doc
  hack/designs/workspace.md
Owners: none

workspace: arbitrate entrypoint module precedence
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
