Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

feat(core): resolve module context via workspace
  core/mcp.go
  core/modfunc.go
  core/modulesource.go
  core/modulesource_test.go
  core/workspace_context.go
Owners: none

feat(llm)!: generate tools from bound objects, eliminate Env
  core/container_exec.go
  core/env.go
  core/ids.go
  core/integration/llm_object_tools_test.go
  core/integration/llm_workspace_test.go
  core/llm.go
  core/llm_object_tools.go
  core/llm_object_tools_test.go
  core/mcp.go
  core/modfunc.go
  core/modulesource.go
  core/object.go
  core/prompts/basics.md
  core/prompts/fs.go
  core/prompts/static.md
  core/query.go
  core/schema/coremod.go
  core/schema/env.go
  core/schema/llm.go
  core/schema/test_server_test.go
  core/sdk.go
  core/sdk/dang/shared/shared.go
  core/sdk/dang/v1/helpers.go
  core/sdk/dang/v1/sdk.go
  core/sdk/dang/v2/helpers.go
  core/sdk/dang/v2/sdk.go
  core/service.go
  core/telemetry_test.go
  core/workspace_context.go
  docs/current_docs/extending/types/env.mdx
  engine/engineutil/client.go
  engine/engineutil/executor.go
  engine/engineutil/executor_spec.go
  engine/server/session.go
  engine/server/session_workspaces.go
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/mcp.go
  skills/tui-qa/SKILL.md
Owners: @dagger/docs

feat(core): add Query.currentNode
  core/modfunc.go
  core/schema/llm.go
  core/schema/module.go
  core/typedef.go
  dagql/objects.go
Owners: none

fix(llm): add context tokens, fix cache accounting
  core/llm.go
  core/llm_anthropic.go
  core/llm_context_tokens_test.go
  core/llm_google.go
  core/llm_openai.go
  core/llm_openai_codex.go
  core/schema/llm.go
Owners: none

ci: drop obsolete SkipWorkspaceModules workaround from publish workflow
  .github/workflows/publish.yml
Owners: none

docs(design): add workspace-agents as-built design doc
  hack/designs/workspace-agents.md
Owners: none

fix(schema): gate the agent-era API surface to v1
  core/schema/llm.go
  core/schema/module.go
Owners: none

feat(core): propagate the bound workspace
  core/container_exec.go
  core/integration/generators_test.go
  core/integration/llm_object_tools_test.go
  core/integration/testdata/workspaces/generator-workspace-sync/.dagger/modules/repro/dagger-module.toml
  core/integration/testdata/workspaces/generator-workspace-sync/.dagger/modules/repro/main.dang
  core/integration/testdata/workspaces/generator-workspace-sync/.dagger/modules/wsdep/dagger-module.toml
  core/integration/testdata/workspaces/generator-workspace-sync/.dagger/modules/wsdep/main.dang
  core/integration/testdata/workspaces/workspace-tool-return/.dagger/modules/swapper/dagger.json
  core/integration/testdata/workspaces/workspace-tool-return/.dagger/modules/swapper/main.dang
  core/integration/testdata/workspaces/workspace-tool-return/dagger.toml
  core/llm.go
  core/llm_object_tools.go
  core/mcp.go
  core/modfunc.go
  core/modulesource.go
  core/query.go
  core/schema/test_server_test.go
  core/schema/workspace.go
  core/sdk.go
  core/sdk/dang/shared/shared.go
  core/sdk/dang/v1/helpers.go
  core/sdk/dang/v1/sdk.go
  core/sdk/dang/v2/helpers.go
  core/sdk/dang/v2/sdk.go
  core/service.go
  core/telemetry_test.go
  core/workspace_context.go
  engine/engineutil/client.go
  engine/engineutil/executor.go
  engine/engineutil/executor_spec.go
  engine/server/session.go
Owners: none

fix(mcp): serve workspace module tools without an LLM binding
  core/integration/mcp_test.go
  core/llm_object_tools.go
  core/mcpserver.go
  internal/cmd/dagger/mcp.go
Owners: none

test(llm): derive replay recordings from the engine
  core/integration/llm_object_tools_test.go
  core/integration/llm_test.go
  core/integration/llmtest/allow-llm.golden
  core/integration/llmtest/api-limit.golden
  core/integration/llmtest/go-programmer/main.dang
  core/integration/llmtest/hello-world.golden
Owners: none

fix(llm): tool-call span fidelity on replay
  core/llm.go
  core/llm_object_tools.go
  core/mcp.go
Owners: none

feat(dagql): add lazy reference args
  dagql/lazy_ref_arg_test.go
  dagql/objects.go
  dagql/server.go
Owners: none

refactor(llm): stop revealing LLM spans
  core/llm.go
  core/llm_display.go
  core/modtree.go
Owners: none

feat(llm): use lazy reference args for withTools
  core/llm.go
  core/llm_object_tools.go
  core/schema/llm.go
Owners: none

fix(core): stop inheriting the workspace into deps
  core/container_exec.go
  core/integration/generators_test.go
  core/integration/testdata/workspaces/generator-workspace-sync/.dagger/modules/repro/dagger-module.toml
  core/integration/testdata/workspaces/generator-workspace-sync/.dagger/modules/repro/main.dang
  core/integration/testdata/workspaces/generator-workspace-sync/.dagger/modules/wsdep/dagger-module.toml
  core/integration/testdata/workspaces/generator-workspace-sync/.dagger/modules/wsdep/main.dang
  core/modfunc.go
  core/modulesource.go
  core/query.go
  core/schema/test_server_test.go
  core/schema/workspace.go
  core/sdk.go
  core/sdk/dang/shared/shared.go
  core/sdk/dang/v1/helpers.go
  core/sdk/dang/v1/sdk.go
  core/sdk/dang/v2/helpers.go
  core/sdk/dang/v2/sdk.go
  core/service.go
  core/telemetry_test.go
  core/workspace_context.go
  engine/engineutil/client.go
  engine/engineutil/executor.go
  engine/engineutil/executor_spec.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
  hack/designs/workspace-agents.md
Owners: none

fix(llm): show thinking, parallel Changeset tools
  core/integration/llm_object_tools_test.go
  core/integration/testdata/workspaces/workspace-tool-return/.dagger/modules/swapper/main.dang
  core/llm_anthropic.go
  core/llm_object_tools.go
  core/mcp.go
Owners: none

fix(cli): bind the workspace for the MCP toolset
  internal/cmd/dagger/mcp.go
Owners: none

feat(llm)!: stop binding the ambient workspace in NewLLM
  core/llm.go
Owners: none

fix: let bound workspace overlay reach generator/check leaves
  core/integration/llm_test.go
  core/integration/llmtest/gen-agent/.dagger/modules/gen-agent/dagger-module.toml
  core/integration/llmtest/gen-agent/.dagger/modules/gen-agent/main.dang
  core/integration/llmtest/gen-agent/dagger.toml
Owners: none

test(workspace): pass the workspace to the agentmod fixture
  core/integration/workspace_api_test.go
Owners: none

test(llmtest): thread the workspace through eval fixtures
  core/integration/llmtest/gen-agent/.dagger/modules/gen-agent/main.dang
  core/integration/llmtest/go-programmer/main.dang
Owners: none

feat(cli): bind the workspace to the LLM explicitly
  internal/cmd/dagger/llm.go
Owners: none

test(llm): bind workspaces explicitly in workspace-coupled tests
  core/integration/llm_object_tools_test.go
  core/schema/llm.go
Owners: none

regen
  core/integration/llmtest/gen-agent/.dagger/modules/gen-agent/dagger-module.toml
  sdk/elixir/lib/dagger/gen/function.ex
  sdk/elixir/lib/dagger/gen/llm.ex
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/sdk-elixir, @dagger/sdk-rust, @dagger/sdk-typescript

ci: drop obsolete SkipWorkspaceModules workaround from publish workflow (#13814)
  .github/workflows/publish.yml
Owners: none

core/integration: update setup hint assertion
  core/integration/command_hints_test.go
Owners: none

core/integration: match new check list format
  core/integration/checks_test.go
Owners: none

fix(llm): route object tools around MCP batching
  core/mcp.go
Owners: none

sdk/php: harden CLI PATH fallback
  sdk/php/src/Connection/ProcessSessionConnection.php
  sdk/php/tests/Unit/Connection/CliFallbackTest.php
Owners: @dagger/sdk-php

sdk/rust: error instead of hanging when session emits no connect params
  sdk/rust/crates/dagger-sdk/src/core/cli_session.rs
  sdk/rust/crates/dagger-sdk/src/core/engine.rs
Owners: @dagger/sdk-rust

sdk/rust: avoid unwrap_err on non-Debug session tuple in test
  sdk/rust/crates/dagger-sdk/src/core/engine.rs
Owners: @dagger/sdk-rust

docs: design container workspace inheritance
  hack/designs/container-workspace-inheritance.md
Owners: none

core: let container commands inherit workspaces
  .changes/unreleased/Added-20260730-164222.yaml
  core/container.go
  core/container_exec.go
  core/integration/testdata/modules/go/workspace-selection-nester/main.go
  core/integration/testdata/workspace-inherit-sdk/main.go
  core/integration/workspace_selection_test.go
  core/moddeps.go
  core/query.go
  core/schema/container.go
  core/schema/directory.go
  core/schema/schema_test.go
  core/schema/service.go
  core/schema/test_server_test.go
  core/schema/workspace_config.go
  core/schema/workspace_test.go
  core/sdk/dang/shared/shared.go
  core/service.go
  core/telemetry_test.go
  core/terminal.go
  core/workspace_binding.go
  core/workspace_binding_test.go
  engine/engineutil/client.go
  engine/engineutil/executor.go
  engine/engineutil/executor_spec.go
  engine/opts.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

sdk: expose inherited workspaces in generated clients
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Container.html
  docs/static/reference/php/Dagger/Directory.html
  sdk/elixir/lib/dagger/gen/container.ex
  sdk/elixir/lib/dagger/gen/directory.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Container.php
  sdk/php/generated/Directory.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

fix: reopen snapshot ref for no-op withChanges
  core/directory.go
Owners: none

test: reproduce withChanges snapshot poisoning
  core/integration/changeset_test.go
Owners: none

feat(idtui): surface Generate spans structurally
  dagql/dagui/db.go
  dagql/dagui/generators.go
  dagql/dagui/generators_test.go
  dagql/idtui/checks_report.go
  dagql/idtui/frontend.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_trace_policy.go
  dagql/idtui/generators_report.go
  dagql/idtui/generators_report_test.go
  dagql/idtui/testdata/TestTelemetry/TestGolden/generate-fail
Owners: none

test(llm): bind workspaces explicitly in the reset family
  core/integration/llm_test.go
  core/llm.go
Owners: none

test(llm): sketch cross-session resume coverage (skipped)
  core/integration/llm_resume_test.go
Owners: none

fix(llm): reset the workspace and bust stale reads
  core/integration/llm_test.go
  core/llm.go
  core/llm_skills.go
  core/llm_skills_test.go
  core/llm_test.go
  core/schema/llm.go
  core/schema/workspace.go
  core/workspace.go
  dagql/cache_inputs.go
  engine/server/server.go
  engine/server/session.go
  engine/server/session_workspaces.go
Owners: none
