Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

doug: appease linter
  modules/doug/dagger.json
  modules/doug/evals/and_operator.go
  modules/doug/main.go
Owners: none

create shadow module with fields
  core/schema/modulesource.go
Owners: none

modules: add Doug and Dev (#11217)
  .dagger/main.go
  modules/dev/.gitattributes
  modules/dev/.gitignore
  modules/dev/dagger.json
  modules/dev/go.mod
  modules/dev/go.sum
  modules/dev/main.go
  modules/dev/prompt.md
  modules/doug/.gitattributes
  modules/doug/.gitignore
  modules/doug/dagger.json
  modules/doug/evals/.gitattributes
  modules/doug/evals/.gitignore
  modules/doug/evals/and_operator.go
  modules/doug/evals/dagger.json
  modules/doug/evals/go.mod
  modules/doug/evals/go.sum
  modules/doug/evals/main.go
  modules/doug/go.mod
  modules/doug/go.sum
  modules/doug/main.go
  modules/doug/prompts/system/doug.txt
  modules/doug/prompts/task_system_prompt.md
Owners: none

sdk/go: implement moduleTypeDefs
  cmd/codegen/generator/go/templates/modules.go
  core/sdk/go_sdk.go
Owners: none

feat: allow to define typedefs without container
  core/schema/modulesource.go
  core/sdk.go
  core/sdk/consts.go
  core/sdk/go_sdk.go
  core/sdk/module_runtime.go
Owners: none

core: call moduleTypeDefs to get module types
  core/schema/modulesource.go
Owners: none

feat: allow module to self call itself
  core/module.go
  core/schema/modulesource.go
Owners: none

expose module JSON features on SDK
  core/json.go
  core/module_json.go
  core/module_json_test.go
  core/schema/module.go
  core/schema/modulesource.go
  core/typedef_json.go
Owners: none

core: allow to define a moduleTypeDefs function
  core/sdk.go
  core/sdk/consts.go
  core/sdk/module_runtime.go
Owners: none

feat: load/unload typedefs as JSON
  core/module_json.go
  core/module_json_test.go
  core/typedef_json.go
  core/typedef_json_test.go
  examples/typedef_json_demo.go
Owners: none

handle type defs for Go SDK
  cmd/codegen/generator/generator.go
  cmd/codegen/generator/go/templates/module_enums.go
  cmd/codegen/generator/go/templates/module_funcs.go
  cmd/codegen/generator/go/templates/module_interfaces.go
  cmd/codegen/generator/go/templates/module_objects.go
  cmd/codegen/generator/go/templates/module_types.go
  cmd/codegen/generator/go/templates/modules.go
  cmd/codegen/generator/go/templates/typedefs.go
  cmd/codegen/generator/go/typedefs.go
  cmd/codegen/generator/typescript/generator.go
  cmd/codegen/typedefs.go
  core/sdk/go_sdk.go
Owners: none

ref: remove old implementation and rename moduleTypeDefs
  cmd/codegen/generator/go/templates/modules.go
  core/schema/modulesource.go
  core/sdk.go
  core/sdk/consts.go
  core/sdk/go_sdk.go
  core/sdk/module_runtime.go
Owners: none

fix socket not found error
  core/schema/modulesource.go
Owners: none

fix: constructor was not unmarshalled
  core/module_json_test.go
  core/typedef.go
  core/typedef_json.go
  core/typedef_json_test.go
Owners: none

chore: rebase codegen and update code to the new architecture
  cmd/codegen/codegen.go
  cmd/codegen/generate_typedef.go
  cmd/codegen/generator/config.go
  cmd/codegen/generator/go/generate_typedefs.go
  cmd/codegen/generator/go/templates/modules.go
  cmd/codegen/generator/go/templates/typedefs.go
  cmd/codegen/generator/typescript/generator.go
  cmd/codegen/main.go
  cmd/codegen/typedefs.go
  core/sdk/go_sdk.go
Owners: none

chore: fix config fetch in generate_typedef that was initializing client connection
  cmd/codegen/generate_typedef.go
Owners: none

ignore generated.postcommands on Go typedefs
  cmd/codegen/typedefs.go
Owners: none

use generated go client code
  cmd/codegen/generator/go/generate_typedefs.go
  cmd/codegen/typedefs.go
  core/sdk/go_sdk.go
  sdk/go/fs.go
Owners: @dagger/sdk-go

chore: merge moduleConfig and typedefConfig
  cmd/codegen/generate_typedef.go
  cmd/codegen/generator/config.go
  cmd/codegen/generator/go/generate_typedefs.go
  cmd/codegen/generator/go/templates/typedefs.go
Owners: none

feat: add typescript implementation
  sdk/typescript/runtime/main.go
  sdk/typescript/runtime/module.go
  sdk/typescript/src/module/entrypoint/entrypoint.ts
Owners: @dagger/sdk-typescript

add python support
  sdk/python/runtime/main.go
  sdk/python/runtime/template/runtime.py
  sdk/python/src/dagger/mod/_module.py
  sdk/python/src/dagger/mod/cli.py
Owners: @dagger/sdk-python

lint sdk/python/runtime/main.go
  sdk/python/runtime/main.go
Owners: @dagger/sdk-python

fix: allow to dagger init a go module with self types
  cmd/codegen/codegen.go
  cmd/codegen/generate_typedef.go
  cmd/codegen/generator/generator.go
  cmd/codegen/generator/go/generate_typedefs.go
  cmd/codegen/generator/go/templates/modules.go
  cmd/codegen/generator/go/templates/typedefs.go
  cmd/codegen/generator/typescript/generator.go
  cmd/codegen/typedefs.go
  core/sdk/go_sdk.go
Owners: none

feat: add experimental flag to dagger init
  cmd/dagger/module.go
Owners: none

extend modulesource api to enable experimental features
  core/schema/modulesource.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/dagger.schema.json
  docs/static/reference/php/Dagger/ModuleSource.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/module_source.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/ModuleSource.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

fix python sdk to be backward compatible
  sdk/python/src/dagger/mod/_module.py
  sdk/python/src/dagger/mod/cli.py
Owners: @dagger/sdk-python

lint code
  cmd/codegen/typedefs.go
Owners: none

allow to enable/disable self calls per module
  core/modules/config.go
  core/modulesource.go
  core/schema/modulesource.go
  core/sdk/loader.go
Owners: none

refresh generated files
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Module.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/module.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Module.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

ref: remove json serialization for modules
  cmd/codegen/generate_typedef.go
  cmd/codegen/generator/go/generate_typedefs.go
  cmd/codegen/generator/go/templates/module_enums.go
  cmd/codegen/generator/go/templates/module_funcs.go
  cmd/codegen/generator/go/templates/module_interfaces.go
  cmd/codegen/generator/go/templates/module_objects.go
  cmd/codegen/generator/go/templates/module_types.go
  cmd/codegen/generator/go/templates/typedefs.go
  cmd/codegen/typedefs.go
  core/module_json.go
  core/module_json_test.go
  core/schema/module.go
  core/sdk/go_sdk.go
  core/typedef_json.go
  core/typedef_json_test.go
  docs/current_docs/reference/cli/index.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Module.html
  docs/static/reference/php/Dagger/ModuleSource.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  examples/typedef_json_demo.go
  sdk/elixir/lib/dagger/gen/module.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Module.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

fix: reduce verbosity
  core/sdk/go_sdk.go
Owners: none

chore: make typescript typedef output path settable from inside SDK env variable
  sdk/typescript/runtime/main.go
  sdk/typescript/src/module/entrypoint/entrypoint.ts
Owners: @dagger/sdk-typescript

fix typescript init --with-self-calls
  sdk/typescript/runtime/main.go
  sdk/typescript/runtime/module.go
Owners: @dagger/sdk-typescript

ref: extract SDK interface for typedefs
  core/integration/module_go_test.go
  core/schema/modulesource.go
  core/sdk.go
  core/sdk/go_sdk.go
  core/sdk/module.go
  core/sdk/module_runtime.go
  core/sdk/module_typedefs.go
Owners: none

ref(sdk/go): extract typedefs file name in const and pass it to codegen
  cmd/codegen/generate_typedef.go
  cmd/codegen/generator/config.go
  cmd/codegen/generator/go/generate_typedefs.go
  core/sdk/go_sdk.go
Owners: none

fix sdk/dotnet: list of enum
  sdk/dotnet/sdk/Dagger.SDK.SourceGenerator/Code/CodeRenderer.cs
  sdk/dotnet/sdk/Dagger.SDK.SourceGenerator/Types/TypeRef.cs
Owners: @dagger/sdk-dotnet

tests: self calls
  core/integration/module_go_test.go
  core/integration/module_test.go
Owners: none

fix: add introspection json so that enum can be handled
  cmd/codegen/generator/go/generate_typedefs.go
  core/sdk/go_sdk.go
Owners: none

fix: remove unnecessary alias for ModuleSourceExperimentalFeature enum
  core/modulesource.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  sdk/elixir/lib/dagger/gen/module_source_experimental_feature.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/ModuleSourceExperimentalFeature.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

add flags to dagger develop
  cmd/dagger/module.go
  core/modulesource.go
  core/schema/modulesource.go
  core/schema/query.go
  docs/current_docs/reference/cli/index.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/ModuleSource.html
  sdk/elixir/lib/dagger/gen/module_source.ex
  sdk/elixir/lib/dagger/gen/module_source_experimental_feature.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/ModuleSource.php
  sdk/php/generated/ModuleSourceExperimentalFeature.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
