Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

ci: make test binaries faster to build (#11735)
  .github/workflows/llm.yml
  toolchains/test-split/engine-tests.gen.dang
  util/scrub/scrub.go
Owners: none

fix: use iptables-wrappers for proper nft backend auto-detection
  toolchains/engine-dev/build/builder.go
Owners: none

fix: revert to iptables-nft matching original PR #11608
  toolchains/engine-dev/build/builder.go
Owners: none

fix: force iptables symlinks to use nftables backend
  toolchains/engine-dev/build/builder.go
Owners: none

ref: use git-based 3-way merge for changeset operations
  core/changeset.go
  core/changeset_test.go
  core/integration/changeset_test.go
  core/schema/directory.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  sdk/go/dagger.gen.go
Owners: @dagger/docs, @dagger/sdk-go

chore: re-generate schema
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Changeset.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/go/dagger.gen.go
  sdk/php/generated/Changeset.php
  sdk/php/generated/ChangesetMergeConflict.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

ref: n-way merge
  core/changeset.go
  core/changeset_test.go
  core/integration/changeset_test.go
  core/schema/directory.go
Owners: none

fix: use specific dagop wrapper for changesets
  core/changeset.go
  core/schema/directory.go
  core/schema/wrapper.go
Owners: none

ref: merge granularity and conflict resolution
  core/changeset.go
  core/integration/changeset_test.go
  core/schema/directory.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Changeset.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/go/dagger.gen.go
  sdk/php/generated/Changeset.php
  sdk/php/generated/ChangesetMergeConflict.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

core: slightly simplify changeset serialization
  core/changeset.go
Owners: none

ref: migrate WithChangeset implementation to Changeset
  core/changeset.go
  core/schema/directory.go
Owners: none

ref: replace self/other by ours/theirs
  core/changeset.go
  core/integration/changeset_test.go
  core/schema/directory.go
Owners: none

fix: linter
  core/changeset.go
Owners: none

ref: use maps instead of slices to improve performances
  core/changeset.go
  core/changeset_test.go
Owners: none

chore: extend Changeset API with merge
  core/changeset.go
  core/changeset_test.go
  core/schema/directory.go
Owners: none

test: add integration tests
  core/integration/changeset_test.go
Owners: none

feat: n-way merge with octopus merge strategy
  core/changeset.go
  core/integration/changeset_test.go
  core/schema/directory.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Changeset.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/go/dagger.gen.go
  sdk/php/generated/Changeset.php
  sdk/php/generated/ChangesetsMergeConflict.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

ref: simplify comments and refactor common setup
  core/changeset.go
Owners: none

fix: enums with identical values requires engine >= v0.15.0
  core/schema/directory.go
Owners: none

fix: .git handling
  core/changeset.go
Owners: none

fix: handle errors and improve git call
  core/changeset.go
Owners: none

fix: handling large files
  core/changeset.go
Owners: none

chore: fix linter
  cmd/codegen/generator/go/generate_module.go
  core/sdk/go_sdk.go
Owners: none

chore: fix generate-typedef function
  cmd/codegen/generator/go/generate_module.go
  cmd/codegen/generator/go/generate_typedefs.go
Owners: none

feat: use the remote library on versioned engine instead the local one.
  cmd/codegen/generate_module.go
  cmd/codegen/generator/config.go
  cmd/codegen/generator/go/generate_module.go
  cmd/codegen/generator/go/loader.go
  cmd/codegen/generator/go/templates/src/_dagger.gen.go/defs.go.tmpl
  cmd/codegen/generator/go/templates/src/_dagger.gen.go/module.go.tmpl
  core/integration/engine_test.go
  core/sdk/go_sdk.go
  engine/consts.go
  engine/version.go
  toolchains/engine-dev/main.go
Owners: none

chore: add integration tests for module test
  core/integration/module_go_test.go
Owners: none

chore: fetch version from the engine instead of the module version
  core/sdk/go_sdk.go
Owners: none

chore: add comments on the new experimental environment variables
  core/integration/engine_test.go
  toolchains/engine-dev/main.go
Owners: none

chore: fix linter
  core/sdk/go_sdk.go
Owners: none

feat: use the remote library on versioned engine instead the local one (#11708)
  cmd/codegen/generate_module.go
  cmd/codegen/generator/config.go
  cmd/codegen/generator/go/generate_module.go
  cmd/codegen/generator/go/generate_typedefs.go
  cmd/codegen/generator/go/loader.go
  cmd/codegen/generator/go/templates/src/_dagger.gen.go/defs.go.tmpl
  cmd/codegen/generator/go/templates/src/_dagger.gen.go/module.go.tmpl
  core/integration/engine_test.go
  core/integration/module_go_test.go
  core/sdk/go_sdk.go
  engine/consts.go
  engine/version.go
  toolchains/engine-dev/main.go
Owners: none

ref: speed up merge if no conflict
  core/changeset.go
Owners: none

chore: add changie entry
  .changes/unreleased/Added-20260126-162107.yaml
Owners: none

test(sdk/python): use dagger/pytest to run tests with telemetry
  toolchains/python-sdk-dev/dagger.json
  toolchains/python-sdk-dev/main.go
  toolchains/python-sdk-dev/test.go
Owners: none

feat: extend Changeset API with merge (#11577)
  .changes/unreleased/Added-20260126-162107.yaml
  core/changeset.go
  core/changeset_test.go
  core/integration/changeset_test.go
  core/schema/directory.go
  core/schema/wrapper.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Changeset.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/go/dagger.gen.go
  sdk/php/generated/Changeset.php
  sdk/php/generated/ChangesetMergeConflict.php
  sdk/php/generated/ChangesetsMergeConflict.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

wip embedded dagger for e2e tests
  core/integration/testdata/sdks/python/e2e/test_embedded_dagger_integration.py
Owners: none

refactor toolchain proxying (#11732)
  core/checks.go
  core/module.go
  core/object.go
  core/schema/modulesource.go
  core/toolchain.go
Owners: none

core/schema: add _rebasedIncludePaths to moduleSource (#11737)
  core/schema/modulesource.go
Owners: none

wip: POC of breaking out "sdk bundler" from the engine-dev monolith
  toolchains/engine-dev/sdk-bundler/.gitattributes
  toolchains/engine-dev/sdk-bundler/.gitignore
  toolchains/engine-dev/sdk-bundler/dagger.json
  toolchains/engine-dev/sdk-bundler/go.mod
  toolchains/engine-dev/sdk-bundler/go.sum
  toolchains/engine-dev/sdk-bundler/main.go
Owners: none

change default from default to defaultAddress
  cmd/codegen/generator/go/templates/module_funcs.go
  core/integration/module_go_test.go
  core/integration/testdata/test-blueprint/hello-with-container/main.go
  core/integration/toolchain_test.go
  core/modfunc.go
  core/modules/config.go
  core/schema/module.go
  core/schema/modulesource.go
  core/typedef.go
  dagql/server.go
  docs/current_docs/extending/modules/arguments.mdx
  docs/current_docs/getting-started/types/container.mdx
  docs/current_docs/getting-started/types/snippets/default-address/go/main.go
  docs/current_docs/getting-started/types/snippets/default-address/php/src/MyModule.php
  docs/current_docs/getting-started/types/snippets/default-address/python/main.py
  docs/current_docs/getting-started/types/snippets/default-address/typescript/index.ts
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/dagger.schema.json
  docs/static/reference/php/Dagger/FunctionArg.html
  docs/static/reference/php/Dagger/Function_.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/go/dagger.gen.go
  sdk/php/generated/FunctionArg.php
  sdk/php/generated/Function_.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

simplify loadContextualArg call
  core/modfunc.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
