Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

core(llm): give replayed tool calls a display span
  core/checks_trace_report.go
  core/llm_replay.go
  core/llm_replay_test.go
  core/mcp.go
  dagql/dagui/conversation.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/llm_tool_report_test.go
Owners: none

core(llm): show tool output with the trace report
  core/checks_trace_report.go
  core/llm_object_tools.go
  core/llm_object_tools_test.go
  core/mcp.go
  dagql/idtui/frontend_logs_view.go
  dagql/idtui/frontend_pretty.go
Owners: none

dagui: count only leaf test cases in TESTS
  dagql/dagui/tests.go
  dagql/dagui/tests_test.go
Owners: none

idtui: scope tool-call reports to surfaced content
  core/checks_trace_report.go
  core/checks_trace_report_test.go
  core/llm_object_tools.go
  core/mcp.go
  dagql/dagui/opts.go
  dagql/dagui/types.go
  dagql/dagui/walk_scope_test.go
  dagql/idtui/frontend.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_tests.go
  dagql/idtui/frontend_trace_policy.go
  dagql/idtui/report_session.go
  dagql/idtui/report_session_test.go
Owners: none

idtui: make agent-style rendering a frontend opt
  core/checks_trace_report.go
  core/integration/llm_test.go
  core/llm_object_tools.go
  core/llm_object_tools_test.go
  dagql/dagui/opts.go
  dagql/idtui/checks_report.go
  dagql/idtui/conversation_report.go
  dagql/idtui/frontend_dots.go
  dagql/idtui/frontend_logs.go
  dagql/idtui/frontend_plain.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_tests.go
  dagql/idtui/generate_report.go
  dagql/idtui/generators_report.go
  dagql/idtui/output.go
  dagql/idtui/report_session_test.go
  dagql/idtui/services_report.go
  skills/tui-surfacing/SKILL.md
Owners: none

idtui: truncate multiline tool-call arg fallback
  dagql/idtui/conversation_report_test.go
  dagql/idtui/frontend.go
Owners: none

Add DAGGER_GO_SDK_OFFLINE support, to bypass "go get dagger.io/dagger" calls which fail in airgapped environment.
  cmd/codegen/generator/go/generate_module.go
  core/sdk/go_sdk.go
  core/sdk/loader_test.go
  core/sdk/workspace_module.go
Owners: none

feat(sdk/rust): add verified CLI provisioning (#22)
  .kiro/specs/rust-sdk-transport-observability/tasks.md
  sdk/rust/completeness/harness-mappings.json
  sdk/rust/crates/dagger-sdk-completeness/tests/initial_baseline.rs
  sdk/rust/crates/dagger-sdk/proptest-regressions/transport-observability.txt
  sdk/rust/crates/dagger-sdk/src/archive.rs
  sdk/rust/crates/dagger-sdk/src/discovery.rs
  sdk/rust/crates/dagger-sdk/src/lib.rs
  sdk/rust/crates/dagger-sdk/src/provision.rs
  sdk/rust/crates/dagger-sdk/src/provisioning_control.rs
  sdk/rust/crates/dagger-sdk/src/provisioning_error.rs
  sdk/rust/crates/dagger-sdk/src/provisioning_tests.rs
  sdk/rust/crates/dagger-sdk/src/public_api_tests.rs
  sdk/rust/crates/dagger-sdk/src/target.rs
Owners: @dagger/sdk-rust

core(llm): mend tool-log integration tests
  core/integration/llm_test.go
Owners: none

idtui: drop unused test-helper return
  dagql/idtui/llm_tool_report_test.go
Owners: none

core(workspace): mount cache volumes at a path
  core/directory.go
  core/integration/workspace_api_test.go
  core/schema/cache.go
  core/schema/workspace.go
  core/workspace.go
  core/workspace_volume.go
  docs/docs-graphql/schema.graphqls
  sdk/go/dagger.gen.go
Owners: @dagger/docs, @dagger/sdk-go

core(workspace): stage git commits engine-side
  core/changeset.go
  core/integration/engine_test.go
  core/integration/workspace_commit_head_moved_test.go
  core/integration/workspace_commit_test.go
  core/schema/query.go
  core/schema/workspace.go
  core/schema/workspace_commit.go
  core/workspace.go
  core/workspace_commit.go
  docs/docs-graphql/schema.graphqls
  engine/engineutil/client.go
  engine/server/session_workspaces.go
  engine/session/git/git.go
  engine/session/git/git.pb.go
  engine/session/git/git.proto
  engine/session/git/git_apply.go
  engine/session/git/git_config.go
Owners: @dagger/docs

workspace: fix deleting session-committed paths
  core/integration/workspace_commit_test.go
  core/integration/workspace_test.go
  core/schema/workspace.go
Owners: none

cli(agent): show staged commits in Changes
  core/integration/workspace_commit_test.go
  core/schema/workspace.go
  core/schema/workspace_commit.go
  core/workspace_staged_commit.go
  dagql/idtui/patch.go
  docs/current_docs/extending/types/workspace-staged-commit.mdx
  docs/docs-graphql/schema.graphqls
  internal/cmd/dagger/llm.go
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  util/patchpreview/patch.go
  util/patchpreview/patch_test.go
Owners: @dagger/docs, @dagger/sdk-go

core(workspace): keep the tree intact on commit
  core/integration/workspace_commit_test.go
  core/schema/workspace.go
  core/schema/workspace_commit.go
  core/workspace.go
Owners: none

core: omit implied directory removals from stats
  core/changeset.go
  core/changeset_test.go
  core/integration/changeset_test.go
Owners: none

core: fix diff --git header path prefixes
  core/changeset.go
  core/changeset_patch_test.go
Owners: none

core: keep git repo discovery out of patch apply
  core/directory.go
  core/directory_patch_test.go
  core/integration/directory_test.go
Owners: none

core: preserve conflicting parallel edits
  core/integration/llm_object_tools_test.go
  core/integration/testdata/workspaces/workspace-tool-return/.dagger/modules/swapper/main.dang
  core/integration/testdata/workspaces/workspace-tool-return/shared.txt
  core/mcp.go
Owners: none

workspace: surface edits git cannot see
  core/integration/git_test.go
  core/integration/workspace_unmanaged_test.go
  core/schema/workspace.go
  core/schema/workspace_commit.go
Owners: none

regen
  docs/current_docs/extending/types/workspace-staged-commit.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger.html
  docs/static/reference/php/Dagger/Client.html
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/Dagger/WorkspaceStagedCommit.html
  docs/static/reference/php/classes.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  docs/static/reference/php/doctum.js
  docs/static/reference/php/traits.html
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/elixir/lib/dagger/gen/workspace_git.ex
  sdk/elixir/lib/dagger/gen/workspace_staged_commit.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Client.php
  sdk/php/generated/Workspace.php
  sdk/php/generated/WorkspaceGit.php
  sdk/php/generated/WorkspaceStagedCommit.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

workspace: report checkout dirt as uncommitted
  core/changeset.go
  core/file.go
  core/integration/changeset_test.go
  core/integration/file_test.go
  core/integration/workspace_commit_test.go
  core/mcp.go
  core/schema/workspace.go
  core/schema/workspace_commit.go
  engine/session/git/git_apply.go
Owners: none

core,dagql,util: sort imports
  dagql/idtui/patch.go
  util/patchpreview/patch_test.go
Owners: none

core: recompose agents through the pending overlay
  core/integration/agents_test.go
  core/moddeps.go
  core/schema/workspace.go
  core/schema/workspace_overlay_modules.go
  core/workspace.go
  core/workspace_context.go
Owners: none

core(llm): adopt a returned LLM as a continuation
  core/integration/llm_object_tools_test.go
  core/integration/testdata/workspaces/workspace-tool-return/.dagger/modules/swapper/main.dang
  core/llm.go
  core/llm_context.go
  core/llm_continuation_test.go
  core/llm_object_tools.go
  core/llm_object_tools_test.go
  core/mcp.go
  core/modfunc.go
  core/typedef.go
Owners: none

core: add canonical host-git materialization
  core/git_hostdir.go
  core/modulesource_gitfile.go
Owners: none

core: rebuild host checkout git from client packs
  core/git_hostdir.go
  core/integration/module_path_inputs_test.go
  core/integration/workspace_test.go
  core/modfunc.go
  core/modulesource.go
  core/modulesource_gitfile.go
  core/schema/host.go
  core/schema/modulesource.go
  core/schema/workspace.go
  core/schema/workspace_commit.go
  engine/session/git/git_pack_test.go
Owners: none

docs(design): host-git reconstruction
  hack/designs/host-git-reconstruction.md
Owners: none

test: cover worktree checkouts end to end
  core/integration/module_path_inputs_test.go
  core/integration/testdata/modules/go/worktree-context-entries/dagger.json
  core/integration/testdata/modules/go/worktree-context-entries/main.go
  core/integration/workspace_test.go
Owners: none

engine(git): add CheckoutState/PackCheckout RPCs
  engine/engineutil/client.go
  engine/session/git/git.go
  engine/session/git/git.pb.go
  engine/session/git/git.proto
  engine/session/git/git_pack.go
Owners: none

chore(deps): bump catwalk and transitive deps
  .dagger/modules/cli-dev/go.mod
  .dagger/modules/cli-dev/go.sum
  .dagger/modules/engine-dev/go.mod
  .dagger/modules/engine-dev/go.sum
  .dagger/modules/go/go.mod
  .dagger/modules/go/go.sum
  .dagger/modules/release/testdata/module/go.mod
  .dagger/modules/release/testdata/module/go.sum
  go.mod
  go.sum
Owners: none

modules(delegate): hand subtasks to a sub-agent
  modules/delegate/dagger.json
  modules/delegate/main.dang
Owners: none

modules(review): self-review pending changes
  modules/review/dagger.json
  modules/review/main.dang
Owners: none

dev: wire the agent env in dagger.toml
  dagger.toml
  dang.toml
Owners: none

modules(contributor): open PRs on other repos
  modules/contributor/dagger.json
  modules/contributor/main.dang
Owners: none

modules(editor): add a sandboxed coding agent
  modules/editor/.gitattributes
  modules/editor/README.md
  modules/editor/dagger.json
  modules/editor/dang.toml
  modules/editor/main.dang
Owners: none

modules(engine-lab): debug a from-source engine
  modules/engine-lab/dagger.json
  modules/engine-lab/main.dang
Owners: none

modules(history): read staged commits
  modules/history/dagger.json
  modules/history/main.dang
Owners: none

toolchains(engine-dev): add a Go build container
  .dagger/modules/docs-dev/internal/dagger/engine-dev.gen.go
  .dagger/modules/engine-dev/dagger.gen.go
  .dagger/modules/engine-dev/internal/dagger/engine-dev.gen.go
  .dagger/modules/engine-dev/main.go
  .dagger/modules/php-client-dev/internal/dagger/dagger-engine.gen.go
  .dagger/modules/python-client-dev/internal/dagger/dagger-engine.gen.go
  .dagger/modules/release/internal/dagger/engine-dev.gen.go
  .dagger/modules/rust-client-dev/internal/dagger/dagger-engine.gen.go
Owners: none

editor: prefer scoped commits over conventional
  modules/editor/main.dang
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
