Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

feat(idtui): minimal glamour rendering
  dagql/idtui/vterm.go
Owners: none

core: fix resetting workspace
  core/integration/llm_test.go
  core/llm.go
  core/llm_test.go
Owners: none

feat(dang): self-call returning the module's type
  modules/tui-qa/main.dang
Owners: none

core(llm): fix redundant tool call span
  core/mcp.go
Owners: none

add Workspace.withoutFile and .withoutDirectory
  core/integration/workspace_api_test.go
  core/integration/workspace_synthetic_test.go
  core/schema/workspace.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

tui(agent): fix user prompts missing color for first indent
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_pretty_test.go
Owners: none

tui-qa: bump engineVersion
  modules/tui-qa/dagger.json
Owners: none

core: fix LLM tool + thinking replay, set Server
  core/llm.go
  core/llm_object_tools.go
Owners: none

fix(tui): keep notification top border within the box width
  dagql/idtui/notification.go
  dagql/idtui/notification_test.go
Owners: none

tui: flag tool-call result token size in the agent conversation
  core/llm.go
  core/mcp.go
  dagql/dagui/spans.go
  dagql/dagui/spans_test.go
  dagql/idtui/conversation_report_test.go
  dagql/idtui/frontend.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/tokens_test.go
  engine/telemetryattrs/attrs.go
Owners: none

core(llm): show last 8 lines, not 100
  core/llm_object_tools.go
Owners: none

tui(agent): adjust spacing/indenting
  dagql/idtui/conversation_report_test.go
  dagql/idtui/frontend_pretty.go
Owners: none

shell: run builtins as /slash-commands in prompt mode
  internal/cmd/dagger/shell.go
  internal/cmd/dagger/shell_slash_test.go
Owners: none

fix(llm): bust stale workspace reads on withResetWorkspace
  core/integration/llm_test.go
  core/llm.go
  core/schema/workspace.go
  core/workspace.go
  dagql/cache_inputs.go
  engine/server/server.go
  engine/server/session.go
  engine/server/session_workspaces.go
Owners: none

initial agent draft
  AGENT_V2.md
Owners: none

tui(agent): margin on the right too
  dagql/idtui/vterm.go
Owners: none

agent doc updates
  AGENT_V2.md
Owners: none

fix tui-qa cliDev
  modules/tui-qa/main.dang
Owners: none

fix tui-qa
  modules/tui-qa/main.dang
Owners: none

agent v2 v3
  AGENT_V2.md
Owners: none

bump catwalk
  go.mod
  go.sum
Owners: none

specify commit in dagger core version
  core/schema/query.go
  internal/version/VERSION
  toolchains/cli-dev/main.go
Owners: none

specify commit in dagger core version (#13732)
  core/schema/query.go
  internal/version/VERSION
  toolchains/cli-dev/main.go
Owners: none

fix: retain prepared container image metadata
  core/integration/localcache_test.go
  engine/engineutil/containerimage.go
Owners: none

run missing generation
  docs/current_docs/partials/version.js
  helm/dagger/Chart.yaml
  sdk/elixir/lib/dagger/core/version.ex
  sdk/go/engineconn/version.gen.go
  sdk/java/dagger-codegen-maven-plugin/pom.xml
  sdk/java/dagger-java-annotation-processor/pom.xml
  sdk/java/dagger-java-samples/pom.xml
  sdk/java/dagger-java-sdk/pom.xml
  sdk/java/pom.xml
  sdk/java/runtime/template/pom.xml
  sdk/php/src/Connection/version.php
  sdk/python/src/dagger/_engine/_version.py
  sdk/rust/Cargo.lock
  sdk/rust/Cargo.toml
  sdk/typescript/src/provisioning/default.ts
  toolchains/cli-dev/dagger.gen.go
  toolchains/cli-dev/internal/dagger/cli-dev.gen.go
  toolchains/docs-dev/internal/dagger/dagger-cli.gen.go
  toolchains/engine-dev/internal/dagger/dagger-cli.gen.go
  toolchains/release/internal/dagger/cli-dev.gen.go
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-java, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

run missing generation (#13733)
  docs/current_docs/partials/version.js
  helm/dagger/Chart.yaml
  sdk/elixir/lib/dagger/core/version.ex
  sdk/go/engineconn/version.gen.go
  sdk/java/dagger-codegen-maven-plugin/pom.xml
  sdk/java/dagger-java-annotation-processor/pom.xml
  sdk/java/dagger-java-samples/pom.xml
  sdk/java/dagger-java-sdk/pom.xml
  sdk/java/pom.xml
  sdk/java/runtime/template/pom.xml
  sdk/php/src/Connection/version.php
  sdk/python/src/dagger/_engine/_version.py
  sdk/rust/Cargo.lock
  sdk/rust/Cargo.toml
  sdk/typescript/src/provisioning/default.ts
  toolchains/cli-dev/dagger.gen.go
  toolchains/cli-dev/internal/dagger/cli-dev.gen.go
  toolchains/docs-dev/internal/dagger/dagger-cli.gen.go
  toolchains/engine-dev/internal/dagger/dagger-cli.gen.go
  toolchains/release/internal/dagger/cli-dev.gen.go
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-java, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

test: satisfy container layer lint
  core/integration/container_test.go
Owners: none

fix: drain telemetry before tearing down the client
  engine/client/client.go
Owners: none

fix: refresh cloud telemetry OAuth tokens from the engine
  engine/server/session.go
  engine/telemetry/cloud.go
  internal/cloud/auth/auth.go
Owners: none

fix: export engine telemetry for all session clients
  engine/client/client.go
  engine/opts.go
  engine/server/session.go
  engine/telemetry/cloud.go
  engine/telemetry/shared.go
Owners: none

Reapply "separate telemetry between client and engine" (#13148)
  engine/client/client.go
  engine/engineutil/executor.go
  engine/opts.go
  engine/server/session.go
  engine/telemetry/cloud.go
  engine/telemetry/multi.go
  internal/cloud/auth/auth.go
  internal/cmd/dagger/engine.go
  internal/cmd/dagger/engine_test.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/workspace.go
Owners: none

test: add telemetry regression coverage
  core/integration/client_test.go
  core/integration/testdata/telemetry/main.go
  engine/client/client.go
  engine/client/client_test.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/telemetry_test.go
  engine/telemetry/cloud.go
  engine/telemetry/cloud_test.go
  engine/telemetry/shared.go
  engine/telemetry/shared_test.go
Owners: none

fix: flush shutdown telemetry before closing attachables
  engine/server/session.go
  internal/cloud/auth/auth.go
Owners: none

fix: create cloud exporters per session, not per client
  engine/client/client.go
  engine/engineutil/executor.go
  engine/server/session.go
  engine/telemetry/shared.go
Owners: none

fix: refresh cloud OAuth tokens via the HTTP transport
  engine/telemetry/cloud.go
Owners: none

fix: isolate idtui golden telemetry
  dagql/idtui/golden_test.go
Owners: none

fix: bound shutdown telemetry flush best-effort
  engine/server/session.go
Owners: none

test: use plain progress for compat warning
  core/integration/workspace_compat_test.go
Owners: none

fix: preserve golden trace parenting
  dagql/idtui/golden_test.go
Owners: none

chore: regenerate Dagger runtime bindings
  toolchains/cli-dev/internal/dagger/dagger.gen.go
  toolchains/docs-dev/internal/dagger/dagger.gen.go
  toolchains/engine-dev/internal/dagger/dagger.gen.go
  toolchains/go/internal/dagger/dagger.gen.go
  toolchains/release/internal/dagger/dagger.gen.go
Owners: none
