Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

fix(server): serve primary modules before deps
  core/served_mods.go
  engine/server/session.go
Owners: none

Revert "test(call): convert call tests to Dang SDK and fix Query collisions"
  core/integration/module_call_test.go
Owners: none

test: update assertions to match unwrapped daggerQuery responses
  core/integration/legacy_test.go
  core/integration/module_cli_test.go
  core/integration/module_go_test.go
  core/integration/module_iface_test.go
  core/integration/module_java_test.go
  core/integration/module_python_test.go
  core/integration/module_test.go
  core/integration/module_type_test.go
  core/integration/module_typescript_test.go
Owners: none

fix(cli): handle entrypoint proxying in shell
  cmd/dagger/module_inspect.go
  cmd/dagger/shell_exec.go
Owners: none

chore: add entrypoint proxy design doc
  hack/designs/entrypoint-proxy.md
Owners: none

core, sdk(go): make Query IDable
  cmd/codegen/generator/go/templates/functions.go
  cmd/codegen/generator/go/templates/src/_dagger.gen.go/client.go.tmpl
  cmd/codegen/generator/go/templates/src/_dagger.gen.go/defs.go.tmpl
  cmd/codegen/generator/go/templates/src/_types/object.go.tmpl
  dagql/server.go
  sdk/go/client.go
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

fix(test): update flag conflict test for entrypoint proxying
  core/integration/module_call_test.go
Owners: none

fix: pass legacy customizations through dagql args
  core/schema/modulesource.go
  core/served_mods.go
  engine/server/session.go
Owners: none

test(shell): remove .deps tests
  core/integration/module_shell_test.go
Owners: none

fix(server): serve entrypoint deps for client type resolution
  engine/server/session.go
Owners: none

fix(workspace): apply ignoreChecks config from toolchain entries
  core/schema/workspace.go
Owners: none

fix(core): hide entrypoint constructor from outer schema
  core/integration/workspace_test.go
  core/object.go
Owners: none

fix(shell): entrypoint proxy methods take precedence over dep constructors
  .pi/skills
  cmd/dagger/module_inspect.go
  cmd/dagger/shell_exec.go
  core/moddeps.go
  core/served_mods.go
Owners: none

refactor(dagql): add ObjectType.FieldSpecs and simplify mergeModuleQueryFields
  core/moddeps.go
  dagql/objects.go
  dagql/types.go
Owners: none

fix(core): dont introspect module types in CoreMod
  core/moddeps.go
  core/schema/coremod.go
  engine/server/session.go
Owners: none

test(go): fix more daggerQuery usage
  core/integration/module_go_test.go
Owners: none

refactor(core): make ModDeps delegate to ServedMods
  core/moddeps.go
  core/schema/env.go
  core/schema_build.go
  core/served_mods.go
Owners: none

fix(shell): don't match dep constructors as main functions
  cmd/dagger/module_inspect.go
Owners: none

fix(core): use entrypoint schema for client codegen
  core/integration/client_generator_test.go
  core/moddeps.go
  core/sdk/go_sdk.go
  core/sdk/module_client_generator.go
Owners: none

fix(dagui): stop skipping Query.secret in ShouldSkipFunction
  dagql/dagui/opts.go
Owners: none

cli: print "No functions found.", fix tests
  cmd/dagger/call.go
  core/integration/module_cli_test.go
Owners: none

fix(core): only map main type in entrypoint proxy
  core/moddeps.go
Owners: none

tests: fix Container.TestError
  core/integration/container_test.go
Owners: none

sdk(python): generate Query type, Client subclasses it
  sdk/python/codegen/src/codegen/generator.py
Owners: @dagger/sdk-python

test(python): fix more daggerQuery usage
  core/integration/module_python_test.go
Owners: none

fix(codegen): skip With helper when type has a with field
  cmd/codegen/generator/functions.go
  core/integration/client_generator_test.go
Owners: none

restore(cli): use local flags for constructor args on root command
  cmd/dagger/functions.go
Owners: none

core: apply ModDeps cache fix to ServedMods
  core/served_mods.go
Owners: none

test(workspace): cover entrypoint proxy corner cases
  core/integration/workspace_test.go
Owners: none

Revert "feat(core): hide entrypoint constructor from outer schema"
  core/integration/workspace_test.go
  core/object.go
  hack/designs/entrypoint-proxy.md
Owners: none

regen
  dagql/testdata/introspection.json
  docs/current_docs/reference/cli/index.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger.html
  docs/static/reference/php/Dagger/Client.html
  docs/static/reference/php/Dagger/ModuleSource.html
  docs/static/reference/php/Dagger/PhpSdk.html
  docs/static/reference/php/Dagger/PhpSdkId.html
  docs/static/reference/php/Dagger/QueryId.html
  docs/static/reference/php/classes.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  docs/static/reference/php/doctum.js
  docs/static/reference/php/traits.html
  sdk/php/generated/Client.php
  sdk/php/generated/ModuleSource.php
  sdk/php/generated/PhpSdk.php
  sdk/php/generated/PhpSdkId.php
  sdk/php/generated/QueryId.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

fix(server): stop serving transitive deps globally
  engine/server/session.go
Owners: none

tests(sdk/ts): fix overly specific test
  core/integration/module_typescript_test.go
Owners: none

fmt
  engine/server/session.go
Owners: none

test(client): fix mismatch dep version test
  core/integration/client_generator_test.go
Owners: none

test(workspace): add entrypoint test using Go SDK
  core/integration/workspace_test.go
Owners: none

fix(core): use ServedMods for entrypoint-aware TypeDefs
  core/moddeps.go
  core/schema/module.go
  core/served_mods.go
Owners: none

fix(cli): hide loadXxxFromID functions from dagger functions/call
  cmd/dagger/call.go
  cmd/dagger/functions.go
Owners: none

fix(workspace): match check include patterns without module prefix
  core/schema/workspace.go
Owners: none

fix(core): include fields in entrypoint proxy lookup
  core/moddeps.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
