Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

test(cli): avoid stale catwalk model ids
  internal/cmd/dagger/shell_commands_test.go
Owners: none

refactor(telemetry): isolate payload routing
  core/dag_call_telemetry.go
  core/telemetry.go
Owners: none

chore: bump go-sdk pin to 902440e3
  dagger.lock
Owners: none

core: resolve bound services by their registered FQDN (#13751)
  .changes/unreleased/Fixed-20260727-193000.yaml
  core/container_exec.go
  core/integration/services_test.go
  core/integration/testdata/modules/go/service-bind-hostname-cross/dagger.json
  core/integration/testdata/modules/go/service-bind-hostname-cross/main.go
  core/integration/testdata/modules/go/service-bind-hostname-producer/dagger.json
  core/integration/testdata/modules/go/service-bind-hostname-producer/main.go
  core/service.go
  core/service_internal_test.go
  engine/engineutil/executor.go
  engine/engineutil/executor_spec.go
Owners: none

engine/server: block trash sweep under pressure
  engine/server/trash.go
  engine/server/trash_test.go
Owners: none

engine/server: sweep discarded cache state slowly
  .changes/unreleased/Fixed-20260814-235900.yaml
  core/integration/engine_persistence_test.go
  engine/server/server.go
  engine/server/trash.go
  engine/server/trash_test.go
Owners: none

add comment to the lockfile to communicate the intent to commit the changes to the file
  core/integration/lockfile_test.go
  dagger.lock
  hack/designs/lockfile.md
  util/lockfile/lockfile.go
  util/lockfile/lockfile_test.go
Owners: none

revert dagger.lock header until the released engine can parse comments
  dagger.lock
Owners: none

lockfile comment header for agents (#13990)
  core/integration/lockfile_test.go
  hack/designs/lockfile.md
  util/lockfile/lockfile.go
  util/lockfile/lockfile_test.go
Owners: none

docs: show old-version banner for 0.21
  docs/docusaurus.config.ts
Owners: @dagger/docs

docs: reorganize getting started
  docs/current_docs/getting-started/cloud-checks.mdx
  docs/current_docs/getting-started/introduction.mdx
  docs/current_docs/getting-started/pre-push.mdx
  docs/current_docs/getting-started/quickstart.mdx
  docs/current_docs/getting-started/try-dagger.mdx
  docs/current_docs/getting-started/workspace-setup.mdx
  docs/current_docs/sdks/index.mdx
  docs/current_docs/sdks/java.mdx
  docs/current_docs/sdks/php.mdx
  docs/netlify.toml
  docs/sidebars.ts
Owners: @dagger/docs

docs: add Cloud Checks setup guide
  docs/current_docs/getting-started/cloud-checks.mdx
Owners: @dagger/docs

docs: make Cloud Checks setup verifiable
  docs/current_docs/getting-started/cloud-checks.mdx
  docs/current_docs/getting-started/introduction.mdx
  docs/current_docs/getting-started/quickstart.mdx
Owners: @dagger/docs

docs: move installation into getting started
  docs/current_docs/getting-started/install.mdx
  docs/current_docs/getting-started/try-dagger.mdx
  docs/netlify.toml
  docs/sidebars.ts
Owners: @dagger/docs

docs: clarify getting started journey
  docs/current_docs/getting-started/cloud-checks.mdx
  docs/current_docs/getting-started/install.mdx
  docs/current_docs/getting-started/introduction.mdx
  docs/current_docs/getting-started/quickstart.mdx
  docs/current_docs/getting-started/try-dagger.mdx
Owners: @dagger/docs

docs: streamline getting started introduction
  docs/current_docs/getting-started/introduction.mdx
Owners: @dagger/docs

docs: remove duplicate getting started links
  docs/current_docs/getting-started/install.mdx
  docs/current_docs/getting-started/introduction.mdx
  docs/current_docs/getting-started/quickstart.mdx
  docs/current_docs/getting-started/try-dagger.mdx
Owners: @dagger/docs

Secrets: add base documentation
  docs/current_docs/config/secrets.mdx
  docs/versioned_docs/version-1.0-beta/config/secrets.mdx
Owners: @dagger/docs

docs: keep Try Dagger local
  docs/current_docs/getting-started/cloud-checks.mdx
  docs/current_docs/getting-started/try-dagger.mdx
Owners: @dagger/docs

docs: remove package manager install alternatives
  docs/current_docs/getting-started/install.mdx
Owners: @dagger/docs

docs: flatten install page heading
  docs/current_docs/getting-started/install.mdx
  docs/sidebars.ts
Owners: @dagger/docs

engine: add TOML value type and File.asTOML
  .changes/unreleased/Added-20260605-094408.yaml
  core/file.go
  core/ids.go
  core/integration/tomlvalue_test.go
  core/schema/coremod.go
  core/schema/file.go
  core/schema/query.go
  core/schema/tomlvalue.go
  core/schema/tomlvalue_test.go
  core/toml.go
  core/tomlvalue.go
  core/tomlvalue_test.go
Owners: none

core/workspace: extract TOML key formatting into core/tomlpath
  core/tomlpath/tomlpath.go
  core/tomlpath/tomlpath_test.go
  core/workspace/config.go
  core/workspace/config_document.go
  e2e/helm/helm_test.go
Owners: none

core: wire files, directories, and workspaces between modules
  core/integration/testdata/services/container-provider/dagger.json
  core/integration/testdata/services/container-provider/main.go
  core/integration/testdata/services/service-ref-consumer/main.go
  core/integration/up_test.go
  core/modfunc.go
  core/schema/address.go
  docs/current_docs/config/module-wiring.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Address.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  hack/designs/module-wiring.md
  sdk/elixir/lib/dagger/gen/address.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Address.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

core(workspace): mount cache volumes at a path
  core/directory.go
  core/integration/workspace_api_test.go
  core/schema/cache.go
  core/schema/workspace.go
  core/workspace.go
  core/workspace_volume.go
  docs/docs-graphql/schema.graphqls
  sdk/go/dagger.gen.go
Owners: @dagger/docs, @dagger/sdk-go

core(workspace): stage git commits engine-side
  core/changeset.go
  core/integration/engine_test.go
  core/integration/workspace_commit_head_moved_test.go
  core/integration/workspace_commit_test.go
  core/schema/query.go
  core/schema/workspace.go
  core/schema/workspace_commit.go
  core/workspace.go
  core/workspace_commit.go
  docs/docs-graphql/schema.graphqls
  engine/engineutil/client.go
  engine/server/session_workspaces.go
  engine/session/git/git.go
  engine/session/git/git.pb.go
  engine/session/git/git.proto
  engine/session/git/git_apply.go
  engine/session/git/git_config.go
Owners: @dagger/docs

core: keep git repo discovery out of patch apply
  core/directory.go
  core/directory_patch_test.go
  core/integration/directory_test.go
Owners: none

core: preserve conflicting parallel edits
  core/integration/llm_object_tools_test.go
  core/integration/testdata/workspaces/workspace-tool-return/.dagger/modules/swapper/main.dang
  core/integration/testdata/workspaces/workspace-tool-return/shared.txt
  core/mcp.go
Owners: none

core(workspace): keep the tree intact on commit
  core/integration/workspace_commit_test.go
  core/schema/workspace.go
  core/schema/workspace_commit.go
  core/workspace.go
Owners: none

workspace: fix deleting session-committed paths
  core/integration/workspace_commit_test.go
  core/integration/workspace_test.go
  core/schema/workspace.go
Owners: none

workspace: report checkout dirt as uncommitted
  core/changeset.go
  core/file.go
  core/integration/changeset_test.go
  core/integration/file_test.go
  core/integration/workspace_commit_test.go
  core/mcp.go
  core/schema/workspace.go
  core/schema/workspace_commit.go
  engine/session/git/git_apply.go
Owners: none

core: omit implied directory removals from stats
  core/changeset.go
  core/changeset_test.go
  core/integration/changeset_test.go
Owners: none

regen
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger.html
  docs/static/reference/php/Dagger/Client.html
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/Dagger/WorkspaceStagedCommit.html
  docs/static/reference/php/classes.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/elixir/lib/dagger/gen/workspace_git.ex
  sdk/elixir/lib/dagger/gen/workspace_staged_commit.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Client.php
  sdk/php/generated/Workspace.php
  sdk/php/generated/WorkspaceGit.php
  sdk/php/generated/WorkspaceStagedCommit.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

cli(agent): show staged commits in Changes
  core/integration/workspace_commit_test.go
  core/schema/workspace.go
  core/schema/workspace_commit.go
  core/workspace_staged_commit.go
  dagql/idtui/patch.go
  docs/docs-graphql/schema.graphqls
  internal/cmd/dagger/llm.go
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  tmp/fetch/main.go
  tmp/ids/35f32f5bd4a286b8
  tmp/sleep/main.go
  util/patchpreview/patch.go
  util/patchpreview/patch_test.go
Owners: @dagger/docs, @dagger/sdk-go

core: fix diff --git header path prefixes
  core/changeset.go
  core/changeset_patch_test.go
Owners: none

workspace: surface edits git cannot see
  core/integration/git_test.go
  core/integration/workspace_unmanaged_test.go
  core/schema/workspace.go
  core/schema/workspace_commit.go
Owners: none

core/integration: test cross-workspace pulls
  core/integration/workspace_commit_from_test.go
Owners: none

core/integration: pin the ADD's cost and content
  core/integration/testdata/modules/go/workspace-editor/main.go
  core/integration/workspace_commit_sequence_test.go
Owners: none

core: add commit origin provenance
  core/workspace.go
  core/workspace_staged_commit.go
Owners: none

core: stop stacking a layer per removed path
  core/changeset.go
  core/changeset_delta.go
  core/changeset_git.go
  core/changeset_git_test.go
  core/schema/directory.go
  core/schema/workspace_commit.go
  core/schema/workspace_commit_scope_test.go
Owners: none
