Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

docs: use Dagger palette for dark theme
  docs/docusaurus.config.ts
  docs/src/css/custom.scss
  docs/src/css/guideIndex.module.scss
  docs/src/theme/DocSidebar/Desktop/styles.module.css
Owners: @dagger/docs

ci: forward Docker config to SDK dev engines
  .env.gha
  toolchains/all-sdks/internal/dagger/php-sdk-dev.gen.go
  toolchains/all-sdks/internal/dagger/python-sdk-dev.gen.go
  toolchains/all-sdks/internal/dagger/rust-sdk-dev.gen.go
  toolchains/php-sdk-dev/dagger.gen.go
  toolchains/php-sdk-dev/main.go
  toolchains/python-sdk-dev/dagger.gen.go
  toolchains/python-sdk-dev/main.go
  toolchains/release/internal/dagger/php-sdk-dev.gen.go
  toolchains/release/internal/dagger/python-sdk-dev.gen.go
  toolchains/release/internal/dagger/rust-sdk-dev.gen.go
  toolchains/rust-sdk-dev/dagger.gen.go
  toolchains/rust-sdk-dev/main.go
Owners: none

ci: forward Docker config to SDK dev engines (#13478)
  .env.gha
  toolchains/all-sdks/internal/dagger/php-sdk-dev.gen.go
  toolchains/all-sdks/internal/dagger/python-sdk-dev.gen.go
  toolchains/all-sdks/internal/dagger/rust-sdk-dev.gen.go
  toolchains/php-sdk-dev/dagger.gen.go
  toolchains/php-sdk-dev/main.go
  toolchains/python-sdk-dev/dagger.gen.go
  toolchains/python-sdk-dev/main.go
  toolchains/release/internal/dagger/php-sdk-dev.gen.go
  toolchains/release/internal/dagger/python-sdk-dev.gen.go
  toolchains/release/internal/dagger/rust-sdk-dev.gen.go
  toolchains/rust-sdk-dev/dagger.gen.go
  toolchains/rust-sdk-dev/main.go
Owners: none

fix: create gitignored parent dirs for re-included files in filesync
  engine/filesync/localfs.go
  engine/filesync/localfs_test.go
Owners: none

fix: record re-included parent dirs on warm filesyncs
  engine/filesync/localfs.go
  engine/filesync/localfs_test.go
Owners: none

fix: record re-included filesync parent dirs in cache metadata
  engine/filesync/localfs.go
  engine/filesync/localfs_test.go
Owners: none

docs: soften dark alert backgrounds
  docs/src/components/api/styles.module.scss
  docs/src/css/custom.scss
Owners: @dagger/docs

fix(filesync): syncing a re-included file under a gitignored dir failed with `no such file or directory` (#13439)
  engine/filesync/localfs.go
  engine/filesync/localfs_test.go
Owners: none

fix(engine): guard session client maps during GC (#13474)
  core/integration/module_private_deps_test.go
  core/integration/module_test.go
  core/integration/testdata/modules/go/private-language-dep/dagger.json
  core/integration/testdata/modules/go/private-language-dep/main.go
  dagql/call/callpbv1/call.pb.go
  engine/server/server.go
  engine/server/session.go
  engine/server/session_test.go
  internal/buildkit/util/stack/stack.pb.go
Owners: none

fix(engine): guard session client maps during GC (#13474)
  core/integration/module_test.go
Owners: none

Trigger v0.21.7 backport CI
  LICENSE
Owners: none

Trigger backport v0.21.7 CI
  LICENSE
Owners: none

Reapply "separate telemetry between client and engine" (#13148)
  engine/client/client.go
  engine/engineutil/executor.go
  engine/opts.go
  engine/server/session.go
  engine/telemetry/cloud.go
  engine/telemetry/multi.go
  internal/cloud/auth/auth.go
  internal/cmd/dagger/engine.go
  internal/cmd/dagger/main.go
Owners: none

fix: bound shutdown telemetry flush best-effort
  engine/server/session.go
Owners: none

fix: flush shutdown telemetry before closing attachables
  engine/server/session.go
  internal/cloud/auth/auth.go
Owners: none

fix: export engine telemetry for all session clients
  engine/client/client.go
  engine/opts.go
  engine/server/session.go
  engine/telemetry/cloud.go
  engine/telemetry/shared.go
Owners: none

fix: isolate idtui golden telemetry
  dagql/idtui/golden_test.go
Owners: none

fix: drain telemetry before tearing down the client
  engine/client/client.go
Owners: none

fix: refresh cloud OAuth tokens via the HTTP transport
  engine/telemetry/cloud.go
Owners: none

fix: create cloud exporters per session, not per client
  engine/client/client.go
  engine/engineutil/executor.go
  engine/server/session.go
  engine/telemetry/shared.go
Owners: none

fix: refresh cloud telemetry OAuth tokens from the engine
  engine/server/session.go
  engine/telemetry/cloud.go
  internal/cloud/auth/auth.go
Owners: none

test: add telemetry regression coverage
  core/integration/client_test.go
  core/integration/testdata/telemetry/main.go
  engine/client/client.go
  engine/client/client_test.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/telemetry_test.go
  engine/telemetry/cloud.go
  engine/telemetry/cloud_test.go
  engine/telemetry/shared.go
  engine/telemetry/shared_test.go
Owners: none

test: use plain progress for compat warning
  core/integration/workspace_compat_test.go
Owners: none

docs: smooth gray 800 palette stop
  docs/src/css/custom.scss
Owners: @dagger/docs

docs: replace neutral alpha fills with gray tokens
  docs/src/components/api/styles.module.scss
  docs/src/css/custom.scss
  docs/src/css/guideIndex.module.scss
  docs/src/theme/DocSidebar/Desktop/styles.module.css
Owners: @dagger/docs

feat: add granular Container export functions
  .changes/unreleased/Added-20260615-225854.yaml
  core/container.go
  core/integration/container_test.go
  core/schema/container.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Container.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  engine/engineutil/containerimage.go
  sdk/elixir/lib/dagger/gen/container.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Container.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

feat: kubectl image engine client driver
  .changes/unreleased/Added-20260615-231541.yaml
  engine/client/drivers/container.go
  engine/client/drivers/kubectl.go
  go.mod
  go.sum
Owners: none

bump dang
  go.mod
  go.sum
Owners: none

core/workspace: add [sdks.*] config schema with array-of-tables shape
  core/workspace/config.go
  core/workspace/config_document.go
  core/workspace/sdks_roundtrip_test.go
Owners: none

docs: sketch current module as SDK API
  future/current-module-as-sdk.md
Owners: none

docs, sdk: refresh CLI 1.0 generated artifacts
  cmd/dagger/module_init_test.go
  docs/current_docs/adopting/observability.mdx
  docs/current_docs/adopting/triggers/argo-workflows.mdx
  docs/current_docs/adopting/triggers/aws-codebuild.mdx
  docs/current_docs/adopting/triggers/azure-pipelines.mdx
  docs/current_docs/adopting/triggers/circleci.mdx
  docs/current_docs/adopting/triggers/github-actions.mdx
  docs/current_docs/adopting/triggers/gitlab.mdx
  docs/current_docs/adopting/triggers/index.mdx
  docs/current_docs/adopting/triggers/jenkins.mdx
  docs/current_docs/adopting/triggers/teamcity.mdx
  docs/current_docs/adopting/triggers/tekton.mdx
  docs/current_docs/adopting/workspace-setup.mdx
  docs/current_docs/getting-started/quickstart.mdx
  docs/current_docs/reference/cli/index.mdx
  docs/current_docs/reference/configuration/cache.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/dagger-module.schema.json
  docs/static/reference/dagger-workspace.schema.json
  docs/static/reference/dagger.schema.json
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  internal/cmd/dagger/call.go
  internal/cmd/dagger/workspace_test.go
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
  toolchains/php-sdk-dev/main.go
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

cmd/dagger: wire 5-group rendering for `dagger --help`
  future/cli-1.0.md
  internal/cmd/dagger/main.go
Owners: none

CLI 1.0 phase 3: workspace slim + introspection
  internal/cmd/dagger/config.go
  internal/cmd/dagger/env.go
  internal/cmd/dagger/installed.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/migrate.go
  internal/cmd/dagger/migrate_test.go
  internal/cmd/dagger/module.go
  internal/cmd/dagger/settings.go
  internal/cmd/dagger/workspace.go
  internal/cmd/dagger/workspace_test.go
Owners: none

engine: wire SDK `targetRuntime` introspection at `module init` time
  core/modulesource.go
  core/modulesource_test.go
  core/schema/workspace_module_init.go
  core/sdk.go
  core/sdk/consts.go
  core/sdk/dang_sdk.go
  core/sdk/go_sdk.go
  core/sdk/module.go
  future/cli-1.0.md
Owners: none

cli: expose sdk init args as flags
  cmd/dagger/module_init.go
  core/modulesource.go
  core/schema/workspace_client.go
  core/schema/workspace_module_init.go
  core/schema/workspace_sdk_init.go
  core/sdk.go
  core/sdk/consts.go
  core/sdk/dang_sdk.go
  core/sdk/go_sdk.go
  core/sdk/module.go
  core/sdk/module_init.go
  future/cli-1.0.md
  internal/cmd/dagger/client.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/sdk.go
  internal/cmd/dagger/sdk_init_dynamic.go
  internal/cmd/dagger/sdk_init_dynamic_test.go
Owners: none

docs(cli-1.0): dagger api exec + initModule/initClient capability semantics
  future/cli-1.0.md
Owners: none

cli: dispatch init through installed SDKs
  cmd/dagger/module_init.go
  cmd/dagger/module_init_test.go
  core/schema/workspace.go
  core/schema/workspace_client.go
  core/schema/workspace_module_init.go
  core/schema/workspace_sdk.go
  core/schema/workspace_sdk_test.go
  docs/current_docs/reference/cli/index.mdx
  future/cli-1.0.md
  internal/cmd/dagger/client.go
  internal/cmd/dagger/client_test.go
  sdk/java/README.md
  sdk/php/README.md
  skills/tui-qa/SKILL.md
Owners: @dagger/docs, @dagger/sdk-java, @dagger/sdk-php

module init: resolve --path against workspace root, not CLI cwd
  cmd/dagger/module_init.go
Owners: none

core/schema: Workspace.moduleInit returns Changeset, accepts path
  core/schema/workspace.go
  core/schema/workspace_module_init.go
Owners: none

docs(cli-1.0): note that 5-group --help rendering is not implemented
  future/cli-1.0.md
Owners: none
