Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

feat(sdk/rust): add directive support to introspection
  sdk/rust/crates/dagger-sdk/src/core/graphql/introspection_query.graphql
  sdk/rust/crates/dagger-sdk/src/core/graphql/introspection_schema.graphql
  sdk/rust/crates/dagger-sdk/src/core/introspection.rs
Owners: @dagger/sdk-rust

fix(sdk/rust): comment out unimplemented integration tests
  sdk/rust/crates/dagger-sdk/tests/mod.rs
Owners: @dagger/sdk-rust

fix(codegen): update introspection test fixtures for unified ID
  cmd/codegen/introspection/filters_test.go
  cmd/codegen/introspection/testdata/keep_core_only_expected_schema.json
  cmd/codegen/introspection/testdata/keep_dep_and_test_expected_schema.json
  cmd/codegen/introspection/testdata/keep_dep_expected_schema.json
  cmd/codegen/introspection/testdata/schema.json
Owners: none

sdk(elixir): fix test updater, regen
  sdk/elixir/dagger_codegen/test/dagger/codegen/elixir_generator/object_renderer_test.exs
  toolchains/elixir-sdk-dev/elixir-sdk.dang
Owners: @dagger/sdk-elixir

fix(tests): replace loadFooFromID with node(id:) in test queries
  core/integration/directory_test.go
  core/integration/dockerfile_test.go
  core/integration/module_type_test.go
  core/integration/services_test.go
Owners: none

chore: update handoff with remaining work
  handoff.md
Owners: none

feat(sdk/go): add Ref[T] for lazy loading by ID
  cmd/codegen/generator/go/templates/src/_dagger.gen.go/defs.go.tmpl
  cmd/dagger/functions.go
  cmd/dagger/llm.go
  cmd/dagger/module_inspect.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

feat(sdk/rust): handle @expectedType in codegen
  sdk/rust/crates/dagger-codegen/src/functions.rs
  sdk/rust/crates/dagger-codegen/src/lib.rs
  sdk/rust/crates/dagger-codegen/src/rust/functions.rs
  sdk/rust/crates/dagger-sdk/src/querybuilder.rs
Owners: @dagger/sdk-rust

fix(rust-sdk): handle interface types in codegen
  sdk/rust/crates/dagger-codegen/src/functions.rs
  sdk/rust/crates/dagger-codegen/src/visitor.rs
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/rust/crates/dagger-sdk/tests/mod.rs
Owners: @dagger/sdk-rust

fix(codegen): add source map comments to interface client methods
  cmd/codegen/generator/go/templates/src/_types/interface.go.tmpl
Owners: none

chore: update handoff with current test fix status
  handoff.md
Owners: none

docs: update handoff with .NET SDK migration plan
  handoff.md
Owners: none

fix(core): resolve unified ID scalar to object types via @expectedType
  core/typedef_from_schema.go
Owners: none

fix(cli): resolve unified ID scalar to object types for CLI flags
  core/typedef_from_schema.go
Owners: none

feat(sdk/dotnet): migrate to unified IDs, node(id:), and interfaces
  sdk/dotnet/sdk/Dagger.SDK.SourceGenerator/Code/CodeGenerator.cs
  sdk/dotnet/sdk/Dagger.SDK.SourceGenerator/Code/CodeRenderer.cs
  sdk/dotnet/sdk/Dagger.SDK.SourceGenerator/Code/ICodeRenderer.cs
  sdk/dotnet/sdk/Dagger.SDK.SourceGenerator/Types/Directive.cs
  sdk/dotnet/sdk/Dagger.SDK.SourceGenerator/Types/Field.cs
  sdk/dotnet/sdk/Dagger.SDK.SourceGenerator/Types/InputValue.cs
  sdk/dotnet/sdk/Dagger.SDK.SourceGenerator/Types/Type.cs
  sdk/dotnet/sdk/Dagger.SDK.SourceGenerator/Types/TypeRef.cs
  sdk/dotnet/sdk/Dagger.SDK.Tests/ClientTest.cs
  sdk/dotnet/sdk/Dagger.SDK.Tests/GraphQL/QueryBuilderTest.cs
  sdk/dotnet/sdk/Dagger.SDK.Tests/QueryExecutorTest.cs
  sdk/dotnet/sdk/Dagger.SDK/GraphQL/QueryBuilder.cs
  sdk/dotnet/sdk/Dagger.SDK/GraphQL/Types.cs
  sdk/dotnet/sdk/Dagger.SDK/IId.cs
  sdk/dotnet/sdk/Dagger.SDK/Object.cs
  sdk/dotnet/sdk/Dagger.SDK/QueryExecutor.cs
  toolchains/dotnet-sdk-dev/main.dang
Owners: @dagger/sdk-dotnet

docs: remove misleading dev engine references from handoff
  handoff.md
Owners: none

test: update inline module code to use new unified ID APIs
  core/integration/module_test.go
Owners: none

post-rebase regen
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Binding.html
  docs/static/reference/php/Dagger/Env.html
  docs/static/reference/php/Dagger/Module.html
  docs/static/reference/php/Dagger/Up.html
  docs/static/reference/php/Dagger/UpGroup.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  docs/static/reference/php/doctum.js
  docs/static/reference/php/traits.html
  sdk/go/dagger.gen.go
  sdk/php/generated/Env.php
  sdk/php/generated/Up.php
  sdk/php/generated/UpGroup.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

feat(sdk/typescript): add format generator to toolchain
  toolchains/typescript-sdk-dev/ts-sdk.dang
Owners: none

fix(sdk/typescript): update query builder test expectations for inline fragment spacing
  sdk/typescript/src/api/test/api.spec.ts
Owners: @dagger/sdk-typescript

fix(codegen/go): skip dagger-generated interfaces in module type parsing
  cmd/codegen/generator/go/templates/module_interfaces.go
Owners: none

chore(dotnet-sdk): update test data for unified ID schema
  sdk/dotnet/sdk/Dagger.SDK.SourceGenerator.Tests/TestData.cs
  sdk/dotnet/sdk/Dagger.SDK.SourceGenerator/Code/CodeGenerator.cs
Owners: @dagger/sdk-dotnet

fix(sdk/java): unwrap Scalar in chainNode to avoid broken toString
  sdk/java/dagger-java-sdk/src/main/java/io/dagger/client/QueryBuilder.java
Owners: @dagger/sdk-java

style(python-sdk): fix ruff lint warnings
  sdk/python/src/dagger/client/_core.py
  sdk/python/src/dagger/client/_session.py
Owners: @dagger/sdk-python

fix(sdk/typescript): apply prettier formatting to node(id:) migration code
  sdk/typescript/src/common/context.ts
  sdk/typescript/src/module/entrypoint/load.ts
  sdk/typescript/src/module/executor.ts
Owners: @dagger/sdk-typescript

fix(rust-sdk): mark incomplete doc examples as ignored
  sdk/rust/crates/dagger-sdk/src/client.rs
Owners: @dagger/sdk-rust

chore: update handoff to mark dotnet sdk migration complete
  handoff.md
Owners: none

fix(elixir-sdk): use dev engine and fix node() response parsing
  sdk/elixir/lib/dagger/core/query_builder.ex
  sdk/elixir/test/dagger/client_test.exs
  toolchains/elixir-sdk-dev/elixir-sdk.dang
Owners: @dagger/sdk-elixir

style(java-sdk): fix google-java-format line length
  sdk/java/dagger-java-sdk/src/main/java/io/dagger/client/QueryBuilder.java
Owners: @dagger/sdk-java

core/dagql: fix interface ID reloads across module schemas
  core/interface.go
  core/object.go
  core/query.go
  dagql/cache_persistence_resolver.go
  dagql/call_request_input.go
Owners: none

cmd/dagger: treat bare Query as a CLI leaf instead of selecting Query.id
  cmd/dagger/functions.go
Owners: none

core/integration: skip workspace modules in harness-level nested-engine clients
  core/integration/cacert_test.go
  core/integration/client_test.go
  core/integration/engine_persistence_test.go
  core/integration/gpu_test.go
  core/integration/llbtodagger_test.go
  core/integration/localcache_test.go
  core/integration/registry_mirrors_test.go
  core/integration/services_test.go
Owners: none

feat: enum support
  sdk/elixir/lib/dagger/mod/decoder.ex
  sdk/elixir/lib/dagger/mod/enum.ex
  sdk/elixir/lib/dagger/mod/module.ex
  sdk/elixir/test/dagger/mod/decoder_test.exs
  sdk/elixir/test/dagger/mod/enum_test.exs
  sdk/elixir/test/dagger/mod/module_test.exs
  sdk/elixir/test/support/enum_mod.ex
  sdk/elixir/test/support/object_mod.ex
Owners: @dagger/sdk-elixir

add changelog
  sdk/elixir/.changes/unreleased/Added-20260327-214828.yaml
Owners: @dagger/sdk-elixir

feat(sdk/elixir): support Enum
  sdk/elixir/lib/dagger/mod/decoder.ex
  sdk/elixir/lib/dagger/mod/enum.ex
  sdk/elixir/lib/dagger/mod/module.ex
  sdk/elixir/lib/dagger/mod/object/meta.ex
  sdk/elixir/lib/dagger/mod/object/type_def.ex
  sdk/elixir/lib/dagger/mod/registry.ex
  sdk/elixir/test/dagger/mod/enum_test.exs
  sdk/elixir/test/dagger/mod/module_test.exs
Owners: @dagger/sdk-elixir

add integration tests
  core/integration/module_elixir_test.go
  core/integration/testdata/modules/elixir/defaults/lib/defaults.ex
Owners: none

fix linting error
  sdk/elixir/lib/dagger/mod/enum.ex
  sdk/elixir/test/dagger/mod/enum_test.exs
Owners: @dagger/sdk-elixir

core: enforce LOCKED cache-volume access during exec and service use
  core/container_exec.go
  core/integration/cache_test.go
  core/service.go
Owners: none

engine/snapshots: dedupe concurrent export-blob generation per snapshot
  engine/snapshots/blobs.go
Owners: none

core/http: replace _httpResolved with persistent HTTP state
  core/http.go
  core/integration/http_test.go
  core/schema/http.go
Owners: none
