Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

fix: warn on unresolved types in resolver fallback
  sdk/python/src/dagger/mod/_analyzer/resolver.py
Owners: @dagger/sdk-python

refactor: scope TypeResolver current-class via context manager
  sdk/python/src/dagger/mod/_analyzer/parser.py
  sdk/python/src/dagger/mod/_analyzer/resolver.py
Owners: @dagger/sdk-python

refactor: tighten ResolvedType.kind to a Literal with invariants
  sdk/python/src/dagger/mod/_analyzer/metadata.py
Owners: @dagger/sdk-python

refactor: use isinstance for StubType detection
  sdk/python/src/dagger/mod/_analyzer/namespace.py
Owners: @dagger/sdk-python

docs: fix stale and misleading docstrings/comments
  sdk/python/src/dagger/mod/_analyzer/analyze.py
  sdk/python/src/dagger/mod/_analyzer/parser.py
  sdk/python/src/dagger/mod/_analyzer/registration.py
  sdk/python/src/dagger/mod/_analyzer/resolver.py
  sdk/python/src/dagger/mod/_module.py
Owners: @dagger/sdk-python

test: add regression and new-fix coverage for AST analyzer
  sdk/python/tests/mod/test_ast_analyzer.py
Owners: @dagger/sdk-python

chore: satisfy ruff style lints
  sdk/python/src/dagger/mod/_analyzer/parser.py
  sdk/python/src/dagger/mod/_analyzer/resolver.py
Owners: @dagger/sdk-python

refactor: validate ResolvedType.kind at runtime
  sdk/python/src/dagger/mod/_analyzer/metadata.py
Owners: @dagger/sdk-python

Fix unmount error in test
  engine/engineutil/executor_spec.go
Owners: none

chore: apply ruff format fixes
  sdk/python/src/dagger/mod/_analyzer/metadata.py
  sdk/python/src/dagger/mod/_analyzer/parser.py
Owners: @dagger/sdk-python

feat(sdk/python): AST based analysis to introspect (#11803)
  sdk/python/src/dagger/mod/_analyzer/__init__.py
  sdk/python/src/dagger/mod/_analyzer/analyze.py
  sdk/python/src/dagger/mod/_analyzer/errors.py
  sdk/python/src/dagger/mod/_analyzer/metadata.py
  sdk/python/src/dagger/mod/_analyzer/namespace.py
  sdk/python/src/dagger/mod/_analyzer/parser.py
  sdk/python/src/dagger/mod/_analyzer/registration.py
  sdk/python/src/dagger/mod/_analyzer/resolver.py
  sdk/python/src/dagger/mod/_analyzer/visitors/__init__.py
  sdk/python/src/dagger/mod/_analyzer/visitors/annotations.py
  sdk/python/src/dagger/mod/_analyzer/visitors/decorators.py
  sdk/python/src/dagger/mod/_discovery.py
  sdk/python/src/dagger/mod/_module.py
  sdk/python/src/dagger/mod/cli.py
  sdk/python/tests/mod/test_ast_analyzer.py
  sdk/python/tests/mod/test_discovery.py
Owners: @dagger/sdk-python

Appease markdown linter
  CHANGELOG.md
  README.md
  cmd/dagger/llm_compact.md
  core/docs/extension_implementation.md
  engine/ebpf/AGENTS.md
  hack/designs/entrypoint-proxy.md
  sdk/dotnet/README.md
  sdk/elixir/dagger_codegen/README.md
  sdk/elixir/runtime/template/README.md
  sdk/java/README.md
  sdk/php/runtime/template/README.md
  sdk/python/CHANGELOG.md
  skills/cache-expert/references/debugging.md
  skills/cache-expert/references/filesync.md
  skills/dagger-chores/SKILL.md
  skills/dagger-codegen/references/generated-clients.md
  skills/dagger-codegen/references/go-templates.md
  skills/dagger-design-proposals/SKILL.md
  skills/engine-dev-testing/SKILL.md
Owners: @dagger/sdk-dotnet, @dagger/sdk-elixir, @dagger/sdk-java, @dagger/sdk-php, @dagger/sdk-python

remove CHANGELOG.md from the files manages by markdown-lint
  .markdownlintignore
  CHANGELOG.md
Owners: none

chore: manually update some markdown to prepare the fix
  sdk/java/README.md
  toolchains/engine-dev/notify/README.md
  toolchains/release/registry-config/README.md
Owners: @dagger/sdk-java

Remove broken markdownlint check from project-specific docs-dev module. We have a reusable module for that now
  toolchains/docs-dev/main.go
Owners: none

Install modules/markdown-lint for our own use
  dagger.json
Owners: none

new module: markdown-lint
  modules/markdownlint/dagger.json
  modules/markdownlint/markdownlint.dang
Owners: none

core/integration: add remote module defaultPath toolchain regressions
  core/integration/module_remote_workspace_defaultpath_test.go
Owners: none

Regenerate CHANGELOG.md
  CHANGELOG.md
Owners: none

modules: carry +defaultPath context through asModule as source ref+pin
  core/schema/modulesource.go
  engine/server/session.go
  engine/server/session_workspaces.go
Owners: none

Install shellcheck module
  dagger.json
Owners: none

Appease shellcheck on all scripts
  modules/gha/scripts/exec.sh
  modules/gha/scripts/warm-engine.sh
  sdk/php/runtime/scripts/init-template.sh
  skills/engine-dev-testing/with-playground.sh
Owners: @dagger/sdk-php

Remove old shellcheck module - deprecated by newer one at github.com/dagger/shellcheck
  modules/shellcheck/.gitattributes
  modules/shellcheck/.gitignore
  modules/shellcheck/dagger.json
  modules/shellcheck/go.mod
  modules/shellcheck/go.sum
  modules/shellcheck/main.go
  toolchains/installers/dagger.json
  toolchains/installers/main.go
Owners: none

Add shellcheck linting and fix shell script issues (#13024)
  dagger.json
  modules/gha/scripts/exec.sh
  modules/gha/scripts/warm-engine.sh
  modules/shellcheck/.gitattributes
  modules/shellcheck/.gitignore
  modules/shellcheck/dagger.json
  modules/shellcheck/go.mod
  modules/shellcheck/go.sum
  modules/shellcheck/main.go
  sdk/php/runtime/scripts/init-template.sh
  skills/engine-dev-testing/with-playground.sh
  toolchains/installers/dagger.json
  toolchains/installers/main.go
Owners: @dagger/sdk-php

Remove old ps-analyzer module - deprecated by newer one at github.com/dagger/PsScriptAnalyzer
  modules/ps-analyzer/.gitattributes
  modules/ps-analyzer/.gitignore
  modules/ps-analyzer/LICENSE
  modules/ps-analyzer/dagger.json
  modules/ps-analyzer/go.mod
  modules/ps-analyzer/go.sum
  modules/ps-analyzer/main.go
  toolchains/installers/dagger.json
  toolchains/installers/main.go
Owners: none

Install new module github.com/dagger/PsScriptAnalyzer, to analyze and validate our powershell scripts
  dagger.json
Owners: none

install.ps1: narrow exemption to satisfy script analyzer without project-specific Dagger module config
  install.ps1
Owners: none

add FIXME to remaining installers module
  toolchains/installers/main.go
Owners: none

Improve PowerShell script linting (#13025)
  dagger.json
  install.ps1
  modules/ps-analyzer/.gitattributes
  modules/ps-analyzer/.gitignore
  modules/ps-analyzer/LICENSE
  modules/ps-analyzer/dagger.json
  modules/ps-analyzer/go.mod
  modules/ps-analyzer/go.sum
  modules/ps-analyzer/main.go
  toolchains/installers/dagger.json
  toolchains/installers/main.go
Owners: none

New e2e test suite: installers
  e2e/installers/README.md
  e2e/installers/go.mod
  e2e/installers/go.sum
  e2e/installers/installers_test.go
Owners: none

Remove project-specific "installers" module (deprecated by e2e/installers, shellcheck and ps-script-analyzer)
  dagger.json
  toolchains/installers/.gitattributes
  toolchains/installers/.gitignore
  toolchains/installers/dagger.json
  toolchains/installers/go.mod
  toolchains/installers/go.sum
  toolchains/installers/main.go
Owners: none

e2e/installers: use Workspace API to load install script
  e2e/installers/installers_test.go
Owners: none

installers/e2e: simplify dagger client setup
  e2e/installers/installers_test.go
Owners: none

Install new go module
  dagger.json
Owners: none

feat: make generate client use pinned version in the engine if needed.
  cmd/codegen/generate_client.go
  cmd/codegen/generator/config.go
  cmd/codegen/generator/go/generate_client.go
  core/sdk/go_sdk.go
Owners: none

feat: no longer generate core bindings
  cmd/codegen/generator/go/templates/functions.go
  cmd/codegen/generator/go/templates/src/_dagger.gen.go/defs.go.tmpl
  cmd/codegen/generator/go/templates/src/_types/object.go.tmpl
  cmd/codegen/generator/go/templates/src/_types/object_fields.go.tmpl
Owners: none

chore: bump go sdk version to v0.20.5
  core/sdk/go_sdk.go
Owners: none

chore: add debug
  cmd/codegen/generate_module.go
Owners: none

feat(sdk/elixir): add check attribute to mark functions as Dagger checks
  core/integration/module_elixir_test.go
  core/integration/testdata/modules/elixir/hello-with-checks/.formatter.exs
  core/integration/testdata/modules/elixir/hello-with-checks/.gitattributes
  core/integration/testdata/modules/elixir/hello-with-checks/.gitignore
  core/integration/testdata/modules/elixir/hello-with-checks/dagger.json
  core/integration/testdata/modules/elixir/hello-with-checks/lib/hello_with_checks.ex
  core/integration/testdata/modules/elixir/hello-with-checks/mix.exs
  core/integration/testdata/modules/elixir/hello-with-checks/mix.lock
  sdk/elixir/.changes/unreleased/Added-20260219-144151.yaml
  sdk/elixir/lib/dagger/mod/object.ex
  sdk/elixir/lib/dagger/mod/object/function_def.ex
  sdk/elixir/test/dagger/client_test.exs
  sdk/elixir/test/dagger/mod/object_test.exs
  sdk/elixir/test/support/object_mod.ex
Owners: @dagger/sdk-elixir

fix(sdk/python): align default Python image with module template
  core/integration/module_python_test.go
  docs/current_docs/extending/modules/modules.mdx
  sdk/python/runtime/images/base/Dockerfile
  sdk/python/runtime/main.go
  sdk/python/runtime/template/pyproject.toml
Owners: @dagger/docs, @dagger/sdk-python
