Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

chore: fix CI
  toolchains/engine-dev/build/sdk.go
Owners: none

chore: update sdk/typescript/telemetry
  sdk/typescript/telemetry/package.json
  sdk/typescript/telemetry/yarn.lock
Owners: @dagger/sdk-typescript

chore: add tests in sdk/typescript/telemetry
  sdk/typescript/telemetry/bun.lock
  sdk/typescript/telemetry/package.json
  sdk/typescript/telemetry/src/tracer/index.test.ts
  toolchains/typescript-sdk-dev/ts-sdk.dang
Owners: @dagger/sdk-typescript

feat: apply Guillaume's comment
  sdk/typescript/telemetry/src/sdk/index.ts
  sdk/typescript/telemetry/src/tracer/index.ts
  toolchains/typescript-sdk-dev/ts-sdk.dang
  toolchains/typescript-sdk-dev/verify-pkg-version-bump/main.go
Owners: @dagger/sdk-typescript

add tracking doc for workspace API toolchain porting
  hack/designs/dogfood-workspace-api.md
  toolchains/helm-dev/main.go
Owners: none

modules/docusaurus: fix dang typing issues
  modules/docusaurus/docusaurus.dang
Owners: none

modules/docusaurus: new dang module for building docusaurus sites
  modules/docusaurus/dagger.json
  modules/docusaurus/docusaurus.dang
  skills/dang-dagger-modules/SKILL.md
  skills/dang-dagger-modules/references/language.md
Owners: none

toolchains/helm-dev: port to workspace API
  hack/designs/dogfood-workspace-api.md
  toolchains/helm-dev/main.go
Owners: none

modules/docusaurus: guard optional package.json fields
  modules/docusaurus/docusaurus.dang
Owners: none

modules/docusaurus: bugfixes
  modules/docusaurus/docusaurus.dang
Owners: none

modules/docusaurus: declare PackageJson before Site
  modules/docusaurus/docusaurus.dang
Owners: none

modules/docusaurus: fix JSON include/exclude extraction typing
  modules/docusaurus/docusaurus.dang
Owners: none

dang skill: reference for editor setup
  skills/dang-dagger-modules/references/editor-setup.md
Owners: none

modules/docusaurus: replace docusaurus.toml with package.json
  modules/docusaurus/docusaurus.dang
Owners: none

modules/docusaurus: parse package.json safely and serve from workspace
  modules/docusaurus/docusaurus.dang
Owners: none

modules/markdownlint: a dagger module for markdownlint
  dagger.json
  modules/markdownlint/dagger.json
  modules/markdownlint/markdownlint.dang
Owners: none

skill: add workspace-api-port for porting toolchain modules
  skills/workspace-api-port/SKILL.md
  skills/workspace-api-port/references/patterns.md
Owners: none

modules/docusaurus: fix npm install
  modules/docusaurus/docusaurus.dang
Owners: none

Don't use deprecated description field in dang modules
  modules/docusaurus/docusaurus.dang
  modules/markdownlint/markdownlint.dang
Owners: none

modules/docusaurus: support package.json nginxConfig
  modules/docusaurus/docusaurus.dang
Owners: none

modules/docusaurus: make default nginx.conf optional
  modules/docusaurus/docusaurus.dang
Owners: none

core: add support for type-only dependency serving
  core/moddeps.go
  core/module.go
  core/object.go
  core/schema/coremod.go
  engine/server/session.go
Owners: none

Revert "core: add support for type-only dependency serving"
  core/moddeps.go
  core/module.go
  core/object.go
  core/schema/coremod.go
  engine/server/session.go
Owners: none

modules/docusaurus: LLM-enabled optimizeConfig()
  modules/docusaurus/docusaurus.dang
Owners: none

fix(engine): separate served modules from dependency graph
  core/moddeps.go
  core/module.go
  core/object.go
  core/query.go
  core/schema/coremod.go
  core/schema/env.go
  core/schema/module.go
  core/schema/workspace.go
  core/schema_build.go
  core/served_mods.go
  core/telemetry.go
  engine/server/client_resources.go
  engine/server/session.go
Owners: none

ignore /.wt (worktrees)
  .gitignore
Owners: none

dang skill: add nullable value handling guidance
  skills/dang-dagger-modules/SKILL.md
  skills/dang-dagger-modules/references/language.md
Owners: none

fix invalid gorelease config
  .goreleaser.common.yml
Owners: none

experiment with tuned grpc params for faster filesync
  engine/client/client.go
  internal/buildkit/session/grpc.go
  internal/buildkit/session/session.go
Owners: none

fix(docusaurus): ensure nginxConfig returns non-null String
  modules/docusaurus/docusaurus.dang
Owners: none

chore(llm): refresh default model versions
  cmd/dagger/shell.go
  core/llm.go
  core/openrouter/openrouter.go
  docs/current_docs/reference/cli/index.mdx
  docs/current_docs/reference/configuration/llm.mdx
Owners: @dagger/docs

test: fix module init arg routing in TestCall and TestShell
  core/integration/module_call_test.go
  core/integration/module_shell_test.go
Owners: none

docs: refine lockfile naming and lookup model
  hack/designs/lockfile.md
Owners: none

fix invalid gorelease config (#11918)
  .goreleaser.common.yml
Owners: none

bump next version to v0.20.0
  .changes/.next
Owners: none

chore: bump dependencies to v0.20.0
  docs/current_docs/partials/version.js
  helm/dagger/Chart.yaml
  lib/dagger/core/version.ex
  sdk/go/engineconn/version.gen.go
  sdk/java/dagger-codegen-maven-plugin/pom.xml
  sdk/java/dagger-java-annotation-processor/pom.xml
  sdk/java/dagger-java-samples/pom.xml
  sdk/java/dagger-java-sdk/pom.xml
  sdk/java/pom.xml
  sdk/java/runtime/template/pom.xml
  sdk/php/src/Connection/version.php
  sdk/python/src/dagger/_engine/_version.py
  sdk/rust/Cargo.lock
  sdk/rust/Cargo.toml
  sdk/rust/crates/dagger-sdk/src/core/version.rs
  sdk/typescript/src/provisioning/default.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-java, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

chore: add release notes for v0.20.0
  .changes/unreleased/Added-20260209-143626.yaml
  .changes/unreleased/Fixed-20260209-143945.yaml
  .changes/unreleased/Fixed-20260211-182802.yaml
  .changes/unreleased/Fixed-20260212-105644.yaml
  .changes/unreleased/Fixed-20260224-105802.yaml
  .changes/v0.20.0.md
  CHANGELOG.md
  helm/dagger/.changes/v0.20.0.md
  helm/dagger/CHANGELOG.md
  sdk/elixir/.changes/v0.20.0.md
  sdk/elixir/CHANGELOG.md
  sdk/go/.changes/v0.20.0.md
  sdk/go/CHANGELOG.md
  sdk/php/.changes/v0.20.0.md
  sdk/php/CHANGELOG.md
  sdk/python/.changes/v0.20.0.md
  sdk/python/CHANGELOG.md
  sdk/rust/.changes/v0.20.0.md
  sdk/rust/CHANGELOG.md
  sdk/typescript/.changes/v0.20.0.md
  sdk/typescript/CHANGELOG.md
Owners: @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

bump next version to v0.20.1
  .changes/.next
Owners: none

modules/docusaurus: top-level generate & check functions (apply to all sites in the workspace)
  modules/docusaurus/docusaurus.dang
Owners: none

modules/docusaurus: keep site files included in source filter
  modules/docusaurus/docusaurus.dang
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
