Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

core/integration: pin that included modules reach the command tree
  core/integration/workspace_include_test.go
  future/done/workspace-include.md
Owners: none

core: fix vanity clone URLs and add Dagger discovery
  core/gitref/gitref.go
  core/gitref/gitref_test.go
  engine/vcs/discovery.go
  engine/vcs/http.go
  engine/vcs/vcs.go
  engine/vcs/vcs_test.go
Owners: none

fix(engine): keep same-source workspace modules under each configured name (#14017)
  .changes/unreleased/Fixed-20260901-114500.yaml
  core/integration/module_loading_test.go
  core/integration/testdata/modules/dang/settings-check/dagger.json
  core/integration/testdata/modules/dang/settings-check/main.dang
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

feat(telemetry): sequence cloud exports
  engine/telemetry/cloud.go
  engine/telemetry/cloud_export_sequence.go
  engine/telemetry/cloud_export_sequence_test.go
Owners: none

fix(core): detect silently dropped merge changes
  .changes/unreleased/Fixed-20260831-000000.yaml
  core/changeset.go
Owners: none

engine/server: sweep discarded cache state slowly
  .changes/unreleased/Fixed-20260814-235900.yaml
  core/integration/engine_persistence_test.go
  engine/server/server.go
  engine/server/trash.go
  engine/server/trash_test.go
Owners: none

fix(core): keep git content digests type-distinct
  core/schema/git.go
Owners: none

engine/server: block trash sweep under pressure
  engine/server/trash.go
  engine/server/trash_test.go
Owners: none

docs: move SDKs into the Reference section
  docs/current_docs/api/clients/index.mdx
  docs/current_docs/api/reference/directory.mdx
  docs/current_docs/api/reference/index.mdx
  docs/current_docs/reference/sdks/dang.mdx
  docs/current_docs/reference/sdks/elixir.mdx
  docs/current_docs/reference/sdks/go.mdx
  docs/current_docs/reference/sdks/index.mdx
  docs/current_docs/reference/sdks/java.mdx
  docs/current_docs/reference/sdks/php.mdx
  docs/current_docs/reference/sdks/python.mdx
  docs/current_docs/reference/sdks/typescript.mdx
  docs/sidebars.ts
Owners: @dagger/docs

docs: simplify Cloud Checks guide
  docs/current_docs/getting-started/cloud-checks.mdx
Owners: @dagger/docs

review: tighten sandbox export test, dedupe comments
  core/integration/testdata/modules/go/workspace-export-sandbox/main.go
  core/integration/workspace_api_test.go
  core/schema/workspace.go
Owners: none

docs: restyle to match the dagger.io redesign
  docs/docusaurus.config.ts
  docs/src/css/custom.scss
  docs/src/prism/theme.ts
  docs/src/theme/DocItem/Layout/index.tsx
  docs/src/theme/DocItem/Layout/styles.module.css
  docs/src/theme/SearchBar/styles.module.css
  docs/static/fonts/general-sans-medium.woff2
  docs/static/fonts/general-sans-regular.woff2
  docs/static/fonts/general-sans-semibold.woff2
  docs/static/fonts/inter-400-latin-ext.woff2
  docs/static/fonts/inter-400.woff2
  docs/static/fonts/inter-600.woff2
Owners: @dagger/docs

docs: fix 403 at the root of the nginx dev server
  docs/nginx.conf
Owners: @dagger/docs

docs: remove defensive steps from Quickstart
  docs/current_docs/getting-started/quickstart.mdx
Owners: @dagger/docs

docs: move the config schema pages into Reference
  docs/current_docs/reference/config-files/dagger-toml.mdx
  docs/current_docs/reference/config-files/index.mdx
  docs/sidebars.ts
Owners: @dagger/docs

style(core): use ch receiver on ChangesetPaths method
  core/changeset.go
Owners: none

fix(core): exclude .git from merge-applied content
  core/changeset.go
Owners: none

core/llm: resolve model credentials per request
  core/llm.go
  core/llm_anthropic.go
  core/llm_auth_test.go
  core/llm_credential.go
  core/llm_credential_test.go
  core/llm_openai_codex.go
  core/llm_otel.go
  engine/client/secretprovider/env.go
  engine/client/secretprovider/env_test.go
  hack/designs/llm-oauth-token-lifecycle.md
  internal/cmd/dagger/llm_config.go
  internal/cmd/dagger/llm_config_test.go
  internal/cmd/dagger/llmconfig/config.go
  internal/cmd/dagger/llmconfig/config_test.go
  internal/cmd/dagger/llmconfig/oauth.go
  internal/cmd/dagger/llmconfig/oauth_openai.go
  internal/cmd/dagger/llmconfig/oauth_refresh_test.go
  internal/cmd/dagger/llmconfig/setup.go
  internal/cmd/dagger/main.go
Owners: none

core: wire files, directories, and workspaces between modules
  core/integration/testdata/services/container-provider/dagger.json
  core/integration/testdata/services/container-provider/main.go
  core/integration/testdata/services/service-ref-consumer/main.go
  core/integration/up_test.go
  core/modfunc.go
  core/schema/address.go
  docs/current_docs/config/module-wiring.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Address.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  hack/designs/module-wiring.md
  sdk/elixir/lib/dagger/gen/address.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Address.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

docs: remove the container runtime requirement
  docs/current_docs/getting-started/install.mdx
  docs/current_docs/getting-started/try-dagger.mdx
Owners: @dagger/docs

cli/llm: stop retrying invalid OAuth grants
  internal/cmd/dagger/llm_config.go
  internal/cmd/dagger/llm_config_test.go
  internal/cmd/dagger/llmconfig/config.go
  internal/cmd/dagger/llmconfig/oauth.go
  internal/cmd/dagger/llmconfig/oauth_openai.go
  internal/cmd/dagger/llmconfig/oauth_refresh_test.go
Owners: none

test(core): pin merge against stat-only phantoms
  core/integration/changeset_test.go
  core/integration/workspace_modules_test.go
Owners: none

docs: move Modules into a new Reference section
  docs/current_docs/config/module-wiring.mdx
  docs/current_docs/reference/modules/biomejs.mdx
  docs/current_docs/reference/modules/deno.mdx
  docs/current_docs/reference/modules/eslint.mdx
  docs/current_docs/reference/modules/go.mdx
  docs/current_docs/reference/modules/helm.mdx
  docs/current_docs/reference/modules/index.mdx
  docs/current_docs/reference/modules/jest.mdx
  docs/current_docs/reference/modules/playwright.mdx
  docs/current_docs/reference/modules/prettier.mdx
  docs/current_docs/reference/modules/psscriptanalyzer.mdx
  docs/current_docs/reference/modules/pytest.mdx
  docs/current_docs/reference/modules/shellcheck.mdx
  docs/current_docs/reference/modules/vitest.mdx
  docs/sidebars.ts
Owners: @dagger/docs

fix(core): Workspace.export writes to the current client only
  core/integration/testdata/modules/go/workspace-export-sandbox/dagger.json
  core/integration/testdata/modules/go/workspace-export-sandbox/main.go
  core/integration/workspace_api_test.go
  core/schema/workspace.go
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

docs: show one search bar, not two
  docs/src/css/custom.scss
Owners: @dagger/docs

chore: changelog for Workspace.export change
  .changes/unreleased/Changed-20260830-000000.yaml
Owners: none

fix quickstart URL to redirect it to latest target (#14019)
  docs/netlify.toml
Owners: @dagger/docs

docs: rename the CLI section to Using Dagger
  .dagger/modules/docs-dev/main.go
  dagger.toml
  docs/current_docs/getting-started/cloud-checks.mdx
  docs/current_docs/reference/cli/generate.go
  docs/current_docs/reference/cli/go.mod
  docs/current_docs/reference/cli/index.mdx
  docs/current_docs/reference/sdks/dang.mdx
  docs/current_docs/reference/sdks/elixir.mdx
  docs/current_docs/reference/sdks/go.mdx
  docs/current_docs/reference/sdks/index.mdx
  docs/current_docs/reference/sdks/java.mdx
  docs/current_docs/reference/sdks/php.mdx
  docs/current_docs/reference/sdks/python.mdx
  docs/current_docs/reference/sdks/typescript.mdx
  docs/current_docs/using/calling-functions.mdx
  docs/current_docs/using/checking.mdx
  docs/current_docs/using/generating.mdx
  docs/current_docs/using/services.mdx
  docs/sidebars.ts
  internal/cmd/dagger/docsgen/frontmatter.mdx
  internal/cmd/dagger/docsgen/main.go
Owners: @dagger/docs

revert(dagql): remove NotReplayable recipe handling (#14030)
  core/integration/cross_session_test.go
  core/integration/llm_resume_test.go
  core/integration/testdata/services/workspace-container-provider/main.dang
  core/llm.go
  core/schema/host.go
  core/schema/workspace.go
  dagql/dagql_test.go
  dagql/objects.go
  dagql/server.go
  internal-docs/recipe_replay.md
Owners: none

docs: add redirects for the Reference section restructure
  docs/netlify.toml
Owners: @dagger/docs

docs: add a placeholder Self-hosting section
  docs/current_docs/self-hosting/index.mdx
  docs/sidebars.ts
Owners: @dagger/docs

docs: rename Configuration to Configuring your Workspace
  docs/current_docs/config/index.mdx
  docs/sidebars.ts
Owners: @dagger/docs

docs: note that the docs tooling hardcodes page paths
  docs/TODO.md
Owners: @dagger/docs

docs: style Self-hosting as a section label
  docs/sidebars.ts
  docs/src/css/custom.scss
Owners: @dagger/docs

fix(engine): keep same-source workspace modules under each configured name (#14017)
  .changes/unreleased/Fixed-20260901-114500.yaml
  core/integration/module_loading_test.go
  core/integration/testdata/modules/dang/settings-check/dagger.json
  core/integration/testdata/modules/dang/settings-check/main.dang
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

core: make @agent functions addressable
  core/integration/workspace_addresses_test.go
  core/modtree.go
  core/module.go
  core/schema/address.go
  core/schema/agents.go
  core/schema/workspace.go
  core/workspace_context.go
Owners: none

core: list addresses by interface
  core/integration/workspace_addresses_test.go
  core/schema/workspace.go
  core/workspace_module.go
Owners: none

core: move address listing onto Module
  core/modtree.go
  core/module.go
  core/schema/address.go
  core/schema/workspace.go
  core/workspace_module.go
Owners: none

docs: add WorkspaceAddress to the 1.0-beta snapshot
  docs/versioned_docs/version-1.0-beta/api/reference/workspace-address.mdx
  docs/versioned_docs/version-1.0-beta/api/reference/workspace-git.mdx
  docs/versioned_docs/version-1.0-beta/api/reference/workspace-migration-step.mdx
  docs/versioned_docs/version-1.0-beta/api/reference/workspace-migration.mdx
  docs/versioned_docs/version-1.0-beta/api/reference/workspace-module.mdx
  docs/versioned_docs/version-1.0-beta/api/reference/workspace-sdk.mdx
  docs/versioned_sidebars/version-1.0-beta-sidebars.json
Owners: @dagger/docs

core: filter addresses by type and directive lists
  core/integration/module_helpers_test.go
  core/integration/workspace_addresses_test.go
  core/schema/workspace.go
  core/typedef.go
  core/typedef_test.go
  core/workspace_module.go
Owners: none
