Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

core/integration: cover workspace module-loading narrowing
  core/integration/generators_test.go
  core/integration/testdata/workspaces/call-narrowing/.dagger/modules/bad/dagger-module.toml
  core/integration/testdata/workspaces/call-narrowing/.dagger/modules/bad/main.dang
  core/integration/testdata/workspaces/call-narrowing/.dagger/modules/entry/dagger-module.toml
  core/integration/testdata/workspaces/call-narrowing/.dagger/modules/entry/main.dang
  core/integration/testdata/workspaces/call-narrowing/.dagger/modules/goodMod/dagger-module.toml
  core/integration/testdata/workspaces/call-narrowing/.dagger/modules/goodMod/main.dang
  core/integration/testdata/workspaces/call-narrowing/dagger.toml
  core/integration/testdata/workspaces/generators-broken/.dagger/modules/bad/dagger-module.toml
  core/integration/testdata/workspaces/generators-broken/.dagger/modules/bad/main.dang
  core/integration/testdata/workspaces/generators-broken/.dagger/modules/good/dagger-module.toml
  core/integration/testdata/workspaces/generators-broken/.dagger/modules/good/main.dang
  core/integration/testdata/workspaces/generators-broken/dagger.toml
Owners: none

chore: generate
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/WorkspaceModule.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/workspace_module.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/WorkspaceModule.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

Remove SDK-managed module dirs on uninstall
  core/integration/workspace_modules_test.go
  core/schema/workspace_uninstall.go
Owners: none

fix(workspace): remove SDK-managed modules on `dagger uninstall` (#13544)
  core/integration/workspace_modules_test.go
  core/schema/workspace_uninstall.go
Owners: none

test(workspace): cover SDK-managed generate from nested cwd
  core/integration/workspace_modules_test.go
Owners: none

test(workspace): cover SDK-managed generate from nested cwd
  core/integration/workspace_modules_test.go
Owners: none

fix quickstart docs for latest v1 beta 5 release
  docs/current_docs/getting-started/quickstart.mdx
Owners: @dagger/docs

fix quickstart docs for latest v1 beta 5 release
  docs/current_docs/getting-started/quickstart.mdx
Owners: @dagger/docs

cmd/dagger: scope typedefs introspection to the targeted module
  internal/cmd/dagger/call.go
  internal/cmd/dagger/function_name_test.go
  internal/cmd/dagger/functions.go
  internal/cmd/dagger/module_inspect.go
  internal/cmd/dagger/typedefs.graphql
Owners: none

hack/designs: demand-driven workspace module loading design
  hack/designs/demand-driven-module-loading.md
Owners: none

chore: generate
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Client.html
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Client.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

core/integration: cover workspace module-loading narrowing
  core/integration/generators_test.go
  core/integration/testdata/workspaces/call-narrowing/.dagger/modules/bad/dagger-module.toml
  core/integration/testdata/workspaces/call-narrowing/.dagger/modules/bad/main.dang
  core/integration/testdata/workspaces/call-narrowing/.dagger/modules/entry/dagger-module.toml
  core/integration/testdata/workspaces/call-narrowing/.dagger/modules/entry/main.dang
  core/integration/testdata/workspaces/call-narrowing/.dagger/modules/goodMod/dagger-module.toml
  core/integration/testdata/workspaces/call-narrowing/.dagger/modules/goodMod/main.dang
  core/integration/testdata/workspaces/call-narrowing/dagger.toml
  core/integration/testdata/workspaces/generators-broken/.dagger/modules/bad/dagger-module.toml
  core/integration/testdata/workspaces/generators-broken/.dagger/modules/bad/main.dang
  core/integration/testdata/workspaces/generators-broken/.dagger/modules/good/dagger-module.toml
  core/integration/testdata/workspaces/generators-broken/.dagger/modules/good/main.dang
  core/integration/testdata/workspaces/generators-broken/dagger.toml
Owners: none

engine/server: load workspace modules on demand, additively
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

core/schema: load workspace modules on demand from resolvers
  core/query.go
  core/schema/module.go
  core/schema/test_server_test.go
  core/schema/workspace.go
  core/telemetry_test.go
Owners: none

feat(typescript): carry generated bindings as a directory
  sdk/typescript/runtime/introspector.go
  sdk/typescript/runtime/lib_generator.go
  sdk/typescript/runtime/main.go
  sdk/typescript/runtime/runtime_bun.go
  sdk/typescript/runtime/runtime_deno.go
  sdk/typescript/runtime/runtime_node.go
  sdk/typescript/src/module/entrypoint/introspection_entrypoint.ts
  sdk/typescript/src/module/introspector/dagger_module/module.ts
  sdk/typescript/src/module/introspector/typescript_module/ast.ts
Owners: @dagger/sdk-typescript

feat(typescript): generate each dependency in its own file
  cmd/codegen/generator/typescript/dep_split_test.go
  cmd/codegen/generator/typescript/generator.go
  cmd/codegen/generator/typescript/templates/functions.go
  cmd/codegen/generator/typescript/templates/src/_augmentations.ts.gtpl
  cmd/codegen/generator/typescript/templates/src/_dep.ts.gtpl
  cmd/codegen/generator/typescript/templates/src/_method_body.ts.gtpl
  cmd/codegen/generator/typescript/templates/src/_method_solve_body.ts.gtpl
  cmd/codegen/generator/typescript/templates/src/api.ts.gtpl
  cmd/codegen/generator/typescript/templates/src/header.ts.gtpl
  cmd/codegen/generator/typescript/templates/src/helper_test.go
  cmd/codegen/generator/typescript/templates/src/method.ts.gtpl
  cmd/codegen/generator/typescript/templates/src/method_solve.ts.gtpl
  cmd/codegen/generator/typescript/templates/src/object_test.go
  cmd/codegen/generator/typescript/templates/templates.go
  core/integration/module_helpers_test.go
  core/integration/module_source_maps_test.go
  sdk/typescript/runtime/tsutils/client/index.ts
  sdk/typescript/runtime/tsutils/module/core.d.ts
  sdk/typescript/src/api/client.gen.ts
  sdk/typescript/src/common/context.ts
  sdk/typescript/src/index.ts
Owners: @dagger/sdk-typescript

fix(typescript): wire core values across split dependency files
  cmd/codegen/generator/typescript/dep_split_test.go
  cmd/codegen/generator/typescript/generator.go
  cmd/codegen/generator/typescript/templates/functions.go
  cmd/codegen/generator/typescript/templates/src/_augmentations.ts.gtpl
  cmd/codegen/generator/typescript/templates/src/_dep.ts.gtpl
  cmd/codegen/generator/typescript/templates/src/header.ts.gtpl
  cmd/codegen/generator/typescript/templates/src/testdata/type_test_enum_value_deprecated_want.ts
  cmd/codegen/generator/typescript/templates/src/testdata/type_test_enum_with_directive_want.ts
  cmd/codegen/generator/typescript/templates/src/testdata/type_test_enum_without_directive_want.ts
  cmd/codegen/generator/typescript/templates/src/types.ts.gtpl
  sdk/typescript/runtime/main.go
  sdk/typescript/src/api/client.gen.ts
  sdk/typescript/src/module/entrypoint/introspection_entrypoint.ts
  sdk/typescript/src/module/introspector/dagger_module/module.ts
  sdk/typescript/src/module/introspector/index.ts
  sdk/typescript/src/module/introspector/typescript_module/ast.ts
Owners: @dagger/sdk-typescript

fix(engine): decouple active-clients API from session lifecycle locks (#13542)
  engine/server/server.go
  engine/server/session.go
  engine/server/session_test.go
Owners: none

sdk: regenerate clients for TOML support
  cmd/codegen/generator/go/templates/lint_name.go
  docs/current_docs/extending/types/toml-value.mdx
  docs/current_docs/extending/types/type-def.mdx
  docs/current_docs/extending/types/up-group.mdx
  docs/current_docs/extending/types/workspace-git.mdx
  docs/current_docs/extending/types/workspace-migration-step.mdx
  docs/current_docs/extending/types/workspace-migration.mdx
  docs/current_docs/extending/types/workspace-module-setting.mdx
  docs/current_docs/extending/types/workspace-module.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger.html
  docs/static/reference/php/Dagger/Binding.html
  docs/static/reference/php/Dagger/Client.html
  docs/static/reference/php/Dagger/Env.html
  docs/static/reference/php/Dagger/TOML.html
  docs/static/reference/php/Dagger/TOMLValue.html
  docs/static/reference/php/classes.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  docs/static/reference/php/doctum.js
  docs/static/reference/php/traits.html
  sdk/elixir/lib/dagger/gen/binding.ex
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/elixir/lib/dagger/gen/env.ex
  sdk/elixir/lib/dagger/gen/file.ex
  sdk/elixir/lib/dagger/gen/toml.ex
  sdk/elixir/lib/dagger/gen/toml_value.ex
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/php/generated/Binding.php
  sdk/php/generated/Client.php
  sdk/php/generated/Env.php
  sdk/php/generated/File.php
  sdk/php/generated/TOML.php
  sdk/php/generated/TOMLValue.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

engine: add TOML value type and File.asTOML
  .changes/unreleased/Added-20260605-094408.yaml
  core/file.go
  core/ids.go
  core/integration/tomlvalue_test.go
  core/schema/coremod.go
  core/schema/file.go
  core/schema/query.go
  core/schema/tomlvalue.go
  core/schema/tomlvalue_test.go
  core/toml.go
  core/tomlpath/tomlpath.go
  core/tomlpath/tomlpath_test.go
  core/tomlvalue.go
  core/workspace/config_document.go
Owners: none

fix(sdk/php): exclude vendor/ from generated changeset
  sdk/php/runtime/main.go
Owners: @dagger/sdk-php

experimental service.publish to expose ports to host from any service
  .changes/unreleased/Added-20260620-000305.yaml
  core/container_exec.go
  core/integration/services_test.go
  core/integration/testdata/modules/go/service-publish/dagger.json
  core/integration/testdata/modules/go/service-publish/main.go
  core/schema/service.go
  core/schema/service_test.go
  core/sdk/dang/shared/shared.go
  core/service.go
  docs/current_docs/reference/cli/index.mdx
  docs/current_docs/using-dagger/services.mdx
  docs/docs-graphql/schema.graphqls
  engine/client/client.go
  engine/opts.go
  engine/server/session.go
  engine/server/session_test.go
  internal/cmd/dagger/engine.go
  internal/cmd/dagger/module.go
  internal/cmd/dagger/session.go
  internal/cmd/dagger/session_test.go
  sdk/go/client.go
  sdk/go/engineconn/engineconn.go
  sdk/go/engineconn/session.go
  sdk/go/engineconn/session_test.go
Owners: @dagger/docs, @dagger/sdk-go

add cached status to end call engine log
  core/telemetry.go
Owners: none

add cached status to end call engine log (#13551)
  core/telemetry.go
Owners: none

hack/designs: demand-driven workspace module loading
  hack/designs/demand-driven-module-loading.md
Owners: none

core/integration: cover workspace generate/check/up loading narrowing
  core/integration/generators_test.go
  core/integration/testdata/workspaces/generators-broken/.dagger/modules/bad/dagger-module.toml
  core/integration/testdata/workspaces/generators-broken/.dagger/modules/bad/main.dang
  core/integration/testdata/workspaces/generators-broken/.dagger/modules/good/dagger-module.toml
  core/integration/testdata/workspaces/generators-broken/.dagger/modules/good/main.dang
  core/integration/testdata/workspaces/generators-broken/dagger.toml
Owners: none

core/schema: load workspace selector modules on demand
  core/query.go
  core/schema/test_server_test.go
  core/schema/workspace.go
  core/telemetry_test.go
Owners: none

engine/server: load workspace modules on demand, additively
  dagql/request_peek.go
  dagql/request_peek_test.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

feat(typescript): generate dependencies in their own files (#13509)
  cmd/codegen/generator/typescript/dep_split_test.go
  cmd/codegen/generator/typescript/generator.go
  cmd/codegen/generator/typescript/templates/functions.go
  cmd/codegen/generator/typescript/templates/src/_augmentations.ts.gtpl
  cmd/codegen/generator/typescript/templates/src/_dep.ts.gtpl
  cmd/codegen/generator/typescript/templates/src/_method_body.ts.gtpl
  cmd/codegen/generator/typescript/templates/src/_method_solve_body.ts.gtpl
  cmd/codegen/generator/typescript/templates/src/api.ts.gtpl
  cmd/codegen/generator/typescript/templates/src/header.ts.gtpl
  cmd/codegen/generator/typescript/templates/src/helper_test.go
  cmd/codegen/generator/typescript/templates/src/method.ts.gtpl
  cmd/codegen/generator/typescript/templates/src/method_solve.ts.gtpl
  cmd/codegen/generator/typescript/templates/src/object_test.go
  cmd/codegen/generator/typescript/templates/src/testdata/type_test_enum_value_deprecated_want.ts
  cmd/codegen/generator/typescript/templates/src/testdata/type_test_enum_with_directive_want.ts
  cmd/codegen/generator/typescript/templates/src/testdata/type_test_enum_without_directive_want.ts
  cmd/codegen/generator/typescript/templates/src/types.ts.gtpl
  cmd/codegen/generator/typescript/templates/templates.go
  core/integration/module_helpers_test.go
  core/integration/module_source_maps_test.go
  sdk/typescript/runtime/introspector.go
  sdk/typescript/runtime/lib_generator.go
  sdk/typescript/runtime/main.go
  sdk/typescript/runtime/runtime_bun.go
  sdk/typescript/runtime/runtime_deno.go
  sdk/typescript/runtime/runtime_node.go
  sdk/typescript/runtime/tsutils/client/index.ts
  sdk/typescript/runtime/tsutils/module/core.d.ts
  sdk/typescript/src/api/client.gen.ts
  sdk/typescript/src/common/context.ts
  sdk/typescript/src/index.ts
  sdk/typescript/src/module/entrypoint/introspection_entrypoint.ts
  sdk/typescript/src/module/introspector/dagger_module/module.ts
  sdk/typescript/src/module/introspector/index.ts
  sdk/typescript/src/module/introspector/typescript_module/ast.ts
Owners: @dagger/sdk-typescript

fix(workspace): explain missing Git repository instead of "workspace not loaded"
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

make dagger check run checks locally
  core/integration/checks_test.go
  docs/current_docs/reference/cli/index.mdx
  future/done/simplify-dagger-check.md
  internal/cmd/dagger/checks.go
  internal/cmd/dagger/cloud_checks.go
  internal/cmd/dagger/cloud_checks_test.go
  internal/cmd/dagger/workspace.go
  internal/cmd/dagger/workspace_test.go
Owners: @dagger/docs

make dagger check run checks locally
  core/integration/checks_test.go
  docs/current_docs/reference/cli/index.mdx
  future/done/simplify-dagger-check.md
  internal/cmd/dagger/checks.go
  internal/cmd/dagger/cloud_checks.go
  internal/cmd/dagger/cloud_checks_test.go
  internal/cmd/dagger/workspace.go
  internal/cmd/dagger/workspace_test.go
Owners: @dagger/docs

docs: remove generated TypeScript SDK reference
  docs/.gitignore
  docs/docusaurus.config.ts
  docs/package.json
  docs/yarn.lock
Owners: @dagger/docs

docs: replace Algolia with client-side search
  docs/docusaurus.config.ts
  docs/package.json
  docs/plugins/local-search/index.js
  docs/src/css/custom.scss
  docs/src/theme/SearchBar/index.tsx
  docs/src/theme/SearchBar/styles.module.css
  docs/yarn.lock
Owners: @dagger/docs

docs: scope search results to the current version
  docs/plugins/local-search/index.js
  docs/src/theme/SearchBar/index.tsx
Owners: @dagger/docs

docs: close search palette on navigation
  docs/src/theme/SearchBar/index.tsx
Owners: @dagger/docs

docs: give the sidebar search a surface background
  docs/src/theme/SearchBar/styles.module.css
Owners: @dagger/docs

docs: clear the search query when the palette closes
  docs/src/theme/SearchBar/index.tsx
Owners: @dagger/docs

docs: replace Algolia with client-side search (#13563)
  docs/docusaurus.config.ts
  docs/package.json
  docs/plugins/local-search/index.js
  docs/src/css/custom.scss
  docs/src/theme/SearchBar/index.tsx
  docs/src/theme/SearchBar/styles.module.css
  docs/yarn.lock
Owners: @dagger/docs

docs: remove generated TypeScript SDK reference (#13561)
  docs/.gitignore
  docs/docusaurus.config.ts
  docs/package.json
  docs/yarn.lock
Owners: @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
