Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

CLI 1.0 phase 2a: dissolve function group, move call/list under api
  internal/cmd/dagger/api.go
  internal/cmd/dagger/call.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/module.go
  internal/cmd/dagger/workspace_test.go
Owners: none

core/schema: Workspace.moduleInit returns Changeset, accepts path
  core/schema/workspace.go
  core/schema/workspace_module_init.go
Owners: none

Restructure design doc: decision context + discrete changes
  future/cli-1.0.md
Owners: none

cli: fix dagger setup prompts and recommended-module install
  internal/cmd/dagger/engine.go
  internal/cmd/dagger/setup.go
Owners: none

CLI 1.0 post-review fixes: subprocess, prompt, init safety
  cmd/dagger/module_init.go
  cmd/dagger/module_sdk.go
  internal/cmd/dagger/cloud_client.go
  internal/cmd/dagger/recommend.go
  internal/cmd/dagger/setup.go
Owners: none

core/workspace: preserve empty AsSDK marker through clone + write
  core/workspace/config.go
  core/workspace/config_document.go
Owners: none

CLI 1.0 phase 4: cloud restructure (mutable integration + check)
  cmd/dagger/cloud_check.go
  future/cli-1.0.md
  internal/cmd/dagger/integration_cloud.go
  internal/cmd/dagger/workspace.go
  internal/cmd/dagger/workspace_test.go
Owners: none

cmd/dagger: use Workspace.clientGenerate directly instead of loadChangesetFromID
  internal/cmd/dagger/client.go
  internal/cmd/dagger/generators.go
Owners: none

docs: clarify SDK init capability routing
  future/cli-1.0.md
Owners: none

CLI 1.0 phase 2b (init MVP): dagger module init --sdk
  cmd/dagger/module_init.go
  cmd/dagger/module_init_test.go
  cmd/dagger/sdks.json
Owners: none

cmd/dagger: module sdk wrapper looks up the SDK in workspace config
  cmd/dagger/module_sdk.go
Owners: none

fix: resolve go:lint findings
  cmd/dagger/module_init.go
  cmd/dagger/module_sdk.go
  core/integration/workspace_selection_test.go
  core/schema/modulesource.go
  core/schema/workspace_module_init.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/mod.go
  internal/cmd/dagger/module_inspect.go
  internal/cmd/dagger/workspace.go
Owners: none

docs(cli-1.0): SDK group + initModule/initClient contract
  future/cli-1.0.md
Owners: none

cmd/dagger: rewrite module init as one engine call + changeset apply
  cmd/dagger/module_init.go
  cmd/dagger/module_init_test.go
  cmd/dagger/module_sdk.go
Owners: none

docs(cli-1.0): rewrite Discrete-changes section for accurate handoff state
  future/cli-1.0.md
Owners: none

cli, docs: workspace install name = canonical-ref basename, not alias
  future/cli-1.0.md
  internal/cmd/dagger/sdk.go
Owners: none

cmd/dagger: add workspace API client commands
  core/schema/workspace.go
  core/schema/workspace_client.go
  core/workspace/config.go
  core/workspace/sdks_roundtrip_test.go
  docs/current_docs/reference/cli/index.mdx
  future/cli-1.0.md
  internal/cmd/dagger/api.go
  internal/cmd/dagger/client.go
  internal/cmd/dagger/client_test.go
  internal/cmd/dagger/clientconf.graphql
  internal/cmd/dagger/generators.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/workspace_test.go
Owners: @dagger/docs

chore(cmd/dagger): relocate cli-1.0 files into internal package
  internal/cmd/dagger/cloud_check.go
  internal/cmd/dagger/module_init.go
  internal/cmd/dagger/module_init_test.go
  internal/cmd/dagger/module_sdk.go
  internal/cmd/dagger/module_sdk_test.go
  internal/cmd/dagger/sdks.json
Owners: none

cli, engine: `dagger sdk` top-level group
  core/schema/workspace.go
  core/schema/workspace_install.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/sdk.go
  internal/cmd/dagger/workspace_test.go
Owners: none

docs: mark `dagger sdk` group as shipped
  future/cli-1.0.md
Owners: none

CLI 1.0 post-review fixes (round 2): module sdk + engine config write
  cmd/dagger/module_sdk.go
  core/schema/modulesource.go
Owners: none

cli: register installed sdk init commands
  cmd/dagger/module_init.go
  future/cli-1.0.md
  internal/cmd/dagger/client.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/sdk_init_dynamic.go
  internal/cmd/dagger/sdk_init_dynamic_test.go
Owners: none

core/schema: thread targetRuntime resolution through moduleInit
  core/schema/workspace_module_init.go
Owners: none

fix: resolve markdown-lint findings in future/cli-1.0.md
  future/cli-1.0.md
Owners: none

docs(cli-1.0): note that 5-group --help rendering is not implemented
  future/cli-1.0.md
Owners: none

docs: sketch current module as SDK API
  future/current-module-as-sdk.md
Owners: none

cmd/dagger: wire 5-group rendering for `dagger --help`
  future/cli-1.0.md
  internal/cmd/dagger/main.go
Owners: none

chore: use `dagger check` instead of `dagger checks`
  toolchains/ci/bootstrap.dang
Owners: none

cli: populate sdk search registry
  cmd/dagger/module_init.go
  cmd/dagger/module_init_test.go
  cmd/dagger/sdks.json
  future/cli-1.0.md
  internal/cmd/dagger/sdk.go
Owners: none

Design: SDK module interface for dagger module init / sdk
  future/cli-1.0.md
Owners: none

cli: expose sdk init args as flags
  cmd/dagger/module_init.go
  core/modulesource.go
  core/schema/workspace_client.go
  core/schema/workspace_module_init.go
  core/schema/workspace_sdk_init.go
  core/sdk.go
  core/sdk/consts.go
  core/sdk/dang_sdk.go
  core/sdk/go_sdk.go
  core/sdk/module.go
  core/sdk/module_init.go
  future/cli-1.0.md
  internal/cmd/dagger/client.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/sdk.go
  internal/cmd/dagger/sdk_init_dynamic.go
  internal/cmd/dagger/sdk_init_dynamic_test.go
Owners: none

module init: resolve --path against workspace root, not CLI cwd
  cmd/dagger/module_init.go
Owners: none

docs + comments: catch up to the as-sdk pivot
  cmd/dagger/module_init.go
  cmd/dagger/module_sdk.go
  core/schema/workspace.go
  core/schema/workspace_module_init.go
  core/workspace/config_document.go
  future/cli-1.0.md
Owners: none

core/modules: add Pin to runtime, strip Config/Debug/Experimental from TOML
  core/modules/config.go
Owners: none

workspace: collapse [sdks.*] into [modules.*.as-sdk]
  cmd/dagger/module_sdk.go
  core/schema/workspace_module_init.go
  core/workspace/config.go
  core/workspace/config_document.go
  core/workspace/config_test.go
  core/workspace/migrate.go
  core/workspace/migrate_test.go
  core/workspace/sdks_roundtrip_test.go
Owners: none

Design: CLI 1.0 top-level command surface
  future/cli-1.0.md
Owners: none

docs, sdk: refresh CLI 1.0 generated artifacts
  cmd/dagger/module_init_test.go
  docs/current_docs/adopting/observability.mdx
  docs/current_docs/adopting/triggers/argo-workflows.mdx
  docs/current_docs/adopting/triggers/aws-codebuild.mdx
  docs/current_docs/adopting/triggers/azure-pipelines.mdx
  docs/current_docs/adopting/triggers/circleci.mdx
  docs/current_docs/adopting/triggers/github-actions.mdx
  docs/current_docs/adopting/triggers/gitlab.mdx
  docs/current_docs/adopting/triggers/index.mdx
  docs/current_docs/adopting/triggers/jenkins.mdx
  docs/current_docs/adopting/triggers/teamcity.mdx
  docs/current_docs/adopting/triggers/tekton.mdx
  docs/current_docs/adopting/workspace-setup.mdx
  docs/current_docs/getting-started/quickstart.mdx
  docs/current_docs/reference/cli/index.mdx
  docs/current_docs/reference/configuration/cache.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/dagger-module.schema.json
  docs/static/reference/dagger-workspace.schema.json
  docs/static/reference/dagger.schema.json
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  internal/cmd/dagger/call.go
  internal/cmd/dagger/workspace_test.go
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
  toolchains/php-sdk-dev/main.go
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

CLI 1.0 phase 3: workspace slim + introspection
  internal/cmd/dagger/config.go
  internal/cmd/dagger/env.go
  internal/cmd/dagger/installed.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/migrate.go
  internal/cmd/dagger/migrate_test.go
  internal/cmd/dagger/module.go
  internal/cmd/dagger/settings.go
  internal/cmd/dagger/workspace.go
  internal/cmd/dagger/workspace_test.go
Owners: none

core/workspace: add [sdks.*] config schema with array-of-tables shape
  core/workspace/config.go
  core/workspace/config_document.go
  core/workspace/sdks_roundtrip_test.go
Owners: none

docs(cli-1.0): dagger api exec + initModule/initClient capability semantics
  future/cli-1.0.md
Owners: none
