Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

fixme: rebase schemamodulesource on egraph
  core/schema/modulesource.go
Owners: none

remove redundant if condition
  engine/client/client.go
Owners: none

core: clarify workspace settings comments
  core/module.go
Owners: none

test: restore compat env default coverage
  core/integration/workspace_compat_env_test.go
Owners: none

docs: make workspace notes render cleanly
  e2e/installers/README.md
  hack/designs/lockfile.md
  hack/designs/workspace-docs-rewrite.md
  hack/designs/workspace-migration.md
  hack/designs/workspace.md
  skills/tui-qa/SKILL.md
Owners: none

chore: re-add fixme
  core/integration/workspace_compat_env_test.go
Owners: none

core: remove user default console logging
  core/modfunc.go
Owners: none

test: cover defaultPath across sessions
  core/integration/client_generator_test.go
  core/integration/cross_session_test.go
  core/integration/workspace_test.go
Owners: none

chore: remove unused lock export wrapper
  core/schema/lockfile.go
Owners: none

engine: align workspace session module loading
  engine/server/session.go
  engine/server/session_test.go
Owners: none

docs: fix 51 dead redirect targets and add 45 missing redirects
  docs/current_docs/extending/testing.mdx
  docs/netlify.toml
Owners: @dagger/docs

chore: fix rebase small regression
  engine/server/session_workspaces.go
Owners: none

wip
  cmd/codegen/generator/go/generate_module.go
  core/integration/module_test.go
Owners: none

chore: other things forgotten
  core/integration/workspace_test.go
Owners: none

wip
  cmd/codegen/generator/go/generate_module.go
  core/integration/module_test.go
Owners: none

add stderr when git credentials fill command fails (#13048)
  engine/session/git/git_credential.go
Owners: none

bump dang for @expectedType support
  go.mod
  go.sum
Owners: none

fix: builtin dang dependency module loading (#13007)
  core/integration/module_builtin_dang_test.go
  engine/server/session.go
  engine/server/session_test.go
Owners: none

e2e: compare installer platforms canonically
  e2e/installers/go.mod
  e2e/installers/go.sum
  e2e/installers/installers_test.go
Owners: none

wip
  cmd/codegen/generator/go/generate_module.go
  core/sdk.go
  core/sdk/go_sdk.go
Owners: none

e2e: compare installer platforms canonically (#13042)
  e2e/installers/go.mod
  e2e/installers/go.sum
  e2e/installers/installers_test.go
Owners: none

Add hidden global workspace flag
  cmd/dagger/engine.go
  cmd/dagger/main.go
  cmd/dagger/session.go
  cmd/dagger/session_test.go
  core/integration/workspace_dash_w_test.go
  scratch/dash-W-plan.md
Owners: none

chore: keep --workspace as a real global flag
  cmd/dagger/functions.go
  cmd/dagger/functions_test.go
Owners: none

remove scratch implementation plan
  scratch/dash-W-plan.md
Owners: none

try again
  core/integration/module_test.go
  core/sdk/go_sdk.go
Owners: none

wip
  core/integration/module_test.go
Owners: none

bump pytest to a version using builtin dang
  core/integration/toolchain_test.go
Owners: none

wip
  core/integration/module_test.go
  core/sdk/go_sdk.go
Owners: none

wwwwwwwwwwwwwwwwwwwwip
  core/integration/module_test.go
Owners: none

again!
  core/integration/module_test.go
Owners: none

feat(sdk/elixir): implement self call support
  core/integration/module_elixir_test.go
  core/integration/testdata/modules/elixir/self-calls/dagger.json
  core/integration/testdata/modules/elixir/self-calls/lib/self_calls.ex
  core/integration/testdata/modules/elixir/self-calls/mix.exs
  core/integration/testdata/modules/elixir/self-calls/mix.lock
  sdk/elixir/.changes/unreleased/Added-20260411-162310.yaml
  sdk/elixir/lib/dagger/mod.ex
  sdk/elixir/lib/mix/tasks/dagger.entrypoint.invoke.ex
  sdk/elixir/runtime/main.go
Owners: @dagger/sdk-elixir

core: add workspace cwd API
  core/integration/contextual_workspace_test.go
  core/integration/workspace_cwd_test.go
  core/schema/workspace.go
  core/schema/workspace_config.go
  core/schema/workspace_install.go
  core/workspace.go
  core/workspace/detect.go
  core/workspace/detect_test.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  engine/server/session_test.go
  engine/server/session_workspaces.go
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
Owners: @dagger/docs, @dagger/sdk-go

core: resolve Workspace file APIs from workspace root
  core/integration/workspace_test.go
  core/schema/workspace.go
  core/workspace.go
  core/workspace/detect.go
  core/workspace/detect_test.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

bump dang for race fix
  go.mod
  go.sum
Owners: none

tidy
  modules/doug/evals/go.mod
  modules/doug/evals/go.sum
  modules/evals/go.mod
  modules/evals/go.sum
Owners: none

use built-in dang sdk everywhere
  cmd/codegen/dagger.json
  core/integration/module_test.go
  toolchains/ci/dagger.json
  toolchains/dotnet-sdk-dev/dagger.json
  toolchains/elixir-sdk-dev/dagger.json
  toolchains/go-sdk-dev/dagger.json
  toolchains/java-sdk-dev/dagger.json
  toolchains/security/dagger.json
  toolchains/test-split/dagger.json
  toolchains/typescript-sdk-dev/dagger.json
Owners: none

migrate to otelgotest
  .dagger/go.mod
  .dagger/go.sum
  cmd/dagger/suite_test.go
  core/integration/sequential_test.go
  core/integration/suite_test.go
  dagql/idtui/golden_test.go
  go.mod
  go.sum
  toolchains/all-sdks/go.mod
  toolchains/all-sdks/go.sum
  toolchains/cli-dev/go.mod
  toolchains/cli-dev/go.sum
  toolchains/engine-dev/go.mod
  toolchains/engine-dev/go.sum
  toolchains/engine-dev/test.go
  toolchains/go/go.mod
  toolchains/go/go.sum
  toolchains/release/go.mod
  toolchains/release/go.sum
Owners: none

bump otelgotest to fix slashy nesting
  go.mod
  go.sum
  toolchains/cli-dev/go.mod
  toolchains/cli-dev/go.sum
  toolchains/engine-dev/go.mod
  toolchains/engine-dev/go.sum
  toolchains/go/go.mod
  toolchains/go/go.sum
  toolchains/release/go.mod
  toolchains/release/go.sum
Owners: none

tests: don't set reveal
  internal/testutil/middleware.go
Owners: none

core: add workspace cwd API
  core/integration/contextual_workspace_test.go
  core/integration/workspace_cwd_test.go
  core/schema/workspace.go
  core/schema/workspace_config.go
  core/schema/workspace_install.go
  core/workspace.go
  core/workspace/detect.go
  core/workspace/detect_test.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  engine/server/session_test.go
  engine/server/session_workspaces.go
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
Owners: @dagger/docs, @dagger/sdk-go
