Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

remove redundant if condition
  engine/client/client.go
Owners: none

test: support dang source files in module helpers
  core/integration/module_helpers_test.go
Owners: none

core: move workspace settings discovery into engine
  cmd/dagger/settings.go
  cmd/dagger/settings_test.go
  core/schema/workspace.go
  core/schema/workspace_module.go
  core/workspace_module.go
Owners: none

docs: remove Daggerverse references
  docs/current_docs/adopting/workspace-setup.mdx
  docs/current_docs/extending/editions/dang.mdx
  docs/current_docs/extending/index.mdx
  docs/current_docs/extending/testing.mdx
  docs/current_docs/partials/_dagger_module_init.mdx
Owners: @dagger/docs

Lazy-load workspace modules for single-query commands
  cmd/dagger/query.go
  core/integration/workspace_test.go
  dagql/request_peek.go
  dagql/request_peek_test.go
  engine/client/client.go
  engine/opts.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

core: return workspace modules as object results
  core/schema/workspace.go
  core/schema/workspace_list.go
Owners: none

chore: other things forgotten
  core/integration/workspace_test.go
Owners: none

test: align compat fixtures with workspace roots
  core/integration/module_config_compat_test.go
  core/integration/workspace_compat_test.go
Owners: none

migrate: keep migration summary visible
  cmd/dagger/migrate.go
  core/schema/workspace_migrate.go
Owners: none

docs: make workspace notes render cleanly
  hack/designs/workspace-docs-rewrite.md
  hack/designs/workspace-migration.md
  hack/designs/workspace.md
  skills/tui-qa/SKILL.md
Owners: none

core: add workspace cwd API
  core/integration/contextual_workspace_test.go
  core/integration/workspace_cwd_test.go
  core/schema/workspace.go
  core/schema/workspace_config.go
  core/schema/workspace_install.go
  core/workspace.go
  core/workspace/detect.go
  core/workspace/detect_test.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

chore: fix rebase small regression
  engine/server/session_workspaces.go
Owners: none

docs: add workspace location model
  workspace-location-model.md
Owners: none

test: fill contextual workspace FIXME coverage
  core/integration/contextual_workspace_test.go
  core/integration/workspace_api_test.go
  core/modfunc.go
  engine/server/session_workspaces.go
Owners: none

test: fill workspace migration FIXME coverage
  cmd/dagger/migrate.go
  core/integration/workspace_migration_test.go
  core/schema/workspace_migrate.go
Owners: none

workspace: make CWD module loading a fallback
  core/integration/module_loading_test.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

core: clarify workspace settings comments
  core/module.go
Owners: none

test: make standalone module init explicit
  core/integration/workspace_modules_test.go
Owners: none

test: build workspace hint TypeDefs like runtime values
  core/schema/workspace_settings_hints_test.go
Owners: none

Remove stale toolchain integration suite
  core/integration/toolchain_test.go
  core/integration/workspace_compat_test.go
  core/integration/workspace_test.go
Owners: none

Load CWD module without workspace root
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

workspace: allow empty config reads
  cmd/dagger/workspace.go
  core/integration/workspace_config_test.go
  core/schema/workspace_config.go
Owners: none

test: finish explicit module init fixture pass
  core/integration/module_loading_test.go
  core/integration/module_path_inputs_test.go
  core/integration/workspace_test.go
Owners: none

docs: fix 51 dead redirect targets and add 45 missing redirects
  docs/current_docs/extending/testing.mdx
  docs/netlify.toml
Owners: @dagger/docs

test: remove stale duplicate workspace session tests
  engine/server/session_test.go
Owners: none

Remove module init blueprint option
  cmd/dagger/module.go
  cmd/dagger/workspace.go
  core/integration/checks_test.go
  core/integration/generators_test.go
  core/integration/workspace_compat_test.go
  core/schema/workspace.go
  core/schema/workspace_module_init.go
  docs/current_docs/reference/cli/index.mdx
  docs/static/reference/php/Dagger/Workspace.html
  sdk/php/generated/Workspace.php
Owners: @dagger/docs, @dagger/sdk-php

test: remove stale workspace planning comments
  core/integration/contextual_workspace_test.go
  core/integration/module_loading_test.go
  core/integration/workspace_compat_test.go
  core/integration/workspace_config_test.go
  core/integration/workspace_migration_test.go
  core/integration/workspace_selection_test.go
Owners: none

docs: propose single-query workspace module loading
  single-query-workspace-module-loading.md
Owners: none

chore: remove unused lock export wrapper
  core/schema/lockfile.go
Owners: none

test: fill workspace config FIXME coverage
  core/integration/workspace_config_test.go
  core/workspace/config.go
  core/workspace/config_test.go
Owners: none

cmd: suppress compat workspace warning during migrate
  cmd/dagger/migrate.go
  core/integration/workspace_compat_test.go
  engine/client/client.go
  engine/opts.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

core: remove user default console logging
  core/modfunc.go
Owners: none

Remove dagger workspace list
  cmd/dagger/config.go
  cmd/dagger/workspace.go
  cmd/dagger/workspace_test.go
  core/integration/workspace_modules_test.go
  core/integration/workspace_selection_test.go
  docs/current_docs/reference/cli/index.mdx
  hack/designs/workspace-selection.md
  hack/designs/workspace.md
Owners: @dagger/docs

test: fix CLI syntax in workspace selection fixtures
  core/integration/workspace_selection_test.go
Owners: none

feat: default lock mode to pinned
  docs/current_docs/reference/cli/index.mdx
  docs/current_docs/reference/cli/lockfiles.mdx
  hack/designs/lockfile.md
  hack/designs/workspace.md
Owners: @dagger/docs

test: fill workspace compat FIXME coverage
  core/integration/workspace_compat_test.go
Owners: none

workspace: read skip config through compat projection
  core/schema/workspace.go
  core/schema/workspace_test.go
  core/workspace/config.go
  core/workspace/config_test.go
Owners: none

docs: escape module init placeholder
  cmd/dagger/module.go
  docs/current_docs/reference/cli/index.mdx
Owners: @dagger/docs

docs: fix yarn lockfile
  docs/package-lock.json
  docs/yarn.lock
Owners: @dagger/docs

test: fill workspace env management coverage
  core/integration/workspace_env_management_test.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
