Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

core: key no-runtime-codegen off automaticGitignore, drop legacyCodegenAtRuntime
  core/integration/module_runtime_codegen_test.go
  core/modules/codegen_config_test.go
  core/modules/config.go
  core/schema/modulesource.go
  core/sdk/go_sdk.go
  docs/static/reference/dagger-module.schema.json
  docs/static/reference/dagger.schema.json
Owners: @dagger/docs

core: gate no-runtime-codegen on engine version compatibility
  core/integration/module_runtime_codegen_test.go
  core/sdk/go_sdk.go
Owners: none

regen: update generated bindings after merge
  modules/daggerverse/internal/dagger/go.gen.go
  modules/dev/internal/dagger/go.gen.go
  toolchains/cli-dev/internal/dagger/go.gen.go
  toolchains/cli-dev/internal/dagger/version.gen.go
  toolchains/docs-dev/internal/dagger/go.gen.go
  toolchains/engine-dev/internal/dagger/go.gen.go
  toolchains/engine-dev/internal/dagger/version.gen.go
  toolchains/release/internal/dagger/version.gen.go
Owners: none

fix: preserve withChanges parent layers
  core/directory.go
  core/integration/changeset_test.go
  util/layercopy/copy_linux_test.go
  util/layercopy/dest_linux.go
Owners: none

fix: mark overlay replacement dirs opaque
  core/integration/changeset_test.go
  core/integration/directory_test.go
  util/layercopy/copy_linux_test.go
  util/layercopy/dest_linux.go
Owners: none

test: reproduce withChanges layer flattening
  core/integration/container_test.go
Owners: none

refactor: split layercopy directory creation
  util/layercopy/dest_linux.go
Owners: none

test: make git depth test deterministic
  core/integration/git_test.go
Owners: none

ci: migrate dagger/go skip markers to module config
  .dagger-skip-go-generate
  core/integration/llmtest/.dagger-skip-go-lint
  core/integration/testdata/.dagger-skip-go-lint
  dagger.json
  dagql/idtui/viztest/.dagger-skip-go-lint
  dagql/idtui/viztest/broken-dep-sdk/.dagger-skip-go-lint
  dagql/idtui/viztest/broken-dep/.dagger-skip-go-lint
  docs/.dagger-skip-go-lint
  docs/.dagger-skip-go-test
  modules/evals/testdata/.dagger-skip-go-lint
  modules/evaluator/examples/.dagger-skip-go-lint
  sdk/go/.dagger-skip-go-test
  toolchains/docs-dev/docusaurus/dagger/.dagger-skip-go-lint
  toolchains/docs-dev/docusaurus/tests/.dagger-skip-go-lint
  toolchains/elixir-sdk-dev/is-semver/.dagger-skip-go-lint
  toolchains/python-sdk-dev/dockerd/.dagger-skip-go-lint
  toolchains/release/apko/.dagger-skip-go-lint
  toolchains/release/gh/.dagger-skip-go-lint
  toolchains/release/registry-config/.dagger-skip-go-lint
  toolchains/release/registry-config/tests/.dagger-skip-go-lint
  toolchains/release/testdata/.dagger-skip-go-lint
  toolchains/release/testdata/.dagger-skip-go-test
  toolchains/typescript-sdk-dev/is-semver/.dagger-skip-go-lint
Owners: @dagger/docs, @dagger/sdk-go

Add dagger setup command
  cmd/dagger/main.go
  cmd/dagger/setup.go
  cmd/dagger/setup_test.go
Owners: none

gc: prune local cache during disk pressure
  core/integration/localcache_test.go
  engine/server/gc.go
  engine/server/gc_test.go
  engine/server/server.go
Owners: none

Update mock publish check for workspaces
  core/integration/engine_persistence_test.go
  toolchains/release/publish_check.go
Owners: none

Assert release binary architectures
  toolchains/release/publish_check.go
Owners: none

ci: provide goreleaser key to release check
  .env.gha
  .github/workflows/checks.yml
  toolchains/release/publish_check.go
Owners: none

test: cover release publish against mock endpoints
  .goreleaser.nightly.yml
  .goreleaser.prerelease.yml
  .goreleaser.yml
  core/integration/engine_persistence_test.go
  modules/dev/internal/dagger/engine-dev.gen.go
  modules/metrics/internal/dagger/dagger-engine.gen.go
  toolchains/cli-dev/dagger.gen.go
  toolchains/cli-dev/publish.go
  toolchains/docs-dev/internal/dagger/dagger-cli.gen.go
  toolchains/docs-dev/internal/dagger/engine-dev.gen.go
  toolchains/engine-dev/dagger.gen.go
  toolchains/engine-dev/internal/dagger/dagger-cli.gen.go
  toolchains/engine-dev/main.go
  toolchains/php-sdk-dev/internal/dagger/dagger-engine.gen.go
  toolchains/python-sdk-dev/internal/dagger/dagger-engine.gen.go
  toolchains/release/helm.go
  toolchains/release/internal/dagger/cli-dev.gen.go
  toolchains/release/internal/dagger/engine-dev.gen.go
  toolchains/release/main.go
  toolchains/rust-sdk-dev/internal/dagger/dagger-engine.gen.go
Owners: none

remove unused GitHub release helpers
  toolchains/cli-dev/release_github.go
Owners: none

test: cover release publish with mock endpoints
  core/integration/engine_persistence_test.go
  toolchains/docs-dev/internal/dagger/engine-dev.gen.go
  toolchains/engine-dev/main.go
  toolchains/php-sdk-dev/internal/dagger/dagger-engine.gen.go
  toolchains/python-sdk-dev/internal/dagger/dagger-engine.gen.go
  toolchains/release/dagger.gen.go
  toolchains/release/internal/dagger/engine-dev.gen.go
  toolchains/release/publish_check.go
  toolchains/rust-sdk-dev/internal/dagger/dagger-engine.gen.go
Owners: none

Fix helm chart mock publish assertion
  toolchains/release/publish_check.go
Owners: none

Remove redundant GitHub release token
  toolchains/release/dagger.gen.go
  toolchains/release/main.go
  toolchains/release/publish_check.go
Owners: none

align cli release publishing metadata
  toolchains/cli-dev/release_github.go
  toolchains/cli-dev/release_s3.go
Owners: none

replace CLI release packaging scripts with Go
  toolchains/cli-dev/release_github.go
  toolchains/cli-dev/release_package_managers.go
Owners: none

stop nested engine in mock publish check
  toolchains/release/publish_check.go
Owners: none

Remove GoReleaser from CLI publishing
  .env.gha
  .github/workflows/publish.yml
  .goreleaser.common.yml
  .goreleaser.nightly.yml
  .goreleaser.prerelease.yml
  .goreleaser.yml
  e2e/helm/dagger/dagger-cli.gen.go
  toolchains/cli-dev/dagger.gen.go
  toolchains/cli-dev/main.go
  toolchains/cli-dev/publish.go
  toolchains/cli-dev/release_artifacts.go
  toolchains/cli-dev/release_github.go
  toolchains/cli-dev/release_s3.go
  toolchains/docs-dev/dagger.gen.go
  toolchains/docs-dev/internal/dagger/dagger-cli.gen.go
  toolchains/engine-dev/internal/dagger/dagger-cli.gen.go
  toolchains/release/dagger.gen.go
  toolchains/release/internal/dagger/cli-dev.gen.go
  toolchains/release/main.go
  toolchains/release/publish_check.go
Owners: none

ci: run mocked release publish in gha
  .github/workflows/checks.yml
  .github/workflows/publish.yml
  toolchains/release/publish_check.go
Owners: none

test: include rust and elixir in mocked release publish
  toolchains/all-sdks/internal/dagger/elixir-sdk-dev.gen.go
  toolchains/all-sdks/internal/dagger/rust-sdk-dev.gen.go
  toolchains/elixir-sdk-dev/elixir-sdk.dang
  toolchains/release/dagger.gen.go
  toolchains/release/internal/dagger/elixir-sdk-dev.gen.go
  toolchains/release/internal/dagger/rust-sdk-dev.gen.go
  toolchains/release/main.go
  toolchains/release/publish_check.go
  toolchains/rust-sdk-dev/dagger.gen.go
  toolchains/rust-sdk-dev/main.go
Owners: none

tighten mock release publish coverage
  toolchains/cli-dev/release_github.go
  toolchains/cli-dev/release_package_managers.go
  toolchains/release/publish_check.go
Owners: none

test: assert mock release publish artifacts
  toolchains/release/publish_check.go
Owners: none

test mock publish outputs more thoroughly
  toolchains/release/publish_check.go
Owners: none

test: assert goreleaser package manager details
  toolchains/release/publish_check.go
Owners: none

fix mock publish check assertions
  toolchains/cli-dev/publish.go
  toolchains/cli-dev/release_github.go
  toolchains/release/publish_check.go
Owners: none

fix npm mock publish assertion
  toolchains/release/publish_check.go
Owners: none

Regenerate Python SDK dev bindings
  toolchains/all-sdks/internal/dagger/python-sdk-dev.gen.go
  toolchains/release/internal/dagger/python-sdk-dev.gen.go
Owners: none

test: tighten release package manager assertions
  toolchains/release/publish_check.go
Owners: none

fix helm chart mock publish check
  toolchains/release/publish_check.go
Owners: none

fix: address release lint failures
  toolchains/docs-dev/main.go
  toolchains/release/main.go
  toolchains/release/publish_check.go
Owners: none

Use packaged git-filter-repo
  modules/git-releaser/main.go
Owners: none

Tighten mocked release publish check
  toolchains/cli-dev/dagger.gen.go
  toolchains/cli-dev/publish.go
  toolchains/release/bump.go
  toolchains/release/dagger.gen.go
  toolchains/release/helm.go
  toolchains/release/internal/dagger/cli-dev.gen.go
  toolchains/release/main.go
  toolchains/release/publish_check.go
Owners: none

refactor CLI release artifact packaging
  toolchains/cli-dev/release_artifacts.go
Owners: none

fix: update release publish generated files
  modules/dev/internal/dagger/engine-dev.gen.go
  modules/metrics/internal/dagger/dagger-engine.gen.go
  toolchains/cli-dev/publish.go
  toolchains/cli-dev/release_artifacts.go
  toolchains/release/gh/tests/internal/dagger/gh.gen.go
Owners: none

regenerate dagger runtime bindings
  toolchains/all-sdks/internal/dagger/rust-sdk-dev.gen.go
  toolchains/release/internal/dagger/rust-sdk-dev.gen.go
Owners: none
