Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

core: retain cache volume source results
  core/cache.go
  core/cache_test.go
  core/container_exec.go
  core/schema/cache.go
  core/schema/container.go
Owners: none

core: remove unused toolchain context source state
  core/modulesource.go
Owners: none

tidy
  go.sum
Owners: none

dagger mod subcommands for workspace and module development
  cmd/dagger/main.go
  cmd/dagger/mod.go
  cmd/dagger/mod_test.go
  cmd/dagger/module.go
  cmd/dagger/modules.json
  cmd/dagger/workspace.go
  core/integration/workspace_modules_test.go
  core/schema/workspace.go
  core/schema/workspace_uninstall.go
Owners: none

core: retain module SDK implementation dependencies
  core/modulesource.go
  core/modulesource_test.go
  core/sdk.go
  core/sdk/dang_sdk.go
  core/sdk/go_sdk.go
  core/sdk/module.go
  core/sdk/module_client_generator.go
  core/sdk/module_code_generator.go
  core/sdk/module_runtime.go
  core/sdk/module_test.go
  core/sdk/module_typedefs.go
Owners: none

engine: enable local debug listener for container engines
  engine/client/drivers/container.go
  engine/client/drivers/container_create_test.go
Owners: none

fix(go): avoid transitive upgrades during module generation
  cmd/codegen/generator/go/generate_module.go
  cmd/codegen/generator/go/generate_module_test.go
Owners: none

fix(core): apply COPY --chown ownership to newly-created parent dirs
  .changes/unreleased/Fixed-20260528-180000.yaml
  core/directory.go
Owners: none

fix LoadDirectoryFromID usage
  core/integration/testdata/modules/go/path-context-directory-as-module/main.go
Owners: none

fix interface source maps assertion
  core/integration/module_source_maps_test.go
Owners: none

test(integration): use legacy id fixtures
  core/integration/legacy_test.go
  core/integration/testdata/modules/go/legacy-load-from-id-compat/dagger.json
  core/integration/testdata/modules/go/legacy-load-from-id-compat/main.go
  core/integration/testdata/modules/python/legacy-load-from-id-compat/dagger.json
  core/integration/testdata/modules/python/legacy-load-from-id-compat/pyproject.toml
  core/integration/testdata/modules/python/legacy-load-from-id-compat/src/test/__init__.py
  core/integration/testdata/modules/typescript/legacy-load-from-id-compat/dagger.json
  core/integration/testdata/modules/typescript/legacy-load-from-id-compat/package.json
  core/integration/testdata/modules/typescript/legacy-load-from-id-compat/src/index.ts
  core/integration/testdata/modules/typescript/legacy-load-from-id-compat/tsconfig.json
Owners: none

chore: add changelog for inheritOwner
  .changes/unreleased/Added-20260528-142532.yaml
Owners: none

feat: add inheritOwner to container file APIs
  core/integration/container_test.go
  core/integration/ownership_test.go
  core/integration/socket_test.go
  core/schema/container.go
  sdk/elixir/lib/dagger/gen/container.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Container.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

chore(sdk/python): remove AST-based module analyzer
  sdk/python/pyproject.toml
  sdk/python/src/dagger/mod/_analyzer/__init__.py
  sdk/python/src/dagger/mod/_analyzer/analyze.py
  sdk/python/src/dagger/mod/_analyzer/errors.py
  sdk/python/src/dagger/mod/_analyzer/metadata.py
  sdk/python/src/dagger/mod/_analyzer/namespace.py
  sdk/python/src/dagger/mod/_analyzer/parser.py
  sdk/python/src/dagger/mod/_analyzer/registration.py
  sdk/python/src/dagger/mod/_analyzer/resolver.py
  sdk/python/src/dagger/mod/_analyzer/visitors/__init__.py
  sdk/python/src/dagger/mod/_analyzer/visitors/annotations.py
  sdk/python/src/dagger/mod/_analyzer/visitors/decorators.py
  sdk/python/src/dagger/mod/_discovery.py
  sdk/python/src/dagger/mod/_module.py
  sdk/python/src/dagger/mod/cli.py
  sdk/python/tests/mod/_differential.py
  sdk/python/tests/mod/_runtime_introspect.py
  sdk/python/tests/mod/_strategies.py
  sdk/python/tests/mod/conftest.py
  sdk/python/tests/mod/test_ast_analyzer.py
  sdk/python/tests/mod/test_daggerverse_corpus.py
  sdk/python/tests/mod/test_differential.py
  sdk/python/tests/mod/test_discovery.py
  sdk/python/tests/mod/test_property.py
  sdk/python/uv.lock
Owners: @dagger/sdk-python

use new updatedConfigDirectory api to update dagger.json without module loading
  cmd/dagger/mod.go
  cmd/dagger/mod_test.go
  cmd/dagger/workspace.go
  core/modules/config.go
  core/schema/modulesource.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

move deps add/rm to updatedConfigDirectory api
  cmd/dagger/mod.go
Owners: none

chore(sdk/python): remove AST-based module analyzer (#13251)
  sdk/python/pyproject.toml
  sdk/python/src/dagger/mod/_analyzer/__init__.py
  sdk/python/src/dagger/mod/_analyzer/analyze.py
  sdk/python/src/dagger/mod/_analyzer/errors.py
  sdk/python/src/dagger/mod/_analyzer/metadata.py
  sdk/python/src/dagger/mod/_analyzer/namespace.py
  sdk/python/src/dagger/mod/_analyzer/parser.py
  sdk/python/src/dagger/mod/_analyzer/registration.py
  sdk/python/src/dagger/mod/_analyzer/resolver.py
  sdk/python/src/dagger/mod/_analyzer/visitors/__init__.py
  sdk/python/src/dagger/mod/_analyzer/visitors/annotations.py
  sdk/python/src/dagger/mod/_analyzer/visitors/decorators.py
  sdk/python/src/dagger/mod/_discovery.py
  sdk/python/src/dagger/mod/_module.py
  sdk/python/src/dagger/mod/cli.py
  sdk/python/tests/mod/_differential.py
  sdk/python/tests/mod/_runtime_introspect.py
  sdk/python/tests/mod/_strategies.py
  sdk/python/tests/mod/conftest.py
  sdk/python/tests/mod/test_ast_analyzer.py
  sdk/python/tests/mod/test_daggerverse_corpus.py
  sdk/python/tests/mod/test_differential.py
  sdk/python/tests/mod/test_discovery.py
  sdk/python/tests/mod/test_property.py
  sdk/python/uv.lock
Owners: @dagger/sdk-python

fix: scope withRegistryAuth cache key per session
  core/integration/container_test.go
  core/schema/container.go
Owners: none

Set pinned as default lock mode
  cmd/dagger/main.go
  core/schema/lockfile_test.go
  core/workspace/lock.go
  core/workspace/lock_test.go
  docs/current_docs/reference/cli/index.mdx
  docs/current_docs/reference/cli/lockfiles.mdx
  engine/client/client.go
  engine/opts.go
Owners: @dagger/docs

fix: scope withRegistryAuth cache key per session (#13255)
  core/integration/container_test.go
  core/schema/container.go
Owners: none

core: global cache for 1Password secrets
  core/integration/secretprovider_test.go
  engine/client/secretprovider/op.go
Owners: none

fmt
  cmd/dagger/exec_nonunix.go
Owners: none

feat(dagql): legacy FooID/loadFooFromID via scalar views
  cmd/codegen/generator/go/templates/src/_types/legacy_interface.go.tmpl
  cmd/codegen/generator/go/templates/src/_types/object.go.tmpl
  cmd/codegen/generator/typescript/templates/src/object.ts.gtpl
  core/schema/coremod.go
  dagql/call_request_input.go
  dagql/objects.go
  dagql/server.go
  dagql/types.go
  sdk/python/codegen/src/codegen/generator.py
Owners: @dagger/sdk-python

test(codegen): drop legacy ID-facade template tests
  cmd/codegen/generator/go/templates/interface_surface_test.go
  cmd/codegen/generator/go/templates/legacy_interface_test.go
  cmd/codegen/generator/typescript/templates/src/object_test.go
Owners: none

feat(dagql): extend legacy ID surface to interfaces
  cmd/codegen/generator/go/templates/functions.go
  cmd/codegen/generator/go/templates/src/_types/interface.go.tmpl
  cmd/codegen/generator/go/templates/src/_types/legacy_interface.go.tmpl
  cmd/codegen/generator/go/templates/src/_types/object.go.tmpl
  cmd/codegen/generator/go/templates/src/_types/object_fields.go.tmpl
  cmd/codegen/generator/go/templates/src/_types/scalar.go.tmpl
  core/env.go
  core/schema/legacy_id.go
  dagql/dagql_test.go
  dagql/interfaces.go
  dagql/server.go
Owners: none

fix(codegen): format legacy id type names
  cmd/codegen/generator/go/templates/functions.go
  cmd/codegen/generator/go/templates/object_test.go
  cmd/codegen/introspection/filters.go
Owners: none

remove outdated python test
  sdk/python/tests/codegen/test_generator.py
Owners: @dagger/sdk-python

refactor(schema): install legacy FooID/loadFooFromID via InstallHook
  core/schema/coremod.go
  core/schema/legacy_id.go
Owners: none

test: document module export coverage
  core/integration/workspace_selection_test.go
Owners: none

test: cover module runtime directory export
  core/integration/workspace_selection_test.go
Owners: none

feat: expose legacy FooID/loadFooFromID via scalar views (#13253)
  cmd/codegen/generator/go/templates/functions.go
  cmd/codegen/generator/go/templates/interface_surface_test.go
  cmd/codegen/generator/go/templates/legacy_interface_test.go
  cmd/codegen/generator/go/templates/object_test.go
  cmd/codegen/generator/go/templates/src/_types/interface.go.tmpl
  cmd/codegen/generator/go/templates/src/_types/legacy_interface.go.tmpl
  cmd/codegen/generator/go/templates/src/_types/object.go.tmpl
  cmd/codegen/generator/go/templates/src/_types/object_fields.go.tmpl
  cmd/codegen/generator/go/templates/src/_types/scalar.go.tmpl
  cmd/codegen/generator/typescript/templates/src/object.ts.gtpl
  cmd/codegen/generator/typescript/templates/src/object_test.go
  cmd/codegen/introspection/filters.go
  cmd/dagger/exec_nonunix.go
  core/env.go
  core/schema/coremod.go
  core/schema/legacy_id.go
  dagql/call_request_input.go
  dagql/dagql_test.go
  dagql/interfaces.go
  dagql/objects.go
  dagql/server.go
  dagql/types.go
  sdk/python/codegen/src/codegen/generator.py
  sdk/python/tests/codegen/test_generator.py
Owners: @dagger/sdk-python

chore: fix agressive change here
  core/integration/module_up_test.go
Owners: none

test: restore compat env default coverage
  core/integration/workspace_compat_env_test.go
Owners: none

chore: re-add fixme
  core/integration/workspace_compat_env_test.go
Owners: none

cmd/dagger: scope final progress defaults per command
  cmd/dagger/call.go
  cmd/dagger/listen.go
  cmd/dagger/main.go
  cmd/dagger/progress_test.go
  cmd/dagger/run.go
  cmd/dagger/session.go
  cmd/dagger/shell.go
  cmd/dagger/trace.go
  cmd/dagger/up.go
Owners: none

Show workflow commands in CLI help
  cmd/dagger/checks.go
  cmd/dagger/generators.go
  cmd/dagger/up.go
  cmd/dagger/workspace_test.go
Owners: none

test: clarify selected workspace config target
  core/integration/workspace_selection_test.go
Owners: none

cmd: clarify workspace flag help
  cmd/dagger/main.go
  docs/current_docs/reference/cli/index.mdx
Owners: @dagger/docs

Fix module init help string build
  cmd/dagger/module.go
Owners: none

workspace: apply compat config fallback to services
  core/integration/workspace_compat_test.go
  core/schema/workspace.go
  core/schema/workspace_test.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
