Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

CLI 1.0 phase 1: hoist hot path, kill dagger mod
  docs/current_docs/adopting/scaling/kubernetes.mdx
  docs/current_docs/adopting/workspace-setup.mdx
  docs/current_docs/extending/index.mdx
  docs/current_docs/extending/sdks/dang.mdx
  docs/current_docs/extending/sdks/go.mdx
  docs/current_docs/extending/sdks/python.mdx
  docs/current_docs/extending/sdks/typescript.mdx
  docs/current_docs/getting-started/quickstart.mdx
  docs/current_docs/index.mdx
  docs/current_docs/modules/biomejs.mdx
  docs/current_docs/modules/eslint.mdx
  docs/current_docs/modules/go.mdx
  docs/current_docs/modules/helm.mdx
  docs/current_docs/modules/index.mdx
  docs/current_docs/modules/jest.mdx
  docs/current_docs/modules/prettier.mdx
  docs/current_docs/modules/psscriptanalyzer.mdx
  docs/current_docs/modules/pytest.mdx
  docs/current_docs/modules/shellcheck.mdx
  docs/current_docs/modules/vitest.mdx
  docs/current_docs/reference/cli/index.mdx
  docs/current_docs/reference/configuration/modules.mdx
  docs/current_docs/reference/configuration/workspace.mdx
  docs/current_docs/reference/upgrade-to-workspaces.mdx
  internal/cmd/dagger/checks.go
  internal/cmd/dagger/generators.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/mod.go
  internal/cmd/dagger/mod_test.go
  internal/cmd/dagger/module.go
  internal/cmd/dagger/settings.go
  internal/cmd/dagger/up.go
  internal/cmd/dagger/workspace.go
  internal/cmd/dagger/workspace_test.go
Owners: @dagger/docs

cmd/dagger: module sdk wrapper looks up the SDK in workspace config
  cmd/dagger/module_sdk.go
Owners: none

cmd/dagger: rewrite module init as one engine call + changeset apply
  cmd/dagger/module_init.go
  cmd/dagger/module_init_test.go
  cmd/dagger/module_sdk.go
Owners: none

test(core/integration): skip suites blocked on CLI 1.0 follow-ups
  core/integration/client_generator_test.go
  core/integration/module_source_maps_test.go
  core/integration/workspace_migration_test.go
Owners: none

cli: fix dagger setup prompts and recommended-module install
  internal/cmd/dagger/engine.go
  internal/cmd/dagger/setup.go
Owners: none

test(core/integration): track CLI 1.0 top-level command renames
  core/integration/cacert_test.go
  core/integration/gitcredential_test.go
  core/integration/legacy_test.go
  core/integration/mcp_test.go
  core/integration/module_helpers_test.go
  core/integration/module_java_test.go
  core/integration/module_loading_test.go
  core/integration/module_terminal_test.go
  core/integration/module_tui_test.go
  core/integration/module_up_test.go
  core/integration/workspace_compat_test.go
  core/integration/workspace_env_management_test.go
  core/integration/workspace_modules_test.go
Owners: none

docs: make generated CLI reference MDX-safe
  docs/current_docs/reference/cli/index.mdx
  internal/cmd/dagger/docsgen/main.go
Owners: @dagger/docs

core: validate latest-release lock pins
  core/integration/lockfile_test.go
  core/schema/container.go
  core/schema/lockfile_test.go
  sdk/go/dagger.gen.go
  sdk/python/src/dagger/client/gen.py
Owners: @dagger/sdk-go, @dagger/sdk-python

core: update bare refs as latest-release pins
  .changes/unreleased/13464-fixed-dagger-update-latest-release.yaml
  core/integration/lockfile_test.go
  core/lockfile_update.go
  core/release_tags.go
  core/release_tags_test.go
  core/schema/container.go
  core/schema/git.go
  engine/server/resolver/metadata_test.go
  engine/server/resolver/resolver.go
Owners: none

fix(sdk/java): escape angle brackets in generated javadoc
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/EnumVisitor.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/Helpers.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/InputVisitor.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/ScalarVisitor.java
Owners: @dagger/sdk-java

test: cover latest-release lock updates
  core/lockfile_update_test.go
  core/release_tags_test.go
  core/schema/lockfile_test.go
Owners: none

fix(sdk/java): escape angle brackets in generated javadoc (#13483)
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/EnumVisitor.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/Helpers.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/InputVisitor.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/ScalarVisitor.java
Owners: @dagger/sdk-java

fix(core/schema): gate unreleased workspace and module-source APIs
  core/schema/modulesource.go
  core/schema/workspace.go
Owners: none

test: update test-base suites for CLI 1.0 command changes
  core/integration/client_test.go
  core/integration/generators_test.go
  core/integration/workspace_test.go
  internal/cmd/dagger/cloud_test.go
Owners: none

test: update Dang JSON encoding calls
  core/integration/testdata/modules/dang/test-enum/main.dang
  core/integration/testdata/modules/dang/test-map-field/main.dang
  core/integration/testdata/modules/dang/test-scalar/main.dang
Owners: none

fix(workspace): use owner context for config file I/O
  core/schema/workspace_config.go
Owners: none

workspace: apply config ignores to filesystem access
  core/integration/testdata/workspaces/workspace-api/.dagger/modules/ignored-reader/dagger.json
  core/integration/testdata/workspaces/workspace-api/.dagger/modules/ignored-reader/main.dang
  core/integration/testdata/workspaces/workspace-api/dagger.toml
  core/integration/workspace_api_test.go
  core/schema/workspace.go
  core/schema/workspace_test.go
  core/workspace.go
  core/workspace_test.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

test(cli-1.0): fix test-base suites and gate unreleased APIs (#13487)
  core/integration/client_test.go
  core/integration/generators_test.go
  core/integration/workspace_test.go
  core/schema/modulesource.go
  core/schema/workspace.go
  internal/cmd/dagger/cloud_test.go
Owners: none

bump to Dang v2.1.0, with deprecated toJSON
  go.mod
  go.sum
Owners: none

bump to Dang v2.1.1 for constructor scope fix
  go.mod
  go.sum
Owners: none

bump dang (#13482)
  core/integration/testdata/modules/dang/test-enum/main.dang
  core/integration/testdata/modules/dang/test-map-field/main.dang
  core/integration/testdata/modules/dang/test-scalar/main.dang
  go.mod
  go.sum
Owners: none

fix(envfile): keep non-matching vars as hidden expansion context when namespacing
  core/dotenv/dotenv.go
  core/dotenv/dotenv_test.go
  core/envfile.go
Owners: none

test(core/integration): migrate remaining engine tests to CLI 1.0 verbs
  core/integration/engine_test.go
Owners: none

add dagger run hidden alias for dagger api exec
  core/integration/engine_test.go
  future/cli-1.0.md
  internal/cmd/dagger/api.go
  internal/cmd/dagger/run.go
  internal/cmd/dagger/workspace_test.go
Owners: none

fix(envfile): keep non-matching vars as hidden expansion context when… (#13490)
  core/dotenv/dotenv.go
  core/dotenv/dotenv_test.go
  core/envfile.go
Owners: none

test(core/integration): drop removed `dagger workspace init`
  core/integration/module_private_deps_test.go
Owners: none

add dagger run hidden alias for dagger api exec
  core/integration/engine_test.go
  future/cli-1.0.md
  internal/cmd/dagger/api.go
  internal/cmd/dagger/run.go
  internal/cmd/dagger/workspace_test.go
Owners: none

test(core/integration): migrate remaining engine tests to CLI 1.0 verbs
  core/integration/engine_test.go
Owners: none

test(core/integration): read migration report for compat assertions
  core/integration/workspace_compat_test.go
Owners: none

test(core/integration): track CLI 1.0 workspace command renames
  core/integration/workspace_config_test.go
  core/integration/workspace_modules_test.go
  core/integration/workspace_selection_test.go
  core/integration/workspace_settings_test.go
Owners: none

test(core/integration): skip compat migration suites blocked on migrate-via-setup
  core/integration/workspace_compat_test.go
Owners: none

fix(filesync): syncing a re-included file under a gitignored dir failed with `no such file or directory` (#13439)
  engine/filesync/localfs.go
  engine/filesync/localfs_test.go
Owners: none

bump dang (#13482)
  core/integration/testdata/modules/dang/test-enum/main.dang
  core/integration/testdata/modules/dang/test-map-field/main.dang
  core/integration/testdata/modules/dang/test-scalar/main.dang
  go.mod
  go.sum
Owners: none

fix(envfile): keep non-matching vars as hidden expansion context when… (#13490)
  core/dotenv/dotenv.go
  core/dotenv/dotenv_test.go
  core/envfile.go
Owners: none

chore: bump dependencies to v0.21.7
  core/sdk/go_sdk.go
  docs/current_docs/partials/version.js
  helm/dagger/Chart.yaml
  lib/dagger/core/version.ex
  sdk/go/engineconn/version.gen.go
  sdk/java/dagger-codegen-maven-plugin/pom.xml
  sdk/java/dagger-java-annotation-processor/pom.xml
  sdk/java/dagger-java-samples/pom.xml
  sdk/java/dagger-java-sdk/pom.xml
  sdk/java/pom.xml
  sdk/java/runtime/template/pom.xml
  sdk/php/src/Connection/version.php
  sdk/python/src/dagger/_engine/_version.py
  sdk/rust/Cargo.lock
  sdk/rust/Cargo.toml
  sdk/rust/crates/dagger-sdk/src/core/version.rs
  sdk/typescript/src/provisioning/default.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-java, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

chore(sdk): Bump dependencies on sdk/typescript
  sdk/typescript/package.json
  sdk/typescript/yarn.lock
Owners: @dagger/sdk-typescript

chore: add release notes for v0.21.7
  .changes/v0.21.7.md
  CHANGELOG.md
  helm/dagger/.changes/v0.21.7.md
  helm/dagger/CHANGELOG.md
  sdk/elixir/.changes/v0.21.7.md
  sdk/elixir/CHANGELOG.md
  sdk/go/.changes/v0.21.7.md
  sdk/go/CHANGELOG.md
  sdk/php/.changes/v0.21.7.md
  sdk/php/CHANGELOG.md
  sdk/python/.changes/v0.21.7.md
  sdk/python/CHANGELOG.md
  sdk/rust/.changes/v0.21.7.md
  sdk/rust/CHANGELOG.md
  sdk/typescript/.changes/v0.21.7.md
  sdk/typescript/CHANGELOG.md
Owners: @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

bump .next to next release version
  .changes/.next
Owners: none

Bump go deps to fix security vulnerabitilies in root go module (#13468)
  go.mod
  go.sum
  toolchains/engine-dev/go.mod
  toolchains/engine-dev/go.sum
Owners: none

chore: prep for v0.21.7 (#13491)
  .changes/.next
  .changes/v0.21.7.md
  CHANGELOG.md
  core/sdk/go_sdk.go
  docs/current_docs/partials/version.js
  helm/dagger/.changes/v0.21.7.md
  helm/dagger/CHANGELOG.md
  helm/dagger/Chart.yaml
  lib/dagger/core/version.ex
  sdk/elixir/.changes/v0.21.7.md
  sdk/elixir/CHANGELOG.md
  sdk/go/.changes/v0.21.7.md
  sdk/go/CHANGELOG.md
  sdk/go/engineconn/version.gen.go
  sdk/java/dagger-codegen-maven-plugin/pom.xml
  sdk/java/dagger-java-annotation-processor/pom.xml
  sdk/java/dagger-java-samples/pom.xml
  sdk/java/dagger-java-sdk/pom.xml
  sdk/java/pom.xml
  sdk/java/runtime/template/pom.xml
  sdk/php/.changes/v0.21.7.md
  sdk/php/CHANGELOG.md
  sdk/php/src/Connection/version.php
  sdk/python/.changes/v0.21.7.md
  sdk/python/CHANGELOG.md
  sdk/python/src/dagger/_engine/_version.py
  sdk/rust/.changes/v0.21.7.md
  sdk/rust/CHANGELOG.md
  sdk/rust/Cargo.lock
  sdk/rust/Cargo.toml
  sdk/rust/crates/dagger-sdk/src/core/version.rs
  sdk/typescript/.changes/v0.21.7.md
  sdk/typescript/CHANGELOG.md
  sdk/typescript/src/provisioning/default.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-java, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
