Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

test: include .gitconfig in expand_home_directory expected entries
  core/integration/module_call_test.go
Owners: none

core, test: reject absolute paths in named local module dependencies
  core/integration/module_call_test.go
  core/schema/modulesource.go
Owners: none

workspace: restore compat migration for plain modules
  cmd/dagger/functions.go
  cmd/dagger/migrate.go
  cmd/dagger/migrate_test.go
  core/integration/contextual_workspace_test.go
  core/integration/workspace_compat_test.go
  core/integration/workspace_migration_test.go
  core/schema/workspace_migrate.go
  core/schema/workspace_migrate_parent.go
  core/schema/workspace_test.go
  core/sdk/loader.go
  core/sdk/loader_test.go
  core/sdk/workspace_module.go
  core/workspace/legacy.go
  core/workspace/legacy_test.go
  core/workspace/migrate.go
  core/workspace/migrate_test.go
  docs/current_docs/reference/cli/index.mdx
  engine/client/client_test.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: @dagger/docs

chore: fix missed typo
  engine/server/session_workspaces.go
Owners: none

test: re-add content.txt between git commits in TestArgTypes git_arg_inputs/local_dir
  core/integration/module_call_test.go
Owners: none

test: trim TestArgTypes/module_args expected entries to fixture-only contents
  core/integration/module_call_test.go
Owners: none

test: remove TestSimple "preserve quotes without namespace" subtest
  core/integration/workspace_compat_env_test.go
Owners: none

test: seed dagql cache leak workload via Dagger Go API instead of dagger module CLI
  core/integration/engine_test.go
Owners: none

test: isolate python project layout fixtures
  core/integration/module_python_test.go
Owners: none

test: drop lock-file grep assertion in TestPython/TestProjectLayout
  core/integration/module_python_test.go
Owners: none

test: align proxy and python fixtures with workspace model
  core/integration/module_python_test.go
  core/integration/proxy_test.go
Owners: none

test: trigger SDK install in TestUv/index-url/error
  core/integration/module_python_test.go
Owners: none

test: remove logGen helper and all its call sites
  core/integration/module_call_test.go
  core/integration/module_helpers_test.go
Owners: none

test: drop redundant compat-fallback subdir subtest from TestModuleFunctions
  core/integration/module_introspection_cli_test.go
Owners: none

debug: bump unknown command CI marker 018
  core/integration/module_test.go
Owners: none

debug: bump unknown command CI marker 019
  core/integration/module_test.go
Owners: none

workspace: persist current workspace state
  core/workspace.go
Owners: none

test: cover compat install migration guard
  core/integration/workspace_compat_test.go
  core/integration/workspace_migration_test.go
  core/integration/workspace_modules_test.go
Owners: none

WIP: make this workspace go-lintable by github.com/dagger/go (not yet switched over)
  core/integration/testdata/.dagger-skip-go-lint
  dagger.json
  dagql/idtui/viztest/broken-dep-sdk/.dagger-skip-go-lint
  dagql/idtui/viztest/broken-dep/.dagger-skip-go-lint
  docs/.dagger-skip-go-lint
  docs/archived_docs/assets/0.9/quickstart/snippets/go.mod
  docs/current_docs/cookbook/snippets/go.mod
  docs/current_docs/extending/custom-applications/snippets/go.mod
  docs/current_docs/extending/modules/snippets/go.mod
  docs/current_docs/getting-started/api/snippets/go.mod
  docs/current_docs/getting-started/ci-integrations/snippets/go.mod
  docs/current_docs/getting-started/quickstarts/agent/snippets/go.mod
  docs/current_docs/getting-started/quickstarts/ci/snippets/go.mod
  docs/current_docs/getting-started/types/snippets/go.mod
  docs/current_docs/introduction/features/snippets/go.mod
  docs/current_docs/reference/best-practices/snippets/go.mod
  docs/current_docs/reference/container-runtimes/snippets/go.mod
  docs/current_docs/reference/deployment/snippets/go.mod
  toolchains/release/testdata/.dagger-skip-go-lint
Owners: @dagger/docs

e2e: use go:test:include directives for dagger sandboxing
  e2e/helm/helm_test.go
  e2e/installers/installers_test.go
Owners: none

do not use github.com/dagger/go to generate (yet)
  .dagger-skip-go-generate
Owners: none

ci: upgrade to latest github.com/dagger/go
  dagger.json
Owners: none

version: rewrite ssh github remotes for tag fetch
  toolchains/cli-dev/internal/dagger/version.gen.go
  toolchains/engine-dev/internal/dagger/version.gen.go
  toolchains/release/internal/dagger/version.gen.go
  version/main.go
Owners: none

ci: remove go linting logic from toolchains/go (we use github.com/dagger/go instead)
  modules/daggerverse/internal/dagger/go.gen.go
  modules/dev/internal/dagger/go.gen.go
  toolchains/cli-dev/internal/dagger/go.gen.go
  toolchains/docs-dev/internal/dagger/go.gen.go
  toolchains/engine-dev/internal/dagger/go.gen.go
  toolchains/go/dagger.gen.go
  toolchains/go/main.go
Owners: none

ci: skip go lint for modules that don't need it
  core/integration/llmtest/.dagger-skip-go-lint
  dagql/idtui/viztest/.dagger-skip-go-lint
  modules/evals/testdata/.dagger-skip-go-lint
  modules/evaluator/examples/.dagger-skip-go-lint
  toolchains/docs-dev/docusaurus/dagger/.dagger-skip-go-lint
  toolchains/docs-dev/docusaurus/tests/.dagger-skip-go-lint
  toolchains/elixir-sdk-dev/is-semver/.dagger-skip-go-lint
  toolchains/python-sdk-dev/dockerd/.dagger-skip-go-lint
  toolchains/release/apko/.dagger-skip-go-lint
  toolchains/release/gh/.dagger-skip-go-lint
  toolchains/release/registry-config/.dagger-skip-go-lint
  toolchains/release/registry-config/tests/.dagger-skip-go-lint
  toolchains/typescript-sdk-dev/is-semver/.dagger-skip-go-lint
Owners: none

core: clean up GitCommit implementation
  core/git.go
  core/schema/git.go
Owners: none

core: add GitCommit type
  core/git.go
  core/git_commit_test.go
  core/ids.go
  core/integration/cross_session_test.go
  core/integration/git_test.go
  core/schema/git.go
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

core: rename GitRef fields
  core/integration/git_test.go
  core/schema/git.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

core: rename GitRef target commit field
  core/integration/git_test.go
  core/schema/git.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

core: add GitCommit release tag fields
  core/git.go
  core/integration/git_test.go
  core/schema/git.go
  core/schema/git_release_tag_test.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

debug: bump unknown command CI marker 020
  core/integration/module_test.go
Owners: none

dagql: mechanical cleanups
  dagql/objects.go
Owners: none

debug: bump unknown command CI marker 021
  core/integration/module_test.go
Owners: none

debug: bump unknown command CI marker 022
  core/integration/module_test.go
Owners: none

debug: bump unknown command CI marker 023
  core/integration/module_test.go
Owners: none

test: drop stale cwd module inference expectations
  core/integration/module_loading_test.go
  core/integration/workspace_modules_test.go
Owners: none

debug: bump unknown command CI marker 024
  core/integration/module_test.go
Owners: none

debug: bump unknown command CI marker 025
  core/integration/module_test.go
Owners: none

test: load host CLI module fixtures explicitly
  core/integration/module_terminal_test.go
  core/integration/module_tui_test.go
  core/integration/module_up_test.go
Owners: none

test(sdk/python): avoid shadowing type names in property fixtures
  sdk/python/tests/mod/_strategies.py
Owners: @dagger/sdk-python
