Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

Bump go to address CVE (#11780)
  dagql/call/callpbv1/call.pb.go
  engine/distconsts/consts.go
  internal/buildkit/util/stack/stack.pb.go
  toolchains/go/main.go
Owners: none

filesync: preserve gitignored paths in mirror sync
  engine/client/filesync.go
  engine/filesync/filesyncer.go
  engine/filesync/localfs.go
  engine/filesync/remotefs.go
  internal/fsutil/types/stat.pb.go
  internal/fsutil/types/stat.proto
  skills/cache-expert/references/filesync.md
  util/fsxutil/gitignore_fs.go
  util/fsxutil/gitignore_fs_test.go
  util/fsxutil/gitignore_mark_fs.go
  util/fsxutil/helpers_test.go
Owners: none

chore: convert schemaJSONFile to dagop
  core/file.go
  core/schema/query.go
  dagql/cachekey.go
  dagql/server.go
  util/sortutil/range_sorted.go
  util/sortutil/range_sorted_test.go
Owners: none

filesync: preserve gitignored paths in mirror sync (#11748)
  engine/client/filesync.go
  engine/filesync/filesyncer.go
  engine/filesync/localfs.go
  engine/filesync/remotefs.go
  internal/fsutil/types/stat.pb.go
  internal/fsutil/types/stat.proto
  skills/cache-expert/references/filesync.md
  util/fsxutil/gitignore_fs.go
  util/fsxutil/gitignore_fs_test.go
  util/fsxutil/gitignore_mark_fs.go
  util/fsxutil/helpers_test.go
Owners: none

chore: convert schemaJSONFile to dagop (#11733)
  core/file.go
  core/schema/query.go
  dagql/cachekey.go
  dagql/server.go
  util/sortutil/range_sorted.go
  util/sortutil/range_sorted_test.go
Owners: none

update telemetry effect tracking to rely on IDs rather than LLB
  core/changeset.go
  core/codegen.go
  core/container.go
  core/dagop.go
  core/directory.go
  core/file.go
  core/git.go
  core/git_local.go
  core/git_remote.go
  core/integration/file_test.go
  core/interface.go
  core/module.go
  core/modulesource.go
  core/object.go
  core/schema/container.go
  core/schema/directory.go
  core/schema/envfile.go
  core/schema/file.go
  core/schema/git.go
  core/schema/http.go
  core/schema/query.go
  core/schema/wrapper.go
  core/secret.go
  core/socket.go
  core/telemetry.go
  core/util.go
  dagql/call/callpbv1/call.pb.go
  dagql/call/callpbv1/call.proto
  dagql/call/id.go
  dagql/idtui/testdata/TestTelemetry/TestGolden/docker-build-fail
  dagql/idtui/testdata/TestTelemetry/TestGolden/list
  dagql/idtui/testdata/TestTelemetry/TestGolden/nested-calls
  dagql/idtui/testdata/TestTelemetry/TestGolden/trace-function-calls
  dagql/idtui/testdata/TestTelemetry/TestGolden/use-exec-service
  dagql/idtui/viztest/main.go
  dagql/objects.go
  engine/buildkit/llbdefinition.go
  engine/buildkit/op.go
  engine/buildkit/telemetry.go
Owners: none

update telemetry effect tracking to rely on IDs rather than LLB (#11767)
  core/changeset.go
  core/codegen.go
  core/container.go
  core/dagop.go
  core/directory.go
  core/file.go
  core/git.go
  core/git_local.go
  core/git_remote.go
  core/integration/file_test.go
  core/interface.go
  core/module.go
  core/modulesource.go
  core/object.go
  core/schema/container.go
  core/schema/directory.go
  core/schema/envfile.go
  core/schema/file.go
  core/schema/git.go
  core/schema/http.go
  core/schema/query.go
  core/schema/wrapper.go
  core/secret.go
  core/socket.go
  core/telemetry.go
  core/util.go
  dagql/call/callpbv1/call.pb.go
  dagql/call/callpbv1/call.proto
  dagql/call/id.go
  dagql/idtui/testdata/TestTelemetry/TestGolden/docker-build-fail
  dagql/idtui/testdata/TestTelemetry/TestGolden/list
  dagql/idtui/testdata/TestTelemetry/TestGolden/nested-calls
  dagql/idtui/testdata/TestTelemetry/TestGolden/trace-function-calls
  dagql/idtui/testdata/TestTelemetry/TestGolden/use-exec-service
  dagql/idtui/viztest/main.go
  dagql/objects.go
  engine/buildkit/llbdefinition.go
  engine/buildkit/op.go
  engine/buildkit/telemetry.go
Owners: none

core: use alpineImage constant in ReturnCodes test
  core/integration/returncodes_test.go
Owners: none

chore: regenerate code
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  sdk/go/dagger.gen.go
  sdk/php/generated/ReturnType.php
  sdk/python/src/dagger/client/gen.py
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-typescript

core: allow exit codes >127 for ReturnType ANY and FAILURE
  core/container.go
  core/integration/returncodes_test.go
Owners: none

core: allow exit codes >127 for ReturnType ANY and FAILURE (#11666)
  core/container.go
  core/integration/returncodes_test.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  sdk/go/dagger.gen.go
  sdk/php/generated/ReturnType.php
  sdk/python/src/dagger/client/gen.py
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-typescript

chore: use dagop version of NewFileWithContents
  core/checks.go
  core/file.go
  core/schema/file.go
  core/schema/query.go
Owners: none

dont automatically create a parent go.mod if there isnt one
  cmd/codegen/generator/go/generate_client.go
  core/integration/client_generator_test.go
Owners: none

engine-dev: replace alpine with wolfi
  toolchains/engine-dev/build/builder.go
  toolchains/engine-dev/build/sdk.go
  toolchains/engine-dev/main.go
Owners: none

docs-dev: fix +ignore pragma with `**/*`
  toolchains/docs-dev/main.go
Owners: none

engine-dev: replace alpine with wolfi (#11770)
  toolchains/engine-dev/build/builder.go
  toolchains/engine-dev/build/sdk.go
  toolchains/engine-dev/main.go
Owners: none

docs: clarify function vs layer caching
  docs/current_docs/extending/modules/function-caching.mdx
Owners: @dagger/docs

docs: add caching cross-links
  docs/current_docs/extending/modules/function-caching.mdx
Owners: @dagger/docs

docs-dev: fix +ignore pragma with `**/*` (#11701)
  toolchains/docs-dev/main.go
Owners: none

Fix case where disk full prevents client DB open
  engine/clientdb/dbs.go
  engine/clientdb/dbs_test.go
  engine/server/session.go
Owners: none

cli: embed default license to avoid network dep
  cmd/dagger/licenses.go
  cmd/dagger/licenses/Apache-2.0.txt
Owners: none

go generated clients get their own go.mod (#11768)
  cmd/codegen/generate_client.go
  cmd/codegen/generator/config.go
  cmd/codegen/generator/go/generate_client.go
  cmd/codegen/modsourcedeps.graphql
  core/integration/client_generator_test.go
Owners: none

chore: use dagop version of NewFileWithContents (#11783)
  core/checks.go
  core/file.go
  core/schema/file.go
  core/schema/query.go
Owners: none

Fix case where disk full prevents client DB open (#11785)
  engine/clientdb/dbs.go
  engine/clientdb/dbs_test.go
  engine/server/session.go
Owners: none

cli: embed default license to avoid network dep (#11786)
  cmd/dagger/licenses.go
  cmd/dagger/licenses/Apache-2.0.txt
Owners: none

docs: clarify function vs layer caching (#11784)
  docs/current_docs/extending/modules/function-caching.mdx
Owners: @dagger/docs

engine: workaround ancient kernels in container start
  engine/buildkit/executor_spec.go
Owners: none

Support portable dagger code in go codegen #11417
  cmd/codegen/generate_module.go
  cmd/codegen/generate_typedef.go
  cmd/codegen/generator/config.go
  cmd/codegen/generator/go/generate_module.go
  cmd/codegen/generator/go/generate_typedefs.go
  cmd/codegen/generator/go/generator.go
  cmd/codegen/generator/go/templates/functions.go
  cmd/codegen/generator/go/templates/modules.go
  cmd/codegen/generator/go/templates/src/_dagger.gen.go/defs.go.tmpl
  cmd/codegen/generator/go/templates/src/_dagger.gen.go/module.go.tmpl
Owners: none

Support modsrc.WithExperimentalFeatures calls before SDK is configured
  core/modulesource.go
  core/schema/modulesource.go
Owners: none

Pass --portable-api[=false] to codegen #11547
  cmd/dagger/module.go
  core/modulesource.go
  core/sdk/go_sdk.go
  core/sdk/loader.go
  docs/current_docs/reference/cli/index.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  sdk/go/dagger.gen.go
  sdk/php/generated/ModuleSourceExperimentalFeature.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

Portable API test #11547
  core/integration/module_test.go
Owners: none

attempt 2
  core/service.go
  core/telemetry.go
  engine/buildkit/executor_spec.go
Owners: none

ui: show ONLY user spans if present
  dagql/dagui/db.go
  dagql/dagui/spans.go
  dagql/dagui/types.go
Owners: none

dagui: prioritize user-created spans
  dagql/dagui/opts.go
  dagql/dagui/spans.go
  dagql/dagui/types.go
Owners: none

testutil: don't set reveal (no longer needed)
  internal/testutil/middleware.go
Owners: none

ui: improve user span heuristic
  dagql/dagui/spans.go
Owners: none

ui: do not propagate across module boundaries
  core/telemetry.go
  dagql/dagui/spans.go
Owners: none

ui: auto-reveal user spans
  core/telemetry.go
  dagql/dagui/spans.go
Owners: none

hack: narrow determination of user spans
  dagql/dagui/spans.go
Owners: none

tui: add verbosity level for full trace
  dagql/dagui/opts.go
  dagql/dagui/types.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
