Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

feat(git): support author signoff on commits
  core/git_commit_create.go
  core/integration/git_commit_test.go
  core/integration/workspace_commit_test.go
  core/schema/git.go
  core/schema/git_commit_create.go
  core/schema/workspace.go
  core/schema/workspace_commit.go
  docs/docs-graphql/schema.graphqls
  sdk/elixir/lib/dagger/gen/git_ref.ex
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/GitRef.php
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

regen
  docs/docs-graphql/schema.graphqls
  sdk/elixir/lib/dagger/gen/changeset.ex
  sdk/elixir/lib/dagger/gen/git_ref.ex
  sdk/elixir/lib/dagger/gen/git_repository.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Changeset.php
  sdk/php/generated/GitRef.php
  sdk/php/generated/GitRepository.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

regen
  docs/docs-graphql/schema.graphqls
  sdk/elixir/lib/dagger/gen/workspace_git.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/WorkspaceGit.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

feat(workspace): expose git metadata directory
  .changes/unreleased/Added-20260911-200000.yaml
  core/git_hostdir.go
  core/integration/workspace_git_directory_test.go
  core/schema/workspace.go
  core/schema/workspace_commit.go
  core/schema/workspace_export.go
  core/schema/workspace_pull.go
  core/schema/workspace_reset.go
Owners: none

chore(api): generate workspace git references
  docs/current_docs/reference/api/git-push-result.mdx
  docs/current_docs/reference/api/workspace-commit-pick.mdx
  docs/docs-graphql/schema.graphqls
  sdk/elixir/lib/dagger/gen/git_push_disposition.ex
  sdk/elixir/lib/dagger/gen/git_push_result.ex
  sdk/elixir/lib/dagger/gen/git_ref.ex
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/elixir/lib/dagger/gen/workspace_commit_pick.ex
  sdk/elixir/lib/dagger/gen/workspace_commit_pick_reason.ex
  sdk/elixir/lib/dagger/gen/workspace_commit_pick_status.ex
  sdk/php/generated/GitPushDisposition.php
  sdk/php/generated/GitPushResult.php
  sdk/php/generated/GitRef.php
  sdk/php/generated/Workspace.php
  sdk/php/generated/WorkspaceCommitPick.php
  sdk/php/generated/WorkspaceCommitPickReason.php
  sdk/php/generated/WorkspaceCommitPickStatus.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

fix(agent): show uncommitted edits in preview
  internal/cmd/dagger/llm_changes.go
  internal/cmd/dagger/llm_changes_test.go
Owners: none

perf(workspace): trace save composition phases
  core/git_bundle.go
  core/git_bundle_test.go
  core/git_local.go
  core/integration/tracesink_test.go
  core/schema/host.go
  core/schema/workspace_checkpoint.go
Owners: none

feat(git): resolve abbreviated commit SHAs
  .changes/unreleased/Added-20260911-233000.yaml
  core/git.go
  core/git_local.go
  core/git_remote.go
  core/integration/git_test.go
  core/schema/git.go
  core/schema/testdata/base_schema.graphqls
  util/gitutil/commit.go
  util/gitutil/short_sha.go
  util/gitutil/short_sha_test.go
Owners: none

docs: describe workspace save optimizations
  hack/designs/workspace-save-performance.md
Owners: none

perf(git): bundle local objects without fetching
  core/git_bundle.go
  core/git_bundle_test.go
Owners: none

feat(workspace): export to an explicit checkout
  core/integration/testdata/modules/go/workspace-export-sandbox/main.go
  core/integration/workspace_export_test.go
  core/schema/workspace.go
  core/schema/workspace_export.go
  core/workspace_export.go
  core/workspace_pull.go
  core/workspace_pull_test.go
  docs/docs-graphql/schema.graphqls
  engine/session/git/git_apply_integration.go
  engine/session/git/git_apply_integration_test.go
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

regen
  docs/docs-graphql/schema.graphqls
Owners: @dagger/docs

perf(workspace): shallow content-only checkouts
  core/git_remote_test.go
  core/integration/workspace_checkpoint_test.go
  core/schema/workspace_checkpoint.go
Owners: none

perf(workspace): reuse unchanged snapshot trees
  core/git_commit_create.go
  core/workspace_export.go
  core/workspace_pull.go
  core/workspace_pull_test.go
Owners: none

perf(workspace): materialize save checkouts once
  core/integration/workspace_export_test.go
  core/integration/workspace_git_directory_test.go
  core/integration/workspace_git_legacy_test.go
  core/schema/workspace.go
  core/schema/workspace_commit.go
  core/schema/workspace_export.go
  engine/engineutil/git_apply.go
Owners: none

fix(workspace): preserve cherry-pick messages
  core/integration/workspace_pull_test.go
  core/workspace_pull.go
  core/workspace_pull_test.go
Owners: none

perf(workspace): reuse owned export history
  core/integration/workspace_export_test.go
  core/schema/git.go
  core/schema/workspace_checkpoint.go
  core/schema/workspace_export.go
  core/schema/workspace_test.go
  core/workspace_export.go
  core/workspace_pull_test.go
Owners: none

chore(gitutil): gofmt test file
  util/gitutil/short_sha_test.go
Owners: none

feat(git): preserve and register named remotes
  .changes/unreleased/Added-20260912-210000.yaml
  .changes/unreleased/Fixed-20260912-180000.yaml
  core/git.go
  core/git_bundle.go
  core/git_hostdir.go
  core/git_latest_test.go
  core/git_local.go
  core/git_persistence_test.go
  core/git_remote.go
  core/integration/git_push_test.go
  core/integration/git_test.go
  core/integration/workspace_git_directory_test.go
  core/schema/git.go
  core/schema/git_push.go
  core/schema/host.go
  core/schema/workspace_checkpoint.go
  core/schema/workspace_commit.go
  core/schema/workspace_export.go
  core/schema/workspace_test.go
  engine/session/git/git_config.go
  engine/session/git/git_test.go
  hack/designs/host-git-reconstruction.md
Owners: none

fix(workspace): offer drop for nested repositories
  core/schema/workspace_checkpoint.go
  core/schema/workspace_checkpoint_prompt_test.go
  engine/session/git/git_capture.go
  engine/session/git/git_capture_test.go
Owners: none

fix(agent): save without reloading conversations
  internal/cmd/dagger/llm_changes_test.go
  internal/cmd/dagger/session_agent.go
  internal/cmd/dagger/session_agent_test.go
Owners: none

test(workspace): own trace capture helper
  core/integration/tracesink_test.go
Owners: none

tui-qa: console QoL — key validation, /wait, /toolset, real checkout (#420)
  .dagger/modules/tui-qa/main.dang
  .dagger/modules/tui-qa/skills/tui-qa/SKILL.md
  dagql/idtui/frontend_console.go
  dagql/idtui/frontend_console_test.go
  skills/tui-console/SKILL.md
Owners: none

core: mark snapshot experimental
  core/schema/workspace.go
Owners: none

refactor(workspace): drop bound export state
  .changes/unreleased/Added-20260905-200000.yaml
  core/integration/workspace_export_test.go
  core/integration/workspace_pull_test.go
  core/schema/workspace.go
  core/schema/workspace_export.go
  core/schema/workspace_pull.go
  core/workspace.go
  core/workspace_export.go
Owners: none

refactor: resolve workspace and console lint errors
  core/schema/workspace_export.go
  core/workspace_export.go
  core/workspace_pull_test.go
  dagql/idtui/frontend_console.go
  engine/session/git/git_apply_integration.go
  engine/session/git/git_capture.go
Owners: none

fix(workspace): allow export from without a path
  .changes/unreleased/Added-20260905-200000.yaml
  core/integration/generators_test.go
  core/integration/workspace_export_test.go
  core/schema/workspace.go
  internal/cmd/dagger/functions.go
Owners: none

fix(git): omit credential-bearing host origins
  .changes/unreleased/Fixed-20260912-180000.yaml
  core/integration/workspace_git_directory_test.go
  core/schema/host.go
Owners: none

regen
  docs/docs-graphql/schema.graphqls
  sdk/elixir/lib/dagger/gen/git_repository.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/GitRepository.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

fix(git): include remotes in checkout cache keys
  .changes/unreleased/Added-20260912-210000.yaml
  core/integration/git_test.go
  core/schema/git.go
Owners: none

chore: sync generated workspace export docs
  docs/docs-graphql/schema.graphqls
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

bump lock
  dagger.lock
Owners: none

test(git): update checkout fixture remotes
  core/git_remote_test.go
Owners: none

refactor(git): accept a single push URL
  .changes/unreleased/Added-20260912-210000.yaml
  core/integration/git_push_test.go
  core/integration/git_test.go
  core/schema/git.go
  core/schema/git_push.go
  core/schema/workspace_checkpoint.go
Owners: none

regen
  .dagger/modules/docs-dev/docusaurus/dagger/internal/dagger/dagger.gen.go
  .dagger/modules/dotnet-client-dev/dagger-module.toml
  .dagger/modules/engine-dev/notify/internal/dagger/dagger.gen.go
  .dagger/modules/python-client-dev/dockerd/internal/dagger/dagger.gen.go
  .dagger/modules/release/registry-config/internal/dagger/dagger.gen.go
  .dagger/modules/tla-check/internal/dagger/dagger.gen.go
  docs/docs-graphql/schema.graphqls
  modules/alpine/internal/dagger/dagger.gen.go
  sdk/elixir/lib/dagger/gen/git_ref.ex
  sdk/elixir/lib/dagger/gen/git_repository.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/GitRef.php
  sdk/php/generated/GitRepository.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

regen
  docs/docs-graphql/schema.graphqls
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/python/src/dagger/client/gen.py
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript

designs: add doc for git snapshot + APIs
  hack/designs/workspace-git.md
Owners: none

fix(agent): retain executable client scopes
  core/agent.go
  core/agent_client_scope_test.go
  engine/server/session.go
Owners: none

fix(llm): lease endpoint credential lookups
  core/llm_auth_test.go
  core/llm_credential.go
Owners: none

chore(clientdb): clarify idle store accounting
  engine/clientdb/store_registry.go
Owners: none
