Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

docs: remove stale cache skill warning
  skills/cache-expert/SKILL.md
Owners: none

core: restore cache mount record type on persisted cache volumes
  core/cache.go
Owners: none

docs: remove stale cache skill warning (#13179)
  skills/cache-expert/SKILL.md
Owners: none

Add CI disk pressure investigation marker
  README.md
Owners: none

core: restore persisted cache volume mount sharing (#13180)
  core/cache.go
  core/integration/engine_persistence_test.go
Owners: none

ci: rerun disk pressure probe after infra rollout
  README.md
Owners: none

ci: invalidate engine build cache for disk pressure probe
  cmd/engine/main.go
Owners: none

workspace: add moduleSource field
  core/integration/workspace_test.go
  core/schema/modulesource.go
  core/schema/workspace.go
  core/workspace.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  engine/server/session_workspaces.go
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

ci: perturb engine source for disk pressure probe
  cmd/engine/main.go
Owners: none

fix(sdk/rust): resolve list-of-object fields by loading each by id (#13000)
  sdk/rust/crates/dagger-codegen/src/rust/functions.rs
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/rust/crates/dagger-sdk/src/querybuilder.rs
  sdk/rust/crates/dagger-sdk/tests/mod.rs
Owners: @dagger/sdk-rust

allow to install extra packages in playground
  toolchains/engine-dev/main.go
Owners: none

re-generate
  modules/dev/internal/dagger/engine-dev.gen.go
  modules/metrics/internal/dagger/dagger-engine.gen.go
  toolchains/docs-dev/internal/dagger/engine-dev.gen.go
  toolchains/engine-dev/dagger.gen.go
  toolchains/php-sdk-dev/internal/dagger/dagger-engine.gen.go
  toolchains/python-sdk-dev/internal/dagger/dagger-engine.gen.go
  toolchains/release/internal/dagger/engine-dev.gen.go
  toolchains/rust-sdk-dev/internal/dagger/dagger-engine.gen.go
Owners: none

cli: allow testing unreleased builds with --x-release
  cmd/dagger/engine.go
  cmd/dagger/exec_nonunix.go
  cmd/dagger/exec_unix.go
  cmd/dagger/main.go
  docs/current_docs/reference/cli/index.mdx
  engine/client/drivers/container.go
  sdk/go/engineconn/cli.go
Owners: @dagger/docs, @dagger/sdk-go

feat(idtui): list passing test suites
  dagql/idtui/frontend_tests.go
  dagql/idtui/frontend_tests_test.go
Owners: none

Scrub plaintext Secret user defaults
  core/integration/user_defaults_test.go
  core/modfunc.go
Owners: none

Scrub plaintext Secret user defaults (#13177)
  core/integration/user_defaults_test.go
  core/modfunc.go
Owners: none

fix(idtui): render dots failure report
  dagql/idtui/frontend_dots.go
  dagql/idtui/frontend_dots_test.go
Owners: none

fix(idtui): list suite status failures
  dagql/idtui/frontend_tests.go
  dagql/idtui/frontend_tests_test.go
Owners: none

fix(dagui): group orphan cases in real suites
  dagql/dagui/tests.go
  dagql/dagui/tests_test.go
Owners: none

staydagger support added
  .github/actions/call/action.yml
  .github/workflows/staydagger-publish.yml
  .goreleaser.staydagger.yml
  README.md
  action.yml
  toolchains/engine-dev/docker.go
  toolchains/engine-dev/main.go
Owners: none

fix: eager-load runtimes for execution-facing commands
  cmd/dagger/call.go
  cmd/dagger/checks.go
  cmd/dagger/functions.go
  cmd/dagger/generators.go
  cmd/dagger/main.go
  cmd/dagger/mcp.go
  cmd/dagger/up.go
  core/integration/module_go_test.go
Owners: none

chore: remove unused lock export wrapper
  core/schema/lockfile.go
Owners: none

chore: fix agressive change here
  core/integration/module_up_test.go
Owners: none

test: restore compat env default coverage
  core/integration/workspace_compat_env_test.go
Owners: none

remove redundant if condition
  engine/client/client.go
Owners: none

chore: re-add fixme
  core/integration/workspace_compat_env_test.go
Owners: none

docs: fix 51 dead redirect targets and add 45 missing redirects
  docs/current_docs/extending/testing.mdx
  docs/netlify.toml
Owners: @dagger/docs

core: remove user default console logging
  core/modfunc.go
Owners: none

core: clarify workspace settings comments
  core/module.go
Owners: none

cmd: suppress compat workspace warning during migrate
  cmd/dagger/migrate.go
  core/integration/workspace_compat_test.go
  engine/client/client.go
  engine/opts.go
  engine/server/session.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

core: reject unsafe module source paths
  core/schema/modulesource.go
Owners: none

Remove module init blueprint option
  cmd/dagger/module.go
  cmd/dagger/workspace.go
  core/integration/checks_test.go
  core/integration/generators_test.go
  core/integration/workspace_compat_test.go
  core/schema/workspace.go
  core/schema/workspace_module_init.go
  docs/current_docs/reference/cli/index.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Workspace.html
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

engine: align workspace session module loading
  engine/server/session.go
  engine/server/session_test.go
Owners: none

Remove stale toolchain integration suite
  core/integration/toolchain_test.go
  core/integration/workspace_compat_test.go
  core/integration/workspace_test.go
Owners: none

test: fill workspace selection FIXME coverage
  core/integration/workspace_selection_test.go
Owners: none

core: resolve legacy default paths through context sources
  core/modfunc.go
  core/module.go
  core/schema/modulesource.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

cmd: clarify workspace flag help
  cmd/dagger/main.go
  docs/current_docs/reference/cli/index.mdx
Owners: @dagger/docs

test: support dang source files in module helpers
  core/integration/module_helpers_test.go
Owners: none

core: select compat workspaces in env default tests
  core/integration/workspace_compat_env_test.go
Owners: none

chore: import the session package
  engine/server/session.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
