Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

designs: correct capture commit range
  hack/designs/portable-agent-workspaces.md
Owners: none

test(workspace): cover total checkpoints
  core/integration/workspace_checkpoint_test.go
  core/integration/workspace_synthetic_test.go
  core/schema/workspace.go
Owners: none

workspace: delete legacy checkpoint spike
  core/git_hostdir.go
  core/ids.go
  core/integration/workspace_checkpoint_test.go
  core/integration/workspace_synthetic_test.go
  core/schema/workspace.go
  core/schema/workspace_test.go
  core/workspace.go
  core/workspace_checkpoint_test.go
  dagql/dagui/callpayloads_test.go
  engine/server/server.go
  engine/server/session.go
  engine/server/session_workspaces.go
Owners: none

designs: record public checkpoint phase
  hack/designs/portable-agent-workspaces.md
Owners: none

workspace: compose reconstruction metadata
  core/schema/workspace.go
  core/schema/workspace_test.go
Owners: none

workspace: compose public checkpoints
  core/schema/workspace.go
  core/schema/workspace_push.go
Owners: none

workspace: load modules from GitRef trees
  core/integration/workspace_synthetic_test.go
  core/schema/workspace.go
  core/schema/workspace_overlay_modules.go
  core/workspace.go
Owners: none

dagql: classify non-replayable recipes
  dagql/recipe_replay_test.go
  dagql/server.go
Owners: none

core(git): allow advanced prerequisite refs
  core/git_bundle.go
  core/integration/git_bundle_test.go
Owners: none

workspace: replay commits into checkpoints
  core/integration/workspace_commit_from_test.go
  core/schema/workspace.go
  core/schema/workspace_commit_from.go
Owners: none

workspace: checkpoint rootless values
  core/integration/workspace_checkpoint_test.go
  core/schema/workspace.go
Owners: none

workspace: stage commits on git refs
  core/integration/workspace_commit_from_test.go
  core/schema/workspace.go
  core/schema/workspace_commit.go
  core/schema/workspace_commit_from.go
  core/schema/workspace_push.go
  core/workspace.go
  core/workspace_checkpoint_test.go
Owners: none

workspace: add explicit export target
  core/integration/workspace_api_test.go
  core/integration/workspace_checkpoint_test.go
  core/integration/workspace_commit_head_moved_test.go
  core/integration/workspace_selection_test.go
  core/integration/workspace_synthetic_test.go
  core/schema/schema_test.go
  core/schema/workspace.go
  core/schema/workspace_commit.go
  core/workspace.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

designs: align bundles with staged commits
  hack/designs/portable-agent-workspaces.md
Owners: none

designs: record workspace export phase
  hack/designs/portable-agent-workspaces.md
Owners: none

test(workspace): restore export target coverage
  core/integration/workspace_checkpoint_test.go
  core/workspace_checkpoint_test.go
Owners: none

core/llm: resolve model credentials per request
  core/llm.go
  core/llm_anthropic.go
  core/llm_auth_test.go
  core/llm_credential.go
  core/llm_credential_test.go
  core/llm_openai_codex.go
  core/llm_otel.go
  engine/client/secretprovider/env.go
  engine/client/secretprovider/env_test.go
  hack/designs/llm-oauth-token-lifecycle.md
  internal/cmd/dagger/llm_config.go
  internal/cmd/dagger/llm_config_test.go
  internal/cmd/dagger/llmconfig/config.go
  internal/cmd/dagger/llmconfig/config_test.go
  internal/cmd/dagger/llmconfig/oauth.go
  internal/cmd/dagger/llmconfig/oauth_openai.go
  internal/cmd/dagger/llmconfig/oauth_refresh_test.go
  internal/cmd/dagger/llmconfig/setup.go
  internal/cmd/dagger/main.go
Owners: none

cli: add a prompt context visualizer
  .changes/unreleased/Added-20260814-000000.yaml
  .changes/unreleased/Added-20260814-120000.yaml
  internal/cmd/dagger/context_viz.go
  internal/cmd/dagger/context_viz.html
  internal/cmd/dagger/context_viz_test.go
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/references.go
  internal/cmd/dagger/references_test.go
  internal/cmd/dagger/session_agent.go
  internal/cmd/dagger/shell.go
  internal/cmd/dagger/shell_commands.go
Owners: none

cli/agent: restore agent sessions from traces
  core/agent.go
  core/agent_telemetry.go
  core/agent_telemetry_test.go
  core/integration/agent_restore_test.go
  core/integration/agent_runtime_test.go
  core/integration/testdata/modules/dang/agent-hirer/main.dang
  core/schema/llm.go
  dagql/dagui/agents.go
  dagql/dagui/agents_test.go
  dagql/dagui/conversation.go
  dagql/dagui/conversation_test.go
  dagql/idtui/agent_restore_test.go
  dagql/idtui/frontend.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/trace_fetch_test.go
  dagql/idtui/trace_import_test.go
  dagql/idtui/trace_live_test.go
  docs/docs-graphql/schema.graphqls
  docs/versioned_docs/version-1.0-beta/cli/reference/index.mdx
  engine/telemetry/traceimport.go
  engine/telemetryattrs/attrs.go
  hack/designs/async-agents.md
  hack/designs/notes/recommendation.md
  hack/designs/resume-from-trace.md
  internal/cloud/otlp.go
  internal/cloud/otlp_test.go
  internal/cmd/dagger/agent.go
  internal/cmd/dagger/functions.go
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/restore.go
  internal/cmd/dagger/restore_test.go
  sdk/go/dagger.gen.go
Owners: @dagger/docs, @dagger/sdk-go

modules/sandbox: add an exec agent prototype
  core/integration/sandbox_test.go
  hack/designs/sandboxes.md
  modules/sandbox/dagger.json
  modules/sandbox/main.dang
  modules/sandbox/testdata/ws/.dagger/modules/sandbox/dagger.json
  modules/sandbox/testdata/ws/.dagger/modules/sandbox/main.dang
  modules/sandbox/testdata/ws/.dagger/modules/sidecar/dagger.json
  modules/sandbox/testdata/ws/.dagger/modules/sidecar/main.dang
  modules/sandbox/testdata/ws/dagger.toml
Owners: none

dagui: rebuild IDs from ingested call payloads
  core/integration/agent_roster_skills_test.go
  core/integration/testdata/modules/go/agent-skiller/dagger.json
  core/integration/testdata/modules/go/agent-skiller/main.go
  dagql/dagui/db.go
  dagql/dagui/grep.go
  dagql/dagui/spans.go
Owners: none

go-cli: keep Git metadata out of changesets
  .dagger/modules/go-cli/main.dang
Owners: none

dev: add workspace modules and agent tooling
  .dagger/modules/engine-lab/dagger-module.toml
  .dagger/modules/engine-lab/skills/engine-lab/SKILL.md
  .dagger/modules/go-cli/dagger-module.toml
  .dagger/modules/go-cli/main.dang
  .dagger/modules/mcp-lab/dagger-module.toml
  .dagger/modules/mcp-lab/main.dang
  .dagger/modules/tui-qa/main.dang
  .dagger/modules/tui-qa/skills/tui-qa/SKILL.md
  .gitignore
  cmd/dump-id/graph.go
  cmd/dump-id/load.go
  cmd/dump-id/main.go
  dagger.toml
  dagql/dagui/grep.go
  dagql/idtui/frontend_console.go
  hack/agent-leakprobe/main.go
  modules/contributor/dagger.json
  modules/contributor/main.dang
  modules/delegate/dagger.json
  modules/delegate/main.dang
  modules/editor/.gitattributes
  modules/editor/README.md
  modules/editor/dagger.json
  modules/editor/dang.toml
  modules/editor/main.dang
  modules/engine-lab/dagger.json
  modules/engine-lab/main.dang
  modules/history/dagger.json
  modules/history/main.dang
  modules/librarian/dagger.json
  modules/librarian/main.dang
  modules/review/dagger.json
  modules/review/main.dang
Owners: none

sdk: regenerate clients and API references
  docs/go.sum
  sdk/elixir/lib/dagger/gen/agent.ex
  sdk/elixir/lib/dagger/gen/agent_message.ex
  sdk/elixir/lib/dagger/gen/agent_message_delivery.ex
  sdk/elixir/lib/dagger/gen/agent_middleware.ex
  sdk/elixir/lib/dagger/gen/agent_middleware_group.ex
  sdk/elixir/lib/dagger/gen/agent_state.ex
  sdk/elixir/lib/dagger/gen/directory.ex
  sdk/elixir/lib/dagger/gen/llm.ex
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/elixir/lib/dagger/gen/workspace_commit_pick.ex
  sdk/elixir/lib/dagger/gen/workspace_commit_pick_reason.ex
  sdk/elixir/lib/dagger/gen/workspace_commit_pick_status.ex
  sdk/elixir/lib/dagger/gen/workspace_staged_commit.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Agent.php
  sdk/php/generated/AgentMessage.php
  sdk/php/generated/AgentMessageDelivery.php
  sdk/php/generated/AgentMiddleware.php
  sdk/php/generated/AgentMiddlewareGroup.php
  sdk/php/generated/AgentState.php
  sdk/php/generated/Directory.php
  sdk/php/generated/LLM.php
  sdk/php/generated/Workspace.php
  sdk/php/generated/WorkspaceCommitPick.php
  sdk/php/generated/WorkspaceCommitPickReason.php
  sdk/php/generated/WorkspaceCommitPickStatus.php
  sdk/python/src/dagger/client/gen.py
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-typescript

core/llm: stamp GenAI agent attributes on spans
  core/agent_telemetry.go
  core/agent_telemetry_test.go
  core/llm.go
  core/llm_display.go
  core/llm_replay_test.go
Owners: none

idtui: show the agent roster in the status line
  dagql/idtui/agent_focus_test.go
  dagql/idtui/agent_roster.go
  dagql/idtui/agent_roster_test.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/prompt_frame.go
  dagql/idtui/statusline.go
  dagql/idtui/statusline_test.go
  dagql/idtui/symbols.go
  dagql/idtui/trace_import_test.go
Owners: none

cli/agent: compare changes against a sync baseline
  dagql/idtui/patch.go
  internal/cmd/dagger/agent.go
  internal/cmd/dagger/functions.go
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/session_agent.go
  internal/cmd/dagger/shell_test.go
Owners: none

idtui: let the editor own arrows in long prompts
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_pretty_test.go
  dagql/idtui/prompt_frame.go
  go.mod
  go.sum
Owners: none

core/agent,idtui: show loop failures in transcript
  core/agent.go
  core/agent_telemetry.go
  core/agent_telemetry_test.go
  dagql/dagui/agent_conversation_test.go
  dagql/idtui/agent_conversation_focus_test.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_pretty_test.go
Owners: none

idtui,core/llm: highlight tool result patches
  core/agent_telemetry_test.go
  core/llm.go
  core/llm_replay_test.go
  core/mcp.go
  core/mcp_test.go
  dagql/idtui/diff.go
  dagql/idtui/diff_test.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/toolargs_render.go
  dagql/idtui/vterm.go
  go.mod
Owners: none

idtui: make Tuist the owner of keyboard focus
  dagql/idtui/agent_focus_test.go
  dagql/idtui/frontend_log_pager.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_pretty_test.go
  dagql/idtui/frontend_tests.go
  hack/designs/tuist-focus-ownership.md
Owners: none

idtui,core/llm: keep tool call output compact
  core/llm.go
  core/llm_anthropic.go
  core/llm_display.go
  core/llm_replay_test.go
  core/mcp.go
  core/mcp_test.go
  dagql/idtui/conversation_report.go
  dagql/idtui/conversation_report_test.go
  dagql/idtui/frontend_logs_view.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_pretty_test.go
  dagql/idtui/search.go
  dagql/idtui/toolargs.go
  dagql/idtui/toolargs_render.go
  dagql/idtui/toolargs_test.go
Owners: none

cloud: refresh OAuth after a rejected trace fetch
  internal/cloud/auth/auth.go
  internal/cloud/auth/auth_test.go
  internal/cloud/otlp.go
  internal/cloud/otlp_test.go
Owners: none

engine: expose a client lifecycle snapshot
  cmd/engine/debug.go
  engine/server/lifecycle_debug.go
  engine/server/session.go
  engine/server/session_test.go
Owners: none

cloud,cli: fetch trace streams concurrently
  dagql/idtui/trace_fetch_test.go
  internal/cloud/otlp.go
  internal/cloud/otlp_test.go
  internal/cmd/dagger/agent.go
  internal/cmd/dagger/restore.go
  internal/cmd/dagger/restore_test.go
Owners: none

dagql: make cache equivalence type-safe
  dagql/cache.go
  dagql/cache_egraph.go
  dagql/cache_persistence_import.go
  dagql/cache_test.go
  dagql/call_request_input.go
  dagql/call_request_input_memo_test.go
  dagql/result_call_frame.go
  dagql/server.go
Owners: none

core/mcp: add a timeout tool
  core/mcp.go
  core/mcp_test.go
Owners: none

designs: add the client lifecycle design
  hack/designs/client-lifecycle.md
Owners: none

engine: seal client metadata at bootstrap
  engine/client_scope.go
  engine/server/client_scope.go
  engine/server/lifecycle_debug.go
  engine/server/session.go
  engine/server/session_test.go
  hack/designs/client-lifecycle.md
Owners: none

engine: register nested client transports
  core/query.go
  core/schema/test_server_test.go
  core/sdk/dang/shared/shared.go
  core/sdk/dang/shared/shared_test.go
  core/telemetry_test.go
  engine/client_scope.go
  engine/engineutil/client.go
  engine/engineutil/executor_nested_test.go
  engine/engineutil/executor_spec.go
  engine/server/client_scope.go
  engine/server/session.go
  engine/server/session_test.go
  hack/designs/client-lifecycle.md
Owners: none
