Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

modules/docusaurus: introduce site sandbox object
  modules/docusaurus/docusaurus.dang
Owners: none

modules/netlify: fix site lookup and sandbox token handling
  modules/netlify/netlify.dang
  modules/netlify/site.dang
Owners: none

A Dagger module to deploy to Netlify
  modules/netlify/dagger.json
  modules/netlify/netlify.dang
Owners: none

netlify: snapshot
  modules/netlify/README.md
  modules/netlify/dagger.json
  modules/netlify/netlify.dang
  modules/netlify/tools/go.mod
  modules/netlify/tools/go.sum
  modules/netlify/tools/targets/main.go
Owners: none

modules/netlify: more native handling of site linking & deploy
  modules/netlify/netlify.dang
Owners: none

modules/docusaurus: fix JIT include regression
  modules/docusaurus/docusaurus.dang
  modules/docusaurus/jit-workspace-hydrate.cjs
  modules/docusaurus/tests/main.dang
  modules/docusaurus/tests/testdata/runtime/site-preserve/docs/intro.md
  modules/docusaurus/tests/testdata/runtime/site-preserve/docusaurus.config.js
  modules/docusaurus/tests/testdata/runtime/site-preserve/package.json
Owners: none

modules/docusaurus: mount cache volume in each site node_modules
  modules/docusaurus/docusaurus.dang
Owners: none

unpin dang sdk to overcome codeberg
  modules/docusaurus/dagger.json
Owners: none

refactor docs-dev: move to netlify module
  docs/netlify.toml
  toolchains/docs-dev/README.md
  toolchains/docs-dev/main.go
Owners: @dagger/docs

modules/netlify: checkpoint split config/git/target wiring
  modules/netlify/config.dang
  modules/netlify/git.dang
  modules/netlify/netlify.dang
  modules/netlify/site.dang
  modules/netlify/target.dang
Owners: none

split up netlify files
  modules/netlify/config.dang
  modules/netlify/netlify.dang
  modules/netlify/site.dang
Owners: none

netlify: code golfing
  modules/docusaurus/docusaurus.dang
Owners: none

cmd/dagger: support workspace-target inference for call/check/generate/functions
  cmd/dagger/call.go
  cmd/dagger/call_target_args_test.go
  cmd/dagger/checks.go
  cmd/dagger/checks_test.go
  cmd/dagger/functions.go
  cmd/dagger/functions_test.go
  cmd/dagger/generators.go
  cmd/dagger/generators_test.go
  cmd/dagger/workspace_target_args.go
  hack/designs/workspace-binding-and-access-control.md
Owners: none

skills/dang-dagger-modules: enforce artifact-first architecture and maintenance rules
  skills/dang-dagger-modules/SKILL.md
Owners: none

skills/dang-dagger-modules: split syntax reference and refresh grammar guidance
  skills/dang-dagger-modules/SKILL.md
  skills/dang-dagger-modules/references/language.md
  skills/dang-dagger-modules/references/syntax.md
Owners: none

core/schema: filter workspace checks and generators by reparented paths
  core/schema/workspace.go
  core/schema/workspace_test.go
Owners: none

cmd/dagger: include workspace location in load-workspace span
  cmd/dagger/call.go
  cmd/dagger/functions.go
  cmd/dagger/mcp.go
  cmd/dagger/module_inspect.go
  cmd/dagger/module_inspect_test.go
Owners: none

engine/server: support fragment git refs in workspace binding
  engine/server/session.go
  engine/server/session_lock_test.go
Owners: none

chore: bump dependencies to v0.20.1
  docs/current_docs/partials/version.js
  helm/dagger/Chart.yaml
  sdk/go/engineconn/version.gen.go
  sdk/java/dagger-codegen-maven-plugin/pom.xml
  sdk/java/dagger-java-annotation-processor/pom.xml
  sdk/java/dagger-java-samples/pom.xml
  sdk/java/dagger-java-sdk/pom.xml
  sdk/java/pom.xml
  sdk/java/runtime/template/pom.xml
  sdk/php/src/Connection/version.php
  sdk/python/src/dagger/_engine/_version.py
  sdk/rust/Cargo.lock
  sdk/rust/Cargo.toml
  sdk/rust/crates/dagger-sdk/src/core/version.rs
  sdk/typescript/src/provisioning/default.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-java, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

chore: add release notes for v0.20.1
  .changes/unreleased/Added-20260225-122158.yaml
  .changes/unreleased/Added-20260226-110408.yaml
  .changes/unreleased/Breaking-20260303-164600.yaml
  .changes/unreleased/Changed-20260304-092004.yaml
  .changes/v0.20.1.md
  CHANGELOG.md
  helm/dagger/.changes/v0.20.1.md
  helm/dagger/CHANGELOG.md
  sdk/elixir/.changes/v0.20.1.md
  sdk/elixir/CHANGELOG.md
  sdk/go/.changes/v0.20.1.md
  sdk/go/CHANGELOG.md
  sdk/php/.changes/v0.20.1.md
  sdk/php/CHANGELOG.md
  sdk/python/.changes/v0.20.1.md
  sdk/python/CHANGELOG.md
  sdk/rust/.changes/v0.20.1.md
  sdk/rust/CHANGELOG.md
  sdk/typescript/.changes/v0.20.1.md
  sdk/typescript/CHANGELOG.md
Owners: @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

bump .next to next release version
  .changes/.next
Owners: none

dang skill: tighten setup and workspace path guidance
  skills/dang-dagger-modules/SKILL.md
  skills/dang-dagger-modules/references/editor-setup.md
  skills/dang-dagger-modules/references/examples/docusaurus/dagger.json
  skills/dang-dagger-modules/references/examples/docusaurus/docusaurus.dang
  skills/dang-dagger-modules/references/examples/markdownlint/dagger.json
  skills/dang-dagger-modules/references/examples/markdownlint/markdownlint.dang
  skills/dang-dagger-modules/references/language.md
Owners: none

dang skill: add Dagger module development guide
  skills/dang-dagger-modules/SKILL.md
  skills/dang-dagger-modules/references/language.md
Owners: none

dang skill: add nullable value handling guidance
  skills/dang-dagger-modules/SKILL.md
  skills/dang-dagger-modules/references/language.md
Owners: none

dang skill: add docusaurus and markdownlint examples
  skills/dang-dagger-modules/SKILL.md
  skills/dang-dagger-modules/references/examples/docusaurus/dagger.json
  skills/dang-dagger-modules/references/examples/docusaurus/docusaurus.dang
  skills/dang-dagger-modules/references/examples/markdownlint/dagger.json
  skills/dang-dagger-modules/references/examples/markdownlint/markdownlint.dang
Owners: none

dang skill: reference for editor setup
  skills/dang-dagger-modules/references/editor-setup.md
Owners: none

Update skills/dang-dagger-modules/SKILL.md
  skills/dang-dagger-modules/SKILL.md
Owners: none

Update skills/dang-dagger-modules/SKILL.md
  skills/dang-dagger-modules/SKILL.md
Owners: none

Update skills/dang-dagger-modules/SKILL.md
  skills/dang-dagger-modules/SKILL.md
Owners: none

Update skills/dang-dagger-modules/SKILL.md
  skills/dang-dagger-modules/SKILL.md
Owners: none

chore: fix new CVE in docker/cli on the engine
  go.mod
  go.sum
  lib/dagger/core/version.ex
Owners: none

Update skills/dang-dagger-modules/SKILL.md
  skills/dang-dagger-modules/SKILL.md
Owners: none

Update skills/dang-dagger-modules/SKILL.md
  skills/dang-dagger-modules/SKILL.md
Owners: none

Update skills/dang-dagger-modules/SKILL.md
  skills/dang-dagger-modules/SKILL.md
Owners: none

Update skills/dang-dagger-modules/references/language.md
  skills/dang-dagger-modules/references/language.md
Owners: none

wip
  util/llbtodagger/file.go
Owners: none

dang skill: apply remaining review feedback
  skills/dang-dagger-modules/SKILL.md
  skills/dang-dagger-modules/references/editor-setup.md
  skills/dang-dagger-modules/references/language.md
Owners: none

dang skill: align flow-sensitive null example wording
  skills/dang-dagger-modules/SKILL.md
Owners: none

workspace: quiet missing config reads and parallelize module resolves
  core/workspace/detect.go
  core/workspace/detect_test.go
  engine/server/session.go
  engine/server/session_lock_test.go
Owners: none

Added changie file
  .changes/unreleased/Changed-20260305-133838.yaml
Owners: none
