Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

mark toolchain commands as experimental
  cmd/dagger/module.go
Owners: none

chore: bump dependencies to v0.19.4
  docs/current_docs/partials/version.js
  helm/dagger/Chart.yaml
  sdk/elixir/lib/dagger/core/version.ex
  sdk/go/engineconn/version.gen.go
  sdk/java/dagger-codegen-maven-plugin/pom.xml
  sdk/java/dagger-java-annotation-processor/pom.xml
  sdk/java/dagger-java-samples/pom.xml
  sdk/java/dagger-java-sdk/pom.xml
  sdk/java/pom.xml
  sdk/java/runtime/template/pom.xml
  sdk/php/src/Connection/version.php
  sdk/python/src/dagger/_engine/_version.py
  sdk/rust/Cargo.lock
  sdk/rust/Cargo.toml
  sdk/rust/crates/dagger-sdk/src/core/version.rs
  sdk/typescript/src/provisioning/default.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-java, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

chore: add release notes for v0.19.4
  .changes/.next
  .changes/unreleased/Added-20251022-145836.yaml
  .changes/unreleased/Added-20251028-092807.yaml
  .changes/unreleased/Dependencies-20251030-123241.yaml
  .changes/unreleased/Fixed-20251029-010919.yaml
  .changes/v0.19.4.md
  CHANGELOG.md
  helm/dagger/.changes/v0.19.4.md
  helm/dagger/CHANGELOG.md
  sdk/elixir/.changes/v0.19.4.md
  sdk/elixir/CHANGELOG.md
  sdk/go/.changes/v0.19.4.md
  sdk/go/CHANGELOG.md
  sdk/php/.changes/v0.19.4.md
  sdk/php/CHANGELOG.md
  sdk/python/.changes/v0.19.4.md
  sdk/python/CHANGELOG.md
  sdk/rust/.changes/v0.19.4.md
  sdk/rust/CHANGELOG.md
  sdk/typescript/.changes/v0.19.4.md
  sdk/typescript/CHANGELOG.md
Owners: @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

chore: prep for v0.19.4 (#11333)
  .changes/.next
  .changes/unreleased/Added-20251022-145836.yaml
  .changes/unreleased/Added-20251028-092807.yaml
  .changes/unreleased/Dependencies-20251030-123241.yaml
  .changes/unreleased/Fixed-20251029-010919.yaml
  .changes/v0.19.4.md
  CHANGELOG.md
  docs/current_docs/partials/version.js
  helm/dagger/.changes/v0.19.4.md
  helm/dagger/CHANGELOG.md
  helm/dagger/Chart.yaml
  sdk/elixir/.changes/v0.19.4.md
  sdk/elixir/CHANGELOG.md
  sdk/elixir/lib/dagger/core/version.ex
  sdk/go/.changes/v0.19.4.md
  sdk/go/CHANGELOG.md
  sdk/go/engineconn/version.gen.go
  sdk/java/dagger-codegen-maven-plugin/pom.xml
  sdk/java/dagger-java-annotation-processor/pom.xml
  sdk/java/dagger-java-samples/pom.xml
  sdk/java/dagger-java-sdk/pom.xml
  sdk/java/pom.xml
  sdk/java/runtime/template/pom.xml
  sdk/php/.changes/v0.19.4.md
  sdk/php/CHANGELOG.md
  sdk/php/src/Connection/version.php
  sdk/python/.changes/v0.19.4.md
  sdk/python/CHANGELOG.md
  sdk/python/src/dagger/_engine/_version.py
  sdk/rust/.changes/v0.19.4.md
  sdk/rust/CHANGELOG.md
  sdk/rust/Cargo.lock
  sdk/rust/Cargo.toml
  sdk/rust/crates/dagger-sdk/src/core/version.rs
  sdk/typescript/.changes/v0.19.4.md
  sdk/typescript/CHANGELOG.md
  sdk/typescript/src/provisioning/default.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-java, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

test(ts): capture missing core enum default
  sdk/typescript/src/module/introspector/test/scan.spec.ts
  sdk/typescript/src/module/introspector/test/testdata/coreEnumDefault/expected.json
  sdk/typescript/src/module/introspector/test/testdata/coreEnumDefault/index.ts
Owners: @dagger/sdk-typescript

chore: improvements following review
  sdk/typescript/src/module/introspector/typescript_module/ast.ts
Owners: @dagger/sdk-typescript

fix(ts): retrieve property access defaults for core enums
  sdk/typescript/src/module/introspector/test/testdata/coreEnumDefault/index.ts
  sdk/typescript/src/module/introspector/typescript_module/ast.ts
Owners: @dagger/sdk-typescript

feat: add deprecated field to object field + Go SDK codegen
  cmd/codegen/generator/go/templates/module_objects.go
  core/object.go
  core/schema/module.go
  core/typedef.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

feat: add support to enum values / members and fields
  core/schema/coremod.go
  core/schema/module.go
  core/typedef.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

feat: add deprecated pragma on types
  core/object.go
  core/schema/module.go
  core/schema/modulesource.go
  core/typedef.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

chore: nit
  cmd/codegen/generator/go/templates/module_objects.go
Owners: none

feat: add deprecated pragma to functions and function arguments
  cmd/codegen/generator/go/templates/module_funcs.go
  cmd/codegen/introspection/introspection.go
  core/schema/coremod.go
  core/schema/module.go
  core/typedef.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

feat(ts-sdk): deprecated enum members + fixture regeneration
  sdk/typescript/src/module/entrypoint/register.ts
  sdk/typescript/src/module/introspector/dagger_module/enum.ts
  sdk/typescript/src/module/introspector/dagger_module/enumBase.ts
  sdk/typescript/src/module/introspector/test/testdata/deprecatedEnum/expected.json
  sdk/typescript/src/module/introspector/test/testdata/deprecatedEnum/index.ts
  sdk/typescript/src/module/introspector/test/testdata/references/expected.json
Owners: @dagger/sdk-typescript

codegen(go): treat deprecation as optional string
  cmd/codegen/generator/go/templates/module_enums.go
  cmd/codegen/generator/go/templates/module_funcs.go
  cmd/codegen/generator/go/templates/module_objects.go
  sdk/go/dagger.gen.go
Owners: @dagger/sdk-go

dagql(codegen): propagate nullable deprecation reasons
  cmd/codegen/introspection/introspection.go
  core/schema/module.go
  core/schema/modulesource.go
  core/schema/query.go
  core/typedef.go
  dagql/directives.go
  dagql/objects.go
Owners: none

codegen(go): wrap WithDeprecated in options struct
  cmd/codegen/generator/go/templates/module_funcs.go
Owners: none

chore: regenerate fixtures
  sdk/typescript/src/module/introspector/test/testdata/alias/expected.json
  sdk/typescript/src/module/introspector/test/testdata/constructor/expected.json
  sdk/typescript/src/module/introspector/test/testdata/deprecatedObject/expected.json
  sdk/typescript/src/module/introspector/test/testdata/enums/expected.json
  sdk/typescript/src/module/introspector/test/testdata/list/expected.json
  sdk/typescript/src/module/introspector/test/testdata/minimal/expected.json
  sdk/typescript/src/module/introspector/test/testdata/multipleObjectsAsFields/expected.json
  sdk/typescript/src/module/introspector/test/testdata/objectParam/expected.json
  sdk/typescript/src/module/introspector/test/testdata/references/expected.json
  sdk/typescript/src/module/introspector/test/testdata/state/expected.json
Owners: @dagger/sdk-typescript

sdk/python: support deprecated functions
  sdk/python/src/dagger/mod/_module.py
  sdk/python/src/dagger/mod/_resolver.py
  sdk/python/src/dagger/mod/_types.py
  sdk/python/tests/mod/test_registration.py
Owners: @dagger/sdk-python

sdk(python): support deprecated fields
  sdk/python/sdk/python/src/dagger/client/gen.py
  sdk/python/src/dagger/mod/_module.py
  sdk/python/src/dagger/mod/_types.py
  sdk/python/tests/mod/test_registration.py
Owners: @dagger/sdk-python

core(function.withDeprecated): rename the withDeprecated.deprecated arg to withDeprecated.reason
  cmd/codegen/generator/go/templates/module_funcs.go
  core/schema/module.go
  core/typedef.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Function_.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/function.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Function_.php
  sdk/python/src/dagger/client/gen.py
  sdk/python/src/dagger/mod/_module.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
  sdk/typescript/src/module/entrypoint/register.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

ts(fixtures): regenerate the fixtures, following the changes
  sdk/typescript/src/module/introspector/test/testdata/alias/expected.json
  sdk/typescript/src/module/introspector/test/testdata/constructor/expected.json
  sdk/typescript/src/module/introspector/test/testdata/context/expected.json
  sdk/typescript/src/module/introspector/test/testdata/coreEnums/expected.json
  sdk/typescript/src/module/introspector/test/testdata/deprecatedArgument/expected.json
  sdk/typescript/src/module/introspector/test/testdata/deprecatedEnum/expected.json
  sdk/typescript/src/module/introspector/test/testdata/deprecatedField/expected.json
  sdk/typescript/src/module/introspector/test/testdata/deprecatedFunction/expected.json
  sdk/typescript/src/module/introspector/test/testdata/deprecatedFunction/index.ts
  sdk/typescript/src/module/introspector/test/testdata/deprecatedObject/expected.json
  sdk/typescript/src/module/introspector/test/testdata/enums/expected.json
  sdk/typescript/src/module/introspector/test/testdata/helloWorld/expected.json
  sdk/typescript/src/module/introspector/test/testdata/interface/expected.json
  sdk/typescript/src/module/introspector/test/testdata/legacyEnumDecorator/expected.json
  sdk/typescript/src/module/introspector/test/testdata/list/expected.json
  sdk/typescript/src/module/introspector/test/testdata/minimal/expected.json
  sdk/typescript/src/module/introspector/test/testdata/multiArgs/expected.json
  sdk/typescript/src/module/introspector/test/testdata/multipleObjects/expected.json
  sdk/typescript/src/module/introspector/test/testdata/multipleObjectsAsFields/expected.json
  sdk/typescript/src/module/introspector/test/testdata/objectParam/expected.json
  sdk/typescript/src/module/introspector/test/testdata/optionalParameter/expected.json
  sdk/typescript/src/module/introspector/test/testdata/privateMethod/expected.json
  sdk/typescript/src/module/introspector/test/testdata/references/expected.json
  sdk/typescript/src/module/introspector/test/testdata/scalar/expected.json
  sdk/typescript/src/module/introspector/test/testdata/state/expected.json
  sdk/typescript/src/module/introspector/test/testdata/variadic/expected.json
  sdk/typescript/src/module/introspector/test/testdata/voidReturn/expected.json
Owners: @dagger/sdk-typescript

feat: register object and objectType
  sdk/typescript/src/module/entrypoint/register.ts
  sdk/typescript/src/module/introspector/dagger_module/object.ts
  sdk/typescript/src/module/introspector/dagger_module/objectBase.ts
  sdk/typescript/src/module/introspector/dagger_module/typeObject.ts
  sdk/typescript/src/module/introspector/test/scan.spec.ts
  sdk/typescript/src/module/introspector/test/testdata/deprecatedObject/expected.json
  sdk/typescript/src/module/introspector/test/testdata/deprecatedObject/index.ts
Owners: @dagger/sdk-typescript

ts(introspector): drop empty deprecation tags when scanning decorators
  sdk/typescript/src/api/client.gen.ts
  sdk/typescript/src/module/entrypoint/register.ts
  sdk/typescript/src/module/introspector/dagger_module/argument.ts
  sdk/typescript/src/module/introspector/dagger_module/enum.ts
  sdk/typescript/src/module/introspector/dagger_module/enumBase.ts
  sdk/typescript/src/module/introspector/dagger_module/enumClass.ts
  sdk/typescript/src/module/introspector/dagger_module/function.ts
  sdk/typescript/src/module/introspector/dagger_module/interfaceFunction.ts
  sdk/typescript/src/module/introspector/dagger_module/object.ts
  sdk/typescript/src/module/introspector/dagger_module/objectBase.ts
  sdk/typescript/src/module/introspector/dagger_module/property.ts
  sdk/typescript/src/module/introspector/dagger_module/typeObject.ts
  sdk/typescript/src/module/introspector/dagger_module/typeObjectProperty.ts
  sdk/typescript/src/module/introspector/typescript_module/ast.ts
Owners: @dagger/sdk-typescript

sdk/go(template): mark optional functionArgs as deprecated
  cmd/codegen/generator/go/templates/src/_types/object.go.tmpl
Owners: none

sdk/ts(template): deprecate function args
  cmd/codegen/generator/typescript/templates/src/testdata/type_test_args_deprecated_no_description_want.ts
  cmd/codegen/generator/typescript/templates/src/testdata/type_test_args_deprecated_want.ts
  cmd/codegen/generator/typescript/templates/src/type_test.go
  cmd/codegen/generator/typescript/templates/src/types.ts.gtpl
Owners: none

regernerate fixtures
  sdk/typescript/src/module/introspector/test/testdata/alias/expected.json
  sdk/typescript/src/module/introspector/test/testdata/constructor/expected.json
  sdk/typescript/src/module/introspector/test/testdata/context/expected.json
  sdk/typescript/src/module/introspector/test/testdata/coreEnums/expected.json
  sdk/typescript/src/module/introspector/test/testdata/enums/expected.json
  sdk/typescript/src/module/introspector/test/testdata/helloWorld/expected.json
  sdk/typescript/src/module/introspector/test/testdata/interface/expected.json
  sdk/typescript/src/module/introspector/test/testdata/list/expected.json
  sdk/typescript/src/module/introspector/test/testdata/minimal/expected.json
  sdk/typescript/src/module/introspector/test/testdata/multiArgs/expected.json
  sdk/typescript/src/module/introspector/test/testdata/multipleObjects/expected.json
  sdk/typescript/src/module/introspector/test/testdata/objectParam/expected.json
  sdk/typescript/src/module/introspector/test/testdata/optionalParameter/expected.json
  sdk/typescript/src/module/introspector/test/testdata/privateMethod/expected.json
  sdk/typescript/src/module/introspector/test/testdata/references/expected.json
  sdk/typescript/src/module/introspector/test/testdata/scalar/expected.json
  sdk/typescript/src/module/introspector/test/testdata/state/expected.json
  sdk/typescript/src/module/introspector/test/testdata/variadic/expected.json
  sdk/typescript/src/module/introspector/test/testdata/voidReturn/expected.json
Owners: @dagger/sdk-typescript

feat(ts-sdk): add AST helper returning symbol docs
  sdk/typescript/src/module/introspector/typescript_module/ast.ts
Owners: @dagger/sdk-typescript

feat(sdks): add interface function member deprecation
  core/integration/module_test.go
  core/interface.go
  core/moddeps.go
Owners: none

feat: add integration test
  core/integration/module_test.go
Owners: none

chore: fix python sdk linting issues
  sdk/python/sdk/python/src/dagger/client/gen.py
  sdk/python/src/dagger/client/gen.py
  sdk/python/src/dagger/mod/_module.py
  sdk/python/src/dagger/mod/_utils.py
Owners: @dagger/sdk-python

feat: properly parse enum members
  cmd/codegen/generator/go/templates/module_enums.go
Owners: none

feat: manually apply the deprecated directive on enums + have the go sdk generate the deprecated comment
  cmd/codegen/generator/go/templates/src/_types/enum.go.tmpl
  core/typedef.go
Owners: none

feat(ts-sdk): deprecated fields (class / obj / alias types)
  sdk/typescript/src/module/entrypoint/register.ts
  sdk/typescript/src/module/introspector/dagger_module/objectBase.ts
  sdk/typescript/src/module/introspector/dagger_module/property.ts
  sdk/typescript/src/module/introspector/dagger_module/typeObjectProperty.ts
  sdk/typescript/src/module/introspector/test/scan.spec.ts
  sdk/typescript/src/module/introspector/test/testdata/deprecatedField/expected.json
  sdk/typescript/src/module/introspector/test/testdata/deprecatedField/index.ts
Owners: @dagger/sdk-typescript

sdk(python): support deprecated arguments
  sdk/python/src/dagger/mod/__init__.py
  sdk/python/src/dagger/mod/_arguments.py
  sdk/python/src/dagger/mod/_module.py
  sdk/python/src/dagger/mod/_resolver.py
  sdk/python/src/dagger/mod/_utils.py
  sdk/python/tests/mod/test_registration.py
Owners: @dagger/sdk-python

chore: regenerate client.gen.ts
  cmd/codegen/generator/go/templates/module_enums.go
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/sdk-typescript

feat(ts-sdk): deprecated functionArguments
  sdk/typescript/src/module/entrypoint/register.ts
  sdk/typescript/src/module/introspector/dagger_module/argument.ts
  sdk/typescript/src/module/introspector/test/scan.spec.ts
  sdk/typescript/src/module/introspector/test/testdata/deprecatedArgument/expected.json
  sdk/typescript/src/module/introspector/test/testdata/deprecatedArgument/index.ts
Owners: @dagger/sdk-typescript

deprecate functions
  sdk/typescript/src/module/entrypoint/register.ts
  sdk/typescript/src/module/introspector/dagger_module/function.ts
  sdk/typescript/src/module/introspector/dagger_module/interfaceFunction.ts
  sdk/typescript/src/module/introspector/test/scan.spec.ts
  sdk/typescript/src/module/introspector/test/testdata/deprecatedFunction/expected.json
  sdk/typescript/src/module/introspector/test/testdata/deprecatedFunction/index.ts
Owners: @dagger/sdk-typescript

python(codegen): treat deprecation reasons as optional strings
  sdk/python/codegen/src/codegen/generator.py
Owners: @dagger/sdk-python

fix: ensure that __schemaJSONFile returns the deprecationReason
  cmd/codegen/generator/go/templates/functions.go
  core/schema/query.go
Owners: none

sdk(python): support deprecated object types
  sdk/python/src/dagger/client/gen.py
  sdk/python/src/dagger/mod/_module.py
  sdk/python/src/dagger/mod/_resolver.py
  sdk/python/tests/mod/test_registration.py
Owners: @dagger/sdk-python
