Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

test(engine): adapt teardown fixtures for v0.21
  engine/server/session_test.go
Owners: none

engine: support manual metadata pruning
  .changes/unreleased/Added-20260812-224458.yaml
  core/engine.go
  core/integration/localcache_test.go
  core/query.go
  core/schema/engine.go
  docs/current_docs/reference/configuration/cache.mdx
  docs/current_docs/reference/configuration/engine.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/EngineCache.html
  engine/server/gc.go
  engine/server/gc_test.go
  internal-docs/cache_pruning.md
  sdk/elixir/lib/dagger/gen/engine_cache.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/EngineCache.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

feat(sdk/rust): establish conformance foundations (#58)
  .kiro/specs/rust-sdk-conformance-security/tasks.md
  sdk/rust/completeness/artifacts/inventory.json
  sdk/rust/completeness/artifacts/ledger.json
  sdk/rust/completeness/artifacts/report.json
  sdk/rust/completeness/artifacts/report.md
  sdk/rust/completeness/artifacts/source-items.json
  sdk/rust/completeness/authorities.json
  sdk/rust/completeness/classifications.json
  sdk/rust/completeness/conformance-applicability.json
  sdk/rust/completeness/conformance-assertions.json
  sdk/rust/completeness/conformance-cases.json
  sdk/rust/completeness/conformance-scope.json
  sdk/rust/completeness/evidence/conformance-foundations-checkpoint.json
  sdk/rust/completeness/evidence/signoff-host-preflight.json
  sdk/rust/completeness/signoff-host-profile.json
  sdk/rust/crates/dagger-sdk-completeness/proptest-regressions/signoff-preflight.txt
  sdk/rust/crates/dagger-sdk-completeness/src/bin/dagger-rust-sdk-signoff.rs
  sdk/rust/crates/dagger-sdk-completeness/src/canonical.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/applicability.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/diagnostic.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/identifiers.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/mod.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/preflight.rs
  sdk/rust/crates/dagger-sdk-completeness/src/contract.rs
  sdk/rust/crates/dagger-sdk-completeness/src/feature_scope.rs
  sdk/rust/crates/dagger-sdk-completeness/src/lib.rs
  sdk/rust/crates/dagger-sdk-completeness/src/model.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/conformance_foundation.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/conformance_strategy_foundation.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/engine_integration.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/signoff_preflight_properties.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/support/conformance.rs
Owners: @dagger/sdk-rust

dagql: honor cancellation during metadata prune planning
  core/integration/localcache_test.go
  core/schema/engine.go
  dagql/cache.go
  dagql/cache_metadata_prune_test.go
  dagql/cache_prune.go
  docs/current_docs/reference/configuration/cache.mdx
  docs/current_docs/reference/configuration/engine.mdx
  docs/docs-graphql/schema.graphqls
  engine/server/gc_test.go
  internal-docs/cache_pruning.md
  sdk/go/dagger.gen.go
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

dagql: cancel dependency ordering during metadata prune
  dagql/cache_metadata_prune_test.go
  dagql/cache_prune.go
Owners: none

test: use project deploy tokens for GitLab (#13849)
  core/integration/cross_session_test.go
  core/integration/git_test.go
  core/integration/gitcredential_test.go
  core/integration/module_config_test.go
  core/integration/module_test.go
  core/integration/proxy_test.go
Owners: none

[backport-0.21] fix: hide registry HTTP probe errors (#13885)
  .changes/unreleased/Fixed-20260812-213333.yaml
  core/integration/cross_session_test.go
  core/integration/git_test.go
  core/integration/gitcredential_test.go
  core/integration/module_config_test.go
  core/integration/module_test.go
  core/integration/proxy_test.go
  dagql/dagui/opts.go
  dagql/dagui/spans.go
  dagql/idtui/testdata/TestTelemetry/TestGolden/docker-build-fail
  engine/server/resolver/resolver.go
Owners: none

test: use project deploy tokens for GitLab (#13849)
  core/integration/cross_session_test.go
  core/integration/git_test.go
  core/integration/gitcredential_test.go
  core/integration/module_config_test.go
  core/integration/module_test.go
  core/integration/proxy_test.go
Owners: none

test: use project deploy tokens for GitLab (#13849)
  core/integration/cross_session_test.go
  core/integration/git_test.go
  core/integration/gitcredential_test.go
  core/integration/module_config_test.go
  core/integration/module_test.go
  core/integration/proxy_test.go
Owners: none

[backport-0.21] engine: prune DAGQL cache by metadata size (#13886)
  .changes/unreleased/Fixed-20260812-213129.yaml
  cmd/engine/metrics.go
  core/integration/engine_test.go
  core/integration/localcache_test.go
  dagql/cache.go
  dagql/cache_debug.go
  dagql/cache_egraph.go
  dagql/cache_metadata_prune_benchmark_test.go
  dagql/cache_metadata_prune_test.go
  dagql/cache_prune.go
  dagql/cache_test.go
  docs/current_docs/reference/configuration/engine.mdx
  docs/design/metadata-memory-pruning.html
  docs/static/reference/engine.schema.json
  engine/config/config.go
  engine/server/gc.go
  engine/server/gc_test.go
  engine/server/server.go
  engine/server/session.go
  skills/cache-expert/references/cache_pruning.md
Owners: @dagger/docs

[backport-0.21] fix(engine): take session teardown off the client shutdown path (#13884)
  .changes/unreleased/Fixed-20260810-150651.yaml
  .changes/unreleased/Fixed-20260812-212429.yaml
  engine/server/server.go
  engine/server/session.go
  engine/server/session_test.go
Owners: none

feat(rust): compile exact SDK applicability review (#59)
  .kiro/specs/rust-sdk-conformance-security/tasks.md
  sdk/rust/completeness/conformance-applicability-audit.json
  sdk/rust/completeness/conformance-applicability-review.json
  sdk/rust/completeness/conformance-applicability.json
  sdk/rust/completeness/evidence/conformance-applicability-checkpoint.json
  sdk/rust/crates/dagger-sdk-completeness/src/bin/dagger-conformance-applicability.rs
  sdk/rust/crates/dagger-sdk-completeness/src/canonical.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/applicability.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/applicability_review.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/identifiers.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/mod.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/conformance_applicability.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/conformance_applicability_properties.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/conformance_foundation.rs
Owners: @dagger/sdk-rust

feat(rust): compile conformance case catalog (#60)
  .kiro/specs/rust-sdk-conformance-security/tasks.md
  sdk/rust/completeness/conformance-assertions.json
  sdk/rust/completeness/conformance-cases.json
  sdk/rust/completeness/conformance-catalog-audit.json
  sdk/rust/completeness/conformance-closure-plan.json
  sdk/rust/completeness/conformance-fixtures.json
  sdk/rust/completeness/evidence/conformance-catalog-checkpoint.json
  sdk/rust/crates/dagger-sdk-completeness/src/bin/dagger-conformance-catalog.rs
  sdk/rust/crates/dagger-sdk-completeness/src/canonical.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/assertion.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/case_catalog.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/closure.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/identifiers.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/mod.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/planning.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/conformance_applicability.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/conformance_catalog.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/conformance_closure.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/conformance_foundation.rs
Owners: @dagger/sdk-rust

feat(rust): close platform and security policy (#61)
  .github/dependabot.yml
  .github/workflows/rust-sdk-platform.yml
  .github/workflows/rust-sdk-security.yml
  .kiro/specs/rust-sdk-conformance-security/tasks.md
  sdk/rust/Cargo.lock
  sdk/rust/completeness/conformance-cases.json
  sdk/rust/completeness/conformance-catalog-audit.json
  sdk/rust/completeness/evidence/conformance-platform-security-checkpoint.json
  sdk/rust/completeness/harness-mappings.json
  sdk/rust/completeness/security-provenance.json
  sdk/rust/crates/dagger-sdk-completeness/Cargo.toml
  sdk/rust/crates/dagger-sdk-completeness/src/bin/dagger-conformance-security-policy.rs
  sdk/rust/crates/dagger-sdk-completeness/src/bin/dagger-rust-sdk-platform.rs
  sdk/rust/crates/dagger-sdk-completeness/src/canonical.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/mod.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/platform.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/security.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/platform_matrix_properties.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/security_repository_policy.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/signoff_security_properties.rs
  sdk/rust/crates/dagger-sdk/src/core/downloader.rs
  sdk/rust/crates/dagger-sdk/src/source_foundation_tests.rs
Owners: @dagger/sdk-rust

ci: unpin helm from the retired wolfi helm 3.x package
  .dagger/modules/release/helm.go
  dagger.toml
  docs/current_docs/modules/helm.mdx
  e2e/helm/helm_test.go
Owners: @dagger/docs

ci: unpin helm from the retired wolfi helm 3.x package
  .dagger/modules/release/helm.go
  dagger.toml
  docs/current_docs/modules/helm.mdx
  e2e/helm/helm_test.go
Owners: @dagger/docs

feat(rust): add exact artifact and preflight boundaries (#62)
  .github/workflows/rust-sdk-platform.yml
  .github/workflows/rust-sdk-security.yml
  .github/workflows/rust-sdk-windows-preflight.yml
  .kiro/specs/rust-sdk-conformance-security/tasks.md
  sdk/rust/CONTRIBUTING.md
  sdk/rust/Cargo.lock
  sdk/rust/completeness/artifacts/client-generation-report.json
  sdk/rust/completeness/evidence/client-generation-closure-observation.json
  sdk/rust/completeness/evidence/client-generation-closure.json
  sdk/rust/completeness/evidence/conformance-artifact-security-checkpoint.json
  sdk/rust/completeness/evidence/conformance-platform-security-checkpoint.json
  sdk/rust/completeness/harness-mappings.json
  sdk/rust/crates/dagger-sdk-completeness/Cargo.toml
  sdk/rust/crates/dagger-sdk-completeness/proptest-regressions/signoff-artifact.txt
  sdk/rust/crates/dagger-sdk-completeness/src/bin/dagger-rust-sdk-signoff.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/artifact.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/identifiers.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/mod.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/security.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/artifact_scanner_fixture.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/client_generation_evidence.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/fixtures/artifact-scanner-observation.json
  sdk/rust/crates/dagger-sdk-completeness/tests/fixtures/small-oci-canary.tar.base64
  sdk/rust/crates/dagger-sdk-completeness/tests/fixtures/small-oci-layout.json
  sdk/rust/crates/dagger-sdk-completeness/tests/initial_baseline.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/security_repository_policy.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/signoff_artifact_properties.rs
  sdk/rust/crates/dagger-sdk-engine/tests/packaging_properties.rs
  sdk/rust/scripts/ci-platform-preflight.sh
  sdk/rust/scripts/ci-security-preflight.sh
  toolchains/engine-dev/main.go
  toolchains/rust-sdk-dev/internal/dagger/dagger-engine.gen.go
  toolchains/rust-sdk-dev/internal/enginefree/main_test.go
  toolchains/rust-sdk-dev/internal/signoff/graph_test.go
  toolchains/rust-sdk-dev/signoff.go
  toolchains/security/main.dang
Owners: @dagger/sdk-rust

feat(rust): add exact sign-off execution (#63)
  .kiro/specs/rust-sdk-conformance-security/tasks.md
  sdk/rust/CONTRIBUTING.md
  sdk/rust/ENGINE_INTEGRATION.md
  sdk/rust/completeness/evidence/conformance-baseline-executor-checkpoint.json
  sdk/rust/completeness/harness-mappings.json
  sdk/rust/crates/dagger-sdk-completeness/src/canonical.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/case_catalog.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/execution.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/mod.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/program_registry.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/initial_baseline.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/signoff_execution_properties.rs
  sdk/rust/crates/dagger-sdk/tests/signoff_program_fixture_compile.rs
  toolchains/rust-sdk-dev/internal/enginefree/main_test.go
  toolchains/rust-sdk-dev/internal/signoff/cases.go
  toolchains/rust-sdk-dev/internal/signoff/catalog.go
  toolchains/rust-sdk-dev/internal/signoff/catalog_test.go
  toolchains/rust-sdk-dev/internal/signoff/graph_test.go
  toolchains/rust-sdk-dev/internal/signoff/observation.go
  toolchains/rust-sdk-dev/internal/signoff/observation_test.go
  toolchains/rust-sdk-dev/main.go
  toolchains/rust-sdk-dev/signoff.go
  toolchains/rust-sdk-dev/testdata/core_conformance.rs
Owners: @dagger/sdk-rust

Add missing view gates
  core/schema/container.go
  core/schema/llm.go
  core/schema/module.go
  core/schema/testdata/base_schema.graphqls
Owners: none

feat(rust): complete Feature 8 conformance policy models (#64)
  .kiro/specs/rust-sdk-conformance-security/tasks.md
  sdk/rust/completeness/conformance-cases.json
  sdk/rust/completeness/conformance-catalog-audit.json
  sdk/rust/completeness/conformance-observable-programs.json
  sdk/rust/completeness/evidence/conformance-policy-execution-checkpoint.json
  sdk/rust/crates/dagger-sdk-completeness/src/bin/dagger-conformance-catalog.rs
  sdk/rust/crates/dagger-sdk-completeness/src/canonical.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/diagnostic.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/execution.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/mod.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/observable.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/verdict.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/conformance_observable_properties.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/signoff_verdict_properties.rs
  sdk/rust/crates/dagger-sdk-engine/src/canonical.rs
  sdk/rust/crates/dagger-sdk-engine/src/checkpoint.rs
  sdk/rust/crates/dagger-sdk-engine/src/lib.rs
  sdk/rust/crates/dagger-sdk-engine/tests/conformance_checkpoint_properties.rs
  toolchains/rust-sdk-dev/internal/signoff/cases.go
  toolchains/rust-sdk-dev/internal/signoff/catalog.go
  toolchains/rust-sdk-dev/internal/signoff/observable.go
  toolchains/rust-sdk-dev/internal/signoff/observable_test.go
Owners: @dagger/sdk-rust

engine: support manual metadata pruning (#13887)
  .changes/unreleased/Added-20260812-224458.yaml
  core/engine.go
  core/integration/localcache_test.go
  core/query.go
  core/schema/engine.go
  dagql/cache.go
  dagql/cache_metadata_prune_test.go
  dagql/cache_prune.go
  docs/current_docs/reference/configuration/cache.mdx
  docs/current_docs/reference/configuration/engine.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/EngineCache.html
  engine/server/gc.go
  engine/server/gc_test.go
  internal-docs/cache_pruning.md
  sdk/elixir/lib/dagger/gen/engine_cache.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/EngineCache.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

docs(rust): define exact release handoff (#65)
  .kiro/specs/rust-sdk-client-generation/design.md
  .kiro/specs/rust-sdk-client-generation/requirements.md
  .kiro/specs/rust-sdk-client-lifecycle/design.md
  .kiro/specs/rust-sdk-complete-implementation/requirements.md
  .kiro/specs/rust-sdk-conformance-security/design.md
  .kiro/specs/rust-sdk-conformance-security/requirements.md
  .kiro/specs/rust-sdk-conformance-security/tasks.md
  .kiro/specs/rust-sdk-core-codegen/design.md
  .kiro/specs/rust-sdk-core-codegen/requirements.md
  .kiro/specs/rust-sdk-engine-integration/design.md
  .kiro/specs/rust-sdk-engine-integration/requirements.md
  .kiro/specs/rust-sdk-module-authoring/design.md
  .kiro/specs/rust-sdk-module-authoring/requirements.md
  .kiro/specs/rust-sdk-transport-observability/design.md
  sdk/rust/completeness/artifacts/inventory.json
  sdk/rust/completeness/artifacts/ledger.json
  sdk/rust/completeness/artifacts/report.json
  sdk/rust/completeness/artifacts/report.md
  sdk/rust/completeness/artifacts/source-items.json
  sdk/rust/completeness/authorities.json
  sdk/rust/crates/dagger-sdk-completeness/tests/initial_baseline.rs
Owners: @dagger/sdk-rust

docs: clarify engine memory pruning configuration
  docs/current_docs/reference/configuration/cache.mdx
  docs/current_docs/reference/configuration/engine.mdx
Owners: @dagger/docs

Add missing view gates (#13894)
  core/schema/container.go
  core/schema/llm.go
  core/schema/module.go
  core/schema/testdata/base_schema.graphqls
Owners: none

core: preserve floating engine versions
  core/integration/module_config_test.go
  core/modulesource.go
  core/schema/modulesource.go
Owners: none

core: add Workspace.findRoots
  core/integration/workspace_find_roots_test.go
  core/schema/workspace.go
Owners: none

fix: drop ReadHeaderTimeout on HTTP/2 servers
  cmd/engine/main.go
  engine/engineutil/executor_spec.go
  internal/cmd/dagger/listen.go
Owners: none

fix: drop ReadHeaderTimeout on HTTP/2 servers (#13896)
  cmd/engine/main.go
  engine/engineutil/executor_spec.go
  internal/cmd/dagger/listen.go
Owners: none

core: scope SDK modules to the workspace cwd
  core/schema/module.go
  core/schema/module_as_sdk.go
  core/schema/module_as_sdk_test.go
Owners: none

core: cover workspace module source compatibility
  core/integration/contextual_workspace_test.go
  core/integration/testdata/workspaces/module-source-local-deps/.dagger/modules/repro/dagger.json
  core/integration/testdata/workspaces/module-source-local-deps/.dagger/modules/repro/main.dang
  core/integration/testdata/workspaces/module-source-local-deps/dagger.toml
  core/integration/testdata/workspaces/module-source-local-deps/dep/dagger.json
  core/integration/testdata/workspaces/module-source-local-deps/dep/main.dang
  core/integration/testdata/workspaces/module-source-local-deps/main/dagger.json
  core/integration/testdata/workspaces/module-source-local-deps/main/main.dang
  core/schema/modulesource.go
Owners: none

chore: regenerate workspace APIs
  core/modulesource.go
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/CurrentModuleAsSDK.html
  docs/static/reference/php/Dagger/Workspace.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/current_module_as_sdk.ex
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/Helpers.java
  sdk/php/generated/CurrentModuleAsSDK.php
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-java, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

docs: refresh generated GraphQL schema
  docs/docs-graphql/schema.graphqls
Owners: @dagger/docs

feat(rust): bind conformance realizations to checked runner (#67)
  .kiro/specs/rust-sdk-conformance-security/tasks.md
  sdk/rust/completeness/README.md
  sdk/rust/completeness/conformance-catalog-audit.json
  sdk/rust/completeness/conformance-scenario-realizations.json
  sdk/rust/crates/dagger-sdk-completeness/Cargo.toml
  sdk/rust/crates/dagger-sdk-completeness/src/bin/dagger-conformance-catalog.rs
  sdk/rust/crates/dagger-sdk-completeness/src/canonical.rs
  sdk/rust/crates/dagger-sdk-completeness/src/conformance/scenario.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/conformance_foundation.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/conformance_observable_properties.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/conformance_scenario_runner_compile.rs
  toolchains/rust-sdk-dev/internal/signoff/cases.go
  toolchains/rust-sdk-dev/internal/signoff/graph_test.go
  toolchains/rust-sdk-dev/internal/signoff/observable.go
  toolchains/rust-sdk-dev/internal/signoff/realizations.go
  toolchains/rust-sdk-dev/internal/signoff/realizations_test.go
  toolchains/rust-sdk-dev/signoff.go
  toolchains/rust-sdk-dev/testdata/scenario_conformance.rs
Owners: @dagger/sdk-rust

fix: preserve container identity for registry auth
  core/integration/container_test.go
  core/schema/container.go
Owners: none

fix(container): preserve cache identity through registry auth
  .changes/unreleased/Fixed-20260814-203258.yaml
  core/container.go
  core/container_from_test.go
  core/integration/container_test.go
  core/schema/container.go
  core/schema/container_internal_test.go
Owners: none

chore: link registry auth change note to PR
  .changes/unreleased/Fixed-20260814-203258.yaml
Owners: none

fix: pin latest engine version in module configs
  core/integration/module_config_test.go
  core/integration/workspace_modules_test.go
  core/modulesource.go
  core/schema/modulesource.go
  core/schema/workspace_module_init.go
Owners: none

fix(container): preserve cache identity through registry auth (#13901)
  .changes/unreleased/Fixed-20260814-203258.yaml
  core/container.go
  core/container_from_test.go
  core/integration/container_test.go
  core/schema/container.go
  core/schema/container_internal_test.go
Owners: none

fix(container): preserve cache identity through registry auth
  .changes/unreleased/Fixed-20260814-203258.yaml
  core/container.go
  core/container_from_test.go
  core/integration/container_test.go
  core/schema/container.go
  core/schema/container_internal_test.go
Owners: none

chore: link registry auth change note to PR
  .changes/unreleased/Fixed-20260814-203258.yaml
Owners: none
