Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

core: add GitCommit release tag fields
  core/git.go
  core/integration/git_test.go
  core/schema/git.go
  core/schema/git_release_tag_test.go
Owners: none

expand changie
  .changes/unreleased/Added-20260726-183000.yaml
  .changes/unreleased/Breaking-20260726-183001.yaml
  .changes/unreleased/Deprecated-20260726-183002.yaml
Owners: none

core/integration: cover releaseTag with a dead remote
  core/integration/git_test.go
Owners: none

core/integration: use non-deprecated GitRef fields
  core/integration/engine_persistence_test.go
  core/integration/git_test.go
  core/integration/lockfile_test.go
  core/integration/module_path_inputs_test.go
  core/integration/workspace_synthetic_test.go
Owners: none

core: clean up GitCommit implementation
  core/git.go
  core/schema/git.go
Owners: none

core: add GitCommit type
  core/git.go
  core/git_commit_test.go
  core/ids.go
  core/integration/cross_session_test.go
  core/integration/git_test.go
  core/schema/git.go
Owners: none

core: refresh commit release tags each session
  core/integration/git_test.go
  core/schema/git.go
Owners: none

core: version-gate the new git commit APIs
  core/schema/git.go
Owners: none

core: cover workspace log commit trees
  core/integration/workspace_api_test.go
Owners: none

feat(sdk/rust): complete transition and reporting contract (#12)
  .kiro/specs/rust-sdk-completeness-contract/tasks.md
  sdk/rust/Cargo.lock
  sdk/rust/crates/dagger-sdk-completeness/Cargo.toml
  sdk/rust/crates/dagger-sdk-completeness/proptest-regressions/transition-reporting.txt
  sdk/rust/crates/dagger-sdk-completeness/src/cli.rs
  sdk/rust/crates/dagger-sdk-completeness/src/compatibility.rs
  sdk/rust/crates/dagger-sdk-completeness/src/io.rs
  sdk/rust/crates/dagger-sdk-completeness/src/lib.rs
  sdk/rust/crates/dagger-sdk-completeness/src/main.rs
  sdk/rust/crates/dagger-sdk-completeness/src/model.rs
  sdk/rust/crates/dagger-sdk-completeness/src/report.rs
  sdk/rust/crates/dagger-sdk-completeness/src/transition.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/support/contract_case.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/support/mod.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/support/models.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/transition_reporting.rs
Owners: @dagger/sdk-rust

feat(schema): require workspace arg on asSDK (#13845)
  core/integration/generators_test.go
  core/schema/module.go
  core/schema/module_as_sdk.go
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/CurrentModule.html
  sdk/elixir/lib/dagger/gen/current_module.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/CurrentModule.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

docs(rust): specify owned client lifecycle (#14)
  .kiro/specs/rust-sdk-client-lifecycle/design.md
  .kiro/specs/rust-sdk-client-lifecycle/requirements.md
  .kiro/specs/rust-sdk-client-lifecycle/tasks.md
Owners: none

feat(sdk/rust): establish Feature 2 contract scope (#15)
  .kiro/specs/rust-sdk-client-lifecycle/design.md
  .kiro/specs/rust-sdk-client-lifecycle/requirements.md
  .kiro/specs/rust-sdk-client-lifecycle/tasks.md
  sdk/rust/Cargo.lock
  sdk/rust/Cargo.toml
  sdk/rust/completeness/README.md
  sdk/rust/completeness/artifacts/inventory.json
  sdk/rust/completeness/artifacts/ledger.json
  sdk/rust/completeness/artifacts/report.json
  sdk/rust/completeness/artifacts/report.md
  sdk/rust/completeness/artifacts/source-items.json
  sdk/rust/completeness/authorities.json
  sdk/rust/completeness/classifications.json
  sdk/rust/completeness/harness-mappings.json
  sdk/rust/crates/dagger-sdk-completeness/proptest-regressions/feature-scope.txt
  sdk/rust/crates/dagger-sdk-completeness/src/classification.rs
  sdk/rust/crates/dagger-sdk-completeness/src/contract.rs
  sdk/rust/crates/dagger-sdk-completeness/src/lib.rs
  sdk/rust/crates/dagger-sdk-completeness/src/model.rs
  sdk/rust/crates/dagger-sdk-completeness/src/traceability.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/feature_scope.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/initial_baseline.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/ledger_harness.rs
  sdk/rust/crates/dagger-sdk-completeness/tests/support/contract_case.rs
  sdk/rust/crates/dagger-sdk/Cargo.toml
  sdk/rust/crates/dagger-sdk/proptest-regressions/client-lifecycle.txt
  sdk/rust/crates/dagger-sdk/tests/mod.rs
  sdk/rust/crates/dagger-sdk/tests/support/mod.rs
Owners: @dagger/sdk-rust

feat(llm): installable agent plugins
  cmd/codegen/generator/go/templates/module_funcs.go
  core/agents.go
  core/llm_object_tools.go
  core/modtree.go
  core/module.go
  core/schema/agents.go
  core/schema/coremod.go
  core/schema/module.go
  core/schema/workspace.go
  core/sdk/dang/v1/helpers.go
  core/sdk/dang/v2/helpers.go
  core/typedef.go
  docs/current_docs/reference/cli/index.mdx
  internal/cmd/dagger/agent.go
  internal/cmd/dagger/main.go
Owners: @dagger/docs

test: cover agent discovery and composition
  core/integration/agents_test.go
  core/integration/testdata/agents/badagent/dagger.json
  core/integration/testdata/agents/badagent/main.dang
  core/integration/testdata/agents/editor/dagger.json
  core/integration/testdata/agents/editor/main.dang
  core/integration/testdata/agents/godoc/dagger.json
  core/integration/testdata/agents/godoc/main.dang
  core/integration/testdata/agents/nested/dagger.json
  core/integration/testdata/agents/nested/main.dang
Owners: none

feat(sdk): add agent to Python and TypeScript
  cmd/codegen/generator/typescript/templates/entrypoint_functions.go
  cmd/codegen/generator/typescript/templates/entrypoint_typedef.go
  core/integration/agents_test.go
  core/integration/testdata/agents/editor-py/.gitattributes
  core/integration/testdata/agents/editor-py/.gitignore
  core/integration/testdata/agents/editor-py/dagger.json
  core/integration/testdata/agents/editor-py/pyproject.toml
  core/integration/testdata/agents/editor-py/src/editor_py/__init__.py
  core/integration/testdata/agents/editor-py/src/editor_py/main.py
  core/integration/testdata/agents/editor-ts/.gitattributes
  core/integration/testdata/agents/editor-ts/.gitignore
  core/integration/testdata/agents/editor-ts/dagger.json
  core/integration/testdata/agents/editor-ts/package.json
  core/integration/testdata/agents/editor-ts/src/index.ts
  core/integration/testdata/agents/editor-ts/tsconfig.json
  sdk/python/src/dagger/mod/__init__.py
  sdk/python/src/dagger/mod/_module.py
  sdk/python/src/dagger/mod/_resolver.py
  sdk/python/src/dagger/mod/_types.py
  sdk/typescript/runtime/tsutils/module/core.d.ts
  sdk/typescript/runtime/tsutils/module/index.ts
  sdk/typescript/src/module/decorators.ts
  sdk/typescript/src/module/entrypoint/register.ts
  sdk/typescript/src/module/introspector/dagger_module/decorator.ts
  sdk/typescript/src/module/introspector/dagger_module/function.ts
  sdk/typescript/src/module/introspector/test/testdata/decorators/expected.json
  sdk/typescript/src/module/introspector/test/testdata/decorators/index.ts
  sdk/typescript/src/module/introspector/typedef_json.ts
  sdk/typescript/src/module/registry.ts
Owners: @dagger/sdk-python, @dagger/sdk-typescript

fix(llm): bind the group workspace to compose seed
  core/integration/agents_test.go
  core/integration/testdata/agents/wsaware/dagger.json
  core/integration/testdata/agents/wsaware/main.dang
  core/schema/agents.go
Owners: none

appease linter
  core/module.go
Owners: none

docs: replace pragma guides with a skill
  .contributing/adding-pragmas.md
  .contributing/python-decorator-guide.md
  .contributing/typescript-pragma-decorator-guide.md
  skills/adding-pragmas/SKILL.md
Owners: none

fix markdownlints
  skills/adding-pragmas/SKILL.md
Owners: none

feat(cli): rework the dagger agent session UX
  .changes/unreleased/Added-20260722-000000.yaml
  dagql/dagui/db.go
  dagql/dagui/llm_token_metrics_test.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/statusline.go
  docs/current_docs/reference/cli/index.mdx
  internal/cmd/dagger/agent.go
  internal/cmd/dagger/functions.go
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/shell.go
  internal/cmd/dagger/shell_commands.go
  internal/cmd/dagger/token_format_test.go
Owners: @dagger/docs

feat(cli): tell the model about restore-time conflict markers
  internal/cmd/dagger/llm.go
Owners: none

feat(tui): surface LLM conversations like checks
  dagql/dagui/conversation.go
  dagql/dagui/conversation_test.go
  dagql/dagui/db.go
  dagql/idtui/conversation_report.go
  dagql/idtui/conversation_report_test.go
  dagql/idtui/frontend_pretty.go
  internal/cmd/dagger/agent.go
Owners: none

feat(tui): simpler agent prompt input UI
  dagql/idtui/frontend_pretty.go
  dagql/idtui/prompt_frame.go
  dagql/idtui/prompt_frame_test.go
  internal/cmd/dagger/shell.go
  skills/tui-qa/SKILL.md
Owners: none

chore(dev): update the tui-qa module
  modules/tui-qa/main.dang
Owners: none

engine-lab, tui-qa: use skills instead
  .dagger/modules/engine-lab/main.dang
  .dagger/modules/engine-lab/skills/engine-lab/SKILL.md
  .dagger/modules/tui-qa/main.dang
  .dagger/modules/tui-qa/skills/tui-qa/SKILL.md
Owners: none

core(llm): namespace tools when names collide
  core/agents.go
  core/integration/agents_test.go
  core/llm_object_tools.go
  core/mcp.go
  hack/designs/workspace-agents.md
Owners: none

dagger: add dev env with some agent modules
  .dagger/modules/engine-lab/dagger-module.toml
  .dagger/modules/engine-lab/main.dang
  .dagger/modules/tui-qa/dagger-module.toml
  .dagger/modules/tui-qa/main.dang
  dagger.lock
  dagger.toml
  modules/tui-qa/dagger.json
Owners: none

feat(tui): crop transcript content at focus
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_pretty_test.go
  dagql/idtui/notification.go
  dagql/idtui/notification_test.go
  dagql/idtui/toolargs_render.go
  dagql/idtui/toolargs_test.go
  modules/tui-qa/dagger.json
  modules/tui-qa/main.dang
Owners: none

chore(dev): add tui-surfacing skill and tui-qa
  internal/cmd/dagger/shell.go
  modules/tui-qa/dagger.json
  modules/tui-qa/main.dang
  skills/tui-qa/SKILL.md
  skills/tui-surfacing/SKILL.md
Owners: none

feat(cli): interactive model selection
  core/llm.go
  dagql/idtui/vterm.go
  go.mod
  go.sum
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/shell_commands.go
  modules/tui-qa/main.dang
Owners: none

bump dang for .sync fix
  go.mod
  go.sum
Owners: none

feat(cli): agent session controls
  dagql/idtui/conversation_report.go
  dagql/idtui/frontend.go
  dagql/idtui/toolargs_render.go
  dagql/idtui/toolargs_test.go
  internal/cmd/dagger/functions.go
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/shell.go
  internal/cmd/dagger/shell_commands.go
Owners: none

feat(tui): add a status line and context meter
  core/llm.go
  core/mcp.go
  dagql/dagui/spans.go
  dagql/dagui/spans_test.go
  dagql/idtui/conversation_report_test.go
  dagql/idtui/frontend.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/statusline.go
  dagql/idtui/statusline_test.go
  dagql/idtui/tokens_test.go
  dagql/idtui/vterm.go
  engine/telemetryattrs/attrs.go
  internal/cmd/dagger/llm.go
  internal/cmd/dagger/shell.go
  internal/cmd/dagger/shell_test.go
Owners: none

feat(tui): render conversations as transcripts
  core/llm.go
  core/llm_display.go
  dagql/dagui/conversation.go
  dagql/dagui/conversation_test.go
  dagql/dagui/spans.go
  dagql/dagui/types.go
  dagql/idtui/conversation_report_test.go
  dagql/idtui/frontend_pretty.go
  dagql/idtui/frontend_pretty_test.go
  dagql/idtui/frontend_tests.go
  dagql/idtui/statusline.go
  internal/cmd/dagger/shell.go
  skills/tui-surfacing/SKILL.md
Owners: none

dagql/idtui: fix sub-agent conversation report test
  dagql/idtui/conversation_report_test.go
Owners: none

appease linter
  dagql/idtui/frontend_pretty_test.go
  dagql/idtui/prompt_frame_test.go
  engine/telemetryattrs/attrs.go
  internal/cmd/dagger/llm.go
Owners: none

core(agent): guard against module-local LLM type
  core/module.go
Owners: none

regen docs index
  docs/current_docs/reference/cli/index.mdx
Owners: @dagger/docs

fix(idtui): show waiting suffix in live durations
  dagql/idtui/frontend.go
  dagql/idtui/frontend_pretty.go
Owners: none

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs
