Repository dagger/dagger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dagger/sdk-go, @dagger/sdk-python, @dagger/sdk-typescript, @dagger/sdk-rust, @dagger/sdk-elixir, @dagger/sdk-dotnet, @dagger/sdk-java, @dagger/sdk-php, @dagger/docs

.github/CODEOWNERS:

/sdk/go/ @dagger/sdk-go
/sdk/python/ @dagger/sdk-python
/sdk/typescript/ @dagger/sdk-typescript
/sdk/rust/ @dagger/sdk-rust
/sdk/elixir/ @dagger/sdk-elixir
/sdk/dotnet/ @dagger/sdk-dotnet
/sdk/java/ @dagger/sdk-java
/sdk/php/ @dagger/sdk-php
/docs/ @dagger/docs

Reuse the shared SDK scope generation function
  core/schema/workspace_sdk_generator.go
Owners: none

Require source references for module clients
  core/integration/generators_test.go
  core/integration/module_client_scope_test.go
  core/integration/workspace_sdk_cli_test.go
  core/schema/modulesource.go
  core/schema/workspace.go
  core/schema/workspace_client.go
  core/schema/workspace_sdk.go
  core/schema/workspace_sdk_client_update_test.go
  core/schema/workspace_sdk_generator.go
  core/schema/workspace_sdk_module.go
  core/schema/workspace_sdk_test.go
  core/workspace/sdk_scopes_test.go
  docs/current_docs/reference/cli/index.mdx
  docs/current_docs/reference/client-libraries/index.mdx
  docs/current_docs/reference/config-files/dagger-toml.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Workspace.html
  future/cli-1.0.md
  future/module-client-sdk-selection.md
  future/module-max-review-fixes.md
  internal/cmd/dagger/module_sdk.go
  sdk/elixir/lib/dagger/gen/workspace.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Workspace.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

Select nullable fields into a Nullable destination
  dagql/nullable_select_test.go
  dagql/nullables.go
  dagql/objects.go
Owners: none

Preserve Workspace through SDK generation and export
  core/generator_workspace.go
  core/generators.go
  core/integration/generators_test.go
  core/schema/generators.go
  core/schema/workspace_sdk_generator.go
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/GeneratorGroup.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  internal/cmd/dagger/functions.go
  internal/cmd/dagger/generators.go
  internal/cmd/dagger/module_sdk.go
  sdk/elixir/lib/dagger/gen/generator_group.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/GeneratorGroup.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

Remove unused generator module state
  core/generators.go
Owners: none

Parse parent flags before SDK setting flags
  internal/cmd/dagger/capabilities.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/module_sdk_dynamic.go
  internal/cmd/dagger/module_sdk_test.go
Owners: none

Keep scope records when removing module clients
  core/integration/module_client_scope_test.go
  core/schema/workspace_sdk_module.go
Owners: none

Reconcile equivalent SDK scope paths before use and writes
  core/integration/module_client_scope_test.go
  core/schema/modulesource.go
  core/schema/workspace_builders.go
  core/schema/workspace_config.go
  core/schema/workspace_sdk_module.go
  core/workspace/sdk_scopes.go
  core/workspace/sdk_scopes_test.go
  engine/server/session_workspaces.go
  internal/cmd/dagger/sdk.go
  internal/cmd/dagger/sdk_test.go
Owners: none

Remove obsolete ModuleManifest API artifacts
  core/integration/testdata/workspaces/sdk-scope-generation/.dagger/modules/scope-sdk/main.dang
  core/schema/testdata/base_schema.graphqls
  docs/static/reference/php/Dagger.html
  docs/static/reference/php/Dagger/ModuleManifest.html
  docs/static/reference/php/classes.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  docs/static/reference/php/doctum.js
  docs/static/reference/php/traits.html
  sdk/elixir/lib/dagger/gen/module_manifest.ex
  sdk/php/generated/ModuleManifest.php
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-php

Record the decision to keep core scope names
  future/module-max-review-fixes.md
Owners: none

Infer unnamed module scopes at generation time
  core/integration/generators_test.go
  core/integration/workspace_sdk_cli_test.go
  core/schema/workspace_sdk.go
  core/schema/workspace_sdk_generator.go
  core/schema/workspace_sdk_module.go
  core/schema/workspace_sdk_test.go
  docs/current_docs/reference/config-files/dagger-toml.mdx
  future/cli-1.0.md
  future/module-max-review-fixes.md
  internal/cmd/dagger/sdk.go
  internal/cmd/dagger/sdk_test.go
Owners: @dagger/docs

Restore slices import after main rebase
  core/schema/workspace.go
Owners: none

core: reject conflicting Git version pins
  core/integration/module_helpers_test.go
  core/integration/module_path_inputs_test.go
  core/modulerefs.go
Owners: none

chore: regenerate
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/Client.html
  docs/static/reference/php/Dagger/Container.html
  docs/static/reference/php/Dagger/GitRepository.html
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/elixir/lib/dagger/gen/container.ex
  sdk/elixir/lib/dagger/gen/git_repository.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Client.php
  sdk/php/generated/Container.php
  sdk/php/generated/GitRepository.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

core: add semver version constraints
  core/container_latest.go
  core/container_latest_test.go
  core/git.go
  core/git_latest_test.go
  core/integration/lockfile_test.go
  core/lockfile_update.go
  core/lockfile_update_test.go
  core/modulerefs.go
  core/modulerefs_test.go
  core/modulesource.go
  core/modulesource_test.go
  core/release_version.go
  core/release_version_test.go
  core/schema/container.go
  core/schema/git.go
  core/schema/modulesource.go
  core/schema/modulesource_test.go
  core/workspace/lock.go
  hack/designs/lockfile.md
  sdk/rust/crates/dagger-sdk/src/lib.rs
Owners: @dagger/sdk-rust

core: reject conflicting version selectors
  core/integration/lockfile_test.go
  core/modulerefs.go
  core/modulerefs_test.go
  core/schema/container.go
Owners: none

docs: add SemVer constraint changelog
  .changes/unreleased/Added-20260908-235319.yaml
Owners: none

Remove unused workspace environment result
  core/schema/workspace_builders.go
  core/schema/workspace_module.go
  core/schema/workspace_sdk.go
Owners: none

Regenerate PHP workspace reference
  docs/static/reference/php/Dagger/Workspace.html
Owners: @dagger/docs

Remove obsolete ModuleManifest reference pages
  docs/versioned_docs/version-1.0-beta/api/reference/module-manifest-v1.mdx
  docs/versioned_docs/version-1.0-beta/api/reference/module-manifest-v2.mdx
  docs/versioned_docs/version-1.0-beta/api/reference/module-manifest-versions.mdx
  docs/versioned_sidebars/version-1.0-beta-sidebars.json
Owners: @dagger/docs

Wait for Helm pods before installation assertions
  e2e/helm/helm_test.go
Owners: none

Apply global CLI flag occurrences only once
  internal/cmd/dagger/capabilities_test.go
  internal/cmd/dagger/functions.go
  internal/cmd/dagger/main.go
  internal/cmd/dagger/main_test.go
  internal/cmd/dagger/module_sdk_test.go
Owners: none

Keep service startup errors in the final report
  internal/cmd/dagger/up.go
Owners: none

Use workspace update in the nested lockfile test
  core/integration/workspace_sparse_base_test.go
Owners: none

Run inferred module generation from its parent directory
  core/integration/generators_test.go
Owners: none

Resolve module refs to the workspace entrypoint via the canonical server
  core/integration/up_test.go
  core/schema/address.go
Owners: none

Accept short-form entrypoint function refs; settings stores the long form
  .changes/unreleased/Fixed-20260908-160000.yaml
  core/integration/testdata/services/service-ref-consumer/main.go
  core/integration/up_test.go
  core/schema/address.go
  core/schema/workspace.go
  core/schema/workspace_module.go
  core/schema/workspace_settings_hints.go
  core/workspace/moduleref.go
  core/workspace_module.go
  docs/current_docs/config/module-wiring.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/reference/php/Dagger/WorkspaceModule.html
  docs/static/reference/php/Dagger/WorkspaceModuleSetting.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  internal/cmd/dagger/settings.go
  sdk/elixir/lib/dagger/gen/workspace_module.ex
  sdk/elixir/lib/dagger/gen/workspace_module_setting.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/WorkspaceModule.php
  sdk/php/generated/WorkspaceModuleSetting.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Owners: @dagger/docs, @dagger/sdk-elixir, @dagger/sdk-go, @dagger/sdk-php, @dagger/sdk-python, @dagger/sdk-rust, @dagger/sdk-typescript

Trim comments; drop changelog entry
  .changes/unreleased/Fixed-20260908-160000.yaml
  core/integration/testdata/services/service-ref-consumer/main.go
  core/integration/up_test.go
  core/schema/address.go
  core/schema/workspace_module.go
  core/schema/workspace_settings_hints.go
  core/workspace/moduleref.go
  internal/cmd/dagger/settings.go
Owners: none

Shorten test comment; show short-form CLI and long-form config in docs
  core/integration/up_test.go
  docs/current_docs/config/module-wiring.mdx
Owners: @dagger/docs

Trim address.go comments
  core/schema/address.go
Owners: none

core: address code review of short-form module refs
  core/integration/up_test.go
  core/schema/address.go
  core/schema/workspace_module.go
  core/schema/workspace_settings_hints.go
  core/workspace/moduleref.go
  internal/cmd/dagger/settings.go
Owners: none

core: unify module and workspace git ref syntax
  core/gitref/gitref.go
  core/gitref/gitref_test.go
  core/modulerefs.go
  core/modulerefs_test.go
  core/modulesource.go
  core/modulesource_test.go
  core/schema/modulesource.go
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

core: read module telemetry refs from source fields
  core/telemetry.go
  core/telemetry_test.go
Owners: none

core: parse explicit Git URL selectors directly
  core/gitref/gitref.go
  core/gitref/gitref_test.go
Owners: none

engine: gate workspace versions on the server view
  engine/server/session_test.go
  engine/server/session_workspaces.go
Owners: none

cli: print usage for bare 'dagger workspace'
  docs/current_docs/reference/cli/index.mdx
  internal/cmd/dagger/workspace.go
Owners: @dagger/docs

test: use canonical module git ref syntax
  core/integration/workspace_config_test.go
Owners: none

core: normalize Git remotes in workspace locks
  core/integration/lockfile_test.go
  core/schema/git.go
  core/workspace/lock.go
  core/workspace/lock_test.go
Owners: none

core: cache the git remote visibility probe per session
  core/schema/git.go
Owners: none

core: skip the git transport probe when the lock pins the remote
  core/integration/lockfile_test.go
  core/schema/git.go
Owners: none
