Repository dagger/dagger, pull requests merged in 2022-07, with the labels that each got.

#2665 feat: add python aws cdk package
  pkg/universe.dagger.io/alpha/aws/cdk/python/cdk.sh
  pkg/universe.dagger.io/alpha/aws/cdk/python/command.cue
  pkg/universe.dagger.io/alpha/aws/cdk/python/deploy.cue
  pkg/universe.dagger.io/alpha/aws/cdk/python/diff.cue
  pkg/universe.dagger.io/alpha/aws/cdk/python/image.cue
  pkg/universe.dagger.io/alpha/aws/cdk/python/install.cue
  pkg/universe.dagger.io/alpha/aws/cdk/python/install.sh
  pkg/universe.dagger.io/alpha/aws/cdk/python/test/image.cue
  pkg/universe.dagger.io/alpha/aws/cdk/python/test/test.bats
Labels: area/universe

#2770 Allow sending to DC invalid dagger plans that don't evaluate.
  cmd/dagger/cmd/do.go
  telemetry/event/run.go
Labels: area/cli

#2780 docs(install): fix windows path
  docs/getting-started/1240-install.md
Labels: area/documentation

#2758 feat(universe): add goreleaser to alpha
  pkg/universe.dagger.io/alpha/go/goreleaser/image.cue
  pkg/universe.dagger.io/alpha/go/goreleaser/release.cue
  pkg/universe.dagger.io/alpha/go/goreleaser/test/data/hello/go.mod
  pkg/universe.dagger.io/alpha/go/goreleaser/test/data/hello/goreleaser.yaml
  pkg/universe.dagger.io/alpha/go/goreleaser/test/data/hello/main.go
  pkg/universe.dagger.io/alpha/go/goreleaser/test/image.cue
  pkg/universe.dagger.io/alpha/go/goreleaser/test/release.cue
  pkg/universe.dagger.io/alpha/go/goreleaser/test/test.bats
Labels: area/universe

#2775 universe: Use `bash.#Image` convention
  pkg/universe.dagger.io/bash/bash.cue
Labels: area/universe

#2784 docs: Fix conflicting slug in docs
  docs/getting-started/1242-install.md
  docs/guides/concepts/1205-container-images.md
  docs/guides/concepts/1244-docker.md
  docs/guides/concepts/1246-go-ci.md
  docs/guides/logdebug/1243-dagger-cloud-debugging.md
  docs/includes/_dagger-cloud-cta.md
  docs/use-cases/1245-node-ci.md
Labels: area/documentation

#2561 Log core.Start output.
  go.mod
  go.sum
  pkg/dagger.io/dagger/core/exec.cue
  pkg/dagger.io/dagger/core/start.cue
  plan/task/exec.go
  plan/task/startExec.go
  solver/container.go
  solver/solver.go
  tests/tasks.bats
  tests/tasks/exec/start_stop_exec.cue
Labels: area/engine

#2581 universe(x/kubectl): update kustomize with latest version
  pkg/universe.dagger.io/x/tom.chauveau.pro@icloud.com/kubernetes/kubectl.cue
  pkg/universe.dagger.io/x/tom.chauveau.pro@icloud.com/kubernetes/test/kustomization.cue
Labels: area/universe

#2697 universe: add uffizzi to dagger universe 🥳
  pkg/universe.dagger.io/alpha/uffizzi/createPreview.cue
  pkg/universe.dagger.io/alpha/uffizzi/deletePreview.cue
  pkg/universe.dagger.io/alpha/uffizzi/image.cue
  pkg/universe.dagger.io/alpha/uffizzi/updatePreview.cue
Labels: area/universe

#2830 website: remove cypress in absence of tests
  .github/workflows/test-website.yml
  website/package.json
  website/yarn.lock
Labels: area/tests, area/website

#2826 feat(lsp): add `dagger lsp` command.
  cmd/dagger/cmd/lsp.go
  cmd/dagger/cmd/root.go
  go.mod
  go.sum
Labels: area/cli

#2454 fix: absolute paths for plans
  cmd/dagger/cmd/do.go
  pkg/pkg.go
  plan/plan.go
  tests/project.bats
Labels: area/engine

#2706 universe(go): revert of part of #2632
  pkg/universe.dagger.io/go/image.cue
  pkg/universe.dagger.io/go/test/build.cue
  pkg/universe.dagger.io/go/test/image.cue
Labels: area/universe

#2865 update embargoes compliance only for Crimea
  website/netlify.toml
Labels: area/website

#2210 feat: change go.#Test.package -> packages and can be string or [...string]
  ci/golangci/lint.cue
  docs/plans/go-ci/plan.cue
  pkg/universe.dagger.io/alpha/go/golangci/lint.cue
  pkg/universe.dagger.io/alpha/go/goreleaser/release.cue
  pkg/universe.dagger.io/alpha/go/goreleaser/test/release.cue
  pkg/universe.dagger.io/go/build.cue
  pkg/universe.dagger.io/go/container.cue
  pkg/universe.dagger.io/go/test.cue
  pkg/universe.dagger.io/go/test/build.cue
  pkg/universe.dagger.io/go/test/container.cue
  pkg/universe.dagger.io/go/test/data/hello/go.mod
  pkg/universe.dagger.io/go/test/data/hello/go.sum
  pkg/universe.dagger.io/go/test/data/hello/greeting/greeting_test.go
  pkg/universe.dagger.io/go/test/data/hello/internal/testutil/result_file.go
  pkg/universe.dagger.io/go/test/data/hello/math/algebra.go
  pkg/universe.dagger.io/go/test/data/hello/math/algebra_test.go
  pkg/universe.dagger.io/go/test/test.cue
Labels: kind/enhancement, area/universe, size/small
