Repository dagger/dagger, pull requests merged in 2022-06, with the labels that each got.

#2531 feat(universe): add experimental kustomization
  pkg/universe.dagger.io/x/tom.chauveau.pro@icloud.com/kubernetes/kustomize.cue
  pkg/universe.dagger.io/x/tom.chauveau.pro@icloud.com/kubernetes/test/kustomization.cue
Labels: area/universe

#2460 Support signaling core.Start execs.
  pkg/dagger.io/dagger/core/exec.cue
  plan/task/exec.go
  solver/container.go
  solver/solver.go
  tests/tasks.bats
  tests/tasks/exec/start_stop_exec.cue
Labels: area/engine, area/core

#2558 FAQs to guides with subcategories
  docs/faq/index.md
  docs/guides/actions/1239-making-reusable-package.md
  docs/guides/buildkit/1223-custom-buildkit.md
  docs/guides/buildkit/1224-self-signed-certificates.md
  docs/guides/buildkit/1229-empty-buildkit-cache.md
  docs/guides/buildkit/1237-persistent-cache.md
  docs/guides/code/1226-coding-style.md
  docs/guides/code/1227-contributing.md
  docs/guides/code/1228-handling-outputs.md
  docs/guides/code/1231-always-execute.md
  docs/guides/code/1233-default-values-cue.md
  docs/guides/code/1238-project-file-organization.md
  docs/guides/code/1240-core-source.md
  docs/guides/concepts/1205-container-images.md
  docs/guides/concepts/1225-pushing-plan-dependencies.md
  docs/guides/concepts/1229-go-ci.md
  docs/guides/concepts/1232-chain-actions.md
  docs/guides/docker/1216-docker-cli-load.md
  docs/guides/docker/1217-docker-cli-run.md
  docs/guides/logdebug/1230-better-logs.md
  docs/guides/system/1214-migrate-from-dagger-0.1.md
  docs/guides/system/1218-cli-telemetry.md
  website/sidebars.js
Labels: area/documentation, area/website

#2544 docs(faq): explain field shadowing
  docs/guides/code/1241-field-shadowing.md
Labels: area/documentation

#2577 fix: rename _op to _pull for better log UX
  pkg/universe.dagger.io/docker/pull.cue
Labels: area/core

#2529 docs: link back to Source faq
  docs/guides/code/1226-coding-style.md
Labels: area/documentation

#2588 Add 'always' field to terraform.#Run
  pkg/universe.dagger.io/x/ezequiel@foncubierta.com/terraform/run.cue
Labels: area/universe

#2618 Brings last changes from universe/x to alpha
  pkg/universe.dagger.io/alpha/terraform/run.cue
Labels: area/universe

#2615 Add alpha and beta paths
  CODEOWNERS
Labels: ecosystem

#2670 docs: Clarify git tag format when installing a package
  docs/guides/actions/1239-making-reusable-package.md
  mod/repo.go
Labels: area/documentation

#2578 universe(x): Add Scaleway CLI experimental package
  pkg/universe.dagger.io/alpha/scaleway/cli.cue
  pkg/universe.dagger.io/alpha/scaleway/image.cue
  pkg/universe.dagger.io/alpha/scaleway/test/cli.cue
  pkg/universe.dagger.io/alpha/scaleway/test/image.cue
Labels: area/universe

#2682 docs: add dagger cloud url to docs
  docs/guides/logdebug/1241-dagger-cloud-debugging.md
Labels: area/documentation

#2674 feat: Support Helm upgrade and custom namespace
  pkg/universe.dagger.io/alpha/kubernetes/helm/install.cue
  pkg/universe.dagger.io/alpha/kubernetes/helm/test/test.cue
Labels: area/universe

#2668 docs: Provide more examples on `client: commands` and `platform`
  docs/core-concepts/1203-client.md
  docs/tests/core-concepts/client/plans/cmd.cue
  docs/tests/core-concepts/client/plans/cmd_secret.cue
  docs/tests/core-concepts/client/plans/cmd_stderr.cue
  docs/tests/core-concepts/client/plans/cmd_stdin.cue
  docs/tests/core-concepts/client/plans/platform.cue
Labels: area/documentation

#2702 [Docs] Add an example configuration to use dagger with TravisCi
  docs/getting-started/1201-ci-environment.md
Labels: area/documentation

#2661 universe: php: composer: Improved package extensibility
  pkg/universe.dagger.io/alpha/php/composer/composer.cue
  pkg/universe.dagger.io/alpha/php/composer/composer.sh
  pkg/universe.dagger.io/alpha/php/composer/container.cue
  pkg/universe.dagger.io/alpha/php/composer/image.cue
Labels: area/universe

#2658 universe: bash: #RunSimple
  pkg/universe.dagger.io/bash/bash.cue
  pkg/universe.dagger.io/bash/test/test.cue
Labels: area/universe
