Repository dagger/dagger, pull requests merged in 2022-10, with the labels that each got.

#3403 fix: send buildkit startup msgs to stderr
  internal/buildkitd/buildkitd.go
Labels: cloak

#3435 feat(engine): discard log buildkit progress by default
  cmd/dagger/dev.go
  engine/engine.go
  sdk/go/client.go
  sdk/go/client_test.go
  sdk/go/internal/engineconn/embedded/embedded.go
  sdk/go/internal/engineconn/engineconn.go
Labels: area/core

#3476 Update Posthog apiKey with an old one
  website/docusaurus.config.js
Labels: area/website
