Repository dagger/dagger, pull requests merged in 2022-08, with the labels that each got.

#2900 feat: Terraform Import Action
  pkg/universe.dagger.io/alpha/terraform/import.cue
  pkg/universe.dagger.io/alpha/terraform/test/import_data/resource.tf
  pkg/universe.dagger.io/alpha/terraform/test/test.cue
Labels: area/universe

#2906 docs: fix typo in what-is-cue docs
  docs/core-concepts/1215-what-is-cue.md
Labels: area/documentation

#2896 fix helm login
  pkg/universe.dagger.io/alpha/kubernetes/helm/upgrade.cue
Labels: area/universe

#2914 feat: aks specific helm action
  pkg/universe.dagger.io/alpha/azure/aks/auth/kubeconfig.cue
  pkg/universe.dagger.io/alpha/azure/aks/helm/image.cue
  pkg/universe.dagger.io/alpha/azure/aks/helm/test/test.cue
  pkg/universe.dagger.io/alpha/azure/aks/helm/test/testdata/values.base.yaml
  pkg/universe.dagger.io/alpha/azure/aks/helm/test/testdata/values.staging.yaml
  pkg/universe.dagger.io/alpha/azure/aks/helm/upgrade.cue
  pkg/universe.dagger.io/alpha/azure/auth/token.cue
  pkg/universe.dagger.io/alpha/azure/test/test.cue
Labels: stale
