Repository dagger/dagger, pull requests merged in 2022-11, with the labels that each got.

#3632 Add docs for multiplatform support.
  docs/current/sdk/go/275922-guides.md
  docs/current/sdk/go/guides/406009-multiplatform-support.md
  docs/current/sdk/go/snippets/multiplatform-support/build-images-cross-compilation/main.go
  docs/current/sdk/go/snippets/multiplatform-support/build-images-emulation/main.go
  docs/current/sdk/go/snippets/multiplatform-support/non-linux-support/main.go
  docs/current/sdk/go/snippets/multiplatform-support/pull-images/main.go
  website/sidebars.js
Labels: sdk/go

#3638 docs(guide-go): copy embed directories to container (Go-SDK)
  docs/current/sdk/go/275922-guides.md
  docs/current/sdk/go/guides/110632-embed-directories.md
  docs/current/sdk/go/snippets/embed-directories/example/foo.go
  docs/current/sdk/go/snippets/embed-directories/main.go
Labels: sdk/go

#3652 feat: replace Engine by dagger.Connect()
  sdk/nodejs/dagger/client.ts
  sdk/nodejs/dagger/connect.ts
  sdk/nodejs/dagger/dist/client.d.ts
  sdk/nodejs/dagger/dist/client.d.ts.map
  sdk/nodejs/dagger/dist/client.js
  sdk/nodejs/dagger/dist/connect.d.ts
  sdk/nodejs/dagger/dist/connect.d.ts.map
  sdk/nodejs/dagger/dist/connect.js
  sdk/nodejs/dagger/dist/index.d.ts
  sdk/nodejs/dagger/dist/index.d.ts.map
  sdk/nodejs/dagger/dist/index.js
  sdk/nodejs/dagger/index.ts
  sdk/nodejs/test/index.mjs
Labels: sdk/nodeJs

#3706 shim: unix->tcp API proxy
  core/shim/cmd/main.go
  sdk/go/client.go
  sdk/go/internal/engineconn/embedded/embedded.go
  sdk/go/internal/engineconn/engineconn.go
  sdk/go/internal/engineconn/http/http.go
  sdk/go/internal/engineconn/unix/unix.go
Labels: area/sdk

#3773 docs: Make first example give immediate feedback
  docs/current/sdk/python/snippets/get-started/step1/test.py
Labels: area/documentation, kind/dx, sdk/python

#3803 Fix dockerfile path join in windows
  core/container.go
Labels: area/core

#3820 feat: Add NodeSDK provisioner
  sdk/nodejs/api/client.ts
  sdk/nodejs/api/test/api.spec.ts
  sdk/nodejs/api/types.ts
  sdk/nodejs/api/utils.ts
  sdk/nodejs/client.ts
  sdk/nodejs/connect.ts
  sdk/nodejs/dist/api/client.d.ts
  sdk/nodejs/dist/api/client.d.ts.map
  sdk/nodejs/dist/api/client.js
  sdk/nodejs/dist/api/types.d.ts.map
  sdk/nodejs/dist/api/utils.d.ts
  sdk/nodejs/dist/api/utils.d.ts.map
  sdk/nodejs/dist/client.d.ts
  sdk/nodejs/dist/client.d.ts.map
  sdk/nodejs/dist/client.js
  sdk/nodejs/dist/connect.d.ts
  sdk/nodejs/dist/connect.d.ts.map
  sdk/nodejs/dist/connect.js
  sdk/nodejs/dist/engine.d.ts.map
  sdk/nodejs/dist/engine.js
  sdk/nodejs/dist/index.d.ts
  sdk/nodejs/dist/index.d.ts.map
  sdk/nodejs/dist/index.js
  sdk/nodejs/dist/provisioning/default.d.ts
  sdk/nodejs/dist/provisioning/default.d.ts.map
  sdk/nodejs/dist/provisioning/default.js
  sdk/nodejs/dist/provisioning/docker-provision/dockerprovision.d.ts
  sdk/nodejs/dist/provisioning/docker-provision/dockerprovision.d.ts.map
  sdk/nodejs/dist/provisioning/docker-provision/dockerprovision.js
  sdk/nodejs/dist/provisioning/docker-provision/image.d.ts
  sdk/nodejs/dist/provisioning/docker-provision/image.d.ts.map
  sdk/nodejs/dist/provisioning/docker-provision/image.js
  sdk/nodejs/dist/provisioning/docker-provision/index.d.ts
  sdk/nodejs/dist/provisioning/docker-provision/index.d.ts.map
  sdk/nodejs/dist/provisioning/docker-provision/index.js
  sdk/nodejs/dist/provisioning/engineconn.d.ts
  sdk/nodejs/dist/provisioning/engineconn.d.ts.map
  sdk/nodejs/dist/provisioning/engineconn.js
  sdk/nodejs/dist/provisioning/index.d.ts
  sdk/nodejs/dist/provisioning/index.d.ts.map
  sdk/nodejs/dist/provisioning/index.js
  sdk/nodejs/dist/provisioning/provisioner.d.ts
  sdk/nodejs/dist/provisioning/provisioner.d.ts.map
  sdk/nodejs/dist/provisioning/provisioner.js
  sdk/nodejs/dist/server.d.ts.map
  sdk/nodejs/engine.ts
  sdk/nodejs/index.ts
  sdk/nodejs/package.json
  sdk/nodejs/provisioning/default.ts
  sdk/nodejs/provisioning/docker-provision/image.ts
  sdk/nodejs/provisioning/docker-provision/index.ts
  sdk/nodejs/provisioning/engineconn.ts
  sdk/nodejs/provisioning/index.ts
  sdk/nodejs/provisioning/provisioner.ts
  sdk/nodejs/provisioning/test/provisioner.spec.ts
  sdk/nodejs/server.ts
  sdk/nodejs/test/connect.spec.ts
  sdk/nodejs/test/index.spec.ts
  sdk/nodejs/tsconfig.json
  sdk/nodejs/yarn.lock
Labels: area/sdk, sdk/nodeJs

#3606 NodeJS SDK codegen
  cmd/cloak/clientgen.go
  codegen/generator/generator.go
  codegen/generator/go/generator.go
  codegen/generator/go/templates/functions.go
  codegen/generator/go/templates/lint_name.go
  codegen/generator/go/templates/src/header.go.tmpl
  codegen/generator/go/templates/src/input.go.tmpl
  codegen/generator/go/templates/src/object.go.tmpl
  codegen/generator/go/templates/src/scalar.go.tmpl
  codegen/generator/go/templates/templates.go
  codegen/generator/nodejs/generator.go
  codegen/generator/nodejs/templates/functions.go
  codegen/generator/nodejs/templates/src/api.ts.tmpl
  codegen/generator/nodejs/templates/src/arg.ts.tmpl
  codegen/generator/nodejs/templates/src/arg_test.go
  codegen/generator/nodejs/templates/src/args.ts.tmpl
  codegen/generator/nodejs/templates/src/args_test.go
  codegen/generator/nodejs/templates/src/call_args.ts.tmpl
  codegen/generator/nodejs/templates/src/header.ts.tmpl
  codegen/generator/nodejs/templates/src/helper.go
  codegen/generator/nodejs/templates/src/method.ts.tmpl
  codegen/generator/nodejs/templates/src/method_comment.ts.tmpl
  codegen/generator/nodejs/templates/src/method_solve.ts.tmpl
  codegen/generator/nodejs/templates/src/object.ts.tmpl
  codegen/generator/nodejs/templates/src/object_comment.ts.tmpl
  codegen/generator/nodejs/templates/src/object_comment_test.go
  codegen/generator/nodejs/templates/src/object_test.go
  codegen/generator/nodejs/templates/src/objects.ts.tmpl
  codegen/generator/nodejs/templates/src/objects_test.go
  codegen/generator/nodejs/templates/src/return.ts.tmpl
  codegen/generator/nodejs/templates/src/return_solve.ts.tmpl
  codegen/generator/nodejs/templates/src/type.ts.tmpl
  codegen/generator/nodejs/templates/src/type_test.go
  codegen/generator/nodejs/templates/src/types.ts.tmpl
  codegen/generator/nodejs/templates/templates.go
  go.mod
  internal/mage/sdk/nodejs.go
  internal/mage/util/util.go
  sdk/go/client.go
  sdk/nodejs/api/client.ts
  sdk/nodejs/api/test/api.spec.ts
  sdk/nodejs/api/utils.ts
  sdk/nodejs/test/connect.spec.ts
Labels: area/sdk, sdk/nodeJs

#3841 Bump the NodeJS SDK's Engine dependency
  internal/mage/sdk/nodejs.go
Labels: area/sdk, sdk/nodeJs

#3842 NodeJS SDK: Add lint + codegen checks for mage
  .github/workflows/lint.yml
  codegen/generator/nodejs/templates/src/header.ts.tmpl
  internal/mage/sdk/nodejs.go
  sdk/nodejs/.gitignore
  sdk/nodejs/api/client.gen.ts
  sdk/nodejs/api/test/api.spec.ts
  sdk/nodejs/api/utils.ts
  sdk/nodejs/connect.ts
  sdk/nodejs/index.ts
  sdk/nodejs/package.json
  sdk/nodejs/provisioning/docker-provision/image.ts
  sdk/nodejs/provisioning/engineconn.ts
Labels: area/sdk, sdk/nodeJs

#3809 Implement nodejs:sdk:publish + relevant GitHub Action workflow
  .github/workflows/publish-sdk-nodejs.yml
  .gitignore
  internal/mage/sdk/all.go
  internal/mage/sdk/nodejs.go
  sdk/nodejs/package.json
Labels: area/sdk, sdk/nodeJs

#3868 remove unused types.ts file
  sdk/nodejs/.eslintrc.cjs
  sdk/nodejs/api/types.ts
Labels: area/sdk, sdk/nodejs

#3863 ts getting started: ignore node_modules
  docs/current/sdk/nodejs/783645-get-started.md
  docs/current/sdk/nodejs/snippets/get-started/step4/build.ts
  docs/current/sdk/nodejs/snippets/get-started/step5/build.ts
Labels: area/sdk, sdk/nodejs

#3861 NodeJS Provisioning Follow ups
  sdk/nodejs/connect.ts
  sdk/nodejs/provisioning/docker-provision/image.ts
  sdk/nodejs/provisioning/engineconn.ts
Labels: area/sdk, sdk/nodejs

#3872 Node Feedback
  docs/current/sdk/nodejs/783645-get-started.md
  docs/current/sdk/nodejs/835948-install.md
  examples/nodejs/package.json
  examples/nodejs/say.ts
  sdk/nodejs/README.md
Labels: area/sdk, sdk/nodejs

#3832 docs: Added NodeJS SDK autogen docs
  .gitignore
  docs/current/sdk/nodejs/783645-get-started.md
  docs/current/sdk/nodejs/reference/modules.md
  website/docusaurus.config.js
  website/package.json
  website/sidebars.js
  website/yarn.lock
Labels: area/sdk, sdk/nodejs

#3867 docs: lint NodeJS snippets
  docs/current/sdk/nodejs/snippets/.eslintrc.cjs
  docs/current/sdk/nodejs/snippets/.prettierrc
  docs/current/sdk/nodejs/snippets/get-started/step3/build.js
  docs/current/sdk/nodejs/snippets/get-started/step3/build.ts
  docs/current/sdk/nodejs/snippets/get-started/step4/build.js
  docs/current/sdk/nodejs/snippets/get-started/step4/build.ts
  docs/current/sdk/nodejs/snippets/get-started/step5/build.js
  docs/current/sdk/nodejs/snippets/get-started/step5/build.ts
  docs/current/sdk/nodejs/snippets/package.json
  docs/current/sdk/nodejs/snippets/yarn.lock
  internal/mage/docs.go
Labels: area/sdk, sdk/nodejs

#3895 NodeJS SDK: Lint generated client file
  codegen/generator/nodejs/templates/src/header.ts.tmpl
  sdk/nodejs/.eslintrc.cjs
  sdk/nodejs/api/client.gen.ts
Labels: area/sdk, sdk/nodejs

#3911 api: directory.withNewFile: make `contents` mandatory
  core/integration/container_test.go
  core/integration/directory_test.go
  core/integration/secret_test.go
  core/schema/directory.graphqls
  docs/current/sdk/go/snippets/embed-directories/main.go
  sdk/go/api.gen.go
  sdk/go/client_test.go
  sdk/go/examples_test.go
  sdk/nodejs/api/client.gen.ts
  sdk/python/src/dagger/api/gen.py
  sdk/python/src/dagger/api/gen_sync.py
Labels: breaking change

#3925 api: Return the contents directly in Container Stdout/Stderr
  cmd/dagger/query.go
  core/container.go
  core/integration/container_test.go
  core/integration/examples_test.go
  core/integration/host_test.go
  core/integration/platform_test.go
  core/integration/secret_test.go
  core/schema/container.go
  core/schema/container.graphqls
  docs/current/sdk/go/snippets/embed-directories/main.go
  docs/current/sdk/go/snippets/multiplatform-support/non-linux-support/main.go
  docs/current/sdk/go/snippets/multiplatform-support/pull-images/main.go
  docs/current/sdk/go/snippets/work-with-host-filesystem/mount-dir/main.go
  docs/current/sdk/nodejs/783645-get-started.md
  docs/current/sdk/nodejs/snippets/get-started/step3/build.js
  docs/current/sdk/nodejs/snippets/get-started/step3/build.ts
  docs/current/sdk/python/snippets/get-started/step1/test.py
  examples/queries/docker_build.graphql
  examples/queries/multi.graphql
  examples/queries/simple.graphql
  internal/mage/engine.go
  internal/mage/sdk/go.go
  internal/mage/sdk/python.go
  sdk/go/api.gen.go
  sdk/go/client_test.go
  sdk/go/examples_test.go
  sdk/nodejs/api/client.gen.ts
  sdk/nodejs/api/test/api.spec.ts
  sdk/nodejs/test/connect.spec.ts
  sdk/python/README.md
  sdk/python/experimental/hello/main.py
  sdk/python/src/dagger/api/gen.py
  sdk/python/src/dagger/api/gen_sync.py
  sdk/python/tests/api/test_integration.py
  sdk/python/tests/api/test_integration_sync.py
Labels: breaking change

#3928 api: Deprecate Exec in favor of WithExec. Make args mandatory.
  core/integration/container_test.go
  core/integration/host_test.go
  core/integration/platform_test.go
  core/integration/suite_test.go
  core/schema/container.go
  core/schema/container.graphqls
  docs/current/sdk/go/959738-get-started.md
  docs/current/sdk/go/guides/406009-multiplatform-support.md
  docs/current/sdk/go/snippets/embed-directories/main.go
  docs/current/sdk/go/snippets/get-started/step4/main.go
  docs/current/sdk/go/snippets/get-started/step5a/main.go
  docs/current/sdk/go/snippets/get-started/step5b/main.go
  docs/current/sdk/go/snippets/multiplatform-support/build-images-cross-compilation/main.go
  docs/current/sdk/go/snippets/multiplatform-support/build-images-emulation/main.go
  docs/current/sdk/go/snippets/multiplatform-support/non-linux-support/main.go
  docs/current/sdk/go/snippets/multiplatform-support/pull-images/main.go
  docs/current/sdk/go/snippets/multistage-build/main.go
  docs/current/sdk/go/snippets/work-with-host-filesystem/export-dir/main.go
  docs/current/sdk/go/snippets/work-with-host-filesystem/mount-dir/main.go
  docs/current/sdk/nodejs/783645-get-started.md
  docs/current/sdk/nodejs/snippets/get-started/step3/build.js
  docs/current/sdk/nodejs/snippets/get-started/step3/build.ts
  docs/current/sdk/nodejs/snippets/get-started/step4/build.js
  docs/current/sdk/nodejs/snippets/get-started/step4/build.ts
  docs/current/sdk/nodejs/snippets/get-started/step5/build.js
  docs/current/sdk/nodejs/snippets/get-started/step5/build.ts
  docs/current/sdk/python/628797-get-started.md
  docs/current/sdk/python/snippets/get-started/step1/test.py
  docs/current/sdk/python/snippets/get-started/step3/test.py
  docs/current/sdk/python/snippets/get-started/step4a/test.py
  docs/current/sdk/python/snippets/get-started/step4b/test.py
  docs/current/sdk/python/snippets/multi-builds/build.py
  internal/mage/cli.go
  internal/mage/docs.go
  internal/mage/engine.go
  internal/mage/sdk/go.go
  internal/mage/sdk/nodejs.go
  internal/mage/sdk/python.go
  internal/mage/util/util.go
  sdk/go/api.gen.go
  sdk/nodejs/api/client.gen.ts
  sdk/nodejs/api/test/api.spec.ts
  sdk/nodejs/test/connect.spec.ts
  sdk/python/README.md
  sdk/python/examples/client-simple/say.py
  sdk/python/examples/client-simple/say_sync.py
  sdk/python/experimental/hello/main.py
  sdk/python/src/dagger/api/gen.py
  sdk/python/src/dagger/api/gen_sync.py
  sdk/python/src/dagger/connection.py
  sdk/python/tests/api/test_integration.py
  sdk/python/tests/api/test_integration_sync.py
Labels: breaking change

#3988 docs: Fix error in path of docs deprecation note
  docs/v0.1/1001-install.md
Labels: area/documentation

#4009 Python: Refactor connectors
  internal/mage/sdk/python.go
  sdk/python/src/dagger/.gitattributes
  sdk/python/src/dagger/__init__.py
  sdk/python/src/dagger/_engine.py
  sdk/python/src/dagger/api/base.py
  sdk/python/src/dagger/cli.py
  sdk/python/src/dagger/config.py
  sdk/python/src/dagger/connection.py
  sdk/python/src/dagger/connector.py
  sdk/python/src/dagger/connectors/.gitattributes
  sdk/python/src/dagger/connectors/__init__.py
  sdk/python/src/dagger/connectors/base.py
  sdk/python/src/dagger/connectors/http.py
  sdk/python/src/dagger/engine/__init__.py
  sdk/python/src/dagger/engine/base.py
  sdk/python/src/dagger/engine/bin.py
  sdk/python/src/dagger/engine/docker.py
  sdk/python/src/dagger/exceptions.py
  sdk/python/tests/connectors/test_base.py
  sdk/python/tests/engine/test_bin.py
  sdk/python/tests/engine/test_docker.py
Labels: breaking change

#3992 fix: don't trim all whitespace
  sdk/nodejs/api/test/api.spec.ts
  sdk/nodejs/api/utils.ts
Labels: sdk/nodejs

#4017 Node.js SDK - Update sdk example
  examples/nodejs/package.json
  examples/nodejs/say.ts
  examples/nodejs/yarn.lock
Labels: sdk/nodejs

#4012 ci: Publish CLI & Engine at the same time
  .github/workflows/publish.yml
  .goreleaser.yml
  internal/mage/cli.go
  internal/mage/engine.go
  internal/mage/util/util.go
Labels: area/ci

#4037 chore(deps): Update sdk/python
  sdk/python/poetry.lock
Labels: sdk/python

#3745 docs: add generated graphql api reference
  .github/workflows/deploy-docs.yml
  website/.gitignore
  website/docs-graphql/README.md
  website/docs-graphql/config.yml
  website/docs-graphql/custom-theme/data/index.js
  website/docs-graphql/custom-theme/stylesheets/custom.scss
  website/docs-graphql/custom-theme/views/partials/graphql/_query-or-mutation-or-subscription.hbs
  website/docs-graphql/custom-theme/views/partials/graphql/kinds/interface.hbs
  website/docs-graphql/custom-theme/views/partials/graphql/kinds/object.hbs
  website/docs-graphql/custom-theme/views/partials/graphql/kinds/scalar.hbs
  website/docs-graphql/custom-theme/views/partials/layout/content/introduction/welcome.hbs
  website/docs-graphql/custom-theme/views/partials/layout/content/item.hbs
  website/docs-graphql/data/examples/queries/cacheVolume/gql.md
  website/docs-graphql/data/examples/queries/container/gql.md
  website/docs-graphql/data/examples/queries/defaultPlatform/gql.md
  website/docs-graphql/data/examples/queries/directory/gql.md
  website/docs-graphql/data/examples/queries/file/gql.md
  website/docs-graphql/data/examples/queries/git/gql.md
  website/docs-graphql/data/examples/queries/host/gql.md
  website/docs-graphql/data/examples/queries/http/gql.md
  website/docs-graphql/data/examples/queries/secret/gql.md
  website/netlify.toml
  website/package.json
  website/yarn.lock
Labels: area/documentation, area/graphql
