Repository dagger/dagger, pull requests merged in 2022-12, with the labels that each got.

#3996 Node.js SDK: Nested queries
  codegen/generator/nodejs/templates/functions.go
  codegen/generator/nodejs/templates/src/header.ts.tmpl
  codegen/generator/nodejs/templates/src/method_solve.ts.tmpl
  codegen/generator/nodejs/templates/src/objects_test.go
  docs/current/sdk/nodejs/783645-get-started.md
  docs/current/sdk/nodejs/snippets/get-started/step3/build.js
  docs/current/sdk/nodejs/snippets/get-started/step3/build.ts
  docs/current/sdk/nodejs/snippets/get-started/step4/build.js
  docs/current/sdk/nodejs/snippets/get-started/step4/build.ts
  docs/current/sdk/nodejs/snippets/get-started/step5/build.js
  docs/current/sdk/nodejs/snippets/get-started/step5/build.ts
  sdk/nodejs/api/client.gen.ts
  sdk/nodejs/api/test/api.spec.ts
  sdk/nodejs/api/utils.ts
  sdk/nodejs/yarn.lock
Labels: area/sdk, sdk/nodejs

#4060 Node.js SDK - increase Mocha test timeout
  sdk/nodejs/api/test/api.spec.ts
Labels: sdk/nodejs

#3972 docs: Add releasing instructions for Node.js SDK changelog
  RELEASING.md
Labels: area/sdk, sdk/nodejs

#4063 Update ref docs by showing types
  codegen/generator/nodejs/templates/src/object_comment.ts.tmpl
  codegen/generator/nodejs/templates/src/object_comment_test.go
  codegen/generator/nodejs/templates/src/type_test.go
  sdk/nodejs/api/client.gen.ts
Labels: sdk/nodejs

#4081 Node.js SDK - Always return a immutable object
  codegen/generator/nodejs/templates/src/method_solve.ts.tmpl
  codegen/generator/nodejs/templates/src/objects_test.go
  sdk/nodejs/api/client.gen.ts
  sdk/nodejs/api/test/api.spec.ts
  sdk/nodejs/api/utils.ts
Labels: kind/bug, sdk/nodejs

#3947 Node.js SDK : Error handling
  sdk/nodejs/api/test/api.spec.ts
  sdk/nodejs/api/utils.ts
  sdk/nodejs/common/errors/DaggerSDKError.ts
  sdk/nodejs/common/errors/DockerImageRefValidationError.ts
  sdk/nodejs/common/errors/EngineSessionPortParseError.ts
  sdk/nodejs/common/errors/GraphQLRequestError.ts
  sdk/nodejs/common/errors/InitEngineSessionBinaryError.ts
  sdk/nodejs/common/errors/TooManyNestedObjectsError.ts
  sdk/nodejs/common/errors/UnknownDaggerError.ts
  sdk/nodejs/common/errors/index.ts
  sdk/nodejs/common/utils.ts
  sdk/nodejs/package.json
  sdk/nodejs/provisioning/bin/bin.ts
  sdk/nodejs/provisioning/docker-provision/image.ts
  sdk/nodejs/test/connect.spec.ts
  sdk/nodejs/yarn.lock
  website/docusaurus.config.js
Labels: area/sdk, sdk/nodejs

#4091 Nodejs add callbackfct to doc
  sdk/nodejs/connect.ts
  sdk/nodejs/index.ts
Labels: area/documentation, sdk/nodejs

#4005 NodeJS SDK required + optional types
  codegen/generator/nodejs/templates/functions.go
  codegen/generator/nodejs/templates/functions_test.go
  codegen/generator/nodejs/templates/src/args_test.go
  codegen/generator/nodejs/templates/src/method.ts.tmpl
  codegen/generator/nodejs/templates/src/method_comment.ts.tmpl
  codegen/generator/nodejs/templates/src/method_solve.ts.tmpl
  codegen/generator/nodejs/templates/src/object_test.go
  codegen/generator/nodejs/templates/src/objects_test.go
  codegen/generator/nodejs/templates/src/type.ts.tmpl
  codegen/generator/nodejs/templates/src/type_field_comment.ts.tmpl
  codegen/generator/nodejs/templates/src/type_test.go
  codegen/generator/nodejs/templates/templates.go
  sdk/nodejs/api/client.gen.ts
  sdk/nodejs/api/test/api.spec.ts
  sdk/nodejs/test/connect.spec.ts
Labels: sdk/nodejs, breaking change

#4121 Update Node.js SDK optionals arguments
  docs/current/sdk/nodejs/snippets/get-started/step4/build.js
  docs/current/sdk/nodejs/snippets/get-started/step4/build.ts
  docs/current/sdk/nodejs/snippets/get-started/step5/build.js
  docs/current/sdk/nodejs/snippets/get-started/step5/build.ts
Labels: area/documentation, sdk/nodejs

#3475 remove what seems to be an unused package
  website/package.json
Labels: area/website

#4122 Update container optional arguments
  docs/current/sdk/nodejs/snippets/get-started/step4/build.js
  docs/current/sdk/nodejs/snippets/get-started/step4/build.ts
  docs/current/sdk/nodejs/snippets/get-started/step5/build.js
  docs/current/sdk/nodejs/snippets/get-started/step5/build.ts
Labels: area/documentation, sdk/nodejs

#4164 Node.js GitHub + Google Cloud guide: remove awaited + fix the console.log
  docs/current/sdk/nodejs/snippets/github-google-cloud/main.mjs
Labels: area/documentation, sdk/nodejs

#4034 sdk: python: Check input types at runtime
  sdk/python/poetry.lock
  sdk/python/pyproject.toml
  sdk/python/src/dagger/api/base.py
  sdk/python/src/dagger/api/gen.py
  sdk/python/src/dagger/api/gen_sync.py
  sdk/python/src/dagger/codegen.py
  sdk/python/tests/api/test_codegen.py
  sdk/python/tests/api/test_inputs.py
Labels: sdk/python, breaking change

#4195 sdk: python: Fix inconsistencies in passing IDs to fields
  sdk/python/src/dagger/api/gen.py
  sdk/python/src/dagger/api/gen_sync.py
  sdk/python/src/dagger/codegen.py
Labels: breaking change

#4156 nodesdk: Split EngineSessionPortParseError into different errors
  sdk/nodejs/common/errors/DockerImageRefValidationError.ts
  sdk/nodejs/common/errors/EngineSessionConnectParamsParseError.ts
  sdk/nodejs/common/errors/EngineSessionConnectionTimeoutError.ts
  sdk/nodejs/common/errors/EngineSessionEOFErrorOptions.ts
  sdk/nodejs/common/errors/GraphQLRequestError.ts
  sdk/nodejs/common/errors/InitEngineSessionBinaryError.ts
  sdk/nodejs/common/errors/TooManyNestedObjectsError.ts
  sdk/nodejs/common/errors/UnknownDaggerError.ts
  sdk/nodejs/common/errors/errors-codes.ts
  sdk/nodejs/common/errors/index.ts
  sdk/nodejs/provisioning/bin.ts
Labels: sdk/nodejs

#4247 feat: NodeSDK generate input from GQL schema.
  codegen/generator/nodejs/templates/src/type.ts.tmpl
  codegen/generator/nodejs/templates/src/type_test.go
Labels: sdk/nodejs

#4256 fix(sdk/nodejs): use OS user cache path with "env-paths"
  sdk/nodejs/package.json
  sdk/nodejs/provisioning/bin.ts
  sdk/nodejs/yarn.lock
Labels: sdk/nodejs

#4255 sdk: python: Refactor provisioning
  .github/workflows/publish.yml
  internal/mage/sdk/python.go
  sdk/python/.flake8
  sdk/python/pyproject.toml
  sdk/python/src/dagger/__init__.py
  sdk/python/src/dagger/api/base.py
  sdk/python/src/dagger/cli.py
  sdk/python/src/dagger/codegen.py
  sdk/python/src/dagger/config.py
  sdk/python/src/dagger/connection.py
  sdk/python/src/dagger/connector.py
  sdk/python/src/dagger/context.py
  sdk/python/src/dagger/engine/.gitattributes
  sdk/python/src/dagger/engine/__init__.py
  sdk/python/src/dagger/engine/_version.py
  sdk/python/src/dagger/engine/base.py
  sdk/python/src/dagger/engine/bin.py
  sdk/python/src/dagger/engine/cli.py
  sdk/python/src/dagger/engine/conn.py
  sdk/python/src/dagger/engine/download.py
  sdk/python/src/dagger/exceptions.py
  sdk/python/src/dagger/server/__init__.py
  sdk/python/src/dagger/session.py
  sdk/python/tests/engine/test_bin.py
  sdk/python/tests/engine/test_cli.py
  sdk/python/tests/engine/test_download.py
  sdk/python/tests/engine/test_download_bin.py
Labels: breaking change

#4249 Node.js SDK - rename queryBuilder func
  codegen/generator/nodejs/templates/src/header.ts.tmpl
  codegen/generator/nodejs/templates/src/method_solve.ts.tmpl
  codegen/generator/nodejs/templates/src/objects_test.go
  sdk/nodejs/api/client.gen.ts
  sdk/nodejs/api/utils.ts
Labels: sdk/nodejs
