Repository dagger/dagger, pull requests merged in 2022-05, with the labels that each got.

#2378 experimental `do --dry-run` mode
  cmd/dagger/cmd/do.go
  cmd/dagger/logger/tty.go
  plan/plan.go
  plan/runner.go
  plan/task/task.go
Labels: area/cli

#2374 new community page
  docs/introduction/1236-community.md
Labels: area/documentation

#2192 universe: Add Terraform package
  pkg/universe.dagger.io/x/ezequiel@foncubierta.com/terraform/apply.cue
  pkg/universe.dagger.io/x/ezequiel@foncubierta.com/terraform/destroy.cue
  pkg/universe.dagger.io/x/ezequiel@foncubierta.com/terraform/fmt.cue
  pkg/universe.dagger.io/x/ezequiel@foncubierta.com/terraform/image.cue
  pkg/universe.dagger.io/x/ezequiel@foncubierta.com/terraform/init.cue
  pkg/universe.dagger.io/x/ezequiel@foncubierta.com/terraform/plan.cue
  pkg/universe.dagger.io/x/ezequiel@foncubierta.com/terraform/run.cue
  pkg/universe.dagger.io/x/ezequiel@foncubierta.com/terraform/test/data/resource.tf
  pkg/universe.dagger.io/x/ezequiel@foncubierta.com/terraform/test/test.bats
  pkg/universe.dagger.io/x/ezequiel@foncubierta.com/terraform/test/test.cue
  pkg/universe.dagger.io/x/ezequiel@foncubierta.com/terraform/validate.cue
  pkg/universe.dagger.io/x/ezequiel@foncubierta.com/terraform/workspace.cue
Labels: area/universe, size/medium, ecosystem

#2391 Fail if unknown flag is specified
  cmd/dagger/cmd/do.go
Labels: area/cli

#2229 Feature: ansible package
  pkg/universe.dagger.io/x/paul@fgtech.fr/ansible/ansible.cue
  pkg/universe.dagger.io/x/paul@fgtech.fr/ansible/args.cue
  pkg/universe.dagger.io/x/paul@fgtech.fr/ansible/default_ansible_cfg.cue
  pkg/universe.dagger.io/x/paul@fgtech.fr/ansible/playbook.cue
  pkg/universe.dagger.io/x/paul@fgtech.fr/ansible/test/.gitignore
  pkg/universe.dagger.io/x/paul@fgtech.fr/ansible/test/config/ansible.cfg
  pkg/universe.dagger.io/x/paul@fgtech.fr/ansible/test/inventory/hosts
  pkg/universe.dagger.io/x/paul@fgtech.fr/ansible/test/project/main.yml
  pkg/universe.dagger.io/x/paul@fgtech.fr/ansible/test/project/tasks/init.yml
  pkg/universe.dagger.io/x/paul@fgtech.fr/ansible/test/project/variables/hello.yml
  pkg/universe.dagger.io/x/paul@fgtech.fr/ansible/test/ssh/id_rsa
  pkg/universe.dagger.io/x/paul@fgtech.fr/ansible/test/ssh/id_rsa.pub
  pkg/universe.dagger.io/x/paul@fgtech.fr/ansible/test/test.cue
Labels: area/universe, ecosystem

#2392 docs: Add new commits prefix `fix` and `feat`
  docs/guides/1227-contributing.md
Labels: area/documentation

#2055 feat: initial kubectl apply
  pkg/universe.dagger.io/x/david@rawkode.dev/kubernetes/example.cue
  pkg/universe.dagger.io/x/david@rawkode.dev/kubernetes/kubectl.cue
Labels: kind/enhancement, area/universe

#2035 docs: Add documentation on local cache export
  docs/guides/1230-persistent-cache.md
  docs/tests/guides/persistent-cache/build.cue
  docs/tests/guides/persistent-cache/go.mod
  docs/tests/guides/persistent-cache/main.go
  website/sidebars.js
Labels: area/documentation, kind/enhancement

#2399 ci: use same source everywhere
  ci.cue
Labels: area/ci

#2411 ci: bump github action to latest
  .github/workflows/dagger-ci.yml
  .github/workflows/lint.yml
  .github/workflows/todoapp.yml
  docs/guides/1237-persistent-cache.md
  docs/learn/1009-github-actions.md
  docs/tests/getting-started/github-actions.yml
  docs/use-cases/1211-go-docker-swarm.md
Labels: area/ci

#2410 plan: unquote actions names
  plan/plan.go
Labels: area/cli

#2252 universe: Add kubernetes package
  pkg/universe.dagger.io/x/tom.chauveau.pro@icloud.com/kubernetes/apply.cue
  pkg/universe.dagger.io/x/tom.chauveau.pro@icloud.com/kubernetes/kubectl.cue
  pkg/universe.dagger.io/x/tom.chauveau.pro@icloud.com/kubernetes/test/apply.cue
  pkg/universe.dagger.io/x/tom.chauveau.pro@icloud.com/kubernetes/test/data/hello-pod/hello.yaml
  pkg/universe.dagger.io/x/tom.chauveau.pro@icloud.com/kubernetes/test/kubectl.cue
Labels: area/universe

#2171 universe: python: Use official python image
  pkg/universe.dagger.io/python/image.cue
  pkg/universe.dagger.io/python/python.cue
  pkg/universe.dagger.io/python/test/test.cue
Labels: area/universe

#2353 feat: add Gitpod support
  .github/workflows/test-gitpod.yml
  .gitpod.Dockerfile
  .gitpod.yml
  .vscode/settings.json
  ci.cue
  ci/gitpod/test.cue
Labels: area/documentation

#2097 [doc] Getting started with Tekton
  docs/getting-started/1201-ci-environment.md
Labels: area/documentation, kind/enhancement, size/medium, ecosystem

#2430 feat: export secrets with `docker.#Run`
  pkg/universe.dagger.io/docker/run.cue
  pkg/universe.dagger.io/docker/test/run.cue
Labels: kind/dx, area/universe, kind/ux

#2385 feat: Use `client: filesystem` path as a default
  compiler/value.go
  pkg/dagger.io/dagger/plan.cue
  plan/action.go
  plan/task/clientfilesystem.go
  plan/task/clientfilesystemread.go
  plan/task/clientfilesystemwrite.go
  plan/task/util.go
  plan/validate.go
  plancontext/tempdir.go
  tests/plan.bats
  tests/plan/client/filesystem/conflict/test.cue
  tests/plan/client/filesystem/read/file/test.cue
  tests/plan/client/filesystem/read/fs/dynamic/fail_load.cue
  tests/plan/client/filesystem/read/fs/dynamic/fail_path_exists.cue
  tests/plan/client/filesystem/read/fs/invalid_fs_input/test.cue
  tests/plan/client/filesystem/read/fs/invalid_fs_type/test.cue
  tests/plan/client/filesystem/read/fs/multiple/1.md
  tests/plan/client/filesystem/read/fs/multiple/11.rst
  tests/plan/client/filesystem/read/fs/multiple/2.md
  tests/plan/client/filesystem/read/fs/multiple/3.md
  tests/plan/client/filesystem/read/fs/multiple/33.rst
  tests/plan/client/filesystem/read/fs/multiple/test.cue
  tests/plan/client/filesystem/write/multiple/test.cue
Labels: size/large, kind/API design, area/engine, area/core

#2423 fix: Course correct on `project update` consistency
  cmd/dagger/cmd/project/update.go
  mod/file.go
  mod/mod.go
  mod/require.go
Labels: area/cli

#2427 ci: Pass cache env vars through to integ tests.
  ci.cue
Labels: area/ci

#2420 docs: Add more installation options for Windows
  docs/getting-started/1200-local-dev.md
Labels: area/documentation

#2271 docs: splitting a dagger plan / exporting packages
  docs/guides/1238-project-file-organization.md
  docs/guides/1239-making-reusable-package.md
  website/sidebars.js
Labels: area/documentation

#2433 feature: Add debian
  pkg/universe.dagger.io/x/latoz@protonmail.com/debian/debian.cue
  pkg/universe.dagger.io/x/latoz@protonmail.com/debian/test/test.bats
  pkg/universe.dagger.io/x/latoz@protonmail.com/debian/test/test.cue
Labels: area/universe

#2387 docs: Bypass `Permission denied` error on Windows when cloning the dagger repo
  docs/getting-started/1200-local-dev.md
Labels: area/documentation

#2436 docs: document usage with buildkit unix socket
  docs/guides/1223-custom-buildkit.md
Labels: area/documentation

#2422 core: add `#RmFile` core action
  pkg/dagger.io/dagger/core/fs.cue
  plan/task/rm.go
  tests/tasks.bats
  tests/tasks/rm/rm.cue
Labels: area/core

#2395 feat: Add 1password package
  pkg/universe.dagger.io/x/berryphillips@gmail.com/onepassword/example/plan.cue
  pkg/universe.dagger.io/x/berryphillips@gmail.com/onepassword/onepassword.cue
  pkg/universe.dagger.io/x/berryphillips@gmail.com/onepassword/read.cue
  pkg/universe.dagger.io/x/berryphillips@gmail.com/onepassword/read.sh
Labels: area/universe

#2380 feature: Add apt package to universe
  pkg/universe.dagger.io/x/cpuguy83@gmail.com/apt/install.cue
  pkg/universe.dagger.io/x/cpuguy83@gmail.com/apt/test/test.bats
  pkg/universe.dagger.io/x/cpuguy83@gmail.com/apt/test/test.cue
Labels: area/universe

#2450 Experimental: modified version of Kambui Nurse's spectral package
  pkg/universe.dagger.io/x/solomon@dagger.io/spectral/README.md
  pkg/universe.dagger.io/x/solomon@dagger.io/spectral/lint.cue
  pkg/universe.dagger.io/x/solomon@dagger.io/spectral/test/petstore.yaml
  pkg/universe.dagger.io/x/solomon@dagger.io/spectral/test/standards.spectral.yaml
  pkg/universe.dagger.io/x/solomon@dagger.io/spectral/test/test.bats
  pkg/universe.dagger.io/x/solomon@dagger.io/spectral/test/test.cue
Labels: area/universe

#2441 rename telemetry to analytics
  analytics/analytics.go
  analytics/git.go
  analytics/git_test.go
  cmd/dagger/cmd/common/track.go
  cmd/dagger/cmd/do.go
  docs/learn/tests/helpers.bash
  pkg/universe.dagger.io/bats_helpers.bash
Labels: area/engine

#2443 primitive auth support
  api/api.go
  api/auth/auth.go
  cmd/dagger/cmd/apitest.go
  cmd/dagger/cmd/login.go
  cmd/dagger/cmd/logout.go
  cmd/dagger/cmd/root.go
  go.mod
  go.sum
Labels: area/cli

#2442 ci: moving universe and docs integration tests to the dagger CI plan
  Makefile
  ci.cue
  ci/bats/bats.cue
  pkg/universe.dagger.io/age_key.txt
  pkg/universe.dagger.io/bats_helpers.bash
  pkg/universe.dagger.io/secrets_sops.yaml
Labels: area/ci

#2453 ci: Split Experimental tests from Universe tests
  .github/workflows/test-experimental-universe.yml
  Makefile
  ci.cue
  pkg/universe.dagger.io/package.json
Labels: area/ci

#2524 fix(docker.#Image): correctly verify files
  pkg/universe.dagger.io/docker/test/image.cue
Labels: area/universe

#2530 core.#Nop: fix output to be properly generated
  pkg/dagger.io/dagger/core/nop.cue
  plan/task/nop.go
  tests/plan.bats
  tests/plan/outputs/outputs.cue
Labels: area/engine, area/core

#2518 Add `docker.#Scratch` image
  pkg/universe.dagger.io/docker/image.cue
  pkg/universe.dagger.io/docker/test/image.cue
Labels: area/universe
