Repository dagger/dagger, pull requests merged in 2022-04, with the labels that each got.

#1987 [Docs] - update favicon
  website/static/img/favicon.png
Labels: area/documentation, area/website

#1989 Remove navbar schedule link
  website/docusaurus.config.js
Labels: kind/enhancement, size/small, area/website

#1970 bump up docusaurus preset classic theme
  website/package.json
  website/src/css/custom.scss
Labels: area/documentation, javascript, area/website

#1979 Prevents files to be used as input of dagger.#FS
  plan/task/clientfilesystemread.go
  tests/plan.bats
  tests/plan/client/filesystem/read/fs/invalid_fs_input/test.cue
  tests/plan/client/filesystem/read/fs/invalid_fs_type/test.cue
Labels: kind/enhancement, go, size/small

#1953 Fix typo in docs
  docs/tests/core-concepts/plan/structure.cue.fragment
Labels: area/documentation, kind/enhancement, size/small

#2012 docs: Correctly capitalize GitHub and GitLab
  docs/getting-started/1220-vs.md
  docs/introduction/1000-what_is.md
  docs/introduction/1002-vs.md
  docs/learn/1009-github-actions.md
  docs/learn/1011-package-manager.md
  docs/use-cases/1211-go-docker-swarm.md
Labels: area/documentation

#1971 universe: go: add git by default in go.#Image
  pkg/universe.dagger.io/go/image.cue
  pkg/universe.dagger.io/go/test/image.cue
Labels: kind/enhancement, area/universe

#2017 ci: Add changelog exclusion for chores
  .goreleaser.yml
Labels: size/small, area/ci

#1984 CI dogfood improvements
  .github/workflows/dagger-ci.yml
  ci.cue
  ci/.gitignore
  ci/README.md
  ci/golangci/lint.cue
  ci/images.cue
  ci/main.cue
  ci/markdownlint/markdownlint.cue
  ci/shellcheck/shellcheck.cue
  cue.mod/module.cue
  pkg/universe.dagger.io/go/build.cue
  pkg/universe.dagger.io/go/container.cue
  pkg/universe.dagger.io/go/test.cue
  pkg/universe.dagger.io/go/test/container.cue
  plan/task/clientfilesystemread.go
  plan/task/source.go
  source.cue
Labels: kind/enhancement, go, area/ci

#2025 Fix mounts in `cli.#Run`
  pkg/universe.dagger.io/docker/cli/client.cue
Labels: area/universe

#2036 docs: add tip for support symlink with git on Windows
  docs/getting-started/1200-local-dev.md
Labels: size/small, area/dagger.io

#2045 Remove incorrect installer documentation
  docs/getting-started/1200-local-dev.md
Labels: size/small, area/dagger.io

#2028 Automatically detect target platform based on buildkit worker
  client/client.go
  plan/plan.go
  plancontext/context.go
  plancontext/platform.go
Labels: kind/enhancement, go

#2019 ci: Group changelog entries for breaking changes
  .goreleaser.yml
Labels: size/small, area/ci

#2051 Add experimental way to set a target platform when building
  ci.cue
  client/client.go
  cmd/dagger/cmd/common/common.go
  cmd/dagger/cmd/do.go
  cmd/dagger/cmd/root.go
  plan/plan.go
  plancontext/platform.go
  solver/solver.go
  tests/plan.bats
  tests/plan/platform/config_platform_failure_invalid_platform.cue
  tests/plan/platform/config_platform_linux_amd64.cue
  tests/plan/platform/config_platform_linux_arm64.cue
  tests/plan/platform/platform.cue
Labels: kind/enhancement, go

#2040 Docs: add content to 1205: "building container images"
  docs/core-concepts/1205-container-images.md
  docs/tests/core-concepts/container-images/simple/build.cue
  docs/tests/core-concepts/container-images/simple/with-dockerfile.cue
Labels: kind/enhancement, area/dagger.io

#2041 ci: lint dagger using dagger
  .github/workflows/dagger-ci.yml
  .github/workflows/lint.yml
  Makefile
  ci.cue
  ci/cue/lint.cue
  ci/golangci/lint.cue
  ci/markdownlint/markdownlint.cue
  ci/shellcheck/shellcheck.cue
Labels: size/medium, area/ci

#2064 Docs: various improvements
  docs/core-concepts/1221-action.md
  docs/guides/1205-container-images.md
  website/sidebars.js
Labels: area/documentation

#2043 Fix broken API references in universe/python
  pkg/universe.dagger.io/python/python.cue
  pkg/universe.dagger.io/python/test/data/helloworld.py
  pkg/universe.dagger.io/python/test/test.bats
  pkg/universe.dagger.io/python/test/test.cue
Labels: kind/enhancement, area/universe, size/medium

#2062 feat: Adding project info command to find where project is located
  cmd/dagger/cmd/project/info.go
  cmd/dagger/cmd/project/projectroot.go
  tests/project.bats
Labels: kind/enhancement, go, size/medium

#2086 chore: Fix typo
  pkg/dagger.io/dagger/core/fs.cue
  pkg/universe.dagger.io/docker/build.cue
Labels: kind/enhancement, area/universe, size/small

#2108 remove dup code when judge filesystem target isFS
  plan/task/clientfilesystemread.go
Labels: go, size/small, kind/refactor

#2127 website: update code blocks font
  website/docusaurus.config.js
  website/src/css/custom.scss
Labels: kind/enhancement, area/website

#2006 Convert home relative paths for cache options
  cmd/dagger/cmd/common/common.go
Labels: kind/enhancement, go, size/medium

#2131 website: Increase broken links checking
  docs/learn/1008-aws-cloudformation.md
  website/docusaurus.config.js
Labels: kind/enhancement, area/website

#2102 docs: Add Jenkins CI doc. Fixes #2067
  docs/getting-started/1201-ci-environment.md
Labels: area/documentation, size/small

#2115 universe: python: allow custom path to python
  pkg/universe.dagger.io/python/python.cue
  pkg/universe.dagger.io/python/test/test.cue
Labels: kind/enhancement, area/universe, size/small

#2138 Creating lua package for fmt
  pkg/universe.dagger.io/x/teddylear@protonmail.com/lua/fmtCheck.cue
  pkg/universe.dagger.io/x/teddylear@protonmail.com/lua/test/data/hello/example.lua
  pkg/universe.dagger.io/x/teddylear@protonmail.com/lua/test/fmtCheck.cue
  pkg/universe.dagger.io/x/teddylear@protonmail.com/lua/test/test.bats
Labels: area/universe

#1962 fixed the sample github action in the documentation
  docs/tests/getting-started/github-actions.yml
Labels: area/documentation, size/small

#2173 website: hardcode version banner for 0.1 docs
  docs/0.1.md
  docs/1214-migrate-from-dagger-0.1.md
  docs/administrator/1013-operator-manual.md
  docs/core-concepts/1202-plan.md
  docs/core-concepts/1203-client.md
  docs/core-concepts/1204-secrets.md
  docs/core-concepts/1206-packages.md
  docs/core-concepts/1207-caching.md
  docs/core-concepts/1213-dagger-cue.md
  docs/core-concepts/1221-action.md
  docs/getting-started/1200-local-dev.md
  docs/getting-started/1201-ci-environment.md
  docs/getting-started/1220-vs.md
  docs/getting-started/index.md
  docs/guides/1205-container-images.md
  docs/guides/1216-docker-cli-load.md
  docs/guides/1217-docker-cli-run.md
  docs/guides/1218-cli-telemetry.md
  docs/guides/1226-coding-style.md
  docs/introduction/1000-what_is.md
  docs/new.sh
  docs/references/1222-core-actions-reference.md
  docs/use-cases/1208-phoenix-kubernetes.md
  docs/use-cases/1209-docusaurus-netlify.md
  docs/use-cases/1210-go-goreleaser.md
  docs/use-cases/1211-go-docker-swarm.md
  docs/use-cases/1212-svelte-vercel.md
  docs/use-cases/1219-go-docker-hub.md
  website/sidebars.js
  website/src/components/DeprecatedVersionBanner.js
  website/src/theme/DocPage/index.js
Labels: area/documentation, priority/high, area/website

#2133 docs: Add guide to showcase handling outputs
  docs/guides/1227-contributing.md
  docs/guides/1228-handling-outputs.md
  docs/tests/core-concepts/client/plans/output_marshal.cue.fragment
  docs/tests/core-concepts/client/plans/output_simple.cue.fragment
  website/sidebars.js
Labels: area/documentation

#2119 fix: explicit dagger project usage
  cmd/dagger/cmd/project/init.go
  cmd/dagger/cmd/project/update.go
Labels: kind/enhancement, kind/ux, size/small

#2176 docs: Mention macOS ARM vs Intel Homebrew dagger install path diff
  docs/getting-started/1200-local-dev.md
Labels: area/documentation

#2152 docs: add an FAQ section
  docs/faq/1229-empty-buildkit-cache.md
  docs/faq/1230-better-logs.md
  docs/faq/1231-always-execute.md
  docs/faq/1232-chain-actions.md
  docs/faq/1233-default-values-cue.md
  docs/faq/index.md
  website/sidebars.js
Labels: area/documentation

#2172 ci: Deploy todoapp with dev dagger AND ALSO latest 0.2.x release
  .github/workflows/todoapp.yml
Labels: area/ci

#2095 Allow to specify template when running `dagger project init`
  cmd/dagger/cmd/project/init.go
  cmd/dagger/cmd/project/template.go
  cmd/dagger/cmd/project/templates/hello.cue
  tests/package.json
  tests/project.bats
Labels: kind/enhancement, kind/ux

#2033 `dagger do` action options flags
  cmd/dagger/cmd/do.go
  go.mod
  pkg/universe.dagger.io/aws/cli/test/test.bats
  pkg/universe.dagger.io/aws/test/test.bats
  plan/action.go
  plan/action_test.go
  plan/plan.go
  tests/plan.bats
  tests/plan/do/do_flags.cue
  tests/tasks.bats
Labels: size/medium

#2208 docs: Add types reference
  docs/references/1222-core-actions-reference.md
  docs/references/1234-dagger-types-reference.md
  pkg/dagger.io/dagger/types.cue
  pkg/dagger.io/dagger/values.cue
  website/sidebars.js
Labels: area/documentation

#2065 feat: support helm
  pkg/universe.dagger.io/x/vgjm456@qq.com/helm/image.cue
  pkg/universe.dagger.io/x/vgjm456@qq.com/helm/install.cue
  pkg/universe.dagger.io/x/vgjm456@qq.com/helm/test/test.cue
Labels: kind/enhancement, area/universe, size/medium

#2046 docs: Add embedding explanation
  docs/core-concepts/1215-what-is-cue.md
Labels: kind/enhancement, size/small, area/dagger.io

#2243 Add Rust to universe community
  pkg/universe.dagger.io/x/contact@kjuulh.io/rust/container.cue
  pkg/universe.dagger.io/x/contact@kjuulh.io/rust/image.cue
  pkg/universe.dagger.io/x/contact@kjuulh.io/rust/publish.cue
  pkg/universe.dagger.io/x/contact@kjuulh.io/rust/test.cue
  pkg/universe.dagger.io/x/contact@kjuulh.io/rust/test/data/hello/Cargo.toml
  pkg/universe.dagger.io/x/contact@kjuulh.io/rust/test/data/hello/src/main.rs
  pkg/universe.dagger.io/x/contact@kjuulh.io/rust/test/image.cue
  pkg/universe.dagger.io/x/contact@kjuulh.io/rust/test/publish.cue
  pkg/universe.dagger.io/x/contact@kjuulh.io/rust/test/test.bats
Labels: area/universe

#2255 docs: Add embedding sample
  docs/core-concepts/1215-what-is-cue.md
Labels: area/documentation

#2257 docs: Update multi-stage example
  docs/guides/1205-container-images.md
  docs/tests/guides/container-images/multi-stage/dagger.cue
  docs/tests/guides/container-images/multi-stage/src/app.go
  docs/tests/guides/container-images/multi-stage/src/go.mod
  docs/tests/guides/container-images/simple/build.cue
  docs/tests/guides/container-images/simple/src/app.py
  docs/tests/guides/container-images/simple/src/requirements.txt
  docs/tests/guides/container-images/simple/with-dockerfile.cue
  docs/tests/guides/container-images/template/dagger.cue
Labels: area/documentation

#2289 universe: Set bash.#Run entrypoint to `/bin/bash`
  pkg/universe.dagger.io/bash/bash.cue
Labels: area/universe, size/small

#2151 fix: rename duplicates Go modules
  docs/tests/guides/container-images/multi-stage/dagger.cue
  docs/tests/guides/container-images/multi-stage/src/go.mod
  pkg/universe.dagger.io/go/test/build.cue
  pkg/universe.dagger.io/go/test/data/hello/go.mod
  pkg/universe.dagger.io/go/test/data/hello/main.go
Labels: size/small

#2261 Avoid duplicate StringSlices when parsing flags
  cmd/dagger/cmd/do.go
Labels: area/cli

#2281 ci: stop printing all cue files when linting
  ci/cue/lint.cue
Labels: area/ci

#2293 fix: should show cue error details when WriteFile contents not set
  plan/task/writefile.go
Labels: kind/ux, area/engine

#2120 ci: scope cache to enhance speed
  .github/workflows/dagger-ci.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-universe.yml
  cmd/dagger/cmd/common/common.go
  pkg/universe.dagger.io/bats_helpers.bash
  tests/helpers.bash
Labels: kind/enhancement, size/large, area/ci

#2307 ci: fix cache key creation on main
  .github/workflows/dagger-ci.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-universe.yml
Labels: area/ci

#2308 Fix tty log panic issue
  cmd/dagger/logger/tty.go
Labels: area/engine

#2256 website: display caution Docusaurus "Admonition"
  .markdownlint.yaml
  docs/1001-install.md
  docs/_caution-banner.md
  docs/administrator/1013-operator-manual.md
  docs/introduction/1000-what_is.md
  docs/introduction/1002-vs_old.md
  docs/learn/1003-get-started.md
  docs/learn/1004-first-env.md
  docs/learn/1005-what_is_cue.md
  docs/learn/1006-google-cloud-run.md
  docs/learn/1007-kubernetes.md
  docs/learn/1008-aws-cloudformation.md
  docs/learn/1009-github-actions.md
  docs/learn/1010-dev-cue-package.md
  docs/learn/1011-package-manager.md
  docs/use-cases/1012-ci.md
  website/sidebars.js
  website/src/components/DeprecatedVersionBanner.js
  website/src/theme/DocPage/index.js
Labels: area/website

#2309 Remove entrypoint from `bash.#Run`
  pkg/universe.dagger.io/bash/bash.cue
Labels: area/universe

#2090 feat: adding kapp package
  pkg/universe.dagger.io/x/carvel.dev/kapp/kapp.cue
  pkg/universe.dagger.io/x/carvel.dev/kapp/test/kubesrc.yaml
  pkg/universe.dagger.io/x/carvel.dev/kapp/test/test.cue
Labels: kind/enhancement, area/universe

#2325 updated references to v0.2.8
  docs/getting-started/1200-local-dev.md
Labels: area/documentation, size/small

#2291 feat:add discord webhook support
  pkg/universe.dagger.io/x/hardy4yooz@gmail.com/notify/discord/discord.cue
  pkg/universe.dagger.io/x/hardy4yooz@gmail.com/notify/discord/parameter.cue
  pkg/universe.dagger.io/x/hardy4yooz@gmail.com/notify/discord/test/test.cue
Labels: area/universe
