Repository dagger/dagger, pull requests merged in 2023-01, with the labels that each got.

#4269 style: enhance NodeSDK coding style
  codegen/generator/nodejs/templates/src/header.ts.tmpl
  sdk/nodejs/.prettierrc
  sdk/nodejs/api/client.gen.ts
  sdk/nodejs/api/test/api.spec.ts
  sdk/nodejs/api/utils.ts
  sdk/nodejs/common/errors/GraphQLRequestError.ts
  sdk/nodejs/connect.ts
  sdk/nodejs/package.json
  sdk/nodejs/provisioning/bin.ts
  sdk/nodejs/provisioning/engineconn.ts
  sdk/nodejs/test/connect.spec.ts
  sdk/nodejs/yarn.lock
Labels: sdk/nodejs

#4266 fix: NodeSDK correctly solves subqueries
  sdk/nodejs/api/test/api.spec.ts
  sdk/nodejs/api/utils.ts
Labels: sdk/nodejs

#4274 style: improve NodeSDK utils code
  sdk/nodejs/api/utils.ts
Labels: sdk/nodejs

#4275 Node.js SDK - Improve ref docs readability
  website/docusaurus.config.js
  website/src/css/custom.scss
Labels: area/website, sdk/nodejs

#4265 docs: explain how use local NodeSDK library.
  sdk/nodejs/README.md
Labels: area/documentation, sdk/nodejs

#4283 nodesdk: added typesafe error names
  sdk/nodejs/common/errors/DockerImageRefValidationError.ts
  sdk/nodejs/common/errors/EngineSessionConnectParamsParseError.ts
  sdk/nodejs/common/errors/EngineSessionConnectionTimeoutError.ts
  sdk/nodejs/common/errors/EngineSessionEOFErrorOptions.ts
  sdk/nodejs/common/errors/GraphQLRequestError.ts
  sdk/nodejs/common/errors/InitEngineSessionBinaryError.ts
  sdk/nodejs/common/errors/TooManyNestedObjectsError.ts
  sdk/nodejs/common/errors/UnknownDaggerError.ts
  sdk/nodejs/common/errors/errors-codes.ts
Labels: sdk/nodejs

#4280 Python: Update locked packages
  sdk/python/poetry.lock
Labels: sdk/python

#4281 Python: Use platform dependent cache dirs
  sdk/python/poetry.lock
  sdk/python/pyproject.toml
  sdk/python/src/dagger/engine/download.py
Labels: sdk/python

#4134 fix(codegen/nodejs): generate the required method param documentation correctly
  codegen/generator/nodejs/templates/functions.go
  codegen/generator/nodejs/templates/src/header.ts.tmpl
  codegen/generator/nodejs/templates/src/helper.go
  codegen/generator/nodejs/templates/src/helper_test.go
  codegen/generator/nodejs/templates/src/method.ts.tmpl
  codegen/generator/nodejs/templates/src/method_comment.ts.tmpl
  codegen/generator/nodejs/templates/src/method_solve.ts.tmpl
  codegen/generator/nodejs/templates/src/object_test.go
  codegen/generator/nodejs/templates/src/objects_test.go
  codegen/generator/nodejs/templates/src/testdata/object_test_want.ts
  codegen/generator/nodejs/templates/src/testdata/objects_test_want.ts
  codegen/generator/nodejs/templates/src/testdata/type_test_args_want.ts
  codegen/generator/nodejs/templates/src/testdata/type_test_scalar_want.ts
  codegen/generator/nodejs/templates/src/type.ts.tmpl
  codegen/generator/nodejs/templates/src/type_test.go
  sdk/nodejs/api/client.gen.ts
Labels: sdk/nodejs

#4297 update local development section in the README
  sdk/nodejs/README.md
  sdk/nodejs/package.json
Labels: sdk/nodejs

#4250 improve connect doc reference
  sdk/nodejs/connect.ts
Labels: area/documentation, sdk/nodejs

#4286 Add zipfile cli download support for windows.
  sdk/go/internal/engineconn/cli.go
  sdk/nodejs/package.json
  sdk/nodejs/provisioning/bin.ts
  sdk/nodejs/yarn.lock
Labels: sdk/go, sdk/nodejs

#4240 docs: improve GraphQL schema doc
  core/schema/cache.graphqls
  core/schema/container.graphqls
  core/schema/directory.graphqls
  core/schema/file.graphqls
  core/schema/git.graphqls
  core/schema/host.graphqls
  core/schema/http.graphqls
  core/schema/platform.graphqls
  core/schema/secret.graphqls
  core/schema/socket.graphqls
  sdk/go/api.gen.go
  sdk/nodejs/api/client.gen.ts
  sdk/python/src/dagger/api/gen.py
  sdk/python/src/dagger/api/gen_sync.py
  sdk/python/src/dagger/codegen.py
Labels: area/documentation

#4284 feat: improve error message on `dagger session` connection failures
  internal/engine/client.go
Labels: area/engine, sdk/go

#4352 Document more runner conn types.
  core/docs/d7yxc-operator_manual.md
Labels: area/documentation

#4363 Node.js SDK - use XDG_CACHE_HOME env by default
  sdk/nodejs/provisioning/bin.ts
Labels: sdk/nodejs

#4351 Enhance docs typo readability
  website/src/css/custom.scss
Labels: area/website

#4390 Bugfix: CLI Download for Node.js SDK on Windows
  sdk/nodejs/.gitattributes
  sdk/nodejs/provisioning/bin.ts
Labels: sdk/nodejs

#4410 [GraphQL Reference] add ids and anchor tags to each field
  website/docs-graphql/custom-theme/data/index.js
  website/docs-graphql/custom-theme/helpers/spanWrap.js
  website/docs-graphql/custom-theme/views/partials/graphql/kinds/_fields.hbs
  website/docs-graphql/custom-theme/views/partials/graphql/name-and-type.hbs
Labels: area/documentation

#4436 GraphQL comments - Replace curly braces with square brackets
  core/schema/container.graphqls
  core/schema/platform.graphqls
  sdk/go/api.gen.go
  sdk/nodejs/api/client.gen.ts
  sdk/python/src/dagger/api/gen.py
  sdk/python/src/dagger/api/gen_sync.py
Labels: area/website, sdk/go, sdk/nodejs, sdk/python

#4442 Node.js SDK - Remove axios dependency
  sdk/nodejs/package.json
  sdk/nodejs/yarn.lock
Labels: sdk/nodejs

#4468 Fix code tags css in dark mode
  website/src/css/custom.scss
Labels: area/website

#4421 Fix session error handling
  sdk/nodejs/common/errors/EngineSessionErrorOptions.ts
  sdk/nodejs/common/errors/errors-codes.ts
  sdk/nodejs/common/errors/index.ts
  sdk/nodejs/provisioning/bin.ts
Labels: sdk/nodejs

#4486 engine: fix Export on Windows (workdir verification)
  core/host.go
Labels: area/engine

#4433 Docs website - Replace Amplitude with Posthog
  website/docusaurus.config.js
  website/env.example
  website/netlify.toml
  website/package.json
  website/src/theme/DocPage/index.js
  website/yarn.lock
Labels: area/website

#4415 refactor: group common funcs into upper interface
  codegen/generator/functions.go
  codegen/generator/go/templates/format.go
  codegen/generator/go/templates/functions.go
  codegen/generator/nodejs/templates/format.go
  codegen/generator/nodejs/templates/functions.go
Labels: sdk/go, sdk/nodejs
