Repository dagger/dagger, pull requests merged in 2023-12, with the labels that each got.

#6184 Python refactor: Load object from ID using new convention
  sdk/python/src/dagger/_codegen/generator.py
  sdk/python/src/dagger/client/_core.py
  sdk/python/src/dagger/client/_guards.py
  sdk/python/src/dagger/client/gen.py
  sdk/python/src/dagger/mod/_converter.py
  sdk/python/tests/client/test_codegen.py
Labels: sdk/python

#6101 docs: Java SDK Dagger CLI example
  sdk/java/README.md
Labels: sdk/java

#6224 feat: allow go modules to declare private fields
  cmd/codegen/generator/go/templates/modules.go
  core/integration/module_test.go
Labels: zenith

#6257 Fix various input normalization issues
  core/integration/module_test.go
  core/schema/coremod.go
  core/schema/usermod.go
Labels: zenith

#6258 feat: skip namespacing when already prefixed
  core/integration/module_test.go
  core/integration/testdata/modules/go/namespacing/main.go
  core/integration/testdata/modules/go/namespacing/sub2/main.go
  core/schema/schema.go
  core/schema/schema_test.go
Labels: zenith

#6117 Python SDK dev module
  .readthedocs.yaml
  internal/mage/sdk/python.go
  sdk/python/README.md
  sdk/python/dev/.gitignore
  sdk/python/dev/README.md
  sdk/python/dev/dagger.json
  sdk/python/dev/pyproject.toml
  sdk/python/dev/src/main/__init__.py
  sdk/python/dev/src/main/consts.py
  sdk/python/dev/src/main/deps.py
  sdk/python/dev/src/main/docs.py
  sdk/python/dev/src/main/lint.py
  sdk/python/dev/src/main/test.py
  sdk/python/dev/src/main/utils.py
  sdk/python/docs/requirements.txt
  sdk/python/hatch.toml
  sdk/python/pyproject.toml
  sdk/python/requirements.txt
  sdk/python/requirements/docs.txt
  sdk/python/requirements/lint.txt
  sdk/python/requirements/proj.txt
  sdk/python/requirements/test.txt
Labels: sdk/python, zenith
