Repository dagger/dagger, pull requests merged in 2023-10, with the labels that each got.

#5719 docs(guides): updates examples of glob patterns supported in dagger
  docs/current/guides/421437-work-with-host-filesystem.md
  docs/current/guides/snippets/work-with-host-filesystem/glob-pattern/index.mts
  docs/current/guides/snippets/work-with-host-filesystem/glob-pattern/main.go
  docs/current/guides/snippets/work-with-host-filesystem/glob-pattern/main.py
Labels: stale

#5837 fix: fix Dagger.Container.with_env_variable/4 crash
  sdk/elixir/.changes/unreleased/Fixed-20231011-215344.yaml
  sdk/elixir/lib/dagger/query_builder.ex
  sdk/elixir/test/dagger/client_test.exs
  sdk/elixir/test/dagger/querybuilder_test.exs
Labels: sdk/elixir

#5893 fix: add recursive type detection for the go sdk
  cmd/codegen/generator/go/templates/modules.go
  core/integration/module_test.go
Labels: zenith

#5916 ci: pin buildctl source image to multiplatform index
  internal/mage/util/engine.go
Labels: kind/bug, size/small

#5882 Improve cli for calling module functions
  .changes/unreleased/Changed-20231016-145149.yaml
  cmd/codegen/generator/go/templates/src/header.go.tmpl
  cmd/dagger/call.go
  cmd/dagger/download.go
  cmd/dagger/flags.go
  cmd/dagger/functions.go
  cmd/dagger/main.go
  cmd/dagger/module.go
  cmd/dagger/shell.go
  core/function.go
  core/integration/module_test.go
  hack/with-dev
  sdk/go/client.go
  sdk/go/client_test.go
  sdk/go/dagger.gen.go
  sdk/go/error.go
  sdk/go/fs.go
  sdk/go/querybuilder/marshal.go
  sdk/go/querybuilder/marshal_test.go
  sdk/go/querybuilder/querybuilder.go
  sdk/go/querybuilder/querybuilder_test.go
  sdk/python/runtime/.gitignore
Labels: zenith, linear

#5887 Refactor IDable Object mechanisms in Java SDK
  sdk/java/README.md
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/Field.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/Helpers.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/ObjectVisitor.java
  sdk/java/dagger-codegen-maven-plugin/src/main/java/io/dagger/codegen/introspection/Type.java
  sdk/java/dagger-java-sdk/src/main/java/io/dagger/client/Arguments.java
  sdk/java/dagger-java-sdk/src/main/java/io/dagger/client/IDAble.java
  sdk/java/dagger-java-sdk/src/test/java/io/dagger/client/ArgumentsTest.java
Labels: sdk/java

#5984 ci(deps): configure dependabot for java SDK
  .github/dependabot.yml
Labels: area/ci, sdk/java

#5973 Update Java SDK code sample
  sdk/java/README.md
  sdk/java/dagger-java-samples/pom.xml
  sdk/java/dagger-java-samples/src/main/java/io/dagger/sample/BuildFromDockerfile.java
  sdk/java/dagger-java-samples/src/main/java/io/dagger/sample/ContainerToHostNetworking.java
  sdk/java/dagger-java-samples/src/main/java/io/dagger/sample/CreateAndUseSecret.java
  sdk/java/dagger-java-samples/src/main/java/io/dagger/sample/Description.java
  sdk/java/dagger-java-samples/src/main/java/io/dagger/sample/GetDaggerWebsite.java
  sdk/java/dagger-java-samples/src/main/java/io/dagger/sample/HostToContainerNetworking.java
  sdk/java/dagger-java-samples/src/main/java/io/dagger/sample/ListEnvVars.java
  sdk/java/dagger-java-samples/src/main/java/io/dagger/sample/ListHostDirectoryContents.java
  sdk/java/dagger-java-samples/src/main/java/io/dagger/sample/Main.java
  sdk/java/dagger-java-samples/src/main/java/io/dagger/sample/MountHostDirectoryInContainer.java
  sdk/java/dagger-java-samples/src/main/java/io/dagger/sample/PublishImage.java
  sdk/java/dagger-java-samples/src/main/java/io/dagger/sample/ReadFileInGitRepository.java
  sdk/java/dagger-java-samples/src/main/java/io/dagger/sample/RunContainer.java
  sdk/java/dagger-java-samples/src/main/java/io/dagger/sample/TestWithDatabase.java
Labels: sdk/java
