Repository dagger/dagger, pull requests merged in 2023-11, with the labels that each got.

#6033 feat: add API schema for dagger 0.9.1
  sdk/java/README.md
  sdk/java/dagger-codegen-maven-plugin/src/main/resources/schemas/schema-0.9.1.json
Labels: sdk/java

#6057 Zenith (Go SDK): allow omitting JSON types in structs
  cmd/codegen/generator/go/templates/modules.go
  core/function.go
  core/integration/module_test.go
  core/schema/module.go
Labels: zenith

#5886 docs: Improves PHP guide
  docs/current/guides/128409-build-test-publish-php.md
  docs/current/guides/snippets/build-test-publish-php/dagger.php
Labels: stale

#6099 fix Elixir service binding not working
  sdk/elixir/.changes/unreleased/Fixed-20231113-215135.yaml
  sdk/elixir/lib/dagger/codegen/elixir/function.ex
  sdk/elixir/lib/dagger/codegen/elixir/module.ex
  sdk/elixir/lib/dagger/codegen/elixir/templates/object_tmpl.ex
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/elixir/lib/dagger/gen/container.ex
  sdk/elixir/lib/dagger/gen/host.ex
  sdk/elixir/test/dagger/client_test.exs
Labels: sdk/elixir

#6121 fix: Do not try to use dynamic provisioning when port and session token env vars are set
  sdk/java/dagger-java-sdk/src/main/java/io/dagger/client/engineconn/Connection.java
  sdk/java/dagger-java-sdk/src/test/java/io/dagger/client/engineconn/ConnectionTest.java
Labels: kind/bug, sdk/java

#6075 fix: split out docker pull step in progress
  engine/client/buildkit.go
  engine/client/client.go
  engine/client/docker.go
Labels: stale
