Repository dagger/dagger, pull requests merged in 2023-04, with the labels that each got.

#4884 Python: Fix type checking in object id resolution
  sdk/python/src/dagger/api/base.py
  sdk/python/tests/api/test_inputs.py
  sdk/python/tests/api/test_integration.py
Labels: sdk/python

#4882 docs: Highlight for better readability on code blocks
  website/src/css/custom.scss
Labels: kind/dx

#4522 Interactive logs via `dagger run`
  cmd/dagger/engine.go
  cmd/dagger/exec_nonunix.go
  cmd/dagger/exec_unix.go
  cmd/dagger/listen.go
  cmd/dagger/main.go
  cmd/dagger/query.go
  cmd/dagger/run.go
  cmd/dagger/session.go
  core/container.go
  core/integration/pipeline_test.go
  core/integration/remotecache_test.go
  core/pipeline/label.go
  core/schema/container.go
  engine/engine.go
  go.mod
  go.sum
  internal/engine/journal/journal.go
  internal/engine/journal/net.go
  internal/engine/journal/pipe.go
  internal/mage/go.mod
  internal/mage/go.sum
  internal/tui/details.go
  internal/tui/editor.go
  internal/tui/item.go
  internal/tui/keys.go
  internal/tui/model.go
  internal/tui/style.go
  internal/tui/tree.go
  internal/tui/util.go
  internal/tui/vterm.go
Labels: area/ci

#4900 `withExposedPort` also exposes port in OCI image config
  core/container.go
  core/integration/services_test.go
  core/service.go
Labels: kind/bug

#4911 SDK - Node.js - Pipe SIGINT to child process
  sdk/nodejs/provisioning/bin.ts
Labels: sdk/nodejs

#4907 tests: add additional test on chain operations
  sdk/nodejs/api/test/api.spec.ts
Labels: sdk/nodejs
