Repository dagger/dagger, pull requests merged in 2023-03, with the labels that each got.

#4721 docs(python): Make snippets more consistent
  docs/current/guides/snippets/multi-builds/build.py
  docs/current/guides/snippets/private-repositories/clone.py
Labels: area/documentation, sdk/python

#4719 Python: Don’t buffer output from engine
  sdk/python/src/dagger/engine/cli.py
Labels: sdk/python

#4667 feat: add dynamic secret API
  core/integration/container_test.go
  core/integration/secret_test.go
  core/integration/services_test.go
  core/schema/base.go
  core/schema/file.graphqls
  core/schema/secret.go
  core/schema/secret.graphqls
  core/secret.go
  engine/engine.go
  engine/remotecache/mountsync.go
  sdk/go/api.gen.go
  sdk/nodejs/api/client.gen.ts
  sdk/python/src/dagger/api/gen.py
  sdk/python/src/dagger/api/gen_sync.py
  secret/store.go
Labels: kind/dx, kind/security

#4683 feat: improve Go SDK to fetch list of objects
  codegen/generator/functions.go
  codegen/generator/go/generator.go
  codegen/generator/go/templates/functions.go
  codegen/generator/go/templates/src/object.go.tmpl
  codegen/generator/schema.go
  sdk/go/api.gen.go
  sdk/go/client_test.go
  sdk/go/internal/querybuilder/querybuilder.go
Labels: kind/dx, sdk/go, go

#4800 fix: NodeSDK now compute nested array of objects.
  sdk/nodejs/api/test/api.spec.ts
  sdk/nodejs/api/utils.ts
Labels: sdk/nodejs

#4788 docs: fix external link icons
  website/src/css/custom.scss
Labels: area/documentation
