Repository dagger/dagger, pull requests merged in 2023-09, with the labels that each got.

#5624 fix(docs): quickstart css selectors
  website/src/components/molecules/quickstartDoc.js
  website/src/css/custom.scss
Labels: stale

#5707 feat: extends mounted secret api
  .changes/unreleased/Added-20230829-002146.yaml
  core/container.go
  core/integration/container_test.go
  core/schema/container.go
  core/schema/container.graphqls
  sdk/elixir/lib/dagger/gen/container.ex
  sdk/go/api.gen.go
  sdk/nodejs/api/client.gen.ts
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
Labels: area/engine

#5785 fix(go-sdk): check nil ptr.
  codegen/generator/go/templates/functions.go
  codegen/generator/go/templates/src/header.go.tmpl
  codegen/generator/go/templates/src/object.go.tmpl
  sdk/go/.changes/unreleased/Fixed-20230915-131930.yaml
  sdk/go/api.gen.go
Labels: sdk/go
