Repository dagger/dagger, pull requests merged in 2023-05, with the labels that each got.

#5141 NodeJS SDK - Export Container type
  sdk/nodejs/api/test/api.spec.ts
  sdk/nodejs/index.ts
Labels: sdk/nodejs

#5047 updated markdown: pasted the output of tree that I got by running the example code
  docs/current/quickstart/349011-quickstart-build.mdx
Labels: stale

#5052 feat: build and from keep previous configuration.
  core/container.go
  core/integration/container_test.go
  core/util.go
Labels: area/engine
