Repository dagger/dagger, pull requests merged in 2023-08, with the labels that each got.

#5523 Node.js: Fix returning lists of objects
  codegen/generator/functions.go
  codegen/generator/go/templates/functions.go
  codegen/generator/nodejs/generator.go
  codegen/generator/nodejs/templates/functions.go
  codegen/generator/nodejs/templates/src/method_solve.ts.gtpl
  codegen/generator/nodejs/templates/src/object.ts.gtpl
  codegen/generator/nodejs/templates/src/testdata/object_test_want.ts
  codegen/generator/nodejs/templates/src/testdata/objects_test_want.ts
  sdk/nodejs/.changes/unreleased/Fixed-20230801-014423.yaml
  sdk/nodejs/api/client.gen.ts
  sdk/nodejs/api/test/api.spec.ts
Labels: sdk/nodejs

#5315 feat: check version compatibility
  core/schema/query.go
  core/schema/query.graphqls
  go.mod
  go.sum
  sdk/go/.changes/unreleased/Added-20230721-172809.yaml
  sdk/go/api.gen.go
  sdk/go/client.go
  sdk/nodejs/.changes/unreleased/Added-20230721-172820.yaml
  sdk/nodejs/api/client.gen.ts
  sdk/nodejs/connect.ts
  sdk/python/.changes/unreleased/Added-20230731-195002.yaml
  sdk/python/src/dagger/api/gen.py
  sdk/python/src/dagger/connection.py
  sdk/python/src/dagger/engine/conn.py
  sdk/python/src/dagger/exceptions.py
Labels: area/engine

#5558 Python: restructure internal packages and modules
  .github/workflows/publish.yml
  docs/current/.ruff.toml
  internal/mage/sdk/python.go
  sdk/python/.changes/unreleased/Breaking-20230802-174041.yaml
  sdk/python/README.md
  sdk/python/docs/_ext/dagger_ext.py
  sdk/python/docs/client.rst
  sdk/python/docs/conf.py
  sdk/python/docs/connection.rst
  sdk/python/docs/exceptions.rst
  sdk/python/docs/index.rst
  sdk/python/pyproject.toml
  sdk/python/requirements.txt
  sdk/python/src/dagger/__init__.py
  sdk/python/src/dagger/__main__.py
  sdk/python/src/dagger/_codegen/__init__.py
  sdk/python/src/dagger/_codegen/cli.py
  sdk/python/src/dagger/_codegen/generator.py
  sdk/python/src/dagger/_config.py
  sdk/python/src/dagger/_connection.py
  sdk/python/src/dagger/_engine/.gitattributes
  sdk/python/src/dagger/_engine/__init__.py
  sdk/python/src/dagger/_engine/_version.py
  sdk/python/src/dagger/_engine/conn.py
  sdk/python/src/dagger/_engine/download.py
  sdk/python/src/dagger/_engine/progress.py
  sdk/python/src/dagger/_engine/session.py
  sdk/python/src/dagger/_exceptions.py
  sdk/python/src/dagger/_managers.py
  sdk/python/src/dagger/client/.gitattributes
  sdk/python/src/dagger/client/__init__.py
  sdk/python/src/dagger/client/_core.py
  sdk/python/src/dagger/client/_guards.py
  sdk/python/src/dagger/client/_session.py
  sdk/python/src/dagger/client/_transport/__init__.py
  sdk/python/src/dagger/client/_transport/httpx.py
  sdk/python/src/dagger/client/base.py
  sdk/python/src/dagger/client/conn.py
  sdk/python/src/dagger/client/gen.py
  sdk/python/src/dagger/engine/__init__.py
  sdk/python/src/dagger/server/_commands.py
  sdk/python/src/dagger/server/_context.py
  sdk/python/src/dagger/server/_converter.py
  sdk/python/src/dagger/server/_exceptions.py
  sdk/python/tests/client/__init__.py
  sdk/python/tests/client/test_codegen.py
  sdk/python/tests/client/test_connection_errors.py
  sdk/python/tests/client/test_execute_errors.py
  sdk/python/tests/client/test_inputs.py
  sdk/python/tests/client/test_integration.py
  sdk/python/tests/client/test_response.py
  sdk/python/tests/engine/test_cli.py
  sdk/python/tests/engine/test_download.py
Labels: breaking change

#5610 hotfix(docs): quickstart layout width auto-expands so that playground fits better
  website/src/css/custom.scss
Labels: area/documentation

#5436 feat: add more logs on dagger loading
  .changes/unreleased/Added-20230811-203749.yaml
  core/container.go
  core/schema/container.go
  engine/client/client.go
Labels: area/engine

#5632 feat: show export host target
  .changes/unreleased/Added-20230815-154334.yaml
  core/directory.go
  core/file.go
Labels: size/small, area/engine

#5645 fix: NodeJS conflict between enumeration and string
  codegen/generator/nodejs/templates/functions.go
  codegen/generator/nodejs/templates/src/header.ts.gtpl
  codegen/generator/nodejs/templates/src/method.ts.gtpl
  codegen/generator/nodejs/templates/src/method_solve.ts.gtpl
  sdk/nodejs/.changes/unreleased/Fixed-20230816-184800.yaml
  sdk/nodejs/api/client.gen.ts
  sdk/nodejs/api/test/api.spec.ts
  sdk/nodejs/api/utils.ts
Labels: sdk/nodejs

#5406 feat(rust-sdk): set resolver v2
  sdk/rust/Cargo.toml
Labels: stale

#5654 fix: switch to stable engine only case no local cli
  sdk/elixir/.changes/unreleased/Fixed-20230817-221054.yaml
  sdk/elixir/lib/dagger/engine_conn.ex
Labels: sdk/elixir

#5675 feat: throw error on workdir config on session
  sdk/nodejs/connect.ts
Labels: sdk/nodejs
