Repository dagger/dagger, pull requests merged in 2023-06, with the labels that each got.

#5314 sdk(elixir): set label to dagger session
  sdk/elixir/lib/dagger/session.ex
Labels: gtm

#5309 ci: Use alpine for golangci-lint image
  ci/engine.go
  ci/go.go
  internal/mage/engine.go
  internal/mage/sdk/go.go
Labels: kind/performance, area/ci, gtm

#5319 fix(docs): increase guides tag search size
  website/src/components/molecules/guideIndex.js
  website/src/css/molecules/guideIndex.module.scss
Labels: area/documentation

#5317 feat: add host file query
  core/host.go
  core/integration/host_test.go
  core/schema/host.go
  core/schema/host.graphqls
  sdk/go/api.gen.go
  sdk/nodejs/api/client.gen.ts
  sdk/python/src/dagger/api/gen.py
  sdk/python/src/dagger/api/gen_sync.py
Labels: kind/dx, area/engine, go
