Repository dagger/dagger, pull requests merged in 2024-09, with the labels that each got.

#8297 fix: use sdkVersion when loading aliased sdk
  .changes/unreleased/Fixed-20240902-160036.yaml
  core/schema/sdk.go
Labels: needs/changelog

#8169 Docs - add link to SDKs
  docs/current_docs/adopting.mdx
Labels: area/documentation

#8281 chore: remove deprecated properties for v0.13.0
  .changes/.next
  .changes/unreleased/Breaking-20240903-153359.yaml
  cmd/dagger/session.go
  core/container_exec.go
  core/integration/client_test.go
  core/integration/container_test.go
  core/integration/legacy_test.go
  core/modfunc.go
  core/modulesource.go
  core/schema/container.go
  core/schema/directory.go
  core/schema/module.go
  core/schema/modulesource.go
  core/schema/query.go
  dagql/objects.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  engine/client/client.go
  internal/testutil/query.go
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/elixir/lib/dagger/gen/container.ex
  sdk/elixir/lib/dagger/gen/directory.ex
  sdk/elixir/lib/dagger/gen/git_module_source.ex
  sdk/go/client.go
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/go/internal/engineconn/engineconn.go
  sdk/go/internal/engineconn/session.go
  sdk/java/README.md
  sdk/java/dagger-java-samples/src/main/java/io/dagger/sample/GetDaggerWebsite.java
  sdk/php/README.md
  sdk/php/generated/Client.php
  sdk/php/generated/Container.php
  sdk/php/generated/Directory.php
  sdk/php/generated/GitModuleSource.php
  sdk/php/tests/Integration/ClientTest.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/api/client.gen.ts
Labels: area/engine/api, needs/changelog

#8236 feat: optimize TS SDK runtime
  sdk/typescript/.changes/unreleased/Changed-20240827-020027.yaml
  sdk/typescript/runtime/main.go
Labels: needs/changelog

#7710 ci: run trivy on source directory
  .dagger/engine.go
  sdk/java/pom.xml
Labels: kind/stale

#8156 Docs: add livestream playlist to adoption page
  docs/current_docs/adopting.mdx
Labels: area/documentation, kind/stale

#7940 pipelines: use alpine and wolfi modules
  .dagger/build/builder.go
  .dagger/build/sdk.go
  .dagger/consts/versions.go
  .dagger/sdk.go
  core/terminal.go
  dagger.json
  modules/alpine/.gitattributes
  modules/alpine/.gitignore
  modules/alpine/dagger.json
  modules/alpine/go.mod
  modules/alpine/go.sum
  modules/alpine/main.go
  modules/wolfi/main.go
Labels: kind/stale

#8328 client: set less aggressive minimum connect timeout for buildkit
  .changes/unreleased/Changed-20240909-113139.yaml
  engine/client/buildkit.go
Labels: needs/changelog

#8360 fix(cli): fix default value on Platform flag
  .changes/unreleased/Fixed-20240906-124256.yaml
  cmd/dagger/flags.go
  core/integration/module_call_test.go
Labels: kind/bug

#8367 feat(sdk/elixir): add support for optional argument
  sdk/elixir/.changes/unreleased/Added-20240907-173230.yaml
  sdk/elixir/lib/dagger/mod.ex
  sdk/elixir/lib/dagger/mod/function.ex
  sdk/elixir/lib/dagger/mod/object.ex
  sdk/elixir/test/dagger/client_test.exs
  sdk/elixir/test/dagger/mod/module_test.exs
  sdk/elixir/test/dagger/mod/object_test.exs
  sdk/elixir/test/dagger/mod_test.exs
  sdk/elixir/test/support/object_mod.ex
Labels: area/sdk/elixir

#8359 fix(python): fix `dagger.Ignore` in attributes
  core/integration/module_python_test.go
  sdk/python/.changes/unreleased/Fixed-20240906-123348.yaml
  sdk/python/src/dagger/mod/_arguments.py
Labels: kind/bug

#8357 fix(python): fix use of Annotated with InitVar
  core/integration/module_python_test.go
  sdk/python/.changes/unreleased/Fixed-20240906-103058.yaml
  sdk/python/src/dagger/mod/_converter.py
  sdk/python/src/dagger/mod/_exceptions.py
  sdk/python/src/dagger/mod/_module.py
  sdk/python/src/dagger/mod/_utils.py
Labels: kind/bug

#8366 chore: print the cloud trace url after progress output
  .changes/unreleased/Changed-20240910-191026.yaml
  cmd/dagger/call.go
  cmd/dagger/functions.go
  cmd/dagger/query.go
  cmd/dagger/run.go
  dagql/idtui/frontend.go
  dagql/idtui/frontend_plain.go
  dagql/idtui/frontend_pretty.go
Labels: needs/changelog

#8237 chore: update TS breaking change deps
  .dagger/sdk_typescript.go
  core/integration/module_typescript_test.go
  sdk/typescript/.changes/unreleased/Breaking-20240827-015828.yaml
  sdk/typescript/context/context.ts
  sdk/typescript/dev/.gitignore
  sdk/typescript/dev/dagger.json
  sdk/typescript/dev/package-lock.json
  sdk/typescript/dev/package.json
  sdk/typescript/dev/scripts/.gitignore
  sdk/typescript/dev/scripts/check_compatibility.ts
  sdk/typescript/dev/scripts/typescript_modules_list.json
  sdk/typescript/dev/tsconfig.json
  sdk/typescript/package.json
  sdk/typescript/provisioning/bin.ts
  sdk/typescript/runtime/main.go
  sdk/typescript/runtime/template/package.json
  sdk/typescript/yarn.lock
Labels: area/sdk/typescript, needs/changelog

#8347 fix: correctly handle carriage returns for plain progress
  .changes/unreleased/Fixed-20240911-102046.yaml
  dagql/idtui/frontend_plain.go
  dagql/idtui/vterm_lite.go
  dagql/idtui/vterm_lite_test.go
Labels: kind/bug, needs/changelog

#8331 fix: allow field access with default constructor
  .changes/unreleased/Fixed-20240911-101724.yaml
  core/enum.go
  core/integration/module_test.go
  core/json.go
  core/object.go
  core/platform.go
  core/typedef.go
  dagql/builtins.go
  dagql/types.go
Labels: needs/changelog

#8149 fix: various cross-module secret sharing issues
  .changes/unreleased/Fixed-20240911-105222.yaml
  core/integration/module_test.go
  core/modfunc.go
  engine/server/client_resources.go
  engine/server/session.go
Labels: needs/changelog

#8406 💥 Breaking(helm): Remove default oci-max-parallelism num-cpu
  helm/dagger/.changes/unreleased/Breaking-20240911-114157.yaml
  helm/dagger/values.yaml
Labels: needs/changelog

#8106 fix(sdk/go): consider default values when grouping optional arguments in codegen
  cmd/codegen/generator/go/templates/functions.go
  cmd/codegen/generator/go/templates/src/_types/object.go.tmpl
  cmd/codegen/generator/typescript/templates/functions.go
  cmd/codegen/introspection/introspection.go
  core/integration/legacy_test.go
  core/integration/module_test.go
  dagql/introspection/query.go
  sdk/go/.changes/unreleased/Breaking-20240805-181259.yaml
Labels: kind/bug, kind/breaking, needs/changelog

#8248 docs: Improve OpenShift page
  docs/current_docs/integrations/openshift.mdx
Labels: kind/stale

#8445 fix: `Directory.digest` should not panic on scratch directory
  .changes/unreleased/Fixed-20240913-110529.yaml
  core/directory.go
  core/file.go
  core/integration/directory_test.go
  core/modfunc.go
  core/schema/directory.go
  engine/buildkit/llbdefinition.go
  engine/buildkit/ref.go
Labels: kind/bug, needs/changelog

#8358 Fix secret transfer issues between modules
  .changes/unreleased/Fixed-20240913-134016.yaml
  .changes/unreleased/Fixed-20240913-134354.yaml
  core/container_exec.go
  core/enum.go
  core/integration/module_test.go
  core/interface.go
  core/modfunc.go
  core/modtypes.go
  core/object.go
  core/query.go
  core/schema/coremod.go
  core/typedef.go
  dagql/server.go
  engine/buildkit/executor.go
  engine/buildkit/executor_spec.go
  engine/buildkit/ref.go
  engine/server/client_resources.go
  engine/server/resource/id.go
  engine/server/session.go
Labels: kind/bug, needs/changelog, kind/regression

#8478 Indent Php template correctly
  sdk/php/runtime/template/src/Example.php
Labels: area/sdk/php

#8468 fix(cli): fix secret plaintext being printed on screen
  .changes/unreleased/Fixed-20240917-100238.yaml
  cmd/dagger/module.go
  core/integration/module_call_test.go
Labels: kind/bug

#8477 fix(python): fix error message interpolation
  sdk/python/.changes/unreleased/Fixed-20240917-170801.yaml
  sdk/python/src/dagger/mod/_resolver.py
Labels: kind/bug

#8216 feat: add withoutFiles on Container and Directory
  .changes/unreleased/Added-20240823-124355.yaml
  .changes/unreleased/Added-20240913-134900.yaml
  core/container.go
  core/directory.go
  core/integration/container_test.go
  core/integration/directory_test.go
  core/schema/container.go
  core/schema/directory.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  sdk/elixir/lib/dagger/gen/container.ex
  sdk/elixir/lib/dagger/gen/directory.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Container.php
  sdk/php/generated/Directory.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/api/client.gen.ts
Labels: area/engine/api, needs/changelog

#8507 chore: downgrade grpc to v0.65.0
  go.mod
  go.sum
  sdk/go/go.mod
  sdk/go/go.sum
Labels: kind/dependencies, kind/regression

#8134 Add DaggerFunction `format` to PhpSdkDev
  sdk/php/composer.lock
  sdk/php/dev/composer.json
  sdk/php/dev/composer.lock
  sdk/php/dev/dagger.json
  sdk/php/dev/src/PhpSdkDev.php
  sdk/php/tests/Integration/GraphQl/QueryBuilderChainTest.php
Labels: area/sdk/php

#8437 feat: Support constructors in PHP SDK
  sdk/php/dev/dagger.json
  sdk/php/runtime/template/README.md
  sdk/php/src/Command/EntrypointCommand.php
  sdk/php/src/ValueObject/DaggerFunction.php
  sdk/php/src/ValueObject/DaggerObject.php
  sdk/php/tests/Unit/Fixture/DaggerObjectWithDaggerFunctions.php
  sdk/php/tests/Unit/ValueObject/DaggerFunctionTest.php
Labels: area/sdk/php

#8525 Fix Python telemetry
  core/integration/module_python_test.go
  sdk/python/dev/.gitignore
  sdk/python/dev/dagger.json
  sdk/python/dev/pyproject.toml
  sdk/python/dev/uv.lock
  sdk/python/pyproject.toml
  sdk/python/runtime/main.go
  sdk/python/src/dagger/mod/_module.py
  sdk/python/src/dagger/telemetry.py
  sdk/python/src/dagger/telemetry/attributes.py
  sdk/python/uv.lock
Labels: kind/bug, kind/regression
