Repository dagger/dagger, pull requests merged in 2024-08, with the labels that each got.

#8063 fix: extend multi git server support to Azure devOps
  .changes/unreleased/Fixed-20240731-061239.yaml
  core/integration/module_config_test.go
  core/modulesource.go
  engine/vcs/vcs.go
  engine/vcs/vcs_test.go
Labels: kind/bug

#8084 Docs: Add Jenkins demo to resources
  docs/current_docs/integrations/jenkins.mdx
Labels: area/documentation

#8082 Docs: Add publishing steps
  docs/_README.md
Labels: area/documentation

#8083 Docs: Add K3 demo to Resources
  docs/current_docs/integrations/kubernetes.mdx
Labels: area/documentation

#8110 fix: ensure glob works with subdir recursive entries
  .changes/unreleased/Fixed-20240807-103813.yaml
  core/directory.go
  core/integration/directory_test.go
  core/schema/directory.go
  engine/buildkit/ref.go
Labels: kind/bug, needs/changelog

#8096 Fix enum list in CLI
  .changes/unreleased/Fixed-20240808-180607.yaml
  cmd/dagger/flags.go
  core/enum.go
  core/integration/module_call_test.go
  core/typedef.go
Labels: kind/bug

#8133 Add exceptions for missing typehints in PHP Module
  sdk/php/src/ValueObject/Argument.php
  sdk/php/src/ValueObject/DaggerFunction.php
  sdk/php/tests/Unit/ValueObject/ArgumentTest.php
  sdk/php/tests/Unit/ValueObject/DaggerFunctionTest.php
Labels: area/sdk/php

#8113 chore: update TypeScript dependencies
  sdk/typescript/introspector/test/invoke.spec.ts
  sdk/typescript/package.json
  sdk/typescript/provisioning/bin.ts
  sdk/typescript/runtime/template/package.json
  sdk/typescript/yarn.lock
Labels: area/sdk/typescript

#8121 fix: make retrieve secret from command works on Windows
  .changes/unreleased/Fixed-20240810-021228.yaml
  cmd/dagger/flags.go
Labels: kind/bug, needs/changelog

#8147 feat: Bundle CLI in the Engine image (a.k.a. One True Artefact)
  .changes/unreleased/Added-20240813-161514.yaml
  .dagger/config.go
  .dagger/engine.go
Labels: needs/changelog

#8099 feat(sdk/elixir): make dag instance be global
  sdk/elixir/.changes/unreleased/Added-20240814-172542.yaml
  sdk/elixir/lib/dagger/global.ex
  sdk/elixir/lib/dagger/mod.ex
  sdk/elixir/runtime/template.exs
  sdk/elixir/test/dagger/global_test.exs
Labels: needs/changelog

#8115 fix using enum in constructor
  .changes/unreleased/Fixed-20240813-152129.yaml
  core/integration/module_test.go
  core/module.go
Labels: kind/bug

#8148 fix: allow optional enum arguments in user functions
  .changes/unreleased/Fixed-20240813-170412.yaml
  core/enum.go
  core/integration/module_test.go
  core/module.go
Labels: kind/bug, needs/changelog

#8067 feat: add elixir/php sdk aliases
  .changes/unreleased/Added-20240731-134929.yaml
  core/integration/module_test.go
  core/schema/sdk.go
  sdk/php/runtime/template/src/Example.php
Labels: needs/changelog

#7708 feat(core): add private git support via SSH auth
  .changes/unreleased/Added-20240815-073952.yaml
  cmd/dagger/module.go
  core/integration/git_test.go
  core/integration/module_call_test.go
  core/integration/module_config_test.go
  core/integration/module_test.go
  core/integration/private_key_ro_dagger_modules_test.pem
  core/integration/proxy_test.go
  core/integration/ssh_helper.go
  core/integration/suite_test.go
  core/modfunc.go
  core/modulesource.go
  core/modulesource_test.go
  core/schema/git.go
  core/schema/modulesource.go
  core/schema/modulesource_test.go
  core/socket.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  engine/buildkit/executor.go
  engine/buildkit/executor_spec.go
  engine/client/client.go
  engine/client/pathutil.go
  engine/client/pathutil_test.go
  engine/opts.go
  engine/server/session.go
  engine/sources/gitdns/cli.go
  sdk/elixir/lib/dagger/gen/git_module_source.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/GitModuleSource.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/api/client.gen.ts
Labels: needs/changelog

#8185 tests: move TypeScript test to its own suite
  core/integration/module_typescript_test.go
Labels: area/ci, area/sdk/typescript

#8172 💥feat(sdk/elixir): rework on new function api
  sdk/elixir/.changes/unreleased/Breaking-20240817-233642.yaml
  sdk/elixir/.formatter.exs
  sdk/elixir/lib/dagger.ex
  sdk/elixir/lib/dagger/mod.ex
  sdk/elixir/lib/dagger/mod/function.ex
  sdk/elixir/lib/dagger/mod/module.ex
  sdk/elixir/lib/dagger/mod/object.ex
  sdk/elixir/lib/dagger/mod/object/defn.ex
  sdk/elixir/lib/dagger/mod/registry.ex
  sdk/elixir/mix.exs
  sdk/elixir/runtime/main.go
  sdk/elixir/runtime/template.exs
  sdk/elixir/test/dagger/mod/object_test.exs
  sdk/elixir/test/dagger/mod_test.exs
  sdk/elixir/test/support/doc_module.ex
Labels: area/sdk/elixir

#7744 Feat/context directory
  .changes/unreleased/Added-20240703-151521.yaml
  cmd/codegen/generator/go/templates/module_funcs.go
  core/integration/module_test.go
  core/interface.go
  core/modfunc.go
  core/module.go
  core/modulesource.go
  core/object.go
  core/query.go
  core/schema/module.go
  core/schema/modulesource.go
  core/typedef.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  engine/server/session.go
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/elixir/lib/dagger/gen/function.ex
  sdk/elixir/lib/dagger/gen/function_arg.ex
  sdk/elixir/lib/dagger/gen/local_module_source.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Client.php
  sdk/php/generated/FunctionArg.php
  sdk/php/generated/Function_.php
  sdk/php/generated/LocalModuleSource.php
  sdk/python/docs/module.rst
  sdk/python/src/dagger/__init__.py
  sdk/python/src/dagger/client/gen.py
  sdk/python/src/dagger/mod/__init__.py
  sdk/python/src/dagger/mod/_arguments.py
  sdk/python/src/dagger/mod/_resolver.py
  sdk/python/src/dagger/mod/_types.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/api/client.gen.ts
  sdk/typescript/entrypoint/register.ts
  sdk/typescript/introspector/decorators/decorators.ts
  sdk/typescript/introspector/registry/registry.ts
  sdk/typescript/introspector/scanner/abtractions/argument.ts
  sdk/typescript/introspector/test/scan.spec.ts
  sdk/typescript/introspector/test/testdata/context/expected.json
  sdk/typescript/introspector/test/testdata/context/index.ts
  sdk/typescript/introspector/test/testdata/generate_expected_scan.ts
Labels: needs/changelog

#8252 tests: don't use example.com as go mod name
  core/integration/module_test.go
Labels: area/ci

#8180 chore: bump buildkit to master@49f3d8f8294d
  go.mod
  go.sum
Labels: area/engine, kind/upstream

#8217 fix: handle comment parsing with windows line endings
  cmd/codegen/generator/go/templates/modules.go
  cmd/codegen/generator/go/templates/modules_test.go
  core/integration/module_test.go
  core/integration/testdata/modules/go/minimal/main.go
Labels: kind/bug

#8251 docs: add package manager config page & update runtime
  docs/current_docs/manuals/developer/package-managers.mdx
  docs/current_docs/manuals/developer/runtimes.mdx
  docs/sidebars.ts
Labels: area/documentation

#8249 feat(sdk/elixir): make error message be more readable
  sdk/elixir/lib/dagger/core/client.ex
  sdk/elixir/lib/dagger/core/error.ex
  sdk/elixir/lib/dagger/core/graphql/response.ex
  sdk/elixir/lib/dagger/core/graphql_client.ex
  sdk/elixir/lib/dagger/mod.ex
  sdk/elixir/test/dagger/client_test.exs
Labels: area/sdk/elixir

#8245 fix(python): use unique module paths to avoid uv cache conflict
  core/integration/testdata/modules/python/extended/src/main/__init__.py
  sdk/python/runtime/main.go
Labels: area/ci, area/sdk/python
