Repository dagger/dagger, pull requests merged in 2024-06, with the labels that each got.

#7351 docs: Add multi-language entrypoint function page
  docs/current_docs/manuals/developer/entrypoint-function.mdx
  docs/current_docs/manuals/developer/go/520657-constructor.mdx
  docs/current_docs/manuals/developer/go/index.mdx
  docs/current_docs/manuals/developer/go/snippets/constructor/dagger.json
  docs/current_docs/manuals/developer/python/428321-constructor.mdx
  docs/current_docs/manuals/developer/python/index.mdx
  docs/current_docs/manuals/developer/python/snippets/constructor/doc/main.py
  docs/current_docs/manuals/developer/snippets/entrypoint/go/default-object/.gitignore
  docs/current_docs/manuals/developer/snippets/entrypoint/go/default-object/dagger.json
  docs/current_docs/manuals/developer/snippets/entrypoint/go/default-object/go.mod
  docs/current_docs/manuals/developer/snippets/entrypoint/go/default-object/go.sum
  docs/current_docs/manuals/developer/snippets/entrypoint/go/default-object/main.go
  docs/current_docs/manuals/developer/snippets/entrypoint/go/simple/.gitignore
  docs/current_docs/manuals/developer/snippets/entrypoint/go/simple/dagger.json
  docs/current_docs/manuals/developer/snippets/entrypoint/go/simple/go.mod
  docs/current_docs/manuals/developer/snippets/entrypoint/go/simple/go.sum
  docs/current_docs/manuals/developer/snippets/entrypoint/go/simple/main.go
  docs/current_docs/manuals/developer/snippets/entrypoint/python/async/main.py
  docs/current_docs/manuals/developer/snippets/entrypoint/python/default-object/main.py
  docs/current_docs/manuals/developer/snippets/entrypoint/python/exclude/main.py
  docs/current_docs/manuals/developer/snippets/entrypoint/python/factory/main.py
  docs/current_docs/manuals/developer/snippets/entrypoint/python/initvar/main.py
  docs/current_docs/manuals/developer/snippets/entrypoint/python/simple/main.py
  docs/current_docs/manuals/developer/snippets/entrypoint/typescript/default-object-in-field/index.ts
  docs/current_docs/manuals/developer/snippets/entrypoint/typescript/default-object/index.ts
  docs/current_docs/manuals/developer/snippets/entrypoint/typescript/simple/index.ts
  docs/current_docs/manuals/developer/typescript/520201-constructor.mdx
  docs/current_docs/manuals/developer/typescript/index.mdx
  docs/netlify.toml
  docs/sidebars.ts
Labels: area/documentation

#7502 docs: Add service optimization and export recipes to cookbook
  docs/current_docs/manuals/developer/cookbook.mdx
  docs/current_docs/manuals/developer/cookbook/snippets/export-container/go/.gitignore
  docs/current_docs/manuals/developer/cookbook/snippets/export-container/go/dagger.json
  docs/current_docs/manuals/developer/cookbook/snippets/export-container/go/go.mod
  docs/current_docs/manuals/developer/cookbook/snippets/export-container/go/go.sum
  docs/current_docs/manuals/developer/cookbook/snippets/export-container/go/main.go
  docs/current_docs/manuals/developer/cookbook/snippets/export-container/python/dagger.json
  docs/current_docs/manuals/developer/cookbook/snippets/export-container/python/main.py
  docs/current_docs/manuals/developer/cookbook/snippets/export-container/typescript/dagger.json
  docs/current_docs/manuals/developer/cookbook/snippets/export-container/typescript/index.ts
  docs/current_docs/manuals/developer/cookbook/snippets/export-file-dir/go/.gitignore
  docs/current_docs/manuals/developer/cookbook/snippets/export-file-dir/go/dagger.json
  docs/current_docs/manuals/developer/cookbook/snippets/export-file-dir/go/go.mod
  docs/current_docs/manuals/developer/cookbook/snippets/export-file-dir/go/go.sum
  docs/current_docs/manuals/developer/cookbook/snippets/export-file-dir/go/main.go
  docs/current_docs/manuals/developer/cookbook/snippets/export-file-dir/python/dagger.json
  docs/current_docs/manuals/developer/cookbook/snippets/export-file-dir/python/main.py
  docs/current_docs/manuals/developer/cookbook/snippets/export-file-dir/typescript/dagger.json
  docs/current_docs/manuals/developer/cookbook/snippets/export-file-dir/typescript/index.ts
  docs/current_docs/manuals/developer/services.mdx
  docs/current_docs/manuals/developer/snippets/services/persist-service-state/go/main.go
  docs/current_docs/manuals/developer/snippets/services/persist-service-state/python/main.py
  docs/current_docs/manuals/developer/snippets/services/persist-service-state/typescript/index.ts
Labels: area/documentation

#7523 docs: Add error handling recipes to cookbook
  docs/current_docs/manuals/developer/cookbook.mdx
  docs/current_docs/manuals/developer/cookbook/snippets/continue-after-errors/go/.gitignore
  docs/current_docs/manuals/developer/cookbook/snippets/continue-after-errors/go/dagger.json
  docs/current_docs/manuals/developer/cookbook/snippets/continue-after-errors/go/go.mod
  docs/current_docs/manuals/developer/cookbook/snippets/continue-after-errors/go/go.sum
  docs/current_docs/manuals/developer/cookbook/snippets/continue-after-errors/go/main.go
  docs/current_docs/manuals/developer/cookbook/snippets/continue-after-errors/python/dagger.json
  docs/current_docs/manuals/developer/cookbook/snippets/continue-after-errors/python/main.py
  docs/current_docs/manuals/developer/cookbook/snippets/continue-after-errors/typescript/dagger.json
  docs/current_docs/manuals/developer/cookbook/snippets/continue-after-errors/typescript/index.ts
  docs/current_docs/manuals/developer/cookbook/snippets/handle-errors/go/.gitignore
  docs/current_docs/manuals/developer/cookbook/snippets/handle-errors/go/dagger.json
  docs/current_docs/manuals/developer/cookbook/snippets/handle-errors/go/go.mod
  docs/current_docs/manuals/developer/cookbook/snippets/handle-errors/go/go.sum
  docs/current_docs/manuals/developer/cookbook/snippets/handle-errors/go/main.go
  docs/current_docs/manuals/developer/cookbook/snippets/handle-errors/python/dagger.json
  docs/current_docs/manuals/developer/cookbook/snippets/handle-errors/python/main.py
  docs/current_docs/manuals/developer/cookbook/snippets/handle-errors/typescript/dagger.json
  docs/current_docs/manuals/developer/cookbook/snippets/handle-errors/typescript/index.ts
Labels: area/documentation

#7565 docs: Fix broken anchors
  docs/STYLE_GUIDE.md
  docs/current_docs/manuals/developer/language-dependencies.mdx
  docs/current_docs/manuals/developer/module-structure.mdx
  docs/current_docs/manuals/developer/secrets.mdx
Labels: area/documentation

#7567 docs: Link quickstart to cookbook
  docs/current_docs/quickstart/simplify.mdx
Labels: area/documentation

#7445 Fix powershell install script to work when on a different drive
  install.ps1
Labels: kind/stale

#7751 chore: remove `checkVersionCompatibility` field
  .changes/unreleased/Breaking-20240625-151850.yaml
  cmd/codegen/main.go
  core/schema/query.go
  docs/docs-graphql/schema.graphqls
  engine/client/client.go
  go.mod
  go.sum
  sdk/elixir/lib/dagger.ex
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/go/client.go
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/go/internal/engineconn/engineconn.go
  sdk/php/generated/Client.php
  sdk/python/src/dagger/_engine/conn.py
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/api/client.gen.ts
  sdk/typescript/connect.ts
Labels: kind/breaking, needs/changelog

#7719 fix: dagger develop generate license only if --sdk is set
  .changes/unreleased/Fixed-20240621-183433.yaml
  cmd/dagger/licenses.go
  cmd/dagger/module.go
  core/integration/module_test.go
  docs/current_docs/reference/cli.mdx
Labels: needs/changelog

#7740 fix(ts-sdk): correctly resolve non-primitive default value
  core/integration/module_typescript_test.go
  core/integration/testdata/modules/typescript/optional/index.ts
  sdk/typescript/.changes/unreleased/Fixed-20240625-191158.yaml
  sdk/typescript/entrypoint/register.ts
  sdk/typescript/introspector/scanner/abtractions/argument.ts
Labels: needs/changelog

#7754 fix: plain progress should never use hyperlinks
  .changes/unreleased/Fixed-20240625-161626.yaml
  dagql/idtui/frontend_pretty.go
  engine/telemetry/url_test.go
Labels: needs/changelog

#7650 docs: Add page and example for cache volumes to dev manual
  docs/current_docs/manuals/administrator/cloud/caching.mdx
  docs/current_docs/manuals/developer/cache-volumes.mdx
  docs/sidebars.ts
Labels: kind/stale

#7500 💥 api: return absolute path on export instead of boolean
  .changes/unreleased/Breaking-20240529-181906.yaml
  cmd/dagger/call.go
  core/integration/container_test.go
  core/integration/directory_test.go
  core/integration/file_test.go
  core/integration/services_test.go
  core/schema/container.go
  core/schema/directory.go
  core/schema/file.go
  core/schema/schema_test.go
  docs/docs-graphql/schema.graphqls
  sdk/elixir/lib/dagger/gen/container.ex
  sdk/elixir/lib/dagger/gen/directory.ex
  sdk/elixir/lib/dagger/gen/file.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Container.php
  sdk/php/generated/Directory.php
  sdk/php/generated/File.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/api/client.gen.ts
  sdk/typescript/api/test/api.spec.ts
Labels: kind/breaking
