Repository dagger/dagger, pull requests merged in 2024-11, with the labels that each got.

#8765 API changes to gha module
  .github/.gitattributes
  .github/main.go
  .github/workflows/.gitattributes
  .github/workflows/docs.gen.yml
  .github/workflows/elixir-dev.gen.yml
  .github/workflows/elixir.gen.yml
  .github/workflows/github.gen.yml
  .github/workflows/go-dev.gen.yml
  .github/workflows/java-dev.gen.yml
  .github/workflows/java.gen.yml
  .github/workflows/php-dev.gen.yml
  .github/workflows/php.gen.yml
  .github/workflows/python-dev.gen.yml
  .github/workflows/python.gen.yml
  .github/workflows/rust-dev.gen.yml
  .github/workflows/rust.gen.yml
  .github/workflows/sdks.gen.yml
  .github/workflows/typescript-dev.gen.yml
  .github/workflows/typescript.gen.yml
  modules/gha/action.go
  modules/gha/api/action.go
  modules/gha/api/workflow.go
  modules/gha/dagger.json
  modules/gha/examples/go/dagger.json
  modules/gha/examples/go/go.mod
  modules/gha/examples/go/go.sum
  modules/gha/examples/go/main.go
  modules/gha/go.mod
  modules/gha/go.sum
  modules/gha/job.go
  modules/gha/main.go
  modules/gha/permissions.go
  modules/gha/steps.go
  modules/gha/utils.go
  modules/gha/workflow.go
Labels: area/ci

#8778 core(gitdns-fix): ensure that gitdns support token support works with all Git server providers
  .changes/unreleased/Fixed-20241103-221720.yaml
  core/integration/git_test.go
  engine/sources/gitdns/cli.go
  engine/sources/gitdns/source.go
Labels: needs/changelog

#8647 chore: remove `withFocus`/`withoutFocus`
  .changes/unreleased/Breaking-20241008-181543.yaml
  core/container.go
  core/integration/legacy_test.go
  core/schema/container.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  sdk/elixir/lib/dagger/gen/container.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Container.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/api/client.gen.ts
Labels: needs/changelog

#8805 feat: PAT support -- private git support on `http` / `https`
  .changes/unreleased/Added-20241107-221155.yaml
  core/integration/gitcredential_test.go
  core/schema/git.go
  engine/buildkit/client.go
  engine/client/client.go
  engine/session/generate.go
  engine/session/gitcredential.go
  engine/session/gitcredential.pb.go
  engine/session/gitcredential.proto
  engine/session/gitcredential_test.go
Labels: needs/changelog

#8894 fix(shell): passthrough id to argument
  cmd/dagger/shell.go
  core/integration/module_shell_test.go
Labels: kind/bug

#8568 chore: rename dagger-engine to engine GraphQL query
  .changes/unreleased/Breaking-20240926-181000.yaml
  .dagger/README.md
  .dagger/engine.go
  .dagger/main.go
  core/engine.go
  core/integration/localcache_test.go
  core/integration/module_test.go
  core/schema/engine.go
  docs/current_docs/api/types.mdx
  docs/current_docs/configuration/cache.mdx
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/elixir/lib/dagger/gen/dagger_engine.ex
  sdk/elixir/lib/dagger/gen/dagger_engine_cache.ex
  sdk/elixir/lib/dagger/gen/dagger_engine_cache_entry.ex
  sdk/elixir/lib/dagger/gen/dagger_engine_cache_entry_id.ex
  sdk/elixir/lib/dagger/gen/dagger_engine_cache_entry_set.ex
  sdk/elixir/lib/dagger/gen/dagger_engine_cache_entry_set_id.ex
  sdk/elixir/lib/dagger/gen/dagger_engine_cache_id.ex
  sdk/elixir/lib/dagger/gen/dagger_engine_id.ex
  sdk/elixir/lib/dagger/gen/engine.ex
  sdk/elixir/lib/dagger/gen/engine_cache.ex
  sdk/elixir/lib/dagger/gen/engine_cache_entry.ex
  sdk/elixir/lib/dagger/gen/engine_cache_entry_id.ex
  sdk/elixir/lib/dagger/gen/engine_cache_entry_set.ex
  sdk/elixir/lib/dagger/gen/engine_cache_entry_set_id.ex
  sdk/elixir/lib/dagger/gen/engine_cache_id.ex
  sdk/elixir/lib/dagger/gen/engine_id.ex
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/php/generated/Client.php
  sdk/php/generated/DaggerEngineCacheEntryId.php
  sdk/php/generated/DaggerEngineCacheEntrySetId.php
  sdk/php/generated/DaggerEngineCacheId.php
  sdk/php/generated/DaggerEngineId.php
  sdk/php/generated/Engine.php
  sdk/php/generated/EngineCache.php
  sdk/php/generated/EngineCacheEntry.php
  sdk/php/generated/EngineCacheEntryId.php
  sdk/php/generated/EngineCacheEntrySet.php
  sdk/php/generated/EngineCacheEntrySetId.php
  sdk/php/generated/EngineCacheId.php
  sdk/php/generated/EngineId.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/api/client.gen.ts
Labels: needs/changelog

#8221 fix(core): drop leading slash from paths in withVCSGeneratedPaths API
  core/schema/module.go
Labels: kind/stale

#8952 Fix broken terminal tests and broken Directory.terminal feature
  .changes/unreleased/Fixed-20241113-221407.yaml
  core/integration/legacy_test.go
  core/integration/module_terminal_test.go
  engine/buildkit/executor_spec.go
Labels: needs/changelog

#8906 python: replace hatch with uv in tooling
  .dagger/sdk_python.go
  sdk/python/dev/src/main/main.py
  sdk/python/pyproject.toml
Labels: area/ci, area/sdk/python

#8996 shell: fix export
  cmd/dagger/shell.go
  core/integration/module_shell_test.go
Labels: kind/bug

#9000 python: fix module name with numbers
  core/integration/module_python_test.go
  sdk/python/.changes/unreleased/Fixed-20241119-191420.yaml
  sdk/python/runtime/discovery.go
  sdk/python/runtime/python.go
  sdk/python/runtime/python_test.go
Labels: kind/bug

#9013 engine: fix goroutine leaks + deadlock in terminal
  .changes/unreleased/Fixed-20241120-160241.yaml
  core/integration/module_terminal_test.go
  core/terminal.go
  engine/buildkit/client.go
  engine/buildkit/ref.go
Labels: needs/changelog

#9034 engine: fix cache volumes not being mounted into debug containers
  .changes/unreleased/Fixed-20241121-211357.yaml
  core/integration/module_terminal_test.go
  engine/buildkit/ref.go
Labels: needs/changelog

#9056 ci: publish install scripts on nightly builds
  .goreleaser.nightly.yml
Labels: area/ci

#9027 fix: allow Container.withExec to intercept exit code 128
  .changes/unreleased/Fixed-20241121-155915.yaml
  core/container.go
Labels: needs/changelog
