Repository dagger/dagger, pull requests merged in 2024-12, with the labels that each got.

#8823 feat: use lts-alpine as the default node tag
  .dagger/sdk_typescript.go
  core/integration/module_typescript_test.go
  sdk/typescript/.changes/unreleased/Changed-20241129-174122.yaml
  sdk/typescript/dev/node/src/index.ts
  sdk/typescript/runtime/main.go
Labels: area/sdk/typescript

#9022 docs: rework custom configuration docs with `engine.json`
  docs/current_docs/api/engine.mdx
  docs/current_docs/configuration/cache.mdx
  docs/current_docs/configuration/custom-ca.mdx
  docs/current_docs/configuration/custom-registry.mdx
  docs/current_docs/configuration/custom-runner.mdx
  docs/current_docs/configuration/engine.mdx
  docs/current_docs/configuration/proxy.mdx
  docs/current_docs/faq.mdx
  docs/netlify.toml
  docs/sidebars.ts
Labels: area/documentation, area/engine

#8818 Filesync performance improvements
  .changes/unreleased/Added-20241126-203335.yaml
  cmd/codegen/codegen.go
  cmd/codegen/main.go
  cmd/dagger/flags.go
  cmd/dagger/functions.go
  cmd/dagger/main.go
  cmd/dagger/module.go
  core/container.go
  core/directory.go
  core/host.go
  core/integration/local_test.go
  core/moddeps.go
  core/modfunc.go
  core/modulesource.go
  core/schema/container.go
  core/schema/host.go
  core/schema/module.go
  core/schema/modulesource.go
  core/schema/sdk.go
  dagql/idtui/testdata/TestTelemetry/TestGolden/viztest/broken/broken
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  engine/buildkit/blob.go
  engine/buildkit/containerimage.go
  engine/buildkit/executor_spec.go
  engine/buildkit/filesync.go
  engine/buildkit/llbdefinition.go
  engine/buildkit/tracing.go
  engine/client/filesync.go
  engine/client/pathutil.go
  engine/contenthash/contenthash.go
  engine/opts.go
  engine/server/bk_session.go
  engine/server/server.go
  engine/server/session.go
  engine/sources/blob/blobsource.go
  engine/sources/local/diff.go
  engine/sources/local/fs.go
  engine/sources/local/hash.go
  engine/sources/local/localfs.go
  engine/sources/local/remotefs.go
  engine/sources/local/singleflight.go
  engine/sources/local/source.go
  go.mod
  go.sum
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/elixir/lib/dagger/gen/module_source.ex
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/php/generated/Client.php
  sdk/php/generated/ModuleSource.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/api/client.gen.ts
Labels: needs/changelog

#9180 ci: call publish-metadata in publish workflow
  .github/workflows/publish.yml
Labels: area/ci

#9063 feat: shell autocomplete
  cmd/dagger/shell.go
  cmd/dagger/shell_completion.go
  cmd/dagger/shell_completion_test.go
Labels: area/cli

#9103 ci: fix distro to be a real enum
  .dagger/engine.go
Labels: area/ci

#9246 fix: allow using old dockerfile pragmas
  core/container_exec.go
  core/integration/container_test.go
Labels: kind/bug

#9240 shell: fix regression in slice flags
  cmd/dagger/shell.go
  core/integration/module_shell_test.go
Labels: kind/bug
