Repository dagger/dagger, pull requests merged in 2024-01, with the labels that each got.

#6351 chore: update deps from dependabot
  go.mod
  go.sum
Labels: kind/dependencies

#6281 BREAKING: Make default args parameter required
  .changes/unreleased/Breaking-20231215-120318.yaml
  ci/main.go
  cmd/codegen/generator/nodejs/templates/functions_test.go
  core/integration/container_test.go
  core/integration/services_test.go
  core/schema/container.go
  core/schema/container.graphqls
  docs/current_docs/guides/snippets/aws-codebuild-codepipeline/index.mjs
  docs/current_docs/guides/snippets/aws-codebuild-codepipeline/main.go
  docs/current_docs/guides/snippets/aws-codebuild-codepipeline/main.py
  docs/current_docs/guides/snippets/replace-dockerfile/index.mjs
  docs/current_docs/guides/snippets/replace-dockerfile/main.go
  docs/current_docs/guides/snippets/replace-dockerfile/main.py
  sdk/elixir/lib/dagger/gen/container.ex
  sdk/go/dagger.gen.go
  sdk/nodejs/api/client.gen.ts
  sdk/python/dev/src/main/utils.py
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
Labels: breaking change

#6377 deps: update cloudflare/circl to v1.3.7
  go.mod
  go.sum
Labels: kind/dependencies

#6372 deps: update containerd to v1.7.11
  go.mod
  go.sum
  internal/mage/util/engine.go
Labels: kind/dependencies

#6354 feat: improve service stop semantics
  .changes/unreleased/Added-20240102-172927.yaml
  .changes/unreleased/Breaking-20240102-172703.yaml
  cmd/shim/main.go
  core/integration/services_test.go
  core/schema/service.go
  core/service.go
  core/services.go
  docs/docs-graphql/schema.graphqls
  sdk/elixir/lib/dagger/gen/service.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Service.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/api/client.gen.ts
Labels: area/engine
