Repository dagger/dagger, pull requests merged in 2024-05, with the labels that each got.

#7086 fix: close files in the PersistentPreRunE func
  cmd/dagger/main.go
Labels: stale

#7350 ci: add linting check for changie
  ci/docs.go
Labels: area/ci

#7349 Start removing mage :tada:
  .github/workflows/_dagger_call.yml
  .github/workflows/_new_release_notification.yml
  .github/workflows/docs.yml
  .github/workflows/engine-and-cli-lint.yml
  .github/workflows/engine-and-cli.yml
  .github/workflows/helm.yml
  .github/workflows/publish-helm-chart.yml
  .github/workflows/publish-sdk-elixir.yml
  .github/workflows/publish-sdk-go.yml
  .github/workflows/publish-sdk-php.yml
  .github/workflows/publish-sdk-python.yml
  .github/workflows/publish-sdk-rust.yml
  .github/workflows/publish-sdk-typescript.yml
  .github/workflows/publish.yml
  .github/workflows/sdk-elixir.yml
  .github/workflows/sdk-go.yml
  .github/workflows/sdk-java.yml
  .github/workflows/sdk-python.yml
  .github/workflows/sdk-rust.yml
  .github/workflows/sdk-typescript.yml
  CONTRIBUTING.md
  ci/README.md
  ci/mage/README.md
  ci/mage/cli.go
  ci/mage/docs.go
  ci/mage/engine.go
  ci/mage/generate.go
  ci/mage/lint.go
  ci/mage/magefile.go
  ci/mage/sdk/all.go
  ci/mage/sdk/elixir.go
  ci/mage/sdk/go.go
  ci/mage/sdk/java.go
  ci/mage/sdk/php.go
  ci/mage/sdk/python.go
  ci/mage/sdk/rust.go
  ci/mage/sdk/typescript.go
  ci/mage/test.go
  ci/main.go
  ci/test.go
  hack/README.md
  hack/make
Labels: area/ci

#7381 fix(tssdk): correcly handle list of nested object
  sdk/typescript/.changes/unreleased/Fixed-20240514-210710.yaml
  sdk/typescript/entrypoint/load.ts
  sdk/typescript/introspector/test/invoke.spec.ts
  sdk/typescript/introspector/test/scan.spec.ts
  sdk/typescript/introspector/test/testdata/generate_expected_scan.ts
  sdk/typescript/introspector/test/testdata/list/expected.json
  sdk/typescript/introspector/test/testdata/list/index.ts
Labels: sdk/typescript

#7434 fix: throw error on invalid module registration
  sdk/typescript/.changes/unreleased/Fixed-20240522-001342.yaml
  sdk/typescript/entrypoint/entrypoint.ts
  sdk/typescript/introspector/scanner/scan.ts
  sdk/typescript/introspector/test/scan.spec.ts
  sdk/typescript/introspector/test/testdata/invalid/index.ts
Labels: sdk/typescript

#6967 Elixir Module support
  sdk/elixir/README.md
  sdk/elixir/lib/dagger/mod.ex
  sdk/elixir/lib/dagger/mod/function.ex
  sdk/elixir/lib/dagger/mod/helper.ex
  sdk/elixir/lib/dagger/mod/module.ex
  sdk/elixir/lib/dagger/mod/registry.ex
  sdk/elixir/mix.exs
  sdk/elixir/runtime/.gitattributes
  sdk/elixir/runtime/.gitignore
  sdk/elixir/runtime/dagger.json
  sdk/elixir/runtime/go.mod
  sdk/elixir/runtime/go.sum
  sdk/elixir/runtime/main.go
  sdk/elixir/runtime/template.exs
  sdk/elixir/test/dagger/mod_test.exs
Labels: sdk/elixir

#7477 feat(ts): keep function prototype during loading
  core/integration/module_typescript_test.go
  core/integration/testdata/modules/go/ifaces/test/.gitattributes
  sdk/typescript/.changes/unreleased/Added-20240527-231234.yaml
  sdk/typescript/entrypoint/invoke.ts
  sdk/typescript/entrypoint/load.ts
  sdk/typescript/introspector/registry/registry.ts
Labels: sdk/typescript
