Repository dagger/dagger, pull requests merged in 2024-10, with the labels that each got.

#8575 fix include/exclude from dependencies not prefixed correctly
  .changes/unreleased/Fixed-20240926-132311.yaml
  core/integration/module_config_test.go
  core/schema/modulesource.go
  engine/buildkit/filesync.go
Labels: kind/bug

#8641 add Service.WithHostname
  .changes/unreleased/Added-20241008-125457.yaml
  core/container_exec.go
  core/healthcheck.go
  core/integration/images.go
  core/integration/services_test.go
  core/integration/testdata/counter/main.go
  core/integration/testdata/relay/main.go
  core/schema/service.go
  core/service.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  engine/buildkit/executor.go
  engine/buildkit/executor_spec.go
  engine/distconsts/consts.go
  engine/sources/gitdns/source.go
  engine/sources/httpdns/source.go
  network/hosts.go
  sdk/elixir/lib/dagger/gen/service.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Service.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/api/client.gen.ts
Labels: needs/changelog

#8656 core: support disabling automatic init in withExec
  .changes/unreleased/Added-20241008-171908.yaml
  core/container_exec.go
  core/integration/container_test.go
  core/schema/container.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  engine/buildkit/executor.go
  engine/buildkit/executor_spec.go
  sdk/elixir/lib/dagger/gen/container.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Container.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/api/client.gen.ts
Labels: needs/changelog

#8623 fix(sdk/elixir): fix some function crash due to argument collision
  sdk/elixir/dagger_codegen/lib/dagger/codegen/elixir_generator/object_renderer.ex
  sdk/elixir/dagger_codegen/test/dagger/codegen/elixir_generator/object_renderer_test.exs
  sdk/elixir/dagger_codegen/test/fixtures/objects/iss-8610.json
  sdk/elixir/lib/dagger/gen/directory.ex
  sdk/elixir/lib/dagger/gen/type_def.ex
  sdk/elixir/test/dagger/client_test.exs
Labels: area/sdk/elixir

#8607 PHP SDK: Extract logic from entrypoint to test in isolation
  sdk/php/src/Command/EntrypointCommand.php
  sdk/php/src/Service/DecodesValue.php
  sdk/php/src/Service/NormalizesClassName.php
  sdk/php/src/ValueObject/Type.php
  sdk/php/tests/Unit/Service/NormalizesClassNameTest.php
  sdk/php/tests/Unit/ValueObject/TypeTest.php
Labels: kind/refactor, area/sdk/php

#8682 fix: allow decoding enums that overlap with bool types
  .changes/unreleased/Fixed-20241014-161755.yaml
  core/enum.go
  core/integration/module_type_test.go
  core/module.go
  core/typedef.go
  dagql/objects.go
  dagql/types.go
Labels: kind/bug

#8587 feat: add module source pins
  .changes/unreleased/Changed-20241008-133527.yaml
  core/integration/module_cli_test.go
  core/integration/module_config_test.go
  core/module.go
  core/modules/config.go
  core/modulesource.go
  core/schema/module.go
  core/schema/modulesource.go
  core/schema/modulesource_test.go
  dagql/call/callpbv1/call.pb.go
  dagql/call/callpbv1/call.proto
  dagql/call/module.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Client.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/api/client.gen.ts
Labels: needs/changelog

#8735 engine: cache internal sdk constructor calls
  .changes/unreleased/Fixed-20241018-124913.yaml
  core/object.go
  core/schema/sdk.go
Labels: needs/changelog

#8736 engine: optimize+stabilize container.From with digests
  .changes/unreleased/Fixed-20241018-153744.yaml
  core/container.go
  core/schema/container.go
  core/schema/util.go
  core/terminal.go
  dagql/server.go
Labels: needs/changelog

#8557 use '.dagger' as source dir during 'init' and 'develop' when current dir is not empty
  .changes/unreleased/Breaking-20241021-160603.yaml
  cmd/dagger/module.go
  core/integration/module_call_test.go
  core/integration/module_cli_test.go
  core/integration/module_config_test.go
  core/integration/module_go_test.go
  core/integration/module_python_test.go
  core/integration/module_test.go
  core/integration/module_typescript_test.go
Labels: needs/changelog

#8775 docs: add link to daggerverse examples on dagger mod init partial
  docs/current_docs/partials/_dagger_module_init.mdx
Labels: area/documentation

#8725 feat: use new cache policies
  .changes/unreleased/Changed-20241025-144122.yaml
  cmd/engine/main.go
  cmd/engine/util.go
  core/engine.go
  core/integration/localcache_test.go
  core/query.go
  core/schema/engine.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  engine/clientdb/dbs.go
  engine/server/gc.go
  engine/server/server.go
  go.mod
  go.sum
  sdk/elixir/lib/dagger/gen/dagger_engine_cache.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/DaggerEngineCache.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/api/client.gen.ts
Labels: needs/changelog, needs/docs

#8788 change(cli): limit printing module objects to fields
  .changes/unreleased/Changed-20241028-220622.yaml
  cmd/dagger/module.go
  core/integration/module_call_test.go
Labels: needs/changelog

#8466 feat: add `expect` to `Container.withExec` for custom return statuses
  .changes/unreleased/Added-20240916-175222.yaml
  .changes/unreleased/Added-20240918-112202.yaml
  cmd/dagger/module.go
  core/container.go
  core/container_exec.go
  core/integration/container_test.go
  core/schema/container.go
  core/schema/query.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  engine/buildkit/executor.go
  engine/buildkit/executor_spec.go
  go.mod
  sdk/elixir/lib/dagger/gen/container.ex
  sdk/elixir/lib/dagger/gen/return_type.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Container.php
  sdk/php/generated/ReturnType.php
  sdk/python/codegen/src/codegen/generator.py
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/api/client.gen.ts
Labels: needs/changelog, needs/docs
