Repository dagger/dagger, pull requests merged in 2024-07, with the labels that each got.

#7494 chore(sdk/elixir): improve elixir codegen part 2
  sdk/elixir/dagger_codegen/lib/dagger/codegen.ex
  sdk/elixir/dagger_codegen/lib/dagger/codegen/cli.ex
  sdk/elixir/dagger_codegen/lib/dagger/codegen/elixir_generator.ex
  sdk/elixir/dagger_codegen/lib/dagger/codegen/elixir_generator/enum_renderer.ex
  sdk/elixir/dagger_codegen/lib/dagger/codegen/elixir_generator/input_renderer.ex
  sdk/elixir/dagger_codegen/lib/dagger/codegen/elixir_generator/object_renderer.ex
  sdk/elixir/dagger_codegen/lib/dagger/codegen/elixir_generator/renderer.ex
  sdk/elixir/dagger_codegen/lib/dagger/codegen/elixir_generator/scalar_renderer.ex
  sdk/elixir/dagger_codegen/lib/dagger/codegen/introspection/types/enum_value.ex
  sdk/elixir/dagger_codegen/lib/dagger/codegen/introspection/types/field.ex
  sdk/elixir/dagger_codegen/lib/dagger/codegen/introspection/types/input_field.ex
  sdk/elixir/dagger_codegen/lib/dagger/codegen/introspection/types/query_type.ex
  sdk/elixir/dagger_codegen/lib/dagger/codegen/introspection/types/schema.ex
  sdk/elixir/dagger_codegen/lib/dagger/codegen/introspection/types/type.ex
  sdk/elixir/dagger_codegen/lib/dagger/codegen/introspection/types/type_ref.ex
  sdk/elixir/dagger_codegen/lib/dagger/codegen/introspection/visitor.ex
  sdk/elixir/dagger_codegen/mix.exs
  sdk/elixir/dagger_codegen/mix.lock
  sdk/elixir/dagger_codegen/priv/templates/elixir/enum.eex
  sdk/elixir/dagger_codegen/priv/templates/elixir/input.eex
  sdk/elixir/dagger_codegen/priv/templates/elixir/object.eex
  sdk/elixir/dagger_codegen/priv/templates/elixir/scalar.eex
  sdk/elixir/dagger_codegen/test/dagger/codegen/elixir_generator/object_renderer_test.exs
  sdk/elixir/dagger_codegen/test/dagger/codegen/elixir_generator_test.exs
  sdk/elixir/dagger_codegen/test/fixtures/objects/chain-selection.json
  sdk/elixir/dagger_codegen/test/fixtures/objects/execute-leaf-node.json
  sdk/elixir/dagger_codegen/test/fixtures/objects/list-leaf-nodes.json
  sdk/elixir/dagger_codegen/test/test_helper.exs
  sdk/elixir/lib/dagger/gen/build_arg.ex
  sdk/elixir/lib/dagger/gen/pipeline_label.ex
Labels: area/sdk/elixir

#7809 docs:update resources
  docs/current_docs/integrations/kubernetes.mdx
Labels: area/documentation

#7822 tui: add `-q`/`$DAGGER_QUIET`, better durations + errors
  .changes/unreleased/Added-20240704-183832.yaml
  cmd/dagger/main.go
  dagql/idtui/frontend.go
  dagql/idtui/frontend_pretty.go
  docs/current_docs/reference/cli.mdx
Labels: needs/changelog

#7759 Dynamically serve module schemas based on engineVersion
  .changes/unreleased/Added-20240703-183802.yaml
  .gitmodules
  cmd/codegen/introspection/introspection.go
  cmd/codegen/introspection/introspection.graphql
  cmd/dagger/module.go
  cmd/dagger/typedefs.graphql
  core/container.go
  core/enum.go
  core/integration/legacy_test.go
  core/integration/module_terminal_test.go
  core/integration/module_test.go
  core/moddeps.go
  core/module.go
  core/modules/config.go
  core/modulesource.go
  core/schema/container.go
  core/schema/coremod.go
  core/schema/directory.go
  core/schema/file.go
  core/schema/module.go
  core/schema/modulesource.go
  core/schema/util.go
  core/services_test.go
  core/telemetry.go
  core/terminal.go
  dagql/call/callpbv1/call.pb.go
  dagql/call/callpbv1/call.proto
  dagql/call/id.go
  dagql/dagql_test.go
  dagql/introspection/query.go
  dagql/introspection/query.graphql
  dagql/introspection/types.go
  dagql/objects.go
  dagql/server.go
  dagql/types.go
  dev/dagger.json
  dev/dirdiff/dirdiff.go
  dev/engine.go
  docs/docs-graphql/schema.graphqls
  engine/server/session.go
  engine/telemetry/servers.pb.go
  engine/telemetry/servers_grpc.pb.go
  engine/version.go
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/elixir/lib/dagger/gen/directory.ex
  sdk/elixir/lib/dagger/gen/module.ex
  sdk/elixir/lib/dagger/gen/module_source.ex
  sdk/elixir/lib/dagger/gen/terminal.ex
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/php/generated/Client.php
  sdk/php/generated/Directory.php
  sdk/php/generated/Module.php
  sdk/php/generated/ModuleSource.php
  sdk/php/generated/Terminal.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/api/client.gen.ts
Labels: needs/changelog

#7848 core: cap healthcheck retries at max of 10s interval
  .changes/unreleased/Fixed-20240708-120146.yaml
  core/healthcheck.go
Labels: needs/changelog

#7850 feat: downgrade ts runtime to LTS
  sdk/typescript/.changes/unreleased/Changed-20240709-123212.yaml
  sdk/typescript/runtime/main.go
Labels: needs/changelog

#7818 feat: expand tilde in secret, directory and file argument
  .changes/unreleased/Added-20240708-220148.yaml
  cmd/dagger/flags.go
  core/integration/module_call_test.go
Labels: needs/changelog

#7293 💥 api: align `Container.withNewFile` signature with `Directory.withNewFile`
  .changes/unreleased/Breaking-20240506-105724.yaml
  core/integration/cacert_test.go
  core/integration/container_test.go
  core/integration/engine_test.go
  core/integration/gpu_test.go
  core/integration/legacy_test.go
  core/integration/module_call_test.go
  core/integration/module_config_test.go
  core/integration/module_functions_test.go
  core/integration/module_iface_test.go
  core/integration/module_test.go
  core/integration/module_typescript_test.go
  core/integration/proxy_test.go
  core/integration/ref_test.go
  core/integration/remotecache_test.go
  core/integration/services_test.go
  core/schema/container.go
  dev/dirdiff/dagger.json
  dev/go/dagger.json
  dev/graphql/dagger.json
  dev/markdown/dagger.json
  dev/shellcheck/dagger.json
  docs/docs-graphql/schema.graphqls
  sdk/elixir/lib/dagger/gen/container.ex
  sdk/elixir/test/dagger/client_test.exs
  sdk/go/dagger.gen.go
  sdk/java/dagger-java-samples/src/main/java/io/dagger/sample/PublishImage.java
  sdk/php/generated/Container.php
  sdk/python/runtime/dagger.json
  sdk/python/runtime/go.mod
  sdk/python/runtime/go.sum
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/api/client.gen.ts
Labels: kind/breaking

#7854 helm: Align App (Engine) version to Chart version
  .github/workflows/engine-and-cli-publish.yml
  RELEASING.md
  dev/go.mod
  dev/go.sum
  dev/helm.go
  dev/main.go
  helm/dagger/.changes/header.tpl.md
  helm/dagger/.changes/unreleased/.gitkeep
  helm/dagger/.changes/unreleased/Changed-20240709-161530.yaml
  helm/dagger/.changie.yaml
  helm/dagger/templates/engine-daemonset.yaml
Labels: needs/changelog

#7136 💥 api: skip entrypoints by default in `withExec`
  .changes/unreleased/Breaking-20240529-102031.yaml
  core/container.go
  core/container_exec.go
  core/integration/container_test.go
  core/integration/engine_test.go
  core/integration/legacy_test.go
  core/integration/module_test.go
  core/integration/proxy_test.go
  core/integration/remotecache_test.go
  core/integration/services_test.go
  core/modfunc.go
  core/schema/container.go
  core/schema/sdk.go
  core/terminal.go
  dev/dirdiff/dagger.json
  dev/go/dagger.json
  dev/internal/build/sdk.go
  dev/wolfi/.gitattributes
  dev/wolfi/.gitignore
  dev/wolfi/dagger.json
  dev/wolfi/go.mod
  dev/wolfi/go.sum
  dev/wolfi/main.go
  docs/docs-graphql/schema.graphqls
  sdk/elixir/lib/dagger/gen/container.ex
  sdk/elixir/test/dagger/client_test.exs
  sdk/go/dagger.gen.go
  sdk/go/examples_test.go
  sdk/php/generated/Container.php
  sdk/python/src/dagger/client/gen.py
  sdk/python/tests/client/test_integration.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/api/client.gen.ts
  sdk/typescript/api/test/api.spec.ts
  sdk/typescript/dev/node/src/index.ts
  sdk/typescript/test/connect.spec.ts
Labels: kind/breaking

#6934 💥 Remove deprecated schema fields
  .changes/unreleased/Breaking-20240710-152829.yaml
  .changes/unreleased/Breaking-20240710-152950.yaml
  core/integration/directory_test.go
  core/integration/git_test.go
  core/schema/container.go
  core/schema/directory.go
  core/schema/file.go
  core/schema/git.go
  core/schema/socket.go
  docs/docs-graphql/schema.graphqls
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/elixir/lib/dagger/gen/git_ref.ex
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/java/dagger-java-sdk/src/test/java/io/dagger/client/ClientIT.java
  sdk/php/generated/Client.php
  sdk/php/generated/GitRef.php
  sdk/python/codegen/src/codegen/generator.py
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/api/client.gen.ts
Labels: kind/breaking, needs/changelog

#7773 💥 codegen: don't return `Void`
  cmd/codegen/generator/functions.go
  cmd/codegen/generator/go/generator.go
  cmd/codegen/generator/go/templates/functions.go
  cmd/codegen/generator/go/templates/module_objects.go
  cmd/codegen/generator/go/templates/modules.go
  cmd/codegen/generator/go/templates/src/_dagger.gen.go/module.go.tmpl
  cmd/codegen/generator/go/templates/src/_types/object.go.tmpl
  cmd/codegen/generator/go/templates/src/dag/dag.gen.go.tmpl
  cmd/codegen/generator/typescript/generator.go
  cmd/codegen/generator/typescript/templates/functions.go
  cmd/codegen/generator/typescript/templates/src/helper_test.go
  cmd/codegen/generator/typescript/templates/src/method_solve.ts.gtpl
  cmd/codegen/generator/typescript/templates/templates.go
  cmd/codegen/introspection/introspection.go
  cmd/dagger/functions.go
  cmd/dagger/module.go
  core/integration/legacy_test.go
  core/integration/localcache_test.go
  core/integration/module_test.go
  core/integration/testdata/modules/go/ifaces/dagger.json
  core/integration/testdata/modules/go/ifaces/main_test.go
  sdk/go/.changes/unreleased/Breaking-20240627-142405.yaml
  sdk/go/dagger.gen.go
  sdk/python/.changes/unreleased/Breaking-20240627-142254.yaml
  sdk/python/codegen/src/codegen/generator.py
  sdk/python/src/dagger/client/gen.py
  sdk/typescript/.changes/unreleased/Breaking-20240627-142448.yaml
  sdk/typescript/api/client.gen.ts
Labels: kind/breaking

#7824 fix: init in current directory instead of `dagger`
  .changes/unreleased/Changed-20240719-120907.yaml
  cmd/dagger/module.go
  core/integration/module_config_test.go
  core/integration/module_test.go
  core/integration/module_typescript_test.go
  docs/current_docs/reference/cli.mdx
Labels: needs/changelog

#8011 core: fix missing secrets+sockets from parent object fields
  .changes/unreleased/Fixed-20240722-232708.yaml
  core/integration/module_test.go
  core/interface.go
  core/modfunc.go
  core/object.go
  engine/buildkit/executor.go
  engine/server/session.go
Labels: needs/changelog

#8019 cli: propagate exit code from function
  .changes/unreleased/Added-20240723-171437.yaml
  cmd/dagger/functions.go
  core/integration/module_call_test.go
Labels: needs/changelog

#7390 docs: Update docs site header to match dagger.io
  docs/docusaurus.config.ts
  docs/src/css/custom.scss
Labels: area/documentation

#8049 core: fix dockerfile secrets in modules by making secret pure
  .changes/unreleased/Fixed-20240729-234852.yaml
  core/integration/module_test.go
  core/schema/secret.go
Labels: needs/changelog

#8062 ci: fix linting flake from no clone issue
  dev/main.go
Labels: area/ci
