Repository dagger/dagger, pull requests merged in 2025-08, with the labels that each got.

#10849 feat: add `git.commonAncestor`
  .changes/unreleased/Added-20250811-130142.yaml
  core/git.go
  core/integration/git_test.go
  core/schema/directory.go
  core/schema/git.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/GitRef.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/git_ref.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/GitRef.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
  util/gitutil/cli_helpers.go
Labels: area/engine/api, needs/changelog

#10769 docs: Add note about secret/cache volume scoping
  docs/current_docs/api/cache-volumes.mdx
  docs/current_docs/api/secrets.mdx
Labels: kind/stale

#10803 chore: move service StartBindings to container.WithExec
  core/container.go
  core/container_exec.go
  core/directory.go
  core/file.go
  core/integration/container_test.go
  core/modulesource.go
  core/net.go
  core/schema/container.go
Labels: area/engine

#10855 fix(core/git): ensure HTTP auth is propagated to submodules
  .changes/unreleased/Fixed-20250819-081619.yaml
  core/git.go
  core/integration/git_test.go
  core/integration/services_test.go
  util/gitutil/cli.go
  util/gitutil/config_env.go
  util/gitutil/config_env_test.go
Labels: needs/changelog

#10909 Improve reference page index and sidebar
  docs/current_docs/reference/glossary.mdx
  docs/current_docs/reference/index.mdx
  docs/sidebars.ts
Labels: area/documentation

#10920 docs: add banner for new docs, small style tweaks
  docs/docusaurus.config.ts
  docs/src/css/custom.scss
Labels: area/documentation

#10884 docs: update redirects
  docs/netlify.toml
Labels: area/documentation
