Repository dagger/dagger, pull requests merged in 2025-01, with the labels that each got.

#9244 fix(cli): fix terminal on windows
  .changes/unreleased/Fixed-20250106-162442.yaml
  dagql/idtui/frontend_pretty.go
Labels: needs/changelog

#8724 feat(engine): ensure cache volumes are namespaced
  .changes/unreleased/Changed-20250106-153156.yaml
  core/integration/cache_test.go
  core/schema/cache.go
  dagql/server.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/php/generated/Client.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Labels: area/engine, needs/changelog

#9340 ci: use dagger-built binaries in goreleaser
  .dagger/build/builder.go
  .dagger/cli.go
  .dagger/engine.go
  .goreleaser.common.yml
Labels: area/ci

#9197 ci: automate rust publishing
  .dagger/go.mod
  .dagger/go.sum
  .dagger/sdk_elixir.go
  .dagger/sdk_rust.go
  .dagger/sdk_typescript.go
  .github/workflows/publish.yml
  .github/workflows/sdk-rust-publish.yml
  RELEASING.md
  sdk/rust/.changes/unreleased/Added-20230828-153925.yaml
  sdk/rust/.changes/unreleased/Breaking-20250107-140236.yaml
  sdk/rust/.changie.yaml
  sdk/rust/CHANGELOG.md
  sdk/rust/README.md
  sdk/rust/crates/dagger-codegen/CHANGELOG.md
  sdk/rust/crates/dagger-sdk/CHANGELOG.md
Labels: area/ci

#9247 engine: return error if services don't have a command set
  core/container.go
  core/container_exec.go
  core/integration/container_test.go
  core/integration/git_test.go
  core/integration/http_test.go
  core/integration/module_test.go
  core/integration/services_test.go
  core/schema/container.go
  sdk/elixir/test/dagger/client_test.exs
Labels: kind/stale

#9231 `Container.up` consistency with `Container.asService`
  core/integration/legacy_test.go
  core/integration/module_up_test.go
  core/schema/service.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  sdk/elixir/lib/dagger/gen/container.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Container.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Labels: needs/changelog

#9064 docs: Update images and code in feature pages
  docs/static/img/current_docs/features/build-export.gif
  docs/static/img/current_docs/features/build-publish.gif
  docs/static/img/current_docs/features/build.gif
  docs/static/img/current_docs/features/debug-breakpoints.gif
  docs/static/img/current_docs/features/debug-interactive.gif
  docs/static/img/current_docs/features/secrets-env.gif
  docs/static/img/current_docs/features/secrets-file.gif
  docs/static/img/current_docs/features/service-container.gif
  docs/static/img/current_docs/features/service-host.gif
Labels: kind/stale

#9052 fix: insert `Module.withDependencies` in correct order
  core/integration/module_cli_test.go
  core/schema/module.go
  core/schema/modulesource.go
Labels: kind/bug

#9335 Updates to shell completions
  cmd/dagger/shell.go
  cmd/dagger/shell_commands.go
  cmd/dagger/shell_completion.go
  cmd/dagger/shell_completion_test.go
  go.mod
  go.sum
Labels: area/cli

#9398 shell: fix data race coordinating with the bubbletea program
  cmd/dagger/shell.go
  dagql/idtui/frontend.go
  dagql/idtui/frontend_plain.go
  dagql/idtui/frontend_pretty.go
Labels: kind/bug

#9396 feat: add float support for golang
  .changes/unreleased/Added-20250117-154447.yaml
  cmd/codegen/generator/go/templates/format.go
  cmd/codegen/generator/go/templates/module_types.go
  cmd/codegen/generator/typescript/templates/format.go
  cmd/codegen/generator/typescript/templates/src/header.ts.gtpl
  cmd/dagger/flags.go
  cmd/dagger/module_inspect.go
  core/integration/module_test.go
  core/integration/module_typescript_test.go
  core/module.go
  core/schema/coremod.go
  core/typedef.go
  core/typedef_test.go
  docs/current_docs/integrations/snippets/google-cloud-run/go/querybuilder/marshal.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  sdk/elixir/lib/dagger/gen/type_def_kind.ex
  sdk/go/dagger.gen.go
  sdk/go/querybuilder/marshal.go
  sdk/php/generated/TypeDefKind.php
  sdk/python/src/dagger/client/gen.py
  sdk/python/src/dagger/mod/_converter.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
  sdk/typescript/src/module/entrypoint/invoke.ts
  sdk/typescript/src/module/entrypoint/load.ts
  sdk/typescript/src/module/entrypoint/register.ts
  sdk/typescript/src/module/introspector/dagger_module/module.ts
  sdk/typescript/src/module/introspector/dagger_module/reference.ts
  sdk/typescript/src/module/introspector/test/scan.spec.ts
  sdk/typescript/src/module/introspector/test/testdata/list/expected.json
  sdk/typescript/src/module/introspector/test/testdata/list/index.ts
  sdk/typescript/src/module/introspector/test/testdata/multiArgs/expected.json
  sdk/typescript/src/module/introspector/test/testdata/multiArgs/index.ts
  sdk/typescript/src/module/introspector/typescript_module/ast.ts
Labels: area/engine, area/sdk/go, area/sdk/typescript, area/sdk/python, needs/changelog

#9412 shell: fix running multiple top-level queries
  cmd/dagger/module_inspect.go
  cmd/dagger/shell.go
  cmd/dagger/shell_commands.go
  cmd/dagger/shell_exec.go
  cmd/dagger/shell_state.go
  core/integration/module_shell_test.go
Labels: kind/bug

#9435 shell: fix flag parsing of `-h` and `--help`
  cmd/dagger/shell_exec.go
Labels: kind/bug

#9290 extract benchy ModuleTests to go-test benchmarks
  .dagger/bench.go
  .dagger/main.go
  .dagger/test.go
  .github/workflows/benchmark-engine.yml
  .github/workflows/engine-and-cli.yml
  core/integration/client_test.go
  core/integration/module_benchmark_test.go
  core/integration/module_test.go
  core/integration/module_up_test.go
  core/integration/sequential_test.go
  core/integration/services_test.go
  core/integration/suite_test.go
  dagql/idtui/golden_test.go
  internal/testutil/query.go
  testctx/testctx.go
Labels: benchmark

#8730 Secret Providers
  cmd/dagger/flags.go
  cmd/dagger/functions.go
  cmd/dagger/main.go
  cmd/dagger/module.go
  cmd/init/main.go
  core/host.go
  core/integration/module_call_test.go
  core/integration/module_test.go
  core/schema/container.go
  core/schema/modulesource.go
  core/schema/secret.go
  core/secret.go
  core/secret_test.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  engine/buildkit/executor_spec.go
  engine/client/client.go
  engine/client/filesync.go
  engine/client/pathutil/pathutil.go
  engine/client/pathutil/pathutil_test.go
  engine/client/secretprovider/cmd.go
  engine/client/secretprovider/env.go
  engine/client/secretprovider/file.go
  engine/client/secretprovider/op.go
  engine/client/secretprovider/secretprovider.go
  engine/client/secretprovider/vault.go
  engine/server/session.go
  engine/sources/local/source.go
  go.mod
  go.sum
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/elixir/lib/dagger/gen/secret.ex
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/php/generated/Client.php
  sdk/php/generated/Secret.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Labels: needs/docs
