Repository dagger/dagger, pull requests merged in 2025-02, with the labels that each got.

#9436 chore: update graphql dependencies
  core/integration/module_test.go
  dagql/dagql_test.go
  dagql/server.go
  engine/server/session.go
  go.mod
  go.sum
  sdk/elixir/lib/dagger/core/query_builder.ex
  sdk/elixir/test/dagger/client_test.exs
  sdk/elixir/test/dagger/core/query_builder_test.exs
  sdk/go/go.mod
  sdk/go/go.sum
  sdk/php/src/Client/QueryBuilder.php
Labels: kind/dependencies

#9500 shell: fix repl output
  cmd/dagger/shell.go
Labels: kind/bug

#9533 sdk/java: fix vulnerabilities in deps
  sdk/java/pom.xml
  sdk/java/runtime/template/pom.xml
Labels: area/sdk/java

#9413 ci: add ca-certificates package to the Go module
  modules/go/main.go
Labels: kind/stale

#9528 Ensure that java module objects and functions are public
  sdk/java/dagger-java-annotation-processor/src/main/java/io/dagger/annotation/processor/DaggerModuleAnnotationProcessor.java
Labels: area/sdk/java

#9532 sdk/java: @DefaultPath and @Ignore
  core/integration/module_java_test.go
  core/integration/testdata/modules/java/defaults/.gitattributes
  core/integration/testdata/modules/java/defaults/.gitignore
  core/integration/testdata/modules/java/defaults/dagger.json
  core/integration/testdata/modules/java/defaults/pom.xml
  core/integration/testdata/modules/java/defaults/src/main/java/io/dagger/modules/defaults/Defaults.java
  sdk/java/dagger-java-annotation-processor/src/main/java/io/dagger/annotation/processor/DaggerModuleAnnotationProcessor.java
  sdk/java/dagger-java-annotation-processor/src/test/resources/io/dagger/gen/entrypoint/entrypoint.java
  sdk/java/dagger-java-annotation-processor/src/test/resources/io/dagger/java/module/DaggerJava.java
  sdk/java/dagger-java-sdk/src/main/java/io/dagger/module/annotation/DefaultPath.java
  sdk/java/dagger-java-sdk/src/main/java/io/dagger/module/annotation/Ignore.java
  sdk/java/dagger-java-sdk/src/main/java/io/dagger/module/info/ParameterInfo.java
Labels: area/sdk/java

#9513 Use less `engine.toml`
  .changes/unreleased/Breaking-20250205-162857.yaml
  .dagger/config.go
  .dagger/engine.go
  .dagger/mage/engine.go
  .dagger/mage/util/const.go
  .dagger/main.go
  .dagger/test.go
  cmd/engine/config.go
  cmd/engine/main.go
  docs/current_docs/configuration/engine.mdx
  engine/config/config.go
  engine/server/server.go
Labels: needs/changelog, needs/docs

#9621 make function calls cached session-wide
  core/interface.go
  core/moddeps.go
  core/modfunc.go
  core/object.go
  core/schema/modulesource.go
  core/telemetry.go
  dagql/objects.go
Labels: benchmark

#9646 ci: add goreleaser pre-release config
  .dagger/cli.go
  .goreleaser.prerelease.yml
  releaser/main.go
Labels: area/ci

#9658 fix panic when dagger call/functions called in dir with no modules
  .changes/unreleased/Fixed-20250220-153742.yaml
  cmd/dagger/module_inspect.go
  core/integration/module_call_test.go
  core/integration/module_cli_test.go
  hack/with-dev
Labels: needs/changelog

#9659 fix load of full dir when no dagger.json
  .changes/unreleased/Fixed-20250220-163221.yaml
  core/integration/module_test.go
  core/schema/modulesource.go
Labels: needs/changelog

#9395 feat: add dagop
  core/dagop.go
  core/integration/container_test.go
  core/interface.go
  core/object.go
  core/schema/container.go
  core/schema/wrapper.go
  dagql/builtins.go
  dagql/call/id.go
  dagql/dagql_test.go
  dagql/objects.go
  dagql/server.go
  dagql/types.go
  engine/buildkit/containerimage.go
  engine/buildkit/op.go
  engine/buildkit/worker.go
  engine/opts.go
  engine/server/server.go
  engine/server/session.go
Labels: area/engine, benchmark
