Repository dagger/dagger, pull requests merged in 2025-09, with the labels that each got.

#10880 chore: CacheMap for directory dagops
  core/dagop.go
  core/directory.go
  core/integration/directory_test.go
  core/schema/wrapper.go
Labels: area/engine

#10976 Python package updates
  sdk/python/.changes/unreleased/Dependencies-20250903-104915.yaml
  sdk/python/.python-version
  sdk/python/dev/pyproject.toml
  sdk/python/dev/uv.lock
  sdk/python/pyproject.toml
  sdk/python/runtime/Dockerfile
  sdk/python/src/dagger/_exceptions.py
  sdk/python/src/dagger/client/_core.py
  sdk/python/src/dagger/client/_session.py
  sdk/python/tests/client/test_execute_errors.py
  sdk/python/tests/provisioning/test_integration_connection.py
  sdk/python/uv.lock
Labels: kind/dependencies

#10969 Improve docs on private dependencies
  docs/current_docs/extending/modules/module-dependencies.mdx
  docs/current_docs/extending/modules/remote-repositories.mdx
Labels: area/documentation

#11041 avoids starting service twice when used by different clients
  core/integration/services_test.go
  core/service.go
Labels: needs/changelog

#10956 findup API: find a file or directory by walking up the directory tree
  .changes/unreleased/Added-20250915-142940.yaml
  core/directory.go
  core/host.go
  core/integration/directory_test.go
  core/integration/host_test.go
  core/schema/directory.go
  core/schema/host.go
  core/schema/modulesource.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Directory.html
  docs/static/reference/php/Dagger/Host.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/directory.ex
  sdk/elixir/lib/dagger/gen/host.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Directory.php
  sdk/php/generated/Host.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Labels: needs/changelog

#11029 cli: add TUI indicator when using cloud engines
  cmd/dagger/main.go
  dagql/dagui/opts.go
  dagql/idtui/frontend_pretty.go
Labels: area/cli

#11114 PHP: Use "official" composer image
  sdk/php/.changes/unreleased/Changed-20250923-100314.yaml
  sdk/php/runtime/main.go
Labels: area/sdk/php
