Repository dagger/dagger, pull requests merged in 2025-03, with the labels that each got.

#9709 docs: Add java to the SDK page
  docs/current_docs/api/clients-sdk.mdx
  docs/current_docs/api/snippets/functions/functions-complex/java/src/main/java/io/dagger/modules/mymodule/MyModule.java
  docs/current_docs/api/snippets/functions/functions-complex/java/src/main/java/io/dagger/modules/mymodule/package-info.java
Labels: area/documentation, area/sdk/java

#9624 docs: add PHP examples to cookbook
  docs/current_docs/cookbook/cookbook.mdx
  docs/current_docs/cookbook/snippets/clone-git-repository/php/.gitattributes
  docs/current_docs/cookbook/snippets/clone-git-repository/php/.gitignore
  docs/current_docs/cookbook/snippets/clone-git-repository/php/composer.json
  docs/current_docs/cookbook/snippets/clone-git-repository/php/composer.lock
  docs/current_docs/cookbook/snippets/clone-git-repository/php/dagger.json
  docs/current_docs/cookbook/snippets/clone-git-repository/php/entrypoint.php
  docs/current_docs/cookbook/snippets/clone-git-repository/php/src/MyModule.php
  docs/current_docs/cookbook/snippets/copy-dir/php/.gitattributes
  docs/current_docs/cookbook/snippets/copy-dir/php/.gitignore
  docs/current_docs/cookbook/snippets/copy-dir/php/composer.json
  docs/current_docs/cookbook/snippets/copy-dir/php/composer.lock
  docs/current_docs/cookbook/snippets/copy-dir/php/dagger.json
  docs/current_docs/cookbook/snippets/copy-dir/php/entrypoint.php
  docs/current_docs/cookbook/snippets/copy-dir/php/src/MyModule.php
  docs/current_docs/cookbook/snippets/copy-modify-dir/php/.gitattributes
  docs/current_docs/cookbook/snippets/copy-modify-dir/php/.gitignore
  docs/current_docs/cookbook/snippets/copy-modify-dir/php/composer.json
  docs/current_docs/cookbook/snippets/copy-modify-dir/php/composer.lock
  docs/current_docs/cookbook/snippets/copy-modify-dir/php/dagger.json
  docs/current_docs/cookbook/snippets/copy-modify-dir/php/entrypoint.php
  docs/current_docs/cookbook/snippets/copy-modify-dir/php/src/MyModule.php
Labels: area/documentation, area/sdk/php

#9477 notify discord on benchmark failure
  .dagger/bench.go
  .github/workflows/benchmark-engine.yml
  dagger.json
  engine/client/secretprovider/op.go
Labels: benchmark

#9896 shell: bring shell out of experimental
  .changes/unreleased/Changed-20250319-123632.yaml
  cmd/dagger/main.go
  cmd/dagger/shell.go
  cmd/dagger/shell_commands.go
  cmd/dagger/shell_completion_test.go
  dagql/idtui/frontend_pretty.go
  docs/current_docs/reference/cli.mdx
Labels: needs/changelog

#9845 extend dagger helm chart
  cmd/engine/main.go
  docs/current_docs/ci/integrations/argo-workflows.mdx
  docs/current_docs/ci/integrations/snippets/argo-workflow.yaml
  docs/current_docs/ci/integrations/snippets/gitlab-runner-config.yml
  docs/current_docs/ci/integrations/snippets/tekton-dagger-task.yaml
  helm/.dagger/main.go
  helm/dagger/.changes/unreleased/Added-20250314-104048.yaml
  helm/dagger/templates/engine-config.yaml
  helm/dagger/templates/engine-daemonset.yaml
  helm/dagger/templates/engine-statefulset.yaml
  helm/dagger/values.yaml
Labels: needs/changelog

#9811 docs: Update Dagger API pages for Dagger shell
  docs/current_docs/api/arguments.mdx
  docs/current_docs/api/chaining.mdx
  docs/current_docs/api/clients-cli.mdx
Labels: area/documentation

#9924 docs: Move Engine page one level up in nav
  docs/sidebars.ts
Labels: area/documentation

#9925 docs: Remove +optional pragma where +default pragma exists
  docs/current_docs/api/snippets/constructors/go/simple/main.go
  docs/current_docs/api/snippets/functions/arguments-default-string/go/main.go
  docs/current_docs/cookbook/snippets/set-common-default-path/go/main.go
Labels: area/documentation

#9851 docs(sdk/java)
  docs/current_docs/api/constructors.mdx
  docs/current_docs/api/documentation.mdx
  docs/current_docs/api/error-handling.mdx
  docs/current_docs/api/fs-filters.mdx
  docs/current_docs/api/module-dependencies.mdx
  docs/current_docs/api/packages.mdx
  docs/current_docs/api/snippets/constructors/java/default-object/MyModule.java
  docs/current_docs/api/snippets/constructors/java/simple/MyModule.java
  docs/current_docs/api/snippets/dependencies/chaining/java/MyModule.java
  docs/current_docs/api/snippets/documentation/java/main/MyModule.java
  docs/current_docs/api/snippets/documentation/java/object/MyModule.java
  docs/current_docs/api/snippets/error-handling/java/MyModule.java
  docs/current_docs/api/snippets/fs-filters/post-call/java/MyModule.java
  docs/current_docs/api/snippets/fs-filters/pre-call/java/MyModule.java
Labels: area/documentation

#9916 Update docs to highlight Podman Desktop on Mac issue
  docs/current_docs/ci/integrations/podman.mdx
  docs/current_docs/troubleshooting.mdx
Labels: area/documentation

#9917 docs: Add PHP snippets to api/filters
  docs/current_docs/api/fs-filters.mdx
  docs/current_docs/api/snippets/fs-filters/post-call/php/composer.json
  docs/current_docs/api/snippets/fs-filters/post-call/php/dagger.json
  docs/current_docs/api/snippets/fs-filters/post-call/php/entrypoint.php
  docs/current_docs/api/snippets/fs-filters/post-call/php/src/MyModule.php
  docs/current_docs/api/snippets/fs-filters/pre-call/php/composer.json
  docs/current_docs/api/snippets/fs-filters/pre-call/php/dagger.json
  docs/current_docs/api/snippets/fs-filters/pre-call/php/entrypoint.php
  docs/current_docs/api/snippets/fs-filters/pre-call/php/src/MyModule.php
Labels: area/documentation

#9915 add TestLLM/TestAllowLLM, TestLLM/TestAPILimit, and fix bug in nested client --allow-llm metadata propagation
  cmd/dagger/engine.go
  cmd/dagger/module.go
  core/integration/llm_test.go
  core/integration/llmtest/allow-llm.golden
  core/integration/llmtest/go-programmer/main.go
  core/llm.go
  engine/buildkit/client.go
  engine/server/session.go
  engine/session/prompt.go
Labels: benchmark

#9957 chore: prep for v0.17.1
  .changes/.next
  .changes/v0.17.1.md
  CHANGELOG.md
  docs/current_docs/partials/version.js
  helm/dagger/.changes/unreleased/Added-20250314-104048.yaml
  helm/dagger/.changes/v0.17.1.md
  helm/dagger/CHANGELOG.md
  helm/dagger/Chart.yaml
  sdk/elixir/.changes/v0.17.1.md
  sdk/elixir/CHANGELOG.md
  sdk/elixir/lib/dagger/core/version.ex
  sdk/go/.changes/v0.17.1.md
  sdk/go/CHANGELOG.md
  sdk/go/engineconn/version.gen.go
  sdk/java/dagger-codegen-maven-plugin/pom.xml
  sdk/java/dagger-java-annotation-processor/pom.xml
  sdk/java/dagger-java-samples/pom.xml
  sdk/java/dagger-java-sdk/pom.xml
  sdk/java/pom.xml
  sdk/java/runtime/template/pom.xml
  sdk/php/.changes/v0.17.1.md
  sdk/php/CHANGELOG.md
  sdk/php/src/Connection/version.php
  sdk/python/.changes/v0.17.1.md
  sdk/python/CHANGELOG.md
  sdk/python/src/dagger/_engine/_version.py
  sdk/rust/.changes/v0.17.1.md
  sdk/rust/CHANGELOG.md
  sdk/rust/crates/dagger-sdk/src/core/version.rs
  sdk/typescript/.changes/v0.17.1.md
  sdk/typescript/CHANGELOG.md
  sdk/typescript/src/provisioning/default.ts
Labels: benchmark

#9961 Improve releasing during v0.17.1
  .dagger/go.mod
  .github/actions/call-ci-alt-runner/action.yml
  .github/actions/call/action.yml
  .github/dagger.json
  .github/main.go
  .github/workflows/_dagger_on_depot_remote_engine.yml
  .github/workflows/_dagger_on_namespace_remote_engine.yml
  .github/workflows/_dagger_on_x1_nvme.yml
  .github/workflows/_dagger_on_x1_tmpfs.yml
  .github/workflows/benchmark-engine.yml
  .github/workflows/daggerverse-preview.gen.yml
  .github/workflows/docs.gen.yml
  .github/workflows/engine-cli.gen.yml
  .github/workflows/github.gen.yml
  .github/workflows/helm.gen.yml
  .github/workflows/publish.yml
  .github/workflows/sdks.gen.yml
  RELEASING.md
  dagger.json
  dagql/idtui/viztest/typescript/yarn.lock
  docs/current_docs/agents/snippets/coding-agent/go/main.go
  go.mod
  sdk/typescript/dev/node/package-lock.json
  sdk/typescript/dev/package-lock.json
Labels: benchmark

#9976 feat(engine): add dir.filter api
  .changes/unreleased/Added-20250327-083422.yaml
  core/integration/directory_test.go
  core/schema/directory.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  sdk/elixir/lib/dagger/gen/directory.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Directory.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Labels: needs/changelog

#9827 docs: Add page on module testing
  docs/current_docs/api/module-tests.mdx
  docs/current_docs/api/snippets/modules/testing/go/.gitattributes
  docs/current_docs/api/snippets/modules/testing/go/.gitignore
  docs/current_docs/api/snippets/modules/testing/go/dagger.json
  docs/current_docs/api/snippets/modules/testing/go/go.mod
  docs/current_docs/api/snippets/modules/testing/go/go.sum
  docs/current_docs/api/snippets/modules/testing/go/main.go
  docs/current_docs/api/snippets/modules/testing/python/.gitattributes
  docs/current_docs/api/snippets/modules/testing/python/.gitignore
  docs/current_docs/api/snippets/modules/testing/python/dagger.json
  docs/current_docs/api/snippets/modules/testing/python/pyproject.toml
  docs/current_docs/api/snippets/modules/testing/python/src/greeter/__init__.py
  docs/current_docs/api/snippets/modules/testing/python/src/greeter/main.py
  docs/current_docs/api/snippets/modules/testing/python/uv.lock
  docs/current_docs/api/snippets/modules/testing/typescript/.gitattributes
  docs/current_docs/api/snippets/modules/testing/typescript/.gitignore
  docs/current_docs/api/snippets/modules/testing/typescript/dagger.json
  docs/current_docs/api/snippets/modules/testing/typescript/package.json
  docs/current_docs/api/snippets/modules/testing/typescript/src/index.ts
  docs/current_docs/api/snippets/modules/testing/typescript/tsconfig.json
  docs/current_docs/api/snippets/modules/testing/typescript/yarn.lock
  docs/sidebars.ts
Labels: area/documentation

#10018 shell: fix state getting deleted when using a var in the same run
  .changes/unreleased/Fixed-20250331-125002.yaml
  cmd/dagger/shell.go
  cmd/dagger/shell_exec.go
  cmd/dagger/shell_state.go
  core/integration/module_shell_test.go
Labels: kind/bug

#10020 shell: fix executing a script from the root command
  .changes/unreleased/Fixed-20250331-161142.yaml
  cmd/dagger/main.go
  core/integration/module_shell_test.go
  docs/current_docs/reference/cli.mdx
Labels: kind/bug

#10026 docs: Clarify host export
  docs/current_docs/api/chaining.mdx
  docs/current_docs/cookbook/cookbook.mdx
Labels: area/documentation

#10025 docs: Update Shell feature page with variables example
  docs/current_docs/features/shell.mdx
  docs/static/img/current_docs/features/shell-variables.gif
Labels: area/documentation
