Repository dagger/dagger, pull requests merged in 2025-06, with the labels that each got.

#10525 feat: unbundle sdk method call to allow partial implementation
  .changes/unreleased/Added-20250603-162638.yaml
  core/integration/module_test.go
  core/integration/testdata/sdks/only-codegen/.gitattributes
  core/integration/testdata/sdks/only-codegen/.gitignore
  core/integration/testdata/sdks/only-codegen/dagger.json
  core/integration/testdata/sdks/only-codegen/go.mod
  core/integration/testdata/sdks/only-codegen/go.sum
  core/integration/testdata/sdks/only-codegen/main.go
  core/integration/testdata/sdks/only-runtime/.gitattributes
  core/integration/testdata/sdks/only-runtime/.gitignore
  core/integration/testdata/sdks/only-runtime/dagger.json
  core/integration/testdata/sdks/only-runtime/go.mod
  core/integration/testdata/sdks/only-runtime/go.sum
  core/integration/testdata/sdks/only-runtime/main.go
  core/integration/testdata/sdks/only-runtime/src/go.mod
  core/integration/testdata/sdks/only-runtime/src/go.sum
  core/integration/testdata/sdks/only-runtime/src/main.go
  core/schema/modulesource.go
Labels: area/sdk, needs/changelog

#10598 chore(python): update protobuf from v5.29.4 to v5.29.5
  sdk/python/dev/uv.lock
  sdk/python/uv.lock
Labels: kind/dependencies, area/sdk/python

#10594 feat(go): allow multiline pragmas
  cmd/codegen/generator/go/templates/module_funcs.go
  cmd/codegen/generator/go/templates/module_objects.go
  cmd/codegen/generator/go/templates/modules.go
  cmd/codegen/generator/go/templates/modules_test.go
  core/integration/module_test.go
  docs/current_docs/api/fs-filters.mdx
  sdk/go/.changes/unreleased/Added-20250616-172942.yaml
Labels: area/sdk/go, needs/changelog, needs/docs
