Repository dagger/dagger, pull requests merged in 2025-05, with the labels that each got.

#10312 docs: update LLM feature diagram
  docs/current_docs/features/llm.mdx
  docs/static/img/current_docs/features/llm-env.svg
Labels: area/documentation

#10290 feat: add new top-level File field
  .changes/unreleased/Added-20250428-151807.yaml
  cmd/dagger/shell_commands.go
  core/file.go
  core/integration/file_test.go
  core/schema/file.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Client.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  docs/static/reference/php/renderer.index
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/php/generated/Client.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Labels: needs/changelog

#10250 feat: add `GitRepository.branches`
  .changes/unreleased/Added-20250428-123201.yaml
  .changes/unreleased/Fixed-20250428-123231.yaml
  core/git.go
  core/integration/git_test.go
  core/schema/git.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/GitRepository.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  docs/static/reference/php/renderer.index
  sdk/elixir/lib/dagger/gen/git_repository.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/GitRepository.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Labels: needs/changelog

#10311 cache secrets by plaintext; make cache key configurable
  .changes/unreleased/Breaking-20250502-161543.yaml
  .changes/unreleased/Fixed-20250502-163342.yaml
  cmd/dagger/args_test.go
  cmd/dagger/flags.go
  cmd/dagger/shell_commands.go
  cmd/init/main.go
  core/integration/cross_session_test.go
  core/integration/secretprovider_test.go
  core/query.go
  core/schema/secret.go
  core/secret.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/Client.html
  docs/static/reference/php/renderer.index
  engine/client/secretprovider/vault.go
  engine/server/server.go
  engine/server/session.go
  sdk/elixir/lib/dagger/gen/client.ex
  sdk/go/client.go
  sdk/go/dag/dag.gen.go
  sdk/go/dagger.gen.go
  sdk/go/engineconn/engineconn.go
  sdk/go/engineconn/session.go
  sdk/php/generated/Client.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Labels: needs/changelog

#10264 skip deduping running nested execs
  .changes/unreleased/Fixed-20250501-184424.yaml
  core/container_exec.go
  core/integration/cross_session_test.go
  core/postcall.go
  dagql/objects.go
  dagql/session_cache.go
  engine/buildkit/ref.go
  engine/cache/cache.go
  engine/cache/cache_test.go
  go.mod
  go.sum
Labels: needs/changelog

#10057 docs: Improve Python constructor examples
  docs/current_docs/api/constructors.mdx
  docs/current_docs/api/snippets/constructors/python/complex/main.py
  docs/current_docs/partials/_complex_constructor_output.mdx
Labels: area/documentation

#10316 docs: Add docs for installing packages with deno/bun
  docs/current_docs/api/packages.mdx
  docs/current_docs/configuration/modules.mdx
Labels: area/documentation

#10353 docs: reorg note on public fields for visibility
  docs/current_docs/api/constructors.mdx
Labels: area/documentation

#10343 add docs for secret caching behavior
  docs/current_docs/api/arguments.mdx
  docs/current_docs/api/secrets.mdx
  docs/current_docs/cookbook/cookbook.mdx
Labels: area/documentation

#10315 docs: Update lazy evaluation examples
  docs/current_docs/api/internals.mdx
Labels: area/documentation

#10293 docs: Update docs for cloud modules
  docs/current_docs/configuration/cloud.mdx
  docs/current_docs/features/modules.mdx
  docs/static/img/current_docs/configuration/cloud-modules-activity.png
  docs/static/img/current_docs/configuration/cloud-modules-api.png
  docs/static/img/current_docs/configuration/cloud-modules-deps.png
  docs/static/img/current_docs/configuration/cloud-modules-filter.png
  docs/static/img/current_docs/configuration/cloud-modules-install-app.png
  docs/static/img/current_docs/configuration/cloud-modules-list.png
  docs/static/img/current_docs/configuration/cloud-modules-map.png
  docs/static/img/current_docs/configuration/cloud-modules-scans.png
  docs/static/img/current_docs/configuration/cloud-modules-target.png
  docs/static/img/current_docs/configuration/cloud-modules-traces.png
Labels: area/documentation

#10381 python: fix incorrectly generated "sync" function in codegen
  sdk/python/.changes/unreleased/Fixed-20250512-152354.yaml
  sdk/python/codegen/src/codegen/generator.py
  sdk/python/tests/codegen/test_generator.py
Labels: area/sdk/python, needs/changelog

#10402 docs: Update CI/CD examples
  docs/current_docs/_examples_cicd.mdx
  docs/current_docs/partials/_examples_agents.mdx
  docs/current_docs/partials/_examples_cicd.mdx
  docs/current_docs/partials/_examples_cookbook.mdx
  docs/src/components/Examples.tsx
Labels: area/documentation

#10404 docs: Document LLM backoff support
  docs/current_docs/api/llm.mdx
Labels: area/documentation

#10403 docs: Move content to FAQ
  docs/current_docs/configuration/engine.mdx
  docs/current_docs/faq.mdx
Labels: area/documentation

#10451 python: fix incorrect client bindings for Service start and stop
  sdk/python/.changes/unreleased/Fixed-20250521-235558.yaml
  sdk/python/codegen/src/codegen/generator.py
  sdk/python/dev/src/python_sdk_dev/main.py
  sdk/python/src/dagger/client/gen.py
  sdk/python/tests/client/test_integration.py
  sdk/python/tests/codegen/test_generator.py
Labels: kind/bug

#10452 shell: fix usage of `_` prefix not being reserved for interpreter builtins
  .changes/unreleased/Fixed-20250521-235914.yaml
  cmd/dagger/shell_exec.go
  core/integration/module_shell_test.go
Labels: kind/bug

#10491 docs: Fix wording in "withServiceBinding"
  core/schema/container.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  sdk/elixir/lib/dagger/gen/container.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/Container.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Labels: area/documentation
