Repository dagger/dagger, pull requests merged in 2025-07, with the labels that each got.

#10679 feat: add field to get latest git ref tag
  .changes/unreleased/Added-20250708-154032.yaml
  core/git.go
  core/integration/git_test.go
  core/schema/git.go
  docs/docs-graphql/schema.graphqls
  docs/static/api/reference/index.html
  docs/static/reference/php/Dagger/GitRepository.html
  docs/static/reference/php/doc-index.html
  docs/static/reference/php/doctum-search.json
  sdk/elixir/lib/dagger/gen/git_repository.ex
  sdk/go/dagger.gen.go
  sdk/php/generated/GitRepository.php
  sdk/python/src/dagger/client/gen.py
  sdk/rust/crates/dagger-sdk/src/gen.rs
  sdk/typescript/src/api/client.gen.ts
Labels: needs/changelog

#10766 fix a couple of `TestTelemetry` flakes
  cmd/dagger/main.go
  dagql/dagui/db.go
  dagql/dagui/opts.go
  dagql/dagui/types.go
  dagql/idtui/golden_test.go
  dagql/idtui/testdata/TestTelemetry/TestGolden/broken-dep/use-broken
  dagql/idtui/testdata/TestTelemetry/TestGolden/broken/broken
  dagql/idtui/testdata/TestTelemetry/TestGolden/call-bubbling-dep
  dagql/idtui/testdata/TestTelemetry/TestGolden/fail-log
  dagql/idtui/testdata/TestTelemetry/TestGolden/typescript/fail-log
Labels: kind/flake

#10804 fix(sdk/elixir): fix default argument doesn't set to Elixir
  core/integration/module_elixir_test.go
  core/integration/testdata/modules/elixir/defaults/lib/defaults.ex
  sdk/elixir/.changes/unreleased/Fixed-20250729-002032.yaml
  sdk/elixir/lib/dagger/mod/object/defn.ex
Labels: area/sdk/elixir

#10695 docs: update cookbook with new Container.exportImage
  docs/current_docs/cookbook/cookbook.mdx
  docs/current_docs/cookbook/snippets/load-image-host/go/.gitignore
  docs/current_docs/cookbook/snippets/load-image-host/go/dagger.json
  docs/current_docs/cookbook/snippets/load-image-host/go/go.mod
  docs/current_docs/cookbook/snippets/load-image-host/go/go.sum
  docs/current_docs/cookbook/snippets/load-image-host/go/main.go
  docs/current_docs/cookbook/snippets/load-image-host/python/main.py
  docs/current_docs/cookbook/snippets/load-image-host/typescript/index.ts
Labels: area/documentation
