Repository dagger/dagger, pull requests merged in 2025-04, with the labels that each got.

#9770 docs: add security-by-design docs
  docs/current_docs/api/arguments.mdx
  docs/current_docs/api/remote-modules.mdx
  docs/current_docs/api/remote-repositories.mdx
  docs/current_docs/cookbook/cookbook.mdx
  docs/current_docs/cookbook/snippets/clone-git-repository-ssh/go/.gitignore
  docs/current_docs/cookbook/snippets/clone-git-repository-ssh/go/dagger.json
  docs/current_docs/cookbook/snippets/clone-git-repository-ssh/go/go.mod
  docs/current_docs/cookbook/snippets/clone-git-repository-ssh/go/go.sum
  docs/current_docs/cookbook/snippets/clone-git-repository-ssh/go/main.go
  docs/current_docs/cookbook/snippets/clone-git-repository-ssh/python/main.py
  docs/current_docs/cookbook/snippets/clone-git-repository-ssh/typescript/index.ts
  docs/current_docs/cookbook/snippets/clone-git-repository/go/main.go
  docs/current_docs/cookbook/snippets/clone-git-repository/python/main.py
  docs/current_docs/cookbook/snippets/clone-git-repository/typescript/index.ts
  docs/current_docs/features/secrets.mdx
  docs/current_docs/features/security.mdx
  docs/netlify.toml
  docs/sidebars.ts
Labels: area/documentation

#9996 add a new recorder module using vhs
  docs/recorder2/.gitattributes
  docs/recorder2/.gitignore
  docs/recorder2/dagger.json
  docs/recorder2/features.go
  docs/recorder2/go.mod
  docs/recorder2/go.sum
  docs/recorder2/main.go
  docs/recorder2/quickstart.go
  docs/recorder2/tapes/config.tape
  docs/recorder2/tapes/features/build-export.tape
  docs/recorder2/tapes/features/build-publish.tape
  docs/recorder2/tapes/features/build.tape
  docs/recorder2/tapes/features/secrets-env.tape
  docs/recorder2/tapes/features/secrets-file.tape
  docs/recorder2/tapes/features/shell-build.tape
  docs/recorder2/tapes/features/shell-curl.tape
  docs/recorder2/tapes/features/shell-help.tape
  docs/recorder2/tapes/features/tui.tape
  docs/recorder2/tapes/quickstart/build.tape
  docs/recorder2/tapes/quickstart/buildenv.tape
  docs/recorder2/tapes/quickstart/publish.tape
  docs/recorder2/tapes/quickstart/test.tape
  docs/recorder2/tapes/shell.tape
Labels: area/documentation

#9964 docs: add documentation for private Go module support
  docs/current_docs/api/packages.mdx
Labels: area/documentation

#10092 docs: Make Git cloning recipes consistent in cookbook
  docs/current_docs/cookbook/cookbook.mdx
  docs/current_docs/cookbook/snippets/clone-git-repository-ssh/go/main.go
  docs/current_docs/cookbook/snippets/clone-git-repository/go/main.go
  docs/current_docs/cookbook/snippets/clone-git-repository/php/src/MyModule.php
  docs/current_docs/cookbook/snippets/clone-git-repository/python/main.py
  docs/current_docs/cookbook/snippets/clone-git-repository/typescript/index.ts
Labels: area/documentation

#10090 mcp: add ability to expose core API as tools
  .changes/unreleased/Added-20250410-180705.yaml
  cmd/dagger/mcp.go
  cmd/dagger/module_inspect.go
Labels: needs/changelog

#10194 docs: Add link to IDE integration page in quickstarts
  docs/current_docs/partials/_ide.mdx
  docs/current_docs/quickstart/agent/index.mdx
  docs/current_docs/quickstart/basics/index.mdx
  docs/current_docs/quickstart/ci/index.mdx
Labels: area/documentation

#10185 docs: Add dagger cloud CTA, improve readability
  docs/current_docs/features/visualization.mdx
Labels: area/documentation

#10207 docs: update melvin link
  docs/current_docs/_examples_agents.mdx
Labels: area/documentation

#10035 docs: Fix link on 'Day 2' page
  docs/current_docs/ci/adopting.mdx
Labels: area/documentation, kind/stale

#10205 docs: Update list of core types
  docs/current_docs/api/types.mdx
Labels: area/documentation

#10259 docs: Replace some instances of "pipeline" with "workflow"
  docs/current_docs/api/chaining.mdx
  docs/current_docs/api/clients-cli.mdx
  docs/current_docs/api/clients-http.mdx
  docs/current_docs/api/clients-sdk.mdx
  docs/current_docs/api/fs-filters.mdx
  docs/current_docs/api/index.mdx
  docs/current_docs/api/internals.mdx
  docs/current_docs/api/return-values.mdx
  docs/current_docs/api/secrets.mdx
  docs/current_docs/api/terminal.mdx
  docs/current_docs/configuration/cloud.mdx
  docs/current_docs/configuration/custom-ca.mdx
  docs/current_docs/configuration/custom-runner.mdx
  docs/current_docs/configuration/engine.mdx
  docs/current_docs/cookbook/cookbook.mdx
  docs/current_docs/faq.mdx
  docs/current_docs/features/caching.mdx
  docs/current_docs/features/debugging.mdx
  docs/current_docs/features/modules.mdx
  docs/current_docs/features/programmability.mdx
  docs/current_docs/features/security.mdx
  docs/current_docs/features/services.mdx
  docs/current_docs/features/shell.mdx
  docs/current_docs/features/snippets/programmability-1/go/.gitattributes
  docs/current_docs/features/snippets/programmability-1/go/.gitignore
  docs/current_docs/features/snippets/programmability-1/go/dagger.json
  docs/current_docs/features/snippets/programmability-1/go/go.mod
  docs/current_docs/features/snippets/programmability-1/go/go.sum
  docs/current_docs/features/snippets/programmability-1/go/main.go
  docs/current_docs/features/snippets/programmability-1/java/.gitignore
  docs/current_docs/features/snippets/programmability-1/java/dagger.json
  docs/current_docs/features/snippets/programmability-1/java/pom.xml
  docs/current_docs/features/snippets/programmability-1/java/src/main/java/io/dagger/modules/mymodule/MyModule.java
  docs/current_docs/features/snippets/programmability-1/php/composer.json
  docs/current_docs/features/snippets/programmability-1/php/dagger.json
  docs/current_docs/features/snippets/programmability-1/php/entrypoint.php
  docs/current_docs/features/snippets/programmability-1/php/src/MyModule.php
  docs/current_docs/features/snippets/programmability-1/python/main.py
  docs/current_docs/features/snippets/programmability-1/typescript/index.ts
  docs/current_docs/features/snippets/programmability-2/go/.gitattributes
  docs/current_docs/features/snippets/programmability-2/go/.gitignore
  docs/current_docs/features/snippets/programmability-2/go/dagger.json
  docs/current_docs/features/snippets/programmability-2/go/go.mod
  docs/current_docs/features/snippets/programmability-2/go/go.sum
  docs/current_docs/features/snippets/programmability-2/go/main.go
  docs/current_docs/features/snippets/programmability-2/java/.gitignore
  docs/current_docs/features/snippets/programmability-2/java/dagger.json
  docs/current_docs/features/snippets/programmability-2/java/pom.xml
  docs/current_docs/features/snippets/programmability-2/java/src/main/java/io/dagger/modules/mymodule/MyModule.java
  docs/current_docs/features/snippets/programmability-2/php/composer.json
  docs/current_docs/features/snippets/programmability-2/php/dagger.json
  docs/current_docs/features/snippets/programmability-2/php/entrypoint.php
  docs/current_docs/features/snippets/programmability-2/php/src/MyModule.php
  docs/current_docs/features/snippets/programmability-2/python/main.py
  docs/current_docs/features/snippets/programmability-2/typescript/index.ts
  docs/current_docs/features/visualization.mdx
  docs/current_docs/index.mdx
  docs/current_docs/troubleshooting.mdx
  docs/netlify.toml
  docs/sidebars.ts
Labels: area/documentation

#10262 docs: tested kubernetes section
  docs/current_docs/ci/integrations/kubernetes.mdx
Labels: area/documentation

#10268 docs: Update PostHog config
  docs/docusaurus.config.ts
  docs/src/components/VideoPlayer.tsx
Labels: area/documentation

#10206 docs: improve features/shell
  docs/current_docs/features/shell.mdx
Labels: area/documentation

#10291 docs: Improve readability on features pages
  docs/STYLE_GUIDE.md
  docs/current_docs/features/caching.mdx
  docs/current_docs/features/debugging.mdx
  docs/current_docs/features/modules.mdx
  docs/current_docs/features/programmability.mdx
  docs/current_docs/features/security.mdx
  docs/current_docs/features/services.mdx
  docs/current_docs/features/shell.mdx
  docs/current_docs/features/visualization.mdx
  docs/src/css/videoPlayer.module.scss
Labels: area/documentation
